<div class="author-block tag_boost_page">
	<div class="valign author">
		<div class="img-wrap">
			<a href="<?php echo $wo['config']['site_url'].'/show_fund/'. $wo['donationList']['funding_detail']->hashed_id; ?>" >
				<img src="<?php echo $wo['donationList']['funding_detail']->image;?>" alt="<?php echo $wo['donationList']['funding_detail']->title;?>"></a>
		</div>
                <div class="text"><?=$wo['lang']['you_donated']?> <span class="big-text bold"><?=$wo['config']['currency_symbol_array'][$wo['config']['currency']].number_format($wo['donationList']['amount'])?></span> <?=$wo['lang']['to_the_campaign']?> <span class="bold"><a href="<?php echo $wo['config']['site_url'].'/show_fund/'. $wo['donationList']['funding_detail']->hashed_id; ?>"><?php echo  $wo['donationList']['funding_detail']->title;?></a></span>
			<?php if($wo['donationList']['challenge_id'] !='0'){ 
				echo $wo['lang']['via'] . ' <span class="bold"><a href="' . $wo['config']['site_url'].'/show_challenge/'. $wo['donationList']['challenge_detail']->hashed_id . '">' . $wo['donationList']['challenge_detail']->title . '</a></span>';
			}?>
			<br /><span class="time"><?php echo Wo_Time_Elapsed_String($wo['donationList']['time']); ?></span>
		</div>            
	</div>          
</div>