<div class="col-12 col-sm-12 col-md-12 col-lg-12 user-data post" data-user-id="<?php echo $wo['UsersList']['user_id'];?>">
	<div class="post-heading">
		<div class="valign">
			<div class="image">
				<a href="<?php echo $wo['UsersList']['url'];?>" >
					<img src="<?php echo $wo['UsersList']['avatar'];?>" alt="<?php echo $wo['UsersList']['name']; ?>" class="avatar">
				</a>
			</div>
			<div class="meta">
				<div class="title">
					<span class="user-popover" data-type="user" data-id="<?=$wo['UsersList']['user_id']?>">
						<a href="<?php echo $wo['UsersList']['url'];?>" data-ajax="?link1=timeline&amp;u=<?=$wo['UsersList']['username']?>" class="name"><?php echo $wo['UsersList']['name']; ?></a>
                                        </span>
                                        <br />
                                        <span class="time">
						<a class="time" href="https://localhost/little-flags/post/144" target="_blank"><?php echo Wo_Time_Elapsed_String($wo['UsersList']['endorse_time']); ?></a>
					</span>	
				</div>
			</div>
		</div>
                <div class="text mt-15">
                        <?php echo $wo['UsersList']['endorse_comment'];?>
                </div>		
	</div>
</div>

