<?php 
    if($wo['fundraiserList']['type']=='campaign')
    {
            $link=$wo['config']['site_url'].'/show_fund/'. $wo['fundraiserList']['hashed_id'];
    }
    else if($wo['fundraiserList']['type']=='challenge')
    {
            $link=$wo['config']['site_url'].'/show_challenge/'. $wo['fundraiserList']['hashed_id'];
    }

?>

<div class="author-block tag_boost_page">
	<div class="valign author">
		<div class="img-wrap">
			<a href="<?=$link?>" >
				<img src="<?php echo $wo['fundraiserList']['image'];?>" alt="<?php echo $wo['fundraiserList']['title'];?>"></a>
		</div>
		<div class="text">
                    <span class="bold"><a href="<?=$link?>"><?php echo  $wo['fundraiserList']['title'];?></a></span> <?=strtolower($wo['lang']['raised'])?> <span class="big-text bold"><?=$wo['config']['currency_symbol_array'][$wo['config']['currency']].number_format($wo['fundraiserList']['amount'])?></span><br />
                        <span class="time"><?php echo Wo_Time_Elapsed_String($wo['fundraiserList']['time']); ?></span>
		</div>            
	</div>        
</div>