/* 

Add here your custom css styles Example: p { text-align: center; color: red; } 

*/
.fundings_footer .wow_content p {
    font-size: 13px;
    margin: 0px 0 0;
    color:white;
}
.fundings_footer .wow_content span {
    font-size: 13px;
    color:white;
}
.fundings_footer .wow_content {
    background-color: #9aba4d;
}
.fund_raise_bar .wow_content p {
    font-size: 13px;
    margin: 0px 0 0;
    color:white;
}
.fund_raise_bar .wow_content span {
    font-size: 13px;
    color:white;
}
.fund_raise_bar .wow_content {
    background-color: #9aba4d;
}

.btn-width{
    width: -webkit-fill-available;
}
.tag_sF_bar_pc .fund_raise_bar{
    min-width : 230%;
}