<div class="page-margin">
	<div class="container">
            <h2 class="tag_page_title m5"><?php echo $wo['lang']['challenges']; ?></h2>
            <a href="<?php echo Wo_SeoLink('index.php?link1=create_challenge');?>" data-ajax="?link1=create_challenge" class="title_create">
                <svg width="24" height="24" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm112 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0"/></svg>
            </a>
            
		<ul class="list-unstyled tag_page_nav">
                        <li><a class="btn-mat" href="<?php echo Wo_SeoLink('index.php?link1=challenges'); ?>" data-ajax="?link1=challenges"><?php echo $wo['lang']['browse_challenges'] ?></a></li>
			<?php $allChallenges = false;
			if(!isset($_GET['saved']) && !isset($_GET['invited'])){
				$setActive = "active";
				$allChallenges = true;
			} ?>
			<li class="<?= empty($setActive) == 1 ? "" : $setActive ?>" ><a class="btn-mat" href="<?php echo Wo_SeoLink('index.php?link1=my_challenges'); ?>" data-ajax="?link1=my_challenges"><?php echo  $wo['lang']['my_challenges'] ?></a></li>
			<!--<li class="<?= isset($_GET['saved']) == 1 ? "active" : "" ?>"><a class="btn-mat" href="<?php echo Wo_SeoLink('index.php?link1=my_challenges&saved=1'); ?>" data-ajax="?link1=my_challenges&saved=1"><?php echo "Saved Challenges"?></a></li>-->
			<li class="<?= isset($_GET['invited']) == 1 ? "active" : "" ?>"><a class="btn-mat" href="<?php echo Wo_SeoLink('index.php?link1=my_challenges').'?invited=1'; ?>"><?php echo $wo['lang']['challenge_requests'] ?></a></li>
			
		</ul>
		
		<div class="page-margin">
			<div id="blog-list" class="row fundings_prnt">
				<?php  
					if(isset($_GET['saved'])){
						$funding = GetSavedChallengesByUserId($wo["user"]['id'],9); 
					}else if(isset($_GET['invited'])){
						$funding = GetInvitedChallengesByUserId($wo["user"]['id'],9); 
					}else{
						$funding = GetChallengesByUserId($wo["user"]['id'],9); 
					}
				?>
				<?php if ($funding && count($funding) > 0): ?>
					<?php if(false) { //if ($wo['config']['funding_request'] == 'all' || ($wo['config']['funding_request'] == 'verified' && $wo['user']['verified'])) { ?>
						<?php if($allChallenges){?>
							<div class="col-lg-4 col-md-6">
								<div class="tag_create_album tag_create_fundings">
									<a href="<?php echo Wo_SeoLink('index.php?link1=create_challenge');?>" data-ajax="?link1=create_challenge" class="valign tag_create_box">
										<svg height="40" viewBox="0 0 512 512" width="40" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm112 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0"/></svg>
										<?php echo $wo['lang']['create_new_challenge']; ?>
									</a>
								</div>
							</div>
						<?php }?>
					<?php } ?>
					<?php foreach ($funding as $wo['challenge_fund']): ?>
						<?php echo Wo_LoadPage('my_challenges/list'); ?>
					<?php endforeach ?>
				<?php else: ?>
					<div class="empty_state">
						<svg xmlns="http://www.w3.org/2000/svg" width="50pt" height="50pt" viewBox="0 0 50 50"><path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:currentColor;stroke-opacity:1;stroke-miterlimit:4" d="M22 12c0 5.524-4.476 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.476 10 10zM12 8v4m0 4h0" transform="scale(2.08333)"/></svg> <?php echo $wo['lang']['no_challenge_found']; ?>
						<?php if ($wo['config']['funding_request'] == 'all' || ($wo['config']['funding_request'] == 'verified' && $wo['user']['verified'])) { ?>
							<div><a href="<?php echo Wo_SeoLink('index.php?link1=create_challenge');?>" data-ajax="?link1=create_challenge" class="btn btn-mat btn-main"><?php echo $wo['lang']['create']; ?></a></div>
						<?php } ?>
					</div>
				<?php endif; ?>
			</div>
			<div class="loading-alert"></div>
			<div class="posts_load">
				<?php if (count($funding) >= 8): ?>
					<div class="load-more">
						<button class="btn btn-default text-center pointer load-more-my-fund"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path></svg></span> <?php echo $wo['lang']['load_more'] ?></button>
					</div>
				<?php endif ?>
			</div>
		</div>
	</div>
</div>
<?php echo Wo_LoadPage('my_challenges/delete_challenge');?>
<?php echo Wo_LoadPage('my_challenges/delete_draft_challenge');?>

<script>
$(document).ready(function() {
  $(".delete-fund").on("click", function() {
    $("#delete-fund").attr('data-fund-id', $(this).attr("id")).modal();      
  });
  $(".delete-draft-fund").on("click", function() {
    $("#delete-draft-fund").attr('data-fund-id', $(this).attr("id")).modal();      
  });

 
  $(".load-more-my-fund").click(function () {
      let offset = (($(".view-blog").length > 0) ? $(".view-blog:last").attr('id') : 0);

      $.ajax({
         url: Wo_Ajax_Requests_File(),
         type: 'GET',
         dataType: 'json',
         data: {f:"funding",s:"load_user_challenge_fund",offset:offset},
         success:function(data){
            if (data['status'] == 200 && data['html'] != '') {
              $("#blog-list").append(data['html']);
            }
            else{
              $(".posts_load").remove();
            }
         }
      });
   });
});
</script>