<div class="col-lg-4 col-md-6" data-rm-blog="<?php echo $wo['challenge_fund']['id'];?>">
    <div class="view-blog wow_content fundings" id="<?php echo $wo['challenge_fund']['id']; ?>">
		<!-- /Sameer -->
		<div class="avatar">
			<a href="<?= $wo['config']['site_url']."/show_challenge/". $wo['challenge_fund']['hashed_id']?>" class="post-file wo_shared_doc_file mg-10" id="fullsizeimg" style="padding:20px;" >
				<?php
					//if($wo['challenge_fund']['status'] == 0){
						// $post_id = Wo_GetPostIdByChallengeFundId($wo['challenge_fund']['id']);
						// $media = array(
						// 	'type' => 'post',
						// 	'storyId' => $post_id,
						// 	'filename' => '',
						// 	'name' =>  $wo['challenge_fund']['fund_data']['image'],
						// 	'postFileThumb' => $wo['challenge_fund']['fileThumb'],
						// );
						// echo '
						// <img src="'.$wo['challenge_fund']['fund_data']['image'].'" alt="image" class="image-file pointer">
						// ';
					
					
					//}else{
						$post_id = Wo_GetPostIdByChallengeFundId($wo['challenge_fund']['id']);
                        $filename=$wo['challenge_fund']['fileName'];
                        if(!empty($wo['challenge_fund']['fileThumb']) && $wo['challenge_fund']['fileThumb'] !=NULL)
                        {
                            $filename=$wo['challenge_fund']['fileThumb'];
                        }
						$media = array(
							'type' => 'post',
							'storyId' => $post_id,
							'filename' => $filename,
							'name' =>  $wo['challenge_fund']['file'],
							'postFileThumb' => $wo['challenge_fund']['fileThumb'],
						);
						//echo "<pre>";print_r($wo['challenge_fund']);die;
						/*if(isset($wo['challenge_fund']['fileThumb']) && $wo['challenge_fund']['fileThumb'] !=NULL)
						{
							echo '<img src="'.$wo['challenge_fund']['fileThumb'].'" alt="challenge image" class="image-file pointer">';
							
						}
						else
						{*/
							echo Wo_DisplaySharedFile($media, 'show_fund', $wo['challenge_fund']['fund_data']['cache']);
						/*}*/
						
					
					//}
					?>
				</a>
		</div>	
                <div class="fundings_desc">
			<?php if($wo['challenge_fund']['status'] == 0){ 
                                echo "Invited ";
                         }else if($wo['challenge_fund']['status'] == 2) {
                                echo "Saved";
                         } 
                         ?>
			<a href="<?= $wo['config']['site_url']."/show_challenge/". $wo['challenge_fund']['hashed_id']?>"  >
			<h3>
                            <?php echo stripslashes($wo['challenge_fund']['challenge']['title']); ?>
			</h3>
			<p class="desc one_line">
				<?php 
                                    //$desc = str_replace('<br>', '', $wo['challenge_fund']['description']);
                                    //echo $desc = mb_substr($desc, 0, 80, "UTF-8") . "...";
                                    echo $wo['lang']['raising_funds_for'];
                                ?>
			</p>
                        </a>
		</div>
                <div class="fundings_desc">
                    <div class="campaign_details rounded">  
                        <a href="<?= $wo['config']['site_url']."/show_fund/". $wo['challenge_fund']['fund_data']['hashed_id']?>">
                                <img src="<?= $wo['challenge_fund']['fund_data']['image']; ?>" alt="campaign thumbnail" class="rounded campaign_thumbnail"/>
				<h4><?php 
                                    $title=$wo['challenge_fund']['fund_data']['title'];
                                    if(strlen($title) > 50){
                                        echo $title = mb_substr($title, 0, 47, "UTF-8") . "..."; 
                                    }else{
                                        echo $title;
                                    }                                    
                                    ?>
                                    
                                </h4>
                        <div class="clear"></div>
                        
                        <div class="campaign_progress">
                            <div>
                                    <span class="pull-right">
                                    <?php if(!empty($wo['challenge_fund']['fund_data']['due_date']) && $wo['challenge_fund']['fund_data']['status'] !='5' ){ ?>
                                            <time><?php echo Wo_Time_Elapsed_String(strtotime($wo['challenge_fund']['fund_data']['due_date']),"due_date"); ?></time>                                            
                                    <?php }if($wo['challenge_fund']['fund_data']['status'] =='5'){?>
                                        <span class="bold big-text"><?=$wo['lang']['ended']?></span>
                                    <?php } ?>
                                    </span>
                                    <p><span class="bold big-text"><?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].number_format($wo['challenge_fund']['fund_data']['raised']); ?></span> of <?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].number_format($wo['challenge_fund']['fund_data']['amount']); ?> <?php echo $wo['lang']['raised_of']; ?></p>
                            </div>
                            <div class="fund_raise_bar">
                                <div class="progress mb-2">
                                    <div class="progress-bar" role="progressbar" style="width: <?php echo $wo['challenge_fund']['fund_data']['bar']; ?>%" aria-valuenow="<?php echo $wo['challenge_fund']['fund_data']['bar']; ?>" aria-valuemin="0" aria-valuemax="<?php echo($wo['challenge_fund']['fund_data']['amount']) ?>"></div>
                                </div>
                            </div>     
                        </div>    
                    </div>
                </div>
        
                <div class="fundings_footer">
                        <?php if ( $wo['challenge_fund']['user_id'] == $wo['user']['id']){ ?>
                                <div class="valign">
                                    <a class="btn btn-mat btn-danger delete-fund btn-width" id="<?php echo $wo['challenge_fund']['id'];?>"><?php echo $wo['lang']['delete']; ?></a>
                                </div>        
                        <?php } ?>
                </div>
        </div>
</div>