<div class="tag_footer">
	<div class="valign tag_footer_cright">
		<?php 
			$copy = str_replace('{site_name}', $wo['config']['siteName'], $wo['lang']['copyrights']);
			echo $copy = str_replace('{date}', date('Y'), $copy);
		?>
		<button type="button" class="btn tag_mobi_langs" onclick="$('.tag_main_usr_ddmenu').addClass('open-lang');"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="currentColor" d="M17.9,17.39C17.64,16.59 16.89,16 16,16H15V13A1,1 0 0,0 14,12H8V10H10A1,1 0 0,0 11,9V7H13A2,2 0 0,0 15,5V4.59C17.93,5.77 20,8.64 20,12C20,14.08 19.2,15.97 17.9,17.39M11,19.93C7.05,19.44 4,16.08 4,12C4,11.38 4.08,10.78 4.21,10.21L9,15V16A2,2 0 0,0 11,18M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" /></svg> <?php echo $wo['lang']['language'];?></button>
	</div>
	<div class="tag_footer_links">
		<a data-ajax="?link1=terms&type=about-us" href="<?php echo Wo_SeoLink('index.php?link1=terms&type=about-us');?>"><?php echo $wo['lang']['about'];?></a> • 
		<a href="<?php echo Wo_SeoLink('index.php?link1=contact-us');?>"><?php echo $wo['lang']['contact_us'];?></a> • 
		<?php if ($wo['config']['developers_page'] == 1)  { ?><a data-ajax="?link1=developers" href="<?php echo Wo_SeoLink('index.php?link1=developers');?>"><?php echo $wo['lang']['developers'];?></a> • <?php } ?>
		<a data-ajax="?link1=terms&type=privacy-policy" href="<?php echo Wo_SeoLink('index.php?link1=terms&type=privacy-policy');?>"><?php echo $wo['lang']['privacy_policy'];?></a> • 
		<a data-ajax="?link1=terms&type=terms-of-service" href="<?php echo Wo_SeoLink('index.php?link1=terms&type=terms-of-service');?>"><?php echo $wo['lang']['terms_of_use'];?></a>
		<?php if ($wo['config']['refund_system'] == 'on') { ?> • <a data-ajax="?link1=terms&type=refund" href="<?php echo Wo_SeoLink('index.php?link1=terms&type=refund');?>"><?php echo $wo['lang']['refund'];?></a><?php } ?>
		<?php
			$pages = Wo_GetCustomPages();
			if (count($pages) > 0) {
			foreach ($pages as $key => $page) {
		?>
			• <a href="<?php echo Wo_SeoLink('index.php?link1=site-pages&page_name=' . $page['page_name']);?>"><?php echo $page['page_title'];?></a>
		<?php } } ?>
	</div>
</div>