<div class="container">
	<div class="welcome-footer">
		<?php 
			$copy = str_replace('{site_name}', $wo['config']['siteName'], $wo['lang']['copyrights']);
			echo $copy = str_replace('{date}', date('Y'), $copy);
		?> <span class="middot">·</span>
		<a data-ajax="?link1=terms&type=terms-of-service" href="<?php echo Wo_SeoLink('index.php?link1=terms&type=terms-of-service');?>"><?php echo $wo['lang']['terms_of_use'];?></a> <span class="middot">·</span>
		<a data-ajax="?link1=terms&type=privacy-policy" href="<?php echo Wo_SeoLink('index.php?link1=terms&type=privacy-policy');?>"><?php echo $wo['lang']['privacy_policy'];?></a> <span class="middot">·</span>
		<a href="<?php echo Wo_SeoLink('index.php?link1=contact-us');?>"><?php echo $wo['lang']['contact_us'];?></a> <span class="middot">·</span>
		<a data-ajax="?link1=terms&type=about-us" href="<?php echo Wo_SeoLink('index.php?link1=terms&type=about-us');?>"><?php echo $wo['lang']['about'];?></a>
		<?php  if(false){ //if ($wo['config']['blogs'] == 1) { ?>
			<span class="middot">·</span> <a href="<?php echo Wo_SeoLink('index.php?link1=blogs');?>"><?php echo $wo['lang']['blog'];?></a>
		<?php } ?>
		<?php  if(false){ //if ($wo['config']['forum'] == 1 && $wo['config']['forum_visibility'] == 0) { ?>
			<span class="middot">·</span> <a href="<?php echo Wo_SeoLink('index.php?link1=forum');?>" data-ajax="?link1=forum"><?php echo $wo['lang']['forum'];?></a>
		<?php } ?>
		<?php  if(false) { //if ($wo['config']['events'] == 1 && $wo['config']['events_visibility'] == 0) { ?>
			<span class="middot">·</span> <a href="<?php echo Wo_SeoLink('index.php?link1=events');?>" data-ajax="?link1=events"><?php echo $wo['lang']['events'];?></a>
		<?php } ?>
		<?php  if(false){ //if ($wo['config']['classified'] == 1 && $wo['config']['product_visibility'] == 0) { ?>
			<span class="middot">·</span> <a href="<?php echo Wo_SeoLink('index.php?link1=products');?>" data-ajax="?link1=products"><?php echo $wo['lang']['market'];?></a>
		<?php } ?>
		<?php
			$pages = Wo_GetCustomPages();
			if (count($pages) > 0) {
			foreach ($pages as $key => $page) {
                            if($page['show_in_footer']){
		?>
			<span class="middot">·</span> <a href="<?php echo Wo_SeoLink('index.php?link1=site-pages&page_name=' . $page['page_name']);?>"><?php echo $page['page_title'];?></a>
                <?php } } } ?> 
                <span class="middot">·</span>
		<span class="dropup">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="currentColor" d="M17.9,17.39C17.64,16.59 16.89,16 16,16H15V13A1,1 0 0,0 14,12H8V10H10A1,1 0 0,0 11,9V7H13A2,2 0 0,0 15,5V4.59C17.93,5.77 20,8.64 20,12C20,14.08 19.2,15.97 17.9,17.39M11,19.93C7.05,19.44 4,16.08 4,12C4,11.38 4.08,10.78 4.21,10.21L9,15V16A2,2 0 0,0 11,18M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" /></svg>
			<?php echo $wo['lang']['language'];?></a>
			<ul class="dropdown-menu dropdown-menu-right language_box">
				<?php
					$langs = Wo_LangsNamesFromDB();
					if (count($langs) > 0) {
						foreach ($langs as $key => $wo['langs']) {
							if ($wo['config'][$wo['langs']] == 1) {
							$language = $wo['langs'];
							$languages_name = ucfirst($wo['langs']);
							$link = ($wo['config']['seoLink'] == 1) ? '?lang=' . $language: '?&lang=' . $language;
				?>
					<li><a href="<?php echo $link;?>" rel="nofollow"><?php echo $languages_name;?></a></li>
				<?php } } } ?>
			</ul>
		</span>
	</div>
</div>