<link href="<?php echo $wo['config']['theme_url'];?>/challenge/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="<?php echo $wo['config']['theme_url'];?>/challenge/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="<?php echo $wo['config']['theme_url'];?>/challenge/css/littleflags-app-wireframes.webflow.css" rel="stylesheet" type="text/css">
  <style>@media (max-width:767px) and (min-width:480px) {html.w-mod-js:not(.w-mod-ix) [data-w-id="eca2f00b-4f0e-9565-2d72-4616a89c99d8"] {-webkit-transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);}}@media (max-width:479px) {html.w-mod-js:not(.w-mod-ix) [data-w-id="eca2f00b-4f0e-9565-2d72-4616a89c99d8"] {-webkit-transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);}}

  
  .MultiCarousel { float: left; overflow: hidden; /*padding: 15px;*/ width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }
    .MultiCarousel .pad15 img {
      height: 100px;
      width: 150px;
    }
   .comments-list .avatar{
        border-radius: 50%;
    width: 32px;
    height: 32px;
   }

</style>
<?php if ($wo['config']['credit_card'] == 'yes') { ?>
  <!-- <script src="https://checkout.stripe.com/checkout.js"></script> -->
  <script src="https://js.stripe.com/v3/"></script>
<?php } ?>
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
 
<?php 
  
    $back_url = isset($_SERVER['HTTP_REFERER']) ? $_SERVER['HTTP_REFERER'] : ('https://' . $_SERVER['HTTP_HOST']); 
    // prevent infinite looping between challenges
    if(strpos($back_url, 'show_challenge') !== false){
  	// set URL back to campaign
	$back_url = $wo['config']['site_url'].'/show_fund/'. $wo['fund']['fund_data']['hashed_id'];
    }else{
        if($back_url != ('https://' . $_SERVER['HTTP_HOST'])){
            $back_url = 'javascript:history.back();';
        }        
    } 

    $challengedonations=Wo_GetUsersWhoRaisedFundForChallenge($wo['fund']['id'],$wo['fund']['funding_id']);
    $donation_amount=$wo['fund']['fund_data']['amount'];
    $accepted_amount=$donation_amount+($donation_amount*20/100);    
    $tooltipStr = Wo_IsMobile() ? '' : 'data-toggle="tooltip"';
?>
<script type="text/javascript">
    // set page-id for wf interaction
    $('html').attr('data-wf-page', '607e52a14d83573d8a4dcd5d');
</script>
  <div class="challenge-container">
    <div class="challenge-content-container">      
      <div class="challenge-titlebar valign tag_lbox_toolbar">  
        <a class="btn btn-mat close-lightbox" href="<?=$back_url;?>">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M7.828 11H20v2H7.828l5.364 5.364-1.414 1.414L4 12l7.778-7.778 1.414 1.414z"/></svg>
        </a>
        <!-- profile info -->
        <a href="<?php echo $wo['fund']['user_data']['url'];?>"  class="profile-container colour-light w-inline-block">
                <img src="<?php echo $wo['fund']['user_data']['avatar'];?>" loading="lazy" alt="" class="profile-photo profile-large">
          <div class="profile-details">
            <div class="profile-name"><?php echo $wo['fund']['user_data']['name'];?></div>
            <div class="profile-datetime text-small"><?php echo Wo_Time_Elapsed_String($wo['fund']['time']); ?></div>
          </div>
        </a>        
      </div>    
      <div class="challenge-content">
      	<?php
			$post_id = Wo_GetPostIdByChallengeFundId($wo['fund']['id']);
                        $wo['story'] = Wo_PostData($post_id, '', 50000);
			$media = array(
				'type' => 'post',
				'storyId' => $post_id,
				'filename' => $wo['fund']['fileName'],
				'name' =>  $wo['fund']['file'],
				'postFileThumb' => $wo['fund']['fileThumb'],
			);
			//echo "<pre>";print_r($wo['challenge_fund']);die;
			echo Wo_DisplaySharedFile($media, 'show_fund', $wo['fund']['fund_data']['cache']);
			?>
      	<!-- <div class="nav-hotspot prev-nav">
          <a href="#" class="prev-btn w-inline-block"><img src="<?php echo $wo['config']['theme_url'];?>/challenge/images/back-white.png" loading="lazy" height="32" alt=""></a>
        </div>
        <div class="nav-hotspot next-nav">
          <a href="#" class="next-btn w-inline-block"><img src="<?php echo $wo['config']['theme_url'];?>/challenge/images/next-white.png" loading="lazy" height="32" alt=""></a>
        </div> -->
        <div class="challenge-buttons" id="post-<?php echo $wo['story']['id'];?>">
          <!-- Like -->  
          <div class="challenge-button w-button" id="challenge-reaction">
            
          <div class="valign stats tag_post_actions">
            <div class="valign">
              <?php if ($wo['loggedin'] == true) 
              { 
                //$wo['story']['viewmode'] = "lightbox"; 
                //$wo['story']['id']= $post_id;
                echo Wo_LoadPage('buttons/like-wonder');
              }?>
            </div>
            <?php if ($wo['config']['second_post_button'] == 'reaction') { ?>
              <div class="valign tag_post_foot_stats">
                <div class="valign post-actions">
                  <div class="valign like-stat stat-item">
                    <span class="valign like-emo post-reactions-icons-<?php echo $post_id; ?>" onclick="Wo_OpenPostReactedUsers(<?php echo $post_id; ?>);">
                      <?php echo Wo_GetPostReactions($post_id);?></span>
                  </div>
                </div>
              </div>
            <?php }?>
          </div>
          
          
          
          
          
          
          
          </div>
    <?php if($wo['config']['social_share_twitter'] == 0 && $wo['config']['social_share_facebook'] == 0 && $wo['config']['social_share_whatsup'] == 0 && $wo['config']['social_share_pinterest'] == 0 && $wo['config']['social_share_linkedin'] == 0 && $wo['config']['social_share_telegram'] == 0) { ?>
      <?php if (empty($wo['story']['parent_id']) && $wo['story']['post_is_promoted'] != 1) { ?>
        <div class="challenge-button w-button" onclick="Wo_SharePostOn(<?php echo $wo['story']['id']; ?>,<?php echo $wo['user']['user_id']; ?>,'timeline')" title="<?php echo $wo['lang']['share'];?>" <?=$tooltipStr;?>>
          <span class="icoo"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M3,12c0,1.654,1.346,3,3,3c0.794,0,1.512-0.315,2.049-0.82l5.991,3.424C14.022,17.734,14,17.864,14,18c0,1.654,1.346,3,3,3 s3-1.346,3-3s-1.346-3-3-3c-0.794,0-1.512,0.315-2.049,0.82L8.96,12.397C8.978,12.266,9,12.136,9,12s-0.022-0.266-0.04-0.397 l5.991-3.423C15.488,8.685,16.206,9,17,9c1.654,0,3-1.346,3-3s-1.346-3-3-3s-3,1.346-3,3c0,0.136,0.022,0.266,0.04,0.397 L8.049,9.82C7.512,9.315,6.794,9,6,9C4.346,9,3,10.346,3,12z"/></svg></span>
        </div>
      <?php } ?>
    <?php } else { ?>
      <?php if (empty($wo['story']['parent_id']) && $wo['story']['post_is_promoted'] != 1) { ?>
        <div class="challenge-button w-button" onclick="Wo_SharePostOn(<?php echo $wo['story']['id']; ?>,<?php echo $wo['user']['user_id']; ?>,'timeline')" title="<?php echo $wo['lang']['share'];?>" <?=$tooltipStr;?>>
          <span class="icoo"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M3,12c0,1.654,1.346,3,3,3c0.794,0,1.512-0.315,2.049-0.82l5.991,3.424C14.022,17.734,14,17.864,14,18c0,1.654,1.346,3,3,3 s3-1.346,3-3s-1.346-3-3-3c-0.794,0-1.512,0.315-2.049,0.82L8.96,12.397C8.978,12.266,9,12.136,9,12s-0.022-0.266-0.04-0.397 l5.991-3.423C15.488,8.685,16.206,9,17,9c1.654,0,3-1.346,3-3s-1.346-3-3-3s-3,1.346-3,3c0,0.136,0.022,0.266,0.04,0.397 L8.049,9.82C7.512,9.315,6.794,9,6,9C4.346,9,3,10.346,3,12z"/></svg></span>
        </div>
      <?php } ?>
    <?php } ?>
         <div data-w-id="495a1d78-3a95-7b4b-126d-3542b2a438ec" class="challenge-button w-button" title="<?php echo $wo['lang']['comments'];?>" <?=$tooltipStr;?>>
            <span class="icoo"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24" xml:space="preserve"><g><path d="M16.2 2.1H7.8c-3.5 0-6.3 2.8-6.3 6.3v5.1c0 1.6.9 3.1 2.4 3.8.7.3 1.2 1.1 1.2 1.9 0 1.1.9 2 2 2 .5 0 1-.2 1.4-.6l2.3-2.3c.4-.4.9-.6 1.4-.6h4c3.5 0 6.2-2.8 6.2-6.3V8.3c.1-3.4-2.7-6.2-6.2-6.2z" style="fill:none;stroke:currentColor;stroke-width:2.7829;stroke-miterlimit:10"/></g><circle fill="currentColor" cx="8.7" cy="10.3" r="1.9"/><circle fill="currentColor" cx="15.1" cy="10.3" r="1.9"/></svg></span>
        </div>
        
         <div data-w-id="56d2c18a-581e-a200-3bde-9678149edd98" class="challenge-button mobile-only w-button" title="<?php echo $wo['lang']['info'];?>" <?=$tooltipStr;?>>
             <span class="icoo">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM11 7h2v2h-2V7zm0 4h2v6h-2v-6z"/></svg>
             </span>
         </div>
         
         <div data-w-id="624a7c92-5a64-9331-f9e9-e1a9781170a0" class="challenge-button w-button" title="<?php echo $wo['lang']['challenges'];?>" <?=$tooltipStr;?>>
             <span class="icoo">
                <svg version="1.1" id="challenges_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"> <path fill="currentColor" d="M18.37,24H5.49c-0.67,0-1.21-0.61-1.21-1.36c0-0.75,0.54-1.36,1.21-1.36h3.72c0.1,0,0.19-0.11,0.19-0.25v-1.84 c0-0.1-0.05-0.2-0.12-0.23c-2.17-0.98-3.91-2.94-4.81-5.38C1.71,11.91,0,8.56,0,4.77l0-0.95c0-1.15,0.82-2.09,1.83-2.09H3.8l0-0.38 C3.8,0.61,4.35,0,5.01,0h14.08c0.33,0,0.64,0.15,0.87,0.41c0.22,0.26,0.35,0.6,0.34,0.95v0.38h1.86c1.01,0,1.83,0.94,1.83,2.09 l0,0.94c0,3.71-1.66,7.04-4.34,8.73c-0.89,2.48-2.64,4.46-4.83,5.46h0c-0.07,0.03-0.12,0.13-0.12,0.23v1.84 c0,0.14,0.08,0.25,0.19,0.25h3.47c0.67,0,1.21,0.61,1.21,1.36C19.58,23.39,19.04,24,18.37,24z M5.49,22.39 c-0.1,0-0.19,0.11-0.19,0.25c0,0.13,0.09,0.25,0.19,0.25h12.88c0.1,0,0.19-0.11,0.19-0.25c0-0.14-0.08-0.25-0.19-0.25h-3.47 c-0.67,0-1.21-0.61-1.21-1.36v-1.84c0-0.56,0.3-1.05,0.75-1.26h0c1.98-0.9,3.56-2.73,4.33-5.01l0.07-0.2l0.17-0.1 c2.45-1.46,3.98-4.47,3.98-7.85l0-0.94c0-0.54-0.36-0.97-0.81-0.97h-2.89l0-1.49c0-0.1-0.04-0.16-0.06-0.19 c-0.02-0.03-0.07-0.06-0.12-0.06H5.01c-0.1,0-0.19,0.11-0.19,0.25l0,1.49H1.83c-0.44,0-0.81,0.44-0.81,0.97l0,0.94 c0,3.44,1.57,6.47,4.09,7.91l0.17,0.1l0.07,0.2c0.78,2.25,2.35,4.05,4.31,4.94c0.46,0.21,0.75,0.7,0.75,1.26v1.84 c0,0.75-0.54,1.36-1.21,1.36H5.49z M5.02,12.23l-0.99-0.95C2.4,9.73,1.47,7.35,1.47,4.77l0-1.43h3.35l0,6.4 c0,0.35,0.02,0.71,0.05,1.06L5.02,12.23z M2.49,4.78c0,1.71,0.47,3.32,1.31,4.58l0-4.89H2.49L2.49,4.78z M19.1,12.16l0.14-1.46 c0.03-0.32,0.05-0.65,0.05-0.96l0-6.4h3.24l0,1.42c0,2.51-0.89,4.84-2.44,6.4L19.1,12.16z M20.3,4.46l0,4.74 c0.78-1.24,1.2-2.79,1.2-4.43l0-0.31H20.3z"></path> </svg>
             </span>
         </div>
        </div>
      </div>
      <div class="mobile-action-buttons-container">
        <div class="action-buttons-container w-row">
          <?php /*if($wo['fund']['fund_data']['status'] =='1' && $wo['loggedin'] == true){ ?>
          <div class="w-col w-col-6 w-col-small-6">
            <!-- <a href="#" class="action-button w-button">Donate</a> -->
            <button data-toggle="modal" data-target="#dont_modal"  class="action-button w-button"><?=$wo['lang']['donate'];?></button>
          </div>
          <div class="w-col w-col-6 w-col-small-6">
            <a href="<?=$wo['config']['site_url']."/?link1=create_challenge&challenge_fund_id=".$wo['fund']['id']."&id=".$wo['fund']['fund_data']['id']."&post_id=".$wo['fund']['id']?>" class="action-button button-style-2 w-button"><?=$wo['lang']['accept_challenge'];?></a>
          </div>
        <?php }else { ?>

          <div class="w-col w-col-6 w-col-small-6">
            <!-- <a href="#" class="action-button w-button">Donate</a> -->
            <button class="action-button w-button"><?=$wo['lang']['campaign_ended'];?></button>
          </div>

        <?php } */

        if($wo['loggedin'] != true):

          $last_url=$wo['config']['site_url'].'/show_challenge/'.$wo['fund']['fund_data']['hashed_id'];
          ?>
            <div class="w-col w-col-6 w-col-small-6">
                <a href="<?php echo Wo_SeoLink('index.php?link1=welcome&last_url=' . $last_url);?>"  class="btn btn-main btn-mat btn-width"><?php echo $wo['lang']['donate']; ?></a>
            </div>
            <div class="w-col w-col-6 w-col-small-6">
              <a href="<?php echo Wo_SeoLink('index.php?link1=welcome&last_url=' . $last_url);?>"  class="btn btn-action btn-mat btn-width"><?php echo $wo['lang']['accept_challenge'];?></a>                
            </div>
          <?php 
        else: 
          /*if($wo['fund']['status'] =='5')
          {  ?>
            <button class="btn btn-danger btn-mat btn-width"><?=$wo['lang']['challenge_rejected'];?></button>
            <?php 
          }
          else*/
            if ($accepted_amount > $wo['fund']['fund_data']['raised'] && (empty($wo['fund']['fund_data']['due_date']) || $wo['fund']['fund_data']['due_date'] > date('Y-m-d'))   && ($wo['fund']['fund_data']['status'] =='1')) 
          { ?>
            <div class="w-col w-col-6 w-col-small-6">
              <button <?php if($wo['fund']['fund_data']['status'] =='1' ){ ?> data-toggle="modal" data-target="#dont_modal" <?php } ?>  class="btn btn-main btn-mat btn-width <?php if($wo['fund']['fund_data']['status'] !='1') { echo  'disabled'; } ?>"><?=$wo['lang']['donate'];?></button>
            </div>
          
            <div class="w-col w-col-6 w-col-small-6">
              <?php if($wo['fund']['fund_data']['user_id']==$wo['user']['user_id'] && empty($wo['fund']['endorsement_comment'])): ?>
               <button class="btn btn-danger btn-mat btn-width" data-toggle="modal" data-target="#endorse_challenge">
                  <?=$wo['lang']['endorse_challenge'];?></button>
              <?php elseif($wo['fund']['user_id']==$wo['user']['user_id']): ?>
                <button type="button" class="btn btn-action btn-mat btn-width" data-toggle="modal" data-target="#challenge-your-friends"><?=ucwords($wo['lang']['challenge_your_friends']);?></button>
              <?php else:?>

                <a href="<?=$wo['config']['site_url']."/?link1=create_challenge&challenge_fund_id=".$wo['fund']['id']."&id=".$wo['fund']['fund_data']['id']."&post_id=".$wo['fund']['id']?>" class="btn btn-action btn-mat btn-width"><?=$wo['lang']['accept_challenge'];?></a>
              <?php endif;?>
           </div>

           <?php // }
          } 
          elseif($accepted_amount <= $wo['fund']['fund_data']['raised'] && (empty($wo['fund']['fund_data']['due_date']) || $wo['fund']['fund_data']['due_date'] > date('Y-m-d'))   && $wo['fund']['fund_data']['status'] =='1')
          {  ?>
            <div class="w-col w-col-6 w-col-small-6">
              <button class="action-button w-button"><?=$wo['lang']['no_more_donations'];?></button>
            </div>
            <?php 
          }
          elseif(in_array($wo['fund']['fund_data']['status'], $haystack))
          {  ?>
            <button type="button" class="btn btn-main btn-mat btn-width disabled">
              <?php echo $wo['lang']['donate']; ?>
            </button>
            
            <?php if($wo['fund']['fund_data']['user_id']==$wo['user']['user_id'] && empty($wo['fund']['endorsement_comment'])): ?>
                <button class="btn btn-danger btn-mat btn-width" data-toggle="modal" data-target="#endorse_challenge">
                  <?=$wo['lang']['endorse_challenge'];?></button>
            <?php elseif($wo['fund']['user_id']==$wo['user']['user_id']): ?>
              <button type="button" class="btn btn-action btn-mat btn-width disabled">
                <?=ucwords($wo['lang']['challenge_your_friends']);?></button>
            <?php else:?>

            <button type="button" class="btn btn-action btn-mat disabled" >
                <?php echo $wo['lang']['accept_challenge'];?> 
            </button>

          <?php endif;?>
                    
            <?php 
          }
          elseif($wo['fund']['fund_data']['status'] =='7')
          {  ?>
            <button type="button" class="btn btn-main btn-mat">
              <?=$wo['lang']['campaign_suspended']; ?>
            </button>
            <?php 
          }
          else
          { ?>
            <div class="w-col w-col-6 w-col-small-6">
              <button class="action-button w-button"><?=$wo['lang']['campaign_ended'];?></button>
            </div>
            <?php 
          }
        endif; ?> 

        </div>
      </div>
      <div data-w-id="1eae9443-6a8f-6b3d-9b71-686aa50eaf4a" style="-webkit-transform:translate3d(0, 200px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 200px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 200px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 200px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="challenge-slider">
        <h2 class="footer-title">Challenges completed by other fundraisers</h2>
        <div class="other-challenges-container rounded">
          <!-- <div>A carousel for other challenges with the same challenge name to be placed here.</div> -->
          <!-- <div class="fund">
                <div class="fluid list row" style="overflow: visible;"><br/>
                  <?php  foreach ($wo['fund']['challenges'] as $key => $challenge_fund) {
                    $post_id = Wo_GetPostIdByChallengeFundId($challenge_fund['id']);

                    ?>
                    
                    <div class="item fund_item"  >
                      <h6><?php 
                      if(isset($challenge_fund[0]['challenge']['title']))
                      {                     
                        echo $challenge_fund[0]['challenge']['title'];
                      }
                      ?></h6>
                      <div class="wrapper" style="display: flex;">
                        <?php  foreach ($challenge_fund as $key => $challenge) 
                        {
                          $post_id = Wo_GetPostIdByChallengeFundId($challenge['id']);
                          
                          ?>
                         <a href="<?= $wo['config']['site_url']."/show_challenge/". $challenge['hashed_id']?>"  > 
                        <?php                         
                        $media = array(
                          'type' => 'post',
                          'storyId' => $post_id,
                          'filename' => $challenge['fileName'],
                          'name' =>  $challenge['file'],
                          'postFileThumb' => $challenge['fileThumb'],
                        );
                        //echo "<pre>".'-----1254';print_r($wo['challenge_fund']['fund_data']['due_date']);
                        echo Wo_DisplaySharedFile($media, 'show_fund', $wo['challenge_fund']['fund_data']['cache']);
                        ?>
                      </a>
                        <?php }?>
                      </div>
                    </div><br/>
                  <?php }  ?>
                </div>
              </div> -->
              <div class="fund">
                <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
                  <div class="MultiCarousel-inner">
                    <?php  if(isset($wo['fund']['challenges']) && count($wo['fund']['challenges'])) {
                    foreach ($wo['fund']['challenges'] as $key => $challenge) {
                    $post_id = Wo_GetPostIdByChallengeFundId($challenge_fund['id']);
                    ?>
                      <div class="item">
                        <div class="pad15">
                          <a  href="<?= $wo['config']['site_url']."/show_challenge/". $challenge['hashed_id']?>"  > 
                            <?php                         
                            $media = array(
                              'type' => 'post',
                              'storyId' => $post_id,
                              'filename' => $challenge['fileName'],
                              'name' =>  $challenge['file'],
                              'postFileThumb' => $challenge['fileThumb'],
                            );
                        //echo "<pre>".'-----1254';print_r($wo['challenge_fund']['fund_data']['due_date']);
                        echo Wo_DisplaySharedFile($media, 'show_fund', $wo['challenge_fund']['fund_data']['cache']);
                        ?>
                      </a>
                          </div>
                      </div>
                      <?php } } ?>
                  </div>
                  <button class="btn btn-primary leftLst"><</button>
                  <button class="btn btn-primary rightLst">  ></button>
                </div>
              </div>
             
        </div>
        <a data-w-id="e7e40eb7-837f-3d20-09f2-d9246efd11c3" href="#" class="panel-close-btn w-button"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"></path><path fill="currentColor" d="M18.3 5.71c-.39-.39-1.02-.39-1.41 0L12 10.59 7.11 5.7c-.39-.39-1.02-.39-1.41 0-.39.39-.39 1.02 0 1.41L10.59 12 5.7 16.89c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L12 13.41l4.89 4.89c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4z"></path></svg></a>
      </div>
    </div>
    <div data-w-id="eca2f00b-4f0e-9565-2d72-4616a89c99d8" class="challenge-info-container">
      <div class="challenge-details-container">
        <h1 class="challenge-title"><?php echo $wo['fund']['challenge']['title'];?>
          
        </h1>
        <p><?php echo $wo['fund']['description'];?></p>
        <p>&nbsp;</p>
        <p class="bold"><?=Wo_GetTotalFundRaisedByChallengeFund($wo['fund']['id'],$wo['fund']['fund_data']['id'])?> <?=$wo['lang']['raised_by_this_challenge_for'];?>:</p>
      </div>
      <div class="campaign-info-container">
        <?php 
        $status=array('0','4','8');
        if(!in_array($wo['fund']['fund_data']['status'], $status)):
        ?>
        <a href="<?php echo $wo['config']['site_url'].'/show_fund/'. $wo['fund']['fund_data']['hashed_id']; ?>" class="campaign-profile w-inline-block">
        	<img src="<?php echo $wo['fund']['fund_data']['image'];?>" loading="lazy" alt="" class="campaign-image">
          <h2 class="text-h3"><?php echo $wo['fund']['fund_data']['title'];?></h2>
        </a>
        <div class="campaign-users w-row">
          <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6">
            <a href="<?=$wo['fund']['fund_data']['user_data']['url']?>" class="profile-container colour-dark w-inline-block" data-ajax="?link1=timeline&u=<?=$wo['fund']['fund_data']['user_data']['username']?>">
            	<img src="<?=$wo['fund']['fund_data']['user_data']['avatar']?>" loading="lazy" alt="<?=$wo['fund']['fund_data']['user_data']['name'];?>" class="profile-photo">
              <div class="profile-details">
                <div class="profile-name">
                    <?=$wo['fund']['fund_data']['user_data']['name'];?>
		            </div>
                <div class="time"><?=$wo['lang']['organiser'];?></div>
              </div>
            </a>
          </div>
          <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6">
            <a href="<?=$wo['fund']['fund_data']['beneficiary_data']['url']?>" class="profile-container colour-dark w-inline-block" data-ajax="?link1=timeline&u=<?=$wo['fund']['fund_data']['beneficiary_data']['username']?>">
            	<img src="<?=$wo['fund']['fund_data']['beneficiary_data']['avatar']?>" loading="lazy" alt="<?=$wo['fund']['fund_data']['beneficiary_data']['name'];?>" class="profile-photo">
              <div class="profile-details">
                <!--<div class="profile-name"><?=Wo_Markup($wo['fund']['fund_data']['beneficiary'],false,false,true,0) ?></div>-->
                <div class="profile-name">
                    <?=$wo['fund']['fund_data']['beneficiary_data']['name'];?>                	
		            </div>  
                <div class="time"><?=$wo['lang']['beneficiary'];?></div>
              </div>
            </a>
          </div>
        </div>
        <a href="#" class="campaign-progress w-inline-block">
          <div class="campaign-progress-text">
            <div><p>
            	<?php $currency=$wo['config']['currency_symbol_array'][$wo['config']['currency']];
                echo '<span class="big-text bold">';
            	echo ($wo['fund']['fund_data']['raised'])?$currency.number_format($wo['fund']['fund_data']['raised']):'$0';
                echo '</span>';    
                echo ' of';
                ?>  
            	<?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].number_format($wo['fund']['fund_data']['amount']).' '.$wo['lang']['raised_of']; ?>
                </p>
            </div>
            <div>
            	<?php
      					if(!empty($wo['fund']['fund_data']['due_date']))
      					{
      						echo Wo_Time_Elapsed_String(strtotime($wo['fund']['fund_data']['due_date']),"due_date");
      					}
      				?>
					 </div>
          </div>
          <!-- <div class="fund-progress-bar"></div> -->
          <div class="fund_raise_bar">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <?php echo $wo['fund']['fund_data']['bar']; ?>%" aria-valuenow="<?php echo $wo['fund']['fund_data']['bar']; ?>" aria-valuemin="0" aria-valuemax="<?php echo($wo['fund']['fund_data']['amount']) ?>"></div>
            </div>
          </div>
        </a >
        <?php elseif($wo['fund']['fund_data']['status']=='8'): ?>
          <h2 class="text-h3"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 50 50"><path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:currentColor;stroke-opacity:1;stroke-miterlimit:4" d="M22 12c0 5.524-4.476 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.476 10 10zM12 8v4m0 4h0" transform="scale(2.08333)"></path></svg>&nbsp;&nbsp;<?=$wo['lang']['challenge_campaign_blocked_message'];?></h2>
        <?php elseif($wo['fund']['fund_data']['status']=='0'): ?>
          <h2 class="text-h3"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 50 50"><path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:currentColor;stroke-opacity:1;stroke-miterlimit:4" d="M22 12c0 5.524-4.476 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.476 10 10zM12 8v4m0 4h0" transform="scale(2.08333)"></path></svg>&nbsp;&nbsp;<?=$wo['lang']['campaign_pending_message'];?></h2>
         <?php endif; ?>
      </div>
        
      <!-- endorsement -->  
      <div class="endorsement-comment">
        <?php if(!empty($wo['fund']['endorsement_comment'])) { ?>
             <span class="verified-color fs-14" title="<?=$wo['lang']['verified_challenge']?>" data-toggle="tooltip">&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 512 512"><path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0" fill="#2196f3"></path><path d="m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0" fill="#fff"></path></svg></span>
             <?=ucfirst($wo['fund']['endorsement_comment'])?>
          <?php     }  ?>
      </div>
     
      <div class="action-buttons-container">
        <?php
        $haystack=array('2','3','5','6','9');

      if($wo['loggedin'] != true):

          $last_url=$wo['config']['site_url'].'/show_challenge/'.$wo['fund']['fund_data']['hashed_id'];
          ?>
            <a href="<?php echo Wo_SeoLink('index.php?link1=welcome&last_url=' . $last_url);?>"  class="btn btn-main btn-mat btn-width"><?php echo $wo['lang']['donate']; ?></a>
            <a href="<?php echo Wo_SeoLink('index.php?link1=welcome&last_url=' . $last_url);?>"  class="btn btn-action btn-mat btn-width"><?php echo $wo['lang']['accept_challenge'];?></a>
          <?php 
        else:
          /*if($wo['fund']['status'] =='5')
          {  ?>
            <button class="btn btn-danger btn-mat btn-width"><?=$wo['lang']['challenge_rejected'];?></button>
            <?php 
          }
          else*/
            if ($accepted_amount > $wo['fund']['fund_data']['raised'] && (empty($wo['fund']['fund_data']['due_date']) || $wo['fund']['fund_data']['due_date'] > date('Y-m-d'))   && $wo['fund']['fund_data']['status'] =='1') 
          { ?>
            <button data-toggle="modal" data-target="#dont_modal"  class="btn btn-main btn-mat btn-width"><?=$wo['lang']['donate'];?></button>
            
            <?php if($wo['fund']['fund_data']['user_id']==$wo['user']['user_id'] && empty($wo['fund']['endorsement_comment'])): ?>
                <button class="btn btn-danger btn-mat btn-width" data-toggle="modal" data-target="#endorse_challenge">
                  <?=$wo['lang']['endorse_challenge'];?></button>
            <?php elseif($wo['fund']['user_id']==$wo['user']['user_id']): ?>
              <button type="button" class="btn btn-action btn-mat btn-width" data-toggle="modal" data-target="#challenge-your-friends"><?=ucwords($wo['lang']['challenge_your_friends']);?></button>
            <?php else:?>

            <a href="<?=$wo['config']['site_url']."/?link1=create_challenge&challenge_fund_id=".$wo['fund']['id']."&id=".$wo['fund']['fund_data']['id']."&post_id=".$wo['fund']['id']?>" class="btn btn-action btn-mat btn-width"><?=$wo['lang']['accept_challenge'];?></a>

          <?php endif;?>
           <?php 
          } 
          elseif($accepted_amount <= $wo['fund']['fund_data']['raised'] && (empty($wo['fund']['fund_data']['due_date']) || $wo['fund']['fund_data']['due_date'] > date('Y-m-d'))   && $wo['fund']['fund_data']['status'] =='1')
          {  ?>
            <button class="action-button w-button"><?=$wo['lang']['no_more_donations'];?></button>
           
            <?php 
          }
          elseif(in_array($wo['fund']['fund_data']['status'], $haystack))
          {  ?>
            <button type="button" class="btn btn-main btn-mat btn-width disabled">
              <?php echo $wo['lang']['donate']; ?>
            </button>
            
            <?php if($wo['fund']['fund_data']['user_id']==$wo['user']['user_id']): ?>
                <button class="btn btn-danger btn-mat btn-width" onclick="rejectThischallenge('<?=$wo['fund']['id']?>')"><?=$wo['lang']['reject'];?></button>
            <?php elseif($wo['fund']['user_id']==$wo['user']['user_id']): ?>
              <button type="button" class="btn btn-action btn-mat btn-width disabled">
                <?=ucwords($wo['lang']['challenge_your_friends']);?></button>
            <?php else:?>

            <button type="button" class="btn btn-action btn-mat disabled" >
                <?php echo $wo['lang']['accept_challenge'];?> 
            </button>

          <?php endif;?>
                    
            <?php 
          }
          elseif($wo['fund']['fund_data']['status'] =='7')
          {  ?>
            <button type="button" class="btn btn-main btn-mat">
              <?=$wo['lang']['campaign_suspended']; ?>
            </button>
            <?php 
          }
          
          else
          { ?>
            <button class="action-button w-button"><?=$wo['lang']['campaign_ended'];?></button>
           
            <?php 
          }
        endif; ?>



      </div>
       
      <div class="section-header">
        <h2 class="text-h2"><?=$wo['lang']['donations'];?></h2>
        <!-- <a href="#" class="link-text colour-dark">See All</a> -->
      </div>
      <div class="donations-container">
        <div class="donation-history">
          <?php if(count($challengedonations)>0) {
          foreach($challengedonations as $donation) 
            { 

              if($donation['show']=='0')
              {
                $donation['user_data']['avatar']=Wo_GetMedia('upload/photos/incognito.png');
                $donation['user_data']['url']='javascript:void(0)';
                $donation['user_data']['username']='anonymous';
                $donation['user_data']['name']=$wo['lang']['anonymous'];
              }

              ?>
          <div class="donation-details">
            <a href="<?php echo($donation['user_data']['url']) ?>" <?php if($donation['show']!='0'): ?> data-ajax="?link1=timeline&u=<?php echo($donation['user_data']['username']) ?>" <?php endif; ?> class="profile-container colour-dark w-inline-block">
              <img src="<?php echo $donation['user_data']['avatar']; ?>" loading="lazy" alt="" class="profile-photo">
              <div class="profile-details">
                <div class="profile-name"><?php echo $donation['user_data']['name']; ?></div>
                <div class="time"><?php echo Wo_Time_Elapsed_String($donation['time']); ?></div>
              </div>
            </a>
            <div class="donation-amount text-big"><?php echo '$'.number_format($donation['amount']); ?></div>
          </div>
        <?php } }else{ ?>
            <p class="bold"><?php echo $wo['lang']['no_donations_yet']; ?></p>
            
        <?php } ?>  
         
         
          
        </div>
      </div>
      <div class="pull-bottom">
            <?php if(!Wo_IsReportExists($wo['fund']['id'],'challenge')){ ?>
            <button type="button" id="#reportBtn" class="btn btn-default btn-mat disable_btn btn-width" onclick="reportRequest();"><?php echo ucwords($wo['lang']['report_challenge']); ?></button>
            <?php }else{  ?>
            <button type="button" id="#reportCancelBtn" class="btn btn-default btn-mat disable_btn btn-width" onclick="Wo_ReportChallenge(<?=$wo['fund']['id']?>,false)"><?php echo ucwords($wo['lang']['report_challenge_cancel']); ?></button>
            <?php } ?>
      </div>     
      <a data-w-id="605008d2-b33d-0b27-f715-379cd40b48fc" href="#" class="panel-close-btn mobile-only w-button"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"></path><path fill="currentColor" d="M18.3 5.71c-.39-.39-1.02-.39-1.41 0L12 10.59 7.11 5.7c-.39-.39-1.02-.39-1.41 0-.39.39-.39 1.02 0 1.41L10.59 12 5.7 16.89c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L12 13.41l4.89 4.89c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4z"></path></svg></a>
    </div>
      <div data-w-id="937b279f-0692-8848-8702-ef5d3e405544" class="comments-container  post wo_imagecombo_lbox lightpost-<?php echo $wo['story']['id'];?>" >
       <a data-w-id="daceb9d2-9e7b-8dd3-622e-f2c3ac477b1d" href="#" class="panel-close-btn w-button"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"></path><path fill="currentColor" d="M18.3 5.71c-.39-.39-1.02-.39-1.41 0L12 10.59 7.11 5.7c-.39-.39-1.02-.39-1.41 0-.39.39-.39 1.02 0 1.41L10.59 12 5.7 16.89c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L12 13.41l4.89 4.89c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4z"></path></svg></a>
      <h2 class="text-h2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path fill="currentColor" d="M14 22.5L11.2 19H6a1 1 0 0 1-1-1V7.103a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1V18a1 1 0 0 1-1 1h-5.2L14 22.5zm1.839-5.5H21V8.103H7V17H12.161L14 19.298 15.839 17zM2 2h17v2H3v11H1V3a1 1 0 0 1 1-1z"/></svg> <?php echo $wo['lang']['comments'];?> (<?php echo count($wo['story']['get_post_comments']); ?>)</h2>
      <hr class="style-two">
      <div id="post-<?php echo $wo['story']['id'];?>">
        <div class="comment-section">
          <div class="wow_lightbox_right">
            <?php if (Wo_IsMobile() == false) { ?>
            <div class="comment-section-inner tag_mobi_lbox_comment-section">
              <div class="comment-inner-middle" <?php if ($wo['loggedin'] != true) { ?>onclick="location.href= '<?php echo $wo['config']['site_url'];?>'"<?php } ?>>
                <!--<div class="valign tag_lbox_hdr">
                  <div class="avatar">
                    <a href="<?php echo $wo['story']['publisher']['url'];?>"><img src="<?php echo $wo['story']['publisher']['avatar'];?>"></a>
                  </div>
                  <div>
                    <h4>
                      <?php if (!isset($anonymous)) { ?>
                        <a href="<?php echo $wo['story']['publisher']['url'];?>"><?php echo $wo['story']['publisher']['name'];?></a>
                      <?php } else { ?>
                        <?php echo $wo['story']['publisher']['name'];?>
                      <?php } ?>
                    </h4>
                    <span class="ajax-time" title="<?php echo date('c',$wo['story']['time']); ?>"><?php echo Wo_Time_Elapsed_String($wo['story']['time']); ?></span>
                  </div>
                </div>-->
                <div class="post-info tag_scroll">
                  <div class="post-text">
                    <p><?php echo $wo['story']['postText'];?></p>
                  </div>
                </div>                
              </div>
            </div>
            <?php } ?>
            <div class="comment-inner-footer lightbox-post-footer tag_scroll <?php echo ($wo['story']['comments_status'] == 0) ? 'hidden' : '';?>">
              <div id="hidden_inputbox_comment_lighbox"></div>
              <div class="comments-list comments-list-lightbox">
                <?php 
                  foreach($wo['story']['get_post_comments'] as $wo['comment']) {
                    echo Wo_LoadPage('comment/lightbox-content');
                  }
                ?>
                <?php if (empty($wo['story']['get_post_comments'])) { ?>
                  <div class="lightbox-no-comments">
                    <div class="empty_state">
                      <svg height="512" viewBox="0 0 32 32" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m26 32h-20c-3.314 0-6-2.686-6-6v-20c0-3.314 2.686-6 6-6h20c3.314 0 6 2.686 6 6v20c0 3.314-2.686 6-6 6z" fill="#ffe6e2"/><path d="m13.667 9.833c0-.7.26-1.34.687-1.833h-4.52c-1.014 0-1.834.82-1.834 1.833v3.667c0 1.013.82 1.833 1.833 1.833h.833v1.5c0 .2.12.38.3.46.067.027.133.04.2.04.127 0 .247-.047.34-.133l2.02-1.867h.827c-.427-.493-.687-1.133-.687-1.833v-3.667z" fill="#fd907e"/><g fill="#fc573b"><circle cx="10.667" cy="19.333" r="1.333"/><path d="m11.5 21.333h-1.667c-1.011 0-1.833.823-1.833 1.834v.333c0 .276.224.5.5.5h4.333c.276 0 .5-.224.5-.5v-.333c0-1.011-.822-1.834-1.833-1.834z"/><circle cx="21.333" cy="19.333" r="1.333"/><path d="m22.167 21.333h-1.667c-1.011 0-1.833.822-1.833 1.833v.334c0 .276.224.5.5.5h4.333c.276 0 .5-.224.5-.5v-.333c0-1.011-.822-1.834-1.833-1.834z"/></g><path d="m20.833 17.333c-.123 0-.245-.046-.339-.132l-2.023-1.868h-1.971c-1.011 0-1.833-.822-1.833-1.833v-3.667c0-1.011.822-1.833 1.833-1.833h5.667c1.011 0 1.833.822 1.833 1.833v3.667c0 1.011-.822 1.833-1.833 1.833h-.833v1.5c0 .199-.118.378-.299.458-.066.029-.134.042-.202.042z" fill="#fd907e"/></svg> <?php echo $wo['lang']['no_comments_found'];?>
                    </div>
                  </div>
                <?php } ?>
              </div>
            </div>
            <div class="lightbox-post-footer post-comments <?php echo ($wo['story']['comments_status'] == 0) ? 'hidden' : '';?>" id="post-comments-<?php echo $wo['story']['id'];?>"  <?php if ($wo['loggedin'] != true) { ?>onclick="location.href= '<?php echo $wo['config']['site_url'];?>'"<?php } ?>>
              <div class="valign tag_lbox_comcombo">
                <img class="avatar" src="<?php echo $wo['user']['avatar'];?>"/>
                <div class="valign">
                  <textarea rows="1" class="form-control lighbox comment-textarea textarea" onkeyup="Wo_RegisterComment(this.value,<?php echo $wo['story']['id']; ?>,<?php echo $wo['story']['publisher']['user_id']; ?>, event, <?php echo (!empty($wo['story']['publisher']['page_id'])) ? $wo['story']['publisher']['page_id'] : '0'; ?>)" onkeydown="textAreaAdjust(this, 30,'lightbox')" placeholder="<?php echo $wo['lang']['write_comment'];?>" dir="auto"></textarea>
                  <div class="valign image-comment">
                    <div class="dropup">
                      <span data-toggle="dropdown" role="button" aria-expanded="false" class="btn emo-comment dropdown-toggle" >
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"><circle cx="12" cy="12" r="10" fill="currentColor" opacity="0.4"></circle><path fill="currentColor" d="M12,17.0918a5.67258,5.67258,0,0,1-3.64258-1.32618.99954.99954,0,1,1,1.28516-1.53124,3.76605,3.76605,0,0,0,4.71484,0,.99954.99954,0,1,1,1.28516,1.53124A5.67258,5.67258,0,0,1,12,17.0918Z"></path><circle cx="15" cy="10" r="1" fill="currentColor"></circle><circle cx="9" cy="10" r="1" fill="currentColor"></circle></svg>
                      </span>
                      <ul class="dropdown-menu dropdown-menu-right tag_scroll emo-post-container">
                        <?php  
                          foreach ($wo['emo'] as $code => $name) {
                            $code   = $code;
                            echo  '<span onclick="Wo_AddEmoToCommentInput(' . $wo["story"]["id"] . ', \'' . $code . '\', \'lightbox-post-footer\');"><i class="pointer twa-lg twa twa-' . $name . '"></i></span>'; 
                          } 
                        ?>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- // report challenge modal -->
<div class="modal fade" id="report_campaign" role="dialog">
  <div class="modal-dialog wow_mat_mdl modal-md">
    <div class="modal-content">
      <span class="show-message"></span>
      <div class="modal-header">
        <h4 class="modal-title"><?php echo $wo['lang']['report_challenge']; ?></h4>
      </div>
      <div class="modal-body">
        <label class="tag_field">
          <textarea rows="4" id="report-campaign-text-<?php echo $wo['user']['id']; ?>" placeholder=" "></textarea>
          <span><?php echo $wo['lang']['write_something_here'] ?></span>
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-mat disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel'] ?></button>
        <button type="button" class="btn btn-main btn-mat disable_btn" id="report-campaign-button" onclick="Wo_ReportChallenge(<?php echo $wo['fund']['id']; ?>,true)"><?php echo $wo['lang']['send']; ?></button>
      </div>
    </div>
  </div>
</div>
<!-- // report challenge end -->
  <!-- // endorse challenge modal -->
<div class="modal fade" id="endorse_challenge" role="dialog">
  <div class="modal-dialog wow_mat_mdl modal-md">
    <div class="modal-content">
      <span class="show-message"></span>
      <div class="modal-header">
        <h4 class="modal-title"><?php echo $wo['lang']['endorse_challenge']; ?></h4>
      </div>
      <div class="modal-body">
        <label class="tag_field">
          <textarea rows="4" id="endorse-challenge-text-<?php echo $wo['user']['id']; ?>" placeholder=" "></textarea>
          <span><?php echo $wo['lang']['write_something_here'] ?></span>
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-mat disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel'] ?></button>
        <button type="button" class="btn btn-main btn-mat disable_btn" id="endorse-challenge-button" onclick="Wo_EndorseChallenge(<?php echo $wo['fund']['id']; ?>,true)"><?php echo $wo['lang']['send']; ?></button>
      </div>
    </div>
  </div>
</div>
<!-- // endorse campaign end -->

  <!-- <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=607e52a14d835794f94dcd5c" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script> -->
  <script src="<?php echo $wo['config']['theme_url'];?>/challenge/js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <script>
    $(document).keydown(function(e) {



    if (e.keyCode == 27) {
        Wo_CloseLightbox();
    }
    $(".lighbox.textarea").triggeredAutocomplete({
       hidden: '#hidden_inputbox_comment_lighbox',
       source: Wo_Ajax_Requests_File() + "?f=mention",
       trigger: "@" 
    });
});
    $(document).ready(function () {

 




    var itemsMainDiv = ('.MultiCarousel');
    var itemsDiv = ('.MultiCarousel-inner');
    var itemWidth = "";

    $('.leftLst, .rightLst').click(function () {
        var condition = $(this).hasClass("leftLst");
        if (condition)
            click(0, this);
        else
            click(1, this)
    });

    ResCarouselSize();




    $(window).resize(function () {
        ResCarouselSize();
    });

    //this function define the size of the items
    function ResCarouselSize() {
        var incno = 0;
        var dataItems = ("data-items");
        var itemClass = ('.item');
        var id = 0;
        var btnParentSb = '';
        var itemsSplit = '';
        var sampwidth = $(itemsMainDiv).width();
        var bodyWidth = $('body').width();
        //console.log(bodyWidth)
        var itemscount='<?php echo count($wo['fund']['challenges']) ?>';
        $(itemsDiv).each(function () {
            id = id + 1;
            var itemNumbers = $(this).find(itemClass).length;
            btnParentSb = $(this).parent().attr(dataItems);
            itemsSplit = btnParentSb.split(',');
            console.log(itemsSplit)
            $(this).parent().attr("id", "MultiCarousel" + id);


            if (bodyWidth >= 1200) {
                incno = itemsSplit[3];
                itemWidth = sampwidth / incno;
            }
            else if (bodyWidth >= 992) {
                incno = itemsSplit[2];
                itemWidth = sampwidth / incno;
            }
            else if (bodyWidth >= 768) {
                incno = itemsSplit[1];
                itemWidth = sampwidth / incno;
            }
            else 
            {
                incno = itemsSplit[0];
                itemWidth = sampwidth / incno;
            }
            $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers });
            $(this).find(itemClass).each(function () {
                $(this).outerWidth(itemWidth);
            });

            $(".leftLst").addClass("over");
            $(".rightLst").removeClass("over");
            if(itemscount <=6 && bodyWidth >= 768)
            {
              $(".rightLst").addClass("over");
            }

        });
    }


    //this function used to move the items
    function ResCarousel(e, el, s) {
        var leftBtn = ('.leftLst');
        var rightBtn = ('.rightLst');
        var translateXval = '';
        var divStyle = $(el + ' ' + itemsDiv).css('transform');
        var values = divStyle.match(/-?[\d\.]+/g);
        var xds = Math.abs(values[4]);
        if (e == 0) {
            translateXval = parseInt(xds) - parseInt(itemWidth * s);
            $(el + ' ' + rightBtn).removeClass("over");

            if (translateXval <= itemWidth / 2) {
                translateXval = 0;
                $(el + ' ' + leftBtn).addClass("over");
            }
        }
        else if (e == 1) {
            var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
            translateXval = parseInt(xds) + parseInt(itemWidth * s);
            $(el + ' ' + leftBtn).removeClass("over");

            if (translateXval >= itemsCondition - itemWidth / 2) {
                translateXval = itemsCondition;
                $(el + ' ' + rightBtn).addClass("over");
            }
        }
        $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
    }

    //It is used to get some elements from btn
    function click(ell, ee) {
        var Parent = "#" + $(ee).parent().attr("id");
        var slide = $(Parent).attr("data-slide");
        ResCarousel(ell, Parent, slide);
    }

});
    /*  
    function detectswipe(el,func) {
      swipe_det = new Object();
      swipe_det.sX = 0;
      swipe_det.sY = 0;
      swipe_det.eX = 0;
      swipe_det.eY = 0;
      var min_x = 20;  //min x swipe for horizontal swipe
      var max_x = 40;  //max x difference for vertical swipe
      var min_y = 40;  //min y swipe for vertical swipe
      var max_y = 50;  //max y difference for horizontal swipe
      var direc = "";
      ele = document.getElementById(el);
      ele.addEventListener('touchstart',function(e){
        var t = e.touches[0];
        swipe_det.sX = t.screenX; 
        swipe_det.sY = t.screenY;
      },false);
      ele.addEventListener('touchmove',function(e){
        e.preventDefault();
        var t = e.touches[0];
        swipe_det.eX = t.screenX; 
        swipe_det.eY = t.screenY;    
      },false);
      ele.addEventListener('touchend',function(e){
        //horizontal detection
        if ((((swipe_det.eX - min_x > swipe_det.sX) || (swipe_det.eX + min_x < swipe_det.sX)) && ((swipe_det.eY < swipe_det.sY + max_y) && (swipe_det.sY > swipe_det.eY - max_y)))) {
          if(swipe_det.eX > swipe_det.sX) direc = "right";
          else direc = "left";
        }
        //vertical detection
        if ((((swipe_det.eY - min_y > swipe_det.sY) || (swipe_det.eY + min_y < swipe_det.sY)) && ((swipe_det.eX < swipe_det.sX + max_x) && (swipe_det.sX > swipe_det.eX - max_x)))) {
          if(swipe_det.eY > swipe_det.sY) direc = "down";
          else direc = "up";
        }
        if (direc != "") {
          if(typeof func == 'function') func(el,direc);
        }
        direc = "";
      },false);  
    }
    function myfunction(el,d) {
			alert("You swiped "+d+" ");
    }
    detectswipe('swipe-area',myfunction);
    */
</script>
<div id="donate_for_fund_modal"></div>
<div class="modal fade" id="dont_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog wow_mat_mdl modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><?php echo $wo['lang']['donate']; ?> <?php echo $wo['lang']['amount']; ?></h4>
      </div>
      <div class="modal-body">
        <div id="amount_fund_alert"></div>
        <div class="donate_buttons">
            <button class="btn btn-action btn-mat btn-donate m-2" onclick="setDonationValue(100)" >$100</button>
            <button class="btn btn-action btn-mat btn-donate m-2" onclick="setDonationValue(200)">$200</button>
            <button class="btn btn-action btn-mat btn-donate m-2" onclick="setDonationValue(500)">$500</button>
            <button class="btn btn-action btn-mat btn-donate m-2" onclick="setDonationValue(1000)">$1,000</button>
            <button class="btn btn-action btn-mat btn-donate m-2" onclick="setDonationValue(5000)">$5,000</button>
            <button class="btn btn-action btn-mat btn-donate m-2" onclick="setDonationValue(10000)">$10,000</button>
        </div>
        <div class="fund_input text-center">
          $<input type="text" name="amount" placeholder="0.00" id="fund_donate_amount" onkeyup="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
          <div id="place" class="mb-15"></div>
          <button type="button" class="btn btn-default btn-mat disable_btn" onclick="clearDonationValue()"><?php echo $wo['lang']['clear'] ?></button>
        </div>
        <div class="round-check m-2">
          <input type="checkbox" name="display_name" id="display_name">
          <label for="display_name"><?=$wo['lang']['dont_display_my_name'];?></label>
        </div>
        <?php if($wo['fund']['fund_data']['fundraising_for']=='2'): ?>
              <div class="round-check m-2">
                  <input type="checkbox" name="receipt_required" id="receipt_required">
                  <label for="receipt_required"><?=$wo['lang']['need_receipt'];?></label>
              </div>
        <?php endif;?>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-mat disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel'] ?></button>
        <button class="bank_payment btn btn-main btn-mat" onclick="Wo_GetPaymentMethods(this);"><?php echo $wo['lang']['donate']; ?></button>
        <input type="hidden" class="form-control" id="fund_donate_id" value="<?php echo $wo['fund']['funding_id']; ?>">
        <input type="hidden" class="form-control" id="challenge_donate_id" value="<?php echo $wo['fund']['id']; ?>">
      </div>
    </div>
  </div>
</div>

<?php if ($wo['config']['bank_payment'] == 'yes' && !empty($wo['config']['bank_transfer_note']) && !empty($wo['config']['bank_description'])) { ?>
<div class="modal fade" id="bank_transfer_donate_modal" role="dialog" data-keyboard="false">
  <div class="modal-dialog wow_mat_mdl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><?php echo $wo['lang']['bank_transfer'] ?></h4>
      </div>
      <form class="form form-horizontal" method="post" id="bank_transfer_form_donate" action="#">
        <div class="modal-body dt_bank_trans_modal">
          <div id="blog-alert"></div>
          
          <?php echo $wo['config']['bank_description'];?>
          
          <?php if (!empty($wo['config']['bank_transfer_note'])) { ?>
            <div class="dt_user_profile hide_alert_info_bank_trans">
              <ul class="dt_prof_vrfy">
                <li><?php echo $wo['config']['bank_transfer_note'];?></li>
              </ul>
            </div>
          <?php } ?>
          <div class="upload_bank_receipts">
            <div onclick="document.getElementById('upload').click(); return false">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2M13.5,16V19H10.5V16H8L12,12L16,16H13.5M13,9V3.5L18.5,9H13Z"></path></svg>
              <p><?php echo $wo['lang']['browse_to_upload']; ?></p>
              <img id="receipt_img_preview" src="">
            </div>
          </div>
          <?php /*if(isset($_GET['challenge_id'])){?>
            <input value="<?=$_GET['challenge_id'];?>" name="challenge_id" type="hidden" id="challenge_id" class="hidden">
          <?php }?>
          <?php if(isset($_GET['challenge_id'])){?>
            <input name="price" type="hidden" id="bank_donate_price" class="hidden">
          <?php }*/?>
           <input name="challenge_id" type="hidden" id="challengeid" class="hidden">
            <input name="show" type="hidden" id="show" class="hidden">

          <input name="price" type="hidden" id="bank_donate_price" class="hidden">
          <input name="fund_id" type="hidden" id="bank_donate_fund_id" class="hidden">
          <input type="hidden" name="hash_id" value="<?php echo Wo_CreateSession();?>">
          <input name="thumbnail" type="file" id="upload" class="hidden" accept="image/*">
          <input type="reset" id="configreset" value="Reset" class="hidden">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-mat btn-default disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel']; ?></button>
          <button type="submit" class="btn btn-main btn-mat disable_btn"><?php echo $wo['lang']['send']; ?></button>
        </div>
      </form>
    </div>
  </div>
</div>
<?php } ?>
<?php if ($wo['config']['checkout_payment'] == 'yes' && !empty($wo['config']['checkout_seller_id']) && !empty($wo['config']['checkout_publishable_key']) && !empty($wo['config']['checkout_private_key'])) { ?>
<div class="modal fade" id="2checkout_wallet_donate_modal" role="dialog" data-keyboard="false">
  <div class="modal-dialog wow_mat_mdl modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><?php echo $wo['lang']['2checkout'] ?></h4>
      </div>
      <form class="form form-horizontal" method="post" id="2checkout_form_donate_wallet" action="#">
        <div class="modal-body twocheckout_modal">
          <div id="2checkout_alert_donate_wallet"></div>
          <div class="clear"></div>
          <div class="row">
            <div class="col-lg-6">
              <label class="tag_field">
                <input id="card_name" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['name']) ?>">
                <span><?php echo $wo['lang']['name']; ?></span>
              </label>
              <label class="tag_field">
                <input id="card_email" type="email" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['email']) ?>">
                <span><?php echo $wo['lang']['email']; ?></span>
              </label>
              <label class="tag_field">
                <input id="card_phone" type="tel" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['phone_number']) ?>">
                <span><?php echo $wo['lang']['phone_number']; ?></span>
              </label>
              <label class="tag_field">
                <input id="card_address" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['address']) ?>">
                <span><?php echo $wo['lang']['address']; ?></span>
              </label>
              <div class="row">
                <div class="col-md-6">
                  <label class="tag_field">
                    <input id="card_city" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['city']) ?>">
                    <span><?php echo $wo['lang']['city']; ?></span>
                  </label>
                </div>
                <div class="col-md-6">
                  <label class="tag_field">
                    <input id="card_zip" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['zip']) ?>">
                    <span><?php echo $wo['lang']['zip']; ?></span>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label class="tag_field">
                    <input id="card_state" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['state']) ?>">
                    <span><?php echo $wo['lang']['state']; ?></span>
                  </label>
                </div>
                <div class="col-md-6">
                  <label class="tag_field">
                    <select id="card_country" name="card_country">
                      <?php 
                        foreach ($wo['countries_name'] as $country_ids => $country) { 
                          $country_id = $wo['user']['country_id'];
                          $selected_contry = ($country_ids == $country_id) ? ' selected' : '' ;
                      ?>
                        <option value="<?php echo $country_ids;?>" <?php echo $selected_contry;?> ><?php echo $country;?></option>
                      <?php } ?>
                    </select>
                    <span><?php echo $wo['lang']['country']; ?></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="two_check_card">
                <label class="tag_field">
                  <input id="_number_" type="text" autocomplete="off" placeholder=" ">
                  <span><?php echo $wo['lang']['card_number']; ?></span>
                  <input id="card_number" name="card_number" type="hidden" autocomplete="off">
                </label>
                <label class="tag_field">
                  <select id="card_month" name="card_month">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                  </select>
                  <span><?php echo $wo['lang']['month']; ?></span>
                </label>
                <label class="tag_field">
                  <select id="card_year" name="card_year">
                    <?php for ($i=date('Y'); $i <= date('Y')+15; $i++) {  ?>
                      <option value="<?php echo($i) ?>"><?php echo($i) ?></option>
                    <?php } ?>
                  </select>
                  <span><?php echo $wo['lang']['year']; ?></span>
                </label>
                <label class="tag_field">
                  <input id="card_cvc" name="card_cvc" type="text" autocomplete="off" placeholder=" " maxlength="3" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                  <span>CVC</span>
                </label>
              </div>
            </div>
          </div>
          <div class="clear"></div>
          <input id="card_token" name="token" type="hidden" value="">
          <input id="donate_check_amount" name="amount" type="hidden" value="">
          <input id="donate_check_fund_id" name="fund_id" type="hidden" value="">
        </div>
        <div class="clear"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-mat btn-default disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel']; ?></button>
          <button type="button" class="btn btn-main btn-mat disable_btn" onclick="tokenRequest()" id="2checkout_btn_wallet"><?php echo $wo['lang']['pay']; ?></button>
        </div>
      </form>
    </div>
  </div>
</div>
<?php } ?>
<?php if ($wo['config']['paystack_payment'] == 'yes' && !empty($wo['config']['paystack_secret_key'])) { ?>
<div class="modal fade" id="paystack_fund_modal" role="dialog" data-keyboard="false">
  <div class="modal-dialog wow_mat_mdl modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><?php echo $wo['lang']['paystack'] ?></h4>
      </div>
      <form class="form form-horizontal" method="post" id="paystack_fund_form" action="#">
        <div class="modal-body">
          <div id="paystack_fund_alert"></div>
          <div class="clear"></div>
          <label class="tag_field">
            <input id="paystack_fund_email" type="email" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['email']) ?>">
            <span><?php echo $wo['lang']['email']; ?></span>
          </label>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <input type="hidden" name="paystack_fund_id" id="paystack_fund_id">
        <input type="hidden" name="paystack_fund_amount" id="paystack_fund_amount">
        <div class="modal-footer">
          <button type="button" class="btn btn-mat btn-default disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel']; ?></button>
          <button type="button" class="btn btn-main btn-mat disable_btn" id="paystack_btn" onclick="InitializeFundPaystack()"><?php echo $wo['lang']['pay']; ?></button>
        </div>
      </form>
    </div>
  </div>
</div>
<?php } ?>
<?php if ($wo['config']['cashfree_payment'] == 'yes' && !empty($wo['config']['cashfree_client_key']) && !empty($wo['config']['cashfree_secret_key'])) { ?>
<div class="modal fade" id="cashfree_wallet_modal" role="dialog" data-keyboard="false">
  <div class="modal-dialog wow_mat_mdl modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><?php echo $wo['lang']['cashfree'] ?></h4>
      </div>
      <form class="form form-horizontal" method="post" id="cashfree_form" action="#">
        <div class="modal-body">
          <div id="cashfree_wallet_alert"></div>
          <div class="clear"></div>
          <label class="tag_field">
            <input id="cashfree_name" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['name']) ?>">
            <span><?php echo $wo['lang']['name']; ?></span>
          </label>
          <label class="tag_field">
            <input id="cashfree_email" type="email" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['email']) ?>">
            <span><?php echo $wo['lang']['email']; ?></span>
          </label>
          <label class="tag_field">
            <input id="cashfree_phone" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['phone_number']) ?>">
            <span><?php echo $wo['lang']['phone_number']; ?></span>
          </label>
          <input type="hidden" name="cashfree_type" id="cashfree_type">
          <input type="hidden" name="cashfree_fund_id" id="cashfree_fund_id">
            <input type="hidden" name="cashfree_fund_amount" id="cashfree_fund_amount">
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-mat btn-default disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel']; ?></button>
          <button type="button" class="btn btn-main btn-mat disable_btn" id="cashfree_btn" onclick="SignatureWalletCashfree()"><?php echo $wo['lang']['pay']; ?></button>
        </div>
      </form>
    </div>
  </div>
</div>
<?php } ?>
<?php if ($wo['config']['razorpay_payment'] == 'yes' && !empty($wo['config']['razorpay_key_id']) && !empty($wo['config']['razorpay_key_secret'])) { ?>
<div class="modal fade" id="razorpay_modal" role="dialog" data-keyboard="false">
  <div class="modal-dialog wow_mat_mdl modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><?php echo $wo['lang']['razorpay'] ?></h4>
      </div>
      <form class="form form-horizontal" method="post" id="razorpay_form" action="#">
        <div class="modal-body">
          <div id="razorpay_alert"></div>
          <div class="clear"></div>
          <label class="tag_field">
            <input id="razorpay_name" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['name']) ?>">
            <span><?php echo $wo['lang']['name']; ?></span>
          </label>
          <label class="tag_field">
            <input id="razorpay_email" type="email" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['email']) ?>">
            <span><?php echo $wo['lang']['email']; ?></span>
          </label>
          <label class="tag_field">
            <input id="razorpay_phone" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['phone_number']) ?>">
            <span><?php echo $wo['lang']['phone_number']; ?></span>
          </label>
          <input type="hidden" name="razorpay_fund_id" id="razorpay_fund_id">
          <input type="hidden" name="razorpay_fund_amount" id="razorpay_fund_amount">
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-mat btn-default disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel']; ?></button>
          <button type="button" class="btn btn-main btn-mat disable_btn" id="razorpay_btn" onclick="SignatureRazorpay()"><?php echo $wo['lang']['pay']; ?></button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<?php } echo Wo_LoadPage('modals/challenge-your-friends'); ?>
<script type="text/javascript">

<?php if ($wo['config']['razorpay_payment'] == 'yes' && !empty($wo['config']['razorpay_key_id']) && !empty($wo['config']['razorpay_key_secret'])) { ?>
function pay_using_razorpay_fund(fund_id,amount) {
  $("#razorpay_fund_id").val(fund_id);
  $("#razorpay_fund_amount").val(amount);
  $("#razorpay_alert").html('');
  $('#fund_payment_donate_modal').modal('hide');
  $('#razorpay_modal').modal({
        show: true
    });
}

function SignatureRazorpay() {
  $('#razorpay_btn').html("<?php echo($wo['lang']['please_wait']) ?>");
  $('#razorpay_btn').attr('disabled','true');
    var merchant_order_id = "<?php echo(round(111111,9999999)) ?>";
    var card_holder_name_id = $('#razorpay_name').val();
    var type = $('#razorpay_type').val();
    var email = $('#razorpay_email').val();
    var phone = $('#razorpay_phone').val();
    //var currency_code_id = "<?php echo($wo['config']['currency']) ?>";
    var currency_code_id = "INR";

    if (!email || !phone || !card_holder_name_id) {
      $('#razorpay_alert').html("<div class='alert alert-danger'><?php echo($wo['lang']['please_check_details']) ?></div>");
    setTimeout(function () {
      $('#razorpay_alert').html("");
    },3000);
    $('#razorpay_btn').html("<?php echo($wo['lang']['pay']) ?>");
    $('#razorpay_btn').removeAttr('disabled');
    return false;
    }


    var merchant_total = Number($('#razorpay_fund_amount').val()) * 100;
    var fund_id = $('#razorpay_fund_id').val();
    
    var razorpay_options = {
        key: "<?php echo $wo['config']['razorpay_key_id']; ?>",
        amount: merchant_total,
        name: "<?php echo $wo['config']['siteName']; ?>",
        description: "Donate",
        image: '<?php echo $wo['config']['theme_url'];?>/img/logo.<?php echo $wo['config']['logo_extension'];?>',
        netbanking: true,
        currency: currency_code_id,
        prefill: {
            name: card_holder_name_id,
            email: email,
            contact: phone
        },
        notes: {
            soolegal_order_id: merchant_order_id,
        },
        handler: function (transaction) {
            jQuery.ajax({
                url:Wo_Ajax_Requests_File() + '?f=razorpay&s=fund',
                type: 'post',
                data: {payment_id: transaction.razorpay_payment_id, order_id: merchant_order_id, card_holder_name_id: card_holder_name_id,  merchant_amount: merchant_total, currency: currency_code_id, type: 'fund', fund_id: fund_id}, 
                dataType: 'json',
                success: function (data) {
                  if (data.status == 200) {
                    window.location = data.url;
                  }
                  else{
                    if (data.url != '') {
                      window.location = data.url;
                    }
                    else{
                      $('#razorpay_alert').html("<div class='alert alert-danger'>"+data.message+"</div>");
              setTimeout(function () {
                $('#razorpay_alert').html("");
              },3000);
              $('#razorpay_btn').html("<?php echo($wo['lang']['pay']) ?>");
              $('#razorpay_btn').removeAttr('disabled');

                    }
                  }
                }
            });
        },
        "modal": {
            "ondismiss": function () {
                // code here
            }
        }
    };
    // obj        
    var objrzpv1 = new Razorpay(razorpay_options);
    objrzpv1.open();
    e.preventDefault();
}
<?php } ?>
<?php if ($wo['config']['paysera_payment'] == 'yes' && !empty($wo['config']['paysera_project_id']) && !empty($wo['config']['paysera_sign_password'])) { ?>
  function pay_using_paysera_funding(fund_id,amount) {
    $('.btn-paysera').attr('disabled', true).text("<?php echo $wo["lang"]["please_wait"]?>");
      $.post(Wo_Ajax_Requests_File() + '?f=paysera&s=get_url', {type:'fund',amount:amount,fund_id:fund_id}, function(data) {
          if (data.status == 200) {
              window.location.href = data.url;
          } else {
            $('.btn-paysera').attr('disabled', false).html("Paysera App not set yet.");
          }
      });
  }
<?php } ?>


  function pay_using_cashfree_funding(fund_id,amount) {
    $("#cashfree_fund_id").val(fund_id);
    $("#cashfree_fund_amount").val(amount);
    $("#cashfree_wallet_alert").html('');
    $('#fund_payment_donate_modal').modal('hide');
    $('#cashfree_wallet_modal').modal({
          show: true
      });
  }

  function SignatureWalletCashfree() {
    $('#cashfree_btn').html("<?php echo($wo['lang']['please_wait']) ?>");
    $('#cashfree_btn').attr('disabled','true');
    type = $('#cashfree_type').val();
    email = $('#cashfree_email').val();
    name = $('#cashfree_name').val();
    phone = $('#cashfree_phone').val();
    amount = $('#cashfree_fund_amount').val();
    fund_id = $('#cashfree_fund_id').val();
    $.post(Wo_Ajax_Requests_File() + '?f=cashfree&s=initialize', {type:'fund',email:email,name:name,phone:phone,amount:amount,fund_id:fund_id}, function(data) {
      if (data.status == 200) {
        $('body').append(data.html);
        document.getElementById("redirectForm").submit();
      } else {
        $('#cashfree_wallet_alert').html("<div class='alert alert-danger'>"+data.message+"</div>");
        setTimeout(function () {
          $('#cashfree_wallet_alert').html("");
        },3000);
      }
      $('#cashfree_btn').html("<?php echo($wo['lang']['pay']) ?>");
      $('#cashfree_btn').removeAttr('disabled');
    });
  }

  function pay_using_funding_paystack(fund_id,amount) {
    $("#paystack_fund_id").val(fund_id);
    $("#paystack_fund_amount").val(amount);
    $("#paystack_fund_alert").html('');
    $('#fund_payment_donate_modal').modal('hide');
    $('#paystack_fund_modal').modal({
          show: true
      });
  }

  function InitializeFundPaystack() {
    $('#paystack_btn').html("<?php echo($wo['lang']['please_wait']) ?>");
      $('#paystack_btn').attr('disabled','true');
    email = $('#paystack_fund_email').val();
    amount = $('#paystack_fund_amount').val();
    fund_id = $('#paystack_fund_id').val();
    $.post(Wo_Ajax_Requests_File() + '?f=paystack&s=initialize', {type:'fund',email:email,amount:amount,fund_id:fund_id}, function(data) {
      if (data.status == 200) {
        window.location.href = data.url;
      } else {
        $('#paystack_fund_alert').html("<div class='alert alert-danger'>"+data.message+"</div>");
        setTimeout(function () {
          $('#paystack_fund_alert').html("");
        },3000);
      }
      $('#paystack_btn').html("<?php echo($wo['lang']['pay']) ?>");
        $('#paystack_btn').removeAttr('disabled');
    });
  }

  $(document).on('change', '#upload', function(event) {
    let imgPath = $(this)[0].files[0].name;
      if (typeof(FileReader) != "undefined") {
          let reader = new FileReader();
          reader.onload = function(e) {
        $('#receipt_img_preview').attr('src', e.target.result);
          }
          reader.readAsDataURL(this.files[0]);
      }
    $('#bank_transfer_donate_modal').addClass('up_rec_img_ready');
  });
  jQuery(document).ready(function($) {
   

    $('#bank_transfer_donate_modal').ajaxForm({
      url: Wo_Ajax_Requests_File() + '?f=funding&s=bank',
      beforeSend: function() {
      $('#bank_transfer_donate_modal').find('.disable_btn').attr('disabled','disabled');
    },
    success: function(data) {
      if (data['status'] == 200) {
        $("#blog-alert").html('<div class="alert alert-success">'+ data['message'] +'</div>');
        setTimeout(function () {
          // window.location = "<?php echo $wo['config']['site_url'];?>";
          $(".prv-img").html('<div class="thumbnail-rendderer"><div><h4 class="bold"><?php echo $wo['lang']['drop_img_here']; ?></h4><div class="error-text-renderer"></div><div><span><?php echo $wo['lang']['or']; ?></span><p><?php echo $wo['lang']['browse_to_upload']; ?></p></div></div> </div>');
          $("#blog-alert").html('');
          $('#configreset').click();

        },3000)
      } else if (data['message']) {
        $("#blog-alert").html('<div class="alert alert-danger">' + data['message'] + '</div>');
      } 
      $('#bank_transfer_donate_modal').find('.disable_btn').removeAttr("disabled");
    }});
  });

// Called when token created successfully.
var successCallback = function(data) {
  console.log(data);
    var myForm = document.getElementById('2checkout_form_donate_wallet');
    $.post(Wo_Ajax_Requests_File() + '?f=funding&s=2checkout', {card_number: $("#card_number").val(),card_cvc: $("#card_cvc").val(),card_month: $("#card_month").val(),card_year: $("#card_year").val(),card_name: $("#card_name").val(),card_address: $("#card_address").val(),card_city: $("#card_city").val(),card_state: $("#card_state").val(),card_zip: $("#card_zip").val(),card_country: $("#card_country").val(),card_email: $("#card_email").val(),card_phone: $("#card_phone").val(),amount: $('#donate_check_amount').val(),fund_id: $('#donate_check_fund_id').val(),token: data.response.token.token}, function(data, textStatus, xhr) {
      $('#2checkout_btn_wallet').html("<?php echo($wo['lang']['pay']) ?>");
      $('#2checkout_btn_wallet').attr('disabled');
      $('#2checkout_btn_wallet').removeAttr('disabled');
      $('#2checkout_form_donate_wallet').find('.disable_btn').removeAttr("disabled");
      if (data.status == 200) {
          window.location.href = data.location;
        } else {
          $('#2checkout_alert_donate_wallet').html("<div class='alert alert-danger'>"+data.error+"</div>");
      setTimeout(function () {
        $('#2checkout_alert_donate_wallet').html("");
      },3000);
        }
      /*optional stuff to do after success */
    });
};

// Called when token creation fails.
var errorCallback = function(data) {
  $('#2checkout_btn_wallet').html("<?php echo($wo['lang']['pay']) ?>");
  $('#2checkout_btn_wallet').removeAttr('disabled');
  $('#2checkout_form_donate_wallet').find('.disable_btn').removeAttr("disabled");
    if (data.errorCode === 200) {
        tokenRequest();
    } else {
      $('#2checkout_alert_donate_wallet').html("<div class='alert alert-danger'>"+data.errorMsg+"</div>");
    setTimeout(function () {
      $('#2checkout_alert_donate_wallet').html("");
    },3000);
    }
};

var tokenRequest = function() {
  $('#card_number').val($('#_number_').val());
  $('#2checkout_btn_wallet').html("<?php echo($wo['lang']['please_wait']) ?>");
  $('#2checkout_btn_wallet').attr('disabled','true');
  if ($("#card_number").val() != '' && $("#card_cvc").val() != '' && $("#card_month").val() != '' && $("#card_year").val() != '' && $("#card_name").val() != '' && $("#card_address").val() != '' && $("#card_city").val() != '' && $("#card_state").val() != '' && $("#card_zip").val() != '' && $("#card_country").val() != 0 && $("#card_email").val() != '' && $("#card_phone").val() != '') {
    $('#2checkout_form_donate_wallet').find('.disable_btn').attr('disabled','disabled');
    // Setup token request arguments
      var args = {
          sellerId: "<?php echo($wo['config']['checkout_seller_id']) ?>",
          publishableKey: "<?php echo($wo['config']['checkout_publishable_key']) ?>",
          ccNo: $("#card_number").val(),
          cvv: $("#card_cvc").val(),
          expMonth: $("#card_month").val(),
          expYear: $("#card_year").val()
      };
      // Make the token request
     // TCO.requestToken(successCallback, errorCallback, args);
  }
  else{
    $('#2checkout_btn_wallet').html("<?php echo($wo['lang']['pay']) ?>");
    $('#2checkout_btn_wallet').removeAttr('disabled');
    $('#2checkout_alert_donate_wallet').html("<div class='alert alert-danger'><?php echo($wo['lang']['please_check_details']) ?></div>");
    setTimeout(function () {
      $('#2checkout_alert_donate_wallet').html("");
    },3000);
  }
};

$(function() {
    // Pull in the public encryption key for our environment
   // TCO.loadPubKey("<?php echo($wo['config']['checkout_mode']) ?>");
});
</script>
<script>
// endorse campaign
  function endorseRequest(){
    $(function(){
      $('#endorseForm').ajaxSubmit({
        url: Wo_Ajax_Requests_File() + '?f=funding&s=funding_endorse',
        beforeSend: function() {
          $('#endorseBtn').attr('disabled','disabled');
        },
        success: function(data) {
          if (data['status'] == 200) {
          $("#show-alert").html('<div class="alert alert-success">'+ data['message'] +'</div>');
            setTimeout(function () {
        // window.location = "<?php echo $wo['config']['site_url'];?>";
            $("#show-alert").html('');
          },10000)
          } else if (data['message']) {
            $("#blog-alert").html('<div class="alert alert-danger">' + data['message'] + '</div>');
          } 
          $('#endorseBtn').removeAttr("disabled");
        }
      });
    });
  }
  //  report campiagn
  function reportRequest(){
    $(function(){
      $('#report_campaign').modal('show');
    });
  }

  function Wo_ReportChallenge(id = false,report = true)
  {
    var report_text = $("#report-campaign-text-<?php echo $wo['user']['id']; ?>").val();
    //alert(id+report_text);

    if (!id) {return false;}
    else if(report == true){
    if (!report_text) {
      return false;}  
    }
    $('#pull-right').find('.disable_btn').attr('disabled','disabled');
    $.ajax({
      url: Wo_Ajax_Requests_File() + '?f=reports&s=report_challenge',
      type: 'POST',
      dataType: 'json',
      data: {text:report_text,challenge_id:id},
    })
    .done(function(data) {
      console.log("data",data);
      if(data.status == 200 && data.code == 0){
       // alert('report canceled');
        $("#show-alert").html('<div class="alert alert-success">Report cancelled</div>');
        $(".show-message").html('<div class="alert alert-success">Report cancelled</div>');
        setTimeout(function () {
          $(".show-message").html('');
          $("#report_campaign").modal('hide');
        },10000)

      }
      else if (data.status == 200 && data.code == 1) {
        //alert('Challenge is Reported');
        $("#report-campaign-text-<?php echo $wo['user']['id']; ?>").val('');
       // $("#report_campaign").modal('hide');
        //location.reload();
        $("#show-alert").html('<div class="alert alert-success">Challenge is Reported</div>');
        $(".show-message").html('<div class="alert alert-success">Challenge is Reported</div>');
        setTimeout(function () {
          $(".show-message").html('');
          $("#report_campaign").modal('hide');
        },10000)

      }
      $('#pull-right').find('.disable_btn').removeAttr("disabled");
    })
    .fail(function() {
      console.log("error");
    })
  }

  function Wo_EndorseChallenge(id = false,report = true)
  {
    var endorse_text = $("#endorse-challenge-text-<?php echo $wo['user']['id']; ?>").val();
    //alert(id+report_text);

    if (!id) {return false;}
    else if(report == true){
    if (!endorse_text) {
      return false;}  
    }
    $('#pull-right').find('.disable_btn').attr('disabled','disabled');
    $.ajax({
      url: Wo_Ajax_Requests_File() + '?f=funding&s=challenge_endorse',
      type: 'POST',
      dataType: 'json',
      data: {comment:endorse_text,challenge_fund_id:id},
    })
    .done(function(data) {
      console.log("data",data);
      if(data.status == 200)
      {
        $(".show-message").html('<div class="alert alert-success">'+data.message+'</div>');
        setTimeout(function () {
          $(".show-message").html('');
          $("#endorse_challenge").modal('hide');
          location.reload();
        },10000)
      }
      
      
    })
    .fail(function() {
      console.log("error");
    })
  }

 function rejectThischallenge(challenge_fund_id)
  {
    var message="Are you sure you want to reject this challenge?";
    if(confirm(message))
    {
      rejectAChallenge(challenge_fund_id);
    }
    else
    {
        return false;
    }
  }
  function rejectAChallenge(chal_fund_id)
  {
    $.ajax({
        url: Wo_Ajax_Requests_File() + '?f=funding&s=challenge_reject',
          type:'POST',
          data:{challenge_fund_id:chal_fund_id},
            success: function(data) 
            {
              $('#overlay').fadeOut(100);
              if (data['status'] == 200) 
              {
               // $("#funding-alert").html('<div class="alert alert-success">'+ data['message'] +'</div>');
                alert(data['message'])
                setTimeout(function () {
                    window.location = data.url;
                }, 3000);
              } else if (data['message']) 
              {
               alert(data['message'])

              }                          
            },
            error:function(data)
            {
                $('#overlay').fadeOut(100);
                $('#insert-funding').find('.disable_btn').removeAttr("disabled");
            }
    });
  }
</script>
<script>
$(document).keydown(function(e) {
    if (e.keyCode == 27) {
        Wo_CloseLightbox();
    }
    $(".lighbox.textarea").triggeredAutocomplete({
       hidden: '#hidden_inputbox_comment_lighbox',
       source: Wo_Ajax_Requests_File() + "?f=mention",
       trigger: "@" 
    });
});

function setDonationValue(value){
    var oldValue = 0;
    if(parseInt($('#fund_donate_amount').val())){
      var oldValue = parseInt($('#fund_donate_amount').val());
    }
    var value = parseInt(value);
    var newValue = oldValue+value;
    $('#fund_donate_amount').val(newValue);
    $('#bank_donate_price').val(newValue);

    $('#fund_donate_amount').focus();

  }
  
  function clearDonationValue(){
        $('#fund_donate_amount').val("");
        $('#bank_donate_price').val("");
    }


function zoomin(id){
  var myImg = document.getElementById("wo_zoom_<?php echo $wo['story']['id'];?>");
  $(myImg).addClass("double_zoom");
  $('#draggableHelper').draggable({ cursor: "move", revert: true, disabled: false });
}
function zoomout(id){
  var myImg = document.getElementById("wo_zoom_<?php echo $wo['story']['id'];?>");
  $(myImg).removeClass("double_zoom");
  $('#draggableHelper').draggable({ disabled: true, revert: true });
}

var angle = 0;
function rotate(id){
  angle += 90;
  $('#wo_zoom_<?php echo $wo['story']['id'];?>').css({'transform': 'rotate(-' + angle + 'deg)'});
  $.get(Wo_Ajax_Requests_File(), {
    f: 'rotate_image',
    angle: angle,
    image: '<?php echo $wo['story']['id'];?>'
  }, function (data) {
    
  });
}
</script>