<div class="page-margin" >
   <div class="container">
       <div class="row">      
            <div class="col-lg-1"></div>
            <div class="col-lg-10 tag_sett_page tag_mobi_sett_page">
                
                <h2 class="tag_page_title"><?=ucwords($wo['lang']['challenge_invitation']);?></h2>
   		<div class="page-margin wow_content pb-30">
            
            <div class="alert alert-message">
                <div>
                    <div class="postMeta--author-avatar large">
                        <img src="<?=$wo['fund']['user_data']['avatar']?>" alt="<?=$wo['fund']['user_data']['name']?>">                                                    
                    </div>
                    <div class="postMeta--author-text">
                            <span class="user-popover" data-id="<?=$wo['fund']['user_data']['id']?>" data-type="user">
                                <a class="bold" href="javascript:void(0);"><?=$wo['fund']['user_data']['name']?></a>
                            </span>
                            <br>
                            <span class="time"><?=Wo_Time_Elapsed_String($wo['notify']->time);?></span>
                    </div>
                </div>
                <p class="mt-15"><?=$wo['notify']->text?></p>
			</div>
            <div class="col-md-8 mx-auto">
                <div class="wow_content fundings">
                    <div class="avatar">
            
                        <?php
                            $post_id = Wo_GetPostIdByChallengeFundId($wo['fund']['id']);
                            $filename=$wo['fund']['fileName'];
                            if(!empty($wo['fund']['fileThumb']) && $wo['fund']['fileThumb'] !=NULL)
                            {
                                $filename=$wo['fund']['fileThumb'];
                            }
                            
                            $media = array(
                                'type' => 'post',
                                'storyId' => $post_id,
                                'filename' => $filename,
                                'name' =>  $wo['fund']['file'],
                                'postFileThumb' => $wo['fund']['fileThumb'],
                            );
                            echo Wo_DisplaySharedFile($media, 'show_fund', $wo['fund']['fund_data']['cache']);
                       
                        ?>
                    </div>
                    <div class="fundings_desc">
                       <h3>
                            <?php echo stripslashes($wo['fund']['challenge']['title']); ?>
                        </h3>
                        <p class="desc one_line">
                            <?php   echo $wo['lang']['raising_funds_for'] . ':'; ?>
                        </p>
                        
                    </div>
                    <div class="fundings_desc">
                        <div class="campaign_details rounded">  
                           <img src="<?= $wo['fund']['fund_data']['image']; ?>" alt="campaign thumbnail" class="rounded campaign_thumbnail"/>
                            <h4><?php 
                                $title=$wo['fund']['fund_data']['title'];
                                if(strlen($title) > 50){
                                    echo $title = mb_substr($title, 0, 47, "UTF-8") . "..."; 
                                }else{
                                    echo $title;
                                }                                    
                                ?>
                                
                            </h4>
                               
                            <div class="clear"></div>
                            
                            <div class="campaign_progress">
                                <div>
                                    <span class="pull-right">
                                    <?php if(!empty($wo['fund']['fund_data']['due_date'])){ ?>
                                            <time><?php echo Wo_Time_Elapsed_String(strtotime($wo['fund']['fund_data']['due_date']),"due_date"); ?></time>                                          
                                    <?php }?>
                                    </span>
                                    <p><span class="bold big-text"><?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].number_format($wo['fund']['fund_data']['raised']); ?></span> of <?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].number_format($wo['fund']['fund_data']['amount']); ?> <?php echo $wo['lang']['raised_of']; ?></p>
                                </div>
                                <div class="fund_raise_bar">
                                    <div class="progress mb-2">
                                        <div class="progress-bar" role="progressbar" style="width: <?php echo $wo['fund']['fund_data']['bar']; ?>%" aria-valuenow="<?php echo $wo['fund']['fund_data']['bar']; ?>" aria-valuemin="0" aria-valuemax="<?php echo($wo['fund']['fund_data']['amount']) ?>"></div>
                                    </div>
                                </div>     
                            </div>    
                        </div>
                    </div> 
                    <div class="fundings_footer text-center">
                        <a class="btn btn-main btn-mat" href="<?=$wo['config']['site_url'].'/show_challenge/'.$wo['fund']['hashed_id']; ?>"  title="<?=$wo['lang']['view'] .' '.$wo['lang']['challenge'];?>" >
					       <?php echo $wo['lang']['view'] .' '.$wo['lang']['challenge'];?>
					   </a>
					  
                    </div>
                </div>
            </div>
        </div>
        
        
        </div>
            <div class="col-lg-1"></div>
        </div>
        
        
	</div>
</div>