<?php 
// sameer work
if (empty($wo['story']['color_id']) || (!empty($wo['story']['color_id']) && empty($wo['post_colors'][$wo['story']['color_id']]))) { ?>
	<p dir="auto"><?php if (!empty($wo['story']['postText'])) { ?>
		<span data-translate-text="<?php echo $wo['story']['id']; ?>"><?php echo $wo['story']['postText']; ?></span>
		<?php } ?>
		<?php if (!empty($wo['story']['postFeeling']) && $extra_exists == 1) { ?>
			<span class="feeling-text">&nbsp;<?php echo $wo['lang']['feeling'];?> <i class="twa-lg twa twa-<?php echo $wo['story']['postFeelingIcon'];?>"></i> <?php echo $wo['lang'][$wo['story']['postFeeling']];?></span>
		<?php } ?>
		<?php if (!empty($wo['story']['postTraveling']) && $extra_exists == 1) { ?>
			<span class="feeling-text">&nbsp;<?php echo $wo['lang']['traveling'];?> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"><path fill="currentColor" d="M17 20H7v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-9H2V8h1V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v3h1v4h-1v9a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-1zM5 5v7h14V5H5zm2.5 13a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm9 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"></path></svg> <?php echo $wo['story']['postTraveling'];?></span>
		<?php } ?>
		<?php if (!empty($wo['story']['postWatching']) && $extra_exists == 1) { ?>
			<span class="feeling-text">&nbsp;<?php echo $wo['lang']['watching'];?> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"><path fill="currentColor" d="M15.414 5h5.594c.548 0 .992.445.992 1v14c0 .552-.455 1-.992 1H2.992A.994.994 0 0 1 2 20V6c0-.552.455-1 .992-1h5.594L6.05 2.464 7.464 1.05 11.414 5h1.172l3.95-3.95 1.414 1.414L15.414 5z"></path></svg> <?php echo $wo['story']['postWatching'];?></span>
		<?php } ?>
		<?php if (!empty($wo['story']['postPlaying']) && $extra_exists == 1) { ?>
			<span class="feeling-text">&nbsp;<?php echo $wo['lang']['playing'];?> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"><path fill="currentColor" d="M17 4a6 6 0 0 1 6 6v4a6 6 0 0 1-6 6H7a6 6 0 0 1-6-6v-4a6 6 0 0 1 6-6h10zm-7 5H8v2H6v2h1.999L8 15h2l-.001-2H12v-2h-2V9zm8 4h-2v2h2v-2zm-2-4h-2v2h2V9z"></path></svg> <?php echo $wo['story']['postPlaying'];?></span>
		<?php } ?>
		<?php if (!empty($wo['story']['postListening']) && $extra_exists == 1) { ?>
			<span class="feeling-text">&nbsp;<?php echo $wo['lang']['listening'];?> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"><path fill="currentColor" d="M4 12h3a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-7C2 6.477 6.477 2 12 2s10 4.477 10 10v7a2 2 0 0 1-2 2h-3a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h3a8 8 0 1 0-16 0z"></path></svg> <?php echo $wo['story']['postListening'];?></span>
		<?php } ?>
        </p>
<?php } ?>