<div class="page-margin">
<div class="container">
	<h2 class="tag_page_title"><?php echo $wo['lang']['my_albums']; ?></h2>
        <a href="<?php echo Wo_SeoLink('index.php?link1=create-album');?>" data-ajax="?link1=create-album" class="title_create">
            <svg width="24" height="24" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm112 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0"/></svg>
        </a>
	<div class="page-margin">
		<div class="row">
			<?php
				$albums = Wo_GetUserAlbums($wo['user_id']);
				if (count($albums) > 0) {
					echo '<div class="col-xs-6 col-sm-6 col-lg-4"><div class="tag_create_album"><a href="' . Wo_SeoLink('index.php?link1=create-album') . '" data-ajax="?link1=create-album" class="valign tag_create_box"><svg height="40" viewBox="0 0 512 512" width="40" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm112 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0"></path></svg>' . $wo['lang']['create_album'] .'</a></div></div>';
					foreach ($albums as $wo['album']) {
						echo Wo_LoadPage('album/album-list');
					}
				} else { ?>
					<div class="empty_state">
						<svg xmlns="http://www.w3.org/2000/svg" width="50pt" height="50pt" viewBox="0 0 50 50"><path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:currentColor;stroke-opacity:1;stroke-miterlimit:4" d="M22 12c0 5.524-4.476 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.476 10 10zM12 8v4m0 4h0" transform="scale(2.08333)"></path></svg> <?php echo $wo['lang']['no_albums_found']; ?>
						<div><a href="<?php echo Wo_SeoLink('index.php?link1=create-album'); ?>" data-ajax="?link1=create-album" class="btn btn-mat btn-main"><?php echo $wo['lang']['create_album']; ?></a></div>
					</div>
				<?php } ?>
			<div class="clear"></div>
		</div>
	</div>
</div>
</div>