#menu-install-pwa-ios {
    overflow: visible !important;
    background-color: #efefef;
    border: 5px solid #9dcb3b;
}

.install-heading{ display: flex; align-items: center; justify-content: center; margin-bottom: 8px;}
.install-heading span{font-weight: 500; font-size: 20px;}
.banner-shadow{ box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%); }

.hide {
display: none;
}
.menu .list-custom-small a i:first-child {
    margin-left: 6px;
}
.menu input[type="text"] {
    height: 35px;
    line-height: 35px;
}
.menu textarea {
    height: 85px !important;
    padding-top: 3px !important;
}
.menu .form-field {
    margin-bottom: 5px;
}
.menu .form-field label {
    font-size: 12px;
    margin-bottom: -10px;
}
.menu {
    display: none;
    /* position: fixed; */
    /* background-color: #eeeeee;
    z-index: 101; */
    /* overflow: scroll;
    transition: all 300ms ease;
    -webkit-overflow-scrolling: touch; */
}
.menu .content {
    margin-bottom: 0 !important;
}
.menu-box-bottom {
    /* bottom: 0;
    left: 0;
    right: 0;
    height: 170px; */
    /* transform: translate3d(0, 110%, 0); */
}
.menu-box-bottom.menu-box-detached {
    /* bottom: 20px; */
    /* left: 10px; */
    /* right: 10px; */
}
.menu-box-bottom.menu-active {
    /* transform: translate3d(0%, 0, 0) !important; */
    display: block !important;
}
.menu-box-top.menu-box-detached {
    top: 10px;
    left: 10px;
    right: 10px;
}

.menu-box-left.menu-box-detached {
    top: 10px !important;
    bottom: 10px;
    top: calc(0px + (constant(safe-area-inset-top))*0.75) !important;
    top: calc(0px + (env(safe-area-inset-top))*0.75) !important;
    bottom: calc(0px + (constant(safe-area-inset-bottom))*0.75) !important;
    bottom: calc(0px + (env(safe-area-inset-bottom))*0.75) !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.menu-box-right.menu-box-detached {
    top: 10px !important;
    bottom: 10px;
    top: calc(0px + (constant(safe-area-inset-top))*0.75) !important;
    top: calc(0px + (env(safe-area-inset-top))*0.75) !important;
    bottom: calc(0px + (constant(safe-area-inset-bottom))*0.75) !important;
    bottom: calc(0px + (env(safe-area-inset-bottom))*0.75) !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.opacity-80 {
    opacity: 0.8;
}

.padd10{
    padding: 10px;
}
/*  */

.btnApp {
    border: 0;
    padding: 1px 20%;
    text-align: center; 
    border-radius: 10px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    box-shadow: 0 2px 2px #ddd;
    font-size: 12.96px;
    line-height: 1.4;
    background-color: #9dcb3b;
    color: white;
    }
    .usePWA {
    width: 100%;
    /* margin-bottom: 5px; */
    line-height: 2;
    white-space: nowrap;
    }
    .f1 div.usePWA {
    display: none;
    /* width: 30%; */
    line-height: 2;
    white-space: nowrap;
    }
    /* 
    @media only screen and (max-width: 600px) {
    .f1 div.usePWA {
    display: none;
    width: 30%;
    line-height: 2;
    white-space: nowrap;
    }
    }
     */
    /* .fa {
    display: inline-block;
    font: normal 14px/1 Font Awesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    } */
    .f1  {
    /* width: 30%; */
    text-align: -webkit-center;

    line-height: 2.6;
    
    }
    .f1 div.available {
    display: block;
    }
    .popup_ios__close {
        color: #848484;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 2.25rem;
        position: absolute;
        right: 2rem;
        top: 0.5rem;
    }
    .show{
        display: block !important;
    }