<tr class="setting-userlist <?php echo ($wo['endorse']['seen'] == 0) ? ' report-not-seen' : '';?> " id="EndorseID_<?php echo $wo['endorse']['id']?>" >
   <td><?php echo $wo['endorse']['id']?></td>
   
   <td>
      <a href="<?php echo $wo['endorse']['user_data']['url']; ?>">
      <img src="<?php echo $wo['endorse']['user_data']['avatar'];?>" class="setting-avatar" alt="<?php echo $wo['endorse']['user_data']['avatar'];?> Profile Picture">
      <?php echo $wo['endorse']['user_data']['name']; ?>
      </a>
 
   </td>
   <td class="pointer" width="400">
      <?php echo ucfirst($wo['endorse']['text']); ?>
   </td>
   <td class="pointer">
      <?php echo ucfirst($wo['endorse']['type']); ?>
   </td>
   <td width="200">
      <?php if($wo['endorse']['type'] =='Campaign'){ ?>
      <a href="<?=$wo['config']['site_url'].'/show_fund/'.$wo['endorse']['campaign']->hashed_id; ?>" target="_blank">
          <?php  echo substr($wo['endorse']['campaign']->title, 0, 20) .((strlen($wo['endorse']['campaign']->title) > 20) ? '...' : '');
           //echo $wo['endorse']['campaign']->title;?>
      </a>
      <?php }elseif($wo['endorse']['type'] =='User'){ ?>
         <a href="<?=$wo['config']['site_url'].'/'.$wo['endorse']['profile']->username; ?>" target="_blank">
          <?php echo $wo['endorse']['profile']->name;?>
      </a>

   <?php } ?>
   
   </td>
   <td>
      <div class=" ajax-time" title="<?php echo date('c',$wo['endorse']['time']); ?>">
         <?php echo Wo_Time_Elapsed_String($wo['endorse']['time']);?>
      </div>
   </td>
   <td>
     <!--  <button class="btn btn-success waves-effect waves-light" onclick="Wo_MarkSafeEndorsePost(<?php echo $wo['endorse']['id']?>);">MARK SAFE</button> -->
      <button class="btn btn-danger waves-effect waves-light" onclick="Wo_DeleteEndorseContent(<?php echo $wo['endorse']['id']?>);">DELETE</button>
      <button class="btn btn-info waves-effect waves-light" onclick="$('#read_report').modal().find('.report_text').text('<?php echo htmlspecialchars($wo['endorse']['text']); ?>')">VIEW ENDORSE</button>
     
   </td>
</tr>