
<div class="tag_sidebar">
	<div class="sidebar_innr tag_scroll tag_sidebar_mobi">
        <?php if ($wo['loggedin'] == true) { ?>
            <div class="tag_sidebar_section_prnt user_profile">
                <div class="collapse show" id="menuGroupUserProfile">
                    <div class="tag_sidebar_section">
                        <a href="<?php echo($wo['user']['url']) ?>" data-ajax="?link1=timeline&u=<?php echo($wo['user']['username']) ?>" class="valign my-profile">
                            <div><img class="rounded-circle profile-photo" src="<?php echo($wo['user']['avatar']) ?>" alt="Picture" /></div>
                            <div class="profile-details">
                                <div class="name"><?php echo $wo['user']['name'];?></div>
                                <div class="time">@<?php echo $wo['user']['username'];?></div>                                             
                            </div>
                        </a>
                    </div>
                </div>
            </div>    
            <div class="tag_sidebar_section_prnt">
                <div class="collapse show" id="menuGroupCore">
					<div class="tag_sidebar_section">
						<a href="<?php echo $wo['config']['site_url']; ?>" data-ajax="?index.php?link1=home">
                            <!--<svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-277.000000, -77.000000)"> <g transform="translate(275.000000, 75.000000)"> <polygon points="0 0 25 0 25 25 0 25"></polygon> <path d="M3.5,2 L21.5,2 C22.3284271,2 23,2.67157288 23,3.5 L23,4.5 C23,5.32842712 22.3284271,6 21.5,6 L3.5,6 C2.67157288,6 2,5.32842712 2,4.5 L2,3.5 C2,2.67157288 2.67157288,2 3.5,2 Z M3.5,19 L21.5,19 C22.3284271,19 23,19.6715729 23,20.5 L23,21.5 C23,22.3284271 22.3284271,23 21.5,23 L3.5,23 C2.67157288,23 2,22.3284271 2,21.5 L2,20.5 C2,19.6715729 2.67157288,19 3.5,19 Z" fill="#FFB74D" fill-rule="nonzero"></path> <path d="M21,7 L21,18 L4,18 L4,7 L21,7 Z M8.5,13 L16.5,13 C16.7761424,13 17,12.7761424 17,12.5 C17,12.2238576 16.7761424,12 16.5,12 L8.5,12 C8.22385763,12 8,12.2238576 8,12.5 C8,12.7761424 8.22385763,13 8.5,13 Z M8.5,16 L14.5,16 C14.7761424,16 15,15.7761424 15,15.5 C15,15.2238576 14.7761424,15 14.5,15 L8.5,15 C8.22385763,15 8,15.2238576 8,15.5 C8,15.7761424 8.22385763,16 8.5,16 Z M8.5,10 L11.5,10 C11.7761424,10 12,9.77614237 12,9.5 C12,9.22385763 11.7761424,9 11.5,9 L8.5,9 C8.22385763,9 8,9.22385763 8,9.5 C8,9.77614237 8.22385763,10 8.5,10 Z" fill="#FF9800"></path> </g> </g> </g> </svg>-->
                            <svg version="1.1" id="newsfeed_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"> <g> <path fill="currentColor" d="M11.9,11.65H5.68V9.53c0-1.38,1.6-2.12,3.11-2.12c1.51,0,3.11,0.74,3.11,2.12V11.65z M6.96,10.37h3.66V9.53 c0-0.48-0.97-0.84-1.83-0.84c-0.86,0-1.83,0.36-1.83,0.84V10.37z"/> <path fill="currentColor" d="M8.79,8.69c-1.21,0-2.12-0.91-2.12-2.12V6.07c0-1.21,0.91-2.12,2.12-2.12s2.12,0.91,2.12,2.12v0.49 C10.91,7.78,10,8.69,8.79,8.69z M8.79,5.23c-0.58,0-0.84,0.42-0.84,0.84v0.49c0,0.42,0.26,0.84,0.84,0.84 c0.58,0,0.84-0.42,0.84-0.84V6.07C9.63,5.65,9.37,5.23,8.79,5.23z"/> <rect x="12.74" y="6.42" fill="currentColor" width="5.43" height="1.28"/> <rect x="12.74" y="8.4" fill="currentColor" width="5.43" height="1.28"/> <rect x="12.74" y="10.37" fill="currentColor" width="3.95" height="1.28"/> <polygon fill="currentColor" points="8.93,21.88 7.66,21.88 7.66,16.1 6.96,16.1 6.96,21.88 5.68,21.88 5.68,14.82 8.93,14.82 	"/> <polygon fill="currentColor" points="12.89,21.88 11.61,21.88 11.61,14.61 10.91,14.61 10.91,21.88 9.63,21.88 9.63,13.34 12.89,13.34 	"/> <polygon fill="currentColor" points="16.84,21.88 15.56,21.88 15.56,18.57 14.86,18.57 14.86,21.88 13.58,21.88 13.58,17.29 16.84,17.29 "/> <path fill="currentColor" d="M20.79,24H3.21V0h14.73l2.84,2.84V24z M4.49,22.72h15.02V3.37l-2.1-2.1H4.49V22.72z"/> <polygon fill="currentColor" points="19.16,4.74 16.05,4.74 16.05,1.63 17.33,1.63 17.33,3.46 19.16,3.46 	"/> </g> </svg> <?php echo $wo['lang']['news_feed'];?>
						</a>
                        <?php if ($wo['config']['funding_system'] == 1) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=challenges'); ?>" data-ajax="?link1=challenges">
                                                    <svg version="1.1" id="challenges_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"> <path fill="currentColor" d="M18.37,24H5.49c-0.67,0-1.21-0.61-1.21-1.36c0-0.75,0.54-1.36,1.21-1.36h3.72c0.1,0,0.19-0.11,0.19-0.25v-1.84 c0-0.1-0.05-0.2-0.12-0.23c-2.17-0.98-3.91-2.94-4.81-5.38C1.71,11.91,0,8.56,0,4.77l0-0.95c0-1.15,0.82-2.09,1.83-2.09H3.8l0-0.38 C3.8,0.61,4.35,0,5.01,0h14.08c0.33,0,0.64,0.15,0.87,0.41c0.22,0.26,0.35,0.6,0.34,0.95v0.38h1.86c1.01,0,1.83,0.94,1.83,2.09 l0,0.94c0,3.71-1.66,7.04-4.34,8.73c-0.89,2.48-2.64,4.46-4.83,5.46h0c-0.07,0.03-0.12,0.13-0.12,0.23v1.84 c0,0.14,0.08,0.25,0.19,0.25h3.47c0.67,0,1.21,0.61,1.21,1.36C19.58,23.39,19.04,24,18.37,24z M5.49,22.39 c-0.1,0-0.19,0.11-0.19,0.25c0,0.13,0.09,0.25,0.19,0.25h12.88c0.1,0,0.19-0.11,0.19-0.25c0-0.14-0.08-0.25-0.19-0.25h-3.47 c-0.67,0-1.21-0.61-1.21-1.36v-1.84c0-0.56,0.3-1.05,0.75-1.26h0c1.98-0.9,3.56-2.73,4.33-5.01l0.07-0.2l0.17-0.1 c2.45-1.46,3.98-4.47,3.98-7.85l0-0.94c0-0.54-0.36-0.97-0.81-0.97h-2.89l0-1.49c0-0.1-0.04-0.16-0.06-0.19 c-0.02-0.03-0.07-0.06-0.12-0.06H5.01c-0.1,0-0.19,0.11-0.19,0.25l0,1.49H1.83c-0.44,0-0.81,0.44-0.81,0.97l0,0.94 c0,3.44,1.57,6.47,4.09,7.91l0.17,0.1l0.07,0.2c0.78,2.25,2.35,4.05,4.31,4.94c0.46,0.21,0.75,0.7,0.75,1.26v1.84 c0,0.75-0.54,1.36-1.21,1.36H5.49z M5.02,12.23l-0.99-0.95C2.4,9.73,1.47,7.35,1.47,4.77l0-1.43h3.35l0,6.4 c0,0.35,0.02,0.71,0.05,1.06L5.02,12.23z M2.49,4.78c0,1.71,0.47,3.32,1.31,4.58l0-4.89H2.49L2.49,4.78z M19.1,12.16l0.14-1.46 c0.03-0.32,0.05-0.65,0.05-0.96l0-6.4h3.24l0,1.42c0,2.51-0.89,4.84-2.44,6.4L19.1,12.16z M20.3,4.46l0,4.74 c0.78-1.24,1.2-2.79,1.2-4.43l0-0.31H20.3z"/> </svg>
                                                    <?php echo $wo['lang']['challenges'];?>
						</a>
                        <?php } ?>                    
                        <?php if ($wo['config']['funding_system'] == 1) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=funding'); ?>" data-ajax="?link1=funding">
                            <svg version="1.1" id="campaigns_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"> <g> <path fill="currentColor" d="M6.83,24H6.41c-2.48,0-4.49-2.17-4.49-4.83v-3.55c0-0.13-0.06-0.25-0.16-0.31C0.67,14.66,0,13.45,0,12.13V9.2 c0-2.66,2.02-4.83,4.49-4.83h2.72c2.98,0,6.55-2.06,9.65-4.08c0.58-0.38,1.29-0.39,1.88-0.03c0.59,0.36,0.95,1.01,0.95,1.75v16.14 c0,0.73-0.35,1.38-0.95,1.74c-0.59,0.36-1.3,0.35-1.88-0.03c-2.05-1.33-5.08-3.16-7.75-3.8c-0.14-0.03-0.25,0.03-0.3,0.07 c-0.05,0.04-0.13,0.13-0.13,0.28V22C8.7,23.1,7.86,24,6.83,24z M4.49,6.01c-1.64,0-2.97,1.43-2.97,3.19v2.93 c0,0.72,0.37,1.39,0.96,1.74c0.59,0.35,0.95,1.02,0.95,1.74v3.55c0,1.76,1.33,3.19,2.97,3.19h0.42c0.19,0,0.34-0.16,0.34-0.37 v-5.59c0-0.61,0.25-1.18,0.7-1.56c0.45-0.38,1.02-0.53,1.58-0.39c2.23,0.54,4.76,1.77,8.2,4c0.15,0.1,0.28,0.04,0.35,0.01 c0.06-0.04,0.17-0.13,0.17-0.32V2.01c0-0.19-0.11-0.28-0.17-0.32c-0.06-0.04-0.19-0.09-0.34,0.01c-3.28,2.14-7.08,4.32-10.44,4.32 H4.49z"/> <path fill="currentColor" d="M20.61,13.72h-0.99l-0.01-0.83V6.44l0.93-0.01c0.97,0,1.91,0.43,2.56,1.19c0.64,0.74,0.96,1.71,0.89,2.72 C23.86,12.23,22.38,13.72,20.61,13.72z M21.13,8.16V12c0.73-0.23,1.29-0.93,1.34-1.78c0.04-0.55-0.14-1.08-0.49-1.49 C21.75,8.47,21.46,8.27,21.13,8.16z"/> </g> </svg> <?php echo $wo['lang']['funding'];?>
						</a>
                        <?php } ?>
                        
                        <?php if ($wo['config']['events'] == 1) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=events'); ?>" data-ajax="?link1=events">
                            <svg version="1.1" id="events_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"> <g> <rect x="0.87" y="8.35" fill="currentColor" width="22.27" height="1.73"/> <rect x="7.55" y="2.78" fill="currentColor" width="8.91" height="1.73"/> <path fill="currentColor" d="M22.02,24H1.98C0.89,24,0,23.11,0,22.02V4.76c0-1.09,0.89-1.98,1.98-1.98h2.23v1.73H1.98 c-0.14,0-0.25,0.11-0.25,0.25v17.26c0,0.14,0.11,0.25,0.25,0.25h20.04c0.14,0,0.25-0.11,0.25-0.25V4.76c0-0.14-0.11-0.25-0.25-0.25 h-2.23V2.78h2.23c1.09,0,1.98,0.89,1.98,1.98v17.26C24,23.11,23.11,24,22.02,24z"/> <path fill="currentColor" d="M20.66,6.19h-5.07V1.42c0-0.78,0.64-1.42,1.42-1.42h2.23c0.78,0,1.42,0.64,1.42,1.42V6.19z M17.32,4.45h1.61 V1.73h-1.61V4.45z"/> <path fill="currentColor" d="M8.41,6.19H3.34V1.42C3.34,0.64,3.98,0,4.76,0h2.23c0.78,0,1.42,0.64,1.42,1.42V6.19z M5.07,4.45h1.61V1.73 H5.07V4.45z"/> <rect x="8.66" y="12.25" fill="currentColor" width="2.23" height="1.73"/> <rect x="13.11" y="12.25" fill="currentColor" width="2.23" height="1.73"/> <rect x="17.57" y="12.25" fill="currentColor" width="2.23" height="1.73"/> <rect x="4.21" y="15.03" fill="currentColor" width="2.23" height="1.73"/> <rect x="8.66" y="15.03" fill="currentColor" width="2.23" height="1.73"/> <rect x="13.11" y="15.03" fill="currentColor" width="2.23" height="1.73"/> <rect x="17.57" y="15.03" fill="currentColor" width="2.23" height="1.73"/> <rect x="4.21" y="17.81" fill="currentColor" width="2.23" height="1.73"/> <rect x="8.66" y="17.81" fill="currentColor" width="2.23" height="1.73"/> <rect x="13.11" y="17.81" fill="currentColor" width="2.23" height="1.73"/> </g> </svg> <?php echo $wo['lang']['events'] ?>
						</a>
                        <?php } ?>
                        <?php if ($wo['config']['popular_posts'] == 1) { ?>
						<a href="<?php echo $wo['config']['site_url']; ?>/most_liked" data-ajax="?link1=most_liked">
							<svg version="1.1" id="popular_posts_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"> <g> <rect y="20.06" fill="currentColor" width="24" height="1.61"/> <g><rect x="16.29" y="5.82" transform="matrix(0.4731 -0.881 0.881 0.4731 4.2008 20.3305)" fill="currentColor" width="5.62" height="1.67"/><rect x="13.59" y="4.83" transform="matrix(0.8171 -0.5764 0.5764 0.8171 -1.5678 9.6467)" fill="currentColor" width="1.67" height="4.94"/><rect x="4.6" y="8.85" transform="matrix(0.4419 -0.8971 0.8971 0.4419 -3.3761 13.9337)" fill="currentColor" width="9.82" height="1.67"/><rect x="3.4" y="9.86" transform="matrix(0.8395 -0.5434 0.5434 0.8395 -5.9407 4.2529)" fill="currentColor" width="1.67" height="4.65"/> <path fill="currentColor" d="M2.39,11.61C1.07,11.61,0,10.5,0,9.13s1.07-2.48,2.39-2.48s2.39,1.11,2.39,2.48S3.7,11.61,2.39,11.61z M2.39,8.31c-0.4,0-0.72,0.37-0.72,0.82c0,0.45,0.32,0.82,0.72,0.82s0.72-0.37,0.72-0.82C3.11,8.68,2.78,8.31,2.39,8.31z"/> <path fill="currentColor" d="M6.53,18.22c-1.32,0-2.39-1.11-2.39-2.48c0-1.37,1.07-2.48,2.39-2.48s2.39,1.11,2.39,2.48 C8.91,17.1,7.84,18.22,6.53,18.22z M6.53,14.92c-0.4,0-0.72,0.37-0.72,0.82c0,0.45,0.32,0.82,0.72,0.82c0.4,0,0.72-0.37,0.72-0.82 C7.25,15.28,6.92,14.92,6.53,14.92z"/> <path fill="currentColor" d="M12.22,6.66c-1.32,0-2.39-1.11-2.39-2.48s1.07-2.48,2.39-2.48c1.32,0,2.39,1.11,2.39,2.48 S13.54,6.66,12.22,6.66z M12.22,3.36c-0.4,0-0.72,0.37-0.72,0.82c0,0.45,0.32,0.82,0.72,0.82c0.4,0,0.72-0.37,0.72-0.82 C12.94,3.73,12.62,3.36,12.22,3.36z"/> <path fill="currentColor" d="M16.88,13.26c-1.32,0-2.39-1.11-2.39-2.48c0-1.37,1.07-2.48,2.39-2.48s2.39,1.11,2.39,2.48 C19.27,12.15,18.2,13.26,16.88,13.26z M16.88,9.96c-0.4,0-0.72,0.37-0.72,0.82c0,0.45,0.32,0.82,0.72,0.82 c0.4,0,0.72-0.37,0.72-0.82C17.6,10.33,17.28,9.96,16.88,9.96z"/> <path fill="currentColor" d="M21.61,5.01c-1.32,0-2.39-1.11-2.39-2.48s1.07-2.48,2.39-2.48c1.32,0,2.39,1.11,2.39,2.48 S22.93,5.01,21.61,5.01z M21.61,1.71c-0.4,0-0.72,0.37-0.72,0.82c0,0.45,0.32,0.82,0.72,0.82c0.4,0,0.72-0.37,0.72-0.82 C22.33,2.07,22.01,1.71,21.61,1.71z"/> </g> </g> </svg> <?php echo $wo['lang']['popular_posts'];?>
						</a>
                        <?php } ?>
                        <a href="<?php echo Wo_SeoLink('index.php?link1=search?query=');?>">
                            <svg version="1.1" id="explore_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"><path fill="currentColor" d="M21.42,24c-0.3,0-0.59-0.12-0.8-0.33l-6.28-6.28c-0.21-0.21-0.33-0.5-0.33-0.8c0-0.27,0.09-0.52,0.26-0.72 l-0.01-0.01c-1.55,1.2-3.45,1.86-5.41,1.86C3.97,17.72,0,13.74,0,8.86S3.97,0,8.86,0s8.86,3.97,8.86,8.86 c0,1.96-0.66,3.86-1.86,5.41l0.01,0.01c0.44-0.37,1.1-0.34,1.52,0.07l6.28,6.28c0.44,0.44,0.44,1.16,0,1.6l-1.45,1.45 C22.01,23.88,21.72,24,21.42,24z M15.37,16.59l6.05,6.05l1.22-1.22l-6.05-6.05l-0.72,0.73l0,0L15.37,16.59z M8.86,1.29 c-4.17,0-7.57,3.39-7.57,7.57s3.39,7.57,7.57,7.57c1.84,0,3.63-0.68,5.02-1.92l0.33-0.29l0.3-0.33c1.24-1.39,1.92-3.17,1.92-5.02 C16.43,4.69,13.03,1.29,8.86,1.29z M8.86,16.03c-3.95,0-7.17-3.22-7.17-7.17c0-3.95,3.22-7.17,7.17-7.17c3.95,0,7.17,3.22,7.17,7.17 C16.03,12.81,12.81,16.03,8.86,16.03z M8.86,2.98c-3.24,0-5.88,2.64-5.88,5.88s2.64,5.88,5.88,5.88s5.88-2.64,5.88-5.88 S12.1,2.98,8.86,2.98z"/> </svg> <?php echo $wo['lang']['explore'];?>
                        </a>
						<a href="<?php echo Wo_SeoLink('index.php?link1=albums'); ?>" data-ajax="?link1=albums">
                            <svg version="1.1" id="albums_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"> <rect x="4.41" y="0.82" fill="currentColor" width="1.61" height="22.51"/> <path fill="currentColor" d="M21.1,24.08H0.93v-24H21.1V24.08z M2.54,22.59h16.95V1.56H2.54V22.59z"/> <g> <path fill="currentColor" d="M17.62,17.67H7.89v-2.83c0-2.08,3.9-3.06,4.86-3.06s4.86,0.98,4.86,3.06V17.67z M9.5,15.99h6.51v-1.15 c-0.15-0.5-2.34-1.38-3.25-1.38c-0.91,0-3.11,0.88-3.26,1.4L9.5,15.99z"/> <path fill="currentColor" d="M12.76,13.4c-1.75,0-3.12-1.38-3.12-3.15V9.48c0-1.77,1.37-3.15,3.12-3.15c1.75,0,3.12,1.38,3.12,3.15v0.77 C15.88,12.02,14.51,13.4,12.76,13.4z M12.76,8.01c-0.86,0-1.51,0.63-1.51,1.47v0.77c0,0.84,0.65,1.47,1.51,1.47 c0.86,0,1.51-0.63,1.51-1.47V9.48C14.27,8.64,13.62,8.01,12.76,8.01z"/> </g> <g> <rect y="3.29" fill="currentColor" width="3.48" height="1.49"/> <rect y="6.51" fill="currentColor" width="3.48" height="1.49"/> <rect y="9.72" fill="currentColor" width="3.48" height="1.49"/> <rect y="12.94" fill="currentColor" width="3.48" height="1.49"/> <rect y="16.15" fill="currentColor" width="3.48" height="1.49"/> <rect y="19.37" fill="currentColor" width="3.48" height="1.49"/> </g> <path fill="currentColor" d="M21.46,20.86H20.3v-1.49h1.16c0.52,0,0.93-0.39,0.93-0.86v-1.94H20.3v-1.49H24v3.42 C24,19.8,22.86,20.86,21.46,20.86z"/> <path fill="currentColor" d="M21.46,14.43H20.3v-1.49h1.16c0.52,0,0.93-0.39,0.93-0.86v-1.94H20.3V8.65H24v3.42 C24,13.37,22.86,14.43,21.46,14.43z"/> <path fill="currentColor" d="M21.46,8H20.3V6.51h1.16c0.52,0,0.93-0.39,0.93-0.86V3.71H20.3V2.22H24v3.42C24,6.94,22.86,8,21.46,8z"/> <line fill="none" x1="-3.06" y1="-12.42" x2="-3.06" y2="-12.53"/> </svg> <?php echo $wo['lang']['albums'];?>
						</a>
						<a href="<?php echo Wo_SeoLink('index.php?link1=saved-posts');?>" data-ajax="?link1=saved-posts">
                            <svg version="1.1" id="favourites_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"> <g> <path fill="currentColor" d="M12,22.46l-0.47-0.34C4.06,16.68,0.73,13.87,0.09,9.74C-0.07,8.7-0.36,5.12,2.53,2.89 c1.46-1.13,3.6-1.6,5.58-1.24C9.65,1.94,11,2.7,12,3.84c1-1.14,2.35-1.9,3.89-2.19c1.98-0.36,4.12,0.11,5.58,1.24l0,0 c2.89,2.23,2.59,5.8,2.43,6.85c-0.63,4.13-3.97,6.94-11.44,12.38L12,22.46z M6.76,3.12c-1.21,0-2.4,0.36-3.26,1.03 c-2.2,1.7-1.96,4.52-1.83,5.35c0.5,3.27,3.04,5.66,10.34,11c7.3-5.34,9.84-7.73,10.34-11c0.13-0.83,0.37-3.66-1.83-5.35 c-1.12-0.86-2.78-1.22-4.33-0.93c-1.05,0.19-2.5,0.76-3.5,2.37L12,6.69l-0.67-1.09c-1-1.62-2.45-2.18-3.5-2.37 C7.47,3.15,7.11,3.12,6.76,3.12z"/> </g> </svg> <?php echo $wo['lang']['saved_posts'];?>
						</a>
                        <?php if ($wo['config']['pages'] == 1 && $wo['loggedin'] == true) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=pages'); ?>" data-ajax="?link1=pages">
                            <svg version="1.1" id="my_pages_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"> <g> <path fill="currentColor" d="M12.27,15.32h-0.54c-2.88,0-5.22-2.34-5.22-5.22V7.93c0-2.88,2.34-5.22,5.22-5.22h0.54 c2.88,0,5.22,2.34,5.22,5.22v2.17C17.49,12.98,15.15,15.32,12.27,15.32z M11.73,4.47c-1.91,0-3.46,1.55-3.46,3.46v2.17 c0,1.91,1.55,3.46,3.46,3.46h0.54c1.91,0,3.46-1.55,3.46-3.46V7.93c0-1.91-1.55-3.46-3.46-3.46H11.73z"/> <path fill="currentColor" d="M20.2,19.32h-1.76v-0.9c0-1.83-3.17-3.1-6.01-3.1h-0.86c-2.84,0-6.01,1.27-6.01,3.1v0.9H3.8v-0.9 c0-2.72,3.41-4.86,7.77-4.86h0.86c4.36,0,7.77,2.13,7.77,4.86V19.32z"/> <polygon fill="currentColor" points="1.76,5.22 0,5.22 0,0 5.22,0 5.22,1.76 1.76,1.76 "/> <polygon fill="currentColor" points="5.22,24 0,24 0,18.78 1.76,18.78 1.76,22.24 5.22,22.24 "/> <polygon fill="currentColor" points="24,5.22 22.24,5.22 22.24,1.76 18.78,1.76 18.78,0 24,0 "/> <polygon fill="currentColor" points="24,24 18.78,24 18.78,22.24 22.24,22.24 22.24,18.78 24,18.78 "/> </g> </svg> <?php echo $wo['lang']['my_pages'];?>
						</a>
                        <?php } ?>
					</div>
				</div>
			</div>
		<?php  ?>
		<div class="tag_sidebar_section_prnt">
			<div class="collapse show" id="menuGroupSettings">
				<div class="tag_sidebar_section">
                                    
                    <?php if ($wo['config']['user_registration'] == 1) { ?>
                    <a href="<?php echo Wo_SeoLink('index.php?link1=setting&page=affiliates'); ?>" data-ajax="?link1=setting&page=affiliates">
                        <svg version="1.1" id="invite_friends_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"> <g> <path fill="currentColor" d="M15.07,17.13v-1.45c0.71,0,1.32-0.72,1.32-1.3V9.83c0-0.91-2.51-1.81-4.39-1.81c-1.88,0-4.39,0.89-4.39,1.81 v4.55c0,0.59,0.61,1.3,1.32,1.3v1.45c-1.46,0-2.78-1.31-2.78-2.75V9.83c0-2.3,3.81-3.25,5.85-3.25s5.85,0.95,5.85,3.25v4.55 C17.85,15.82,16.53,17.13,15.07,17.13z"/> <path fill="currentColor" d="M21.22,18.15V16.7c0.55,0,1.32-0.25,1.32-0.79v-4.55c0-1-2.35-1.81-3.88-1.81c-0.14,0-0.29,0.01-0.44,0.02 l-0.14-1.44c0.2-0.02,0.4-0.03,0.58-0.03c1.8,0,5.34,0.98,5.34,3.25v4.55C24,17.36,22.57,18.15,21.22,18.15z"/> <path fill="currentColor" d="M12,6.51c-1.61,0-2.78-1.16-2.78-2.75V2.75C9.22,1.16,10.39,0,12,0s2.78,1.16,2.78,2.75v1.01 C14.78,5.35,13.61,6.51,12,6.51z M12,1.45c-0.8,0-1.32,0.51-1.32,1.3v1.01c0,0.79,0.52,1.3,1.32,1.3s1.32-0.51,1.32-1.3V2.75 C13.32,1.96,12.8,1.45,12,1.45z"/> <rect x="20.49" y="12.36" fill="currentColor" width="1.46" height="11.64"/> <rect x="14.34" y="10.84" fill="currentColor" width="1.46" height="13.16"/> <rect x="8.19" y="10.84" fill="currentColor" width="1.46" height="13.16"/> <rect x="11.27" y="15.9" fill="currentColor" width="1.46" height="8.1"/> <path fill="currentColor" d="M18.66,8.02c-1.61,0-2.78-1.16-2.78-2.75V4.27c0-1.59,1.17-2.75,2.78-2.75c1.61,0,2.78,1.16,2.78,2.75v1.01 C21.44,6.87,20.27,8.02,18.66,8.02z M18.66,2.96c-0.8,0-1.32,0.51-1.32,1.3v1.01c0,0.79,0.52,1.3,1.32,1.3 c0.8,0,1.32-0.51,1.32-1.3V4.27C19.97,3.48,19.46,2.96,18.66,2.96z"/> <path fill="currentColor" d="M2.78,18.15C1.43,18.15,0,17.36,0,15.9v-4.55C0,9.08,3.54,8.1,5.34,8.1c0.18,0,0.38,0.01,0.58,0.03L5.79,9.56 C5.63,9.55,5.48,9.54,5.34,9.54c-1.53,0-3.88,0.81-3.88,1.81v4.55c0,0.55,0.77,0.79,1.32,0.79V18.15z"/> <rect x="2.05" y="12.36" fill="currentColor" width="1.46" height="11.64"/> <path fill="currentColor" d="M5.34,8.02c-1.61,0-2.78-1.16-2.78-2.75V4.27c0-1.59,1.17-2.75,2.78-2.75s2.78,1.16,2.78,2.75v1.01 C8.12,6.87,6.95,8.02,5.34,8.02z M5.34,2.96c-0.8,0-1.32,0.51-1.32,1.3v1.01c0,0.79,0.52,1.3,1.32,1.3s1.32-0.51,1.32-1.3V4.27 C6.66,3.48,6.14,2.96,5.34,2.96z"/> </g> </svg> <?php echo $wo['lang']['invite_friends'];?>
                    </a>
                    <?php } ?>
                                    
                    <a href="<?php echo Wo_SeoLink('index.php?link1=setting&page=privacy-setting'); ?>" data-ajax="?link1=setting&page=privacy-setting">
                        <svg version="1.1" id="privacy_icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"> <g> <path fill="currentColor" d="M4.91,15.88H3.48V11.2c0-4.7,3.82-8.52,8.52-8.52s8.52,3.82,8.52,8.52v0.52h-1.44V11.2 c0-3.91-3.18-7.09-7.09-7.09c-3.91,0-7.09,3.18-7.09,7.09V15.88z"/> <path fill="currentColor" d="M17.15,22.42c-5.15-1.35-8.47-5.56-8.47-10.7V11.2c0-1.83,1.49-3.32,3.32-3.32c1.83,0,3.32,1.49,3.32,3.32 c0,2.54,1.9,4.67,4.41,4.97l-0.17,1.43c-3.24-0.38-5.68-3.13-5.68-6.4c0-1.04-0.84-1.88-1.88-1.88c-1.04,0-1.88,0.84-1.88,1.88 v0.52c0,4.47,2.9,8.13,7.4,9.31L17.15,22.42z"/> <path fill="currentColor" d="M4.84,19.02l-0.44-1.37c0.08-0.03,0.16-0.05,0.23-0.09c0.87-0.38,1.44-1.25,1.44-2.2V11.2 c0-3.27,2.66-5.92,5.92-5.92c3.15,0,5.92,2.77,5.92,5.92c0,1.14,0.81,2.13,1.92,2.35l-0.29,1.41c-1.78-0.36-3.07-1.95-3.07-3.76 c0-2.35-2.14-4.48-4.48-4.48c-2.47,0-4.48,2.01-4.48,4.48v4.16c0,1.53-0.9,2.91-2.3,3.52C5.09,18.94,4.97,18.98,4.84,19.02z"/> <path fill="currentColor" d="M6.27,21.58l-0.63-1.29c0.89-0.44,1.66-1.17,2.42-2.33l1.2,0.79C8.37,20.11,7.39,21.04,6.27,21.58z"/> <path fill="currentColor" d="M14.45,24.08c-0.98-0.38-1.99-0.96-3-1.72c-0.54-0.41-1.29-0.38-1.8,0.08c-0.39,0.34-0.8,0.66-1.23,0.94 l-0.8-1.2C8,21.93,8.36,21.65,8.7,21.35c1.04-0.91,2.53-0.97,3.62-0.14c0.9,0.68,1.79,1.19,2.65,1.52L14.45,24.08z"/> <path fill="currentColor" d="M18.87,20.14c-4.47-0.64-7.59-4.1-7.59-8.42h1.44c0,3.59,2.61,6.46,6.35,7L18.87,20.14z"/> <path fill="currentColor" d="M18.65,4.16C16.03,1.71,12.9,1.51,12,1.51c-2.46,0-4.8,0.92-6.6,2.6L4.42,3.06C6.48,1.14,9.18,0.08,12,0.08 c2.75,0,5.61,1.14,7.64,3.04L18.65,4.16z"/> </g> </svg> <?php echo $wo['lang']['privacy_setting'];?>
                    </a>
                    <a href="<?php echo Wo_SeoLink('index.php?link1=setting&page=general-setting'); ?>" data-ajax="?link1=setting&page=general-setting">
                        <svg version="1.1" id="settings_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"> <g> <path fill="currentColor" d="M14.4,24H9.6l-0.45-3.12c-0.49-0.16-0.96-0.35-1.41-0.59l-2.53,1.89l-3.39-3.39l1.89-2.53 c-0.23-0.45-0.43-0.93-0.59-1.41L0,14.4V9.6l3.12-0.45c0.16-0.49,0.35-0.96,0.59-1.41L1.82,5.21l3.39-3.39l2.53,1.89 c0.45-0.23,0.93-0.43,1.41-0.59L9.6,0h4.79l0.45,3.12c0.49,0.16,0.96,0.35,1.41,0.59l2.53-1.89l3.39,3.39l-1.89,2.53 c0.23,0.45,0.43,0.93,0.59,1.41L24,9.6v4.79l-3.12,0.45c-0.16,0.49-0.35,0.96-0.59,1.41l1.89,2.53l-3.39,3.39l-2.53-1.89 c-0.45,0.23-0.93,0.43-1.41,0.59L14.4,24z M10.98,22.4h2.03l0.4-2.79l0.51-0.13c0.7-0.18,1.37-0.46,1.99-0.82l0.46-0.27l2.26,1.69 l1.44-1.44l-1.69-2.26l0.27-0.46c0.37-0.62,0.64-1.29,0.82-1.99l0.13-0.51l2.79-0.4v-2.03l-2.79-0.4l-0.13-0.51 c-0.18-0.7-0.46-1.37-0.82-1.99l-0.27-0.46l1.69-2.26l-1.44-1.44l-2.26,1.69l-0.46-0.27c-0.62-0.37-1.29-0.64-1.99-0.82l-0.51-0.13 l-0.4-2.79h-2.03l-0.4,2.79l-0.51,0.13C9.37,4.7,8.7,4.97,8.08,5.34L7.62,5.61L5.36,3.92L3.92,5.36l1.69,2.26L5.34,8.08 C4.97,8.7,4.7,9.36,4.52,10.07l-0.13,0.51l-2.79,0.4v2.03l2.79,0.4l0.13,0.51c0.18,0.7,0.46,1.37,0.82,1.99l0.27,0.46l-1.69,2.26 l1.44,1.44l2.26-1.69l0.46,0.27c0.62,0.37,1.29,0.64,1.99,0.82l0.51,0.13L10.98,22.4z"/> <path fill="currentColor" d="M12,16c-2.2,0-4-1.79-4-4s1.79-4,4-4c2.2,0,4,1.79,4,4S14.2,16,12,16z M12,9.6c-1.33,0-2.4,1.08-2.4,2.4 c0,1.33,1.08,2.4,2.4,2.4c1.32,0,2.4-1.08,2.4-2.4C14.4,10.67,13.32,9.6,12,9.6z"/> </g> </svg> <?php echo $wo['lang']['general_setting'];?>
                    </a>
                    
                    <?php if(Wo_IsAdmin() || Wo_IsModerator()) { ?>
                    <a href="<?php echo $wo['config']['site_url'] . '/admin-cp'; ?>">
                        <svg version="1.1" id="admin_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"> <g> <path fill="currentColor" d="M18.83,24H5.17c-1.11,0-2.01-0.9-2.01-2.01V12c0-1.11,0.9-2.01,2.01-2.01h13.66c1.11,0,2.01,0.9,2.01,2.01 v9.99C20.85,23.1,19.94,24,18.83,24z M5.17,11.91c-0.05,0-0.09,0.04-0.09,0.09v9.99c0,0.05,0.04,0.09,0.09,0.09h13.66 c0.05,0,0.09-0.04,0.09-0.09V12c0-0.05-0.04-0.09-0.09-0.09H5.17z"/> <path fill="currentColor" d="M18.22,10.95h-1.93V6.22c0-2.37-1.93-4.29-4.29-4.29S7.71,3.85,7.71,6.22v4.73H5.78V6.22 C5.78,2.79,8.57,0,12,0c3.43,0,6.22,2.79,6.22,6.22V10.95z"/> <path fill="currentColor" d="M12,21.37c-1.11,0-2.01-0.9-2.01-2.01v-1.38c-0.86-0.75-1.24-1.91-0.96-3.06c0.27-1.1,1.15-1.97,2.25-2.23l0,0 c0.93-0.21,1.89-0.01,2.63,0.58c0.74,0.59,1.16,1.46,1.16,2.4c0,0.88-0.39,1.72-1.05,2.3v1.38C14.01,20.47,13.11,21.37,12,21.37z M12,14.54c-0.09,0-0.19,0.01-0.29,0.03h0c-0.39,0.09-0.72,0.41-0.81,0.81c-0.15,0.62,0.19,1.08,0.53,1.28l0.48,0.28v2.42 c0,0.1,0.18,0.1,0.18,0v-2.42l0.48-0.28c0.36-0.21,0.57-0.57,0.57-0.98c0-0.35-0.16-0.67-0.43-0.89 C12.5,14.62,12.26,14.54,12,14.54z"/> </g> </svg> <?php echo $wo['lang']['admin_area'];?>
                    </a>
                    <?php } ?>
					<?php if ($wo['config']['blogs'] == 1) { ?>
					<a href="<?php echo Wo_SeoLink('index.php?link1=blogs'); ?>" data-ajax="?link1=blogs">
						<svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-227.000000, -277.000000)"><g transform="translate(225.000000, 275.000000)"> <polygon points="0 0 25 0 25 25 0 25"></polygon> <path d="M6,21.4700884 L6,4.5 C6,3.11928813 7.11928813,2 8.5,2 L20.5,2 C21.8807119,2 23,3.11928813 23,4.5 L23,19.5 C23,21.4329966 21.4329966,23 19.5,23 L6,23 L6,21.4700884 Z M10.5,6 C10.2238576,6 10,6.22385763 10,6.5 L10,10.5 C10,10.7761424 10.2238576,11 10.5,11 L18.5,11 C18.7761424,11 19,10.7761424 19,10.5 L19,6.5 C19,6.22385763 18.7761424,6 18.5,6 L10.5,6 Z M11,7 L18,7 L18,10 L11,10 L11,7 Z M10.5,19 L18.5,19 C18.7761424,19 19,18.7761424 19,18.5 C19,18.2238576 18.7761424,18 18.5,18 L10.5,18 C10.2238576,18 10,18.2238576 10,18.5 C10,18.7761424 10.2238576,19 10.5,19 Z M10.5,15 L18.5,15 C18.7761424,15 19,14.7761424 19,14.5 C19,14.2238576 18.7761424,14 18.5,14 L10.5,14 C10.2238576,14 10,14.2238576 10,14.5 C10,14.7761424 10.2238576,15 10.5,15 Z" fill="#2196F3" fill-rule="nonzero"></path> <path d="M5,12 L5,22.9499909 C4.83844503,22.9827849 4.67123292,23 4.5,23 C3.11928813,23 2,21.8807119 2,20.5 L2,14.5 C2,13.1192881 3.11928813,12 4.5,12 L5,12 Z" fill="#90CAF9" fill-rule="nonzero"></path> </g> </g> </g> </svg> <?php echo $wo['lang']['blog'] ?>
						</a>
					<?php } ?>
					<?php if ($wo['config']['classified'] == 1) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=products'); ?>" data-ajax="?link1=products">
							<svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-377.000000, -27.000000)"> <g transform="translate(375.000000, 25.000000)"> <polygon points="0 0 25 0 25 25 0 25"></polygon> <path d="M5,23 L4.5,23 C3.67157288,23 3,22.3284271 3,21.5 L3,10.3464396 C3.56038363,10.7573428 4.251854,11 5,11 L5.5,11 C6.23031385,11 6.9239184,10.7742698 7.5,10.3727696 C8.0760816,10.7742698 8.76968615,11 9.5,11 L10.5,11 C11.2303138,11 11.9239184,10.7742698 12.5,10.3727696 C13.0760816,10.7742698 13.7696862,11 14.5,11 L15.5,11 C16.2303138,11 16.9239184,10.7742698 17.5,10.3727696 C18.0760816,10.7742698 18.7696862,11 19.5,11 L20,11 C20.3145925,11 20.6276498,10.9561548 20.930138,10.8697296 C21.3263625,10.7565226 21.6858298,10.577254 22,10.3472956 L22,21.5 C22,22.3284271 21.3284271,23 20.5,23 L12,23 L12,14 C12,13.4477153 11.5522847,13 11,13 L6,13 C5.44771525,13 5,13.4477153 5,14 L5,23 Z M15,13 C14.4477153,13 14,13.4477153 14,14 L14,18 C14,18.5522847 14.4477153,19 15,19 L19,19 C19.5522847,19 20,18.5522847 20,18 L20,14 C20,13.4477153 19.5522847,13 19,13 L15,13 Z M15,14 L19,14 L19,18 L15,18 L15,14 Z" fill="#00BCD4" fill-rule="nonzero"></path> <path d="M6,14 L11,14 L11,23 L6,23 L6,14 Z M5.5,10 L5,10 C3.68238471,10 2.61424647,8.93186176 2.61424647,7.61424647 C2.61424647,7.39257053 2.64514178,7.17197629 2.70604085,6.95882957 L3.81201549,3.08791831 C3.99600187,2.44396597 4.58458087,2 5.25430141,2 L19.7456986,2 C20.4154191,2 21.0039981,2.44396597 21.1879845,3.08791831 L22.2939592,6.95882957 C22.6559359,8.22574822 21.9223356,9.54622886 20.6554169,9.90820562 C20.4422702,9.96910468 20.2216759,10 20,10 L19.5,10 C18.6822005,10 17.9561144,9.60732845 17.5,9.00024373 C17.0438856,9.60732845 16.3177995,10 15.5,10 L14.5,10 C13.6822005,10 12.9561144,9.60732845 12.5,9.00024373 C12.0438856,9.60732845 11.3177995,10 10.5,10 L9.5,10 C8.68220052,10 7.9561144,9.60732845 7.5,9.00024373 C7.0438856,9.60732845 6.31779948,10 5.5,10 Z" fill="#80DEEA"></path> </g> </g> </g> </svg> <?php echo $wo['lang']['market'];?>
						</a>
					<?php } ?>
					<?php if ($wo['config']['forum'] == 1) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=forum'); ?>" data-ajax="?link1=forum">
							<svg width="19px" height="19px" viewBox="0 0 19 19" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-478.000000, -128.000000)"><g transform="translate(475.000000, 125.000000)"> <polygon points="0 0 25 0 25 25 0 25"></polygon> <path d="M8.00702392,15.8275446 C7.52179688,15.7134586 7.0524755,15.5438386 6.60675127,15.3218857 L3.60881581,15.9880935 C3.25156656,16.0674823 2.93286833,15.748784 3.01225705,15.3915348 L3.67846493,12.3935993 C3.23490465,11.5028451 3.00035059,10.5178492 3.00035059,9.5 C3.00035059,5.91014913 5.91049971,3 9.50035059,3 C12.5764502,3 15.1534742,5.13679675 15.8280792,8.00704691 C15.7193039,8.00236501 15.6099281,8 15.5,8 C11.3578644,8 8,11.3578644 8,15.5 C8,15.6097481 8.00235726,15.7189455 8.00702392,15.8275446 Z" fill="#eca1ff" fill-rule="nonzero"></path> <path d="M21.9880935,21.3915348 L21.3218857,18.3935993 C21.7654459,17.5028451 22,16.5178492 22,15.5 C22,11.9101491 19.0898509,9 15.5,9 C11.9101491,9 9,11.9101491 9,15.5 C9,19.0898509 11.9101491,22 15.5,22 C16.5178492,22 17.5028451,21.7654459 18.3935993,21.3218857 L21.3915348,21.9880935 C21.748784,22.0674823 22.0674823,21.748784 21.9880935,21.3915348 Z" fill="#d226ff"></path> </g> </g> </g> </svg> <?php echo $wo['lang']['forum'];?>
						</a>
					<?php } ?>
					<?php if (Wo_CanBlog() == true && $wo['loggedin'] == true) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=my-blogs'); ?>" data-ajax="?link1=my-blogs">
							<svg width="19px" height="21px" viewBox="0 0 19 21" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-28.000000, -277.000000)"> <g transform="translate(25.000000, 275.000000)"> <polygon points="0 0 25 0 25 25 0 25"></polygon> <path d="M4.5,2 L16,2 L16,8.5 C16,8.77614237 16.2238576,9 16.5,9 L22,9 L22,19.5 C22,21.4329966 20.4329966,23 18.5,23 L6.5,23 C4.56700338,23 3,21.4329966 3,19.5 L3,3.5 C3,2.67157288 3.67157288,2 4.5,2 Z M8.5,15 L16.5,15 C16.7761424,15 17,14.7761424 17,14.5 C17,14.2238576 16.7761424,14 16.5,14 L8.5,14 C8.22385763,14 8,14.2238576 8,14.5 C8,14.7761424 8.22385763,15 8.5,15 Z M8.5,18 L14.5,18 C14.7761424,18 15,17.7761424 15,17.5 C15,17.2238576 14.7761424,17 14.5,17 L8.5,17 C8.22385763,17 8,17.2238576 8,17.5 C8,17.7761424 8.22385763,18 8.5,18 Z M8.5,12 L11.5,12 C11.7761424,12 12,11.7761424 12,11.5 C12,11.2238576 11.7761424,11 11.5,11 L8.5,11 C8.22385763,11 8,11.2238576 8,11.5 C8,11.7761424 8.22385763,12 8.5,12 Z" fill="#2196F3" fill-rule="nonzero"></path> <path d="M17,2 C17.0698531,2.05933226 17.1349827,2.12507371 17.1944601,2.19678722 L21.9179586,7.89203909 C21.9469168,7.92695481 21.9742776,7.96297974 22,8 L17.5285477,8 C17.2366389,8 17,7.76223169 17,7.46892961 L17,2 Z" fill="#90CAF9"></path> </g> </g> </g> </svg> <?php echo $wo['lang']['my_articles'] ?>
						</a>
					<?php } ?>
					<?php if ($wo['config']['classified'] == 1 && $wo['loggedin'] == true) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=my-products'); ?>" data-ajax="?link1=my-products">
							<svg width="19px" height="22px" viewBox="0 0 19 22" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-78.000000, -76.000000)"> <g transform="translate(75.000000, 74.000000)"> <polygon points="0 0 25 0 25 25 0 25"></polygon> <path d="M7.34577199,6.5 L7.64998497,5.00133476 C8.00367436,3.25893057 9.53980213,2 11.3249925,2 L13.3249925,2 C15.1101828,2 16.6463106,3.25893057 17,5.00133476 L17.304213,6.5 L7.34577199,6.5 Z M13.3249925,3.5 L11.3249925,3.5 C10.3563511,3.5 9.51432535,4.11683531 9.2028208,5 L15.4471642,5 C15.1356596,4.11683531 14.2936339,3.5 13.3249925,3.5 Z" fill="#80DEEA"></path> <path d="M16.7953428,5.01790172 C18.5138467,5.13650536 19.9072103,6.4992747 20.041195,8.24107573 L20.823043,18.4050998 L21.7449163,21.0088884 C22.0214039,21.7898148 21.6124754,22.6470183 20.831549,22.9235059 C20.670777,22.9804273 20.501475,23.0095135 20.3309239,23.0095135 L4.5,23.0095135 C3.67157288,23.0095135 3,22.3379406 3,21.5095135 C3,21.368014 3.02002161,21.2272263 3.05946948,21.0913367 L3.83502965,18.4196959 L4.61800044,8.24107573 C4.75198513,6.4992747 6.14534874,5.13650536 7.86385267,5.01790172 C10.2792969,5.01790172 15.4047241,5.01790172 16.7953428,5.01790172 Z M8.82959772,9.50951347 C8.82959772,9.2333711 8.6057401,9.00951347 8.32959772,9.00951347 C8.05345535,9.00951347 7.82959772,9.2333711 7.82959772,9.50951347 L7.82959772,11.5095135 C7.82959772,13.4425101 9.3966011,15.0095135 11.3295977,15.0095135 L13.3295977,15.0095135 C15.2625943,15.0095135 16.8295977,13.4425101 16.8295977,11.5095135 L16.8295977,9.50951347 C16.8295977,9.2333711 16.6057401,9.00951347 16.3295977,9.00951347 C16.0534553,9.00951347 15.8295977,9.2333711 15.8295977,9.50951347 L15.8295977,11.5095135 C15.8295977,12.8902253 14.7103096,14.0095135 13.3295977,14.0095135 L11.3295977,14.0095135 C9.94888585,14.0095135 8.82959772,12.8902253 8.82959772,11.5095135 L8.82959772,9.50951347 Z" fill="#00BCD4"></path> </g> </g> </g> </svg> <?php echo $wo['lang']['my_products'];?>
						</a>
					<?php } ?>
					<?php if ($wo['config']['groups'] == 1 && $wo['loggedin'] == true) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=groups'); ?>" data-ajax="?link1=groups">
							<svg width="21px" height="20px" viewBox="0 0 21 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-277.000000, -128.000000)"> <g transform="translate(275.000000, 125.000000)"> <polygon points="0 0 25 0 25 25 0 25"></polygon> <path d="M12.5,8 C11.1192881,8 10,6.88071187 10,5.5 C10,4.11928813 11.1192881,3 12.5,3 C13.8807119,3 15,4.11928813 15,5.5 C15,6.88071187 13.8807119,8 12.5,8 Z M12,8 L13,8 C14.6568542,8 16,9.34314575 16,11 L16,12.5 C16,13.3284271 15.3284271,14 14.5,14 L10.5,14 C9.67157288,14 9,13.3284271 9,12.5 L9,11 C9,9.34314575 10.3431458,8 12,8 Z" fill="#9FA8DA" fill-rule="nonzero"></path> <path d="M19.5,17 C18.1192881,17 17,15.8807119 17,14.5 C17,13.1192881 18.1192881,12 19.5,12 C20.8807119,12 22,13.1192881 22,14.5 C22,15.8807119 20.8807119,17 19.5,17 Z M19,17 L20,17 C21.6568542,17 23,18.3431458 23,20 L23,21.5 C23,22.3284271 22.3284271,23 21.5,23 L17.5,23 C16.6715729,23 16,22.3284271 16,21.5 L16,20 C16,18.3431458 17.3431458,17 19,17 Z" fill="#3F51B5" fill-rule="nonzero"></path> <path d="M5.5,17 C4.11928813,17 3,15.8807119 3,14.5 C3,13.1192881 4.11928813,12 5.5,12 C6.88071187,12 8,13.1192881 8,14.5 C8,15.8807119 6.88071187,17 5.5,17 Z M5,17 L6,17 C7.65685425,17 9,18.3431458 9,20 L9,21.5 C9,22.3284271 8.32842712,23 7.5,23 L3.5,23 C2.67157288,23 2,22.3284271 2,21.5 L2,20 C2,18.3431458 3.34314575,17 5,17 Z" fill="#3F51B5" fill-rule="nonzero"></path> </g> </g> </g> </svg> <?php echo $wo['lang']['my_groups'];?>
						</a>
					<?php } ?>
					
				</div>
			</div>
		</div>
		<div class="tag_sidebar_section_prnt">
			<div class="collapse show" id="collapseExplore">
				<div class="tag_sidebar_section">
					
					
					<?php if ($wo['config']['games'] == 1) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=new-game'); ?>" data-ajax="?link1=new-game">
							<svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-177.000000, -277.000000)"> <g transform="translate(175.000000, 275.000000)"> <rect x="0" y="0" width="25" height="25"></rect> <path d="M12,2.75 C12,2.33578644 12.3357864,2 12.75,2 C13.1642136,2 13.5,2.33578644 13.5,2.75 L13.5,7.75 C13.5,8.16421356 13.1642136,8.5 12.75,8.5 C12.3357864,8.5 12,8.16421356 12,7.75 L12,2.75 Z" fill="#b0bec5" fill-rule="nonzero"></path> <path d="M8,12 L8,10.5 C8,10.2238576 7.77614237,10 7.5,10 C7.22385763,10 7,10.2238576 7,10.5 L7,12 L5.5,12 C5.22385763,12 5,12.2238576 5,12.5 C5,12.7761424 5.22385763,13 5.5,13 L7,13 L7,14.5 C7,14.7761424 7.22385763,15 7.5,15 C7.77614237,15 8,14.7761424 8,14.5 L8,13 L9.5,13 C9.77614237,13 10,12.7761424 10,12.5 C10,12.2238576 9.77614237,12 9.5,12 L8,12 Z M7.90742466,18 L7.38004532,20.6368967 C7.10523656,22.0109405 5.89877796,23 4.49752271,23 C3.11681084,23 1.99752271,21.8807119 2.00000412,20.4502481 L2.99752271,10.5 C2.99752271,8.56700338 4.56452609,7 6.49752271,7 L18.4975227,7 C20.4305193,7 21.9975227,8.56700338 21.9950413,10.4502481 L22.9975227,20.5 C22.9975227,21.8807119 21.8782346,23 20.4975227,23 C19.0962675,23 17.8898089,22.0109405 17.6150001,20.6368967 L17.0876208,18 L7.90742466,18 Z M17,11 C17.5522847,11 18,10.5522847 18,10 C18,9.44771525 17.5522847,9 17,9 C16.4477153,9 16,9.44771525 16,10 C16,10.5522847 16.4477153,11 17,11 Z M17,15 C17.5522847,15 18,14.5522847 18,14 C18,13.4477153 17.5522847,13 17,13 C16.4477153,13 16,13.4477153 16,14 C16,14.5522847 16.4477153,15 17,15 Z M15,13 C15.5522847,13 16,12.5522847 16,12 C16,11.4477153 15.5522847,11 15,11 C14.4477153,11 14,11.4477153 14,12 C14,12.5522847 14.4477153,13 15,13 Z M19,13 C19.5522847,13 20,12.5522847 20,12 C20,11.4477153 19.5522847,11 19,11 C18.4477153,11 18,11.4477153 18,12 C18,12.5522847 18.4477153,13 19,13 Z" fill="#607D8B" fill-rule="nonzero"></path> </g> </g> </g> </svg> <?php echo $wo['lang']['games'];?>
						</a>
					<?php } ?>
					<?php if ($wo['config']['movies'] == 1) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=movies'); ?>">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"> <path style="fill:#1B4145;" d="M503.607,512c-45.141,0-81.865-36.724-81.865-81.865v-52.85c0-4.637,3.758-8.393,8.393-8.393 c4.635,0,8.393,3.757,8.393,8.393v52.85c0,35.884,29.194,65.078,65.078,65.078c4.635,0,8.393,3.757,8.393,8.393 C512,508.243,508.242,512,503.607,512z"/> <circle style="fill:#8B7E7F;" cx="251.803" cy="251.803" r="222.449"/> <circle style="fill:#1B4145;" cx="251.803" cy="251.803" r="144.11"/> <path style="fill:#C2B8B9;" d="M251.803,0C112.736,0,0,112.736,0,251.803s112.736,251.803,251.803,251.803 S503.607,390.87,503.607,251.803S390.87,0,251.803,0z M53.035,187.22c11.173-34.388,48.108-53.207,82.495-42.034 c34.387,11.173,53.207,48.108,42.033,82.496s-48.108,53.207-82.495,42.034C60.681,258.542,41.862,221.608,53.035,187.22z M220.405,406.402c-21.253,29.253-62.195,35.737-91.447,14.484c-29.252-21.252-35.737-62.195-14.484-91.447 c21.253-29.253,62.195-35.737,91.447-14.484C235.173,336.208,241.658,377.15,220.405,406.402z M186.334,108.275 c0-36.158,29.311-65.469,65.469-65.469s65.469,29.311,65.469,65.469s-29.311,65.469-65.469,65.469S186.334,144.433,186.334,108.275z M374.649,420.885c-29.252,21.252-70.194,14.768-91.447-14.484c-21.253-29.252-14.768-70.194,14.484-91.447 c29.252-21.252,70.194-14.768,91.447,14.484C410.385,358.69,403.9,399.633,374.649,420.885z M408.537,269.716 c-34.387,11.172-71.322-7.646-82.495-42.034s7.646-71.322,42.033-82.496c34.387-11.172,71.322,7.646,82.495,42.034 C461.743,221.608,442.925,258.542,408.537,269.716z"/> <circle style="fill:#8B7E7F;" cx="251.803" cy="251.803" r="35.252"/></svg> <?php echo $wo['lang']['movies'];?>
						</a>
					<?php } ?>
					<?php if ($wo['config']['job_system'] == 1) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=jobs'); ?>" data-ajax="?link1=jobs">
							<svg width="21px" height="19px" viewBox="0 0 21 19" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-277.000000, -28.000000)"> <g transform="translate(275.000000, 25.000000)"> <polygon points="0 0 25 0 25 25 0 25"></polygon> <path d="M16,7 L16,6.5 C16,5.67157288 15.3284271,5 14.5,5 L10.5,5 C9.67157288,5 9,5.67157288 9,6.5 L9,7 L16,7 Z M17.5,6.5 L17.5,8.5 L7.5,8.5 L7.5,6.5 C7.5,4.84314575 8.84314575,3.5 10.5,3.5 L14.5,3.5 C16.1568542,3.5 17.5,4.84314575 17.5,6.5 Z M11,16 L11,14 L14,14 L14,16 L11,16 Z" fill="#bcaaa4" fill-rule="nonzero"></path> <path d="M10,15 L10,16.1 C10,16.5970563 10.4029437,17 10.9,17 L14.1,17 C14.5970563,17 15,16.5970563 15,16.1 L15,15 L20.5,15 C21.4793441,15 22.3647415,14.5977664 23,13.9494914 L23,18.5 C23,20.4329966 21.4329966,22 19.5,22 L5.5,22 C3.56700338,22 2,20.4329966 2,18.5 L2,13.9494914 C2.63525852,14.5977664 3.52065591,15 4.5,15 L10,15 Z M15,14 C15,13.4477153 14.5522847,13 14,13 L11,13 C10.4477153,13 10,13.4477153 10,14 L4.5,14 C3.11928813,14 2,12.8807119 2,11.5 L2,8.5 C2,7.67157288 2.67157288,7 3.5,7 L21.5,7 C22.3284271,7 23,7.67157288 23,8.5 L23,11.5 C23,12.8807119 21.8807119,14 20.5,14 L15,14 Z" fill="#795548" fill-rule="nonzero"></path> </g> </g> </g> </svg> <?php echo $wo['lang']['jobs'];?>
						</a>
					<?php } ?>
					<?php if ($wo['config']['offer_system'] == 1) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=offers'); ?>" data-ajax="?link1=offers">
							<svg width="19px" height="19px" viewBox="0 0 19 19" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-378.000000, -128.000000)"> <g transform="translate(375.000000, 125.000000)"> <polygon points="0 0 25 0 25 26 0 26"></polygon> <path d="M13.479955,3.00622924 L20.8651603,3.67761155 C21.1079515,3.69968347 21.3003165,3.89204853 21.3223885,4.13483966 L21.9937708,11.520045 C22.0344796,11.9678421 21.8741838,12.410587 21.5562377,12.7285331 L13.3201995,20.9645713 C11.9396279,22.3451429 9.70127914,22.3451429 8.32070755,20.9645713 L4.03542869,16.6792925 C2.6548571,15.2987209 2.6548571,13.0603721 4.03542869,11.6798005 L12.2714669,3.4437623 C12.589413,3.1258162 13.0321579,2.96552042 13.479955,3.00622924 Z M14.0344127,10.9655873 C15.0205352,11.9517099 16.6193558,11.9517099 17.6054784,10.9655873 C18.591601,9.97946475 18.591601,8.38064418 17.6054784,7.39452161 C16.6193558,6.40839904 15.0205352,6.40839904 14.0344127,7.39452161 C13.0482901,8.38064418 13.0482901,9.97946475 14.0344127,10.9655873 Z" fill="#8BC34A"></path> <path d="M14.7486258,10.2513742 C15.3402994,10.8430477 16.2995917,10.8430477 16.8912652,10.2513742 C17.4829388,9.65970064 17.4829388,8.70040829 16.8912652,8.10873475 C16.2995917,7.51706121 15.3402994,7.51706121 14.7486258,8.10873475 C14.1569523,8.70040829 14.1569523,9.65970064 14.7486258,10.2513742 Z" fill="#C5E1A5"></path> </g> </g> </g> </svg> <?php echo $wo['lang']['offers'];?>
						</a>
					<?php } ?>
					<?php if ($wo['config']['memories_system'] == 1 && $wo['loggedin'] == true) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=memories'); ?>" data-ajax="?link1=memories">
							<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512"><path d="m256 22.986v-22.986l-76.899 55.869 76.899 55.868v-22.986c98.559 0 178.742 80.183 178.742 178.742 0 98.558-80.183 178.742-178.742 178.742s-178.742-80.183-178.742-178.742h-65.765c0 135.038 109.47 244.507 244.507 244.507s244.507-109.469 244.507-244.507c0-135.037-109.469-244.507-244.507-244.507z" fill="#03A9F4"/><path d="m351.957 267.493c0-52.911-43.046-95.956-95.956-95.956-52.911 0-95.956 43.046-95.956 95.956s43.046 95.956 95.956 95.956 95.956-43.046 95.956-95.956zm-110.957-39.77h30v40.837l21.796 17.458-18.754 23.415-33.042-26.465z" fill="#81D4FA"/></svg> <?php echo $wo['lang']['memories'];?>
						</a>
					<?php } ?>
					<?php if ($wo['config']['find_friends'] == 1 && $wo['loggedin'] == true) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=friends-nearby'); ?>">
							<svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-77.000000, -227.000000)"> <g transform="translate(75.000000, 225.000000)"> <polygon points="0 0 25 0 25 25 0 25"></polygon> <path d="M5,9.5 C5,5.35786438 8.35786438,2 12.5,2 C16.6421356,2 20,5.35786438 20,9.5 C20,11.5448569 19.1770544,13.4601794 17.7480563,14.8579389 L12.8535753,19.7530264 C12.6583167,19.9483092 12.3417173,19.948319 12.1464466,19.7530483 L7.24294372,14.8495197 C5.81785109,13.448558 5,11.5385455 5,9.5 Z M12.5,13 C14.4329966,13 16,11.4329966 16,9.5 C16,7.56700338 14.4329966,6 12.5,6 C10.5670034,6 9,7.56700338 9,9.5 C9,11.4329966 10.5670034,13 12.5,13 Z M12.5,12 C11.1192881,12 10,10.8807119 10,9.5 C10,8.11928813 11.1192881,7 12.5,7 C13.8807119,7 15,8.11928813 15,9.5 C15,10.8807119 13.8807119,12 12.5,12 Z" fill="#FF5722" fill-rule="nonzero"></path> <path d="M17.7269697,16.2933293 C20.9233268,16.8761375 23,17.9841128 23,19.4247627 C23,21.5566926 18.3108255,22.9975994 12.5,22.9975994 C6.68917451,22.9975994 2,21.5566926 2,19.4247627 C2,17.9844013 4.07752344,16.875933 7.27254243,16.2932919 L11.439338,20.4601532 C12.0251519,21.0459672 12.9749501,21.0459378 13.5607259,20.4600894 L17.7269697,16.2933293 Z" fill="#FFAB91" fill-rule="nonzero"></path> </g> </g> </g> </svg> <?php echo $wo['lang']['find_friends'];?>
						</a>
					<?php } ?>
					<?php if ($wo['config']['common_things'] == 1 && $wo['loggedin'] == true) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=common_things'); ?>" data-ajax="?link1=common_things">
							<svg width="19px" height="20px" viewBox="0 0 19 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-128.000000, -178.000000)"> <g transform="translate(125.000000, 175.000000)"> <polygon points="0 0 25 0 25 25 0 25"></polygon> <path d="M6.5,7 L12.5,7 C14.4329966,7 16,8.56700338 16,10.5 L16,19.5 C16,21.4329966 14.4329966,23 12.5,23 L6.5,23 C4.56700338,23 3,21.4329966 3,19.5 L3,10.5 C3,8.56700338 4.56700338,7 6.5,7 Z" fill="#d655a6"></path> <path d="M9.03544443,6 C9.27805926,4.30385293 10.736764,3 12.5,3 L18.5,3 C20.4329966,3 22,4.56700338 22,6.5 L22,15.5 C22,17.4329966 20.4329966,19 18.5,19 L17,19 L17,10.5 C17,8.01471863 14.9852814,6 12.5,6 L9.03544443,6 Z" fill="#fda9dd"></path> </g> </g> </g> </svg> <?php echo $wo['lang']['common_things'];?>
						</a>
					<?php } ?>
                                    
                                        <a href="<?php echo Wo_SeoLink('index.php?link1=logout'); ?>">
                                            <svg version="1.1" id="logout_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"> <g> <polygon fill="currentColor" points="23.82,24 0,24 0,0 23.82,0 23.82,1.82 1.85,1.82 1.85,22.18 23.82,22.18 "/> <polygon fill="currentColor" points="16.26,19.65 14.96,18.36 21.39,12 14.96,5.64 16.26,4.35 24,12 "/> <rect x="4.39" y="11.09" fill="currentColor" width="18.3" height="1.82"/> </g> </svg> <?php echo $wo['lang']['log_out'];?>
                                        </a>
					
				</div>
			</div>
		</div>
		<?php  } ?>
		<div class="tag_footer_pc"><?php echo Wo_LoadPage('footer/sidebar-footer')?></div>
	</div>
</div>
