.challenge-container {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-family: "Roboto", sans-serif;
}

.challenge-content-container {
  position: relative;
  display: block;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #000;
  z-index: 40;
}

.challenge-info-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  width: 400px;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #fefefe;
  background: linear-gradient(180deg, rgba(0,147,128,1) 50px, rgba(157,203,59,1) 30%, rgba(249,249,249,1) 75%);
  background-attachment: fixed;
  z-index: 50;
}

.challenge-titlebar {
  /*position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  z-index: 25;  
  background: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,1));*/
}

.challenge-titlebar.tag_lbox_toolbar{
    justify-content: flex-start;
}

.nav-hotspot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 21;
}

.nav-hotspot.prev-nav {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
}

.nav-hotspot.next-nav {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.challenge-content {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 100%;
  max-width: 100%;
  /*padding-top: 60px;
  padding-bottom: 20px;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: center;
}

.challenge-slider {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  border: 1px solid #efefef;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  padding: 0px 20px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #fefefe;
  z-index: 31;
}

.challenge-slider .MultiCarousel .pad15 img{object-fit: cover;}

.challenge-title {
  margin-top: 0px;
  /*margin-bottom: 0px;
  color: #fff;*/
  font-size: 1.5em;
  line-height: 28px;
  text-align: left;
}

.prev-btn {
  padding-right: 40px;
  padding-left: 40px;
}

.next-btn {
  padding-right: 40px;
  padding-left: 40px;
}

.challenge-content-asset {
  display: block;
  max-height: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.challenge-buttons {
  position: absolute;
  left: 0;
  top: auto;
  right: 0;
  bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: center;
  -ms-flex-pack: start;
  justify-content: center;
  z-index: 30;
}

.challenge-button {
  /*margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: transparent;
  */
  padding: 9px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.06);
    width: 40px;
    height: 40px;
    margin: 0 7px;
}

.challenge-buttons .challenge-button .reactions-box{width: 290px !important;}
#challenge-reaction{ 
    margin-top: -22px;
    /*width: auto;*/
    background-color: transparent;
}

.challenge-button .like-btn.like-btn-post span.btn_label, .challenge-button .like-emo > .how_reacted{
      display: none;
  }
  
.challenge-button .tag_post_foot_stats{position: absolute; right: -12px; top: -4px;}

.challenge-button .tag_post_actions {color: #fff;}

.footer-title {
  margin-top: 10px;
  margin-right: 40px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.next-nav {
  position: absolute;
  top: 50%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.panel-close-btn {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  background-color: transparent;
  color: #9ecb3c;
  font-weight: 700;
}

.other-challenges-container {
  overflow: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px solid #efefef;
}

.profile-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.profile-container.colour-light:hover{
    color: #ffffff;
}

.profile-container.colour-dark:hover{
    color: #000000;
}

.challenge-titlebar .profile-container{
  margin-left: 20px;
  margin-right: 20px;
}

.profile-photo {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.profile-photo.profile-large {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.profile-name {
  font-weight: 500;
  font-size: 14px;
}

.profile-details {
  margin-left: 10px;
  text-align: left;
}

.campaign-info-container {
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px 10px 15px 10px;
  background-color: #efefef75;
}

.endorsement-comment{
    margin-bottom: 20px;
}

.action-buttons-container {
  margin-bottom: 10px;
}

.action-buttons-container .btn{ margin: 5px 0; }

.donations-container {
  margin-bottom: 10px;
  padding: 10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 10px;
  background-color: #efefef75;
  text-align: left;
  min-height: 200px;
}

.comments-container {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: none;
  width: 400px;
  padding: 10px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #fefefe;
  z-index: 50;
}

.comments-container .comment-section{
    top: 60px;
    bottom: 0;
    transform: none;
    height: auto;
    width: 100%;
}

.challenge-details-container {
  margin-bottom: 10px;
}

.campaign-profile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
  text-decoration: none;
}

.campaign-image {
  width: 100px;
  max-height: 100px;
  max-width: 100px;
  margin-right: 10px;
  border-radius: 10px;
}

.colour-light {
  color: #fff;
}

.colour-dark {
  color: #000;
}

.campaign-users {
  margin-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.campaign-progress {
  display: block;
  color: #000;
  text-decoration: none;
}

.campaign-progress-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.campaign-progress-text p{ color: #009380; }

.fund-progress-bar {
  height: 10px;
  border-radius: 5px;
  background-color: #9dcb3b;
}

.fund_raise_bar .progress {
    min-width: 100%;
}

.action-button {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #9dcb3b;
  font-weight: 500;
  text-align: center;
}

.action-button:hover{
  color: #fff;  
}

.action-button.button-style-2 {
  background-color: #1c9ac5;
}

.donation-history {
  margin-bottom: 10px;
}

.donation-details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.donation-amount {
  font-weight: 500;
}

.text-small {
  font-size: 0.8em;
}

.text-big {
  font-size: 1.5em;
}

.text-h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.2em;
}

.text-h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 500;
}

.campaign-info-container .text-h3{ line-height: 1.2em; }

.section-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile-action-buttons-container {
  position: relative;
  display: none;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #000;
  z-index: 22;
}

.mobile-only {
  display: none;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1em;
}

@media screen and (max-width: 767px) {
  .challenge-info-container {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: none;
    width: 100%;
  }

  .challenge-content {
    padding-bottom: 100px;
  }

  .challenge-button.mobile-only {
    /*margin-top: 10px;
    margin-bottom: 10px;*/
  }
  
  .challenge-title{
    padding-right: 30px;
  }
  
  .challenge-buttons{ bottom: 120px;}

  .comments-container {
    position: absolute;
    display: none;
    width: 100%;
  }

  .mobile-action-buttons-container {
    position: fixed;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    display: block;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .mobile-only {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .prev-btn {
    padding-right: 20px;
    padding-left: 20px;
  }

  .next-btn {
    padding-right: 20px;
    padding-left: 20px;
  }
}