<div class="col-lg-4 col-md-6" data-fund-id="<?php echo $wo['challenge_fund']['id']; ?>">
	<div class="wow_content fundings">
		<div class="avatar">
			<!-- /Sameer -->
			<a href="<?= $wo['config']['site_url']."/show_challenge/". $wo['challenge_fund']['hashed_id']?>" class="post-file wo_shared_doc_file mg-10" id="fullsizeimg" style="padding:20px;" >
				<?php
				$post_id = Wo_GetPostIdByChallengeFundId($wo['challenge_fund']['id']);
				$media = array(
					'type' => 'post',
					'storyId' => $post_id,
					'filename' => $wo['challenge_fund']['fileName'],
					'name' =>  $wo['challenge_fund']['file'],
					'postFileThumb' => $wo['challenge_fund']['fileThumb'],
				);
				//echo "<pre>".'-----1254';print_r($wo['challenge_fund']['fund_data']['due_date']);
				echo Wo_DisplaySharedFile($media, 'show_fund', $wo['challenge_fund']['fund_data']['cache']);
				?>
			 </a>	
		
		</div>
		<div class="fundings_desc">
			<?php
			if(!empty($wo['challenge_fund']['fund_data']['due_date'])){ ?>
			 	<time><?php echo Wo_Time_Elapsed_String(strtotime($wo['challenge_fund']['fund_data']['due_date']),"due_date"); ?></time>
			<?php }else {
			?>
			   <time><?php echo date("d M Y",$wo['challenge_fund']['time']); ?></time> 
			<?php }
			?>
			<a href="<?= $wo['config']['site_url']."/show_challenge/". $wo['challenge_fund']['hashed_id']?>"  >
			<h3 class="truncate">
				<?php echo $wo['challenge_fund']['challenge']['title']; ?>
			</h3>
			<p class="desc">
				<?php 
				$desc = str_replace('<br>', '', $wo['challenge_fund']['description']);
				echo $desc = mb_substr($desc, 0, 80, "UTF-8") . "..."; ?>
			</p></a>
		</div>
		<div class="fundings_desc">
			<p class="desc">
				Beneficiary : 
				<div class="postMeta--author-avatar">
					<a href="">
						<img src="<?php echo $wo['challenge_fund']['fund_data']['beneficiary_data']['avatar']?>" alt="User Image">
						<?=Wo_Markup($wo['challenge_fund']['fund_data']['beneficiary'],false,false,true,0) ?>
					</a>
				</div>
			</p>
		</div>
		<div class="fundings_footer">
			<a href="<?= $wo['config']['site_url']."/show_fund/". $wo['challenge_fund']['fund_data']['hashed_id']?>">
				<h4><?php $title=$wo['challenge_fund']['fund_data']['title'];
		echo $title = mb_substr($title, 0, 20, "UTF-8") . "..."; ?></h4>
				<!-- <div class="wow_dontd_posts_innr">
					<div class="wow_dontd_posts_left">
						<b><?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].$wo['challenge_fund']['fund_data']['raised']; ?> <?php echo $wo['lang']['raised_of']; ?> <?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].$wo['challenge_fund']['fund_data']['amount']; ?></b>
						<div class="fund_raise_bar">
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: <?php echo $wo['challenge_fund']['fund_data']['bar']; ?>%" aria-valuenow="<?php echo $wo['challenge_fund']['fund_data']['bar']; ?>" aria-valuemin="0" aria-valuemax="<?php echo($wo['challenge_fund']['fund_data']['amount']) ?>"></div>
							</div>
						</div>
					</div>
				</div> -->
				<div class="wow_content m-2">
					<span class="pull-right">
					<?php  //echo $wo['fund']['due_date'];
						if(!empty($wo['challenge_fund']['fund_data']['due_date'])){ ?>
							<time><?php echo Wo_Time_Elapsed_String(strtotime($wo['challenge_fund']['fund_data']['due_date']),"due_date"); ?></time>
					<?php }?>
					</span>
					<p><span class="bold"><?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].$wo['challenge_fund']['fund_data']['raised']; ?></span> of <?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].$wo['challenge_fund']['fund_data']['amount']; ?> <?php echo $wo['lang']['raised_of']; ?></p>
					<div class="progress mb-2">
						<div class="progress-bar" role="progressbar" style="width: <?php echo $wo['challenge_fund']['fund_data']['bar']; ?>%" aria-valuenow="<?php echo $wo['challenge_fund']['fund_data']['bar']; ?>" aria-valuemin="0" aria-valuemax="<?php echo($wo['challenge_fund']['fund_data']['amount']) ?>"></div>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>