<?php if ($wo['config']['second_post_button'] == 'reaction') { ?>
	<?php if ( isset($wo['story']['viewmode']) && $wo['story']['viewmode'] == 'lightbox') { ?>
		<div class="wo-reaction-lightbox valign stat-item unselectable" data-id="<?php echo $wo['story']['id']; ?>">
			<div class="like-btn like-btn-lightbox unselectable" data-id="<?php echo $wo['story']['id']; ?>" >
				<?php
					if ($wo['loggedin'] && Wo_IsReacted($wo['story']['id'], $wo['user']['user_id']) === true) {
						echo '<div class="valign tag_post_react_btn">';
						echo Wo_GetReactedTextIcon($wo['story']['id'], $wo['user']['user_id']);
						echo '</div>';
					} else {   
						echo '<div class="valign tag_post_react_btn"><span class="status-reaction-'.$wo['story']['id'].' unselectable"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="currentColor" d="M4 21h1V8H4c-1.104 0-2 .896-2 2v9C2 20.104 2.896 21 4 21zM20 8h-7l1.122-3.368C14.554 3.337 13.59 2 12.225 2H12L7 7.438V21h11l3.912-8.596C21.937 12.291 21.976 12.114 22 12v-2C22 8.896 21.104 8 20 8z"/></svg><span class="t_likes'.$wo['story']['id'].'"></span><span class="btn_label">' . $wo['lang']['like'] . '</span></span></div>';   
					}    
				?>
			</div>
			<ul id="reactionbox" class="reactions-box reactions-lightbox-container-<?php echo $wo['story']['id']; ?> unselectable" data-id="<?php echo $wo['story']['id']; ?>">
				<?php if (!empty($wo['reactions_types'])) {
					foreach ($wo['reactions_types'] as $key => $value) {
						if ($value['status'] == 1) {
					 ?>
					<li class="valign reaction reaction-<?php echo $value['id'];?>" data-reaction="<?php echo $value['name'];?>" data-reaction-id="<?php echo $value['id'];?>" data-reaction-lang="<?php echo $value['name'];?>" data-post-id="<?php echo $wo['story']['id']; ?>" onclick="Wo_RegisterReaction(this,'<?php echo($value['wowonder_small_icon']) ?>',<?php echo($value['is_html']) ?>);">
						<?php if (preg_match("/<[^<]+>/",$value['wowonder_icon'],$m)) {
								echo($value['wowonder_icon']);
							 }
							 else{ ?>
							<img src="<?php echo($value['wowonder_icon']) ?>">
						<?php } ?>
					</li>
				<?php } } } ?>
			</ul>
		</div>
	<?php } else { ?>
		<div class="wo-reaction-post valign stat-item unselectable" data-id="<?php echo $wo['story']['id']; ?>">
			<div class="like-btn like-btn-post unselectable"  data-id="<?php echo $wo['story']['id']; ?>" id="react_<?php echo $wo['story']['id']; ?>" <?php if ($wo['loggedin'] && Wo_IsReacted($wo['story']['id'], $wo['user']['user_id'])) { ?> data_react="1" <?php }else{ ?> data_react="0"<?php } ?> data-reaction-id="<?php echo $wo['reactions_types'][1]['id'];?>"  data-reaction="Like" data-reaction-lang="<?php echo $wo['lang']['like'];?>" data-post-id="<?php echo $wo['story']['id']; ?>" onclick="Wo_RegisterReactionLike(this,'<?php echo($wo['reactions_types'][1]['wowonder_small_icon']) ?>',<?php echo($wo['reactions_types'][1]['is_html']) ?>);">
				<?php
					if ($wo['loggedin'] && Wo_IsReacted($wo['story']['id'], $wo['user']['user_id']) === true) { 
						echo '<div class="valign tag_post_react_btn">';
						echo Wo_GetReactedTextIcon($wo['story']['id'], $wo['user']['user_id']);
						echo '</div>';
					} else {   
						echo '<div class="valign tag_post_react_btn"><span class="status-reaction-'.$wo['story']['id'].' unselectable"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="currentColor" d="M4 21h1V8H4c-1.104 0-2 .896-2 2v9C2 20.104 2.896 21 4 21zM20 8h-7l1.122-3.368C14.554 3.337 13.59 2 12.225 2H12L7 7.438V21h11l3.912-8.596C21.937 12.291 21.976 12.114 22 12v-2C22 8.896 21.104 8 20 8z"/></svg><span class="t_likes'.$wo['story']['id'].'"></span><span class="btn_label">' . $wo['lang']['like'] . '</span></span></div>';   
					}    
				?>
			</div>
			<ul class="reactions-box reactions-box-container-<?php echo $wo['story']['id']; ?>" data-id="<?php echo $wo['story']['id']; ?>">
				<?php if (!empty($wo['reactions_types'])) {
					foreach ($wo['reactions_types'] as $key => $value) {
						if ($value['status'] == 1) {
							
					 ?>
					<li class="valign reaction reaction-<?php echo $value['id'];?>" data-reaction="<?php echo $value['name'];?>" data-reaction-id="<?php echo $value['id'];?>" data-reaction-lang="<?php echo $value['name'];?>" data-post-id="<?php echo $wo['story']['id']; ?>" onclick="Wo_RegisterReaction(this,'<?php echo($value['wowonder_small_icon']) ?>',<?php echo($value['is_html']) ?>);">
						<?php if (preg_match("/<[^<]+>/",$value['wowonder_icon'],$m)) {
								echo($value['wowonder_icon']);
							 }
							 else{ ?>
							<img src="<?php echo($value['wowonder_icon']) ?>">
						<?php } ?>
					</li>
				<?php } } } ?>
			</ul>
		</div>
	<?php } ?>
<?php }else{ ?>
	<div onclick="Wo_RegisterLike(<?php echo $wo['story']['id']; ?>);" id="like-button" class="valign stat-item" title="<?php echo $wo['lang']['like'];?>">
		<?php
			$second_btn_wonder = ($wo['config']['second_post_button'] == 'dislike') ? $wo['lang']['dislike'] : $wo['lang']['wonder'];
			$second_btn_wondered = ($wo['config']['second_post_button'] == 'dislike') ? $wo['lang']['disliked'] : $wo['lang']['wondered'];
			if ($wo['story']['is_liked'] === true) {    
				echo '<span class="valign active-like"><span class="icoo"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="currentColor" d="M4 21h1V8H4c-1.104 0-2 .896-2 2v9C2 20.104 2.896 21 4 21zM20 8h-7l1.122-3.368C14.554 3.337 13.59 2 12.225 2H12L7 7.438V21h11l3.912-8.596C21.937 12.291 21.976 12.114 22 12v-2C22 8.896 21.104 8 20 8z"/></svg></span><span class="like-btn-mobile">' . $wo['lang']['liked'] . '</span></span>';   
			} else {
				echo '<span class="icoo"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="currentColor" d="M4 21h1V8H4c-1.104 0-2 .896-2 2v9C2 20.104 2.896 21 4 21zM20 8h-7l1.122-3.368C14.554 3.337 13.59 2 12.225 2H12L7 7.438V21h11l3.912-8.596C21.937 12.291 21.976 12.114 22 12v-2C22 8.896 21.104 8 20 8z"/></svg></span><span class="like-btn-mobile">' . $wo['lang']['like'] . '</span>';   
			}    
		?>
	</div>
	<?php if ($wo['config']['second_post_button'] != 'disabled') { ?>
		<div onclick="Wo_RegisterWonder(<?php echo $wo['story']['id']; ?>);" id="wonder-button" class="valign stat-item" title="<?php echo $wo['second_post_button_text'];?>">
			<?php 
				if ($wo['story']['is_wondered'] === true) {  
					echo '<span class="valign active-wonder"><span class="icoo">' . $wo['second_post_button_icon'] . '</span><span class="like-btn-mobile">' . $second_btn_wondered . '</span></span>'; 
				} else {
					echo '<span class="icoo">' . $wo['second_post_button_icon'] . '</span><span class="like-btn-mobile">' . $second_btn_wonder . '</span>';
				}
			?>          
		</div>
	<?php } ?>
<?php } ?>