<button type="button" class="btn btn-default btn-mat" onclick="Wo_OpenChatTab(<?php echo $wo['message']['user_id'];?>);"><span class="button-text"><?php echo $wo['lang']['message_organiser'];?></span></button>