<p>Status: <span class="bold"><?php echo $wo['lang']['pending'];?></span></p>
<div class="verification btn btn-info btn-mat" onclick="Wo_RemoveVerification(<?php echo $wo['verification']['id']?>,'<?php echo $wo['verification']['type']?>');"><?php echo $wo['lang']['cancel_verification_request'];?></div>