<p>Status: <span class="bold"><?php echo $wo['lang']['verified'];?></span></p>
<div class="verification btn btn-danger btn-mat" onclick="Wo_DeleteUserVerification(<?php echo $wo['verification']['id']?>,'<?php echo $wo['verification']['type']?>');"><?php echo $wo['lang']['remove_verified_status'];?></div>