<div class="page-margin">
<div class="container">
    <!-- Install Banner for Android -->
    <div id="menu-install-pwa-android" class="f1 banner-shadow">
        <div class="usePWA">
                <div id="install-banner" class="mb-15">
                        <img src="<?php echo $wo['config']['theme_url'];?>/img/install-banner.png" alt="install little flags app" class="full_width">
                </div>
        </div>
    </div>

    <!-- Install Banner for iOS -->
    <div id="menu-install-pwa-ios" class="menu menu-box-bottom menu-box-detached rounded-l mb-15 banner-shadow">
        <div class="boxed-text-xl mt-2 text-center">
            <div class="install-heading"><img src="<?php echo $wo['config']['theme_url'];?>/img/icon.png" alt="install little flags app">&nbsp;&nbsp;<span>Install Little Flags</span></div>
            <p>Just tap <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M14.372 6.91h4.293v13.522H5.335V6.91h4.78" stroke="#057CFF" stroke-width=".8587199999999999" fill="none"/><path d="m9.213 4.576 1.394-1.423L12 1.731l1.393 1.422 1.394 1.423" stroke="#057CFF" stroke-width=".71664" fill="none"/><path d="m11.975 2.19.146 11.098" stroke="#057CFF" stroke-width=".74088" fill="none"/></svg> then "Add to Home Screen"</p>
        </div>
    </div>
    
    <h2 class="tag_page_title m5"><?php echo stripslashes($wo['lang']['news_feed']); ?></h2>
		<?php 
			if (Wo_IsThereAnnouncement() === true) { 
			$announcement = Wo_GetHomeAnnouncements();
		?>
			<div class="home-announcement wow_content p15 tag_announce">
				<svg viewBox="0 -14 512.00001 512" xmlns="http://www.w3.org/2000/svg"><path d="m126.605469 210.292969 60 103.921875c-27.238281 15.726562-58.890625 34-86.601563 50-28.699218 16.570312-65.390625 6.742187-81.960937-21.960938-16.46875-28.503906-6.917969-65.292968 21.960937-81.960937zm0 0" fill="#2bbdc4"/><path d="m409.457031 243.816406c7.589844 13.136719-1.660156 29.617188-16.832031 29.988282l-11.25 2.210937-.25-1.269531-128.730469-222.972656-.839843-.660157 7.199218-9.171875c7.910156-12.957031 26.800782-12.738281 34.390625.410156 199.792969 346.03125-52.261719-90.527343 116.3125 201.464844zm0 0" fill="#2bbdc4"/><path d="m206.964844 429.488281c8.289062 14.339844 3.371094 32.6875-10.980469 40.976563-14.328125 8.289062-32.710937 3.355468-40.980469-10.976563l-55-95.273437 51.960938-30c.476562.828125 54.917968 95.128906 55 95.273437zm0 0" fill="#495d85"/><path d="m377.777344 108.933594 20 34.640625-24.640625 37.320312-40-69.28125zm0 0" fill="#e9eef0"/><path d="m381.125 274.746094.25 1.269531-194.769531 38.199219-60-103.921875 124.949219-159.179688.839843.660157zm0 0" fill="#adf3ff"/><path d="m136.964844 308.234375c4.78125-2.757813 6.417968-8.878906 3.660156-13.660156-2.761719-4.777344-8.878906-6.417969-13.660156-3.660157-4.78125 2.761719-6.421875 8.882813-3.660156 13.660157 2.757812 4.78125 8.878906 6.421875 13.660156 3.660156zm0 0"/><path d="m95.984375 377.253906 50.359375 87.230469c10.867188 18.84375 35.3125 25.820313 54.644531 14.644531 19.128907-11.054687 25.703125-35.496094 14.636719-54.640625l-30-51.96875 25.980469-15c4.78125-2.765625 6.421875-8.878906 3.660156-13.660156l-13.003906-22.523437c1.550781-.300782 11.746093-2.300782 191.539062-37.570313 22.226563-1.207031 35.542969-25.515625 24.316407-44.949219l-33.234376-57.5625 21.238282-32.167968c2.085937-3.164063 2.210937-7.230469.316406-10.511719l-20-34.640625c-1.894531-3.28125-5.492188-5.203125-9.261719-4.980469l-38.472656 2.308594-36.894531-63.90625c-5.34375-9.257813-14.917969-14.863281-25.605469-14.996094-.128906-.003906-.253906-.003906-.382813-.003906-10.328124 0-19.703124 5.140625-25.257812 13.832031l-130.632812 166.414062-84.925782 49.03125c-33.402344 19.277344-44.972656 62.128907-25.621094 95.621094 17.679688 30.625 54.953126 42.671875 86.601563 30zm102.324219 57.238282c5.523437 9.554687 2.253906 21.78125-7.328125 27.316406-9.613281 5.558594-21.855469 2.144531-27.316407-7.320313l-50-86.613281 34.640626-20c57.867187 100.242188 49.074218 85.011719 50.003906 86.617188zm-22.683594-79.296876-10-17.320312 17.320312-10 10 17.320312zm196.582031-235.910156 13.820313 23.9375-12.324219 18.664063-23.820313-41.261719zm-104.917969-72.132812c2.683594-4.390625 6.941407-4.84375 8.667969-4.796875 1.707031.019531 5.960938.550781 8.527344 4.996093l116.3125 201.464844c3.789063 6.558594-.816406 14.804688-8.414063 14.992188-1.363281.03125-1.992187.277344-5.484374.929687l-123.035157-213.105469c2.582031-3.320312 2.914063-3.640624 3.425781-4.480468zm-16.734374 21.433594 115.597656 200.222656-174.460938 34.21875-53.046875-91.878906zm-223.851563 268.667968c-4.390625-7.597656-6.710937-16.222656-6.710937-24.949218 0-17.835938 9.585937-34.445313 25.011718-43.351563l77.941406-45 50 86.601563-77.941406 45.003906c-23.878906 13.78125-54.515625 5.570312-68.300781-18.304688zm0 0"/><path d="m105.984375 314.574219c-2.761719-4.78125-8.878906-6.421875-13.660156-3.660157l-17.320313 10c-4.773437 2.757813-10.902344 1.113282-13.660156-3.660156-2.761719-4.78125-8.878906-6.421875-13.660156-3.660156s-6.421875 8.878906-3.660156 13.660156c8.230468 14.257813 26.589843 19.285156 40.980468 10.980469l17.320313-10c4.78125-2.761719 6.421875-8.875 3.660156-13.660156zm0 0"/><path d="m497.136719 43.746094-55.722657 31.007812c-4.824218 2.6875-6.5625 8.777344-3.875 13.601563 2.679688 4.820312 8.765626 6.566406 13.601563 3.875l55.71875-31.007813c4.828125-2.6875 6.5625-8.777344 3.875-13.601562-2.683594-4.828125-8.773437-6.5625-13.597656-3.875zm0 0"/><path d="m491.292969 147.316406-38.636719-10.351562c-5.335938-1.429688-10.820312 1.734375-12.25 7.070312-1.429688 5.335938 1.738281 10.816406 7.074219 12.246094l38.640625 10.351562c5.367187 1.441407 10.824218-1.773437 12.246094-7.070312 1.429687-5.335938-1.738282-10.820312-7.074219-12.246094zm0 0"/><path d="m394.199219 7.414062-10.363281 38.640626c-1.429688 5.335937 1.734374 10.816406 7.070312 12.25 5.332031 1.425781 10.816406-1.730469 12.25-7.070313l10.359375-38.640625c1.429687-5.335938-1.734375-10.820312-7.070313-12.25-5.332031-1.429688-10.816406 1.734375-12.246093 7.070312zm0 0"/></svg>
				<?php echo $announcement['text']; ?>
				<div class="announce_footer">
					<button class="btn btn-main-rev btn-mat" onclick="Wo_ViewAnnouncement(<?php echo $announcement['id']; ?>);"><?php echo $wo['lang']['close'];?></button>
				</div>
			</div>
		<?php } ?>
		<?php if ($wo['config']['afternoon_system'] == 1) { ?>
			<div class="alert alert-dismissible p15 greetalert" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close" title="<?php echo $wo['lang']['hide'];?>" onclick="setCookie('day_status', '1', 3);"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path fill="currentColor" opacity=".45" d="M18.3 5.71c-.39-.39-1.02-.39-1.41 0L12 10.59 7.11 5.7c-.39-.39-1.02-.39-1.41 0-.39.39-.39 1.02 0 1.41L10.59 12 5.7 16.89c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L12 13.41l4.89 4.89c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4z"/></svg></button>
				<?php if (Wo_IsMobile() == false) { ?>
				<?php if ($wo['config']['weather_widget'] == 1 && !empty($wo['config']['weather_key']) && !empty($wo['config']['yahoo_consumer_key']) && !empty($wo['config']['yahoo_consumer_secret'])) { ?>
					<button type="button" class="btn" data-toggle="modal" data-target="#weatherBox"><svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 24 24" width="16"><path fill="currentColor" d="M11.1,12.08c-2-3.88-0.92-7.36,0.07-9.27c0.19-0.36-0.12-0.77-0.53-0.72C5.62,2.77,1.78,7.16,1.99,12.41 c0.01,0,0.01,0,0.01,0.01C2.62,12.15,3.29,12,4,12c1.66,0,3.18,0.83,4.1,2.15C9.77,14.63,11,16.17,11,18 c0,1.52-0.87,2.83-2.12,3.51c0.98,0.32,2.03,0.5,3.11,0.5c3.13,0,5.92-1.44,7.76-3.69c0.26-0.32,0.04-0.79-0.37-0.82 C16.89,17.37,13.1,15.97,11.1,12.08z"/></g><path d="M7,16l-0.18,0C6.4,14.84,5.3,14,4,14c-1.66,0-3,1.34-3,3s1.34,3,3,3c0.62,0,2.49,0,3,0c1.1,0,2-0.9,2-2 C9,16.9,8.1,16,7,16z"/></svg> <?php echo $wo['lang']['home_weather'];?></button>
				<?php } ?>
				<?php } ?>
				<div id="daynightmsg"><div class="skel skel_2 skel_home_greet"></div></div>
			</div>
		<?php } ?>
		
		<?php if ($wo['page'] == 'home') { ?>
		<?php if ($wo['config']['user_status'] == 1) { ?>
			<div class="tag_stories_on_home">
				<div class="tag_lbox_stories tag_stories_mobi">
					<ul class="list-unstyled valign tag_scroll status-list">
						<li class="create_new">
							<a href="<?php echo Wo_SeoLink('index.php?link1=create-status'); ?>">
								<img src="<?php echo $wo['user']['avatar'];?>" alt="<?php echo $wo['user']['name'];?>">
								<span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" /></svg></span>
							</a>
							<p class="truncate pointer" onclick="window.location = '<?php echo Wo_SeoLink('index.php?link1=create-status'); ?>';"><?php echo $wo['lang']['create_story'] ?></p>
						</li>
						<?php if (Wo_IsMobile() == false) { ?>
							<?php
								$get_user_status = Wo_GetFriendsStatus(array('limit' => 6));
								if (!empty($get_user_status)) {
							?>
								<?php
									foreach ($get_user_status as $key => $wo['user_status']) {
										echo Wo_LoadPage('home/lightbox-user-status');
									}
								?>
								<?php if (count($get_user_status) == 1) { ?>
									<li class="story_empty"><a><span><b></b></span></a><p></p></li><li class="story_empty"><a><span><b></b></span></a><p></p></li><li class="story_empty"><a><span><b></b></span></a><p></p></li><li class="story_empty"><a><span><b></b></span></a><p></p></li><li class="story_empty"><a><span><b></b></span></a><p></p></li>
								<?php } else if (count($get_user_status) == 2) { ?>
									<li class="story_empty"><a><span><b></b></span></a><p></p></li><li class="story_empty"><a><span><b></b></span></a><p></p></li><li class="story_empty"><a><span><b></b></span></a><p></p></li><li class="story_empty"><a><span><b></b></span></a><p></p></li>
								<?php } else if (count($get_user_status) == 3) { ?>
									<li class="story_empty"><a><span><b></b></span></a><p></p></li><li class="story_empty"><a><span><b></b></span></a><p></p></li><li class="story_empty"><a><span><b></b></span></a><p></p></li>
								<?php } else if (count($get_user_status) == 4) { ?>
									<li class="story_empty"><a><span><b></b></span></a><p></p></li><li class="story_empty"><a><span><b></b></span></a><p></p></li>
								<?php } else if (count($get_user_status) == 5) { ?>
									<li class="story_empty"><a><span><b></b></span></a><p></p></li>
								<?php } ?>
							<?php } else { ?>
								<li class="story_empty"><a><span><b></b></span></a><p></p></li><li class="story_empty"><a><span><b></b></span></a><p></p></li><li class="story_empty"><a><span><b></b></span></a><p></p></li><li class="story_empty"><a><span><b></b></span></a><p></p></li><li class="story_empty"><a><span><b></b></span></a><p></p></li><li class="story_empty"><a><span><b></b></span></a><p></p></li>
							<?php } ?>
						<?php } else { ?>
							<?php
								$get_user_status = Wo_GetFriendsStatus(array('limit' => 60));
								if (!empty($get_user_status)) {
							?>
								<?php
									foreach ($get_user_status as $key => $wo['user_status']) {
										echo Wo_LoadPage('home/lightbox-user-status');
									}
								?>
								<?php if (count($get_user_status) == 1) { ?>
									<li class="story_empty"><a><span><b></b></span></a><p></p></li><li class="story_empty"><a><span><b></b></span></a><p></p></li>
								<?php } else if (count($get_user_status) == 2) { ?>
									<li class="story_empty"><a><span><b></b></span></a><p></p></li>
								<?php } ?>
							<?php } else { ?>
								<li class="story_empty"><a><span><b></b></span></a><p></p></li><li class="story_empty"><a><span><b></b></span></a><p></p></li><li class="story_empty"><a><span><b></b></span></a><p></p></li>
							<?php } ?>
						<?php } ?>
					</ul>
					<?php if (Wo_IsMobile() == false) { ?>
					<?php if (count($get_user_status) > 3) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=more-status'); ?>" class="btn btn-mat btn-mat-raised view-more-stories" title="<?php echo $wo['lang']['see_all'] ?>">
							<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" fill="currentColor"><path d="M14,9h7c0.55,0,1-0.45,1-1c0-0.55-0.45-1-1-1h-7c-0.55,0-1,0.45-1,1C13,8.55,13.45,9,14,9z"/><path d="M21,15h-7c-0.55,0-1,0.45-1,1c0,0.55,0.45,1,1,1h7c0.55,0,1-0.45,1-1C22,15.45,21.55,15,21,15z"/><path d="M21,11h-4c-0.55,0-1,0.45-1,1c0,0.55,0.45,1,1,1h4c0.55,0,1-0.45,1-1C22,11.45,21.55,11,21,11z"/><path d="M8.85,7.85C8.54,7.54,8,7.76,8,8.21V11H3c-0.55,0-1,0.45-1,1c0,0.55,0.45,1,1,1h5v2.79c0,0.45,0.54,0.67,0.85,0.35 l3.79-3.79c0.2-0.2,0.2-0.51,0-0.71L8.85,7.85z"/></svg>
						</a>
					<?php } }?>
				</div>
			</div>
			<hr class="style-two">
		<?php } 
	} ?>
		<?php if ($wo['page'] == 'home') { ?>
			<div id="scroll_filter_click"></div>
			<div class="valign tag_home_filters home">
				<?php if ($wo['config']['order_posts_by'] == 0) { ?>
					<div class="dropdown tag_home_post_order" dir="auto">
                                            <a href="#" class="btn-mat" data-toggle="dropdown" role="button" aria-expanded="false">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path fill="currentColor" d="M9.12601749,6 C9.57006028,4.27477279 11.1361606,3 13,3 C15.209139,3 17,4.790861 17,7 C17,9.209139 15.209139,11 13,11 C11.1361606,11 9.57006028,9.72522721 9.12601749,8 L2,8 L2,6 L9.12601749,6 Z M4.12601749,16 C4.57006028,14.2747728 6.13616057,13 8,13 C10.209139,13 12,14.790861 12,17 C12,19.209139 10.209139,21 8,21 C6.13616057,21 4.57006028,19.7252272 4.12601749,18 L2,18 L2,16 L4.12601749,16 Z M14,18 L14,16 L22,16 L22,18 L14,18 Z M8,19 C9.1045695,19 10,18.1045695 10,17 C10,15.8954305 9.1045695,15 8,15 C6.8954305,15 6,15.8954305 6,17 C6,18.1045695 6.8954305,19 8,19 Z M19,8 L19,6 L22,6 L22,8 L19,8 Z M13,9 C14.1045695,9 15,8.1045695 15,7 C15,5.8954305 14.1045695,5 13,5 C11.8954305,5 11,5.8954305 11,7 C11,8.1045695 11.8954305,9 13,9 Z"></path></svg>                                                
                                            </a>
						<ul class="dropdown-menu tag_create_menu order_by">
							<li class="order_all <?php echo ($wo['user']['order_posts_by'] == 0) ? 'active' : ''; ?>">
								<a href="javascript:void(0);" onclick="Wo_StorePosts(0);"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" class="hover_path" d="M20 22H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1zM7 6v4h4V6H7zm0 6v2h10v-2H7zm0 4v2h10v-2H7zm6-9v2h4V7h-4z"></path><path fill="currentColor" d="M20 22H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1zm-1-2V4H5v16h14zM7 6h4v4H7V6zm0 6h10v2H7v-2zm0 4h10v2H7v-2zm6-9h4v2h-4V7z"></path></svg> <?php echo $wo['lang']['all'] ?> <?php echo $wo['lang']['posts'] ?></a>
							</li>
							<li class="order_people <?php echo ($wo['user']['order_posts_by'] == 1) ? 'active' : ''; ?>">
								<a href="javascript:void(0);" onclick="Wo_StorePosts(1);">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100.353 100.353" width="24" height="24" style="enable-background:new 0 0 100.353 100.353" xml:space="preserve"><path fill="currentColor" d="M49.106 50.437c-12.167 0-22.066 9.898-22.066 22.065a1.5 1.5 0 0 0 1.5 1.5h41.131a1.5 1.5 0 0 0 1.5-1.5c0-12.167-9.899-22.065-22.065-22.065zM30.099 71.002c.768-9.814 9-17.565 19.007-17.565 10.007 0 18.239 7.751 19.006 17.565H30.099zm18.647-22.546c7.143 0 12.954-5.811 12.954-12.954 0-7.143-5.812-12.954-12.954-12.954-7.143 0-12.954 5.811-12.954 12.954 0 7.143 5.811 12.954 12.954 12.954zm0-22.908c5.488 0 9.954 4.465 9.954 9.954 0 5.488-4.466 9.954-9.954 9.954-5.489 0-9.954-4.465-9.954-9.954 0-5.489 4.465-9.954 9.954-9.954z"/><path fill="currentColor" d="M19.78 58.714c2.461 0 4.878.656 6.99 1.898a1.5 1.5 0 1 0 1.52-2.586 16.795 16.795 0 0 0-8.51-2.312c-9.257 0-16.788 7.531-16.788 16.788a1.5 1.5 0 0 0 1.5 1.5h19.012a1.5 1.5 0 1 0 0-3H6.073c.75-6.9 6.611-12.288 13.707-12.288zm-.266-5.395c5.521 0 10.014-4.492 10.014-10.014 0-5.522-4.492-10.014-10.014-10.014-5.522 0-10.014 4.492-10.014 10.014 0 5.521 4.492 10.014 10.014 10.014zm0-17.028a7.022 7.022 0 0 1 7.014 7.014 7.022 7.022 0 0 1-7.014 7.014 7.021 7.021 0 0 1-7.014-7.014 7.021 7.021 0 0 1 7.014-7.014zm59.039 19.423c-2.994 0-5.937.8-8.51 2.312a1.499 1.499 0 1 0 1.52 2.586 13.803 13.803 0 0 1 6.99-1.898c7.096 0 12.957 5.388 13.707 12.288H74.832a1.5 1.5 0 0 0 0 3h19.009a1.5 1.5 0 0 0 1.5-1.5c0-9.257-7.531-16.788-16.788-16.788zm.267-2.395c5.521 0 10.014-4.492 10.014-10.014 0-5.522-4.492-10.014-10.014-10.014-5.522 0-10.015 4.492-10.015 10.014.001 5.521 4.493 10.014 10.015 10.014zm0-17.028a7.022 7.022 0 0 1 7.014 7.014 7.022 7.022 0 0 1-7.014 7.014c-3.868 0-7.015-3.146-7.015-7.014a7.023 7.023 0 0 1 7.015-7.014z"/><path fill="currentColor" class="hover_path" d="M49.106 50.437c-12.167 0-22.066 9.898-22.066 22.065a1.5 1.5 0 0 0 1.5 1.5h41.131a1.5 1.5 0 0 0 1.5-1.5c0-12.167-9.899-22.065-22.065-22.065zM30.099 71.002c.768-9.814 9-17.565 19.007-17.565 10.007 0 18.239 7.751 19.006 17.565H30.099zm18.647-22.546c7.143 0 12.954-5.811 12.954-12.954 0-7.143-5.812-12.954-12.954-12.954-7.143 0-12.954 5.811-12.954 12.954 0 7.143 5.811 12.954 12.954 12.954zm0-22.908c5.488 0 9.954 4.465 9.954 9.954 0 5.488-4.466 9.954-9.954 9.954-5.489 0-9.954-4.465-9.954-9.954 0-5.489 4.465-9.954 9.954-9.954z"/><path class="hover_path" fill="currentColor" d="M19.78 58.714c2.461 0 4.878.656 6.99 1.898a1.5 1.5 0 1 0 1.52-2.586 16.795 16.795 0 0 0-8.51-2.312c-9.257 0-16.788 7.531-16.788 16.788a1.5 1.5 0 0 0 1.5 1.5h19.012a1.5 1.5 0 1 0 0-3H6.073c.75-6.9 6.611-12.288 13.707-12.288zm-.266-5.395c5.521 0 10.014-4.492 10.014-10.014 0-5.522-4.492-10.014-10.014-10.014-5.522 0-10.014 4.492-10.014 10.014 0 5.521 4.492 10.014 10.014 10.014zm0-17.028a7.022 7.022 0 0 1 7.014 7.014 7.022 7.022 0 0 1-7.014 7.014 7.021 7.021 0 0 1-7.014-7.014 7.021 7.021 0 0 1 7.014-7.014zm59.039 19.423c-2.994 0-5.937.8-8.51 2.312a1.499 1.499 0 1 0 1.52 2.586 13.803 13.803 0 0 1 6.99-1.898c7.096 0 12.957 5.388 13.707 12.288H74.832a1.5 1.5 0 0 0 0 3h19.009a1.5 1.5 0 0 0 1.5-1.5c0-9.257-7.531-16.788-16.788-16.788zm.267-2.395c5.521 0 10.014-4.492 10.014-10.014 0-5.522-4.492-10.014-10.014-10.014-5.522 0-10.015 4.492-10.015 10.014.001 5.521 4.493 10.014 10.015 10.014zm0-17.028a7.022 7.022 0 0 1 7.014 7.014 7.022 7.022 0 0 1-7.014 7.014c-3.868 0-7.015-3.146-7.015-7.014a7.023 7.023 0 0 1 7.015-7.014z"/></svg>
                                <?php echo $wo['lang']['people_i_follow'] ?></a>
							</li>
						</ul>
					</div>
				<?php } ?>
				<ul class="list-unstyled tag_page_nav valign filterby tag_scroll" id="filterby-post">
					<li class="active filter-by-li" dir="auto">
						<a href="javascript:void(0);" class="btn-mat" onclick="Wo_FilterPostBy('all');"><?php echo $wo['lang']['all'];?></a>
					</li>
                    <li class="filter-by-li" dir="auto">
						<a href="javascript:void(0);" class="btn-mat" onclick="Wo_FilterPostBy('post');"><?php echo $wo['lang']['posts'];?></a>
					</li>
                    <li class="filter-by-li" dir="auto">
						<a href="javascript:void(0);" class="btn-mat" onclick="Wo_FilterPostBy('funding');"><?php echo $wo['lang']['funding'];?></a>
					</li>
                    <li class="filter-by-li" dir="auto">
						<a href="javascript:void(0);" class="btn-mat" onclick="Wo_FilterPostBy('challenge');"><?php echo $wo['lang']['challenges'];?></a>
					</li>
				</ul>
				<button type="button" class="btn btn-mat tag_home_goup" onclick="$('html, body').animate({scrollTop});"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M12 8l6 6H6z"/></svg> <?php echo $wo['lang']['top'];?></button>
			</div>
		<?php } ?>
		
		<div class="row">
			<div class="col-lg-7 middlecol">
				<?php
					$birth = Wo_CheckBirthdays();
					if (count($birth) > 0) { 
				?>
					<div class="wow_content tag_bdays">
						<button type="button" class="btn btn-mat" data-toggle="modal" data-target="#bdayBox">
							<img src="<?php echo $wo['config']['theme_url'];?>/img/gift.png">
							<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path fill="currentColor" d="M12.68 5.88c.7-.24 1.22-.9 1.3-1.64.05-.47-.05-.91-.28-1.27L12.42.75c-.19-.33-.67-.33-.87 0l-1.28 2.22c-.17.3-.27.65-.27 1.03 0 1.32 1.3 2.35 2.68 1.88zm3.85 10.04l-1-1-1.08 1.07c-1.3 1.3-3.58 1.31-4.89 0l-1.07-1.07-1.09 1.07C6.75 16.64 5.88 17 4.96 17c-.73 0-1.4-.23-1.96-.61V20c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-3.61c-.75.51-1.71.75-2.74.52-.66-.14-1.25-.51-1.73-.99zM18 9h-5V8c0-.55-.45-1-1-1s-1 .45-1 1v1H6c-1.66 0-3 1.34-3 3v1.46c0 .85.5 1.67 1.31 1.94.73.24 1.52.06 2.03-.46l2.14-2.13 2.13 2.13c.76.76 2.01.76 2.77 0l2.14-2.13 2.13 2.13c.43.43 1.03.63 1.65.55.99-.13 1.69-1.06 1.69-2.06v-1.42C21 10.34 19.66 9 18 9z"/></svg> <?php echo $wo['lang']['today'];?> <?php echo count($birth);?> <?php echo $wo['lang']['friends_birthdays'];?>
						</button>
					</div>
				<?php } ?>
				
				<?php
					if($wo['loggedin'] == true) {
						echo Wo_LoadPage('story/publisher-box');
					} 
				?>
				<div class="btn btn-main btn-mat btn-mat-raised posts-count" onclick="Wo_GetNewPosts();"></div>
				<div class="posts_load">
					<div id="posts-laoded">
						<div class="wow_content p15 tag_post_skel"><div class="valign"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div><div class="valign tag_post_skel_foot"><div class="valign"><div class="skel skel_action"></div><div class="skel skel_action"></div></div><div><div class="skel skel_action"></div></div></div></div>
						<div class="wow_content p15 tag_post_skel"><div class="valign"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div><div class="valign tag_post_skel_foot"><div class="valign"><div class="skel skel_action"></div><div class="skel skel_action"></div></div><div><div class="skel skel_action"></div></div></div></div>
					</div>
				</div>
			</div>
			<?php echo Wo_LoadPage('sidebar/content');?>
		</div>
	</div>
</div>

<?php 
if ($wo['user']['social_login'] == 1) { 
  echo Wo_LoadPage('modals/create-password');
} 
?>

<?php
	$birth = Wo_CheckBirthdays();
	if (count($birth) > 0) { 
?>
	<div class="modal fade" id="bdayBox" tabindex="-1" role="dialog" aria-labelledby="bdayBox" aria-hidden="true">
		<div class="modal-dialog wow_mat_mdl" role="document">
			<div class="modal-content tag_bday_box">
				<div class="empty_state">
					<img src="<?php echo $wo['config']['theme_url'];?>/img/cake.png"> <?php echo $wo['lang']['friends_birthdays'];?>
				</div>
				<div class="row">
					<?php 
						foreach ($birth as $wo['UsersList']) {
							$wo['UsersList']['user_name'] = mb_substr($wo['UsersList']['name'],0,10, "utf-8");
							echo Wo_LoadPage('sidebar/sidebar-birthday-list');
						} 
					?>
				</div>
			</div>
		</div>
	</div>
<?php } ?>

<?php if (Wo_IsMobile() == false) { ?>
<?php if ($wo['config']['weather_widget'] == 1 && !empty($wo['config']['weather_key']) && !empty($wo['config']['yahoo_consumer_key']) && !empty($wo['config']['yahoo_consumer_secret'])) { ?>
	<div class="modal fade" id="weatherBox" tabindex="-1" role="dialog" aria-labelledby="weatherBox" aria-hidden="true">
		<div class="modal-dialog wow_mat_mdl tag_weather_box" role="document">
			<div class="modal-content">
				<div class="tag_weather">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path fill="currentColor" d="M18.3 5.71c-.39-.39-1.02-.39-1.41 0L12 10.59 7.11 5.7c-.39-.39-1.02-.39-1.41 0-.39.39-.39 1.02 0 1.41L10.59 12 5.7 16.89c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L12 13.41l4.89 4.89c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4z"/></svg></button>
					<div class="tag_weather_shadow">
						<div class="valign tag_weather_hdr">
							<div>
								<div class="tag_weather_icon"><div class="wet_skel wet_skel_ico"></div></div>
								<p><?php echo $wo['lang']['today'];?></p>
								<div class="tag_weather_condition"><div class="wet_skel skel_2 wet_skel_condition"></div></div>
							</div>
						</div>
						<div class="tag_weather_currentTemp"><div class="wet_skel wet_skel_currentTemp"></div></div>
						<div class="tag_weather_timezone"><div class="wet_skel skel_2 wet_skel_timezone"></div></div>
						<div class="valign tag_weather_mdl">
							<div>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M13.33,11.67L16.21,14.58C17.62,13.16 16.21,11.75 16.21,11.75L14.72,10.24C14.9,9.86 15,9.44 15,9C15,7.95 14.46,7.03 13.64,6.5L15,2.11C13.09,1.53 12.5,3.44 12.5,3.44L11.69,6.03C10.46,6.16 9.46,7 9.13,8.18L4.67,9.63C5.31,11.53 7.2,10.9 7.2,10.9L9.27,10.23C9.61,10.97 10.23,11.54 11,11.82V19C11,19 9,19 9,21C9,21.5 9,21.81 9,22H15V21C15,21 15,19 13,19V11.82C13.12,11.78 13.23,11.72 13.33,11.67M10.5,9A1.5,1.5 0 0,1 12,7.5A1.5,1.5 0 0,1 13.5,9A1.5,1.5 0 0,1 12,10.5A1.5,1.5 0 0,1 10.5,9Z" /></svg>
								<p><?php echo $wo['lang']['weather_wind'];?></p>
								<div class="tag_weather_wind"><div class="wet_skel skel_2 wet_skel_details"></div></div>
							</div>
							<div>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12,3.25C12,3.25 6,10 6,14C6,17.32 8.69,20 12,20A6,6 0 0,0 18,14C18,10 12,3.25 12,3.25M14.47,9.97L15.53,11.03L9.53,17.03L8.47,15.97M9.75,10A1.25,1.25 0 0,1 11,11.25A1.25,1.25 0 0,1 9.75,12.5A1.25,1.25 0 0,1 8.5,11.25A1.25,1.25 0 0,1 9.75,10M14.25,14.5A1.25,1.25 0 0,1 15.5,15.75A1.25,1.25 0 0,1 14.25,17A1.25,1.25 0 0,1 13,15.75A1.25,1.25 0 0,1 14.25,14.5Z" /></svg>
								<p><?php echo $wo['lang']['weather_humidity'];?></p>
								<div class="tag_weather_atmosphere"><div class="wet_skel skel_2 wet_skel_details"></div></div>
							</div>
							<div>
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C17,19.5 21.27,16.39 23,12C21.27,7.61 17,4.5 12,4.5Z" /></svg>
								<p><?php echo $wo['lang']['weather_visibility'];?></p>
								<div class="tag_weather_visibility"><div class="wet_skel skel_2 wet_skel_details"></div></div>
							</div>
						</div>
						<div class="valign tag_weather_mdl tag_weather_mdl2">
							<div>
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="24" height="24" fill="currentColor"> <g> <g> <path d="M496,416H326.624l-59.328-59.328c-6.24-6.24-16.384-6.24-22.624,0L185.376,416H16c-8.832,0-16,7.168-16,16 c0,8.832,7.168,16,16,16h176c4.256,0,8.32-1.696,11.328-4.672L256,390.624l52.672,52.672C311.68,446.304,315.744,448,320,448h176 c8.832,0,16-7.168,16-16C512,423.168,504.832,416,496,416z"/> </g> </g> <g> <g> <path d="M256,160c-88.32,0-160,71.68-160,160c0,22.752,4.928,44.352,13.472,64h62.656l49.952-49.952 c18.72-18.752,49.152-18.752,67.872,0L339.872,384h62.656C411.072,364.352,416,342.752,416,320C416,231.68,344.32,160,256,160z"/> </g> </g> <g> <g> <path d="M256,64c-8.832,0-16,7.168-16,16v32c0,8.832,7.168,16,16,16c8.832,0,16-7.168,16-16V80C272,71.168,264.832,64,256,64z"/> </g> </g> <g> <g> <path d="M48,304H16c-8.832,0-16,7.168-16,16c0,8.832,7.168,16,16,16h32c8.832,0,16-7.168,16-16C64,311.168,56.832,304,48,304z"/> </g> </g> <g> <g> <path d="M496,304h-32c-8.832,0-16,7.168-16,16c0,8.832,7.168,16,16,16h32c8.832,0,16-7.168,16-16C512,311.168,504.832,304,496,304 z"/> </g> </g> <g> <g> <path d="M120.224,161.6L97.6,139.008c-6.24-6.24-16.384-6.24-22.624,0s-6.24,16.384,0,22.624L97.6,184.224 c3.136,3.136,7.232,4.672,11.328,4.672c4.096,0,8.192-1.536,11.296-4.672C126.464,177.984,126.464,167.84,120.224,161.6z"/> </g> </g> <g> <g> <path d="M437.024,139.008c-6.24-6.24-16.384-6.24-22.624,0L391.776,161.6c-6.24,6.24-6.24,16.384,0,22.624 c3.136,3.136,7.232,4.704,11.328,4.704s8.192-1.568,11.328-4.672l22.592-22.624C443.264,155.392,443.264,145.248,437.024,139.008z "/> </g> </g></svg>
								<p><?php echo $wo['lang']['weather_sunrise'];?></p>
								<div class="tag_weather_sunrise"><div class="wet_skel skel_2 wet_skel_details"></div></div>
							</div>
							<div>
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="24" height="24" fill="currentColor"> <g> <g> <path d="M496,384H320c-4.256,0-8.32,1.696-11.328,4.672L256,441.376l-52.672-52.672C200.32,385.696,196.256,384,192,384H16 c-8.832,0-16,7.168-16,16c0,8.832,7.168,16,16,16h169.376l59.328,59.328c3.104,3.104,7.2,4.672,11.296,4.672 s8.192-1.568,11.328-4.672L326.624,416H496c8.832,0,16-7.168,16-16C512,391.168,504.832,384,496,384z"/> </g> </g> <g> <g> <path d="M256,128c-88.32,0-160,71.68-160,160c0,22.752,4.928,44.352,13.472,64H192c12.8,0,24.864,4.992,33.952,14.048L256,396.128 l30.048-30.048C295.136,356.992,307.2,352,320,352h82.528C411.072,332.352,416,310.752,416,288C416,199.68,344.32,128,256,128z"/> </g> </g> <g> <g> <path d="M256,32c-8.832,0-16,7.168-16,16v32c0,8.832,7.168,16,16,16c8.832,0,16-7.168,16-16V48C272,39.168,264.832,32,256,32z"/> </g> </g> <g> <g> <path d="M48,272H16c-8.832,0-16,7.168-16,16c0,8.832,7.168,16,16,16h32c8.832,0,16-7.168,16-16C64,279.168,56.832,272,48,272z"/> </g> </g> <g> <g> <path d="M496,272h-32c-8.832,0-16,7.168-16,16c0,8.832,7.168,16,16,16h32c8.832,0,16-7.168,16-16C512,279.168,504.832,272,496,272 z"/> </g> </g> <g> <g> <path d="M120.224,129.6L97.6,107.008c-6.24-6.24-16.384-6.24-22.624,0s-6.24,16.384,0,22.624L97.6,152.224 c3.136,3.136,7.232,4.672,11.328,4.672c4.096,0,8.192-1.536,11.296-4.672C126.464,145.984,126.464,135.84,120.224,129.6z"/> </g> </g> <g> <g> <path d="M437.024,107.008c-6.24-6.24-16.384-6.24-22.624,0L391.776,129.6c-6.24,6.24-6.24,16.384,0,22.624 c3.136,3.136,7.232,4.704,11.328,4.704s8.192-1.568,11.328-4.672l22.592-22.624C443.264,123.392,443.264,113.248,437.024,107.008z "/> </g> </g></svg>
								<p><?php echo $wo['lang']['weather_sunset'];?></p>
								<div class="tag_weather_sunset"><div class="wet_skel skel_2 wet_skel_details"></div></div>
							</div>
						</div>
					</div>
					<div class="tag_weather_forecast">
						<div class="valign fivedays tag_weather_day2"><div class="wet_skel skel_2 wet_skel_day"></div><div class="wet_skel skel_2 wet_skel_day_temp"></div></div>
						<div class="valign fivedays tag_weather_day3"><div class="wet_skel skel_2 wet_skel_day"></div><div class="wet_skel skel_2 wet_skel_day_temp"></div></div>
						<div class="valign fivedays tag_weather_day4"><div class="wet_skel skel_2 wet_skel_day"></div><div class="wet_skel skel_2 wet_skel_day_temp"></div></div>
						<div class="valign fivedays tag_weather_day5"><div class="wet_skel skel_2 wet_skel_day"></div><div class="wet_skel skel_2 wet_skel_day_temp"></div></div>
						<div class="valign fivedays tag_weather_day6"><div class="wet_skel skel_2 wet_skel_day"></div><div class="wet_skel skel_2 wet_skel_day_temp"></div></div>
						<div class="valign fivedays tag_weather_day7"><div class="wet_skel skel_2 wet_skel_day"></div><div class="wet_skel skel_2 wet_skel_day_temp"></div></div>
					</div>
					<div class="valign no_weather_loc hidden"></div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<?php } ?>
<?php } ?>

<?php  if (Wo_IsMobile() == false) { ?>
<?php if ($wo['config']['weather_widget'] == 1 && !empty($wo['config']['weather_key']) && !empty($wo['config']['yahoo_consumer_key']) && !empty($wo['config']['yahoo_consumer_secret'])) { ?>
<script>
$(document).ready(function() {
	//setting today's date and time
	var d = new Date();
	var month = d.getMonth();  
	var monthNames = ['<?php echo $wo['lang']['january']; ?>', '<?php echo $wo['lang']['february']; ?>', '<?php echo $wo['lang']['march']; ?>', '<?php echo $wo['lang']['april']; ?>', '<?php echo $wo['lang']['may']; ?>', '<?php echo $wo['lang']['june']; ?>', '<?php echo $wo['lang']['july']; ?>', '<?php echo $wo['lang']['august']; ?>', '<?php echo $wo['lang']['september']; ?>', '<?php echo $wo['lang']['october']; ?>', '<?php echo $wo['lang']['november']; ?>', '<?php echo $wo['lang']['december']; ?>'];
	var day = d.getDate();  
  
	//Get geolocation
	if ("geolocation" in navigator) {
		var geo = navigator.geolocation;
		geo.getCurrentPosition(function(position) {
			setLocation(position.coords.latitude, position.coords.longitude);
		});
	} else {
		console.log("geo is NOT available");
	}  
	navigator.permissions && navigator.permissions.query({name: 'geolocation'}).then(function(PermissionStatus) {
        if(PermissionStatus.state == 'granted'){
			//allowed
        }else{
			$('.no_weather_loc').html('<div class="empty_state"><svg height="512" viewBox="0 0 32 32" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m26 32h-20c-3.314 0-6-2.686-6-6v-20c0-3.314 2.686-6 6-6h20c3.314 0 6 2.686 6 6v20c0 3.314-2.686 6-6 6z" fill="#e3f8fa"/><path d="m20.667 8.667c-1.838 0-3.333 1.514-3.333 3.375 0 2.568 2.885 5.066 3.008 5.172.188.16.463.16.65 0 .123-.106 3.008-2.604 3.008-5.172 0-1.861-1.495-3.375-3.333-3.375zm0 4.666c-.735 0-1.333-.598-1.333-1.333s.598-1.333 1.333-1.333 1.333.598 1.333 1.333-.598 1.333-1.333 1.333z" fill="#8ce1eb"/><g fill="#26c6da"><path d="m20 22.667h-1.5v-1.433c.488-.198.833-.676.833-1.234 0-.735-.598-1.333-1.333-1.333s-1.333.598-1.333 1.333c0 .558.345 1.036.833 1.234v1.433h-1.5v-5.353c0-.368-.299-.667-.667-.667s-.667.299-.667.667v5.353h-1.333v-2.167c0-.276-.224-.5-.5-.5h-1.667c-.276 0-.5.224-.5.5v2.167h-1.333v-10.334h4.667c.368 0 .667-.299.667-.667 0-.03 0-1.167 0-1.167 0-.643-.523-1.167-1.167-1.167h-.833v-.665c0-.369-.299-.667-.667-.667s-.667.299-.667.667v.667h-.833c-.643 0-1.167.523-1.167 1.167v.499c-.735 0-1.333.598-1.333 1.333v11c0 .369.298.667.667.667h11.333c.368 0 .667-.299.667-.667s-.299-.666-.667-.666z"/><path d="m12.833 17h-1.667c-.276 0-.5.224-.5.5s.224.5.5.5h1.667c.276 0 .5-.224.5-.5s-.224-.5-.5-.5z"/><path d="m12.833 13h-1.667c-.276 0-.5.224-.5.5s.224.5.5.5h1.667c.276 0 .5-.224.5-.5s-.224-.5-.5-.5z"/><path d="m12.833 15h-1.667c-.276 0-.5.224-.5.5s.224.5.5.5h1.667c.276 0 .5-.224.5-.5s-.224-.5-.5-.5z"/></g></svg> <?php echo $wo['lang']['enable_weather_loc']; ?></div>').removeClass('hidden');
        }
    })
});

function setLocation(pos1, pos2) { 
    var url = 'https://weather-ydn-yql.media.yahoo.com/forecastrss';
    var method = 'GET';
    var app_id = "<?php echo($wo['config']['weather_key']) ?>";
    var consumer_key = "<?php echo($wo['config']['yahoo_consumer_key']) ?>";
    var consumer_secret = "<?php echo($wo['config']['yahoo_consumer_secret']) ?>";
    var unit = "<?php echo ($wo['user']['weather_unit'] == 'us' ? 'f' : 'c'); ?>";
    var concat = '&';
    var query = {'lat': pos1,'lon':pos2,'u':unit, 'format': 'json'};
    var oauth = {
        'oauth_consumer_key': consumer_key,
        'oauth_nonce': Math.random().toString(36).substring(2),
        'oauth_signature_method': 'HMAC-SHA1',
        'oauth_timestamp': parseInt(new Date().getTime() / 1000).toString(),
        'oauth_version': '1.0'
    };

    var merged = {}; 
    $.extend(merged, query, oauth);
    // Note the sorting here is required
    var merged_arr = Object.keys(merged).sort().map(function(k) {
		return [k + '=' + encodeURIComponent(merged[k])];
    });
    var signature_base_str = method
      + concat + encodeURIComponent(url)
      + concat + encodeURIComponent(merged_arr.join(concat));

    var composite_key = encodeURIComponent(consumer_secret) + concat;
    var hash = CryptoJS.HmacSHA1(signature_base_str, composite_key);
    var signature = hash.toString(CryptoJS.enc.Base64);

    oauth['oauth_signature'] = signature;
    var auth_header = 'OAuth ' + Object.keys(oauth).map(function(k) {
		return [k + '="' + oauth[k] + '"'];
    }).join(',');

    $.ajax({
		url: url + '?' + $.param(query),
		headers: {
			'Authorization': auth_header,
			'X-Yahoo-App-Id': app_id 
		},
		method: 'GET',
		success: function(data){
			$(".tag_weather_timezone").html(data.location.city + ", " + data.location.country);
			$(".tag_weather_condition").html(data.current_observation.condition.text);
			$(".tag_weather_wind").html(data.current_observation.wind.speed + " km/h");
			$(".tag_weather_atmosphere").html(data.current_observation.atmosphere.humidity + "%");
			$(".tag_weather_visibility").html(data.current_observation.atmosphere.visibility + " km");
			$(".tag_weather_sunrise").html(data.current_observation.astronomy.sunrise);
			$(".tag_weather_sunset").html(data.current_observation.astronomy.sunset);
			$(".tag_weather_currentTemp").html(data.current_observation.condition.temperature + "<sup>\xB0<?php echo ($wo['user']['weather_unit'] == 'us' ? 'F' : 'C'); ?></sup>");
			$(".tag_weather_day2").html('<span class="bold">' + getWeekdayForecast(data.forecasts[1].day) + '</span><span>' + Math.floor(data.forecasts[1].low) + '\xB0<?php echo ($wo['user']['weather_unit'] == "us" ? "F" : "C"); ?>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + Math.floor(data.forecasts[1].high) + '\xB0<?php echo ($wo['user']['weather_unit'] == "us" ? "F" : "C"); ?></span>');
			$(".tag_weather_day3").html('<span class="bold">' + getWeekdayForecast(data.forecasts[2].day) + '</span><span>' + Math.floor(data.forecasts[2].low) + '\xB0<?php echo ($wo['user']['weather_unit'] == "us" ? "F" : "C"); ?>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + Math.floor(data.forecasts[2].high) + '\xB0<?php echo ($wo['user']['weather_unit'] == "us" ? "F" : "C"); ?></span>');
			$(".tag_weather_day4").html('<span class="bold">' + getWeekdayForecast(data.forecasts[3].day) + '</span><span>' + Math.floor(data.forecasts[3].low) + '\xB0<?php echo ($wo['user']['weather_unit'] == "us" ? "F" : "C"); ?>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + Math.floor(data.forecasts[3].high) + '\xB0<?php echo ($wo['user']['weather_unit'] == "us" ? "F" : "C"); ?></span>');
			$(".tag_weather_day5").html('<span class="bold">' + getWeekdayForecast(data.forecasts[4].day) + '</span><span>' + Math.floor(data.forecasts[4].low) + '\xB0<?php echo ($wo['user']['weather_unit'] == "us" ? "F" : "C"); ?>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + Math.floor(data.forecasts[4].high) + '\xB0<?php echo ($wo['user']['weather_unit'] == "us" ? "F" : "C"); ?></span>');
			$(".tag_weather_day6").html('<span class="bold">' + getWeekdayForecast(data.forecasts[5].day) + '</span><span>' + Math.floor(data.forecasts[5].low) + '\xB0<?php echo ($wo['user']['weather_unit'] == "us" ? "F" : "C"); ?>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + Math.floor(data.forecasts[5].high) + '\xB0<?php echo ($wo['user']['weather_unit'] == "us" ? "F" : "C"); ?></span>');
			$(".tag_weather_day7").html('<span class="bold">' + getWeekdayForecast(data.forecasts[6].day) + '</span><span>' + Math.floor(data.forecasts[6].low) + '\xB0<?php echo ($wo['user']['weather_unit'] == "us" ? "F" : "C"); ?>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + Math.floor(data.forecasts[6].high) + '\xB0<?php echo ($wo['user']['weather_unit'] == "us" ? "F" : "C"); ?></span>');

			switch(data.current_observation.condition.code) {         
				case 0: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/tornado.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/tornado.jpg)');
				break;
				case 1: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/hurricane.png">'),$(".tag_weather").addClass('blur').css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/hurricane.jpg)');
				break;
				case 2: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/hurricane.png">'),$(".tag_weather").addClass('blur').css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/hurricane.jpg)');
				break;
				case 3: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/thunder.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/thunder.jpg)');
				break;
				case 4: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/thunder.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/thunder.jpg)');
				break;
				case 5: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/sleet.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/sleet.jpg)');
				break;
				case 6: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/sleet.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/sleet.jpg)');
				break;
				case 7: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/snow.png">'),$(".tag_weather").addClass('black').css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/snow.jpg)');
				break;
				case 8: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/freeze-rain.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/freeze-rain.jpg)');
				break;
				case 9: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/rain.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/drizzle.jpg)');
				break;
				case 10: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/freeze-rain.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/freeze-rain.jpg)');
				break;
				case 11: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/rain.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/showers.jpg)');
				break;
				case 12: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/rain.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/rain.jpg)');
				break;
				case 13: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/snow.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/snowflake.jpg)');
				break;
				case 14: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/sleet.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/sleet.jpg)');
				break;
				case 15: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/snow-wind.png">'),$(".tag_weather").addClass('black').css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/snow.jpg)');
				break;
				case 16: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/snow.png">'),$(".tag_weather").addClass('black').css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/snow.jpg)');
				break;
				case 17: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/hail.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/hail.jpg)');
				break;
				case 18: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/sleet.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/sleet.jpg)');
				break;
				case 19: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/dust.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/dust.jpg)');
				break;
				case 20: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/fog.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/fog.jpg)');
				break;
				case 21: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/fog.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/haze.jpg)');
				break;
				case 22: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/smoke.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/smoke.jpg)');
				break;
				case 23: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/wind.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/wind.jpg)');
				break;
				case 24: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/wind.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/wind.jpg)');
				break;
				case 25: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/snow.png">'),$(".tag_weather").addClass('black').css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/snow.jpg)');
				break;
				case 26: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/cloud.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/cloud.jpg)');
				break;
				case 27: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/night-cloud.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/night-cloud.jpg)');
				break;
				case 28: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/day-cloud.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/day-cloud.jpg)');
				break;
				case 29: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/partly-night-cloud.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/partly-night-cloud.jpg)');
				break;
				case 30: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/partly-day-cloud.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/partly-day-cloud.jpg)');
				break;
				case 31: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/moon.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/moon.jpg)');
				break;
				case 32: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/sun.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/sun.jpg)');
				break;
				case 33: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/moon.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/moon.jpg)');
				break;
				case 34: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/sun.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/fair-day.jpg)');
				break;
				case 35: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/freeze-rain.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/hail-rain.jpg)');
				break;
				case 36: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/heat.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/heat.jpg)');
				break;
				case 37: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/thunder.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/thunderstorm.jpg)');
				break;
				case 38: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/thunder.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/thunderstorm.jpg)');
				break;
				case 39: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/day-rain.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/day-rain.jpg)');
				break;
				case 40: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/rain.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/rain.jpg)');
				break;
				case 41: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/day-sleet.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/sleet.jpg)');
				break;
				case 42: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/snow.png">'),$(".tag_weather").addClass('black').css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/snow.jpg)');
				break;
				case 43: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/snow.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/blizzard.jpg)');
				break;
				case 44: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/na.png">'),$(".tag_weather").addClass('black');
				break;
				case 45: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/night-rain.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/night-rain.jpg)');
				break;
				case 46: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/night-rain-snow.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/night-rain-snow.jpg)');
				break;
				case 47: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/thunder-rain.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/thunderstorm.jpg)');
				break;
			}
		}
	});
}

function getWeekdayForecast(offset) {
    var d = new Date();
    var weekday = new Array(7); 
    weekday['Sun']=  "<?php echo $wo['lang']['sunday']; ?>";
    weekday['Mon'] = "<?php echo $wo['lang']['monday']; ?>";
    weekday['Tue'] = "<?php echo $wo['lang']['tuesday']; ?>";
    weekday['Wed'] = "<?php echo $wo['lang']['wednesday']; ?>";
    weekday['Thu'] = "<?php echo $wo['lang']['thursday']; ?>";
    weekday['Fri'] = "<?php echo $wo['lang']['friday']; ?>";
    weekday['Sat'] = "<?php echo $wo['lang']['saturday']; ?>"; 
    return weekday[offset];
};
</script>
<?php } ?>
<?php } ?>

<?php if ($wo['config']['order_posts_by'] == 0) { ?>
<script>
function Wo_StorePosts(type) {
  if (type > 1) {
     return false;
  }
  if (type == 0) {
	$('.order_all').addClass('active');
	$('.order_people').removeClass('active');
  } else {
	$('.order_all').removeClass('active');
	$('.order_people').addClass('active');
  }
  $('#posts-laoded').html('<div class="wow_content p15 tag_post_skel"><div class="valign"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div><div class="valign tag_post_skel_foot"><div class="valign"><div class="skel skel_action"></div><div class="skel skel_action"></div></div><div><div class="skel skel_action"></div></div></div></div><div class="wow_content p15 tag_post_skel"><div class="valign"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div><div class="valign tag_post_skel_foot"><div class="valign"><div class="skel skel_action"></div><div class="skel skel_action"></div></div><div><div class="skel skel_action"></div></div></div></div>');
  $.get(Wo_Ajax_Requests_File() + '?f=update_order_by', {type:type}, function (data) {
    if (data.status == 200) {
      loadposts();
    }
  });
}
</script>
<?php } ?>

<script type="text/javascript">
$(document).on("scroll", function() {
    $('.tag_home_goup').toggleClass('btn-home-go-up', $(this).scrollTop() > 500);
});

$(function() {
    loadposts();
});

function loadposts() {
	$("#posts-laoded").load(Wo_Ajax_Requests_File() + '?f=load_posts', function enter() {
		Wo_FinishBar();
		window.fbAsyncInit = function() {
		  FB.init({
			appId      : '374255706379985',
			xfbml      : true,
			version    : 'v3.2'
		  });
		};
	  	$(".post-description p, .product-description").each(function(index, el) {
	  		$(this).readmore({
		      speed: 75,
		      moreLink: '<a href="#" class="hash"><?php echo $wo["lang"]["read_more"];?></a>',
		      lessLink: '<a href="#" class="hash"><?php echo $wo["lang"]["read_less"];?></a>'
		    });
	  	});
	  	$(".post-commet-textarea .textarea").triggeredAutocomplete({
	       hidden: '#hidden_inputbox_comment',
	       source: Wo_Ajax_Requests_File() + "?f=mention",
	       trigger: "@" 
	    });
	  	$(".comment-reply textarea").triggeredAutocomplete({
	       hidden: '#hidden_inputbox_comment_reply',
	       source: Wo_Ajax_Requests_File() + "?f=mention",
	       trigger: "@"
	    });
	    $('#load-more-posts').show();

	});
}
  <?php if ($wo['user']['social_login'] == 1) { ?>
  $(window).on("load", function (e) {
       $('#create-password').modal('show');
    });
  $(function() {
    var create_password_container = $('#create-password');
    var working = false;
    var create_password_form = $('form.create-password');
    var error_container = create_password_container.find('.error-container');
    
    create_password_form.ajaxForm({
      url: Wo_Ajax_Requests_File() + '?f=update_new_logged_user_details',
      beforeSend: function() {
            <?php if ($wo['config']['password_complexity_system'] == 1) { ?>
                    if ($('#create-password .helper-text .length').hasClass('valid') && $('#create-password .helper-text .lowercase').hasClass('valid') && $('#create-password .helper-text .uppercase').hasClass('valid') && $('#create-password .helper-text .special').hasClass('valid')) {
                            working = true;
                            //create_password_form.find('button').attr("disabled", true);
                            Wo_progressIconLoader($('form.create-password').find('button'));
                    }
                    else{
                            error_container.html('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo($wo['lang']['complexity_requirements']) ?></div>');
                            return false;
                    }
            <?php } else{ ?>
                    working = true;
                    create_password_form.find('button').attr("disabled", true);
            <?php } ?>          
      },
      success: function(data) {
        if (data.status == 200) {
          error_container.html("<div class='alert alert-success'>" + data.message + "</div>");
           $('#update-username').attr('href', data.url);
           setTimeout(function() {
           	location.reload();
            $('#create-password').modal('hide');

           }, 1500);
        } else {
          var errors = data.errors.join("<br>");
          error_container.html("<div class='alert alert-danger'>" + errors + "</div>");
        }
        Wo_progressIconLoader($('form.create-password').find('button'));
      }
    });
  });

<?php } ?>

function Wo_ViewAnnouncement(id) {
	var announcement_container = $('.home-announcement');
	$.get(Wo_Ajax_Requests_File() + '?f=update_announcement_views', {id:id}, function (data) {
		if (data.status == 200) {
			announcement_container.remove();
		}
	});
}

function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays*60*60*1000));
    var expires = "expires="+ d;
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}

function getCookieValue(a) {
    var b = document.cookie.match('(^|;)\\s*' + a + '\\s*=\\s*([^;]+)');
    return b ? b.pop() : '';
}

$(function () {
    var is_day_enabled = getCookieValue('day_status');
    var myDate = new Date();
    var hrs = myDate.getHours();
    var greet;
    var color;
	var quote;
    if (hrs < 12) {
        greet = '<?php echo $wo['lang']['good_morning']?>, <?php if (!empty($wo['user']['first_name'])) { ?><?php echo $wo['user']['first_name']?><?php } else {?><?php echo $wo['user']['name']?><?php } ?>';
        color = 'morning';
		quote = '<?php echo $wo['lang']['good_morning_quote']?>';
    } else if (hrs >= 12 && hrs <= 18) {
        greet = '<?php echo $wo['lang']['good_afternoon']?>, <?php if (!empty($wo['user']['first_name'])) { ?><?php echo $wo['user']['first_name']?><?php } else {?><?php echo $wo['user']['name']?><?php } ?>';
        color = 'noon';
		quote = '<?php echo $wo['lang']['good_afternoon_quote']?>';
    } else if (hrs >= 18 && hrs <= 24) {
        greet = '<?php echo $wo['lang']['good_evening']?>, <?php if (!empty($wo['user']['first_name'])) { ?><?php echo $wo['user']['first_name']?><?php } else {?><?php echo $wo['user']['name']?><?php } ?>';
        color = 'evening';
		quote = '<?php echo $wo['lang']['good_evening_quote']?>';
    }
    if (is_day_enabled != 1) {
		$('.greetalert').addClass(color);
		$('#daynightmsg').html('<div class="small-texts">' + greet + '</div><p>' + quote + '</p>');
	} else {
		$('.greetalert').addClass('hidden');
	}
});
</script>