<div class="col-lg-4 col-md-6" data-rm-blog="<?php echo $wo['fund']['id'];?>">
	<div class="view-blog wow_content fundings" id="<?php echo $wo['fund']['id']; ?>">
		<!-- /Sameer -->
		<?php 
		$imageView = 
		"
		  <img src='".$wo['fund']['image']."' alt='".$wo['fund']['title']."'>
		";
		?>
		<div class="avatar">
			<?php if(isset($wo['fund']['type'])){ ?>
				<a  href="<?php echo $wo['site_url'].'/show_fund/'.$wo['fund']['hashed_id']; ?>" data-ajax="?link1=show_fund&id=<?php echo($wo['fund']['hashed_id']) ?>&type=draft"  id="<?php echo $wo['fund']['id'];?>">

			<?php }else if($wo['fund']['status'] == 0){ ?>?>
				<a  href="<?php echo $wo['site_url'].'/show_fund/'.$wo['fund']['hashed_id']; ?>" data-ajax="?link1=show_fund&id=<?php echo($wo['fund']['hashed_id']) ?>"  id="<?php echo $wo['fund']['id'];?>">

			<?php }else{ ?>

				<a href="<?php echo $wo['config']['site_url'].'/show_fund/'. $wo['fund']['hashed_id']; ?>" data-ajax="?link1=show_fund&id=<?php echo($wo['fund']['hashed_id']) ?>">
			<?php } ?>
				
				<?= empty($wo['fund']['image']) != 1 ? $imageView : ""  ?>
				<?php if(!empty($wo['fund']['video'])): ?>
					<div class="post-file wo_shared_doc_file mg-10" id="fullsizeimg" style="padding:20px;" >
						<?php
						$media = array(
							'type' => 'post',
							'storyId' => $wo['fund']['fund_id'],
							'filename' => $wo['fund']['video'],
							'name' => $wo['fund']['video'],
							'postFileThumb' => $wo['fund']['video'],
						);
						echo Wo_DisplaySharedFile($media, '', $wo['fund']['cache']);
						?>
					</div>
				<?php endif;?>
			</a>
		</div>
		<div class="fundings_desc">
			<time><?php echo date("d M Y",$wo['fund']['time']); ?></time>
			<?=isset($wo['fund']['type']) == 1 ? $wo['fund']['type']: ""?>
			<?=$wo['fund']['status'] == 0 ? "Unpublished ": ""?>
			<h3 class="truncate">
			<?php if(isset($wo['fund']['type'])){ ?>
				<?php echo stripslashes($wo['fund']['title']); ?>
			<?php }else{ ?>
				<a href="<?php echo $wo['config']['site_url'].'/show_fund/'. $wo['fund']['hashed_id']; ?>" data-ajax="?link1=show_fund&id=<?php echo($wo['fund']['hashed_id']) ?>">
					<?php echo stripslashes($wo['fund']['title']); ?>
				</a>
			<?php } ?>
			</h3>
			<p class="desc">
				<?php 
				//$desc = str_replace('<br>', '', $wo['fund']['description']);
				//echo $desc = mb_substr($desc, 0, 80, "UTF-8") . "..."; 

				$businessDesc = strip_tags(html_entity_decode($wo['fund']['description']));
				echo $desc = mb_substr($businessDesc, 0, 60, "UTF-8") . "...";

				?>
			</p>
		</div>
		<div class="fundings_desc">
			<p class="desc">
				Beneficiary :
				 <?=Wo_Markup($wo['fund']['beneficiary'],false,false,true,0,0,0,true) ?>
			</p>
			<?php if(!empty($wo['fund']['funding_admins'])){ 
				$administrators = Wo_GetTaggedUsers($wo['fund']['funding_admins']);
				$isAdministrator = false;
				if(!empty($administrators)){
					foreach($administrators as $admin){
						if($wo['user']['id']  == $admin['id']){
							$isAdministrator = true;
						}
					}
				}
				?>
				<p class="desc">
				Administrators : 
					<!-- <div class="postMeta--author-avatar">
					<a href="<?php echo $wo['fund']['user_data']['url']?>">
						<img src="<?php echo $wo['fund']['user_data']['avatar']?>" alt="User Image">
					</a>
					</div>
					<div class="postMeta--author-text">
						<span class="user-popover" data-id="<?=$wo['fund']['user_data']['id']?>" data-type="user">
							<a href="<?php echo $wo['fund']['user_data']['url']; ?>" data-ajax="?link1=timeline&u=<?php echo $wo['fund']['user_data']['username']; ?>"><?php echo $wo['fund']['user_data']['name']; ?></a>
						</span>
					</div> -->
				<?=Wo_Markup($wo['fund']['funding_admins'],false,false,true,0,0,0,true) ?> 		
				<?php if($isAdministrator || $wo['fund']['user_data']['user_id'] = $wo['user']['user_id']){?>	
						<!-- commented code for + plus button -->
					<!-- <a href="<?=$wo['config']['site_url']."/edit_fund/".$wo['fund']['hashed_id']?>"><button class="wow_content_circle" >+</button></a> -->
				<?php } ?>
				</p>
				<?php
			}
			else{
				?>
				<p class="desc">
					Administrators :
					<?php if($wo['user']['id'] == $wo['fund']['user_id']){?>	
						<!-- <a href="<?=$wo['config']['site_url']."/edit_fund/".$wo['fund']['hashed_id']?>"><button class="wow_content_circle" >+</button></a> -->
					<?php }?>		
				</p>
			<?php } ?>
		</div>
		<div class="fundings_footer">
			<div class="wow_content m-2">
				<span class="pull-right"> 
					<?php
						if(!empty($wo['fund']['due_date'])){ ?>
						<time><?php echo Wo_Time_Elapsed_String(strtotime($wo['fund']['due_date']),"due_date"); ?></time>
					<?php }  
					?>
				</span>
				<p><span class="bold"><?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].$wo['fund']['raised']; ?></span> of <?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].$wo['fund']['amount']; ?> <?php echo $wo['lang']['raised_of']; ?></p>
				<div class="progress mb-2">
					<div class="progress-bar" role="progressbar" style="width: <?php echo $wo['fund']['bar']; ?>%" aria-valuenow="<?php echo $wo['fund']['bar']; ?>" aria-valuemin="0" aria-valuemax="<?php echo($wo['fund']['amount']) ?>"></div>
				</div>
			</div>
			<?Php
				if(!empty($wo['fund']['funding_admins'])){
					$administrators = Wo_GetTaggedUsers($wo['fund']['funding_admins']);
					$isAdministrator = false;
					if(!empty($administrators)){
						foreach($administrators as $admin){
							if($wo['user']['id']  == $admin['id']){
								$isAdministrator = true;
							}
						}
					}
				}?>
			<?php if ($isAdministrator || $wo['fund']['user_id'] == $wo['user']['id']):?>
				<?php if(isset($wo['fund']['type'])){?>
					<a class="btn btn-mat btn-success" href="<?php echo $wo['site_url'].'/edit_fund/'.$wo['fund']['hashed_id']; ?>" data-ajax="?link1=edit_fund&id=<?php echo($wo['fund']['hashed_id']) ?>&type=draft"  id="<?php echo $wo['fund']['id'];?>"><?php echo $wo['lang']['edit']; ?></a>

					<!-- <a class="btn btn-mat btn-success" href="<?php echo $wo['site_url'].'/show_fund/'.$wo['fund']['hashed_id']; ?>" data-ajax="?link1=show_fund&id=<?php echo($wo['fund']['hashed_id']) ?>&type=draft"  id="<?php echo $wo['fund']['id'];?>"><?php echo $wo['lang']['preview']; ?></a> -->
				<?php }else if($wo['fund']['status'] == 0){ ?>
					<a class="btn btn-mat btn-success" href="<?php echo $wo['site_url'].'/edit_fund/'.$wo['fund']['hashed_id']; ?>" data-ajax="?link1=edit_fund&id=<?php echo($wo['fund']['hashed_id']) ?>"  id="<?php echo $wo['fund']['id'];?>"><?php echo $wo['lang']['edit']; ?></a>

					<!-- <a class="btn btn-mat btn-success" href="<?php echo $wo['site_url'].'/show_fund/'.$wo['fund']['hashed_id']; ?>" data-ajax="?link1=show_fund&id=<?php echo($wo['fund']['hashed_id']) ?>"  id="<?php echo $wo['fund']['id'];?>"><?php echo $wo['lang']['preview']; ?></a> -->
			 <?php	}else{?>
					<a class="btn btn-mat btn-success" href="<?php echo $wo['site_url'].'/edit_fund/'.$wo['fund']['hashed_id']; ?>" data-ajax="?link1=edit_fund&id=<?php echo($wo['fund']['hashed_id']) ?>"  id="<?php echo $wo['fund']['id'];?>"><?php echo $wo['lang']['edit']; ?></a>
				<?php } ?>
				<?php if(isset($wo['fund']['type']) ){?>
					<a class="btn btn-mat btn-danger delete-draft-fund" id="<?php echo $wo['fund']['id'];?>"><?php echo $wo['lang']['delete']; ?></a>
				<?php }else{?>
					<a class="btn btn-mat btn-danger delete-fund" id="<?php echo $wo['fund']['id'];?>"><?php echo $wo['lang']['delete']; ?></a>
				<?php } ?>
			<?php endif;?>
		</div>

	</div>
</div>