<?php
if ($wo['loggedin'] == false) {
    header("Location: " . Wo_SeoLink('index.php?link1=welcome'));
    exit();
}
if (!empty($_GET['user']) && empty($_GET['page'])) {
    $user_id = Wo_Secure($_GET['user']);
    $user    = Wo_UserData($user_id);
    if (empty($user['user_id'])) {
        unset($user);
    }
}
?>
<script>window.addEventListener('resize', () => {let vh = window.innerHeight * 0.01;document.documentElement.style.setProperty('--vh', `${vh}px`);});</script>
<div class="tag_messages">
	<div class="wow_content">
		<div class="tag_message_innr">
			<div class="tag_msg_user_list">
				<div class="valign tag_msg_header">
                                        <div class="dropdown valign tag_msg_toolbar">
                                                <button type="button" class="btn chat_back_home" onclick="window.location.replace('<?=$wo['config']['site_url']?>');"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" fill="currentColor"></path></svg></button>
						<button type="button" class="btn" data-toggle="dropdown" role="button" aria-expanded="false"><img src="<?php echo $wo['user']['avatar'];?>" alt="<?php echo $wo['user']['name'];?>"></button>                                            
						<ul class="dropdown-menu tag_create_menu" role="menu">
							<li>
								<a href="<?php echo $wo['config']['site_url']; ?>"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" class="hover_path" d="M20 20a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-9H1l10.327-9.388a1 1 0 0 1 1.346 0L23 11h-3v9zm-9-7v6h2v-6h-2z"/><path fill="currentColor" d="M19 21H5a1 1 0 0 1-1-1v-9H1l10.327-9.388a1 1 0 0 1 1.346 0L23 11h-3v9a1 1 0 0 1-1 1zm-6-2h5V9.157l-6-5.454-6 5.454V19h5v-6h2v6z"/></svg> <?php echo $wo['lang']['home']; ?></a>
							</li>
							<hr>
							<li>
								<a href="<?php echo $wo['user']['url']; ?>"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" class="hover_path" d="M20 22H4v-2a5 5 0 0 1 5-5h6a5 5 0 0 1 5 5v2zm-8-9a6 6 0 1 1 0-12 6 6 0 0 1 0 12z"/><path fill="currentColor" d="M20 22h-2v-2a3 3 0 0 0-3-3H9a3 3 0 0 0-3 3v2H4v-2a5 5 0 0 1 5-5h6a5 5 0 0 1 5 5v2zm-8-9a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-2a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"/></svg> <?php echo $wo['lang']['my_profile']; ?></a>
							</li>
							<li>
								<a href="<?php echo Wo_SeoLink('index.php?link1=setting&page=privacy-setting'); ?>"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" class="hover_path" d="M12 1l8.217 1.826a1 1 0 0 1 .783.976v9.987a6 6 0 0 1-2.672 4.992L12 23l-6.328-4.219A6 6 0 0 1 3 13.79V3.802a1 1 0 0 1 .783-.976L12 1zm0 6a2 2 0 0 0-1 3.732V15h2l.001-4.268A2 2 0 0 0 12 7z"/><path fill="currentColor" d="M12 1l8.217 1.826a1 1 0 0 1 .783.976v9.987a6 6 0 0 1-2.672 4.992L12 23l-6.328-4.219A6 6 0 0 1 3 13.79V3.802a1 1 0 0 1 .783-.976L12 1zm0 2.049L5 4.604v9.185a4 4 0 0 0 1.781 3.328L12 20.597l5.219-3.48A4 4 0 0 0 19 13.79V4.604L12 3.05zM12 7a2 2 0 0 1 1.001 3.732L13 15h-2v-4.268A2 2 0 0 1 12 7z"/></svg> <?php echo $wo['lang']['privacy_setting']; ?></a>
							</li>
							<hr>
							<li>
								<a href="<?php echo Wo_SeoLink('index.php?link1=logout'); ?>"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" class="hover_path" d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm5-6l5-4-5-4v3H9v2h8v3z"/><path fill="currentColor" d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2a9.985 9.985 0 0 1 8 4h-2.71a8 8 0 1 0 .001 12h2.71A9.985 9.985 0 0 1 12 22zm7-6v-3h-8v-2h8V8l5 4-5 4z"/></svg> <?php echo $wo['lang']['log_out'] ?></a>
							</li>
						</ul>
					</div>
					<h2><?php echo $wo['lang']['messages'];?></h2>
					<div class="dropdown valign tag_msg_toolbar">
						<button type="button" class="btn" data-toggle="dropdown" role="button" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="26" height="26"><path d="M5.334 4.545a9.99 9.99 0 0 1 3.542-2.048A3.993 3.993 0 0 0 12 3.999a3.993 3.993 0 0 0 3.124-1.502 9.99 9.99 0 0 1 3.542 2.048 3.993 3.993 0 0 0 .262 3.454 3.993 3.993 0 0 0 2.863 1.955 10.043 10.043 0 0 1 0 4.09c-1.16.178-2.23.86-2.863 1.955a3.993 3.993 0 0 0-.262 3.455 9.99 9.99 0 0 1-3.542 2.047A3.993 3.993 0 0 0 12 20a3.993 3.993 0 0 0-3.124 1.502 9.99 9.99 0 0 1-3.542-2.047 3.993 3.993 0 0 0-.262-3.455 3.993 3.993 0 0 0-2.863-1.954 10.043 10.043 0 0 1 0-4.091 3.993 3.993 0 0 0 2.863-1.955 3.993 3.993 0 0 0 .262-3.454zM13.5 14.597a3 3 0 1 0-3-5.196 3 3 0 0 0 3 5.196z" fill="currentColor"></path></svg></button>
						<ul class="dropdown-menu dropdown-menu-right tag_create_menu" role="menu">
							<li>
								<a class="pointer" onclick="MarkAsReadAll();"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" class="hover_path" d="M6.455 19L2 22.5V4a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H6.455zm4.838-6.879L8.818 9.646l-1.414 1.415 3.889 3.889 5.657-5.657-1.414-1.414-4.243 4.242z"/><path fill="currentColor" d="M6.455 19L2 22.5V4a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H6.455zm-.692-2H20V5H4v13.385L5.763 17zm5.53-4.879l4.243-4.242 1.414 1.414-5.657 5.657-3.89-3.89 1.415-1.414 2.475 2.475z"/></svg> <?php echo $wo['lang']['mark_all_as_read'] ?></a>
							</li>
							<li>
								<a class="pointer" onclick="Wo_CreateGChat(event)"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" class="hover_path" d="M10 19.748V16.4c0-1.283.995-2.292 2.467-2.868A8.482 8.482 0 0 0 9.5 13c-1.89 0-3.636.617-5.047 1.66A8.017 8.017 0 0 0 10 19.748zm8.88-3.662C18.485 15.553 17.17 15 15.5 15c-2.006 0-3.5.797-3.5 1.4V20a7.996 7.996 0 0 0 6.88-3.914zM9.55 11.5a2.25 2.25 0 1 0 0-4.5 2.25 2.25 0 0 0 0 4.5zm5.95 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10z"/><path fill="currentColor" d="M9.55 11.5a2.25 2.25 0 1 1 0-4.5 2.25 2.25 0 0 1 0 4.5zm.45 8.248V16.4c0-.488.144-.937.404-1.338a6.473 6.473 0 0 0-5.033 1.417A8.012 8.012 0 0 0 10 19.749zM4.453 14.66A8.462 8.462 0 0 1 9.5 13c1.043 0 2.043.188 2.967.532.878-.343 1.925-.532 3.033-.532 1.66 0 3.185.424 4.206 1.156a8 8 0 1 0-15.253.504zm14.426 1.426C18.486 15.553 17.171 15 15.5 15c-2.006 0-3.5.797-3.5 1.4V20a7.996 7.996 0 0 0 6.88-3.914zM12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm3.5-9.5a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"/></svg> <?php echo $wo['lang']['create_group_chat'] ?></a>
							</li>
						</ul>
					</div>
				</div>
				<form method="post" class="messages-search-users-form">
					<div class="tag_msg_container">
						<div class="tag_msg_search messages-search-icon">
							<div class="search_input">
								<input type="search" name="query" id="query" onkeyup="Wo_GetMessagesUsers(this.value);" placeholder="<?php echo $wo['lang']['search'];?> <?php echo $wo['lang']['my_messages'];?>">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M11 2c4.968 0 9 4.032 9 9s-4.032 9-9 9-9-4.032-9-9 4.032-9 9-9zm0 16c3.867 0 7-3.133 7-7 0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7zm8.485.071l2.829 2.828-1.415 1.415-2.828-2.829 1.414-1.414z"></path></svg>
							</div>
						</div>
						<div class="tag_msg_body">
							<div class="tag_msg_body_content tag_scroll">
								<div class="tab-content messages-users-list">
									<div id="users-message" class="messages-chat-list tab-pane active">
										<?php
											$chats = Wo_GetMessagesUsers($wo['user']['user_id']);
											$array = array();
											if (!empty($chats)) {
												foreach ($chats as $key => $value) {
													$array[] = $value;
												}
											}
											array_multisort( array_column($array, "chat_time"), SORT_DESC, $array );
											if (count($chats) == 0) {
												echo '<div class="empty_state"><svg xmlns="http://www.w3.org/2000/svg" height="512" viewBox="0 0 32 32" width="512"><path d="m26 32h-20c-3.314 0-6-2.686-6-6v-20c0-3.314 2.686-6 6-6h20c3.314 0 6 2.686 6 6v20c0 3.314-2.686 6-6 6z" fill="#ffe6e2"/><g fill="#fd907e"><circle cx="10.667" cy="14.917" r="1.333"/><path d="m12.447 17.183c-.673.507-1.113 1.32-1.113 2.233v.167h-2.834c-.273 0-.5-.227-.5-.5v-.333c0-1.013.82-1.833 1.833-1.833h1.667c.347 0 .673.1.947.266z"/><circle cx="21.333" cy="14.917" r="1.333"/><path d="m24 18.75v.333c0 .273-.227.5-.5.5h-2.833v-.167c0-.913-.44-1.727-1.113-2.233.273-.167.6-.267.947-.267h1.667c1.012.001 1.832.821 1.832 1.834z"/></g><circle cx="16" cy="14.583" fill="#fc573b" r="2"/><path d="m17.833 17.583h-3.667c-1.011 0-1.833.822-1.833 1.833v1c0 .276.224.5.5.5h6.333c.276 0 .5-.224.5-.5v-1c.001-1.01-.822-1.833-1.833-1.833z" fill="#fc573b"/></svg>' . $wo['lang']['no_users_found'] . '</div>';
											}else{
												foreach($chats as $wo['recipient']) {
													if (!empty($wo['recipient']['message']['page_id'])) {
														$message = Wo_GetPageMessages(array(
																	'page_id' => $wo['recipient']['message']['page_id'],
																	'from_id' => $wo['recipient']['message']['user_id'],
																	'to_id'   => $wo['recipient']['message']['conversation_user_id'],
																	'limit' => 1,
																	'limit_type' => 1
																));
														$wo['page_message']['message'] = $message[0];
														echo Wo_LoadPage('messages/messages-page-list');
													}
													else{
														echo Wo_LoadPage('messages/messages-recipients-list');
													}
												}
											}
										?>
									</div>
									<div id="groups-message" class="messages-group-list tab-pane">
										<?php 
											$chat_groups = Wo_GetChatGroups();
											if (count($chat_groups) == 0) {
												echo '<div class="empty_state"><svg height="512" viewBox="0 0 32 32" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m26 32h-20c-3.314 0-6-2.686-6-6v-20c0-3.314 2.686-6 6-6h20c3.314 0 6 2.686 6 6v20c0 3.314-2.686 6-6 6z" fill="#f5e6fe"/><g fill="#be63f9"><circle cx="16" cy="9.667" r="1.667"/><circle cx="20.667" cy="19" r="1.667"/><circle cx="11.333" cy="19" r="1.667"/><path d="m18.833 14.667h-5.667c-.276 0-.5-.224-.5-.5v-.333c0-1.011.822-1.833 1.833-1.833h3c1.011 0 1.833.822 1.833 1.833v.333c.001.276-.223.5-.499.5z"/><path d="m23.5 24h-5.667c-.276 0-.5-.224-.5-.5v-.333c0-1.011.822-1.833 1.833-1.833h3c1.011 0 1.833.822 1.833 1.833v.333c.001.276-.223.5-.499.5z"/><path d="m14.167 24h-5.667c-.276 0-.5-.224-.5-.5v-.333c0-1.011.822-1.833 1.833-1.833h3c1.011 0 1.833.822 1.833 1.833v.333c.001.276-.223.5-.499.5z"/></g><path d="m9.833 16.508c-.276 0-.5-.224-.5-.5 0-2.584 1.515-4.958 3.858-6.048.251-.116.548-.008.664.243.116.25.008.548-.243.664-1.993.927-3.28 2.945-3.28 5.141.001.276-.223.5-.499.5z" fill="#d9a4fc"/><path d="m22.167 16.508c-.276 0-.5-.224-.5-.5 0-2.197-1.287-4.215-3.28-5.141-.25-.117-.359-.414-.243-.664.117-.25.413-.359.664-.243 2.344 1.09 3.858 3.464 3.858 6.048.001.276-.223.5-.499.5z" fill="#d9a4fc"/><path d="m16 22.675c-.236 0-.468-.012-.697-.036-.274-.029-.474-.275-.445-.549s.271-.47.549-.445c.401.042.822.04 1.225-.004.272-.031.521.168.552.442.03.275-.168.521-.442.552-.244.026-.491.04-.742.04z" fill="#d9a4fc"/></svg>' . $wo['lang']['no_groups_found'] . '</div>';
											} 
											else {
												foreach ($chat_groups as $wo['group']) {
													echo Wo_LoadPage('messages/messages-group-list');
												}
											}
										?>
									</div>
								</div>
							</div>
							<ul class="valign nav nav-tabs tag_msg_switch" role="tablist">
								<li role="presentation"><a href="#users-message" class="active" aria-controls="users-message" role="tab" data-toggle="tab"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M7.291 20.824L2 22l1.176-5.291A9.956 9.956 0 0 1 2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10a9.956 9.956 0 0 1-4.709-1.176zM7 12a5 5 0 0 0 10 0h-2a3 3 0 0 1-6 0H7z"></path></svg><?php echo $wo['lang']['friends_btn'];?></a></li>
								<li role="presentation"><a href="#groups-message" aria-controls="groups-message" role="tab" data-toggle="tab"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M10 19.748V16.4c0-1.283.995-2.292 2.467-2.868A8.482 8.482 0 0 0 9.5 13c-1.89 0-3.636.617-5.047 1.66A8.017 8.017 0 0 0 10 19.748zm8.88-3.662C18.485 15.553 17.17 15 15.5 15c-2.006 0-3.5.797-3.5 1.4V20a7.996 7.996 0 0 0 6.88-3.914zM9.55 11.5a2.25 2.25 0 1 0 0-4.5 2.25 2.25 0 0 0 0 4.5zm5.95 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10z"></path></svg><?php echo $wo['lang']['groups'];?></a></li>
							</ul>
						</div>
					</div>
				</form>
			</div>
			<div class="tag_msg_user_chat" id="tag_msg_right_prt">
				<div class="text-sender-container">
					<div class="valign tag_msg_header msg_usr_info_top_list">
						<div class="tag_msg_participant">
							<button type="button" class="btn chat_navigation" onclick="$('#tag_msg_right_prt').fadeOut(100);"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" fill="currentColor"></path></svg></button>
							<div class="avatar" id="user-avatar-right">
								<img src="<?php echo $wo['user']['avatar'];?>" width="42" height="42" alt="User" class="rounded-circle hidden">
							</div>
							<div class="name">
								<div id="user-name" class="bold truncate hidden"></div>
								<p id="user-last-seen" class="msg_usr_lst_sen_main"></p>
							</div>
						</div>
						<div class="valign tag_msg_toolbar">
							<span id="audio-button"></span>
							<span id="video-button"></span>
							<span class="delete-icon"></span>
						</div>
						<div class="msg_progress"><div class="indeterminate"></div></div>
					</div>
					<div class="messages-load-more-messages view-more-wrapper hidden"></div>
					<div class="messagejoint tag_msg_container">
						<div class="tag_msg_body tag_msg_main_body">
							<div class="messages-container tag_scroll">
								<div class="no-messages valign empty_state">
									<img src="<?php echo $wo['config']['theme_url'];?>/img/select-message.png">
									<?php echo $wo['lang']['choose_one_of_your_friends']; ?> <?php echo $wo['lang']['and_say_hello']; ?>
									<button type="button" class="btn btn-main btn-mat btn-message-select" onclick="$('#tag_msg_right_prt').fadeOut(100);"><?php echo $wo['lang']['friends_btn']; ?></button>
								</div>
							</div>
						</div>
						<div class="tag_msg_write hidden">
							<form method="post" class="sendMessages" enctype="multipart/form-data">
								<div class="valign">
									<div class="tag_write_msg">
										<textarea name="textSendMessage" class="auto-resize tag_msg_write_tarea" id="sendMessage" onkeydown="Wo_SubmitForm(event);" onfocus="Wo_SubmitForm(event);" placeholder="<?php echo $wo['lang']['type_message'];?>.." rows="1" disabled></textarea>
										<div class="charsLeft-message"><span id="charsLeft"></span></div>
									</div>
									<?php if ($wo['config']['audio_upload'] == 1) { ?>
										<div class="tag_msg_record">
											<span class="btn btn-file message-option-btn tag_msg_select_clr" disabled id="messages-record" data-record="0">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><rect width="8" height="14.1" x="8" y=".95" opacity=".5" fill="currentColor" rx="4"></rect><path fill="currentColor" d="M20,11a1,1,0,0,0-2,0A6,6,0,0,1,6,11a1,1,0,0,0-2,0,8.007,8.007,0,0,0,7,7.93054V21H9a1,1,0,0,0,0,2h6a1,1,0,0,0,0-2H13V18.93054A8.007,8.007,0,0,0,20,11Z"/></svg>
											</span>
											<span class="messages-rtime hidden">00:00</span>
										</div>
									<?php } ?>
									<span class="btn btn-file message-option-btn tag_msg_select_clr">
										<?php if($wo['config']['fileSharing'] == 1) { ?>
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M18.08,12.42,11.9,18.61a4.25,4.25,0,0,1-6-6l8-8a2.57,2.57,0,0,1,3.54,0,2.52,2.52,0,0,1,0,3.54l-6.9,6.89A.75.75,0,1,1,9.42,14l5.13-5.12a1,1,0,0,0-1.42-1.42L8,12.6a2.74,2.74,0,0,0,0,3.89,2.82,2.82,0,0,0,3.89,0l6.89-6.9a4.5,4.5,0,0,0-6.36-6.36l-8,8A6.25,6.25,0,0,0,13.31,20l6.19-6.18a1,1,0,1,0-1.42-1.42Z"/></svg>
											<input type="file" id="sendMessasgeFile" name="sendMessageFile"  onchange="Wo_ShareFile();" />
										<?php } else { ?>
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M19,2H5A3,3,0,0,0,2,5V19a3,3,0,0,0,3,3H19a2.81,2.81,0,0,0,.49-.05l.3-.07.07,0h0l.05,0,.37-.14.13-.07c.1-.06.21-.11.31-.18a3.79,3.79,0,0,0,.38-.32l.07-.09a2.69,2.69,0,0,0,.27-.32l.09-.13a2.31,2.31,0,0,0,.18-.35,1,1,0,0,0,.07-.15c.05-.12.08-.25.12-.38l0-.15A2.6,2.6,0,0,0,22,19V5A3,3,0,0,0,19,2ZM5,20a1,1,0,0,1-1-1V14.69l3.29-3.3h0a1,1,0,0,1,1.42,0L17.31,20Zm15-1a1,1,0,0,1-.07.36,1,1,0,0,1-.08.14.94.94,0,0,1-.09.12l-5.35-5.35.88-.88a1,1,0,0,1,1.42,0h0L20,16.69Zm0-5.14L18.12,12a3.08,3.08,0,0,0-4.24,0l-.88.88L10.12,10a3.08,3.08,0,0,0-4.24,0L4,11.86V5A1,1,0,0,1,5,4H19a1,1,0,0,1,1,1Z"/></svg>
											<input type="file" id="sendMessasgeFile" name="sendMessageFile"  onchange="Wo_ShareFile();" accept="image/x-png, image/gif, image/jpeg" disabled />
										<?php } ?>
									</span>
									<button onclick="Wo_GetMRecordLink();" class="btn btn-main btn-mat send-button" type="button">
										<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path fill="currentColor" d="M3.4 20.4l17.45-7.48c.81-.35.81-1.49 0-1.84L3.4 3.6c-.66-.29-1.39.2-1.39.91L2 9.12c0 .5.37.93.87.99L17 12 2.87 13.88c-.5.07-.87.5-.87 1l.01 4.61c0 .71.73 1.2 1.39.91z"/></svg><span><?php echo $wo['lang']['send'];?></span>
									</button>
								</div>
								<div class="dropdown tag_msg_emostick" id="chat-sticker-system">
									<div class="emo-message dropdown-toggle" data-toggle="dropdown" data-display="static" role="button" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24"><path fill="currentColor" d="M12,22c5.514,0,10-4.486,10-10S17.514,2,12,2S2,6.486,2,12S6.486,22,12,22z M15.493,9c0.824,0,1.493,0.669,1.493,1.493 s-0.669,1.493-1.493,1.493S14,11.317,14,10.493S14.669,9,15.493,9z M11.192,15.919c0.529,0.107,1.085,0.107,1.616,0 c0.253-0.052,0.505-0.131,0.75-0.233c0.234-0.1,0.464-0.224,0.679-0.368c0.208-0.142,0.407-0.306,0.591-0.489 c0.183-0.182,0.347-0.381,0.489-0.592l1.658,1.117c-0.215,0.319-0.462,0.619-0.734,0.891c-0.271,0.271-0.57,0.518-0.885,0.73 c-0.322,0.218-0.665,0.403-1.021,0.554c-0.368,0.154-0.746,0.272-1.128,0.35C12.811,17.959,12.404,18,12,18 s-0.811-0.041-1.207-0.122c-0.383-0.077-0.761-0.195-1.127-0.349c-0.357-0.151-0.7-0.337-1.021-0.554 c-0.316-0.214-0.615-0.46-0.888-0.733c-0.271-0.27-0.519-0.569-0.733-0.889l1.658-1.117c0.143,0.211,0.307,0.41,0.488,0.59 c0.185,0.186,0.384,0.35,0.594,0.492c0.213,0.144,0.442,0.268,0.679,0.368C10.687,15.788,10.938,15.867,11.192,15.919z M8.5,9 C9.328,9,10,9.672,10,10.5S9.328,12,8.5,12S7,11.328,7,10.5S7.672,9,8.5,9z"></path></svg></div>
									<div class="dropdown-menu dropdown-static-menu" role="menu">
										<?php if ($wo['config']['stickers_system'] == 1): ?>
											<div class="valign">
												<ul class="valign nav nav-tabs tag_switch_noti" role="tablist">
													<li role="presentation"><a href="#emojis-message" class="active" aria-controls="emojis-message" role="tab" data-toggle="tab">Emoji</a></li>
													<li role="presentation"><a href="#stickers-message" aria-controls="stickers-message" role="tab" data-toggle="tab"><?php echo $wo['lang']['stickers'];?></a></li>
												</ul>
											</div>
										<?php endif; ?>
										<div class="tab-content">
											<div id="emojis-message" class="tab-pane active text-center tag_msg_emojis tag_scroll">
												<?php  
													foreach ($wo['emo'] as $code => $name) {
													$code   = $code;
													echo  '<span onclick="Wo_AddEmoToMessageInput(\'' . $code . '\');"><i class="pointer twa-lg twa twa-' . $name . '"></i></span>'; 
													} 
												?>
											</div>
											<?php if ($wo['config']['stickers_system'] == 1): ?>
												<div id="stickers-message" class="tab-pane">
													<div class="text-center tag_msg_sticks tag_scroll">
														<?php 
															$stickers_system = Wo_GetAllStickers(50000);
															if( count( $stickers_system ) > 0 ){
																foreach ($stickers_system as $wo['stickerlist']) {
																	echo '<div class="valign"><img alt="gif" src="'. Wo_GetMedia( $wo['stickerlist']['media_file'] ).'" data-gif="'.Wo_GetMedia( $wo['stickerlist']['media_file'] ).'" onclick="Wo_ChatStickerMessage(this);" autoplay loop></div>';
																}
															} else {
																echo '<div class="empty_state"><svg height="512pt" viewBox="0 0 512 512" width="512pt" xmlns="http://www.w3.org/2000/svg"><path d="m416 512h-320c-53.023438 0-96-42.976562-96-96v-320c0-53.023438 42.976562-96 96-96h320c53.023438 0 96 42.976562 96 96v320c0 53.023438-42.976562 96-96 96zm0 0" fill="#fff9dd"/><path d="m256 128c-70.574219 0-128 57.425781-128 128s57.425781 128 128 128 128-57.425781 128-128-57.425781-128-128-128zm0 202.671875c-5.886719 0-10.671875-4.769531-10.671875-10.671875 0-5.886719 4.769531-10.671875 10.671875-10.671875 5.886719 0 10.671875 4.769531 10.671875 10.671875 0 5.886719-4.785156 10.671875-10.671875 10.671875zm10.671875-53.34375c0 5.902344-4.785156 10.671875-10.671875 10.671875s-10.671875-4.785156-10.671875-10.671875v-85.328125c0-5.886719 4.785156-10.671875 10.671875-10.671875s10.671875 4.785156 10.671875 10.671875zm0 0" fill="#ffd200"/></svg>'. $wo['lang']['no_result'] .'</div>';
															}
														?>
													</div>
												</div>
											<?php endif; ?>
										</div>
									</div>
								</div>
								<input type="hidden" id="user-id" name="user_id" value="0" />
								<input type="hidden" id="messages-group-id" name="group_id" value="0" />
								<input type="hidden" id="messages-page-id" name="page_id" value="0" />
								<input type="hidden" id="messages-from-id" name="to_id" value="0" />
								<input type="hidden" id="message-record-file" name="record-file" value="" />
								<input type="hidden" id="message-record-name" name="record-name" value="" />
								<input type="hidden" name="chatSticker" id="chatStickerMessage">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
var hash = $('.main_session').val();
$.ajaxSetup({ 
	data: {
		hash: hash
	},
	cache: false 
});
function MarkAsReadAll() {
	$.post(Wo_Ajax_Requests_File() + '?f=mark_as_read', function(data, textStatus, xhr) {
		Wo_UpdateUsers();
		Wo_intervalUpdates();
	});
}

$(document).on('click','.mobileopenlist',function(){
	$('.tag_msg_user_chat').fadeIn(100);
});

<?php if ($wo['config']['audio_upload'] == 1) { ?>
$(document).on('keyup', '.tag_msg_write_tarea', function() {
	if ($.trim($(this).val()).length == 0) {
		$('.tag_msg_record').show();
	} else {
		$('.tag_msg_record').hide();
	}
});
<?php } ?>

$(function () {
	<?php if (!empty($user['user_id'])) { ?>
		setTimeout(function () {
		Wo_GetUserMessages(<?php echo $user['user_id'] ?>, "<?php echo $user['name']?>", "<?php echo $user['username']?>");
		}, 1000);
	<?php } ?>

	<?php if (!empty($_GET['page']) && !empty($_GET['user'])) {
		$page_info = Wo_PageData($_GET['page']);

		$user_id = $_GET['page'].'_'.$_GET['user'];
		if ($page_info['user_id'] == $_GET['user']) {
			$user_id = $_GET['page'].'_'.$_GET['to'];
		}
	?>
		setTimeout(function () {
		Wo_GetPageMessages(<?php echo $_GET['page'] ?>, "<?php echo $_GET['user']?>","<?php echo($page_info['page_name']) ?>","<?php echo($user_id) ?>");
		}, 1000);
	<?php } ?>

	<?php if ($wo['config']['maxCharacters'] != 10000) { ?>
		$('#sendMessage').limit("<?php echo $wo['config']['maxCharacters']?>", '#charsLeft');
	<?php } ?>
	setTimeout(Wo_getNewMessages, 5000);
	setTimeout(Wo_UpdateUsers, 10000);
	<?php if ($wo['config']['message_seen'] == 1) { ?>
		setTimeout(Wo_getMessageSeen, 12000);
	<?php } ?>
	var main_hash_id   = $('.main_session').val();
	var file_uploading = false;

	$('form.sendMessages').ajaxForm({
		url: Wo_Ajax_Requests_File() + '?f=messages&s=send_message&hash=' + main_hash_id,
		beforeSend: function () {
			chat_number = $('#user-id').val();
			first_chat = $('.messages-recipients-list').first();
			first_chat_id = $(first_chat).attr('id');
			sending_text = $('.tag_msg_user_chat .text-sender-container textarea').val();
			if (sending_text.length  > 100) {
				sending_text = jQuery.trim(sending_text).substring(0, 97)+'...';
			}

			$('#messages-recipient-'+chat_number).insertBefore( $( "#"+first_chat_id ) );

			$('#messages-recipient-'+chat_number).find('p').text(sending_text);
			$('#messages-recipient-'+chat_number).find('.messages-last-sent').text('<?php echo $wo['lang']['time_just_now'];?>');
			$('#messages-recipient-'+chat_number).find('.messages-last-sent').attr('title', '0 seconds');

			$('.tag_msg_user_chat .text-sender-container textarea').css("cssText", "height: 40px;").val('');
			$('.send-button').attr('disabled','disabled');
			var user_id_ = $('#user-id').val();
			$('body').attr('sending-' + user_id_, true);
			$('.text-sender-container').find('.msg_progress').fadeIn(100);
		},
		uploadProgress: function () {
			if ($("#sendMessasgeFile").val() != '') {
				$('.text-sender-container').find('.msg_progress').fadeIn(100);
				file_uploading = true;
			}
		},
		success: function (data) {
			if(data.status == 200) {
				$("#message-record-file").val('');
				$("#message-record-name").val('');
				$('#chatStickerMessage').val('');
				Wo_CleanRecordNodes();
				Wo_StopLocalStream();
        
				if($('.messages-container').length == 0) {
					$(".messages-container").html(data.html);
				} else {
					$(".no-messages").hide();
					$(".messages-container").append(data.html);
				}
				var user_id_ = $('#user-id').val();
				$('body').attr('sending-' + user_id_, false);
				$('form.sendMessages').clearForm();
				$('#sendMessage').val('').css("cssText", "height: 40px;").attr('disabled', false).keyup().focus();
				$(".messages-container").animate({
					scrollTop: $('.messages-container')[0].scrollHeight
				});
				if (data.invalid_file == 1) {
					$("body").snackbar({
						message: "<?php echo str_replace('{file_size}', Wo_SizeUnits($wo['config']['maxUpload']), $wo['lang']['file_too_big']); ?>"
					});
				}
				if (data.invalid_file == 2) {
					$("body").snackbar({
						message: "<?php echo $wo['lang']['file_not_supported']; ?>"
					});
				}
			}
			else if(data.status == 500 && data.invalid_file == 1){
				$("body").snackbar({
					message: "<?php echo str_replace('{file_size}', Wo_SizeUnits($wo['config']['maxUpload']), $wo['lang']['file_too_big']); ?>"
				});
			}
			else if(data.status == 500 && data.invalid_file == 2){
				$("body").snackbar({
					message: "<?php echo $wo['lang']['file_not_supported']; ?>"
				});
			}
			else if(data.status == 500 && data.invalid_file == 3){
				$("body").snackbar({
					message: "<?php echo $wo['lang']['free_plan_upload']; ?>",
					option: true,
					optionText: "<?php echo $wo['lang']['upgrade']; ?>",
					callback: function() {
						window.location.href = "<?php echo Wo_SeoLink('index.php?link1=go-pro'); ?>";
					}
				});
			}
			if (file_uploading) {
				file_uploading = false;
				$('.text-sender-container').find('.msg_progress').fadeOut(100);
				$('.send-button').removeAttr("disabled");
			}
			$('.text-sender-container').find('.msg_progress').fadeOut(100);
			$('.send-button').removeAttr("disabled");
		}
	});
});

function Wo_ChatStickerMessage(self){
	if (!self) {
		return false;
	}
	$('#chatStickerMessage').val($(self).attr('data-gif'));
	$('form.sendMessages').submit();
	$("#chat-sticker-system").removeClass("open");
}

function Wo_AddEmoToMessageInput(code) {
    inputTag = $('#sendMessage');
    inputVal = inputTag.val();
    if (typeof(inputTag.attr('placeholder')) != "undefined") {
        inputPlaceholder = inputTag.attr('placeholder');
        if (inputPlaceholder == inputVal) {
            inputTag.val('');
            inputVal = inputTag.val();
        }
    }
    if (inputVal.length == 0) {
        inputTag.val(code + ' ');
    } else {
        inputTag.val(inputVal + ' ' + code);
    }
    inputTag.keyup().focus();
}
function Wo_GetMessagesUsers(query) {
	$.get(Wo_Ajax_Requests_File(), {
		f: 'search',
		s: 'recipients',
		query: query
	}, function (data) {
		if(data.status == 200) {
			if(data.html.length == 0) {
				$('.messages-users-list').find('.messages-chat-list').html('<div class="empty_state"><svg xmlns="http://www.w3.org/2000/svg" height="512" viewBox="0 0 32 32" width="512"><path d="m26 32h-20c-3.314 0-6-2.686-6-6v-20c0-3.314 2.686-6 6-6h20c3.314 0 6 2.686 6 6v20c0 3.314-2.686 6-6 6z" fill="#ffe6e2"/><g fill="#fd907e"><circle cx="10.667" cy="14.917" r="1.333"/><path d="m12.447 17.183c-.673.507-1.113 1.32-1.113 2.233v.167h-2.834c-.273 0-.5-.227-.5-.5v-.333c0-1.013.82-1.833 1.833-1.833h1.667c.347 0 .673.1.947.266z"/><circle cx="21.333" cy="14.917" r="1.333"/><path d="m24 18.75v.333c0 .273-.227.5-.5.5h-2.833v-.167c0-.913-.44-1.727-1.113-2.233.273-.167.6-.267.947-.267h1.667c1.012.001 1.832.821 1.832 1.834z"/></g><circle cx="16" cy="14.583" fill="#fc573b" r="2"/><path d="m17.833 17.583h-3.667c-1.011 0-1.833.822-1.833 1.833v1c0 .276.224.5.5.5h6.333c.276 0 .5-.224.5-.5v-1c.001-1.01-.822-1.833-1.833-1.833z" fill="#fc573b"/></svg> <?php echo $wo['lang']['no_result']; ?></div>');
			} else {
				$('.messages-users-list').find('.messages-chat-list').html(data.html);
			}
			scrollToTop();
		}
	});
}

function Wo_UpdateUsers() {
	if ($('.messages-search-users-form #query').val().length > 0) {
		return false;
	}
	$.get(Wo_Ajax_Requests_File(), {
		f: 'messages',
		s: 'update_recipients'
	}, function (data) {
		setTimeout(Wo_UpdateUsers, 10000);
		if(data.status == 200) {
			$('.messages-users-list').find('.messages-chat-list').html(data.html);
		} else {
			$('.messages-users-list').find('.messages-chat-list').html('<div class="empty_state"><svg xmlns="http://www.w3.org/2000/svg" height="512" viewBox="0 0 32 32" width="512"><path d="m26 32h-20c-3.314 0-6-2.686-6-6v-20c0-3.314 2.686-6 6-6h20c3.314 0 6 2.686 6 6v20c0 3.314-2.686 6-6 6z" fill="#ffe6e2"/><g fill="#fd907e"><circle cx="10.667" cy="14.917" r="1.333"/><path d="m12.447 17.183c-.673.507-1.113 1.32-1.113 2.233v.167h-2.834c-.273 0-.5-.227-.5-.5v-.333c0-1.013.82-1.833 1.833-1.833h1.667c.347 0 .673.1.947.266z"/><circle cx="21.333" cy="14.917" r="1.333"/><path d="m24 18.75v.333c0 .273-.227.5-.5.5h-2.833v-.167c0-.913-.44-1.727-1.113-2.233.273-.167.6-.267.947-.267h1.667c1.012.001 1.832.821 1.832 1.834z"/></g><circle cx="16" cy="14.583" fill="#fc573b" r="2"/><path d="m17.833 17.583h-3.667c-1.011 0-1.833.822-1.833 1.833v1c0 .276.224.5.5.5h6.333c.276 0 .5-.224.5-.5v-1c.001-1.01-.822-1.833-1.833-1.833z" fill="#fc573b"/></svg> <?php echo $wo['lang']['no_users_found']; ?></div>');
		}
	});
}

function Wo_DeleteConversation(user_id) {
	if (!confirm("<?php echo $wo['lang']['messages_delete_confirmation']?>")) {
		return false;
	}
	$('.text-sender-container').find('.msg_progress').fadeIn(100);
	$.get(Wo_Ajax_Requests_File(), {
		f: 'messages',
		s: 'delete_conversation',
		user_id: user_id,
	}, function (data) {
		if(data.status == 200) {
			$("body").snackbar({
				message: data.message
			});
			$('.messages-container').empty();
			location.reload();
		}
		$('.text-sender-container').find('.msg_progress').fadeOut(100);
	});
}

function Wo_GetUserMessages(user_id, user_name, userlink) {
	view_more_wrapper = $('.view-more-wrapper');

	$('.text-sender-container').find('.msg_progress').fadeIn(100);
  
	if($('.messages-recipients-list').hasClass('active')) {
		$('.messages-recipients-list').removeClass('active');
		$('#messages-recipient-' + user_id).addClass('active');
	} else { 
		$('#messages-recipient-' + user_id).addClass('active');
	}
	$('#user-id').attr('value', user_id);
	$('#messages-group-id').attr('value', 0);
	$('#messages-recipient-' + user_id).find('.new-message-alert').fadeOut(200);
	$('#messages-recipient-' + user_id).find('.messages-last-sent').removeClass('new_msg_lst_lsent');
	$('#messages-recipient-' + user_id).find('p').removeClass('new_msg_active_list');
	$.get(Wo_Ajax_Requests_File(), {
		f: 'messages',
		s: 'get_user_messages',
		user_id: user_id
	}, function (data) {
		if(data.status == 200) {
			$('.send-button').css('background-color', data.color);
			$('.tag_msg_select_clr').css('color', data.color);
			$('#user-avatar-right img').attr('src', data.avatar).removeClass('hidden');

			$('#user-name').html('<a target="_blank" class="truncate" href="' + data.url + '">' + user_name + '</a>').removeClass('hidden');
			$('#user-last-seen').html(data.lastseen);

			$('.delete-icon').html('<button type="button" class="btn" onclick="Wo_DeleteConversation(' + user_id + ')"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="26" height="26"><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V9c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v10zM18 4h-2.5l-.71-.71c-.18-.18-.44-.29-.7-.29H9.91c-.26 0-.52.11-.7.29L8.5 4H6c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1z" fill="currentColor"></path></svg></button>');

			$('.tag_msg_write').removeClass('hidden');

			if(data.can_replay == true) {
				$('#sendMessage').val('').attr('disabled', false);
				$('#sendMessasgeFile').attr('disabled', false);
				$('#messages-record').attr('disabled', false);
			} else {
				$('#sendMessage').val('<?php $wo["lang"]["sorry_cant_reply"];?>').attr('disabled', true);
				$('#sendMessasgeFile').attr('disabled', true);
			}
			<?php if ($wo['config']['maxCharacters'] != 10000) { ?>
				$('#charsLeft').text("<?php echo $wo['config']['maxCharacters']?>");
			<?php }?>
			if(data.html.length == 0) {
				view_more_wrapper.hide();
				$('.messages-container').html('<div class="no-messages valign empty_state"><img src="<?php echo $wo['config']['theme_url'];?>/img/no-message.png"><?php echo $wo["lang"]["no_messages"];?> </div>');
			} else {
				$('.messages-container').html(data.html);
				view_more_wrapper.html('<button type="button" class="btn btn-mat">' + data.view_more_text + '</button>').show();
				view_more_wrapper.attr('onclick', 'Wo_getOldMessages(' + user_id + ');').removeClass('hidden');
				$(".messages-container").animate({
					scrollTop: $('.messages-container')[0].scrollHeight
				});
			}
			<?php if ($wo['config']['message_seen'] == 1) { ?>
				Wo_getMessageSeen();
			<?php } ?>

			<?php if ($wo['config']['video_chat'] == 1) {
				if ($wo['config']['Who_call'] == 'pro' && $wo['user']['is_pro'] == 0 && !Wo_IsAdmin()) {}
				else{
			?>
				if (data.video_call == 200) {
					video_call = '<button type="button" class="btn" onclick="Wo_GenerateVideoCall(<?php echo $wo['user']['user_id'];?>, ' + user_id + ')"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="26" height="26"><path d="M17 10.5V7c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1v-3.5l2.29 2.29c.63.63 1.71.18 1.71-.71V8.91c0-.89-1.08-1.34-1.71-.71L17 10.5zM13 13h-2v2c0 .55-.45 1-1 1s-1-.45-1-1v-2H7c-.55 0-1-.45-1-1s.45-1 1-1h2V9c0-.55.45-1 1-1s1 .45 1 1v2h2c.55 0 1 .45 1 1s-.45 1-1 1z" fill="currentColor"></path></svg></button>';
				} else {
					video_call = '';
				}
				$('#video-button').html(video_call);
			<?php } } ?>
			<?php if ($wo['config']['audio_chat'] == 1) {
				if ($wo['config']['Who_call'] == 'pro' && $wo['user']['is_pro'] == 0 && !Wo_IsAdmin()) {}
				else{
			?>
				if (data.audio_call == 200) {
					audio_call = '<button type="button" class="btn" onclick="Wo_GenerateVoiceCall(<?php echo $wo['user']['user_id'];?>, ' + user_id + ')"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="26" height="26"><path d="M21 16.42v3.536a1 1 0 0 1-.93.998c-.437.03-.794.046-1.07.046-8.837 0-16-7.163-16-16 0-.276.015-.633.046-1.07A1 1 0 0 1 4.044 3H7.58a.5.5 0 0 1 .498.45c.023.23.044.413.064.552A13.901 13.901 0 0 0 9.35 8.003c.095.2.033.439-.147.567l-2.158 1.542a13.047 13.047 0 0 0 6.844 6.844l1.54-2.154a.462.462 0 0 1 .573-.149 13.901 13.901 0 0 0 4 1.205c.139.02.322.042.55.064a.5.5 0 0 1 .449.498z" fill="currentColor"></path></svg></button>';
				} else {
					audio_call = '';
				}
				$('#audio-button').html(audio_call);
			<?php } } ?>
			$('.text-sender-container').find('.msg_progress').fadeOut(100);
		}
	});
}

function Wo_GetGroupMessages(group_id, group_name) {
	view_more_wrapper = $('.view-more-wrapper');
  
	$('.text-sender-container').find('.msg_progress').fadeIn(100);
	$('#user-name').text(group_name).removeClass('hidden');
	$('#user-avatar-right img').addClass('hidden');
	if($('.messages-recipients-list').hasClass('active')) {
		$('.messages-recipients-list').removeClass('active');
		$('#messages-recipient-' + group_id).addClass('active');
	} else { 
		$('#messages-recipient-' + group_id).addClass('active');
	}
	$('#messages-group-id').attr('value', group_id);
	$('#user-id').attr('value', 0);
	$('.tag_msg_write').removeClass('hidden');
	$('#sendMessage').val('').attr('disabled', false);
	$('#sendMessasgeFile').attr('disabled', false);
	$('#messages-record').attr('disabled',false);
	$("#messages-group-"+ group_id).find('.group-lastseen').empty();
	$.get(Wo_Ajax_Requests_File(), {
		f: 'messages',
		s: 'get_group_messages',
		group_id: group_id
	}, function (data) {
		if(data.status == 200) {
			$('.send-button').css('background-color', '<?php echo $wo['config']['btn_background_color'];?>');
			$('.tag_msg_select_clr').css('color', '<?php echo $wo['config']['btn_background_color'];?>');
			$('#video-button').empty();
			$('#audio-button').empty();
			$('.delete-icon').html('<button type="button" class="btn" onclick="'+data.onclick+'(' + group_id + ')"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="26" height="26"><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V9c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v10zM18 4h-2.5l-.71-.71c-.18-.18-.44-.29-.7-.29H9.91c-.26 0-.52.11-.7.29L8.5 4H6c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1z" fill="currentColor"></path></svg></button>');
			$('#user-last-seen').html('');
			<?php if ($wo['config']['maxCharacters'] != 10000) { ?>
				$('#charsLeft').text("<?php echo $wo['config']['maxCharacters']?>");
			<?php }?>

			if(data.html.length == 0) {
				view_more_wrapper.hide();
				$('.messages-container').html('<div class="no-messages valign empty_state"><img src="<?php echo $wo['config']['theme_url'];?>/img/no-message.png"><?php echo $wo["lang"]["no_messages"];?> </div>');
			} 
			else {
				$('.messages-container').html(data.html);
				view_more_wrapper.html('<button type="button" class="btn btn-mat">' + data.view_more_text + '</button>').show();
				view_more_wrapper.attr('onclick', 'Wo_getOldGroupMessages(' + group_id + ');').removeClass('hidden');
				$(".messages-container").animate({
					scrollTop: $('.messages-container')[0].scrollHeight
				});
			}
			$('.text-sender-container').find('.msg_progress').fadeOut(100);
		}
	});
}

function Wo_ExitGroupChat(id = false){
	if (!id) {return false}
	$.ajax({
		url: Wo_Ajax_Requests_File(),
		type: 'GET',
		dataType: 'json',
		data: {f: 'chat',s:'exit_group_chat',group_id:id},
	})
	.done(function(data) {
		if (data.status == 200) {
			window.location.href = websiteUrl+"/messages";
		}
	})
	.fail(function() {
		console.log("error");
	})
}

function Wo_DeleteGroupChat(id = false){
    if (!id) {return false}
    $.ajax({
		url: Wo_Ajax_Requests_File(),
		type: 'GET',
		dataType: 'json',
		data: {f: 'chat',s:'delete_group_chat',group_id:id},
    })
   .done(function(data) {
		if (data.status == 200) {
			window.location.href = websiteUrl+"/messages";
		}
    })
    .fail(function() {
		console.log("error");
	})
}

function Wo_GetPageMessages(page_id, page_user_id,page_name,user_id) {
	view_more_wrapper = $('.view-more-wrapper');

	$('.text-sender-container').find('.msg_progress').fadeIn(100);
	$('#user-name').text(page_name).removeClass('hidden');
	$('#user-avatar-right img').addClass('hidden');
	if($('.messages-recipients-list').hasClass('active')) {
		$('.messages-recipients-list').removeClass('active');
		$('#messages-recipient-' + user_id).addClass('active');
	} else { 
		$('#messages-recipient-' + user_id).addClass('active');
	}
	$('.msg_usr_lst_sen_main').html('');
	$('#messages-page-id').attr('value', page_id);
	$('#messages-from-id').attr('value', page_user_id);
	$('#user-id').attr('value', 0);
	$('.tag_msg_write').removeClass('hidden');
	$('#sendMessage').val('').attr('disabled', false);
	$('#sendMessasgeFile').attr('disabled', false);
	$('#messages-record').attr('disabled',false);
	$("#messages-group-"+ page_id).find('.group-lastseen').empty();
	$.get(Wo_Ajax_Requests_File(), {
		f: 'messages',
		s: 'get_page_messages',
		page_user_id: page_user_id,
		page_id: page_id
	}, function (data) {
		if(data.status == 200) {
			$('.send-button').css('background-color', '<?php echo $wo['config']['btn_background_color'];?>');
			$('.tag_msg_select_clr').css('color', '<?php echo $wo['config']['btn_background_color'];?>');
			$('#video-button').empty();
			$('#audio-button').empty();
			<?php if ($wo['config']['maxCharacters'] != 10000) { ?>
				$('#charsLeft').text("<?php echo $wo['config']['maxCharacters']?>");
			<?php }?>

			if(data.html.length == 0) {
				view_more_wrapper.hide();
				$('.messages-container').html('<div class="no-messages valign empty_state"><img src="<?php echo $wo['config']['theme_url'];?>/img/no-message.png"><?php echo $wo["lang"]["no_messages"];?> </div>');
			} 
			else {
				$('.messages-container').html(data.html);
				view_more_wrapper.html('<button type="button" class="btn btn-mat">' + data.view_more_text + '</button>').show();
				view_more_wrapper.attr('onclick', 'Wo_getOldPageMessages(' + page_id + ','+page_user_id+');').removeClass('hidden');
				$(".messages-container").animate({
					scrollTop: $('.messages-container')[0].scrollHeight
				});
			}
			$('.text-sender-container').find('.msg_progress').fadeOut(100);
		}
	});
}

function Wo_getNewMessages() {
	user_id = $('#user-id').val();
	group_id = $('#messages-group-id').val();
	page_id = $('#messages-page-id').val();
	from_id = $('#messages-from-id').val();
	to_id = $('#messages-to-id').val();
	message_id = $('.messages-container').find('.messages-wrapper:last').attr('data-message-id');
	if(user_id == 0 && group_id == 0) {
		return false;
	}
	if ($('body').attr('sending-' + user_id) == 'true' && group_id == 0) {
		return false;
	}
	if (message_id) {
		$.get(Wo_Ajax_Requests_File(), {
			f: 'messages',
			s: 'get_new_messages',
			user_id: user_id,
			group_id: group_id,
			page_id: page_id,
			from_id: from_id,
			to_id: to_id,
			message_id: message_id
		}, function (data) {
			if (data.color) {
				$('.send-button').css('background-color', data.color);
				$('.tag_msg_select_clr').css('color', data.color);
			}
			if(data.status == 200) {
				$(".messages-container").append(data.html);
				$(".messages-container").animate({
				scrollTop: $('.messages-container')[0].scrollHeight
				});
				if(data.sender == user_id) {
					document.getElementById('message-sound').play();
					if(!$('.sendMessage').is(':focus')) {
						document.title = 'New Message ' + document_title;
					}
				}
			}
		});
	}
	setTimeout(Wo_getNewMessages, 5000);
}

function Wo_getMessageSeen() {
	var last_id = $('.messages-text:last').attr('data-message-id');
	if(!$('.messages-text:last').find('.message-seen').is(':empty')) {
		return false;
	}
	$.get(Wo_Ajax_Requests_File(), {
		f: 'messages',
		s: 'get_last_message_seen_status',
		last_id: last_id
	}, function (data) {
		setTimeout(Wo_getMessageSeen, 12000);
		if(data.status == 200) {
			$('.messages-text:last').find('.message-seen').hide().html('<span class="select-color" title="<?php echo $wo["lang"]["seen"];?> ' + data.seen + '"><svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 24 24" width="14"><path fill="currentColor" d="M17.3 6.3c-.39-.39-1.02-.39-1.41 0l-5.64 5.64 1.41 1.41L17.3 7.7c.38-.38.38-1.02 0-1.4zm4.24-.01l-9.88 9.88-3.48-3.47c-.39-.39-1.02-.39-1.41 0-.39.39-.39 1.02 0 1.41l4.18 4.18c.39.39 1.02.39 1.41 0L22.95 7.71c.39-.39.39-1.02 0-1.41h-.01c-.38-.4-1.01-.4-1.4-.01zM1.12 14.12L5.3 18.3c.39.39 1.02.39 1.41 0l.7-.7-4.88-4.9c-.39-.39-1.02-.39-1.41 0-.39.39-.39 1.03 0 1.42z"/></svg></span>').fadeIn(300);
			$(".messages-container").animate({
				scrollTop: $('.messages-container')[0].scrollHeight
			});
		}
	});
}

function Wo_SubmitForm(e) {
	document.title = document_title;
	<?php if ($wo['config']['maxCharacters'] != 10000) { ?>
		$('.charsLeft-message').fadeIn(200);
	<?php } ?>
	if(e.keyCode == 13 && e.shiftKey == 0) {
		e.preventDefault();
		Wo_GetMRecordLink();
	}
}

function Wo_getOldMessages(user_id) {
	view_more_wrapper = $('.view-more-wrapper');
	before_message_id = $('.messages-text:first').attr('data-message-id');
	$('.text-sender-container').find('.msg_progress').fadeIn(100);
	$.get(Wo_Ajax_Requests_File(), {
		f: 'messages',
		s: 'load_previous_messages',
		user_id: user_id,
		before_message_id: before_message_id
	}, function (data) {
		if(data.status == 200) {
			if(data.html.length == 0) {
				view_more_wrapper.html('<button type="button" class="btn btn-mat"><?php echo $wo["lang"]["no_more_message_to_show"];?></button>').show();
				view_more_wrapper.delay(2000).slideUp(200);
			} else {
				$('.messages-container').prepend(data.html);
			}
		} else {
			view_more_wrapper.hide();
		}
		$('.text-sender-container').find('.msg_progress').fadeOut(100);
	});
}

function Wo_getOldGroupMessages(group_id) {
	view_more_wrapper = $('.view-more-wrapper');
	before_message_id = $('.messages-text:first').attr('data-message-id');
	$('.text-sender-container').find('.msg_progress').fadeIn(100);
	$.get(Wo_Ajax_Requests_File(), {
		f: 'messages',
		s: 'load_previous_messages',
		group_id: group_id,
		before_message_id: before_message_id
	}, function (data) {
		if(data.status == 200) {
		if(data.html.length == 0) {
			view_more_wrapper.html('<button type="button" class="btn btn-mat"><?php echo $wo["lang"]["no_more_message_to_show"];?></button>').show();
			view_more_wrapper.delay(2000).slideUp(200);
		} else {
			$('.messages-container').prepend(data.html);
		}
		} else {
		view_more_wrapper.hide();
		}
		$('.text-sender-container').find('.msg_progress').fadeOut(100);
	});
}

function Wo_getOldPageMessages(page_id,from_id,to_id) {
	view_more_wrapper = $('.view-more-wrapper');
	before_message_id = $('.messages-text:first').attr('data-message-id');
	$('.text-sender-container').find('.msg_progress').fadeIn(100);
	$.get(Wo_Ajax_Requests_File(), {
		f: 'messages',
		s: 'load_previous_messages',
		page_id: page_id,
		from_id: from_id,
		to_id: to_id,
		before_message_id: before_message_id
	}, function (data) {
		if(data.status == 200) {
		if(data.html.length == 0) {
			view_more_wrapper.html('<button type="button" class="btn btn-mat"><?php echo $wo["lang"]["no_more_message_to_show"];?></button>').show();
			view_more_wrapper.delay(1000).slideUp(200);
		} else {
			$('.messages-container').prepend(data.html);
		}
		} else {
		view_more_wrapper.hide();
		}
		$('.text-sender-container').find('.msg_progress').fadeOut(100);
	});
}

function Wo_ShareFile() {
	document.title = document_title;
	$("#sendMessage").focus();
	$("form.sendMessages").submit();
}

function Wo_DeleteMessage(message_id) {
	$('.text-sender-container').find('.msg_progress').fadeIn(100);
	$.get(Wo_Ajax_Requests_File(), {
		f:'messages',
		s:'delete_message',
		message_id: message_id
	}, function (data) {
		if(data.status == 200) {
		$('#messageId_' + message_id).slideUp(200, function () {
			$(this).remove();
		});
		}
		$('.text-sender-container').find('.msg_progress').fadeOut(100);
	});
}

function Wo_ShowMessageOptions(id) {
	$('.deleteMessage').hide();
    $('#messageId_' + id).find('.deleteMessage').show();
}

function Wo_ResizeVideoPlayer(message_id) {
	var message_container = $('#messageId_' + message_id);
	message_container.find('.message-media').toggleClass('full-size');
}

// Hide Header on on scroll down
$(function(){
    var lastScrollTop = 0, delta = 5;
    $('.messages-container').scroll(function(event){
		var st = $(this).scrollTop();
		if(Math.abs(lastScrollTop - st) <= delta)
		return;
       
		if (st > lastScrollTop){
			$(".messages-load-more-messages").addClass("above_header")
			.hover(
				function() {
					$(".messages-load-more-messages").removeClass("above_header");
				}
			)
		} else {
			$(".messages-load-more-messages").removeClass("above_header");
		}
       lastScrollTop = st;
    });
});

function Wo_CreateGChat(e){
	e.preventDefault();
	$('#create_group_chat').modal('show');
}

function Wo_GetGChatParticipants(name){
    if (!name) {
        return false;
    }
    $.ajax({
        url: Wo_Ajax_Requests_File(),
        type: 'GET',
        dataType: 'json',
        data: {f: 'chat',s:'get_parts',name:name},
    })
    .done(function(data) {
        if (data.status == 200) {
            $('.group_chat_mbr_list').html(data.html);
        }
        else{
          $('.group_chat_mbr_list').html('<p class="no_participant"><?php echo $wo['lang']['no_result']; ?></p>');
        }
    })
    .fail(function() {
        console.log("error");
    })   
}

var chat_part_array = [];
$(document).on('click', '.group_chat_mbr_part', function(event) {
	event.preventDefault();
	var self_id    = $(this).attr('id');
	if ($.inArray(self_id, chat_part_array) == -1) {
		chat_part_array.push(self_id);
		$("#group_chat_mbrs").text(chat_part_array.length);
		$(this).fadeOut(100,function(){
			$("#chat_group_users").val(chat_part_array.join());
			$(this).remove();
		})
	}
	else{
		$(this).addClass('disabled').removeAttr('title');
	}
});

jQuery(document).ready(function($) {
	$('#insert-caht-parts').ajaxForm({
		url: Wo_Ajax_Requests_File() + '?f=chat&s=create_group',
		type:'POST',
		dataType:'json',
		beforeSend: function() {
			$('#insert-caht-parts').find('.disable_btn').attr('disabled','disabled');
		},
		success: function(data) {
			if (data['status'] == 200) {
				$("#create_group_chat").modal('hide');
				Wo_OpenChatTab(0,data.group_id);
				$("#insert-caht-parts").find('#reset').trigger('click');
				$(".group_chat_mbr_list").empty();
				$(".group_chat_avatar").empty();
				chat_part_array = [];
			}
			else if (data.status == 500){
				$("#insert-caht-alert").html('<div class="alert alert-danger">' + data['message'] + '</div>');
			} 
			$('#insert-caht-parts').find('.disable_btn').removeAttr("disabled");
		}
	});
});

</script>

<div class="modal fade" id="create_group_chat" role="dialog">
	<div class="modal-dialog modal-md wow_mat_mdl">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><?php echo $wo['lang']['create_group_chat'] ?></h4>
			</div>
			<form id="insert-caht-parts" class="wo_create_chat_group">
				<div class="modal-body">
					<div id="insert-caht-alert"></div>
					<div class="valign">
						<div class="pointer tag_chat_grp_avtr_crt">
							<span class="valign btn-file" onclick="document.getElementById('group_chat_avatar').click(); return false" title="<?php echo $wo['lang']['choose_image'] ?>">
								<span id="wow_fcov_img_holder">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M21.02 5H19V2.98c0-.54-.44-.98-.98-.98h-.03c-.55 0-.99.44-.99.98V5h-2.01c-.54 0-.98.44-.99.98v.03c0 .55.44.99.99.99H17v2.01c0 .54.44.99.99.98h.03c.54 0 .98-.44.98-.98V7h2.02c.54 0 .98-.44.98-.98v-.04c0-.54-.44-.98-.98-.98zM16 9.01V8h-1.01c-.53 0-1.03-.21-1.41-.58-.37-.38-.58-.88-.58-1.44 0-.36.1-.69.27-.98H5c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-8.28c-.3.17-.64.28-1.02.28-1.09-.01-1.98-.9-1.98-1.99zM15.96 19H6c-.41 0-.65-.47-.4-.8l1.98-2.63c.21-.28.62-.26.82.02L10 18l2.61-3.48c.2-.26.59-.27.79-.01l2.95 3.68c.26.33.03.81-.39.81z"></path></svg>
								</span>
							</span>
						</div>
						<div class="full_width">
							<label class="tag_field">
								<input name="group_name" type="text" max="50" placeholder=" ">
								<span><?php echo $wo['lang']['name']; ?></span>
							</label>
							<label class="tag_field">
								<input type="text" onkeydown="Wo_GetGChatParticipants(this.value)" placeholder=" ">
								<span><?php echo $wo['lang']['add_parts']; ?> (<span id="group_chat_mbrs">0</span>)</span>
								<div class="group_chat_mbr_list"></div>
							</label>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-mat disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel']; ?></button>
					<button id="delete-all-post" type="submit" class="btn btn-main btn-mat btn-mat-raised add_wow_loader"><?php echo $wo['lang']['create']; ?></button>
				</div>
				<input type="hidden" name="parts" id="chat_group_users">
				<input type="reset" id="reset" class="hidden">
				<input type="file" name="avatar" class="hidden" id="group_chat_avatar" onchange="$('#wow_fcov_img_holder').html('<img src=\'' + window.URL.createObjectURL(this.files[0]) + '\' alt=\'Picture\'>');" accept="image/jpeg,image/png,image/gif">
			</form>
		</div>
	</div>
</div>