<?php if (Wo_IsAdmin()) {
   header('Location: ' . $wo['config']['site_url'] . '/admincp/verifications_requests');
   exit();
} ?>

<h2 class="tag_page_title"><button type="button" class="btn setting_navigation" onclick="$('.tag_sett_sidebar').fadeIn(50);$('#tag_sett_right_prt').fadeOut(50);"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" fill="currentColor"></path></svg></button> <?php echo $wo['lang']['profile_verification']; ?></h2>
<div class="wow_sett_content wow_content p20">
	<?php if (Wo_IsVerificationRequestExists()): ?>
            <?php 
                $result = Wo_GetUserVerificationRequest();
                $json = json_decode($result['message']);
            ?>
		<div class="class="form-horizontal setting-verification-form wo_settings_page">
                    <div id="cancel-request"></div>
                    <p class="bold mb-15"><?php echo $wo['lang']['verification_sent']; ?></p>
                    <p class="mb-15"><?=$wo['lang']['verification_message'];?></p>
                    <div class="help-block mb-15"><?php echo $wo['lang']['verify_id_requirements']; ?></div>
                    <div class="tag_media_file mb-15 tag_media__passprtfile">
                            <span class="valign btn-file">
                                    <span class="valign"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="currentColor" d="M20 2a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h16zm-4 14H8v2h8v-2zM12 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8zm0 2a2 2 0 1 1 0 4 2 2 0 0 1 0-4z"></path></svg></span> <b class="truncate"><?php echo $wo['lang']['passport_id']; ?></b>
                            </span>
                    </div>
                    <div class="tag_media_file tag_media__userfile">
                            <span class="valign btn-file">
                                    <span class="valign"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="currentColor" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></path></svg></span> <b class="truncate"><?php echo $wo['lang']['id_card']; ?></b>
                            </span>
                    </div>
                    <hr class="mt-30 mb-15">
                    <div class="text-center">
                        <a id="start-verification-btn" href="<?=$json->redirectUrl;?>" class="btn btn-main btn-mat disable_btn m-2" target="_blank"><?php echo $wo['lang']['start']; ?></a>
                        <button id="cancel-verification-btn" class="btn btn-main btn-mat disable_btn m-2" onclick="Wo_CancelUserVerification(<?=$result['user_id'];?>);"><?php echo $wo['lang']['cancel_verification_request']; ?></button>                                
                    </div>
		</div>
	<?php elseif($wo['user']['verified'] == 1): ?>
		<div class="empty_state">                                             
			<svg height="512pt" viewBox="0 0 512 512" width="512pt" xmlns="http://www.w3.org/2000/svg"><path d="m416 512h-320c-53.023438 0-96-42.976562-96-96v-320c0-53.023438 42.976562-96 96-96h320c53.023438 0 96 42.976562 96 96v320c0 53.023438-42.976562 96-96 96zm0 0" fill="#fff9dd"/><path d="m256 128c-70.574219 0-128 57.425781-128 128s57.425781 128 128 128 128-57.425781 128-128-57.425781-128-128-128zm64.878906 100.878906-69.328125 69.328125c-2.078125 2.082031-4.816406 3.121094-7.535156 3.121094-2.734375 0-5.457031-1.039063-7.535156-3.121094l-34.671875-34.671875c-4.160156-4.160156-4.160156-10.910156 0-15.085937s10.910156-4.160157 15.085937 0l27.121094 27.117187 61.792969-61.789062c4.160156-4.160156 10.910156-4.160156 15.085937 0s4.144531 10.925781-.015625 15.101562zm0 0" fill="#ffd200"/></svg> <?php echo $wo['lang']['verification_complete']; ?> 
		</div>
	<?php else: ?>
		<form action="#" method="post" class="form-horizontal setting-verification-form wo_settings_page">
			<div id="verificate-user-alert"></div>
			<p class="mb-30"><?php echo $wo['lang']['verify_id_desc']; ?></p>
                        
			<div class="help-block mb-15"><?php echo $wo['lang']['verify_id_requirements']; ?></div>
			<div class="tag_media_file mb-15 tag_media__passprtfile">
				<span class="valign btn-file">
					<span class="valign"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="currentColor" d="M20 2a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h16zm-4 14H8v2h8v-2zM12 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8zm0 2a2 2 0 1 1 0 4 2 2 0 0 1 0-4z"></path></svg></span> <b class="truncate"><?php echo $wo['lang']['passport_id']; ?></b>
				</span>
			</div>
			<div class="tag_media_file tag_media__userfile">
				<span class="valign btn-file">
					<span class="valign"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="currentColor" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></path></svg></span> <b class="truncate"><?php echo $wo['lang']['id_card']; ?></b>
				</span>
			</div>
			<hr class="mt-30 mb-15">
			<div class="text-center">
				<button id="request-verification-btn" type="submit" class="btn btn-main btn-mat disable_btn m-2"><?php echo $wo['lang']['request_verification']; ?></button>                                
			</div>

		</form>
	<?php endif; ?>
</div>

<script>
jQuery(document).ready(function($) {
	/*$("#select-passport-photo").change(function(event) {
		var filename = $(this).val().replace(/C:\\fakepath\\/i, '');
		$(".tag_media__passprtfile .btn-file b").text(filename);
	});

	$("#select-user-photo").change(function(event) {
		var filename = $(this).val().replace(/C:\\fakepath\\/i, '');
		$(".tag_media__userfile .btn-file b").text(filename);
	});*/
      
	$(".setting-verification-form").ajaxForm({
		url: Wo_Ajax_Requests_File() + '?f=verificate-user',
         beforeSend: function() {
           $('.wo_settings_page').find('.disable_btn').attr('disabled','disabled');
         },
         success: function(data) {
           scrollToTop();
           if (data['status'] == 200) {
             $("#verificate-user-alert").html('<div class="alert alert-success">'+ data['message'] +'</div>');
             setTimeout(function(){window.location = data['url'];}, 3000);            
           }
           else {
             $("#verificate-user-alert").html('<div class="alert alert-danger">' + data['message'] + '</div>');
           } 
           $('.wo_settings_page').find('.disable_btn').removeAttr("disabled");
	}});
});
</script>