<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
<!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->


  <link href="<?php echo $wo['config']['theme_url'];?>/challenge/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="<?php echo $wo['config']['theme_url'];?>/challenge/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="<?php echo $wo['config']['theme_url'];?>/challenge/css/littleflags-app-wireframes.webflow.css" rel="stylesheet" type="text/css">
  <style>@media (max-width:767px) and (min-width:480px) {html.w-mod-js:not(.w-mod-ix) [data-w-id="eca2f00b-4f0e-9565-2d72-4616a89c99d8"] {-webkit-transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);}}@media (max-width:479px) {html.w-mod-js:not(.w-mod-ix) [data-w-id="eca2f00b-4f0e-9565-2d72-4616a89c99d8"] {-webkit-transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);}}


  .challenge-button .reactions-box{
    width: 240% !important;
  }
  /*#challenge-reaction .wo-reaction-lightbox:hover + #reactionbox{
    display: block;
    border: 1px solid red;
}*/
  
  .fund_raise_bar .progress {
    min-width: 100%;
  }


  .MultiCarousel { float: left; overflow: hidden; /*padding: 15px;*/ width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }
    .MultiCarousel .pad15 img {
      height: 100px;
      width: 150px;
    }
   /* .other-challenges-container{
      overflow: hidden;
    }*/
</style>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
 <!--  <link href="<?php echo $wo['config']['theme_url'];?>/challenge/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="<?php echo $wo['config']['theme_url'];?>/challenge/images/webclip.png" rel="apple-touch-icon"> -->
<?php $challengedonations=Wo_GetUsersWhoRaisedFundForChallenge($wo['fund']['challenge_id'],$wo['fund']['funding_id']);

      //echo "<pre>";print_r($challengedonations);die;

       ?>
<script type="text/javascript">
    // set page-id for wf interaction
    $('html').attr('data-wf-page', '607e52a14d83573d8a4dcd5d');
</script>
  <div class="challenge-container">
    <div class="challenge-content-container">

      <div class="challenge-titlebar valign tag_lbox_toolbar">  
        <a class="btn btn-mat close-lightbox" href="javascript:window.history.back();">              

          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M7.828 11H20v2H7.828l5.364 5.364-1.414 1.414L4 12l7.778-7.778 1.414 1.414z"/></svg>
        </a>
        <!-- profile info -->
        <a href="<?php echo $wo['fund']['user_data']['url'];?>" data-ajax="?link1=timeline&u=<?=$wo['fund']['user_data']['username']?>" class="profile-container colour-light w-inline-block">
                <img src="<?php echo $wo['fund']['user_data']['avatar'];?>" loading="lazy" alt="" class="profile-photo profile-large">
          <div class="profile-details">
            <div class="profile-name"><?php echo $wo['fund']['user_data']['name'];?></div>
            <div class="profile-datetime text-small"><?php echo Wo_Time_Elapsed_String($wo['fund']['time']); ?></div>
          </div>
        </a>        
      </div>    
      <div class="challenge-content">
      	<?php
			$post_id = Wo_GetPostIdByChallengeFundId($wo['fund']['id']);
			$media = array(
				'type' => 'post',
				'storyId' => $post_id,
				'filename' => $wo['fund']['fileName'],
				'name' =>  $wo['fund']['file'],
				'postFileThumb' => $wo['fund']['fileThumb'],
			);
			//echo "<pre>";print_r($wo['challenge_fund']);die;
			echo Wo_DisplaySharedFile($media, 'show_fund', $wo['fund']['fund_data']['cache']);
			?>
      	<!-- <img src="<?php echo $wo['config']['theme_url'];?>/challenge/images/2082.jpg" 
      	loading="lazy" 
      	sizes="(max-width: 767px) 100vw, (max-width: 991px) 65vw, (max-width: 1690px) 71vw, 1200px" srcset="images/2082-p-500.jpeg 500w, images/2082-p-800.jpeg 800w, images/2082-p-1080.jpeg 1080w, images/2082.jpg 1200w" 
      	id="swipe-area" alt="" class="challenge-content-asset"> -->

        <!-- <div class="nav-hotspot prev-nav">
          <a href="#" class="prev-btn w-inline-block"><img src="<?php echo $wo['config']['theme_url'];?>/challenge/images/back-white.png" loading="lazy" height="32" alt=""></a>
        </div>
        <div class="nav-hotspot next-nav">
          <a href="#" class="next-btn w-inline-block"><img src="<?php echo $wo['config']['theme_url'];?>/challenge/images/next-white.png" loading="lazy" height="32" alt=""></a>
        </div> -->
        <div class="challenge-buttons">
          <!-- Like -->  
          <div class="challenge-button w-button" id="challenge-reaction">
            <?php if (Wo_IsMobile() == false) { ?>
          <div class="valign stats tag_post_actions">
            <div class="valign">
              <?php if ($wo['loggedin'] == true) 
              { 
                //$wo['story']['viewmode'] = "lightbox"; 
                $wo['story']['id']= $post_id;
                echo Wo_LoadPage('buttons/like-wonder');
              }?>
            </div>
            <?php if ($wo['config']['second_post_button'] == 'reaction') { ?>
              <div class="valign tag_post_foot_stats">
                <div class="valign post-actions">
                  <div class="valign like-stat stat-item">
                    <span class="valign like-emo post-reactions-icons-<?php echo $post_id; ?>" onclick="Wo_OpenPostReactedUsers(<?php echo $post_id; ?>);">
                      <?php echo Wo_GetPostReactions($post_id);?></span>
                  </div>
                </div>
              </div>
            <?php }?>
          </div>
          <?php }?>
          
          
          
          
          
          
          </div>
          <!-- <a href="#" class="challenge-button w-button">Share</a> -->
          <!--<div class="challenge-button w-button">-->
    <?php if($wo['config']['social_share_twitter'] == 0 && $wo['config']['social_share_facebook'] == 0 && $wo['config']['social_share_whatsup'] == 0 && $wo['config']['social_share_pinterest'] == 0 && $wo['config']['social_share_linkedin'] == 0 && $wo['config']['social_share_telegram'] == 0) { ?>
      <?php if (empty($wo['story']['parent_id']) && $wo['story']['post_is_promoted'] != 1) { ?>
        <div class="challenge-button w-button" onclick="Wo_SharePostOn(<?php echo $wo['story']['id']; ?>,<?php echo $wo['user']['user_id']; ?>,'timeline')" title="<?php echo $wo['lang']['share'];?>" data-toggle="tooltip">
          <span class="icoo"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="currentColor" d="M3,12c0,1.654,1.346,3,3,3c0.794,0,1.512-0.315,2.049-0.82l5.991,3.424C14.022,17.734,14,17.864,14,18c0,1.654,1.346,3,3,3 s3-1.346,3-3s-1.346-3-3-3c-0.794,0-1.512,0.315-2.049,0.82L8.96,12.397C8.978,12.266,9,12.136,9,12s-0.022-0.266-0.04-0.397 l5.991-3.423C15.488,8.685,16.206,9,17,9c1.654,0,3-1.346,3-3s-1.346-3-3-3s-3,1.346-3,3c0,0.136,0.022,0.266,0.04,0.397 L8.049,9.82C7.512,9.315,6.794,9,6,9C4.346,9,3,10.346,3,12z"/></svg></span>
        </div>
      <?php } ?>
    <?php } else { ?>
      <?php if (empty($wo['story']['parent_id']) && $wo['story']['post_is_promoted'] != 1) { ?>
        <div class="challenge-button w-button" onclick="Wo_SharePostOn(<?php echo $wo['story']['id']; ?>,<?php echo $wo['user']['user_id']; ?>,'timeline')" title="<?php echo $wo['lang']['share'];?>" data-toggle="tooltip">
          <span class="icoo"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="currentColor" d="M3,12c0,1.654,1.346,3,3,3c0.794,0,1.512-0.315,2.049-0.82l5.991,3.424C14.022,17.734,14,17.864,14,18c0,1.654,1.346,3,3,3 s3-1.346,3-3s-1.346-3-3-3c-0.794,0-1.512,0.315-2.049,0.82L8.96,12.397C8.978,12.266,9,12.136,9,12s-0.022-0.266-0.04-0.397 l5.991-3.423C15.488,8.685,16.206,9,17,9c1.654,0,3-1.346,3-3s-1.346-3-3-3s-3,1.346-3,3c0,0.136,0.022,0.266,0.04,0.397 L8.049,9.82C7.512,9.315,6.794,9,6,9C4.346,9,3,10.346,3,12z"/></svg></span>
        </div>
      <?php } ?>
    <?php } ?>
        <!--</div>-->
          <!-- <a data-w-id="495a1d78-3a95-7b4b-126d-3542b2a438ec" href="#" class="challenge-button w-button">Comment</a> -->
         <div data-w-id="495a1d78-3a95-7b4b-126d-3542b2a438ec" class="challenge-button w-button" title="<?php echo $wo['lang']['comments'];?>" data-toggle="tooltip">
            <span class="icoo"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="currentColor" d="M20,2H4C2.897,2,2,2.897,2,4v18l4-4h14c1.103,0,2-0.897,2-2V4C22,2.897,21.103,2,20,2z M9,12c-1.104,0-2-0.896-2-2 s0.896-2,2-2s2,0.896,2,2S10.104,12,9,12z M15,12c-1.104,0-2-0.896-2-2s0.896-2,2-2s2,0.896,2,2S16.104,12,15,12z"/></svg></span>
        </div>
        <!-- <div class="challenge-button w-button" style="background-color: transparent;">
          <div class="valign">
            <?php //echo Wo_LoadPage('buttons/like-wonder');?>
            <div class="valign stat-item commnt" onclick="Wo_ShowComments(<?php echo $wo['story']['id']; ?>);">
              <span class="icoo"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="currentColor" d="M20,2H4C2.897,2,2,2.897,2,4v18l4-4h14c1.103,0,2-0.897,2-2V4C22,2.897,21.103,2,20,2z M9,12c-1.104,0-2-0.896-2-2 s0.896-2,2-2s2,0.896,2,2S10.104,12,9,12z M15,12c-1.104,0-2-0.896-2-2s0.896-2,2-2s2,0.896,2,2S16.104,12,15,12z"/></svg>
              </span>

              <span class="like-btn-mobile"><?php echo $wo['lang']['comment_post_label'] ?></span> 
            </div>
          </div>
        </div> -->
         <!--  <a href="#" class="challenge-button w-button">Favourite</a> -->
         <a data-w-id="56d2c18a-581e-a200-3bde-9678149edd98" href="#" class="challenge-button mobile-only w-button" title="<?php echo $wo['lang']['info'];?>" data-toggle="tooltip">Info</a>
          <!--<a data-w-id="624a7c92-5a64-9331-f9e9-e1a9781170a0" href="<?php echo Wo_SeoLink('index.php?link1=challenges'); ?>" class="challenge-button w-button" style="background-color: transparent;"><svg style="float: right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" class="hover_path" d="M9.33 11.5h2.17A4.5 4.5 0 0 1 16 16H8.999L9 17h8v-1a5.578 5.578 0 0 0-.886-3H19a5 5 0 0 1 4.516 2.851C21.151 18.972 17.322 21 13 21c-2.761 0-5.1-.59-7-1.625L6 10.071A6.967 6.967 0 0 1 9.33 11.5zM4 9a1 1 0 0 1 .993.883L5 10V19a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-9a1 1 0 0 1 1-1h2zm9.646-5.425L14 3.93l.354-.354a2.5 2.5 0 1 1 3.535 3.536L14 11l-3.89-3.89a2.5 2.5 0 1 1 3.536-3.535z"/><path fill="currentColor" d="M5 9a1 1 0 0 1 1 1 6.97 6.97 0 0 1 4.33 1.5h2.17c1.332 0 2.53.579 3.353 1.499L19 13a5 5 0 0 1 4.516 2.851C21.151 18.972 17.322 21 13 21c-2.79 0-5.15-.603-7.06-1.658A.998.998 0 0 1 5 20H2a1 1 0 0 1-1-1v-9a1 1 0 0 1 1-1h3zm1.001 3L6 17.021l.045.033C7.84 18.314 10.178 19 13 19c3.004 0 5.799-1.156 7.835-3.13l.133-.133-.12-.1a2.994 2.994 0 0 0-1.643-.63L19 15l-2.112-.001c.073.322.112.657.112 1.001v1H8v-2l6.79-.001-.034-.078a2.501 2.501 0 0 0-2.092-1.416L12.5 13.5H9.57A4.985 4.985 0 0 0 6.002 12zM4 11H3v7h1v-7zm9.646-7.425L14 3.93l.354-.354a2.5 2.5 0 1 1 3.535 3.536L14 11l-3.89-3.89a2.5 2.5 0 1 1 3.536-3.535zm-2.12 1.415a.5.5 0 0 0-.06.637l.058.069L14 8.17l2.476-2.474a.5.5 0 0 0 .058-.638l-.058-.07a.5.5 0 0 0-.638-.057l-.07.058-1.769 1.768-1.767-1.77-.068-.056a.5.5 0 0 0-.638.058z"/></svg></a>-->
         <div data-w-id="624a7c92-5a64-9331-f9e9-e1a9781170a0" class="challenge-button w-button" title="<?php echo $wo['lang']['challenges'];?>" data-toggle="tooltip">
             <span class="icoo">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" class="hover_path" d="M9.33 11.5h2.17A4.5 4.5 0 0 1 16 16H8.999L9 17h8v-1a5.578 5.578 0 0 0-.886-3H19a5 5 0 0 1 4.516 2.851C21.151 18.972 17.322 21 13 21c-2.761 0-5.1-.59-7-1.625L6 10.071A6.967 6.967 0 0 1 9.33 11.5zM4 9a1 1 0 0 1 .993.883L5 10V19a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-9a1 1 0 0 1 1-1h2zm9.646-5.425L14 3.93l.354-.354a2.5 2.5 0 1 1 3.535 3.536L14 11l-3.89-3.89a2.5 2.5 0 1 1 3.536-3.535z"/><path fill="currentColor" d="M5 9a1 1 0 0 1 1 1 6.97 6.97 0 0 1 4.33 1.5h2.17c1.332 0 2.53.579 3.353 1.499L19 13a5 5 0 0 1 4.516 2.851C21.151 18.972 17.322 21 13 21c-2.79 0-5.15-.603-7.06-1.658A.998.998 0 0 1 5 20H2a1 1 0 0 1-1-1v-9a1 1 0 0 1 1-1h3zm1.001 3L6 17.021l.045.033C7.84 18.314 10.178 19 13 19c3.004 0 5.799-1.156 7.835-3.13l.133-.133-.12-.1a2.994 2.994 0 0 0-1.643-.63L19 15l-2.112-.001c.073.322.112.657.112 1.001v1H8v-2l6.79-.001-.034-.078a2.501 2.501 0 0 0-2.092-1.416L12.5 13.5H9.57A4.985 4.985 0 0 0 6.002 12zM4 11H3v7h1v-7zm9.646-7.425L14 3.93l.354-.354a2.5 2.5 0 1 1 3.535 3.536L14 11l-3.89-3.89a2.5 2.5 0 1 1 3.536-3.535zm-2.12 1.415a.5.5 0 0 0-.06.637l.058.069L14 8.17l2.476-2.474a.5.5 0 0 0 .058-.638l-.058-.07a.5.5 0 0 0-.638-.057l-.07.058-1.769 1.768-1.767-1.77-.068-.056a.5.5 0 0 0-.638.058z"/></svg>
             </span>
         </div>
        </div>
      </div>
      <div class="mobile-action-buttons-container">
        <div class="action-buttons-container w-row">
          <div class="w-col w-col-6 w-col-small-6">
            <!-- <a href="#" class="action-button w-button">Donate</a> -->
            <button data-toggle="modal" data-target="#dont_modal"  class="action-button w-button">Donate</button>
          </div>
          <div class="w-col w-col-6 w-col-small-6">
            <a href="<?=$wo['config']['site_url']."/?link1=create_challenge&challenge_fund_id=".$wo['fund']['id']."&id=".$wo['fund']['fund_data']['id']."&post_id=".$wo['fund']['id']?>" class="action-button button-style-2 w-button">Accept Challenge</a>
          </div>
        </div>
      </div>
      <div data-w-id="1eae9443-6a8f-6b3d-9b71-686aa50eaf4a" style="-webkit-transform:translate3d(0, 200px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 200px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 200px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 200px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="challenge-slider">
        <h2 class="footer-title">Challenges completed by other fundraisers</h2>
        <div class="other-challenges-container">
          <!-- <div>A carousel for other challenges with the same challenge name to be placed here.</div> -->
          <!-- <div class="fund">
                <div class="fluid list row" style="overflow: visible;"><br/>
                  <?php  foreach ($wo['fund']['challenges'] as $key => $challenge_fund) {
                    $post_id = Wo_GetPostIdByChallengeFundId($challenge_fund['id']);

                    ?>
                    
                    <div class="item fund_item"  >
                      <h6><?php 
                      if(isset($challenge_fund[0]['challenge']['title']))
                      {                     
                        echo $challenge_fund[0]['challenge']['title'];
                      }
                      ?></h6>
                      <div class="wrapper" style="display: flex;">
                        <?php  foreach ($challenge_fund as $key => $challenge) 
                        {
                          $post_id = Wo_GetPostIdByChallengeFundId($challenge['id']);
                          
                          ?>
                         <a href="<?= $wo['config']['site_url']."/show_challenge/". $challenge['hashed_id']?>"  > 
                        <?php                         
                        $media = array(
                          'type' => 'post',
                          'storyId' => $post_id,
                          'filename' => $challenge['fileName'],
                          'name' =>  $challenge['file'],
                          'postFileThumb' => $challenge['fileThumb'],
                        );
                        //echo "<pre>".'-----1254';print_r($wo['challenge_fund']['fund_data']['due_date']);
                        echo Wo_DisplaySharedFile($media, 'show_fund', $wo['challenge_fund']['fund_data']['cache']);
                        ?>
                      </a>
                        <?php }?>
                      </div>
                    </div><br/>
                  <?php }  ?>
                </div>
              </div> -->
              <div class="fund">
                <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
                  <div class="MultiCarousel-inner">
                    <?php  if(isset($wo['fund']['challenges']) && count($wo['fund']['challenges'])) {
                    foreach ($wo['fund']['challenges'] as $key => $challenge) {
                    $post_id = Wo_GetPostIdByChallengeFundId($challenge_fund['id']);
                    ?>
                      <div class="item">
                        <div class="pad15">
                          <a  href="<?= $wo['config']['site_url']."/show_challenge/". $challenge['hashed_id']?>"  > 
                            <?php                         
                            $media = array(
                              'type' => 'post',
                              'storyId' => $post_id,
                              'filename' => $challenge['fileName'],
                              'name' =>  $challenge['file'],
                              'postFileThumb' => $challenge['fileThumb'],
                            );
                        //echo "<pre>".'-----1254';print_r($wo['challenge_fund']['fund_data']['due_date']);
                        echo Wo_DisplaySharedFile($media, 'show_fund', $wo['challenge_fund']['fund_data']['cache']);
                        ?>
                      </a>
                          </div>
                      </div>
                      <?php } } ?>
                  </div>
                  <button class="btn btn-primary leftLst"><</button>
                  <button class="btn btn-primary rightLst">></button>
                </div>
              </div>
             
        </div>
        <a data-w-id="e7e40eb7-837f-3d20-09f2-d9246efd11c3" href="#" class="panel-close-btn w-button">X</a>
      </div>
    </div>
    <div data-w-id="eca2f00b-4f0e-9565-2d72-4616a89c99d8" class="challenge-info-container">
      <div class="challenge-details-container">
        <h1 class="challenge-title"><?php echo $wo['fund']['challenge']['title'];?></h1>
        <p>This is the challenge details/instructions.</p>
        <p><strong><?=Wo_GetTotalFundRaisedByChallengeFund($wo['fund']['challenge']['id'],$wo['fund']['fund_data']['id'])?> raised by this challenge for:</strong></p>
      </div>
      <div class="campaign-info-container">
        <h2 class="text-h2">Campaign</h2>
        <a href="#" class="campaign-profile w-inline-block">
        	<img src="<?php echo $wo['fund']['fund_data']['image'];?>" loading="lazy" alt="" class="campaign-image">
          <h3 class="text-h3"><?php echo $wo['fund']['fund_data']['title'];?></h3>
        </a>
        <div class="campaign-users w-row">
          <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6">
            <a href="#" class="profile-container colour-dark w-inline-block">
            	<img src="<?=$wo['fund']['fund_data']['user_data']['avatar']?>" loading="lazy" alt="" class="profile-photo">
              <div class="profile-details">
                <div class="profile-name">
                	<a href="<?=$wo['fund']['fund_data']['user_data']['url']?>" data-ajax="?link1=timeline&u=<?=$wo['fund']['fund_data']['user_data']['username']?>">
						<?=$wo['fund']['fund_data']['user_data']['name'];?>
					</a>
				</div>
                <div class="profile-datetime text-small">Organiser</div>
              </div>
            </a>
          </div>
          <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6">
            <a href="#" class="profile-container colour-dark w-inline-block">
            	<img src="<?=$wo['fund']['fund_data']['beneficiary_data']['avatar']?>" loading="lazy" alt="" class="profile-photo">
              <div class="profile-details">
                <div class="profile-name"><?=Wo_Markup($wo['fund']['fund_data']['beneficiary'],false,false,true,0) ?></div>
                <div class="profile-datetime text-small">Beneficiary</div>
              </div>
            </a>
          </div>
        </div>
        <a href="#" class="campaign-progress w-inline-block">
          <div class="campaign-progress-text">
            <div><strong>

            	<?php $currency=$wo['config']['currency_symbol_array'][$wo['config']['currency']];
            	echo ($wo['fund']['fund_data']['raised'])?$currency.$wo['fund']['fund_data']['raised']:'$0'; echo ' of';?>  
            	<?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].$wo['fund']['fund_data']['amount'].' '.$wo['lang']['raised_of']; ?>
            </strong></div>
            <div>
            	<?php
					if(!empty($wo['fund']['fund_data']['due_date']))
					{
						echo Wo_Time_Elapsed_String(strtotime($wo['fund']['fund_data']['due_date']),"due_date");
					}
				?>
					
			</div>
          </div>
          <!-- <div class="fund-progress-bar"></div> -->
          <div class="fund_raise_bar">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: <?php echo $wo['fund']['fund_data']['bar']; ?>%" aria-valuenow="<?php echo $wo['fund']['fund_data']['bar']; ?>" aria-valuemin="0" aria-valuemax="<?php echo($wo['fund']['fund_data']['amount']) ?>"></div>
                  </div>
                </div>
        </a>
      </div>
      <div class="action-buttons-container">
        <!-- <a href="#" class="action-button w-button">Donate</a> -->
        <button data-toggle="modal" data-target="#dont_modal"  class="action-button w-button">Donate</button>
        <a href="<?=$wo['config']['site_url']."/?link1=create_challenge&challenge_fund_id=".$wo['fund']['id']."&id=".$wo['fund']['fund_data']['id']."&post_id=".$wo['fund']['id']?>" class="action-button button-style-2 w-button">Accept Challenge</a>
      </div>

      <div class="section-header">
        <h2 class="text-h2">Donations</h2>
        <!-- <a href="#" class="link-text colour-dark">See All</a> -->
      </div>
      <div class="donations-container">
        <div class="donation-history">
          <?php if(count($challengedonations)>0) {
          foreach($challengedonations as $donation) 
            { 

              if($donation['show']=='0')
              {
                $donation['user_data']['avatar']=Wo_GetMedia('upload/photos/incognito.png');
                $donation['user_data']['url']='javascript:void(0)';
                $donation['user_data']['username']='anonymous';
                $donation['user_data']['name']=$wo['lang']['anonymous'];
              }

              ?>
          <div class="donation-details">
            <a href="<?php echo($donation['user_data']['url']) ?>" <?php if($donation['show']!='0'): ?> data-ajax="?link1=timeline&u=<?php echo($donation['user_data']['username']) ?>" <?php endif; ?> class="profile-container colour-dark w-inline-block">
              <img src="<?php echo $donation['user_data']['avatar']; ?>" loading="lazy" alt="" class="profile-photo">
              <div class="profile-details">
                <div class="profile-name"><?php echo $donation['user_data']['name']; ?></div>
                <div class="profile-datetime text-small"><?php echo Wo_Time_Elapsed_String($donation['time']); ?></div>
              </div>
            </a>
            <div class="donation-amount text-big"><?php echo '$'.$donation['amount']; ?></div>
          </div>
        <?php } } ?>
          
         
         
          
        </div>
      </div>
      <a data-w-id="605008d2-b33d-0b27-f715-379cd40b48fc" href="#" class="panel-close-btn mobile-only w-button">X</a>
    </div>
    <div data-w-id="937b279f-0692-8848-8702-ef5d3e405544" style="display:none" class="comments-container">
      <a data-w-id="daceb9d2-9e7b-8dd3-622e-f2c3ac477b1d" href="#" class="panel-close-btn w-button">X</a>
      <h2 class="text-h2">0 Comments</h2>
      <p>Use the same comment block from the lightbox.</p>
    </div>
  </div>
  <!-- <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=607e52a14d835794f94dcd5c" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script> -->
  <script src="<?php echo $wo['config']['theme_url'];?>/challenge/js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <script>
    $(document).ready(function () {
    var itemsMainDiv = ('.MultiCarousel');
    var itemsDiv = ('.MultiCarousel-inner');
    var itemWidth = "";

    $('.leftLst, .rightLst').click(function () {
        var condition = $(this).hasClass("leftLst");
        if (condition)
            click(0, this);
        else
            click(1, this)
    });

    ResCarouselSize();




    $(window).resize(function () {
        ResCarouselSize();
    });

    //this function define the size of the items
    function ResCarouselSize() {
        var incno = 0;
        var dataItems = ("data-items");
        var itemClass = ('.item');
        var id = 0;
        var btnParentSb = '';
        var itemsSplit = '';
        var sampwidth = $(itemsMainDiv).width();
        var bodyWidth = $('body').width();
        $(itemsDiv).each(function () {
            id = id + 1;
            var itemNumbers = $(this).find(itemClass).length;
            btnParentSb = $(this).parent().attr(dataItems);
            itemsSplit = btnParentSb.split(',');
            $(this).parent().attr("id", "MultiCarousel" + id);


            if (bodyWidth >= 1200) {
                incno = itemsSplit[3];
                itemWidth = sampwidth / incno;
            }
            else if (bodyWidth >= 992) {
                incno = itemsSplit[2];
                itemWidth = sampwidth / incno;
            }
            else if (bodyWidth >= 768) {
                incno = itemsSplit[1];
                itemWidth = sampwidth / incno;
            }
            else {
                incno = itemsSplit[0];
                itemWidth = sampwidth / incno;
            }
            $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers });
            $(this).find(itemClass).each(function () {
                $(this).outerWidth(itemWidth);
            });

            $(".leftLst").addClass("over");
            $(".rightLst").removeClass("over");

        });
    }


    //this function used to move the items
    function ResCarousel(e, el, s) {
        var leftBtn = ('.leftLst');
        var rightBtn = ('.rightLst');
        var translateXval = '';
        var divStyle = $(el + ' ' + itemsDiv).css('transform');
        var values = divStyle.match(/-?[\d\.]+/g);
        var xds = Math.abs(values[4]);
        if (e == 0) {
            translateXval = parseInt(xds) - parseInt(itemWidth * s);
            $(el + ' ' + rightBtn).removeClass("over");

            if (translateXval <= itemWidth / 2) {
                translateXval = 0;
                $(el + ' ' + leftBtn).addClass("over");
            }
        }
        else if (e == 1) {
            var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
            translateXval = parseInt(xds) + parseInt(itemWidth * s);
            $(el + ' ' + leftBtn).removeClass("over");

            if (translateXval >= itemsCondition - itemWidth / 2) {
                translateXval = itemsCondition;
                $(el + ' ' + rightBtn).addClass("over");
            }
        }
        $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
    }

    //It is used to get some elements from btn
    function click(ell, ee) {
        var Parent = "#" + $(ee).parent().attr("id");
        var slide = $(Parent).attr("data-slide");
        ResCarousel(ell, Parent, slide);
    }

});
    /*  
    function detectswipe(el,func) {
      swipe_det = new Object();
      swipe_det.sX = 0;
      swipe_det.sY = 0;
      swipe_det.eX = 0;
      swipe_det.eY = 0;
      var min_x = 20;  //min x swipe for horizontal swipe
      var max_x = 40;  //max x difference for vertical swipe
      var min_y = 40;  //min y swipe for vertical swipe
      var max_y = 50;  //max y difference for horizontal swipe
      var direc = "";
      ele = document.getElementById(el);
      ele.addEventListener('touchstart',function(e){
        var t = e.touches[0];
        swipe_det.sX = t.screenX; 
        swipe_det.sY = t.screenY;
      },false);
      ele.addEventListener('touchmove',function(e){
        e.preventDefault();
        var t = e.touches[0];
        swipe_det.eX = t.screenX; 
        swipe_det.eY = t.screenY;    
      },false);
      ele.addEventListener('touchend',function(e){
        //horizontal detection
        if ((((swipe_det.eX - min_x > swipe_det.sX) || (swipe_det.eX + min_x < swipe_det.sX)) && ((swipe_det.eY < swipe_det.sY + max_y) && (swipe_det.sY > swipe_det.eY - max_y)))) {
          if(swipe_det.eX > swipe_det.sX) direc = "right";
          else direc = "left";
        }
        //vertical detection
        if ((((swipe_det.eY - min_y > swipe_det.sY) || (swipe_det.eY + min_y < swipe_det.sY)) && ((swipe_det.eX < swipe_det.sX + max_x) && (swipe_det.sX > swipe_det.eX - max_x)))) {
          if(swipe_det.eY > swipe_det.sY) direc = "down";
          else direc = "up";
        }
        if (direc != "") {
          if(typeof func == 'function') func(el,direc);
        }
        direc = "";
      },false);  
    }
    function myfunction(el,d) {
			alert("You swiped "+d+" ");
    }
    detectswipe('swipe-area',myfunction);
    */
</script>
<div id="donate_for_fund_modal"></div>
<div class="modal fade" id="dont_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog wow_mat_mdl modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><?php echo $wo['lang']['donate']; ?> <?php echo $wo['lang']['amount']; ?></h4>
      </div>
      <div class="modal-body">
        <div id="amount_fund_alert"></div>
        <div class="row">
          <button class="btn btn-success fa-lg m-2" onclick="setDonationValue(100)" >$100</button>
          <button class="btn btn-success fa-lg m-2" onclick="setDonationValue(200)">$200</button>
          <button class="btn btn-success fa-lg m-2" onclick="setDonationValue(500)">$500</button>
          <button class="btn btn-success fa-lg m-2" onclick="setDonationValue(1000)">$1000</button>
          <button class="btn btn-success fa-lg m-2" onclick="setDonationValue(5000)">$5000</button>
          <button class="btn btn-success fa-lg m-2" onclick="setDonationValue(10000)">$10000</button>
          
        </div>
        <div class="fund_input text-center">
          <input type="text" name="amount" placeholder="0.00" id="fund_donate_amount" onkeyup="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
          <div id="place"></div>
        </div>
        <div class="round-check">
          <input type="checkbox" name="display_name" id="display_name">
          <label for="display_name">Don't display my name publicly</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-mat disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel'] ?></button>
        <button class="bank_payment btn btn-main btn-mat" onclick="Wo_GetPaymentMethods(this);"><?php echo $wo['lang']['donate']; ?></button>
        <input type="hidden" class="form-control" id="fund_donate_id" value="<?php echo $wo['fund']['funding_id']; ?>">
        <input type="hidden" class="form-control" id="challenge_donate_id" value="<?php echo $wo['fund']['challenge_id']; ?>">
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="bank_transfer_donate_modal" role="dialog" data-keyboard="false">
  <div class="modal-dialog wow_mat_mdl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><?php echo $wo['lang']['bank_transfer'] ?></h4>
      </div>
      <form class="form form-horizontal" method="post" id="bank_transfer_form_donate" action="#">
        <div class="modal-body dt_bank_trans_modal">
          <div id="blog-alert"></div>
          
          <?php echo $wo['config']['bank_description'];?>
          
          <?php if (!empty($wo['config']['bank_transfer_note'])) { ?>
            <div class="dt_user_profile hide_alert_info_bank_trans">
              <ul class="dt_prof_vrfy">
                <li><?php echo $wo['config']['bank_transfer_note'];?></li>
              </ul>
            </div>
          <?php } ?>
          <div class="upload_bank_receipts">
            <div onclick="document.getElementById('upload').click(); return false">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2M13.5,16V19H10.5V16H8L12,12L16,16H13.5M13,9V3.5L18.5,9H13Z"></path></svg>
              <p><?php echo $wo['lang']['browse_to_upload']; ?></p>
              <img id="receipt_img_preview" src="">
            </div>
          </div>
          <?php /*if(isset($_GET['challenge_id'])){?>
            <input value="<?=$_GET['challenge_id'];?>" name="challenge_id" type="hidden" id="challenge_id" class="hidden">
          <?php }?>
          <?php if(isset($_GET['challenge_id'])){?>
            <input name="price" type="hidden" id="bank_donate_price" class="hidden">
          <?php }*/?>
           <input name="challenge_id" type="hidden" id="challengeid" class="hidden">
            <input name="show" type="hidden" id="show" class="hidden">

          <input name="price" type="hidden" id="bank_donate_price" class="hidden">
          <input name="fund_id" type="hidden" id="bank_donate_fund_id" class="hidden">
          <input type="hidden" name="hash_id" value="<?php echo Wo_CreateSession();?>">
          <input name="thumbnail" type="file" id="upload" class="hidden" accept="image/*">
          <input type="reset" id="configreset" value="Reset" class="hidden">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-mat btn-default disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel']; ?></button>
          <button type="submit" class="btn btn-main btn-mat disable_btn"><?php echo $wo['lang']['send']; ?></button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="2checkout_wallet_donate_modal" role="dialog" data-keyboard="false">
  <div class="modal-dialog wow_mat_mdl modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><?php echo $wo['lang']['2checkout'] ?></h4>
      </div>
      <form class="form form-horizontal" method="post" id="2checkout_form_donate_wallet" action="#">
        <div class="modal-body twocheckout_modal">
          <div id="2checkout_alert_donate_wallet"></div>
          <div class="clear"></div>
          <div class="row">
            <div class="col-lg-6">
              <label class="tag_field">
                <input id="card_name" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['name']) ?>">
                <span><?php echo $wo['lang']['name']; ?></span>
              </label>
              <label class="tag_field">
                <input id="card_email" type="email" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['email']) ?>">
                <span><?php echo $wo['lang']['email']; ?></span>
              </label>
              <label class="tag_field">
                <input id="card_phone" type="tel" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['phone_number']) ?>">
                <span><?php echo $wo['lang']['phone_number']; ?></span>
              </label>
              <label class="tag_field">
                <input id="card_address" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['address']) ?>">
                <span><?php echo $wo['lang']['address']; ?></span>
              </label>
              <div class="row">
                <div class="col-md-6">
                  <label class="tag_field">
                    <input id="card_city" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['city']) ?>">
                    <span><?php echo $wo['lang']['city']; ?></span>
                  </label>
                </div>
                <div class="col-md-6">
                  <label class="tag_field">
                    <input id="card_zip" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['zip']) ?>">
                    <span><?php echo $wo['lang']['zip']; ?></span>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label class="tag_field">
                    <input id="card_state" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['state']) ?>">
                    <span><?php echo $wo['lang']['state']; ?></span>
                  </label>
                </div>
                <div class="col-md-6">
                  <label class="tag_field">
                    <select id="card_country" name="card_country">
                      <?php 
                        foreach ($wo['countries_name'] as $country_ids => $country) { 
                          $country_id = $wo['user']['country_id'];
                          $selected_contry = ($country_ids == $country_id) ? ' selected' : '' ;
                      ?>
                        <option value="<?php echo $country_ids;?>" <?php echo $selected_contry;?> ><?php echo $country;?></option>
                      <?php } ?>
                    </select>
                    <span><?php echo $wo['lang']['country']; ?></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="two_check_card">
                <label class="tag_field">
                  <input id="_number_" type="text" autocomplete="off" placeholder=" ">
                  <span><?php echo $wo['lang']['card_number']; ?></span>
                  <input id="card_number" name="card_number" type="hidden" autocomplete="off">
                </label>
                <label class="tag_field">
                  <select id="card_month" name="card_month">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                  </select>
                  <span><?php echo $wo['lang']['month']; ?></span>
                </label>
                <label class="tag_field">
                  <select id="card_year" name="card_year">
                    <?php for ($i=date('Y'); $i <= date('Y')+15; $i++) {  ?>
                      <option value="<?php echo($i) ?>"><?php echo($i) ?></option>
                    <?php } ?>
                  </select>
                  <span><?php echo $wo['lang']['year']; ?></span>
                </label>
                <label class="tag_field">
                  <input id="card_cvc" name="card_cvc" type="text" autocomplete="off" placeholder=" " maxlength="3" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                  <span>CVC</span>
                </label>
              </div>
            </div>
          </div>
          <div class="clear"></div>
          <input id="card_token" name="token" type="hidden" value="">
          <input id="donate_check_amount" name="amount" type="hidden" value="">
          <input id="donate_check_fund_id" name="fund_id" type="hidden" value="">
        </div>
        <div class="clear"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-mat btn-default disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel']; ?></button>
          <button type="button" class="btn btn-main btn-mat disable_btn" onclick="tokenRequest()" id="2checkout_btn_wallet"><?php echo $wo['lang']['pay']; ?></button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="paystack_fund_modal" role="dialog" data-keyboard="false">
  <div class="modal-dialog wow_mat_mdl modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><?php echo $wo['lang']['paystack'] ?></h4>
      </div>
      <form class="form form-horizontal" method="post" id="paystack_fund_form" action="#">
        <div class="modal-body">
          <div id="paystack_fund_alert"></div>
          <div class="clear"></div>
          <label class="tag_field">
            <input id="paystack_fund_email" type="email" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['email']) ?>">
            <span><?php echo $wo['lang']['email']; ?></span>
          </label>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <input type="hidden" name="paystack_fund_id" id="paystack_fund_id">
        <input type="hidden" name="paystack_fund_amount" id="paystack_fund_amount">
        <div class="modal-footer">
          <button type="button" class="btn btn-mat btn-default disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel']; ?></button>
          <button type="button" class="btn btn-main btn-mat disable_btn" id="paystack_btn" onclick="InitializeFundPaystack()"><?php echo $wo['lang']['pay']; ?></button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="cashfree_wallet_modal" role="dialog" data-keyboard="false">
  <div class="modal-dialog wow_mat_mdl modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><?php echo $wo['lang']['cashfree'] ?></h4>
      </div>
      <form class="form form-horizontal" method="post" id="cashfree_form" action="#">
        <div class="modal-body">
          <div id="cashfree_wallet_alert"></div>
          <div class="clear"></div>
          <label class="tag_field">
            <input id="cashfree_name" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['name']) ?>">
            <span><?php echo $wo['lang']['name']; ?></span>
          </label>
          <label class="tag_field">
            <input id="cashfree_email" type="email" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['email']) ?>">
            <span><?php echo $wo['lang']['email']; ?></span>
          </label>
          <label class="tag_field">
            <input id="cashfree_phone" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['phone_number']) ?>">
            <span><?php echo $wo['lang']['phone_number']; ?></span>
          </label>
          <input type="hidden" name="cashfree_type" id="cashfree_type">
          <input type="hidden" name="cashfree_fund_id" id="cashfree_fund_id">
            <input type="hidden" name="cashfree_fund_amount" id="cashfree_fund_amount">
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-mat btn-default disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel']; ?></button>
          <button type="button" class="btn btn-main btn-mat disable_btn" id="cashfree_btn" onclick="SignatureWalletCashfree()"><?php echo $wo['lang']['pay']; ?></button>
        </div>
      </form>
    </div>
  </div>
</div>

<?php if ($wo['config']['razorpay_payment'] == 'yes' && !empty($wo['config']['razorpay_key_id']) && !empty($wo['config']['razorpay_key_secret'])) { ?>
<div class="modal fade" id="razorpay_modal" role="dialog" data-keyboard="false">
  <div class="modal-dialog wow_mat_mdl modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><?php echo $wo['lang']['razorpay'] ?></h4>
      </div>
      <form class="form form-horizontal" method="post" id="razorpay_form" action="#">
        <div class="modal-body">
          <div id="razorpay_alert"></div>
          <div class="clear"></div>
          <label class="tag_field">
            <input id="razorpay_name" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['name']) ?>">
            <span><?php echo $wo['lang']['name']; ?></span>
          </label>
          <label class="tag_field">
            <input id="razorpay_email" type="email" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['email']) ?>">
            <span><?php echo $wo['lang']['email']; ?></span>
          </label>
          <label class="tag_field">
            <input id="razorpay_phone" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['phone_number']) ?>">
            <span><?php echo $wo['lang']['phone_number']; ?></span>
          </label>
          <input type="hidden" name="razorpay_fund_id" id="razorpay_fund_id">
          <input type="hidden" name="razorpay_fund_amount" id="razorpay_fund_amount">
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-mat btn-default disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel']; ?></button>
          <button type="button" class="btn btn-main btn-mat disable_btn" id="razorpay_btn" onclick="SignatureRazorpay()"><?php echo $wo['lang']['pay']; ?></button>
        </div>
      </form>
    </div>
  </div>
</div>



<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<?php } ?>
<script type="text/javascript">
<?php if ($wo['config']['razorpay_payment'] == 'yes' && !empty($wo['config']['razorpay_key_id']) && !empty($wo['config']['razorpay_key_secret'])) { ?>
function pay_using_razorpay_fund(fund_id,amount) {
  $("#razorpay_fund_id").val(fund_id);
  $("#razorpay_fund_amount").val(amount);
  $("#razorpay_alert").html('');
  $('#fund_payment_donate_modal').modal('hide');
  $('#razorpay_modal').modal({
        show: true
    });
}

function SignatureRazorpay() {
  $('#razorpay_btn').html("<?php echo($wo['lang']['please_wait']) ?>");
  $('#razorpay_btn').attr('disabled','true');
    var merchant_order_id = "<?php echo(round(111111,9999999)) ?>";
    var card_holder_name_id = $('#razorpay_name').val();
    var type = $('#razorpay_type').val();
    var email = $('#razorpay_email').val();
    var phone = $('#razorpay_phone').val();
    //var currency_code_id = "<?php echo($wo['config']['currency']) ?>";
    var currency_code_id = "INR";

    if (!email || !phone || !card_holder_name_id) {
      $('#razorpay_alert').html("<div class='alert alert-danger'><?php echo($wo['lang']['please_check_details']) ?></div>");
    setTimeout(function () {
      $('#razorpay_alert').html("");
    },3000);
    $('#razorpay_btn').html("<?php echo($wo['lang']['pay']) ?>");
    $('#razorpay_btn').removeAttr('disabled');
    return false;
    }


    var merchant_total = Number($('#razorpay_fund_amount').val()) * 100;
    var fund_id = $('#razorpay_fund_id').val();
    
    var razorpay_options = {
        key: "<?php echo $wo['config']['razorpay_key_id']; ?>",
        amount: merchant_total,
        name: "<?php echo $wo['config']['siteName']; ?>",
        description: "Donate",
        image: '<?php echo $wo['config']['theme_url'];?>/img/logo.<?php echo $wo['config']['logo_extension'];?>',
        netbanking: true,
        currency: currency_code_id,
        prefill: {
            name: card_holder_name_id,
            email: email,
            contact: phone
        },
        notes: {
            soolegal_order_id: merchant_order_id,
        },
        handler: function (transaction) {
            jQuery.ajax({
                url:Wo_Ajax_Requests_File() + '?f=razorpay&s=fund',
                type: 'post',
                data: {payment_id: transaction.razorpay_payment_id, order_id: merchant_order_id, card_holder_name_id: card_holder_name_id,  merchant_amount: merchant_total, currency: currency_code_id, type: 'fund', fund_id: fund_id}, 
                dataType: 'json',
                success: function (data) {
                  if (data.status == 200) {
                    window.location = data.url;
                  }
                  else{
                    if (data.url != '') {
                      window.location = data.url;
                    }
                    else{
                      $('#razorpay_alert').html("<div class='alert alert-danger'>"+data.message+"</div>");
              setTimeout(function () {
                $('#razorpay_alert').html("");
              },3000);
              $('#razorpay_btn').html("<?php echo($wo['lang']['pay']) ?>");
              $('#razorpay_btn').removeAttr('disabled');

                    }
                  }
                }
            });
        },
        "modal": {
            "ondismiss": function () {
                // code here
            }
        }
    };
    // obj        
    var objrzpv1 = new Razorpay(razorpay_options);
    objrzpv1.open();
    e.preventDefault();
}
<?php } ?>
<?php if ($wo['config']['paysera_payment'] == 'yes' && !empty($wo['config']['paysera_project_id']) && !empty($wo['config']['paysera_sign_password'])) { ?>
  function pay_using_paysera_funding(fund_id,amount) {
    $('.btn-paysera').attr('disabled', true).text("<?php echo $wo["lang"]["please_wait"]?>");
      $.post(Wo_Ajax_Requests_File() + '?f=paysera&s=get_url', {type:'fund',amount:amount,fund_id:fund_id}, function(data) {
          if (data.status == 200) {
              window.location.href = data.url;
          } else {
            $('.btn-paysera').attr('disabled', false).html("Paysera App not set yet.");
          }
      });
  }
<?php } ?>


  function pay_using_cashfree_funding(fund_id,amount) {
    $("#cashfree_fund_id").val(fund_id);
    $("#cashfree_fund_amount").val(amount);
    $("#cashfree_wallet_alert").html('');
    $('#fund_payment_donate_modal').modal('hide');
    $('#cashfree_wallet_modal').modal({
          show: true
      });
  }

  function SignatureWalletCashfree() {
    $('#cashfree_btn').html("<?php echo($wo['lang']['please_wait']) ?>");
    $('#cashfree_btn').attr('disabled','true');
    type = $('#cashfree_type').val();
    email = $('#cashfree_email').val();
    name = $('#cashfree_name').val();
    phone = $('#cashfree_phone').val();
    amount = $('#cashfree_fund_amount').val();
    fund_id = $('#cashfree_fund_id').val();
    $.post(Wo_Ajax_Requests_File() + '?f=cashfree&s=initialize', {type:'fund',email:email,name:name,phone:phone,amount:amount,fund_id:fund_id}, function(data) {
      if (data.status == 200) {
        $('body').append(data.html);
        document.getElementById("redirectForm").submit();
      } else {
        $('#cashfree_wallet_alert').html("<div class='alert alert-danger'>"+data.message+"</div>");
        setTimeout(function () {
          $('#cashfree_wallet_alert').html("");
        },3000);
      }
      $('#cashfree_btn').html("<?php echo($wo['lang']['pay']) ?>");
      $('#cashfree_btn').removeAttr('disabled');
    });
  }

  function pay_using_funding_paystack(fund_id,amount) {
    $("#paystack_fund_id").val(fund_id);
    $("#paystack_fund_amount").val(amount);
    $("#paystack_fund_alert").html('');
    $('#fund_payment_donate_modal').modal('hide');
    $('#paystack_fund_modal').modal({
          show: true
      });
  }

  function InitializeFundPaystack() {
    $('#paystack_btn').html("<?php echo($wo['lang']['please_wait']) ?>");
      $('#paystack_btn').attr('disabled','true');
    email = $('#paystack_fund_email').val();
    amount = $('#paystack_fund_amount').val();
    fund_id = $('#paystack_fund_id').val();
    $.post(Wo_Ajax_Requests_File() + '?f=paystack&s=initialize', {type:'fund',email:email,amount:amount,fund_id:fund_id}, function(data) {
      if (data.status == 200) {
        window.location.href = data.url;
      } else {
        $('#paystack_fund_alert').html("<div class='alert alert-danger'>"+data.message+"</div>");
        setTimeout(function () {
          $('#paystack_fund_alert').html("");
        },3000);
      }
      $('#paystack_btn').html("<?php echo($wo['lang']['pay']) ?>");
        $('#paystack_btn').removeAttr('disabled');
    });
  }

  $(document).on('change', '#upload', function(event) {
    let imgPath = $(this)[0].files[0].name;
      if (typeof(FileReader) != "undefined") {
          let reader = new FileReader();
          reader.onload = function(e) {
        $('#receipt_img_preview').attr('src', e.target.result);
          }
          reader.readAsDataURL(this.files[0]);
      }
    $('#bank_transfer_donate_modal').addClass('up_rec_img_ready');
  });
  jQuery(document).ready(function($) {
    $('#bank_transfer_donate_modal').ajaxForm({
      url: Wo_Ajax_Requests_File() + '?f=funding&s=bank',
      beforeSend: function() {
      $('#bank_transfer_donate_modal').find('.disable_btn').attr('disabled','disabled');
    },
    success: function(data) {
      if (data['status'] == 200) {
        $("#blog-alert").html('<div class="alert alert-success">'+ data['message'] +'</div>');
        setTimeout(function () {
          // window.location = "<?php echo $wo['config']['site_url'];?>";
          $(".prv-img").html('<div class="thumbnail-rendderer"><div><h4 class="bold"><?php echo $wo['lang']['drop_img_here']; ?></h4><div class="error-text-renderer"></div><div><span><?php echo $wo['lang']['or']; ?></span><p><?php echo $wo['lang']['browse_to_upload']; ?></p></div></div> </div>');
          $("#blog-alert").html('');
          $('#configreset').click();

        },3000)
      } else if (data['message']) {
        $("#blog-alert").html('<div class="alert alert-danger">' + data['message'] + '</div>');
      } 
      $('#bank_transfer_donate_modal').find('.disable_btn').removeAttr("disabled");
    }});
  });

// Called when token created successfully.
var successCallback = function(data) {
  console.log(data);
    var myForm = document.getElementById('2checkout_form_donate_wallet');
    $.post(Wo_Ajax_Requests_File() + '?f=funding&s=2checkout', {card_number: $("#card_number").val(),card_cvc: $("#card_cvc").val(),card_month: $("#card_month").val(),card_year: $("#card_year").val(),card_name: $("#card_name").val(),card_address: $("#card_address").val(),card_city: $("#card_city").val(),card_state: $("#card_state").val(),card_zip: $("#card_zip").val(),card_country: $("#card_country").val(),card_email: $("#card_email").val(),card_phone: $("#card_phone").val(),amount: $('#donate_check_amount').val(),fund_id: $('#donate_check_fund_id').val(),token: data.response.token.token}, function(data, textStatus, xhr) {
      $('#2checkout_btn_wallet').html("<?php echo($wo['lang']['pay']) ?>");
      $('#2checkout_btn_wallet').attr('disabled');
      $('#2checkout_btn_wallet').removeAttr('disabled');
      $('#2checkout_form_donate_wallet').find('.disable_btn').removeAttr("disabled");
      if (data.status == 200) {
          window.location.href = data.location;
        } else {
          $('#2checkout_alert_donate_wallet').html("<div class='alert alert-danger'>"+data.error+"</div>");
      setTimeout(function () {
        $('#2checkout_alert_donate_wallet').html("");
      },3000);
        }
      /*optional stuff to do after success */
    });
};

// Called when token creation fails.
var errorCallback = function(data) {
  $('#2checkout_btn_wallet').html("<?php echo($wo['lang']['pay']) ?>");
  $('#2checkout_btn_wallet').removeAttr('disabled');
  $('#2checkout_form_donate_wallet').find('.disable_btn').removeAttr("disabled");
    if (data.errorCode === 200) {
        tokenRequest();
    } else {
      $('#2checkout_alert_donate_wallet').html("<div class='alert alert-danger'>"+data.errorMsg+"</div>");
    setTimeout(function () {
      $('#2checkout_alert_donate_wallet').html("");
    },3000);
    }
};

var tokenRequest = function() {
  $('#card_number').val($('#_number_').val());
  $('#2checkout_btn_wallet').html("<?php echo($wo['lang']['please_wait']) ?>");
  $('#2checkout_btn_wallet').attr('disabled','true');
  if ($("#card_number").val() != '' && $("#card_cvc").val() != '' && $("#card_month").val() != '' && $("#card_year").val() != '' && $("#card_name").val() != '' && $("#card_address").val() != '' && $("#card_city").val() != '' && $("#card_state").val() != '' && $("#card_zip").val() != '' && $("#card_country").val() != 0 && $("#card_email").val() != '' && $("#card_phone").val() != '') {
    $('#2checkout_form_donate_wallet').find('.disable_btn').attr('disabled','disabled');
    // Setup token request arguments
      var args = {
          sellerId: "<?php echo($wo['config']['checkout_seller_id']) ?>",
          publishableKey: "<?php echo($wo['config']['checkout_publishable_key']) ?>",
          ccNo: $("#card_number").val(),
          cvv: $("#card_cvc").val(),
          expMonth: $("#card_month").val(),
          expYear: $("#card_year").val()
      };
      // Make the token request
      TCO.requestToken(successCallback, errorCallback, args);
  }
  else{
    $('#2checkout_btn_wallet').html("<?php echo($wo['lang']['pay']) ?>");
    $('#2checkout_btn_wallet').removeAttr('disabled');
    $('#2checkout_alert_donate_wallet').html("<div class='alert alert-danger'><?php echo($wo['lang']['please_check_details']) ?></div>");
    setTimeout(function () {
      $('#2checkout_alert_donate_wallet').html("");
    },3000);
  }
};

$(function() {
    // Pull in the public encryption key for our environment
    TCO.loadPubKey("<?php echo($wo['config']['checkout_mode']) ?>");
});
</script>
<script>
// endorse campaign
  function endorseRequest(){
    $(function(){
      $('#endorseForm').ajaxSubmit({
        url: Wo_Ajax_Requests_File() + '?f=funding&s=funding_endorse',
        beforeSend: function() {
          $('#endorseBtn').attr('disabled','disabled');
        },
        success: function(data) {
          if (data['status'] == 200) {
          $("#show-alert").html('<div class="alert alert-success">'+ data['message'] +'</div>');
            setTimeout(function () {
        // window.location = "<?php echo $wo['config']['site_url'];?>";
            $("#show-alert").html('');
          },10000)
          } else if (data['message']) {
            $("#blog-alert").html('<div class="alert alert-danger">' + data['message'] + '</div>');
          } 
          $('#endorseBtn').removeAttr("disabled");
        }
      });
    });
  }
  //  report campiagn
  function reportRequest(){
    $(function(){
      $('#report_campaign').modal('show');
    });
  }

  function Wo_ReportCampaign(id = false,report = true){
    var report_text = $("#report-campaign-text-<?php echo $wo['user']['id']; ?>").val();
    if (!id) {return false;}
    else if(report == true){
    if (!report_text) {
      return false;}  
    }
    $('#pull-right').find('.disable_btn').attr('disabled','disabled');
    $.ajax({
      url: Wo_Ajax_Requests_File() + '?f=reports&s=report_campaign',
      type: 'POST',
      dataType: 'json',
      data: {text:report_text,fund_id:id},
    })
    .done(function(data) {
      console.log("data",data);
      if(data.status == 200 && data.code == 0){
        // $("#report_campaign").modal('hide');
        alert('report canceled');
        // $('#report_status').replaceWith('\
        //  <li id="report_status">\
        //    <a class="pointer" onclick="$(\'#report_profile\').modal(\'show\');"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" class="hover_path" d="M16.218 2.5l5.683 5.682v8.036l-5.683 5.683H8.182l-5.683-5.683V8.182l5.683-5.683h8.036zM11 15v2h2v-2h-2zm0-8v6h2V7h-2z"></path><path fill="currentColor" d="M15.936 2.5L21.5 8.067v7.87L15.936 21.5h-7.87L2.5 15.936v-7.87L8.066 2.5h7.87zm-.829 2H8.894L4.501 8.895v6.213l4.393 4.394h6.213l4.394-4.394V8.894l-4.394-4.393zM11 15h2v2h-2v-2zm0-8h2v6h-2V7z"></path></svg>\
        //    <?php echo $wo['lang']['report_user']; ?></a>\
        //  </li>');
        location.reload();

      }
      else if (data.status == 200 && data.code == 1) {
        alert('Campaign is Reported');
        $("#report-campaign-text-<?php echo $wo['user']['id']; ?>").val('');
        $("#report_campaign").modal('hide');
        // $('#report_status').replaceWith('\
        //  <li id="report_status">\
        //    <a class="pointer" onclick="Wo_ReportProfile(<?php echo $wo['user_profile']['id']; ?>,false);"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" class="hover_path" d="M16.218 2.5l5.683 5.682v8.036l-5.683 5.683H8.182l-5.683-5.683V8.182l5.683-5.683h8.036zM11 15v2h2v-2h-2zm0-8v6h2V7h-2z"></path><path fill="currentColor" d="M15.936 2.5L21.5 8.067v7.87L15.936 21.5h-7.87L2.5 15.936v-7.87L8.066 2.5h7.87zm-.829 2H8.894L4.501 8.895v6.213l4.393 4.394h6.213l4.394-4.394V8.894l-4.394-4.393zM11 15h2v2h-2v-2zm0-8h2v6h-2V7z"></path></svg>\
        //    <?php echo $wo['lang']['unreport']; ?></a>\
        //  </li>');
        location.reload();

      }
      $('#pull-right').find('.disable_btn').removeAttr("disabled");
    })
    .fail(function() {
      console.log("error");
    })
  }


</script>
<script>
$(document).keydown(function(e) {
    if (e.keyCode == 27) {
        Wo_CloseLightbox();
    }
    $(".lighbox.textarea").triggeredAutocomplete({
       hidden: '#hidden_inputbox_comment_lighbox',
       source: Wo_Ajax_Requests_File() + "?f=mention",
       trigger: "@" 
    });
});

function setDonationValue(value){
    var oldValue = 0;
    if(parseInt($('#fund_donate_amount').val())){
      var oldValue = parseInt($('#fund_donate_amount').val());
    }
    var value = parseInt(value);
    var newValue = oldValue+value;
    $('#fund_donate_amount').val(newValue);
    $('#bank_donate_price').val(newValue);

    $('#fund_donate_amount').focus();

  }


function zoomin(id){
  var myImg = document.getElementById("wo_zoom_<?php echo $wo['story']['id'];?>");
  $(myImg).addClass("double_zoom");
  $('#draggableHelper').draggable({ cursor: "move", revert: true, disabled: false });
}
function zoomout(id){
  var myImg = document.getElementById("wo_zoom_<?php echo $wo['story']['id'];?>");
  $(myImg).removeClass("double_zoom");
  $('#draggableHelper').draggable({ disabled: true, revert: true });
}

var angle = 0;
function rotate(id){
  angle += 90;
  $('#wo_zoom_<?php echo $wo['story']['id'];?>').css({'transform': 'rotate(-' + angle + 'deg)'});
  $.get(Wo_Ajax_Requests_File(), {
    f: 'rotate_image',
    angle: angle,
    image: '<?php echo $wo['story']['id'];?>'
  }, function (data) {
    
  });
}
</script>