
<div class="page-margin">
<!-- <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" /> -->

	<div class="container">
            <h2 class="tag_page_title m5"><a class="btn btn-mat btn_goback" href="<?php echo Wo_SeoLink('index.php?link1=my_funding');?>?query=published"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path></svg></a><?php echo $wo['lang']['funding'];?></h2>
		<div class="page-margin wow_content wow_sett_content campaign_content">
			<div class="valign wo_page_hdng">
				<?php echo $wo['lang']['create_new_funding'];?>
			</div>
			<form class="form form-horizontal create-article-form" method="post" id="insert-funding" action="#">
                                <p class="bold"><?=$wo['lang']['campaign_details'];?></p>
                                <label class="tag_field">
					<input id="title" name="title" type="text" placeholder=" ">
					<span><?php echo $wo['lang']['title']. " *"; ?></span>
				</label>
                <span class="help-block"><?php echo $wo['lang']['short_campaign_title']; ?></span>
				<label class="tag_field" >
					<select  name="fundraising_for" id="select_entity" >
						<option value="1"><?=$wo['lang']['individual'];?></option>
						<option value="2"><?=$wo['lang']['charity_non_profit'];?></option>
					</select>
					<span><?php echo $wo['lang']['fundraising_for']. " *"; ?></span>
				</label>
                <span class="help-block"><?php echo $wo['lang']['fundraising_for_help_text']; ?></span>
                <div style="position: relative;" id="individual">
                    <label class="tag_field">
                            <textarea name="beneficiary1" class="auto-resize beneficiary" rows="1" spellcheck="false" placeholder=" " dir="auto"></textarea>
                            <span><?php echo $wo['lang']['beneficiary']. " *"; ?></span>

                    </label>
                    <span class="help-block" style="padding-right: 130px;"><?php echo $wo['lang']['beneficiary_help_text']; ?></span>
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#register_beneficiary" class="bold help-block" style="position:absolute; right: 0; top: 60px;"><?=$wo['lang']['create_beneficiary']?></a>
                </div>
                <div style="position: relative; display: none;" id="organization">
                    <label class="tag_field">
                            <textarea name="beneficiary2" class="auto-resize beneficiary-org" rows="1" spellcheck="false" placeholder=" " dir="auto"></textarea>
                            <span><?php echo $wo['lang']['beneficiary']. " *"; ?></span>

                    </label>
                    <span class="help-block"><?php echo $wo['lang']['beneficiary_help_text']; ?></span>
                   
                </div>
                            
				<div class="clear"></div>
								
				<label class="tag_field">
					<textarea name="funding_admins" class="auto-resize funding_admins" rows="1" spellcheck="false" placeholder=" " dir="auto"></textarea>
					<!-- <textarea class="auto-resize funding_admins" id="funding_admins" name="funding_admins" type="text" placeholder=" "></textarea> -->
					<span><?php echo $wo['lang']['administrator']; ?></span>
				</label>
                <span class="help-block"><?php echo $wo['lang']['administrator_help_text']; ?></span>
				<label class="tag_field" id="due_date">
						<input id="date" name="due_date" type="date">
						<span><?php echo $wo['lang']['due_date']; ?></span>
				</label>
                <span class="help-block"><?php echo $wo['lang']['duedate_help_text']; ?></span>
				<label class="tag_field">
					<input id="amount" name="amount" type="text" placeholder=" " oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
					<span><?php echo $wo['lang']['amount']. " *"; ?></span>
				</label>
				<span class="help-block"><?php echo $wo['lang']['fund_amount']; ?></span>

				    
				
                    <div class="tag_alone_label">
                        <label>
                            <span><?php echo $wo['lang']['description']. " *"; ?></span>
                            <!-- <textarea name="description" id="editor" placeholder=" " rows="6" class="auto-resize"></textarea> -->
                            <input type="hidden" name="description" id="description"  >
                            <!-- <div id="editor"></div> -->


                        </label>
                        <span class="help-block mb-10"><?php echo $wo['lang']['campaign_desc_help_text']; ?></span>
                    </div>
				<div class="summernote"></div>
				
				<div class="row hidden">
					<div class="col-md-12">
						<label class="tag_field">
							<textarea name="postText" class="auto-resize postText" rows="1" spellcheck="false" placeholder="<?php echo $wo['lang']['funding_tagging_placeholder']; ?>?" dir="auto"></textarea>
							<span><?php echo $wo['lang']['funding_tagging']; ?></span>
						</label>
					</div>
				</div>
				<div class="tag_alone_label">
					<label><?php echo $wo['lang']['campaign_banner']. " *";?></label>
                                        <span class="help-block"><?php echo $wo['lang']['campaign_banner_desc']; ?></span>
				</div>
                                 
				<div class="wow_fcov_image" data-block="thumdrop-zone">
					<div id="wow_fcov_img_holder">					</div>
					<div class="valign upload_ad_image" onclick="document.getElementById('thumbnail').click(); return false">
						<div class="btn btn-mat btn-default upload_ad_image_content">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M8.5,13.5L11,16.5L14.5,12L19,18H5M21,19V5C21,3.89 20.1,3 19,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19Z"></path></svg> <?php echo $wo['lang']['browse_to_upload']; ?>
						</div>
					</div>
				</div>
                                                                        
                                <div class="mt-30 margin-b30">
					<div class="col-md-12 tag_alone_label">
						<label>
							<span><?php echo $wo['lang']['funding_category']; ?></span>
							
							<select  name="postTextCategory[]" id="campaign_category" multiple="multiple">
								<!-- <option value="" selected disabled="">Select Campaign Categories</option> -->
								<?php foreach ($wo['campaign_categories'] as $category_id => $category_name) {?>
									<option value="<?php echo $category_id?>"><?php echo $category_name; ?></option>
								<?php } ?>
							</select>
						</label>
					</div>
				</div>
                                <hr/>
                                
                                <div class="tag_alone_label margin-b30 mt-30">
                                        <p class="bold"><?php echo $wo['lang']['additional_media'];?></p>
                                        <span class="help-block"><?php echo $wo['lang']['additional_media_desc']; ?></span>
				</div>
                                                                
				<!-- Sameer multiple option multiple_option_sameer -->
				<div class="row publisher-box-footer justify-content-center">
					<div id="results"></div>
					<div id="status"></div>	
					<div class="">
						<div class="valign pub-footer-upper">
							<span class="btn btn-file tag_pub_box_btns btn-width">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M19,10a1,1,0,0,0-1,1v3.38L16.52,12.9a2.79,2.79,0,0,0-3.93,0l-.7.71L9.41,11.12a2.79,2.79,0,0,0-3.93,0L4,12.61V7A1,1,0,0,1,5,6h8a1,1,0,0,0,0-2H5A3,3,0,0,0,2,7V19.22A2.79,2.79,0,0,0,4.78,22H17.22a2.88,2.88,0,0,0,.8-.12h0a2.74,2.74,0,0,0,2-2.65V11A1,1,0,0,0,19,10ZM5,20a1,1,0,0,1-1-1V15.43l2.89-2.89a.78.78,0,0,1,1.1,0L15.46,20Zm13-1a1,1,0,0,1-.18.54L13.3,15l.71-.7a.77.77,0,0,1,1.1,0L18,17.21ZM21,4H20V3a1,1,0,0,0-2,0V4H17a1,1,0,0,0,0,2h1V7a1,1,0,0,0,2,0V6h1a1,1,0,0,0,0-2Z"/></svg> <span><?php echo $wo['lang']['upload_images']; ?></span>
								<input type="file" id="publisher-photos" accept="image/x-png, image/gif, image/jpeg" name="postPhotos[]" multiple="multiple">
							</span>
						</div>
					</div>
					<div class="">
						<div class="valign pub-footer-upper">
							<?php if ($wo['config']['video_upload'] == 1) { ?>
								<span class="btn btn-file tag_pub_box_btns btn-width">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M21.53,7.15a1,1,0,0,0-1,0L17,8.89A3,3,0,0,0,14,6H5A3,3,0,0,0,2,9v6a3,3,0,0,0,3,3h9a3,3,0,0,0,3-2.89l3.56,1.78A1,1,0,0,0,21,17a1,1,0,0,0,.53-.15A1,1,0,0,0,22,16V8A1,1,0,0,0,21.53,7.15ZM15,15a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V9A1,1,0,0,1,5,8h9a1,1,0,0,1,1,1Zm5-.62-3-1.5V11.12l3-1.5Z"/></svg> <span><?php echo $wo['lang']['upload_video']; ?></span>
									<input type="file" id="publisher-video" name="postVideo" accept="video/*" capture="environment">
								</span>
							<?php } ?>
						</div>
					</div>
					<div class="">
						<div class="valign pub-footer-upper">
							<?php if ($wo['config']['audio_upload'] == 1) { ?>
								<span class="tag_pubbox_record btn-width">
									<span class="btn btn-file tag_pub_box_btns" id="recordPostAudio" data-record="0">
										<b><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M12,15a4,4,0,0,0,4-4V5A4,4,0,0,0,8,5v6A4,4,0,0,0,12,15ZM10,5a2,2,0,0,1,4,0v6a2,2,0,0,1-4,0Zm10,6a1,1,0,0,0-2,0A6,6,0,0,1,6,11a1,1,0,0,0-2,0,8,8,0,0,0,7,7.93V21H9a1,1,0,0,0,0,2h6a1,1,0,0,0,0-2H13V18.93A8,8,0,0,0,20,11Z"/></svg></b> <span><?php echo $wo['lang']['record_voice']; ?></span>
									</span>
									<span id="postRecordingTime" class="tag_pub_rectime hidden">00:00</span>
								</span>
							<?php } ?>
						</div>
					</div>
					<div class="">
						<div class="valign pub-footer-upper">
							<?php if ($wo['config']['audio_upload'] == 1) { ?>
								<span class="btn btn-file tag_pub_box_btns btn-width">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M21.65,2.24a1,1,0,0,0-.8-.23l-13,2A1,1,0,0,0,7,5V15.35A3.45,3.45,0,0,0,5.5,15,3.5,3.5,0,1,0,9,18.5V10.86L20,9.17v4.18A3.45,3.45,0,0,0,18.5,13,3.5,3.5,0,1,0,22,16.5V3A1,1,0,0,0,21.65,2.24ZM5.5,20A1.5,1.5,0,1,1,7,18.5,1.5,1.5,0,0,1,5.5,20Zm13-2A1.5,1.5,0,1,1,20,16.5,1.5,1.5,0,0,1,18.5,18ZM20,7.14,9,8.83v-3L20,4.17Z"/></svg> <span><?php echo $wo['lang']['audio_upload']; ?></span>
									<input type="file" id="publisher-music" name="postMusic" accept="audio/*">
								</span>
							<?php } ?>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="tag_pub_hide photo-form">
							<div class="tag_pub_hide album-form">
								<input name="album_name" type="text" placeholder="<?php echo $wo['lang']['album_name'];?>">
							</div>
							<div class="valign tag_pub_imgs tag_scroll" id="image-holder"></div>
						</div>
						<?php if ($wo['config']['video_upload'] == 1) { ?>
							<div class="tag_pub_hide video-form">
								<div class="tag_pub_vids">
									<video id="post_video" controls></video>
									<span class="btn btn-mat video-custom-thumb"><?php echo $wo['lang']['custom_thumbnail']; ?></span>
									<div class="video-poster-image pointer" onclick="$('#custom-video-thumb').trigger('click');">
										<div class="preview">
											<div class="valign empty_state">
												<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path fill="currentColor" d="M21.02 5H19V2.98c0-.54-.44-.98-.98-.98h-.03c-.55 0-.99.44-.99.98V5h-2.01c-.54 0-.98.44-.99.98v.03c0 .55.44.99.99.99H17v2.01c0 .54.44.99.99.98h.03c.54 0 .98-.44.98-.98V7h2.02c.54 0 .98-.44.98-.98v-.04c0-.54-.44-.98-.98-.98zM16 9.01V8h-1.01c-.53 0-1.03-.21-1.41-.58-.37-.38-.58-.88-.58-1.44 0-.36.1-.69.27-.98H5c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-8.28c-.3.17-.64.28-1.02.28-1.09-.01-1.98-.9-1.98-1.99zM15.96 19H6c-.41 0-.65-.47-.4-.8l1.98-2.63c.21-.28.62-.26.82.02L10 18l2.61-3.48c.2-.26.59-.27.79-.01l2.95 3.68c.26.33.03.81-.39.81z"/></svg>
												<?php echo $wo['lang']['drop_img_here']; ?> <?php echo $wo['lang']['or']; ?> <?php echo $wo['lang']['browse_to_upload']; ?>
											</div>
										</div>
										<div class="image"></div>
									</div>
									<span onclick="DeleteVideo()" class="btn btn-mat thumb-image-delete-btn"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span>
								</div>
								<input type="file" class="hidden" name="video_thumb" id="custom-video-thumb" accept="image/*">
							</div>
						<?php } ?>
						<?php if ($wo['config']['audio_upload'] == 1) { ?>
							<div class="tag_pub_hide music-form">
								<div class="tag_pub_vids">
									<div class="valign">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M20 3v14a4 4 0 1 1-2-3.465V6H9v11a4 4 0 1 1-2-3.465V3h13z"/></svg>
										<div class="full_width">
											<input name="musiccount" type="text" readonly>
											<span onclick="DeleteMusic()" class="btn btn-mat thumb-image-delete-btn"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span>
										</div>
									</div>
								</div>
							</div>
						<?php } ?>
					</div>				
				</div>
				<br>
                <hr />
               <div id="bank_details">                 
                <div class="tag_alone_label margin-b30 mt-30">
                    <p class="bold"><?php echo $wo['lang']['bank_account_details'];?></p>
                   	<span class="help-block"><?php echo $wo['lang']['bank_account_details_desc']; ?></span>
				</div>
                <label class="tag_field">
					<input id="bank_name" name="bank_name" type="text" placeholder=" ">
					<span><?php echo $wo['lang']['bank_name'] . " *"; ?></span>
				</label>
                <span class="help-block"><?php echo $wo['lang']['bank_name_help_text']; ?></span>
                <label class="tag_field">
					<input id="bank_account_name" name="bank_account_name" type="text" placeholder=" ">
					<span><?php echo $wo['lang']['bank_account_name'] . " *"; ?></span>
				</label>
                <span class="help-block"><?php echo $wo['lang']['bank_account_name_help_text']; ?></span>
                <label class="tag_field">
					<input id="bank_account_no" name="bank_account_no" type="text" placeholder=" ">
					<span><?php echo $wo['lang']['bank_account_no'] . " *"; ?></span>
				</label>
				<span class="help-block"><?php echo $wo['lang']['bank_account_no_help_text']; ?></span>
					<hr />         
				</div>
                          
                <div class="alert alert-warning">
                	<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 50 50"><path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:currentColor;stroke-opacity:1;stroke-miterlimit:4" d="M22 12c0 5.524-4.476 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.476 10 10zM12 8v4m0 4h0" transform="scale(2.08333)"></path></svg>&nbsp;<?=$wo['lang']['campaign_warning_msg'];?>
            	</div>
                                
				<div class="setting-update-alert" id="funding-alert"></div>
				<div class="text-center">
                    <button class="btn btn-action btn-mat disable_btn save ml-10 mr-10" type="button" onclick="saveAsDraft();"><?php echo $wo['lang']['save_as_draft']; ?></button>
                    <button class="btn btn-main btn-mat disable_btn save ml-10 mr-10" type="submit"><?php echo $wo['lang']['publish']; ?></button>                                        
				</div>
				<input type="file" class="hidden" id="thumbnail" name="image" accept="image/*">
				<input type="hidden" name="hash_id" value="<?php echo Wo_CreateSession();?>">
			</form>

			
			
		</div>
	</div>
</div>

<!-- Multiple Options HTML Sameer -->

<!-- Multiple options Html sameer  -->


<!-- // Script Multiple images and videos  -->

<div id="hidden_inputbox"></div>
<?php echo Wo_LoadPage('products/create'); ?>
<?php echo Wo_LoadPage('modals/register-beneficiary'); ?>
<script type="text/javascript">

    $("#select_entity").change(function () 
    {
    	if($('option:selected').val()=='2')
    	{
    		// alert($('option:selected').val());
    		$("#organization").css('display','block');
    		$("#individual").css('display','none');
    		$("#bank_details").css('display','none');
    	}
    	else
    	{
    		$("#organization").css('display','none');
    		$("#individual").css('display','block');
    		$("#bank_details").css('display','block');
    	}
       
    });
			  
 var bar = $('#funding-progressbar');
    var percent = $('#percent');

<?php if ($wo['config']['colored_posts_system'] == 1 && !empty($wo['post_colors'])) { ?>
function Wo_ChangeColor(color_1,color_2,text_color,image,id) {
	if (color_1 != '' && color_2 != '' && text_color != '' && id) {
		$('.wo_pub_txtara_combo').css("cssText", "background-image: linear-gradient(45deg, "+color_1+" 0%, "+color_2+" 100%) !important;color: "+text_color+" !important");
		$('#post_color_input').val(id);
		$('.publisher-box').addClass('wo_pub_change_color');
		$('.publisher-box textarea.postText').css("cssText", "height: 80px;");
		$('.pub-footer-upper').addClass('tag_pub_btns_col_smal');
	}
	else if(text_color != '' && image != '' && id){
		$('.wo_pub_txtara_combo').css("cssText", "background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;background-image:url('"+image+"') !important;color: "+text_color+" !important");
		$('#post_color_input').val(id);
		$('.publisher-box').addClass('wo_pub_change_color');
		$('.publisher-box textarea.postText').css("cssText", "height: 80px;");
		$('.pub-footer-upper').addClass('tag_pub_btns_col_smal');
	};
}
function Wo_ShowColors() {
	if ($('.all_colors').is(":visible")) {
		$('.all_colors').hide();
		$('#post_color_input').val("");
		$('.publisher-box').removeClass('wo_pub_change_color');
	}
	else{
		$('.all_colors').show();
	}
}
function Wo_CloseColor() {
	$('.all_colors').hide();
	$('.wo_pub_txtara_combo').css("cssText", "");
	$('#post_color_input').val("");
	$('.publisher-box').removeClass('wo_pub_change_color');
	$(".all_colors_display").removeClass('selected');
	$('.pub-footer-upper').removeClass('tag_pub_btns_col_smal');
}
<?php } ?>

function Tag_addSpecial(code, input) {
	tareaTag = $(input);
	tareaVal = tareaTag.val();
	if(typeof (tareaTag.attr('placeholder')) != "undefined") {
		inputPlaceholder = tareaTag.attr('placeholder');
		if(inputPlaceholder == tareaVal) {
			tareaTag.val('');
			tareaVal = tareaTag.val();
		}
	}
	if(tareaVal.length == 0) {
		tareaTag.val(code);
	} else {
		tareaTag.val(tareaVal + ' ' + code);
	}
	tareaTag.keyup().focus();
}

$(document).ready(function(){
	$(".wow_pub_privacy_dropdown").click(function(){
		$(".wow_pub_privacy").toggleClass("showMenu");
		$(".wow_pub_privacy_menu > li").click(function(){
			$(".wow_pub_privacy_dropdown > p").html($(this).find('span').html());
			$(".wow_pub_privacy").removeClass("showMenu");
		});
	});
});

jQuery(document).click(function(event){
    if (!(jQuery(event.target).closest(".wow_pub_privacy").length)) {
        jQuery('.wow_pub_privacy').removeClass('showMenu');
    }
});

var deleted_images = [];
function DeleteImageById(name,id) {
	deleted_images.push(name);
	$('#image_to_'+id).remove();
}
function DeleteVideo(){
	$("#publisher-video").val('');
	$("#post_video").empty();
	$(".video-form").slideUp(200);
	 
	// console.log('working delete');
}
function DeleteMusic(){
		$("#publisher-music").val('');
		$(".music-form input").val('');
		$(".music-form").slideUp(200);
	}

	
$(document).ready(function() {
	$("textarea.postText").keyup(function(){
		if($.trim($(this).val()).length > 180){
			$('.all_colors').hide();
			$('#post_color_input').val("");
			$('.wo_pub_txtara_combo').css("cssText", "");
			$('.publisher-box').removeClass('wo_pub_change_color');
			$('.pub-footer-upper').addClass('tag_pub_btns_smal');
			$(".all_colors_display").removeClass('selected');
			$(".tag_pub_btn_color").addClass('tag_pub_hide');
		} else {
			$('.pub-footer-upper').removeClass('tag_pub_btns_smal');
			$(".tag_pub_btn_color").removeClass('tag_pub_hide');
		}
	});
	
	$(".all_colors_display").click(function() {
		$(".all_colors_display").removeClass('selected');
		$(this).addClass('selected');
	});
	
	$("#publisher-photos").on('change', function() {
		var numFiles = this.files.length;
		deleted_images = [];
		var countFiles = $(this)[0].files.length;
		console.log("file_size",countFiles);
		var imgPath = $(this)[0].value;
		var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
		var image_holder = $("#image-holder");
		image_holder.empty();
		if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
			if (typeof(FileReader) != "undefined") {
				$(".photo-form").show(100);
				for (var i = 0; i < countFiles; i++) {
					var reader = new FileReader();
					var ii = 0;
					reader.onload = function(e) {
						name = "'"+$("#publisher-photos")[0].files[ii].name+"'";
						image_holder.append('<div  id="image_to_'+ii+'"><span class="thumb-image-delete"><span onclick="DeleteImageById('+name+','+ii+')" class="btn btn-mat thumb-image-delete-btn"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" /></svg></span><img src="'+e.target.result+'" class="thumb-image"></span></div>')
						ii = ii +1;
					}
					image_holder.show();
					reader.readAsDataURL($(this)[0].files[i]);
				}
			} else {
				$("body").snackbar({
					message: "This browser does not support FileReader"
				});
			}
		}
	});
});
$(document).ready(function() {
	$("textarea.beneficiary").keyup(function(){
		if($.trim($(this).val()).length > 180){
			$('.all_colors').hide();
			$('#post_color_input').val("");
			$('.wo_pub_txtara_combo').css("cssText", "");
			$('.publisher-box').removeClass('wo_pub_change_color');
			$('.pub-footer-upper').addClass('tag_pub_btns_smal');
			$(".all_colors_display").removeClass('selected');
			$(".tag_pub_btn_color").addClass('tag_pub_hide');
		} else {
			$('.pub-footer-upper').removeClass('tag_pub_btns_smal');
			$(".tag_pub_btn_color").removeClass('tag_pub_hide');
		}
	});
	
	
});

var fetch_url = 1;
$(function () {
	var allowed = "<?php echo $wo['config']['allowedExtenstion']?>";
	<?php if (!empty($url)) { ?>
		$('textarea').trigger('click');
		setTimeout(function () {
			$('textarea').trigger('keyup')
		}, 1000);
	<?php } ?>
	$('.postText').triggeredAutocomplete({
		hidden: '#hidden_inputbox',
		source: Wo_Ajax_Requests_File() + "?f=mention",
		trigger: "@" 
	});
	<?php if ($wo['config']['maxCharacters'] != 10000) { ?>
		$('.postText').limit("<?php echo $wo['config']['maxCharacters']?>", '#charsLeft');
	<?php } ?>

	$('.beneficiary').triggeredAutocomplete({
		hidden: '#hidden_inputbox',
		source: Wo_Ajax_Requests_File() + "?f=mention",
		trigger: "@" 
	});
	<?php if ($wo['config']['maxCharacters'] != 10000) { ?>
		$('.beneficiary').limit("<?php echo $wo['config']['maxCharacters']?>", '#charsLeft');
	<?php } ?>

	$('.beneficiary-org').triggeredAutocomplete({
		hidden: '#hidden_inputbox',
		source: Wo_Ajax_Requests_File() + "?f=mention-organization",
		trigger: "@" 
	});
	<?php if ($wo['config']['maxCharacters'] != 10000) { ?>
		$('.beneficiary-org').limit("<?php echo $wo['config']['maxCharacters']?>", '#charsLeft');
	<?php } ?>

	
	$('.funding_admins').triggeredAutocomplete({
		hidden: '#hidden_inputbox',
		source: Wo_Ajax_Requests_File() + "?f=mention",
		trigger: "@" 
	});
	<?php if ($wo['config']['maxCharacters'] != 10000) { ?>
		$('.funding_admins').limit("<?php echo $wo['config']['maxCharacters']?>", '#charsLeft');
	<?php } ?>
	
	$("#publisher-video").change(function () {
		console.log("video","called");
		var filename = $(this).val().replace(/C:\\fakepath\\/i, '');
		var video_file = $(this).prop('files')[0];
		var video_blob = window.URL.createObjectURL(video_file);

		$("#post_video").html('<source src="' + video_blob + '" type="video/mp4">');
		$("#post_video")[0].load();
		$(".video-form").slideDown(200);
		if (Wo_IsFileAllowedToUpload(filename, allowed) == false) {
			$("body").snackbar({
				message: "<?php echo $wo['lang']['file_not_supported']; ?>"
			});
			console.log("video failed");
			$("#publisher-video").val('');
			$("#post_video").html('');
			$(".video-form").slideUp(200);
			return false;
		}
	});

	$("#publisher-music").change(function () {
		console.log("music","music changed");
		var filename = $(this).val().replace(/C:\\fakepath\\/i, '');
		$(".music-form input").val(filename);
		$(".music-form").slideDown(200);
		if (Wo_IsFileAllowedToUpload(filename, allowed) == false) {
			$("body").snackbar({
				message: "<?php echo $wo['lang']['file_not_supported']; ?>"
			});
			$("#publisher-music").val('');
			$(".music-form input").val('');
			$(".music-form").slideUp(200);
			return false;
		}
	});

	$(document).on("click",".read-ads-description",function(event) {
		var self = $(this);
		self.toggleClass('unsetheight');
	});

	<?php if ($wo['config']['video_upload'] == 1) { ?>  
		var thumb_drop_block = $(".video-poster-image");

		if (typeof(window.FileReader) == 'undefined') {
			thumb_drop_block.find('.preview').text('Drag drop is not supported in your browser!');
		} else {
			thumb_drop_block[0].ondragover = function() {
				thumb_drop_block.addClass('hover');
				return false;
			};
			thumb_drop_block[0].ondragleave = function() {
				thumb_drop_block.removeClass('hover');
				return false;
			};
			thumb_drop_block[0].ondrop = function(event) {
				event.preventDefault();
				thumb_drop_block.removeClass('hover');
				var file = event.dataTransfer.files;
				$(".video-poster-image").find('.preview').hide(5, function() {
					$(".video-poster-image").find('.image').html($("<img>",{
						src:window.URL.createObjectURL(file[0])
					})).show(5);
				});
				$("#custom-video-thumb").prop('files', file);
			};
		}
	
		$("#custom-video-thumb").change(function(event) {
			$(".video-poster-image").find('.preview').hide(5, function() {
				$(".video-poster-image").find('.image').html($("<img>",{
					src:window.URL.createObjectURL(event.target.files[0])
				})).show(5);
			});
		});

		$(".video-custom-thumb").click(function(event) {
			$('.video-poster-image').slideToggle(200,function () {
				var display_stat = $(this).css('display');
				if (display_stat == 'none') {
					$(".video-poster-image").find('.preview').show(10);
					$(".video-poster-image").find('.image').empty().hide(10);
					$("#custom-video-thumb").val('');
				}
			});
		});
	<?php } ?>

	$(document).on('click', '.rads-views', function(event) {
		var self  = $(this);
		var ad_id = self.attr('id');
		var url   = self.find('a').attr('href');
		window.open(url, '_blank');
		if (ad_id) {
			$.ajax({
				url: Wo_Ajax_Requests_File() ,
				type: 'GET',
				dataType: 'json',
				data: {f: 'ads',s:'rads-v',ad_id:ad_id},
			})
			.done(/* pass */)
			.fail(/* pass */)
		}
		event.preventDefault();
	});

	//var bar = $('#bar');
	var status = $('#status');
	var publisher_button = $('#publisher-button');

	$('form.publisher-box').ajaxForm({
		url: Wo_Ajax_Requests_File() + '?f=posts&s=insert_new_post',
		beforeSend: function () {
			$('.msg_progress').fadeIn(100);
			var percentVal = '0%';
			bar.width(percentVal);
			publisher_button.attr('disabled', true);
		},
		uploadProgress: function (event, position, total, percentComplete) {
			var percentVal = percentComplete + '%';
			bar.width(percentVal);
			$('.tag_pub_box_progress').fadeIn(100);
		},beforeSubmit: function (a,b,c) {
			for (var i = 0 ;i < a.length ; i++) {
				if (a[i].name == 'postPhotos[]') {
					for (var b = 0 ;b < deleted_images.length ; b++) {
						if (a[i].value.name == deleted_images[b]) {
							a[i] = {name:'',value:''};
						}
					}
				}
			}
			deleted_images = [];
		},
		success: function (data) {
			$('#tagPostBox').modal('hide');
			$('#post_color_input').val("");
			$('.all_colors').hide();
			$('.wo_pub_txtara_combo').css("cssText", "");
			$('.postText').css("cssText", "");
			$('.publisher-box').removeClass('wo_pub_change_color');
			$('.msg_progress').fadeOut(100);
			$('.tag_pub_box_progress').fadeOut(100);
			publisher_button.attr('disabled', false);
			$("#postRecord").val('');
			$("#postSticker").val('');
			if(data.status == 200) {
				if(data.html.length > 0) {
					$('#posts, #posts_hashtag').find('.posts-container').remove();
				}
				$('#posts, #posts_hashtag').prepend(data.html);
				if (data.send_notify && data.send_notify == 'yes' && data.post_id) {
					$.post(Wo_Ajax_Requests_File() + '?f=posts&s=send_notify', {post_id: data.post_id}, function(data, textStatus, xhr) {});
				}
				$('.video-form, .emo-form, .music-form, .map-form, .file-form, .photo-form, .album-form, .feeling-type, .poll-form, .gif-form').slideUp(200);
				$(".video-poster-image").hide(10, function() {
					$(this).find('.preview').show(10);
					$(this).find('.image').empty().hide(10);
				});
				Wo_RemoveFetchedUrl();
				Wo_HidePosInfo();
				$('.pub-footer-upper').removeClass('tag_pub_btns_col_smal');
				$('form.publisher-box').clearForm();
				$('.feelings-value').html('');
				$('#postSticker').html('');
				$('select').prop('selectedIndex', 1);
				<?php if ($wo['config']['maxCharacters'] != 10000) { ?>
					$('#charsLeft').text("<?php echo $wo['config']['maxCharacters']?>");
				<?php } ?>
				<?php if (!empty($url)) { ?>
					window.close();
				<?php } ?>
				if (data.invalid_file == 1) {
					$("body").snackbar({
						message: "<?php echo str_replace('{file_size}', Wo_SizeUnits($wo['config']['maxUpload']), $wo['lang']['file_too_big']); ?>"
					});
				} else if(data.invalid_file == 2){
					$("body").snackbar({
						message: "<?php echo $wo['lang']['file_not_supported']; ?>"
					});
				} else if(data.invalid_file == 3){
					$("body").snackbar({
						message: "<?php echo $wo['lang']['adult_image_file']; ?>"
					});
				} else if(data.invalid_file == 4){
					$("body").snackbar({
						message: "<?php echo $wo['lang']['approve_post_text']; ?>"
					});
				} else{
					if (data.errors && data.errors != '') {
						$("#error_post").modal('show');
						$('#error_post_text').text(data.errors);
						Wo_Delay(function(){
							$("#error_post").modal('hide');
						},3000);
					}
				}
			} else if (data.status == 400) {
				if (data.invalid_file == 1) {
					$("body").snackbar({
						message: "<?php echo str_replace('{file_size}', Wo_SizeUnits($wo['config']['maxUpload']), $wo['lang']['file_too_big']); ?>"
					});
				} else if(data.invalid_file == 2){
					$("body").snackbar({
						message: "<?php echo $wo['lang']['file_not_supported']; ?>"
					});
				} else if(data.invalid_file == 3){
					$("body").snackbar({
						message: "<?php echo $wo['lang']['adult_image_file']; ?>"
					});
				} else if(data.invalid_file == 4){
					$("body").snackbar({
						message: "<?php echo $wo['lang']['free_plan_upload']; ?>",
						option: true,
						optionText: "<?php echo $wo['lang']['upgrade']; ?>",
						callback: function() {
							window.location.href = "<?php echo Wo_SeoLink('index.php?link1=go-pro'); ?>";
						}
					});
				} else{
					if (data.errors && data.errors != '') {
						$("#error_post").modal('show');
						$('#error_post_text').text(data.errors);
						Wo_Delay(function(){
							$("#error_post").modal('hide');
						},3000);
					}
				}
			} 
			fetch_url = 1;
			publisher_button.attr('disabled', false);
		}
	});

	var getUrl  = $('.postText');
	var sent = 0;
	$('.postText').bind("paste keyup input propertychange", function(e) {    
		if (($(".extracted_url").length > 0)){
			return false;
		} else if (/(https?:\/\/(?:.*)\.(?:png|jpg|gif|jpeg))/ig.test(getUrl.val())) {
			/* pass */
		} else {
			var match_url = /(https?:\/\/[^\s]+)/g;
			if (match_url.test(getUrl.val()) && sent == 0 && fetch_url == 1) {
				sent = 1;

				$("#results").hide();
				$('.msg_progress').fadeIn(100);
				var extracted_url = getUrl.val().match(match_url)[0];

				$.post(Wo_Ajax_Requests_File() + '?f=posts&s=fetch_url',{'url': extracted_url}, function(data){         
					extracted_images = data.images;
					total_images     = parseInt(data.images.length-1);
					img_arr_pos      = total_images;
					if(extracted_images != ''){
						inc_image   = '<div class="extracted_thumb" id="extracted_thumb"><img src="'+data.images[img_arr_pos]+'"></div>';
						input_image = data.images[img_arr_pos];
					} else {
						inc_image   = '';
						input_image = '';
					}
            
					var img_content = '';
					if (total_images > 1) {
						img_content = '<div class="thumb_select"><span class="small_text" id="total_imgs">'+img_arr_pos+' of '+total_images+'</span><span class="next_thumb" id="thumb_prev"><svg xmlns="http://www.w3.org/2000/svg" height="22" viewBox="0 0 24 24" width="22"><path fill="currentColor" d="M14.71 6.71c-.39-.39-1.02-.39-1.41 0L8.71 11.3c-.39.39-.39 1.02 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L10.83 12l3.88-3.88c.39-.39.38-1.03 0-1.41z"/></svg></span><span class="prev_thumb" id="thumb_next"><svg xmlns="http://www.w3.org/2000/svg" height="22" viewBox="0 0 24 24" width="22"><path fill="currentColor" d="M9.29 6.71c-.39.39-.39 1.02 0 1.41L13.17 12l-3.88 3.88c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41L10.7 6.7c-.38-.38-1.02-.38-1.41.01z"/></svg></span></div>';
					}
					var content = '<div class="extracted_url"><span class="btn btn-mat thumb-image-delete-btn" onclick="Wo_RemoveFetchedUrl();"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span>'+ inc_image +'<div class="extracted_content"><input class="url-input" type="text" name="url_title" value="'+data.title+'" dir="auto"><textarea onkeyup="textAreaAdjust(this, 70)" class="url-input-textarea url-input" name="url_content" placeholder="<?php echo $wo['lang']['description']?>" dir="auto">' + data.content + '</textarea><input type="hidden" id="url_image" name="url_image" value="'+ input_image +'"><input type="hidden" id="url_link" name="url_link" value="'+data.url+'"><div class="clear"></div>' + img_content;
					if (data.tweet && data.tweet == 'yes') {
						var content = '<div class="extracted_url"><span class="btn btn-mat thumb-image-delete-btn" onclick="Wo_RemoveFetchedUrl();"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span>'+ inc_image +'<div class="extracted_content"><input class="url-input hidden" type="text" name="url_title" value="'+data.title+'" dir="auto"><textarea onkeyup="textAreaAdjust(this, 70)" class="url-input-textarea url-input hidden" name="url_content" placeholder="<?php echo $wo['lang']['description']?>" dir="auto">' + data.content + '</textarea><input type="hidden" id="url_image" name="url_image" value="'+ input_image +'"><input type="hidden" id="url_link" name="url_link" value="'+data.url+'"><div class="clear"></div>' + img_content+data.content;
					}
					if (data.mp4 && data.mp4 == 'yes') {
						var content = '<div class="extracted_url"><span class="btn btn-mat thumb-image-delete-btn" onclick="Wo_RemoveFetchedUrl();"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span>'+data.content+'<div class="clear"><input type="hidden" id="url_link" name="url_link" value="'+data.url+'"><input class="url-input hidden" type="text" name="url_title" value="mp4" dir="auto"></div>';
					}
					$("#results").html(content); 
					$("#results").fadeIn(); 
					$('.msg_progress').fadeOut(100);
					sent = 0;
				},'json');
			}
		}
	});

	$("body").on("click","#thumb_prev", function(e){    
		if(img_arr_pos>0) {
			img_arr_pos--; 
			$("#extracted_thumb").html('<img src="'+extracted_images[img_arr_pos]+'">');
			$("#url_image").attr('value', extracted_images[img_arr_pos]);
			$("#total_imgs").html((img_arr_pos) +' of '+ total_images);
		}
	});
  
	$("body").on("click","#thumb_next", function(e){    
		if(img_arr_pos<total_images) {
			img_arr_pos++;
			$("#extracted_thumb").html('<img src="'+extracted_images[img_arr_pos]+'">');
			$("#url_image").attr('value', extracted_images[img_arr_pos]);
			$("#total_imgs").html((img_arr_pos) +' of '+ total_images);
		}
	});


});

	function Wo_RemoveFetchedUrl() {
		fetch_url = 0;
		var content = $('form.publisher-box').find('.extracted_url');
		content.slideUp(function () {
			$(this).remove();
			if ($('.postText').val() != '') {
				$('.postText').focus();
			}
		});
	}


	var pac_input2 = document.getElementById('feelings-text');
	function Wo_ShowFeelingType(type, text, placeholder, icon) {
		$('.feeling-types').slideUp(200, function () {
			$('.feelings-type-to').html(text);
			$('#feelings-text').attr('placeholder', decodeHtml(placeholder)).focus();
			$('#feeling-type').val(type);
			if (type != 'feelings') {
				$('#feelings-text').attr('readonly', false);
			}
			<?php if ($wo['config']['google_map']) { ?>
				if (type == 'traveling') {
					var autocomplete = new google.maps.places.Autocomplete(pac_input2);
				} else {
					google.maps.event.clearInstanceListeners(pac_input2);
				}
			<?php } ?>
			$('.' + type).slideToggle(200);
		});
	}

	function Wo_RestFeelings() {
		$('.feelings-type-to, .feelings-value').empty();
		$('#feelings-text').val('');
		$('#feelings-text').attr('readonly', true);
		$('#feelings-text').attr('placeholder', decodeHtml("<?php echo $wo["lang"]["feel_d"]?>"));
		$('.feeling-type, .feelings-type').slideUp(200);
		<?php if ($wo['config']['google_map']) { ?>
			google.maps.event.clearInstanceListeners(pac_input2);
		<?php } ?>
		Wo_ShowFeelings();
	}

	function Wo_AddFeeling(type, text, icon) {
		$('#feelings-text').val(type);
		$('.feelings-value').html('<i class="twa-lg twa twa-' + icon + '"></i> ' + text + '')
		Wo_ShowFeelingType('feelings', 'Feeling', 'What are you feeling ?', 'smile-o');
	}
	function smokeTheAt(str) {
		var n = str.search("@");
		if(n != "-1"){
			alert('sd');
		}
	}

	function Wo_AddAnswer() {
		answer_id = 0;
		$('.answers').find('input').each(function (index_id) {
			answer_id = Number(index_id) + 1;
		});
		var last_answer_id = (Number(answer_id) + 1);
		if (last_answer_id < 9) {
			$('.answers').append('<input name="answer[]" type="text" placeholder="<?php echo $wo['lang']['answer'] ?> ' + last_answer_id + '">');
			if (last_answer_id == 8) {
				$('#add_answer').hide();
			}
			$('.answers').find('input:last').focus();
		} else {
			$('#add_answer').hide();
		}
	}

	function Wo_HidePosInfo() {
		$(".postText").attr('opened', '0');
		fetch_url = 1;
	}

	$(document).on('focus', '#publisher-box-focus',function(){
		if(navigator.userAgent.toLowerCase().indexOf('firefox') > -1){
			$(".postText").attr('opened', '1');
		}
	});

	function tag_closePubBox() {
		Wo_HidePosInfo();
		$('.tag_pub_box_progress').fadeOut(100);
		$('.msg_progress').fadeOut(100);
		$('.pub-footer-upper').removeClass('tag_pub_btns_col_smal');
		$('.video-form, .emo-form, .music-form, .map-form, .file-form, .photo-form, .album-form, .feeling-type, .poll-form, .gif-form').slideUp(200);
		$('.all_colors').hide();
		$('.wo_pub_txtara_combo').css("cssText", "");
		$('.postText').css("cssText", "");
		$('#post_color_input').val("");
		$('.publisher-box').removeClass('wo_pub_change_color');
		$(".all_colors_display").removeClass('selected');
	}

	function Wo_ResetAnswers() {
		$('.answers').find('input').each(function (index_id) {
			$(this).val('');
		});
		$('.poll-form').slideUp(200);
	}
	function Wo_PostSticker(self){
		if (!self) {
			return false;
		}
		$('#postSticker').val($(self).attr('data-gif'));
		Wo_Delay(function(){
			Wo_GetPRecordLink();
		},500)
	}

	function Wo_GetPostStickers(keyword){
		if (!keyword) {
			//return false;
		}
		$('.msg_progress').fadeIn(100);
		Wo_Delay(function(){
			$.ajax({
				url: 'https://api.giphy.com/v1/gifs/search?',
				type: 'GET',
				dataType: 'json',
				data: {q:keyword,api_key:'<?php echo $wo['config']['giphy_api'];?>', limit: 20},
			})
			.done(function(data) {
				if (data.meta.status == 200 && data.data.length > 0) {
					$('#publisher-box-stickers-cont').empty();
					var appended = false;
					for (var i = 0; i < data.data.length; i++) {
						appended = true;
						if (appended == true) {
							appended = false;
							$('#publisher-box-stickers-cont').append($('<div><span><img alt="gif" src="'+data.data[i].images.fixed_height_small.url+'" data-gif="' + data.data[i].images.downsized_large.url + '" onclick="Wo_PostSticker(this)" autoplay loop></span></div>'));
							appended = true;
						}
					}
					var images = 0;
					Wo_ElementLoad($('img[alt=gif]'), function(){
						images++;
					});
					$('.msg_progress').fadeOut(100);
				}
				else{
					$('.msg_progress').fadeOut(100);
					$('#publisher-box-stickers-cont').html('<div class="empty_state"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle"><circle cx="12" cy="12" r="10"/><path d="M12 8v4M12 16h0"/></svg><?php echo $wo['lang']['no_result']; ?></div>');
				}
			})
			.fail(function() {
				console.log("error");
			})
		},100);
	}


</script>
<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
<script>
new FroalaEditor('#description');

</script> -->
<!-- // Multiple images and videos end -->
<script>

	jQuery(document).ready(function($) {
		var thumb_drop_block = $("[data-block='thumdrop-zone']");
		if (typeof(window.FileReader) == 'undefined') {
		thumb_drop_block.find('.thumbnail-rendderer div').text('Drag drop is not supported in your browser!');
		}
		else{
		thumb_drop_block[0].ondragover = function() {
			thumb_drop_block.addClass('hover');
			return false;
		};
		thumb_drop_block[0].ondragleave = function() {
			thumb_drop_block.removeClass('hover');
			return false;
		};
		thumb_drop_block[0].ondrop = function(event) {
			event.preventDefault();
			thumb_drop_block.removeClass('hover');
			var file = event.dataTransfer.files;
			$("#thumbnail").prop('files', file);
			$("#wow_fcov_img_holder").html("<img src='" + window.URL.createObjectURL(event.dataTransfer.files[0]) + "' alt='Picture'>")
		};
		}

		$("#thumbnail").change(function(event) {
		$("#wow_fcov_img_holder").html("<img src='" + window.URL.createObjectURL(this.files[0]) + "' alt='Picture'>")
		});
		var bar = $('#funding-progressbar');

		$('#insert-funding').ajaxForm({
                        url: Wo_Ajax_Requests_File() + '?f=funding&s=insert_funding',
                        beforeSubmit: function() {
                            if(confirm("<?=$wo['lang']['publish_campaign_confirm_msg'];?>")){
                                  $('#insert-funding').find('.disable_btn').attr('disabled','disabled');
                                  $('#overlay').css("display", "block");
                                  var percentVal = '0%';
                                  bar.width(percentVal);
                                  percent.html(percentVal);
                                  return true;
                            }else{
                                  return false;
                            }
                        },
                        beforeSerialize: function() {
                            var Content = $('.summernote').summernote('code'); //save HTML If you need(aHTML: array).
                            $('#description').val(Content);
                        },
                        uploadProgress: function (event, position, total, percentComplete) {
                            var percentVal = percentComplete + '%';
                            bar.width(percentVal);
                            $('#tag_funding_progress').slideDown(200);
                            percent.html(percentVal);
                        },
                        success: function(data) {
                                console.log(data);
                                $('#overlay').fadeOut(100);
                                if (data['status'] == 200) 
                                {
                                        $("#funding-alert").html('<div class="alert alert-success">'+ data['message'] +'</div>');
                                        setTimeout(function () {
                                            window.location = data['url'];
                                        }, 3000);
                                } else if (data['message']) 
                                {
                                        $("#funding-alert").html('<div class="alert alert-danger">' + data['message'] + '</div>');
                                        $('#insert-funding').find('.disable_btn').removeAttr("disabled");
                                }
                        },
                        error: function(data) 
                        { 
                                console.log(data.responseText)
                                $('#overlay').fadeOut(100);
                                $('#insert-funding').find('.disable_btn').removeAttr("disabled");
                        }   

                });
	});

	function saveAsDraft(){
		$(function(){

			var bar = $('#funding-progressbar');
			$('#insert-funding').ajaxSubmit({
				url: Wo_Ajax_Requests_File() + '?f=funding&s=save_fund_as_draft',
				 beforeSerialize: function() {
		         $('#insert-funding').find('.disable_btn').attr('disabled','disabled');
		        var Content = $('.summernote').summernote('code');
		        $('#description').val(Content);
		        $('#overlay').css("display", "block");
		        var percentVal = '0%';
        		bar.width(percentVal);
        		percent.html(percentVal);
		      },
				uploadProgress: function (event, position, total, percentComplete) {
					var percentVal = percentComplete + '%';
                bar.width(percentVal);
                $('#tag_funding_progress').slideDown(200);
                percent.html(percentVal);

				},
				success: function(data) {
					console.log(data)
					 $('#overlay').fadeOut(100);
				if (data['status'] == 200) 
				{
					$("#funding-alert").html('<div class="alert alert-success">'+ data['message'] +'</div>');
					setTimeout(function () {
                        window.location = data['url'];
                    }, 5000);
				} else if (data['message']) 
				{
					$("#funding-alert").html('<div class="alert alert-danger">' + data['message'] + '</div>');
				}
				$('#insert-funding').find('.disable_btn').removeAttr("disabled");
			

		},
		error: function(data) 
		{ 
			console.log(data.responseText)
			$('#overlay').fadeOut(100);
			$('#insert-funding').find('.disable_btn').removeAttr("disabled");
        }   
	});
		});
	}

</script> 
	
<script type="text/javascript">
	  $(function () {
      //initSample();
        $('#campaign_category').multiselect();
        $("#campaign_category option[value='']").remove();
    });
</script>
