<div class="page-margin" >
   <div class="container">		
   	<h2 class="tag_page_title m5"><?php echo $wo['lang']['funding'];?></h2>
   		<div class="page-margin wow_content wow_sett_content">
			
			 <div class="campaign_users_container">
				<div class="show-fund-info-user">
					<div class="postMeta--author-avatar large">
						<h4><?=$wo['lang']['create_campaign_success_thankyou']?></h4>
                                                <p>&nbsp;</p>
						<p><?=$wo['lang']['create_campaign_success_instructions']?></p>
                                                <p>&nbsp;</p>
                                                <p>&nbsp;</p>
                        <a href="<?=$wo['config']['site_url']?>" class="btn btn-main btn-mat m-2">
					        <?php echo $wo['lang']['home'];?>
					    </a>
						<!-- <a href="#"><button type="button" class="btn btn-main btn-mat" >Share</button></a> -->

						<?php //$post_id = Wo_GetPostIdByFundId($wo['fund']['id']); ?>
						
                        <!-- <div class="btn btn-main btn-mat" onclick="Wo_SharePostOn(<?=$post_id?>,<?=$wo['user']['user_id']; ?>,'timeline')" title="<?php echo $wo['lang']['share'];?>" data-toggle="tooltip">
					        <?php echo $wo['lang']['share'];?>
					    </div> -->
					      


						<!-- <a href="<?=$wo['config']['site_url']."/?link1=create_challenge&fund_id=".$wo['fund']['id']?>"><button type="button" class="btn btn-main btn-mat" ><?=$wo['lang']['create_challenge']?></button></a> -->
						<!-- <a href="<?=$wo['config']['site_url'].'/show_fund/'.$wo['fund']['hashed_id'].'?invite=1' ?>"><button type="button" class="btn btn-main btn-mat" ><?=$wo['lang']['invite_fundraisers']?></button></a> -->
						<!-- <a href="<?=$wo['config']['site_url']."/?link1=my_funding" ?>"><button type="button" class="btn btn-main btn-mat" >Go to My Campaign</button></a> -->

						<a class="btn btn-main btn-mat m-2" href="<?php echo Wo_SeoLink('index.php?link1=my_funding');?>?query=published"><?=$wo['lang']['my_campaigns']?></a>
					</div>
					

				</div>
			</div>
		</div>
	</div>
</div>