<div class="col-lg-4 col-md-6" data-rm-blog="<?php echo $wo['challenge_fund']['id'];?>">
	<div class="view-blog wow_content fundings" id="<?php echo $wo['challenge_fund']['id']; ?>">
		<!-- /Sameer -->
		
		<div class="avatar">
			<a href="<?= $wo['config']['site_url']."/show_challenge/". $wo['challenge_fund']['hashed_id']?>" class="post-file wo_shared_doc_file mg-10" id="fullsizeimg" style="padding:20px;" >
				<?php
					//if($wo['challenge_fund']['status'] == 0){
						// $post_id = Wo_GetPostIdByChallengeFundId($wo['challenge_fund']['id']);
						// $media = array(
						// 	'type' => 'post',
						// 	'storyId' => $post_id,
						// 	'filename' => '',
						// 	'name' =>  $wo['challenge_fund']['fund_data']['image'],
						// 	'postFileThumb' => $wo['challenge_fund']['fileThumb'],
						// );
						// echo '
						// <img src="'.$wo['challenge_fund']['fund_data']['image'].'" alt="image" class="image-file pointer">
						// ';
					
					
					//}else{
						$post_id = Wo_GetPostIdByChallengeFundId($wo['challenge_fund']['id']);
						$media = array(
							'type' => 'post',
							'storyId' => $post_id,
							'filename' => $wo['challenge_fund']['fileName'],
							'name' =>  $wo['challenge_fund']['file'],
							'postFileThumb' => $wo['challenge_fund']['fileThumb'],
						);
						//echo "<pre>";print_r($wo['challenge_fund']);die;
						echo Wo_DisplaySharedFile($media, 'show_fund', $wo['challenge_fund']['fund_data']['cache']);
					
					//}
					?>
				</a>
			 </div>			
		</div>
		<div class="fundings_desc">
			<!-- <time><?php echo date("d M Y",$wo['challenge_fund']['time']); ?></time> -->
			<?php if($wo['challenge_fund']['status'] == 0){ 
				echo "Invited ";
			 }else if($wo['challenge_fund']['status'] == 2) {
				echo "Saved";
			 } 
			 ?>
			 <a href="<?= $wo['config']['site_url']."/show_challenge/". $wo['challenge_fund']['hashed_id']?>"  >
			<h3 class="truncate">
		
			<?php echo stripslashes($wo['challenge_fund']['challenge']['title']); ?>
			</h3>
		
			<p class="desc">
				<?php 
				$desc = str_replace('<br>', '', $wo['challenge_fund']['description']);
				echo $desc = mb_substr($desc, 0, 80, "UTF-8") . "..."; ?>
			</p></a>
		</div>
		<div class="fundings_footer">
			<a href="<?= $wo['config']['site_url']."/show_fund/". $wo['challenge_fund']['fund_data']['hashed_id']?>">
			<h4><?php echo $wo['challenge_fund']['fund_data']['title']; ?></h4>
				<!-- <div class="wow_dontd_posts_innr">
					<div class="wow_dontd_posts_left">
						<b><?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].$wo['challenge_fund']['fund_data']['raised']; ?> <?php echo $wo['lang']['raised_of']; ?> <?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].$wo['challenge_fund']['fund_data']['amount']; ?></b>
						<div class="fund_raise_bar">
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: <?php echo $wo['challenge_fund']['fund_data']['bar']; ?>%" aria-valuenow="<?php echo $wo['challenge_fund']['fund_data']['bar']; ?>" aria-valuemin="0" aria-valuemax="<?php echo($wo['challenge_fund']['fund_data']['amount']) ?>"></div>
							</div>
						</div>
					</div>
				</div> -->
				<div class="wow_content m-2">
					<span class="pull-right">
					<?php
						if(!empty($wo['fund']['due_date'])){ ?>
							<time><?php echo Wo_Time_Elapsed_String(strtotime($wo['challenge_fund']['fund_data']['due_date']),"due_date"); ?></time>
					<?php }?>
					</span>
					<p><span class="bold"><?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].$wo['challenge_fund']['fund_data']['raised']; ?></span> of <?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].$wo['fund']['amount']; ?> <?php echo $wo['lang']['raised_of']; ?></p>
					<div class="progress mb-2">
						<div class="progress-bar" role="progressbar" style="width: <?php echo $wo['fund']['bar']; ?>%" aria-valuenow="<?php echo $wo['challenge_fund']['fund_data']['bar']; ?>" aria-valuemin="0" aria-valuemax="<?php echo($wo['challenge_fund']['fund_data']['amount']) ?>"></div>
					</div>
				</div>

			</a>
			<?php if ( $wo['challenge_fund']['user_id'] == $wo['user']['id']):?>
				<?php if(isset($wo['challenge_fund']['type'])){?>
					<!-- <a class="btn btn-mat btn-success" href="<?php echo $wo['site_url'].'/edit_fund/'.$wo['fund']['hashed_id']; ?>" data-ajax="?link1=edit_fund&id=<?php echo($wo['fund']['hashed_id']) ?>&type=draft"  id="<?php echo $wo['fund']['id'];?>"><?php echo $wo['lang']['edit']; ?></a> -->
				<?php }else{?>
					<!-- <a class="btn btn-mat btn-success" href="<?php echo $wo['site_url'].'/edit_fund/'.$wo['fund']['hashed_id']; ?>" data-ajax="?link1=edit_fund&id=<?php echo($wo['fund']['hashed_id']) ?>"  id="<?php echo $wo['fund']['id'];?>"><?php echo $wo['lang']['edit']; ?></a> -->
				<?php } ?>
				<?php if(isset($wo['fund']['type'])){?>
					<!-- <a class="btn btn-mat btn-danger delete-draft-fund" id="<?php echo $wo['fund']['id'];?>"><?php echo $wo['lang']['delete']; ?></a> -->
				<?php }else{?>
					<a class="btn btn-mat btn-danger delete-fund" id="<?php echo $wo['challenge_fund']['id'];?>"><?php echo $wo['lang']['delete']; ?></a>
				<?php } ?>
			<?php endif;?>
		</div>
	</div>
</div>