<div class="col-lg-4 col-md-6" data-fund-id="<?php echo $wo['fund']['id']; ?>">
	<div class="wow_content fundings">
		<div class="avatar">
			<!-- /Sameer -->
			<?php 
				$imageView = 
				"
				<img src='".$wo['fund']['image']."' alt='".$wo['fund']['title']."'>
				";
			?>
			<a href="<?php echo $wo['config']['site_url'].'/show_fund/'. $wo['fund']['hashed_id']; ?>" data-ajax="?link1=show_fund&id=<?php echo $wo['fund']['hashed_id']; ?>">
			
				<?= empty($wo['fund']['image']) != 1 ? $imageView : ""  ?>
				<?php if(!empty($wo['fund']['video'])): ?>
					<div class="post-file wo_shared_doc_file mg-10" id="fullsizeimg" style="padding:20px;" >
						<?php
						$media = array(
							'type' => 'post',
							'storyId' => $wo['fund']['fund_id'],
							'filename' => $wo['fund']['video'],
							'name' => $wo['fund']['video'],
							'postFileThumb' => $wo['fund']['video'],
						);
						echo Wo_DisplaySharedFile($media, '', $wo['fund']['cache']);
						?>
					</div>
				<?php endif;?>		
			</a>
            	</div>
		<div class="fundings_desc">

			<h3><a title="<?php echo $wo['fund']['title']; ?>" href="<?php echo $wo['config']['site_url'].'/show_fund/'. $wo['fund']['hashed_id']; ?>" data-ajax="?link1=show_fund&id=<?php echo($wo['fund']['hashed_id']) ?>"><?php echo $wo['fund']['title']; ?></a></h3>
			
			
            <div class="campaign_progress">
                <div>
                        <span class="pull-right">
                        <?php 
                            if(!empty($wo['fund']['due_date'])){ 
                                if(strtotime($wo['fund']['due_date']) < time()){
                                    echo '<time>ENDED</time>';
                                }else{
                                    echo '<time>' . Wo_Time_Elapsed_String(strtotime($wo['fund']['due_date']),"due_date") . '</time>';
                                }
                            }
                        ?>        
                        </span>
                        <p><span class="big-text bold"><?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].number_format($wo['fund']['raised']); ?></span> of <?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].number_format($wo['fund']['amount']); ?> <?php echo $wo['lang']['raised_of']; ?></p>
                </div>
                <div class="fund_raise_bar">
                    <div class="progress mb-2">
                        <div class="progress-bar" role="progressbar" style="width: <?php echo $wo['fund']['bar']; ?>%" aria-valuenow="<?php echo $wo['fund']['bar']; ?>" aria-valuemin="0" aria-valuemax="<?php echo($wo['fund']['amount']) ?>"></div>
                    </div>
                </div>     
            </div>
                        
		</div>
		<div class="fundings_footer">
            <a class="btn btn-mat btn-success btn-fullwidth selectBtn" data="<?php echo $wo['fund']['id']; ?>"  onclick="setFundId(<?php echo $wo['fund']['id']; ?>)">Select</a>
        </div>
	</div>
</div>