<div class="page-margin">
    <div class="container">
        <h2 class="tag_page_title m5"><a class="btn btn-mat btn_goback" data-ajax="?link1=my_challenges" href="<?php echo Wo_SeoLink('index.php?link1=my_challenges');?>"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path></svg></a><?php echo $wo['lang']['create_challenge'];?></h2>
        <div class="page-margin wow_content wow_sett_content challenge_content">
			<div class="posts_load">
                <div id="posts-laoded">
                    <?=Wo_LoadPage('create_challenge/create-box')?>
                </div>
        	</div>
		</div>
    </div>
</div>

<?php 
if ($wo['user']['social_login'] == 1) { 
  echo Wo_LoadPage('modals/create-password');
} 
?>

<?php
	$birth = Wo_CheckBirthdays();
	if (count($birth) > 0) { 
?>
	<div class="modal fade" id="bdayBox" tabindex="-1" role="dialog" aria-labelledby="bdayBox" aria-hidden="true">
		<div class="modal-dialog wow_mat_mdl" role="document">
			<div class="modal-content tag_bday_box">
				<div class="empty_state">
					<img src="<?php echo $wo['config']['theme_url'];?>/img/cake.png"> <?php echo $wo['lang']['friends_birthdays'];?>
				</div>
				<div class="row">
					<?php 
						foreach ($birth as $wo['UsersList']) {
							$wo['UsersList']['user_name'] = mb_substr($wo['UsersList']['name'],0,10, "utf-8");
							echo Wo_LoadPage('sidebar/sidebar-birthday-list');
						} 
					?>
				</div>
			</div>
		</div>
	</div>
<?php } ?>

<?php if (Wo_IsMobile() == false) { ?>
<?php if ($wo['config']['weather_widget'] == 1 && !empty($wo['config']['weather_key']) && !empty($wo['config']['yahoo_consumer_key']) && !empty($wo['config']['yahoo_consumer_secret'])) { ?>
	<div class="modal fade" id="weatherBox" tabindex="-1" role="dialog" aria-labelledby="weatherBox" aria-hidden="true">
		<div class="modal-dialog wow_mat_mdl tag_weather_box" role="document">
			<div class="modal-content">
				<div class="tag_weather">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path fill="currentColor" d="M18.3 5.71c-.39-.39-1.02-.39-1.41 0L12 10.59 7.11 5.7c-.39-.39-1.02-.39-1.41 0-.39.39-.39 1.02 0 1.41L10.59 12 5.7 16.89c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L12 13.41l4.89 4.89c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4z"/></svg></button>
					<div class="tag_weather_shadow">
						<div class="valign tag_weather_hdr">
							<div>
								<div class="tag_weather_icon"><div class="wet_skel wet_skel_ico"></div></div>
								<p><?php echo $wo['lang']['today'];?></p>
								<div class="tag_weather_condition"><div class="wet_skel skel_2 wet_skel_condition"></div></div>
							</div>
						</div>
						<div class="tag_weather_currentTemp"><div class="wet_skel wet_skel_currentTemp"></div></div>
						<div class="tag_weather_timezone"><div class="wet_skel skel_2 wet_skel_timezone"></div></div>
						<div class="valign tag_weather_mdl">
							<div>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M13.33,11.67L16.21,14.58C17.62,13.16 16.21,11.75 16.21,11.75L14.72,10.24C14.9,9.86 15,9.44 15,9C15,7.95 14.46,7.03 13.64,6.5L15,2.11C13.09,1.53 12.5,3.44 12.5,3.44L11.69,6.03C10.46,6.16 9.46,7 9.13,8.18L4.67,9.63C5.31,11.53 7.2,10.9 7.2,10.9L9.27,10.23C9.61,10.97 10.23,11.54 11,11.82V19C11,19 9,19 9,21C9,21.5 9,21.81 9,22H15V21C15,21 15,19 13,19V11.82C13.12,11.78 13.23,11.72 13.33,11.67M10.5,9A1.5,1.5 0 0,1 12,7.5A1.5,1.5 0 0,1 13.5,9A1.5,1.5 0 0,1 12,10.5A1.5,1.5 0 0,1 10.5,9Z" /></svg>
								<p><?php echo $wo['lang']['weather_wind'];?></p>
								<div class="tag_weather_wind"><div class="wet_skel skel_2 wet_skel_details"></div></div>
							</div>
							<div>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12,3.25C12,3.25 6,10 6,14C6,17.32 8.69,20 12,20A6,6 0 0,0 18,14C18,10 12,3.25 12,3.25M14.47,9.97L15.53,11.03L9.53,17.03L8.47,15.97M9.75,10A1.25,1.25 0 0,1 11,11.25A1.25,1.25 0 0,1 9.75,12.5A1.25,1.25 0 0,1 8.5,11.25A1.25,1.25 0 0,1 9.75,10M14.25,14.5A1.25,1.25 0 0,1 15.5,15.75A1.25,1.25 0 0,1 14.25,17A1.25,1.25 0 0,1 13,15.75A1.25,1.25 0 0,1 14.25,14.5Z" /></svg>
								<p><?php echo $wo['lang']['weather_humidity'];?></p>
								<div class="tag_weather_atmosphere"><div class="wet_skel skel_2 wet_skel_details"></div></div>
							</div>
							<div>
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C17,19.5 21.27,16.39 23,12C21.27,7.61 17,4.5 12,4.5Z" /></svg>
								<p><?php echo $wo['lang']['weather_visibility'];?></p>
								<div class="tag_weather_visibility"><div class="wet_skel skel_2 wet_skel_details"></div></div>
							</div>
						</div>
						<div class="valign tag_weather_mdl tag_weather_mdl2">
							<div>
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="24" height="24" fill="currentColor"> <g> <g> <path d="M496,416H326.624l-59.328-59.328c-6.24-6.24-16.384-6.24-22.624,0L185.376,416H16c-8.832,0-16,7.168-16,16 c0,8.832,7.168,16,16,16h176c4.256,0,8.32-1.696,11.328-4.672L256,390.624l52.672,52.672C311.68,446.304,315.744,448,320,448h176 c8.832,0,16-7.168,16-16C512,423.168,504.832,416,496,416z"/> </g> </g> <g> <g> <path d="M256,160c-88.32,0-160,71.68-160,160c0,22.752,4.928,44.352,13.472,64h62.656l49.952-49.952 c18.72-18.752,49.152-18.752,67.872,0L339.872,384h62.656C411.072,364.352,416,342.752,416,320C416,231.68,344.32,160,256,160z"/> </g> </g> <g> <g> <path d="M256,64c-8.832,0-16,7.168-16,16v32c0,8.832,7.168,16,16,16c8.832,0,16-7.168,16-16V80C272,71.168,264.832,64,256,64z"/> </g> </g> <g> <g> <path d="M48,304H16c-8.832,0-16,7.168-16,16c0,8.832,7.168,16,16,16h32c8.832,0,16-7.168,16-16C64,311.168,56.832,304,48,304z"/> </g> </g> <g> <g> <path d="M496,304h-32c-8.832,0-16,7.168-16,16c0,8.832,7.168,16,16,16h32c8.832,0,16-7.168,16-16C512,311.168,504.832,304,496,304 z"/> </g> </g> <g> <g> <path d="M120.224,161.6L97.6,139.008c-6.24-6.24-16.384-6.24-22.624,0s-6.24,16.384,0,22.624L97.6,184.224 c3.136,3.136,7.232,4.672,11.328,4.672c4.096,0,8.192-1.536,11.296-4.672C126.464,177.984,126.464,167.84,120.224,161.6z"/> </g> </g> <g> <g> <path d="M437.024,139.008c-6.24-6.24-16.384-6.24-22.624,0L391.776,161.6c-6.24,6.24-6.24,16.384,0,22.624 c3.136,3.136,7.232,4.704,11.328,4.704s8.192-1.568,11.328-4.672l22.592-22.624C443.264,155.392,443.264,145.248,437.024,139.008z "/> </g> </g></svg>
								<p><?php echo $wo['lang']['weather_sunrise'];?></p>
								<div class="tag_weather_sunrise"><div class="wet_skel skel_2 wet_skel_details"></div></div>
							</div>
							<div>
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="24" height="24" fill="currentColor"> <g> <g> <path d="M496,384H320c-4.256,0-8.32,1.696-11.328,4.672L256,441.376l-52.672-52.672C200.32,385.696,196.256,384,192,384H16 c-8.832,0-16,7.168-16,16c0,8.832,7.168,16,16,16h169.376l59.328,59.328c3.104,3.104,7.2,4.672,11.296,4.672 s8.192-1.568,11.328-4.672L326.624,416H496c8.832,0,16-7.168,16-16C512,391.168,504.832,384,496,384z"/> </g> </g> <g> <g> <path d="M256,128c-88.32,0-160,71.68-160,160c0,22.752,4.928,44.352,13.472,64H192c12.8,0,24.864,4.992,33.952,14.048L256,396.128 l30.048-30.048C295.136,356.992,307.2,352,320,352h82.528C411.072,332.352,416,310.752,416,288C416,199.68,344.32,128,256,128z"/> </g> </g> <g> <g> <path d="M256,32c-8.832,0-16,7.168-16,16v32c0,8.832,7.168,16,16,16c8.832,0,16-7.168,16-16V48C272,39.168,264.832,32,256,32z"/> </g> </g> <g> <g> <path d="M48,272H16c-8.832,0-16,7.168-16,16c0,8.832,7.168,16,16,16h32c8.832,0,16-7.168,16-16C64,279.168,56.832,272,48,272z"/> </g> </g> <g> <g> <path d="M496,272h-32c-8.832,0-16,7.168-16,16c0,8.832,7.168,16,16,16h32c8.832,0,16-7.168,16-16C512,279.168,504.832,272,496,272 z"/> </g> </g> <g> <g> <path d="M120.224,129.6L97.6,107.008c-6.24-6.24-16.384-6.24-22.624,0s-6.24,16.384,0,22.624L97.6,152.224 c3.136,3.136,7.232,4.672,11.328,4.672c4.096,0,8.192-1.536,11.296-4.672C126.464,145.984,126.464,135.84,120.224,129.6z"/> </g> </g> <g> <g> <path d="M437.024,107.008c-6.24-6.24-16.384-6.24-22.624,0L391.776,129.6c-6.24,6.24-6.24,16.384,0,22.624 c3.136,3.136,7.232,4.704,11.328,4.704s8.192-1.568,11.328-4.672l22.592-22.624C443.264,123.392,443.264,113.248,437.024,107.008z "/> </g> </g></svg>
								<p><?php echo $wo['lang']['weather_sunset'];?></p>
								<div class="tag_weather_sunset"><div class="wet_skel skel_2 wet_skel_details"></div></div>
							</div>
						</div>
					</div>
					<div class="tag_weather_forecast">
						<div class="valign fivedays tag_weather_day2"><div class="wet_skel skel_2 wet_skel_day"></div><div class="wet_skel skel_2 wet_skel_day_temp"></div></div>
						<div class="valign fivedays tag_weather_day3"><div class="wet_skel skel_2 wet_skel_day"></div><div class="wet_skel skel_2 wet_skel_day_temp"></div></div>
						<div class="valign fivedays tag_weather_day4"><div class="wet_skel skel_2 wet_skel_day"></div><div class="wet_skel skel_2 wet_skel_day_temp"></div></div>
						<div class="valign fivedays tag_weather_day5"><div class="wet_skel skel_2 wet_skel_day"></div><div class="wet_skel skel_2 wet_skel_day_temp"></div></div>
						<div class="valign fivedays tag_weather_day6"><div class="wet_skel skel_2 wet_skel_day"></div><div class="wet_skel skel_2 wet_skel_day_temp"></div></div>
						<div class="valign fivedays tag_weather_day7"><div class="wet_skel skel_2 wet_skel_day"></div><div class="wet_skel skel_2 wet_skel_day_temp"></div></div>
					</div>
					<div class="valign no_weather_loc hidden"></div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<?php } ?>
<?php } ?>

<?php if (Wo_IsMobile() == false) { ?>
<?php if ($wo['config']['weather_widget'] == 1 && !empty($wo['config']['weather_key']) && !empty($wo['config']['yahoo_consumer_key']) && !empty($wo['config']['yahoo_consumer_secret'])) { ?>
<script>
$(document).ready(function() {
	//setting today's date and time
	var d = new Date();
	var month = d.getMonth();  
	var monthNames = ['<?php echo $wo['lang']['january']; ?>', '<?php echo $wo['lang']['february']; ?>', '<?php echo $wo['lang']['march']; ?>', '<?php echo $wo['lang']['april']; ?>', '<?php echo $wo['lang']['may']; ?>', '<?php echo $wo['lang']['june']; ?>', '<?php echo $wo['lang']['july']; ?>', '<?php echo $wo['lang']['august']; ?>', '<?php echo $wo['lang']['september']; ?>', '<?php echo $wo['lang']['october']; ?>', '<?php echo $wo['lang']['november']; ?>', '<?php echo $wo['lang']['december']; ?>'];
	var day = d.getDate();  
  
	//Get geolocation
	if ("geolocation" in navigator) {
		var geo = navigator.geolocation;
		geo.getCurrentPosition(function(position) {
			setLocation(position.coords.latitude, position.coords.longitude);
		});
	} else {
		console.log("geo is NOT available");
	}  
	navigator.permissions && navigator.permissions.query({name: 'geolocation'}).then(function(PermissionStatus) {
        if(PermissionStatus.state == 'granted'){
			//allowed
        }else{
			$('.no_weather_loc').html('<div class="empty_state"><svg height="512" viewBox="0 0 32 32" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m26 32h-20c-3.314 0-6-2.686-6-6v-20c0-3.314 2.686-6 6-6h20c3.314 0 6 2.686 6 6v20c0 3.314-2.686 6-6 6z" fill="#e3f8fa"/><path d="m20.667 8.667c-1.838 0-3.333 1.514-3.333 3.375 0 2.568 2.885 5.066 3.008 5.172.188.16.463.16.65 0 .123-.106 3.008-2.604 3.008-5.172 0-1.861-1.495-3.375-3.333-3.375zm0 4.666c-.735 0-1.333-.598-1.333-1.333s.598-1.333 1.333-1.333 1.333.598 1.333 1.333-.598 1.333-1.333 1.333z" fill="#8ce1eb"/><g fill="#26c6da"><path d="m20 22.667h-1.5v-1.433c.488-.198.833-.676.833-1.234 0-.735-.598-1.333-1.333-1.333s-1.333.598-1.333 1.333c0 .558.345 1.036.833 1.234v1.433h-1.5v-5.353c0-.368-.299-.667-.667-.667s-.667.299-.667.667v5.353h-1.333v-2.167c0-.276-.224-.5-.5-.5h-1.667c-.276 0-.5.224-.5.5v2.167h-1.333v-10.334h4.667c.368 0 .667-.299.667-.667 0-.03 0-1.167 0-1.167 0-.643-.523-1.167-1.167-1.167h-.833v-.665c0-.369-.299-.667-.667-.667s-.667.299-.667.667v.667h-.833c-.643 0-1.167.523-1.167 1.167v.499c-.735 0-1.333.598-1.333 1.333v11c0 .369.298.667.667.667h11.333c.368 0 .667-.299.667-.667s-.299-.666-.667-.666z"/><path d="m12.833 17h-1.667c-.276 0-.5.224-.5.5s.224.5.5.5h1.667c.276 0 .5-.224.5-.5s-.224-.5-.5-.5z"/><path d="m12.833 13h-1.667c-.276 0-.5.224-.5.5s.224.5.5.5h1.667c.276 0 .5-.224.5-.5s-.224-.5-.5-.5z"/><path d="m12.833 15h-1.667c-.276 0-.5.224-.5.5s.224.5.5.5h1.667c.276 0 .5-.224.5-.5s-.224-.5-.5-.5z"/></g></svg> <?php echo $wo['lang']['enable_weather_loc']; ?></div>').removeClass('hidden');
        }
    })
});

function setLocation(pos1, pos2) { 
    var url = 'https://weather-ydn-yql.media.yahoo.com/forecastrss';
    var method = 'GET';
    var app_id = "<?php echo($wo['config']['weather_key']) ?>";
    var consumer_key = "<?php echo($wo['config']['yahoo_consumer_key']) ?>";
    var consumer_secret = "<?php echo($wo['config']['yahoo_consumer_secret']) ?>";
    var unit = "<?php echo ($wo['user']['weather_unit'] == 'us' ? 'f' : 'c'); ?>";
    var concat = '&';
    var query = {'lat': pos1,'lon':pos2,'u':unit, 'format': 'json'};
    var oauth = {
        'oauth_consumer_key': consumer_key,
        'oauth_nonce': Math.random().toString(36).substring(2),
        'oauth_signature_method': 'HMAC-SHA1',
        'oauth_timestamp': parseInt(new Date().getTime() / 1000).toString(),
        'oauth_version': '1.0'
    };

    var merged = {}; 
    $.extend(merged, query, oauth);
    // Note the sorting here is required
    var merged_arr = Object.keys(merged).sort().map(function(k) {
		return [k + '=' + encodeURIComponent(merged[k])];
    });
    var signature_base_str = method
      + concat + encodeURIComponent(url)
      + concat + encodeURIComponent(merged_arr.join(concat));

    var composite_key = encodeURIComponent(consumer_secret) + concat;
    var hash = CryptoJS.HmacSHA1(signature_base_str, composite_key);
    var signature = hash.toString(CryptoJS.enc.Base64);

    oauth['oauth_signature'] = signature;
    var auth_header = 'OAuth ' + Object.keys(oauth).map(function(k) {
		return [k + '="' + oauth[k] + '"'];
    }).join(',');

    $.ajax({
		url: url + '?' + $.param(query),
		headers: {
			'Authorization': auth_header,
			'X-Yahoo-App-Id': app_id 
		},
		method: 'GET',
		success: function(data){
			$(".tag_weather_timezone").html(data.location.city + ", " + data.location.country);
			$(".tag_weather_condition").html(data.current_observation.condition.text);
			$(".tag_weather_wind").html(data.current_observation.wind.speed + " km/h");
			$(".tag_weather_atmosphere").html(data.current_observation.atmosphere.humidity + "%");
			$(".tag_weather_visibility").html(data.current_observation.atmosphere.visibility + " km");
			$(".tag_weather_sunrise").html(data.current_observation.astronomy.sunrise);
			$(".tag_weather_sunset").html(data.current_observation.astronomy.sunset);
			$(".tag_weather_currentTemp").html(data.current_observation.condition.temperature + "<sup>\xB0<?php echo ($wo['user']['weather_unit'] == 'us' ? 'F' : 'C'); ?></sup>");
			$(".tag_weather_day2").html('<span class="bold">' + getWeekdayForecast(data.forecasts[1].day) + '</span><span>' + Math.floor(data.forecasts[1].low) + '\xB0<?php echo ($wo['user']['weather_unit'] == "us" ? "F" : "C"); ?>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + Math.floor(data.forecasts[1].high) + '\xB0<?php echo ($wo['user']['weather_unit'] == "us" ? "F" : "C"); ?></span>');
			$(".tag_weather_day3").html('<span class="bold">' + getWeekdayForecast(data.forecasts[2].day) + '</span><span>' + Math.floor(data.forecasts[2].low) + '\xB0<?php echo ($wo['user']['weather_unit'] == "us" ? "F" : "C"); ?>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + Math.floor(data.forecasts[2].high) + '\xB0<?php echo ($wo['user']['weather_unit'] == "us" ? "F" : "C"); ?></span>');
			$(".tag_weather_day4").html('<span class="bold">' + getWeekdayForecast(data.forecasts[3].day) + '</span><span>' + Math.floor(data.forecasts[3].low) + '\xB0<?php echo ($wo['user']['weather_unit'] == "us" ? "F" : "C"); ?>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + Math.floor(data.forecasts[3].high) + '\xB0<?php echo ($wo['user']['weather_unit'] == "us" ? "F" : "C"); ?></span>');
			$(".tag_weather_day5").html('<span class="bold">' + getWeekdayForecast(data.forecasts[4].day) + '</span><span>' + Math.floor(data.forecasts[4].low) + '\xB0<?php echo ($wo['user']['weather_unit'] == "us" ? "F" : "C"); ?>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + Math.floor(data.forecasts[4].high) + '\xB0<?php echo ($wo['user']['weather_unit'] == "us" ? "F" : "C"); ?></span>');
			$(".tag_weather_day6").html('<span class="bold">' + getWeekdayForecast(data.forecasts[5].day) + '</span><span>' + Math.floor(data.forecasts[5].low) + '\xB0<?php echo ($wo['user']['weather_unit'] == "us" ? "F" : "C"); ?>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + Math.floor(data.forecasts[5].high) + '\xB0<?php echo ($wo['user']['weather_unit'] == "us" ? "F" : "C"); ?></span>');
			$(".tag_weather_day7").html('<span class="bold">' + getWeekdayForecast(data.forecasts[6].day) + '</span><span>' + Math.floor(data.forecasts[6].low) + '\xB0<?php echo ($wo['user']['weather_unit'] == "us" ? "F" : "C"); ?>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + Math.floor(data.forecasts[6].high) + '\xB0<?php echo ($wo['user']['weather_unit'] == "us" ? "F" : "C"); ?></span>');

			switch(data.current_observation.condition.code) {         
				case 0: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/tornado.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/tornado.jpg)');
				break;
				case 1: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/hurricane.png">'),$(".tag_weather").addClass('blur').css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/hurricane.jpg)');
				break;
				case 2: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/hurricane.png">'),$(".tag_weather").addClass('blur').css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/hurricane.jpg)');
				break;
				case 3: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/thunder.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/thunder.jpg)');
				break;
				case 4: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/thunder.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/thunder.jpg)');
				break;
				case 5: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/sleet.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/sleet.jpg)');
				break;
				case 6: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/sleet.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/sleet.jpg)');
				break;
				case 7: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/snow.png">'),$(".tag_weather").addClass('black').css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/snow.jpg)');
				break;
				case 8: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/freeze-rain.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/freeze-rain.jpg)');
				break;
				case 9: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/rain.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/drizzle.jpg)');
				break;
				case 10: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/freeze-rain.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/freeze-rain.jpg)');
				break;
				case 11: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/rain.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/showers.jpg)');
				break;
				case 12: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/rain.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/rain.jpg)');
				break;
				case 13: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/snow.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/snowflake.jpg)');
				break;
				case 14: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/sleet.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/sleet.jpg)');
				break;
				case 15: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/snow-wind.png">'),$(".tag_weather").addClass('black').css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/snow.jpg)');
				break;
				case 16: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/snow.png">'),$(".tag_weather").addClass('black').css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/snow.jpg)');
				break;
				case 17: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/hail.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/hail.jpg)');
				break;
				case 18: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/sleet.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/sleet.jpg)');
				break;
				case 19: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/dust.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/dust.jpg)');
				break;
				case 20: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/fog.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/fog.jpg)');
				break;
				case 21: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/fog.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/haze.jpg)');
				break;
				case 22: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/smoke.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/smoke.jpg)');
				break;
				case 23: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/wind.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/wind.jpg)');
				break;
				case 24: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/wind.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/wind.jpg)');
				break;
				case 25: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/snow.png">'),$(".tag_weather").addClass('black').css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/snow.jpg)');
				break;
				case 26: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/cloud.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/cloud.jpg)');
				break;
				case 27: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/night-cloud.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/night-cloud.jpg)');
				break;
				case 28: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/day-cloud.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/day-cloud.jpg)');
				break;
				case 29: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/partly-night-cloud.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/partly-night-cloud.jpg)');
				break;
				case 30: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/partly-day-cloud.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/partly-day-cloud.jpg)');
				break;
				case 31: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/moon.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/moon.jpg)');
				break;
				case 32: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/sun.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/sun.jpg)');
				break;
				case 33: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/moon.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/moon.jpg)');
				break;
				case 34: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/sun.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/fair-day.jpg)');
				break;
				case 35: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/freeze-rain.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/hail-rain.jpg)');
				break;
				case 36: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/heat.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/heat.jpg)');
				break;
				case 37: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/thunder.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/thunderstorm.jpg)');
				break;
				case 38: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/thunder.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/thunderstorm.jpg)');
				break;
				case 39: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/day-rain.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/day-rain.jpg)');
				break;
				case 40: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/rain.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/rain.jpg)');
				break;
				case 41: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/day-sleet.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/sleet.jpg)');
				break;
				case 42: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/snow.png">'),$(".tag_weather").addClass('black').css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/snow.jpg)');
				break;
				case 43: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/snow.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/blizzard.jpg)');
				break;
				case 44: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/na.png">'),$(".tag_weather").addClass('black');
				break;
				case 45: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/night-rain.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/night-rain.jpg)');
				break;
				case 46: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/night-rain-snow.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/night-rain-snow.jpg)');
				break;
				case 47: $(".tag_weather_icon").html('<img src="<?php echo $wo['config']['theme_url'];?>/img/weather/thunder-rain.png">'),$(".tag_weather").css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(<?php echo $wo['config']['theme_url'];?>/img/weather/thunderstorm.jpg)');
				break;
			}
		}
	});
}

function getWeekdayForecast(offset) {
    var d = new Date();
    var weekday = new Array(7); 
    weekday['Sun']=  "<?php echo $wo['lang']['sunday']; ?>";
    weekday['Mon'] = "<?php echo $wo['lang']['monday']; ?>";
    weekday['Tue'] = "<?php echo $wo['lang']['tuesday']; ?>";
    weekday['Wed'] = "<?php echo $wo['lang']['wednesday']; ?>";
    weekday['Thu'] = "<?php echo $wo['lang']['thursday']; ?>";
    weekday['Fri'] = "<?php echo $wo['lang']['friday']; ?>";
    weekday['Sat'] = "<?php echo $wo['lang']['saturday']; ?>"; 
    return weekday[offset];
};
</script>
<?php } ?>
<?php } ?>
<!-- 
<?php if ($wo['config']['order_posts_by'] == 0) { ?>
<script>
function Wo_StorePosts(type) {
  if (type > 1) {
     return false;
  }
  if (type == 0) {
	$('.order_all').addClass('active');
	$('.order_people').removeClass('active');
  } else {
	$('.order_all').removeClass('active');
	$('.order_people').addClass('active');
  }
  $('#posts-laoded').html('<div class="wow_content p15 tag_post_skel"><div class="valign"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div><div class="valign tag_post_skel_foot"><div class="valign"><div class="skel skel_action"></div><div class="skel skel_action"></div></div><div><div class="skel skel_action"></div></div></div></div><div class="wow_content p15 tag_post_skel"><div class="valign"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div><div class="valign tag_post_skel_foot"><div class="valign"><div class="skel skel_action"></div><div class="skel skel_action"></div></div><div><div class="skel skel_action"></div></div></div></div>');
  $.get(Wo_Ajax_Requests_File() + '?f=update_order_by', {type:type}, function (data) {
    if (data.status == 200) {
      loadposts();
    }
  });
}
</script>
<?php } ?> -->

<script type="text/javascript">
$(document).on("scroll", function() {
    $('.tag_home_goup').toggleClass('btn-home-go-up', $(this).scrollTop() > 500);
});

// $(function() {
//     loadposts();
// });

function loadposts() {
	$("#posts-laoded").load(Wo_Ajax_Requests_File() + '?f=load_posts', function enter() {
		Wo_FinishBar();
		window.fbAsyncInit = function() {
		  FB.init({
			appId      : '374255706379985',
			xfbml      : true,
			version    : 'v3.2'
		  });
		};
	  	$(".post-description p, .product-description").each(function(index, el) {
	  		$(this).readmore({
		      speed: 75,
		      moreLink: '<a href="#" class="hash"><?php echo $wo["lang"]["read_more"];?></a>',
		      lessLink: '<a href="#" class="hash"><?php echo $wo["lang"]["read_less"];?></a>'
		    });
	  	});
	  	$(".post-commet-textarea .textarea").triggeredAutocomplete({
	       hidden: '#hidden_inputbox_comment',
	       source: Wo_Ajax_Requests_File() + "?f=mention",
	       trigger: "@" 
	    });
	  	$(".comment-reply textarea").triggeredAutocomplete({
	       hidden: '#hidden_inputbox_comment_reply',
	       source: Wo_Ajax_Requests_File() + "?f=mention",
	       trigger: "@"
	    });
	    $('#load-more-posts').show();

	});
}
  <?php if ($wo['user']['social_login'] == 1) { ?>
  $(window).on("load", function (e) {
       $('#create-password').modal('show');
    });
  $(function() {
    var create_password_container = $('#create-password');
    $('form.create-password').ajaxForm({
      url: Wo_Ajax_Requests_File() + '?f=update_new_logged_user_details',
      beforeSend: function() {
        Wo_progressIconLoader($('form.create-password').find('button'));
      },
      success: function(data) {
        if (data.status == 200) {
          create_password_container.find('.error-container').html("<div class='alert alert-success'>" + data.message + "</div>");
           $('#update-username').attr('href', data.url);
           setTimeout(function() {
            $('#create-password').modal('hide');
           }, 1500);
        } else {
          var errors = data.errors.join("<br>");
          create_password_container.find('.error-container').html("<div class='alert alert-danger'>" + errors + "</div>");
        }
        Wo_progressIconLoader($('form.create-password').find('button'));
      }
    });
  });

<?php } ?>

function Wo_ViewAnnouncement(id) {
	var announcement_container = $('.home-announcement');
	$.get(Wo_Ajax_Requests_File() + '?f=update_announcement_views', {id:id}, function (data) {
		if (data.status == 200) {
			announcement_container.remove();
		}
	});
}

function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays*60*60*1000));
    var expires = "expires="+ d;
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}

function getCookieValue(a) {
    var b = document.cookie.match('(^|;)\\s*' + a + '\\s*=\\s*([^;]+)');
    return b ? b.pop() : '';
}

$(function () {
    var is_day_enabled = getCookieValue('day_status');
    var myDate = new Date();
    var hrs = myDate.getHours();
    var greet;
    var color;
	var quote;
    if (hrs < 12) {
        greet = '<?php echo $wo['lang']['good_morning']?>, <?php if (!empty($wo['user']['first_name'])) { ?><?php echo $wo['user']['first_name']?><?php } else {?><?php echo $wo['user']['name']?><?php } ?>';
        color = 'morning';
		quote = '<?php echo $wo['lang']['good_morning_quote']?>';
    } else if (hrs >= 12 && hrs <= 18) {
        greet = '<?php echo $wo['lang']['good_afternoon']?>, <?php if (!empty($wo['user']['first_name'])) { ?><?php echo $wo['user']['first_name']?><?php } else {?><?php echo $wo['user']['name']?><?php } ?>';
        color = 'noon';
		quote = '<?php echo $wo['lang']['good_afternoon_quote']?>';
    } else if (hrs >= 18 && hrs <= 24) {
        greet = '<?php echo $wo['lang']['good_evening']?>, <?php if (!empty($wo['user']['first_name'])) { ?><?php echo $wo['user']['first_name']?><?php } else {?><?php echo $wo['user']['name']?><?php } ?>';
        color = 'evening';
		quote = '<?php echo $wo['lang']['good_evening_quote']?>';
    }
    if (is_day_enabled != 1) {
		$('.greetalert').addClass(color);
		$('#daynightmsg').html('<div class="small-texts">' + greet + '</div><p>' + quote + '</p>');
	} else {
		$('.greetalert').addClass('hidden');
	}
});

</script>

