<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script> -->
<!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>  -->
<!------ Include the above in your HEAD tag ---------->
<style>
.inner-circle{
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: rgba(0, 0, 0, 0);
}
.inner-circle .fa-2x{
    margin-left:5px;
}
#create-box{ 
    margin-top:40px; 
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: flex;
    justify-content: space-evenly;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 5px;
    background-color: #e0e0e0;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.stepwizard-step .btn.btn-primary, .stepwizard-step .btn.btn-primary.btn-visited{
    background-color: var(--main);
}

.stepwizard-step .btn{
    background-color: #e0e0e0;
}

.stepwizard-step .btn.disabled, .stepwizard-step .btn:disabled {
    opacity: 1;
}

.stepwizard-step .btn.btn-visited{
    background-color: #009380;
}

.stepwizard-step h3{ font-size: 14px; margin-top: 10px; }
.stepwizard-step.current h3{ color: #1c9ac5; }

#create-box .btn{color: #fff; font-weight: 500;}
#create-box .btn.tag_pub_box_btns{ color: #333; }
/*#create-box .btn.tag_pub_box_btns span{padding-left: 24px;}*/
#create-box .btn.backBtn, #create-box .btn.nextBtn, #create-box .btn.sendBtn{ min-width: 100px; margin: 0 5px; }
#create-box .btn.sendBtn{margin-top: 25px; margin-bottom: 25px;}

/*div#search-campaigns img.campaign_thumbnail{object-fit: cover; border-radius: 20px; width: 100%;height: 150px;}*/

.btn.btn-fullwidth{ width: 100%; }
.btn.selected{ background-color: #1c9ac5; }

#campaign_info avatar img{ object-fit: cover; border-radius: 20px; }

#create-box .search-btn{width: 130px;background-color: var(--main);border-radius: 20px;margin-left: 10px;}
/*#create-box form svg {position: absolute;top: 50%;transform: translateY(-50%);left: 10px;width: 22px;height: 22px;opacity: 0.7;pointer-events: none;transition: all .15s linear;color: var(--header-color);}*/
#create-box .search-input {background: var(--header-search-color);width: 100%;border: 0;padding: 10px 10px 10px 39px;border-radius: 2em;height: 40px;transition: all .15s linear;color: var(--header-color);}
#create-box .search-input::placeholder {opacity: 0.5;color: var(--header-color);}
/*#create-box form svg {color: var(--main);}*/
#create-box form svg.search-icon {position: absolute; color: rgba(0,0,0,0.3); left: 24px; top: 8px; }
#create-box .search-input {background: #efefef; color: #333; }
#create-box .search-input::placeholder {opacity: 0.5;color: #333;}
#create-box #step-3 textarea.postText{padding-left: 16px; padding-top: 25px; height: auto;}
#create-box .campaign_media{min-height: 300px; width: 100%; padding-left: 0; padding-right: 0; background-color: #f5f5f5; }

.setup-content:not(#step-1){display:none;}

@media (max-width:520px) {
    #create-box form .tag_pub_box_btns svg{left: 7px;}
    #create-box .btn.backBtn, #create-box .btn.nextBtn, #create-box .btn.sendBtn{ width: 100%; }
}

</style>

<div id="create-box">
<?php
	if (isset($_GET['id']) && is_numeric($_GET['id']) && $_GET['id'] > 0) {
			// $wo['challenge_fund'] = Wo_GetChallengeFundingById(2);
			// echo $wo['challenge_fund'];
			$challenge_fund = (Array) Wo_GetChallengeFundingById($_GET['challenge_fund_id']);
			// echo $challenge_fund['id'];
	}else if(isset($_GET['fund_id']) && !empty($_GET['fund_id'])){
			$fund_id = $_GET['fund_id'];
	}
   // echo $fund_id;die;
?>

    <div class="col-md-12">
    
    <div class="stepwizard margin-b30">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step" id="step-1-nav">
                <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                <h3><?php echo $wo['lang']['choose_or_create_campaign']; ?></h3>
            </div>
            <div class="stepwizard-step" id="step-2-nav">
                <a href="#step-2" type="button" class="btn btn-default btn-circle disabled">2</a>
                <h3><?php echo $wo['lang']['create_your_challenge']; ?></h3>
            </div>
            <div class="stepwizard-step" id="step-3-nav">
                <a href="#step-3" type="button" class="btn btn-default btn-circle disabled">3</a>
                <h3><?php echo $wo['lang']['challenge_your_friends']; ?></h3>
            </div>
        </div>
    </div>
        <form method="POST" id="insert_challenge" class="form-horizontal">
        <div class="setup-content" id="step-1">
            <div class="col-xs-12 page-margin">
                <div class="col-md-12" >
                    <div id="campaign_info">
                        <p><?php echo $wo['lang']['search_campaign_to_fundraise']; ?>.</p>
                        <div class="form-group margin-b30">
                            <div class="row">
                                <div class="col-md-8 col-sm-8" style="display:flex;">
                                    <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"></path><path fill="currentColor" d="M15.5 14h-.79l-.28-.27c1.2-1.4 1.82-3.31 1.48-5.34-.47-2.78-2.79-5-5.59-5.34-4.23-.52-7.79 3.04-7.27 7.27.34 2.8 2.56 5.12 5.34 5.59 2.03.34 3.94-.28 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></svg>
                                    <input type="Search" id="search" required="required" class="search-input" placeholder="Search campaign">
                                    <button id="searchBtn" onclick="searchCampaign();" class="btn search-btn"><?php echo $wo['lang']['search']; ?></button>
                                </div>
                            </div>
                        </div>
                        <?php 
                                if (isset($_GET['id']) && is_numeric($_GET['id']) && $_GET['id'] > 0) {

                                }
                                else{
                                    // why calling this is calling show-search-campaigns.phtml?
                                    echo Wo_LoadPage("create_challenge/default-campaign");
                                }
                        ?> 
                        
                        <div class="text-center">
                            <p class="bold"><?=$wo['lang']['create_campaign_question'];?></p>
                            <a id="create_fund_button" href="<?=$wo['site_url']?>/create_funding" class="btn btn-mat btn-main"><?php echo $wo['lang']['create_campaign']; ?></a>
                        </div>

                    </div> 
                    
                    <!-- // campaign details -->
                    
                        
                    
                    <!-- button footer bar -->
                    <hr>
                    
                    <div class="mt-30 valign right-align">
                        <!--<a id="create_fund_button" href="<?=$wo['site_url']?>/create_funding" class="btn btn-mat btn-main"><?php echo $wo['lang']['create_campaign']; ?></a>-->
                        <!--<a id="restart_button" href="<?=$wo['site_url']?>/create_challenge" class="btn btn-mat btn-main"><?=$wo['lang']['choose_another_campaign']?></a>-->
                        <button id="load_campaign_button" type="button" class="btn btn-mat btn-main nextBtn"><?php echo $wo['lang']['next']; ?></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="setup-content" id="step-2">
            <p><?php echo $wo['lang']['enter_challenge_details']; ?>.</p>
            <div class="col-xs-12 page-margin">
                <div class="col-md-12" >                    
                    <div id="challenge_info">
                        <input type="hidden" id="funding_id" name="funding_id">
                        <input type="hidden" id="challenge_fund_id" name="challenge_fund_id">
                        <?php 
                            $preselected = (isset($challenge_fund) && !empty($challenge_fund));
                            $cid = $preselected ? $challenge_fund['challenge']['id'] : '';
                            $ctitle = $preselected ? $challenge_fund['challenge']['title'] : '';
                            $cdesc = $preselected ? $challenge_fund['description'] : '';
                            $cdisabled = $preselected ? 'disabled' : '';
                            $creadonly = $preselected ? 'readonly' : '';
                        ?>
                        
                        <div class="form-group">
                                <input type="hidden" id="challenge_id" name="challenge_id" value="<?=$cid?>">
                                <label class="tag_field">
                                    <input id="title" name="title" class="<?=$cdisabled?>" required type="text" placeholder=" " value="<?=$ctitle?>" <?=$creadonly?>>
                                        <span><?=$wo['lang']['title']?> *</span>
                                </label>
                                <div class="help-block"><?=$wo['lang']['challenge_title_help_text']?></div>
                                <label class="tag_field">
                                        <textarea name="description" id="description" class="<?=$cdisabled?>" required rows="4" placeholder=" " <?=$creadonly?>><?=$cdesc?></textarea>
                                        <span><?=$wo['lang']['description']?> *</span>
                                </label>
                                <div class="help-block"><?=$wo['lang']['enter_challenge_instructions']?>.</div>
                                
                                <!-- assets -->
                                <div class="tag_alone_label mb-15">
                                    <label>
                                            <span><?=$wo['lang']['upload_challenge_media']?> *</span>
                                    </label>
                                    <div class="help-block"><?=$wo['lang']['upload_challenge_media_desc']?></div>
                                </div>
                                <div class="row publisher-box-footer justify-content-center">
                                <div id="results"></div>
                                <div id="status"></div>
                                
                                <?php if ($wo['config']['video_upload'] == 1) { ?>
                                <div class="valign pub-footer-upper">
                                        <button class="btn btn-file tag_pub_box_btns btn-width">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M21.53,7.15a1,1,0,0,0-1,0L17,8.89A3,3,0,0,0,14,6H5A3,3,0,0,0,2,9v6a3,3,0,0,0,3,3h9a3,3,0,0,0,3-2.89l3.56,1.78A1,1,0,0,0,21,17a1,1,0,0,0,.53-.15A1,1,0,0,0,22,16V8A1,1,0,0,0,21.53,7.15ZM15,15a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V9A1,1,0,0,1,5,8h9a1,1,0,0,1,1,1Zm5-.62-3-1.5V11.12l3-1.5Z"/></svg> <span><?php echo $wo['lang']['upload_video']; ?></span>
                                            <input type="file" id="publisher-video" name="postVideo" accept="video/*" capture="environment">
                                        </button>
                                </div>
                                <?php } ?>
                                
                                <div class="valign pub-footer-upper">
                                    <button class="btn btn-file tag_pub_box_btns btn-width">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M19,10a1,1,0,0,0-1,1v3.38L16.52,12.9a2.79,2.79,0,0,0-3.93,0l-.7.71L9.41,11.12a2.79,2.79,0,0,0-3.93,0L4,12.61V7A1,1,0,0,1,5,6h8a1,1,0,0,0,0-2H5A3,3,0,0,0,2,7V19.22A2.79,2.79,0,0,0,4.78,22H17.22a2.88,2.88,0,0,0,.8-.12h0a2.74,2.74,0,0,0,2-2.65V11A1,1,0,0,0,19,10ZM5,20a1,1,0,0,1-1-1V15.43l2.89-2.89a.78.78,0,0,1,1.1,0L15.46,20Zm13-1a1,1,0,0,1-.18.54L13.3,15l.71-.7a.77.77,0,0,1,1.1,0L18,17.21ZM21,4H20V3a1,1,0,0,0-2,0V4H17a1,1,0,0,0,0,2h1V7a1,1,0,0,0,2,0V6h1a1,1,0,0,0,0-2Z"/></svg> <span><?php echo $wo['lang']['upload_images']; ?></span>
                                        <input type="file" id="challenge-photos" accept="image/x-png, image/gif, image/jpeg" name="postPhotos[]" multiple="multiple">
                                    </button>
                                </div>
                                
                                <?php if ($wo['config']['audio_upload'] == 1) { ?>
                                <div class="valign pub-footer-upper">
                                        <span class="tag_pubbox_record btn-width">
                                            <button class="btn btn-file tag_pub_box_btns" id="recordPostAudio" data-record="0">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M12,15a4,4,0,0,0,4-4V5A4,4,0,0,0,8,5v6A4,4,0,0,0,12,15ZM10,5a2,2,0,0,1,4,0v6a2,2,0,0,1-4,0Zm10,6a1,1,0,0,0-2,0A6,6,0,0,1,6,11a1,1,0,0,0-2,0,8,8,0,0,0,7,7.93V21H9a1,1,0,0,0,0,2h6a1,1,0,0,0,0-2H13V18.93A8,8,0,0,0,20,11Z"/></svg> <span><?php echo $wo['lang']['record_voice']; ?></span>
                                            </button>
                                            <span id="postRecordingTime" class="tag_pub_rectime hidden">00:00</span>
                                        </span>
                                </div>
                                <?php } ?>
                                <?php if ($wo['config']['audio_upload'] == 1) { ?>
                                <div class="valign pub-footer-upper">
                                        <button class="btn btn-file tag_pub_box_btns btn-width">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M21.65,2.24a1,1,0,0,0-.8-.23l-13,2A1,1,0,0,0,7,5V15.35A3.45,3.45,0,0,0,5.5,15,3.5,3.5,0,1,0,9,18.5V10.86L20,9.17v4.18A3.45,3.45,0,0,0,18.5,13,3.5,3.5,0,1,0,22,16.5V3A1,1,0,0,0,21.65,2.24ZM5.5,20A1.5,1.5,0,1,1,7,18.5,1.5,1.5,0,0,1,5.5,20Zm13-2A1.5,1.5,0,1,1,20,16.5,1.5,1.5,0,0,1,18.5,18ZM20,7.14,9,8.83v-3L20,4.17Z"/></svg> <span><?php echo $wo['lang']['audio_upload']; ?></span>
                                            <input type="file" id="publisher-music" name="postMusic" accept="audio/*">
                                        </button>
                                </div>
                                <?php } ?>
                            </div>
                        </div>
                        
                        

                          <div class="form-group">
                            <!-- media display -->
                            
                                <div class="col-md-12 campaign_media rounded">
                                	<div class="tag_pub_hide photo-form">
                                        <div class="tag_pub_hide album-form">
                                            <input name="album_name" type="text" placeholder="<?php echo $wo['lang']['album_name'];?>">
                                        </div>
                                        <div class="valign tag_pub_imgs tag_scroll" id="challenge-image-holder"></div>
                                    </div>
                                    <?php if ($wo['config']['video_upload'] == 1) { ?>

                                        <div class="tag_pub_hide video-form">
                                            <div class="tag_pub_vids">
                                                <video id="post_video" controls></video>
                                                <span class="btn btn-mat video-custom-thumb"><?php echo $wo['lang']['custom_thumbnail']; ?></span>
                                                <div class="video-poster-image pointer" onclick="$('#custom-video-thumb').trigger('click');">
                                                    <div class="preview">
                                                        <div class="valign empty_state">
                                                            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path fill="currentColor" d="M21.02 5H19V2.98c0-.54-.44-.98-.98-.98h-.03c-.55 0-.99.44-.99.98V5h-2.01c-.54 0-.98.44-.99.98v.03c0 .55.44.99.99.99H17v2.01c0 .54.44.99.99.98h.03c.54 0 .98-.44.98-.98V7h2.02c.54 0 .98-.44.98-.98v-.04c0-.54-.44-.98-.98-.98zM16 9.01V8h-1.01c-.53 0-1.03-.21-1.41-.58-.37-.38-.58-.88-.58-1.44 0-.36.1-.69.27-.98H5c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-8.28c-.3.17-.64.28-1.02.28-1.09-.01-1.98-.9-1.98-1.99zM15.96 19H6c-.41 0-.65-.47-.4-.8l1.98-2.63c.21-.28.62-.26.82.02L10 18l2.61-3.48c.2-.26.59-.27.79-.01l2.95 3.68c.26.33.03.81-.39.81z"/></svg>
                                                            <?php echo $wo['lang']['drop_img_here']; ?> <?php echo $wo['lang']['or']; ?> <?php echo $wo['lang']['browse_to_upload']; ?>
                                                        </div>
                                                    </div>
                                                    <div class="image"></div>
                                                </div>
												<span onclick="DeleteVideo()" class="btn btn-mat thumb-image-delete-btn"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span>
                                            </div>
                                            <input type="file" class="hidden" name="video_thumb" id="custom-video-thumb" accept="image/*">
                                        </div>
                                    <?php } ?>
                                    <?php if ($wo['config']['audio_upload'] == 1) { ?>
                                        <div class="tag_pub_hide music-form">
											<div class="tag_pub_vids">
												<div class="valign">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M20 3v14a4 4 0 1 1-2-3.465V6H9v11a4 4 0 1 1-2-3.465V3h13z"/></svg>
													<div class="full_width">
														<input name="musiccount" type="text" readonly>

													</div>
												</div>
											</div>
                                        </div>
                                    <?php } ?>
                                </div>				
                            
                          </div>
					
                    </div>
                    <!-- button footer bar -->
                    <hr>
                    
                    <div class="mt-30 valign side-align">
                        <button type="button" class="btn btn-mat btn-main backBtn"><?php echo $wo['lang']['back']; ?></button>
                         <a id="restart_button" href="<?=$wo['site_url']?>/create_challenge" class="btn btn-mat btn-main"><?=$wo['lang']['choose_another_campaign']?></a>
                        <!-- <button type="button" class="btn btn-mat btn-main nextBtn pull-right"><?php echo $wo['lang']['next']; ?></button> -->
                        <?php if(isset($_GET['post_id'])){ ?>
                                <button class="btn btn-mat btn-main nextBtn" onclick="insertChallengeData();" type="button"><?=$wo['lang']['next']?></button>
                        <?php }elseif(isset($_GET['id'])){?>
                                <button class="btn btn-mat btn-main nextBtn" onclick="insertAcceptedChallengeData();" type="button"><?=$wo['lang']['next']?></button>
                        <?php }else{ ?>
                                <button class="btn btn-mat btn-main nextBtn" onclick="insertChallengeData();" type="button"><?=$wo['lang']['next']?></button>
                        <?php }?>
                    </div>
                </div>
            </div>
            </form>
        
        </div>

        <div class="setup-content" id="step-3">
            <p><?=$wo['lang']['tag_friends_instruction']?></p>
            <div class="col-xs-12 page-margin mb-0">
                <div class="col-md-12" >    
                <form   method="POST" id="tag_more_users" class="form-horizontal"> 
                    <input type="hidden" id="new_challengefund_id" name="new_challengefund_id">  
                    <input type="hidden" name="is_modal" value="0">           
                    <div id="friends_info">
                        <div class="form-group">
                            <label class="tag_field">
                                <textarea id="message" name="message" rows="2" onkeyup="updateMessage(this);"><?=$wo['lang']['invite_challenge_default_message']?></textarea>
                                <span><?=$wo['lang']['personalised_message']?></span>
                            </label>

                            <p class="bold"><?=$wo['lang']['tag_friends_title']?></p>

                            <label class="tag_field">
                                <textarea name="tagfriends" class="postText tag_users" rows="4" spellcheck="false" placeholder=" " dir="auto"><?php echo $url; ?></textarea>
                                    <span><?=$wo['lang']['mention_friends']?> *</span>
                            </label>
                            <div class="help-block"><?=$wo['lang']['funding_tagging_placeholder']?>.</div>
                            <p class="bold"><?php echo $wo['lang']['your_challenge_link'];?></p>
                            <input id="challenge_link" type="text" readonly  onclick="this.select();" class="tag_aff_usr_link">

                            <!-- <p class="bold text-center">OR</p> -->
                            <p class="bold"><?php echo $wo['lang']['share_to'];?></p>
                            <div class="valign share_modal_social_icos tag_aff_usr_share">
                                <div>
                                    <a id="share-twitter" href="https://twitter.com/intent/tweet?text=<?php echo $link;?>" target="_blank">
                                        <div class="social-btn" style="color: #55acee;"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="currentColor" d="M22.162 5.656a8.384 8.384 0 0 1-2.402.658A4.196 4.196 0 0 0 21.6 4c-.82.488-1.719.83-2.656 1.015a4.182 4.182 0 0 0-7.126 3.814 11.874 11.874 0 0 1-8.62-4.37 4.168 4.168 0 0 0-.566 2.103c0 1.45.738 2.731 1.86 3.481a4.168 4.168 0 0 1-1.894-.523v.052a4.185 4.185 0 0 0 3.355 4.101 4.21 4.21 0 0 1-1.89.072A4.185 4.185 0 0 0 7.97 16.65a8.394 8.394 0 0 1-6.191 1.732 11.83 11.83 0 0 0 6.41 1.88c7.693 0 11.9-6.373 11.9-11.9 0-.18-.005-.362-.013-.54a8.496 8.496 0 0 0 2.087-2.165z" /></svg></div>
                                    </a>
                                </div>
                                <div>
                                    <a id="share-fb" rel="publisher" href="https://www.facebook.com/sharer/sharer.php?u=<?php echo $link;?>" target="_blank">
                                        <div class="social-btn" style="color: #337ab7;"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2C6.477 2 2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.879V14.89h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.989C18.343 21.129 22 16.99 22 12c0-5.523-4.477-10-10-10z" /></svg></div>
                                    </a>
                                </div>
                                <div>
                                    <a id="share-whatsapp" href="https://api.whatsapp.com/send?text=<?php echo $link;?>" data-action="share/whatsapp/share" target="_blank">
                                        <div class="social-btn" style="color: #04aa24;"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="currentColor" d="M7.253 18.494l.724.423A7.953 7.953 0 0 0 12 20a8 8 0 1 0-8-8c0 1.436.377 2.813 1.084 4.024l.422.724-.653 2.401 2.4-.655zM2.004 22l1.352-4.968A9.954 9.954 0 0 1 2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10a9.954 9.954 0 0 1-5.03-1.355L2.004 22zM8.391 7.308c.134-.01.269-.01.403-.004.054.004.108.01.162.016.159.018.334.115.393.249.298.676.588 1.357.868 2.04.062.152.025.347-.093.537a4.38 4.38 0 0 1-.263.372c-.113.145-.356.411-.356.411s-.099.118-.061.265c.014.056.06.137.102.205l.059.095c.256.427.6.86 1.02 1.268.12.116.237.235.363.346.468.413.998.75 1.57 1l.005.002c.085.037.128.057.252.11.062.026.126.049.191.066a.35.35 0 0 0 .367-.13c.724-.877.79-.934.796-.934v.002a.482.482 0 0 1 .378-.127c.06.004.121.015.177.04.531.243 1.4.622 1.4.622l.582.261c.098.047.187.158.19.265.004.067.01.175-.013.373-.032.259-.11.57-.188.733a1.155 1.155 0 0 1-.21.302 2.378 2.378 0 0 1-.33.288 3.71 3.71 0 0 1-.125.09 5.024 5.024 0 0 1-.383.22 1.99 1.99 0 0 1-.833.23c-.185.01-.37.024-.556.014-.008 0-.568-.087-.568-.087a9.448 9.448 0 0 1-3.84-2.046c-.226-.199-.435-.413-.649-.626-.89-.885-1.562-1.84-1.97-2.742A3.47 3.47 0 0 1 6.9 9.62a2.729 2.729 0 0 1 .564-1.68c.073-.094.142-.192.261-.305.127-.12.207-.184.294-.228a.961.961 0 0 1 .371-.1z" /></svg></div>
                                    </a>
                                </div>
                                <div>
                                    <a id="share-pinterest" href="https://pinterest.com/pin/create/button/?url=<?php echo $link;?>" target="_blank">
                                        <div class="social-btn" style="color: #cb2027;"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="currentColor" d="M13.37 2.094A10.003 10.003 0 0 0 8.002 21.17a7.757 7.757 0 0 1 .163-2.293c.185-.839 1.296-5.463 1.296-5.463a3.739 3.739 0 0 1-.324-1.577c0-1.485.857-2.593 1.923-2.593a1.334 1.334 0 0 1 1.342 1.508c0 .9-.578 2.262-.88 3.54a1.544 1.544 0 0 0 1.575 1.923c1.898 0 3.17-2.431 3.17-5.301 0-2.2-1.457-3.848-4.143-3.848a4.746 4.746 0 0 0-4.93 4.794 2.96 2.96 0 0 0 .648 1.97.48.48 0 0 1 .162.554c-.046.184-.162.623-.208.784a.354.354 0 0 1-.51.254c-1.384-.554-2.036-2.077-2.036-3.816 0-2.847 2.384-6.255 7.154-6.255 3.796 0 6.32 2.777 6.32 5.747 0 3.909-2.177 6.848-5.394 6.848a2.861 2.861 0 0 1-2.454-1.246s-.578 2.316-.692 2.754a8.026 8.026 0 0 1-1.019 2.131c.923.28 1.882.42 2.846.416a9.988 9.988 0 0 0 9.996-10.003 10.002 10.002 0 0 0-8.635-9.903z" /></svg></div>
                                    </a>
                                </div>
                                <div>
                                    <a id="share-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=<?php echo $link;?>" target="_blank">
                                        <div class="social-btn" style="color: #007bb6;"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="currentColor" d="M6.94 5a2 2 0 1 1-4-.002 2 2 0 0 1 4 .002zM7 8.48H3V21h4V8.48zm6.32 0H9.34V21h3.94v-6.57c0-3.66 4.77-4 4.77 0V21H22v-7.93c0-6.17-7.06-5.94-8.72-2.91l.04-1.68z" /></svg></div>
                                    </a>
                                </div>
                                <div> 
                                    <a id="share-telegram" href="https://telegram.me/share/url?url=<?php echo $link;?>" target="_blank">
                                        <div class="social-btn" style="color: #239bcd;"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="currentColor" d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-3.11-8.83l.013-.007.87 2.87c.112.311.266.367.453.341.188-.025.287-.126.41-.244l1.188-1.148 2.55 1.888c.466.257.801.124.917-.432l1.657-7.822c.183-.728-.137-1.02-.702-.788l-9.733 3.76c-.664.266-.66.638-.12.803l2.497.78z" /></svg></div>
                                    </a>
                                </div>
                            </div>
                            <br>
                        </div>
                        
                    </div>
                    <!-- button footer bar -->
                    <hr>
                    
                    <div class="text-center">

                      <!--   <button type="button" class="btn btn-mat btn-main backBtn"><?php echo $wo['lang']['back']; ?></button> -->
                       
                        <!-- <button type="button" onclick="tagChallengeData();" class="btn btn-mat btn-main pull-right"><?php echo $wo['lang']['next']; ?></button> -->

                        <!-- <button type="button" class="btn btn-mat btn-main backBtn"><?php echo $wo['lang']['back']; ?></button> -->
                        <!-- <a id="restart_button" href="<?=$wo['site_url']?>/create_challenge" class="btn btn-mat btn-main"><?=$wo['lang']['restart']?></a> -->
                        <button type="button" onclick="tagChallengeData();" class="btn btn-mat btn-success sendBtn"><?php echo $wo['lang']['send_challenge']; ?></button>

                        
                    </div>
                </form>
                </div>
            </div>
        </div>
    
    <form method="POST" id="campaign_detail_form" action="#">
        <input type="hidden" required="required" name="campaign_id" id="campaign_id">
    </form>
    </div>
    <div id="funding-alert"></div>    
</div>


<script>
	function DeleteVideo(){
		$("#publisher-video").val('');
		$("#post_video").empty();
		$(".video-form").slideUp(200);		
	}

	function DeleteMusic(){
		$("#publisher-music").val('');
		$(".music-form input").val('');
		$(".music-form").slideUp(200);
	}

    $(document).ready(function () {
		var navListItems = $('div.setup-panel div a'),
                stepWizards = $('.stepwizard-step'),
                allWells = $('.setup-content'),
       		allNextBtn = $('.nextBtn'),
       		allBackBtn = $('.backBtn');

		allWells.hide();
                
                $('#create_fund_button').show();
                $('#restart_button').hide();
	
                // click handler on step wizard steps buttons
		navListItems.click(function (e) {
                    	e.preventDefault();
			var $target = $($(this).attr('href')),
					$item = $(this);

			if (!$item.hasClass('disabled')) {
                                navListItems.removeClass('btn-primary').addClass('btn-default');
                                $item.addClass('btn-primary');
				allWells.hide();
				$target.show();
                                stepWizards.removeClass('current');
                                $item.parent().addClass('current');
				$target.find('input:eq(0)').focus();
			}
		});

		allNextBtn.click(function(){
                    $("#funding-alert").html('');
                    
                    if($(this).attr("id") == "load_campaign_button" ){
                            if($("#campaign_id").val().length != 0){
                                    // Ajax here for showing Campaign Details
                                    getCampaignDetailById($("#campaign_id").val());
                                    return;
                            }else{
                                    //alert("Please select a campaign to fundraise for");
                                    $("#funding-alert").html('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?=$wo['lang']['select_a_campaign']?></div>');
                                    return;
                            }
                    }

                    var curStep = $(this).closest(".setup-content"),
                    curStepId = curStep.attr("id"),
                    curStepNav = $("#" + curStepId + "-nav"),
                    curStepNavBtn = curStepNav.find("a"),
                    nextStepNav = $('div.setup-panel div a[href="#' + curStepId + '"]').parent().next(),
                    //nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                    nextStepWizard = nextStepNav.children("a"),
                    curInputs = curStep.find("input[type='text'],input[type='url'],textarea#description"),
                    medias = curStep.find("input[type='file']"),
                    isValid = true;

                    if(curStepId == "step-2"){
                        // check input fields
                        for(var i=0; i<curInputs.length; i++){
                                if (!curInputs[i].validity.valid){
                                        isValid = false;
                                        $("#funding-alert").html('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> Please enter a '+ curInputs[i].name +'!</div>');
                                        $(curInputs[i]).closest(".form-group").addClass("has-error");
                                        break;
                                }
                        }

                        if(isValid){
                            // check media
                            var hasMedia = false;
                            for(var i=0; i<medias.length; i++){
                                if(medias[i].files.length > 0){
                                    hasMedia = true;
                                    break;
                                }
                            }

                            if(!hasMedia){
                                $("#funding-alert").html('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?=$wo['lang']['upload_your_challenge']?></div>');
                                $(medias[i]).closest(".form-group").addClass("has-error");
                            }

                            isValid = isValid && hasMedia;
                        }
                    }

                    if (isValid){
                        curStepNav.removeClass('current');
                        curStepNavBtn.addClass('btn-visited');
                        nextStepNav.addClass('current');
                        nextStepWizard.removeClass('disabled').trigger('click');
                    }
		});
                
		allBackBtn.click(function(){
                    $("#funding-alert").html('');
                    var curStep = $(this).closest(".setup-content"),
                    curStepBtn = curStep.attr("id"),
                    prevStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a"),
                    curInputs = curStep.find("input[type='text'],input[type='url']"),
                    isValid = true;

                    $(".form-group").removeClass("has-error");
                        for(var i=0; i<curInputs.length; i++){
                                if (!curInputs[i].validity.valid){
                                        isValid = false;
                                        $(curInputs[i]).closest(".form-group").addClass("has-error");
                                }
                        }
                        prevStepWizard.attr("disabled",true);
                        prevStepWizard.removeAttr('disabled').trigger('click');

                        // if (isValid)
				
		
		});

		// initialise step 1
                $('div.setup-panel div a.btn-primary').trigger('click');
	});
</script>

<script>
    function setFundId(id){
        $("#campaign_id").val(id);
        $("#funding_id").val(id);
	$(".selectBtn").removeClass('selected').html('<?=$wo['lang']['select']?>');
	$("a[data$="+id+"]").text('<?=$wo['lang']['selected']?>').addClass('selected');
    }
    
    function setChallengeId(id){
        $("#challenge_fund_id").val(id);
    }
	
 // get Campagin detail by id sameer 
	function getCampaignDetailById(id){
		$(function(){
			$('#campaign_detail_form').ajaxSubmit({
				url: Wo_Ajax_Requests_File() + '?f=funding&s=get_funding_by_id',
				beforeSend: function() {
					$('#campaign_info').html('');

				},
				success: function(data) {
                                        if (data['status'] == 200) {
							$('#campaign_info').html(data['html']);
							$('#load_campaign_button').removeAttr("id");
							//$refreshBtn = '<a class="fa-3x" href="<?=$wo["site_url"]?>/create_challenge"><button type="button" class="btn btn-primary  btn-lg pull-left">Reset</button></a>';
                            //$('#create_fund_button').html($refreshBtn);
                            $('#create_fund_button').hide();
                            $('#restart_button').show();
							
						} else if (data['message']) {
							$("#campaign_info").html('<div class="alert alert-danger">' + data['message'] + '</div>');
						}
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) { 
						alert("Status: " + textStatus); alert("Error: " + errorThrown); 
				}
			});
		});
	}
    var bar = $('#funding-progressbar');
     var percent = $('#percent');
    function tagChallengeData()
    {
        $('input#title').removeAttr('disabled');
        $('#description').removeAttr('disabled');
        $(function(){
            $('#tag_more_users').ajaxSubmit({
            url: Wo_Ajax_Requests_File() + '?f=funding&s=challenge_tag_friends',
            beforeSend: function() {
                //$('#insert-funding').find('.disable_btn').attr('disabled','disabled');
                //$('.btn-success').attr('disabled','disabled');
                $('#overlay').css("display", "block");
                var percentVal = '0%';
                bar.width(percentVal);
                percent.html(percentVal);

            },
        uploadProgress: function (event, position, total, percentComplete) {
            var percentVal = percentComplete + '%';
                bar.width(percentVal);
                $('#tag_funding_progress').slideDown(200);
                percent.html(percentVal);
        },
            success: function(data) {
                console.log(data)
                  $('#overlay').css("display", "none");
                    if (data['status'] == 200) 
                    {
                        $("#funding-alert").html('<div class="alert alert-success">'+ data['message'] +'</div>');
                        window.location = data['url'];
                    } 
                    else if (data['message']) 
                    {
                        //$('.btn-success').removeAttr("disabled");
                        Wo_Delay(function(){
                        },3000);
                        $("#funding-alert").html('<div class="alert alert-danger">' + data['message'] + '</div>');
                    }
                    //$('#insert-funding').find('.disable_btn').removeAttr("disabled");
            },
            error:function(data){
                console.log(data.responseText)
                $('#overlay').css("display", "none");
                //$('#insert-funding').find('.disable_btn').removeAttr("disabled");
            }
        });
        });
    }
    
    function insertChallengeData()
    {
        $('input#title').removeAttr('disabled');
        $('#description').removeAttr('disabled');
        $(function(){
                $('#insert_challenge').ajaxSubmit({
                url: Wo_Ajax_Requests_File() + '?f=funding&s=insert_challenge',
                beforeSend: function() {
                        //$('#insert-funding').find('.disable_btn').attr('disabled','disabled');
                        //$('.btn-success').attr('disabled','disabled');
                        $('#overlay').css("display", "block");
                        var percentVal = '0%';
                        bar.width(percentVal);
                        percent.html(percentVal);
                },
                uploadProgress: function (event, position, total, percentComplete) {
                    var percentVal = percentComplete + '%';
                    bar.width(percentVal);
                    $('#tag_funding_progress').slideDown(200);
                    percent.html(percentVal);
                },
		success: function(data) {
                    $('#overlay').css("display", "none");
                    if (data['status'] == 200) {
                        //$('input#title').attr('disabled',true);
                        //$('#description').attr('disabled',true);
                        $("#funding-alert").html('<div class="alert alert-success">'+ data['message'] +'</div>');
                        $("#challenge_link").val(data['challenge_link']);
                        $("#new_challengefund_id").val(data['challenge_id']);
                        setSocialLinks(data['challenge_link']);
                    } else if (data['message']) {
                            //$('input#title').attr('disabled',true);
                            //$('#description').attr('disabled',true);
                            //$('.btn-success').removeAttr("disabled");
                            Wo_Delay(function(){
                            },3000);
                            $("#funding-alert").html('<div class="alert alert-danger">' + data['message'] + '</div>');
                    }
				//$('#insert-funding').find('.disable_btn').removeAttr("disabled");
			},
            error:function(data){
                $('#overlay').css("display", "none");
                //$('#insert-funding').find('.disable_btn').removeAttr("disabled");
            }
        });
		});

	}
        
    var postURL = "";
    
    function updateMessage(elem){
        var encodedMsg = encodeURIComponent(elem.value + ' - ');

        $('#share-twitter').attr('href', "https://twitter.com/intent/tweet?text=" + encodedMsg + postURL);
        $('#share-fb').attr('href', "https://www.facebook.com/sharer/sharer.php?u=" + postURL);
        $('#share-whatsapp').attr('href', "https://api.whatsapp.com/send?text=" + encodedMsg + postURL);
        $('#share-pinterest').attr('href', "https://pinterest.com/pin/create/button/?url=" + postURL + '&amp;description=' + encodedMsg);
        $('#share-linkedin').attr('href', "https://www.linkedin.com/shareArticle?mini=true&amp;url=" + postURL + '&amp;summary=' + encodedMsg);
        $('#share-telegram').attr('href', "https://telegram.me/share/url?url=" + postURL + '&amp;text=' + encodedMsg);
    }
    
    function setSocialLinks(challenge_link)
    {
        postURL = challenge_link;
        $('#message').trigger('keyup');
    }
    
    function insertAcceptedChallengeData(){
            $(function(){
                    $('#insert_challenge').ajaxSubmit({
                    url: Wo_Ajax_Requests_File() + '?f=funding&s=insert_accepted_challenge',
                    beforeSend: function() {
                            //$('#insert-funding').find('.disable_btn').attr('disabled','disabled');
                            //$('.btn-success').attr('disabled','disabled');
            $('#overlay').css("display", "block");
            var percentVal = '0%';
            bar.width(percentVal);
            percent.html(percentVal);
                    },
        uploadProgress: function (event, position, total, percentComplete) {
        var percentVal = percentComplete + '%';
            bar.width(percentVal);
            $('#tag_funding_progress').slideDown(200);
            percent.html(percentVal);
    },
                    success: function(data) {
            $('#overlay').css("display", "none");
                            if (data['status'] == 200) {
                                    //$('.btn-success').removeAttr("disabled");
                $("#challenge_link").val(data['challenge_link']);
                                    Wo_Delay(function(){
                                    //window.location = data['url'];
                                    },3000);
                                    $("#funding-alert").html('<div class="alert alert-success">'+ data['message'] +'</div>');
                $("#new_challengefund_id").val(data['challenge_id']);
                setSocialLinks(data['challenge_link'])

                            } else if (data['message']) {
                                    //$('.btn-success').removeAttr("disabled");
                                    $("#funding-alert").html('<div class="alert alert-danger">' + data['message'] + '</div>');
                            }
                            //$('#insert-funding').find('.disable_btn').removeAttr("disabled");
                    },
        error:function(data){
            $('#overlay').css("display", "none");
            //$('#insert-funding').find('.disable_btn').removeAttr("disabled");
        }});
            });

    }
</script>

<script>
	/*jQuery(document).ready(function($) {    
		var thumb_drop_block = $("[data-block='thumdrop-zone']");
		if (typeof(window.FileReader) == 'undefined') {
		thumb_drop_block.find('.thumbnail-rendderer div').text('Drag drop is not supported in your browser!');
		}
		else{
		thumb_drop_block[0].ondragover = function() {
			thumb_drop_block.addClass('hover');
			return false;
		};
		thumb_drop_block[0].ondragleave = function() {
			thumb_drop_block.removeClass('hover');
			return false;
		};
		thumb_drop_block[0].ondrop = function(event) {
			event.preventDefault();
			thumb_drop_block.removeClass('hover');
			var file = event.dataTransfer.files;
			$("#thumbnail").prop('files', file);
			$("#wow_fcov_img_holder").html("<img src='" + window.URL.createObjectURL(event.dataTransfer.files[0]) + "' alt='Picture'>")
		};
		}

		$("#thumbnail").change(function(event) {
                    $("#wow_fcov_img_holder").html("<img src='" + window.URL.createObjectURL(this.files[0]) + "' alt='Picture'>")
		});

	
	});*/	
</script> 


<!-- //  Multiple images and videos end -->

<script type="text/javascript">
	function Tag_addSpecial(code, input) {
		tareaTag = $(input);
		tareaVal = tareaTag.val();
		if(typeof (tareaTag.attr('placeholder')) != "undefined") {
			inputPlaceholder = tareaTag.attr('placeholder');
			if(inputPlaceholder == tareaVal) {
				tareaTag.val('');
				tareaVal = tareaTag.val();
			}
		}
		if(tareaVal.length == 0) {
			tareaTag.val(code);
		} else {
			tareaTag.val(tareaVal + ' ' + code);
		}
		tareaTag.keyup().focus();
	}

	jQuery(document).click(function(event){
		if (!(jQuery(event.target).closest(".wow_pub_privacy").length)) {
			jQuery('.wow_pub_privacy').removeClass('showMenu');
		}
	});

	var deleted_images = [];
	function DeleteImageById(name,id) {
		deleted_images.push(name);
		$('#image_to_'+id).remove();
	}
		
	$(document).ready(function() {
		$("#challenge-photos").on('change', function() {
                        var numFiles = this.files.length;
			deleted_images = [];
			var countFiles = $(this)[0].files.length;
			var imgPath = $(this)[0].value;
			var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
			var image_holder = $("#challenge-image-holder");
			image_holder.empty();
                        
                        if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
                                if (typeof(FileReader) != "undefined") {
                                        $(".photo-form").show(100);
					for (var i = 0; i < countFiles; i++) {
						var reader = new FileReader();
						var ii = 0;
						reader.onload = function(e) {
                                                        name = "'"+$("#challenge-photos")[0].files[ii].name+"'";
                            
							image_holder.append('<div  id="image_to_'+ii+'"><span class="thumb-image-delete"><span onclick="DeleteImageById('+name+','+ii+')" class="btn btn-mat thumb-image-delete-btn"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" /></svg></span><img src="'+e.target.result+'" class="thumb-image"></span></div>')
							ii = ii +1;
						}
						image_holder.show();
						reader.readAsDataURL($(this)[0].files[i]);
					}
				} else {
					$("body").snackbar({
						message: "This browser does not support FileReader"
					});
				}
			}
		});
	});
	
</script>

<script>
var fetch_url = 1;
$(function () {

	var allowed = "<?php echo $wo['config']['allowedExtenstion']?>";
	<?php if (!empty($url)) { ?>
		$('textarea').trigger('click');
		setTimeout(function () {
			$('textarea').trigger('keyup')
		}, 1000);
	<?php } ?>
	$('.postText').triggeredAutocomplete({
		hidden: '#hidden_inputbox',
		source: Wo_Ajax_Requests_File() + "?f=mention",
		trigger: "@" 
	});
	<?php if ($wo['config']['maxCharacters'] != 10000) { ?>
		$('.postText').limit("<?php echo $wo['config']['maxCharacters']?>", '#charsLeft');
	<?php } ?>
	$('.postText').triggeredAutocomplete({
		hidden: '#hidden_inputbox',
		source: Wo_Ajax_Requests_File() + "?f=mention",
		trigger: "@" 
	});
	<?php if ($wo['config']['maxCharacters'] != 10000) { ?>
		$('.postText').limit("<?php echo $wo['config']['maxCharacters']?>", '#charsLeft');
	<?php } ?>


	
	$("#publisher-video").on('change',function () {
		var filename = $(this).val().replace(/C:\\fakepath\\/i, '');
		var video_file = $(this).prop('files')[0];
		var video_blob = window.URL.createObjectURL(video_file);

		$("#post_video").html('<source src="' + video_blob + '" type="video/mp4">');
		$("#post_video")[0].load();
		$(".video-form").slideDown(200);
		if (Wo_IsFileAllowedToUpload(filename, allowed) == false) {
			$("body").snackbar({
				message: "<?php echo $wo['lang']['file_not_supported']; ?>"
			});
			$("#publisher-video").val('');
			$("#post_video").html('');
			$(".video-form").slideUp(200);
			return false;
		}
	});

	$("#publisher-music").on('change',function () {
		var filename = $(this).val().replace(/C:\\fakepath\\/i, '');
		$(".music-form input").val(filename);
		$(".music-form").slideDown(200);
		if (Wo_IsFileAllowedToUpload(filename, allowed) == false) {
			$("body").snackbar({
				message: "<?php echo $wo['lang']['file_not_supported']; ?>"
			});
			$("#publisher-music").val('');
			$(".music-form input").val('');
			$(".music-form").slideUp(200);
			return false;
		}
	});

	$(document).on("click",".read-ads-description",function(event) {
		var self = $(this);
		self.toggleClass('unsetheight');
	});

	<?php if ($wo['config']['video_upload'] == 1) { ?>  
		var thumb_drop_block = $(".video-poster-image");

		if (typeof(window.FileReader) == 'undefined') {
			thumb_drop_block.find('.preview').text('Drag drop is not supported in your browser!');
		} else {
			thumb_drop_block[0].ondragover = function() {
				thumb_drop_block.addClass('hover');
				return false;
			};
			thumb_drop_block[0].ondragleave = function() {
				thumb_drop_block.removeClass('hover');
				return false;
			};
			thumb_drop_block[0].ondrop = function(event) {
				event.preventDefault();
				thumb_drop_block.removeClass('hover');
				var file = event.dataTransfer.files;
				$(".video-poster-image").find('.preview').hide(5, function() {
					$(".video-poster-image").find('.image').html($("<img>",{
						src:window.URL.createObjectURL(file[0])
					})).show(5);
				});
				$("#custom-video-thumb").prop('files', file);
			};
		}
	
		$("#custom-video-thumb").change(function(event) {
			$(".video-poster-image").find('.preview').hide(5, function() {
				$(".video-poster-image").find('.image').html($("<img>",{
					src:window.URL.createObjectURL(event.target.files[0])
				})).show(5);
			});
		});

		$(".video-custom-thumb").click(function(event) {
			$('.video-poster-image').slideToggle(200,function () {
				var display_stat = $(this).css('display');
				if (display_stat == 'none') {
					$(".video-poster-image").find('.preview').show(10);
					$(".video-poster-image").find('.image').empty().hide(10);
					$("#custom-video-thumb").val('');
				}
			});
		});
	<?php } ?>

	$(document).on('click', '.rads-views', function(event) {
            var self  = $(this);
		var ad_id = self.attr('id');
		var url   = self.find('a').attr('href');
		window.open(url, '_blank');
		if (ad_id) {
			$.ajax({
				url: Wo_Ajax_Requests_File() ,
				type: 'GET',
				dataType: 'json',
				data: {f: 'ads',s:'rads-v',ad_id:ad_id},
			})
			.done(/* pass */)
			.fail(/* pass */)
		}
		event.preventDefault();
	});

	var bar = $('#bar');
	var status = $('#status');
	var publisher_button = $('#publisher-button');

	$('form.publisher-box').ajaxForm({
		url: Wo_Ajax_Requests_File() + '?f=posts&s=insert_new_post',
		beforeSend: function () {
			$('.msg_progress').fadeIn(100);
			var percentVal = '0%';
			bar.width(percentVal);
			publisher_button.attr('disabled', true);
		},
		uploadProgress: function (event, position, total, percentComplete) {
			var percentVal = percentComplete + '%';
			bar.width(percentVal);
			$('.tag_pub_box_progress').fadeIn(100);
		},beforeSubmit: function (a,b,c) {
			for (var i = 0 ;i < a.length ; i++) {
				if (a[i].name == 'postPhotos[]') {
					for (var b = 0 ;b < deleted_images.length ; b++) {
						if (a[i].value.name == deleted_images[b]) {
							a[i] = {name:'',value:''};
						}
					}
				}
			}
			deleted_images = [];
		},
		success: function (data) {
			$('#tagPostBox').modal('hide');
			$('#post_color_input').val("");
			$('.all_colors').hide();
			$('.wo_pub_txtara_combo').css("cssText", "");
			$('.postText').css("cssText", "");
			$('.publisher-box').removeClass('wo_pub_change_color');
			$('.msg_progress').fadeOut(100);
			$('.tag_pub_box_progress').fadeOut(100);
			publisher_button.attr('disabled', false);
			$("#postRecord").val('');
			$("#postSticker").val('');
			if(data.status == 200) {
				if(data.html.length > 0) {
					$('#posts, #posts_hashtag').find('.posts-container').remove();
				}
				$('#posts, #posts_hashtag').prepend(data.html);
				if (data.send_notify && data.send_notify == 'yes' && data.post_id) {
					$.post(Wo_Ajax_Requests_File() + '?f=posts&s=send_notify', {post_id: data.post_id}, function(data, textStatus, xhr) {});
				}
				$('.video-form, .emo-form, .music-form, .map-form, .file-form, .photo-form, .album-form, .feeling-type, .poll-form, .gif-form').slideUp(200);
				$(".video-poster-image").hide(10, function() {
					$(this).find('.preview').show(10);
					$(this).find('.image').empty().hide(10);
				});
				Wo_RemoveFetchedUrl();
				Wo_HidePosInfo();
				$('.pub-footer-upper').removeClass('tag_pub_btns_col_smal');
				$('form.publisher-box').clearForm();
				$('.feelings-value').html('');
				$('#postSticker').html('');
				$('select').prop('selectedIndex', 1);
				<?php if ($wo['config']['maxCharacters'] != 10000) { ?>
					$('#charsLeft').text("<?php echo $wo['config']['maxCharacters']?>");
				<?php } ?>
				<?php if (!empty($url)) { ?>
					window.close();
				<?php } ?>
				if (data.invalid_file == 1) {
					$("body").snackbar({
						message: "<?php echo str_replace('{file_size}', Wo_SizeUnits($wo['config']['maxUpload']), $wo['lang']['file_too_big']); ?>"
					});
				} else if(data.invalid_file == 2){
					$("body").snackbar({
						message: "<?php echo $wo['lang']['file_not_supported']; ?>"
					});
				} else if(data.invalid_file == 3){
					$("body").snackbar({
						message: "<?php echo $wo['lang']['adult_image_file']; ?>"
					});
				} else if(data.invalid_file == 4){
					$("body").snackbar({
						message: "<?php echo $wo['lang']['approve_post_text']; ?>"
					});
				} else{
					if (data.errors && data.errors != '') {
						$("#error_post").modal('show');
						$('#error_post_text').text(data.errors);
						Wo_Delay(function(){
							$("#error_post").modal('hide');
						},3000);
					}
				}
			} else if (data.status == 400) {
				if (data.invalid_file == 1) {
					$("body").snackbar({
						message: "<?php echo str_replace('{file_size}', Wo_SizeUnits($wo['config']['maxUpload']), $wo['lang']['file_too_big']); ?>"
					});
				} else if(data.invalid_file == 2){
					$("body").snackbar({
						message: "<?php echo $wo['lang']['file_not_supported']; ?>"
					});
				} else if(data.invalid_file == 3){
					$("body").snackbar({
						message: "<?php echo $wo['lang']['adult_image_file']; ?>"
					});
				} else if(data.invalid_file == 4){
					$("body").snackbar({
						message: "<?php echo $wo['lang']['free_plan_upload']; ?>",
						option: true,
						optionText: "<?php echo $wo['lang']['upgrade']; ?>",
						callback: function() {
							window.location.href = "<?php echo Wo_SeoLink('index.php?link1=go-pro'); ?>";
						}
					});
				} else{
					if (data.errors && data.errors != '') {
						$("#error_post").modal('show');
						$('#error_post_text').text(data.errors);
						Wo_Delay(function(){
							$("#error_post").modal('hide');
						},3000);
					}
				}
			} 
			fetch_url = 1;
			publisher_button.attr('disabled', false);
		}
	});

	var getUrl  = $('.postText');
	var sent = 0;
	$('.postText').bind("paste keyup input propertychange", function(e) {    
		if (($(".extracted_url").length > 0)){
			return false;
		} else if (/(https?:\/\/(?:.*)\.(?:png|jpg|gif|jpeg))/ig.test(getUrl.val())) {
			/* pass */
		} else {
			var match_url = /(https?:\/\/[^\s]+)/g;
			if (match_url.test(getUrl.val()) && sent == 0 && fetch_url == 1) {
				sent = 1;

				$("#results").hide();
				$('.msg_progress').fadeIn(100);
				var extracted_url = getUrl.val().match(match_url)[0];

				$.post(Wo_Ajax_Requests_File() + '?f=posts&s=fetch_url',{'url': extracted_url}, function(data){         
					extracted_images = data.images;
					total_images     = parseInt(data.images.length-1);
					img_arr_pos      = total_images;
					if(extracted_images != ''){
						inc_image   = '<div class="extracted_thumb" id="extracted_thumb"><img src="'+data.images[img_arr_pos]+'"></div>';
						input_image = data.images[img_arr_pos];
					} else {
						inc_image   = '';
						input_image = '';
					}
            
					var img_content = '';
					if (total_images > 1) {
						img_content = '<div class="thumb_select"><span class="small_text" id="total_imgs">'+img_arr_pos+' of '+total_images+'</span><span class="next_thumb" id="thumb_prev"><svg xmlns="http://www.w3.org/2000/svg" height="22" viewBox="0 0 24 24" width="22"><path fill="currentColor" d="M14.71 6.71c-.39-.39-1.02-.39-1.41 0L8.71 11.3c-.39.39-.39 1.02 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L10.83 12l3.88-3.88c.39-.39.38-1.03 0-1.41z"/></svg></span><span class="prev_thumb" id="thumb_next"><svg xmlns="http://www.w3.org/2000/svg" height="22" viewBox="0 0 24 24" width="22"><path fill="currentColor" d="M9.29 6.71c-.39.39-.39 1.02 0 1.41L13.17 12l-3.88 3.88c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41L10.7 6.7c-.38-.38-1.02-.38-1.41.01z"/></svg></span></div>';
					}
					var content = '<div class="extracted_url"><span class="btn btn-mat thumb-image-delete-btn" onclick="Wo_RemoveFetchedUrl();"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span>'+ inc_image +'<div class="extracted_content"><input class="url-input" type="text" name="url_title" value="'+data.title+'" dir="auto"><textarea onkeyup="textAreaAdjust(this, 70)" class="url-input-textarea url-input" name="url_content" placeholder="<?php echo $wo['lang']['description']?>" dir="auto">' + data.content + '</textarea><input type="hidden" id="url_image" name="url_image" value="'+ input_image +'"><input type="hidden" id="url_link" name="url_link" value="'+data.url+'"><div class="clear"></div>' + img_content;
					if (data.tweet && data.tweet == 'yes') {
						var content = '<div class="extracted_url"><span class="btn btn-mat thumb-image-delete-btn" onclick="Wo_RemoveFetchedUrl();"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span>'+ inc_image +'<div class="extracted_content"><input class="url-input hidden" type="text" name="url_title" value="'+data.title+'" dir="auto"><textarea onkeyup="textAreaAdjust(this, 70)" class="url-input-textarea url-input hidden" name="url_content" placeholder="<?php echo $wo['lang']['description']?>" dir="auto">' + data.content + '</textarea><input type="hidden" id="url_image" name="url_image" value="'+ input_image +'"><input type="hidden" id="url_link" name="url_link" value="'+data.url+'"><div class="clear"></div>' + img_content+data.content;
					}
					if (data.mp4 && data.mp4 == 'yes') {
						var content = '<div class="extracted_url"><span class="btn btn-mat thumb-image-delete-btn" onclick="Wo_RemoveFetchedUrl();"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span>'+data.content+'<div class="clear"><input type="hidden" id="url_link" name="url_link" value="'+data.url+'"><input class="url-input hidden" type="text" name="url_title" value="mp4" dir="auto"></div>';
					}
					$("#results").html(content); 
					$("#results").fadeIn(); 
					$('.msg_progress').fadeOut(100);
					sent = 0;
				},'json');
			}
		}
	});

	$("body").on("click","#thumb_prev", function(e){    
		if(img_arr_pos>0) {
			img_arr_pos--; 
			$("#extracted_thumb").html('<img src="'+extracted_images[img_arr_pos]+'">');
			$("#url_image").attr('value', extracted_images[img_arr_pos]);
			$("#total_imgs").html((img_arr_pos) +' of '+ total_images);
		}
	});
  
	$("body").on("click","#thumb_next", function(e){    
		if(img_arr_pos<total_images) {
			img_arr_pos++;
			$("#extracted_thumb").html('<img src="'+extracted_images[img_arr_pos]+'">');
			$("#url_image").attr('value', extracted_images[img_arr_pos]);
			$("#total_imgs").html((img_arr_pos) +' of '+ total_images);
		}
	});


});

function Wo_RemoveFetchedUrl() {
	fetch_url = 0;
	var content = $('form.publisher-box').find('.extracted_url');
	content.slideUp(function () {
		$(this).remove();
		if ($('.postText').val() != '') {
			$('.postText').focus();
		}
	});
}


var pac_input2 = document.getElementById('feelings-text');
function Wo_ShowFeelingType(type, text, placeholder, icon) {
	$('.feeling-types').slideUp(200, function () {
		$('.feelings-type-to').html(text);
		$('#feelings-text').attr('placeholder', decodeHtml(placeholder)).focus();
		$('#feeling-type').val(type);
		if (type != 'feelings') {
			$('#feelings-text').attr('readonly', false);
		}
		<?php if ($wo['config']['google_map']) { ?>
			if (type == 'traveling') {
				var autocomplete = new google.maps.places.Autocomplete(pac_input2);
			} else {
				google.maps.event.clearInstanceListeners(pac_input2);
			}
		<?php } ?>
		$('.' + type).slideToggle(200);
	});
}

function Wo_RestFeelings() {
	$('.feelings-type-to, .feelings-value').empty();
	$('#feelings-text').val('');
	$('#feelings-text').attr('readonly', true);
	$('#feelings-text').attr('placeholder', decodeHtml("<?php echo $wo["lang"]["feel_d"]?>"));
	$('.feeling-type, .feelings-type').slideUp(200);
	<?php if ($wo['config']['google_map']) { ?>
		google.maps.event.clearInstanceListeners(pac_input2);
	<?php } ?>
	Wo_ShowFeelings();
}

function Wo_AddFeeling(type, text, icon) {
	$('#feelings-text').val(type);
	$('.feelings-value').html('<i class="twa-lg twa twa-' + icon + '"></i> ' + text + '')
	Wo_ShowFeelingType('feelings', 'Feeling', 'What are you feeling ?', 'smile-o');
}
function smokeTheAt(str) {
	var n = str.search("@");
	if(n != "-1"){
		alert('sd');
	}
}

function Wo_AddAnswer() {
	answer_id = 0;
	$('.answers').find('input').each(function (index_id) {
		answer_id = Number(index_id) + 1;
	});
	var last_answer_id = (Number(answer_id) + 1);
	if (last_answer_id < 9) {
		$('.answers').append('<input name="answer[]" type="text" placeholder="<?php echo $wo['lang']['answer'] ?> ' + last_answer_id + '">');
		if (last_answer_id == 8) {
			$('#add_answer').hide();
		}
		$('.answers').find('input:last').focus();
	} else {
		$('#add_answer').hide();
	}
}

function Wo_HidePosInfo() {
	$(".postText").attr('opened', '0');
	fetch_url = 1;
}

$(document).on('focus', '#publisher-box-focus',function(){
	if(navigator.userAgent.toLowerCase().indexOf('firefox') > -1){
  		$(".postText").attr('opened', '1');
	}
});

function tag_closePubBox() {
	Wo_HidePosInfo();
	$('.tag_pub_box_progress').fadeOut(100);
	$('.msg_progress').fadeOut(100);
	$('.pub-footer-upper').removeClass('tag_pub_btns_col_smal');
	$('.video-form, .emo-form, .music-form, .map-form, .file-form, .photo-form, .album-form, .feeling-type, .poll-form, .gif-form').slideUp(200);
	$('.all_colors').hide();
	$('.wo_pub_txtara_combo').css("cssText", "");
	$('.postText').css("cssText", "");
	$('#post_color_input').val("");
	$('.publisher-box').removeClass('wo_pub_change_color');
	$(".all_colors_display").removeClass('selected');
}

function Wo_ResetAnswers() {
	$('.answers').find('input').each(function (index_id) {
		$(this).val('');
	});
	$('.poll-form').slideUp(200);
}
function Wo_PostSticker(self){
	if (!self) {
		return false;
	}
	$('#postSticker').val($(self).attr('data-gif'));
	Wo_Delay(function(){
		Wo_GetPRecordLink();
	},500)
}

function Wo_GetPostStickers(keyword){
	if (!keyword) {
		//return false;
	}
	$('.msg_progress').fadeIn(100);
	Wo_Delay(function(){
		$.ajax({
			url: 'https://api.giphy.com/v1/gifs/search?',
			type: 'GET',
			dataType: 'json',
			data: {q:keyword,api_key:'<?php echo $wo['config']['giphy_api'];?>', limit: 20},
		})
		.done(function(data) {
			if (data.meta.status == 200 && data.data.length > 0) {
				$('#publisher-box-stickers-cont').empty();
				var appended = false;
				for (var i = 0; i < data.data.length; i++) {
					appended = true;
					if (appended == true) {
						appended = false;
						$('#publisher-box-stickers-cont').append($('<div><span><img alt="gif" src="'+data.data[i].images.fixed_height_small.url+'" data-gif="' + data.data[i].images.downsized_large.url + '" onclick="Wo_PostSticker(this)" autoplay loop></span></div>'));
						appended = true;
					}
				}
				var images = 0;
				Wo_ElementLoad($('img[alt=gif]'), function(){
					images++;
				});
				$('.msg_progress').fadeOut(100);
			}
			else{
				$('.msg_progress').fadeOut(100);
				$('#publisher-box-stickers-cont').html('<div class="empty_state"><svg height="512pt" viewBox="0 0 512 512" width="512pt" xmlns="http://www.w3.org/2000/svg"><path d="m416 512h-320c-53.023438 0-96-42.976562-96-96v-320c0-53.023438 42.976562-96 96-96h320c53.023438 0 96 42.976562 96 96v320c0 53.023438-42.976562 96-96 96zm0 0" fill="#f5e6fe"/><path d="m229.425781 303.902344c0-39.359375 30.652344-71.644532 69.328125-74.398438v-69.601562c0-17.644532-14.355468-32-32-32h-106.675781c-17.644531 0-32 14.355468-32 32v149.328125c0 17.648437 14.355469 32 32 32h79.441406c-6.382812-10.992188-10.09375-23.710938-10.09375-37.328125zm-50.769531-46.078125c-7.039062-7.039063-19.425781-7.039063-26.464844 0l-2.765625 2.769531v-100.691406c0-5.886719 4.78125-10.671875 10.671875-10.671875h106.671875c5.886719 0 10.671875 4.785156 10.671875 10.671875v68.691406l-8.113281-8.113281c-7.296875-7.296875-19.167969-7.296875-26.464844 0l-50.765625 50.765625zm0 0" fill="#be63f9"/><path d="m381.328125 365.34375-28.625-28.625c6.351563-9.375 10.050781-20.65625 10.050781-32.796875 0-32.335937-26.320312-58.675781-58.675781-58.675781-32.351563 0-58.671875 26.320312-58.671875 58.675781 0 32.351563 26.320312 58.671875 58.671875 58.671875 12.515625 0 24.097656-3.96875 33.632813-10.671875l28.511718 28.511719c2.082032 2.078125 4.816406 3.117187 7.539063 3.117187 2.71875 0 5.453125-1.039062 7.535156-3.117187 4.191406-4.175782 4.191406-10.929688.03125-15.089844zm-77.230469-24.097656c-20.578125 0-37.328125-16.75-37.328125-37.324219 0-20.578125 16.75-37.328125 37.328125-37.328125 20.574219 0 37.328125 16.75 37.328125 37.328125 0 20.574219-16.753906 37.324219-37.328125 37.324219zm0 0" fill="#d9a4fc"/><path d="m202.753906 202.574219c0 11.78125-9.550781 21.328125-21.328125 21.328125-11.78125 0-21.328125-9.546875-21.328125-21.328125 0-11.777344 9.546875-21.328125 21.328125-21.328125 11.777344 0 21.328125 9.550781 21.328125 21.328125zm0 0" fill="#be63f9"/></svg><?php echo $wo['lang']['no_result']; ?></div>');
			}
		})
		.fail(function() {
			console.log("error");
		})
	},100);
}


</script>
<?php 
	if (isset($_GET['id']) && is_numeric($_GET['id']) && $_GET['id'] > 0) { ?>
			<script>
				setFundId(<?=$_GET['id']?>);
				setChallengeId(<?=$_GET['challenge_fund_id']?>);
				getCampaignDetailById(<?=$_GET['id']?>);
			</script>
<?php } ?>
<?php 
if(isset($_GET['fund_id']) && !empty($_GET['fund_id'])){ ?>
		<script>
			setFundId(<?=$_GET['fund_id']?>);
			getCampaignDetailById(<?=$_GET['fund_id']?>);
		</script>
<?php } ?>
<script>
/*$(function(){
	$('#campaign_detail_form').ajaxSubmit({
            url: Wo_Ajax_Requests_File() + '?f=funding&s=get_all_challenges',
            beforeSend: function() {
                    var challeneTitle = [];
            },
            success: function(data) {
                    if (data['status'] == 200) {
                    // window.location = data.url;
                            window.challenge = data['challenges'];
                            var challeneTitle = data['title'];
                            $('input#title').autocomplete({
                                    source: challeneTitle,
                                    minLength: 0,
                                    change: function (event, ui) { 
                                        selectedchallenge(ui.item.id); 
                                    }
                            });
                    } else if (data['message']) {
                    }
            }
        });
});
*/
function selectedchallenge(value){
    $('#challenge_id').val(value);
}

function searchCampaign(){

	disableSearch(true);

	var search = $('#search').val();
	
	if(search == ''){
		if ($('#campaigns').find('#search-campaigns').length) {
    		// found!
			location.reload();
		}
		disableSearch(false);

	}else{
		$('#campaigns').empty();
		$.ajax({
		url: Wo_Ajax_Requests_File() + '?f=funding&s=search_funding',
			type: 'GET',
			dataType: 'json',
			data: {search:search},
		})
		.done(function(data) {
			if(data['status'] == 200){
				$('#campaigns').append(data['html']);
				disableSearch(false);
			}else{
				disableSearch(false);

			}
		})
		.fail(function() {
			console.log("error");
		});
	}

}

// event listsner
$('input#search').keyup(function(e){
    if(e.keyCode == 13)
    {
		searchCampaign();
	}
});

function disableSearch($boo){
	$('#search').prop( "disabled", $boo );
	$('#searchBtn').prop( "disabled", $boo );
}
</script>