  <div id="campaigns" class="page-margin">
      <h5><?=$wo['lang']['latest_campaigns'];?></h5>
        <div id="recent-funding" class="row fundings_prnt">
	<?php
       $funding = defaultCampaignForCreatingChallenge(9);
        if (count($funding) > 0) {
            foreach ($funding as $key => $wo['fund']){
                //if($wo['fund']['status'] != '0' && $wo['fund']['status'] != '4'){
                echo Wo_LoadPage('create_challenge/campaign-list'); 
                //} 
            }                   
        }
        else {
            echo '<div class="empty_state"><svg xmlns="http://www.w3.org/2000/svg" width="50pt" height="50pt" viewBox="0 0 50 50"><path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:currentColor;stroke-opacity:1;stroke-miterlimit:4" d="M22 12c0 5.524-4.476 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.476 10 10zM12 8v4m0 4h0" transform="scale(2.08333)"/></svg>' . $wo['lang']['no_funding_found'] . '</div>';
        }
	?>
    </div>
</div>
