<div id="campaign-box">
    <div id="search-box">
    <!-- <form method="GET" action="#" role="button" id="navbar-searchbox"> -->
    <!-- <input type="search" class="search-input" onkeyup="Wo_DetectSearchType(this.value), document.getElementById('wo_repeat_search').innerHTML = escapeHtml(this.value)" placeholder="Search for people, pages, groups and #hashtags" onfocus="Wo_GetRecentSearchs()"> -->
    <!-- </form> -->
    </div>
    <div id="campaign-loaded">
        
    </div>
</div>

<script>
$(function(){
    loadCampaigns();
});

function loadCampaigns() {
    console.log('started');
	$("#campaign-loaded").load(Wo_Ajax_Requests_File() + '?f=load-campaigns', function enter() {
		Wo_FinishBar();
		window.fbAsyncInit = function() {
		  FB.init({
			appId      : '374255706379985',
			xfbml      : true,
			version    : 'v3.2'
		  });
		};
	  	// $(".post-description p, .product-description").each(function(index, el) {
	  	// 	$(this).readmore({
		//       speed: 75,
		//       moreLink: '<a href="#" class="hash"><?php echo $wo["lang"]["read_more"];?></a>',
		//       lessLink: '<a href="#" class="hash"><?php echo $wo["lang"]["read_less"];?></a>'
		//     });
	  	// });
	  	// $(".post-commet-textarea .textarea").triggeredAutocomplete({
	    //    hidden: '#hidden_inputbox_comment',
	    //    source: Wo_Ajax_Requests_File() + "?f=mention",
	    //    trigger: "@" 
	    // });
	  	// $(".comment-reply textarea").triggeredAutocomplete({
	    //    hidden: '#hidden_inputbox_comment_reply',
	    //    source: Wo_Ajax_Requests_File() + "?f=mention",
	    //    trigger: "@"
	    // });
	    // $('#load-more-posts').show();

	});
}
</script>