<h5><?=$wo['lang']['search_results'];?></h5>
<div id="search-campaigns">
	<?php
            $search_query = Wo_GetSearchAdv($_GET['search'], 'fundings');
            if (count($search_query) <= 0) {
                // echo Wo_LoadPage('story/no-stories');
                echo '<div><p>No results found</p></div>';
            } else {
                echo '<div class="form-group row">';
            
                $i = 0;
                foreach($search_query as $post){
                    $imageView = "<img src='".$post['fund_data']['image']."' alt='".$post['fund_data']['title']."'>";
                    
        ?>
    
    <div class="col-lg-4 col-md-6">
    <!--<div class="col-md-4 col-sm-4 mb-1">-->
        <div class="wow_content fundings">
            <div class="avatar">
                <a href="<?php echo $wo['config']['site_url'].'/show_fund/'. $post['fund_data']['hashed_id']; ?>" data-ajax="?link1=show_fund&id=<?php echo $post['fund_data']['hashed_id']; ?>">
                    <?= empty($post['fund_data']['image']) != 1 ? $imageView : ""  ?>
                </a>
            </div>
            <div class="fundings_desc">
                <h3><a title="<?php echo $post['fund_data']['title']; ?>" href="<?php echo $wo['config']['site_url'].'/show_fund/'. $post['fund_data']['hashed_id']; ?>" data-ajax="?link1=show_fund&id=<?php echo($post['fund_data']['hashed_id']) ?>"><?php echo $post['fund_data']['title']; ?></a></h3>
                <div class="campaign_progress">
                    <div>
                            <span class="pull-right">
                            <?php if(!empty($post['fund_data']['due_date'])){ ?>
                                    <time><?php echo Wo_Time_Elapsed_String(strtotime($post['fund_data']['due_date']),"due_date"); ?></time>
                            <?php }?>
                            </span>
                            <p><span class="bold"><?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].$post['fund_data']['raised']; ?></span> of <?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].$post['fund_data']['amount']; ?> <?php echo $wo['lang']['raised_of']; ?></p>
                    </div>
                    <div class="fund_raise_bar">
                        <div class="progress mb-2">
                            <div class="progress-bar" role="progressbar" style="width: <?php echo $post['fund_data']['bar']; ?>%" aria-valuenow="<?php echo $post['fund_data']['bar']; ?>" aria-valuemin="0" aria-valuemax="<?php echo($post['fund_data']['amount']) ?>"></div>
                        </div>
                    </div>     
                </div>
            </div>
            <div class="fundings_footer">
                <a class="btn btn-mat btn-success btn-fullwidth selectBtn" data="<?php echo $post['fund_data']['id']; ?>"  onclick="setFundId(<?php echo $post['fund_data']['id']; ?>)">Select</a>
            </div>
        </div>
        
    </div>
    
        <?php
        
                }
                echo '</div>'; // form-group close
            }
        ?>
</div>
