<div class="page-margin" >
   <div class="container">		
   	<h2 class="tag_page_title m5"><?php echo $wo['lang']['challenge'];?></h2>
   		<div class="page-margin wow_content wow_sett_content">
			<div class="valign wo_page_hdng">
				<?php echo $wo['lang']['create_challenge'];?>
			</div>
			 <div class="campaign_users_container">
				<div class="show-fund-info-user">
					<div class="postMeta--author-avatar large">
						<h4><?=$wo['lang']['create_challenge_success_thankyou']?></h4>
                                                <p>&nbsp;</p>
						<p><?=$wo['lang']['create_challenge_success_instructions']?></p>
                                                <p>&nbsp;</p>
                                                <p>&nbsp;</p>

						<?php $post_id = Wo_GetPostIdByChallengeFundId($wo['fund']['id']); ?>
						
                                                <div class="btn btn-main btn-mat m-2" onclick="Wo_SharePostOn(<?=$post_id?>,<?=$wo['user']['user_id']; ?>,'timeline')" title="<?php echo $wo['lang']['share'];?>" data-toggle="tooltip">
					          <!--<span class="icoo">
					          	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M3,12c0,1.654,1.346,3,3,3c0.794,0,1.512-0.315,2.049-0.82l5.991,3.424C14.022,17.734,14,17.864,14,18c0,1.654,1.346,3,3,3 s3-1.346,3-3s-1.346-3-3-3c-0.794,0-1.512,0.315-2.049,0.82L8.96,12.397C8.978,12.266,9,12.136,9,12s-0.022-0.266-0.04-0.397 l5.991-3.423C15.488,8.685,16.206,9,17,9c1.654,0,3-1.346,3-3s-1.346-3-3-3s-3,1.346-3,3c0,0.136,0.022,0.266,0.04,0.397 L8.049,9.82C7.512,9.315,6.794,9,6,9C4.346,9,3,10.346,3,12z"/></svg>
					          </span>-->
                                                  <?php echo $wo['lang']['share'];?>
					        </div>
					      
                                                <a href="<?php echo Wo_SeoLink('index.php?link1=setting&page=affiliates');?>" class="btn btn-main btn-mat m-2" data-ajax="?link1=setting&page=affiliates"><?php echo $wo['lang']['invite_friends'];?></a>    
                                                <a class="btn btn-main btn-mat m-2" data-ajax="?link1=my_challenges" href="<?php echo Wo_SeoLink('index.php?link1=my_challenges');?>">
							<?php echo $wo['lang']['my_challenges'];?>
                                                </a>
					</div>
					

				</div>
			</div>
		</div>
	</div>
</div>