<?php 
$message_count = Wo_CountMessages(array('new' => true,'user_id' => $wo['chatList']['user_id']));  
?>
<div class="dropdown recipient-chat-user" id="online_<?php echo $wo['chatList']['user_id'];?>">
	<div class="pointer user-info btn-mat-raised" data-toggle="dropdown" data-display="static" role="button" onclick="Wo_OpenChatTab(<?php echo $wo['chatList']['user_id'];?>);">
		<img src="<?php echo $wo['chatList']['avatar'];?>" alt="<?php echo $wo['chatList']['name'];?>" />
		<span class="new-message-alert <?php echo ($message_count == 0) ? 'hidden' : ''; ?>"><?php echo $message_count; ?></span>
		<svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 24 24"><path fill="#60d465" d="M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" /></svg>
		<span class="valign chat-loading-icon"></span>
	</div>
	<ul class="dropdown-menu" role="menu">
		<div class="valign">
			<img src="<?php echo $wo['chatList']['avatar'];?>" alt="<?php echo $wo['chatList']['avatar'];?>" />
			<div>
				<div class="chat-user-text" id="chat-tab-id"><?php echo $wo['chatList']['name']; ?></div>
				<small><?php echo $wo['lang']['online']; ?></small>
			</div>
		</div>
	</ul>
</div>
<div class="clear"></div>