Hello {beneficiary_name},
<br><br>

Thank you for joining <a href="https://<?=$_SERVER['HTTP_HOST']?>"><?php echo $wo['config']['siteName']?>!</a><br><br>

Your temporary login credentials are: <br><br>
Username: {beneficiary_username}<br>
Password: {beneficiary_password}<br><br>

Please change your password as soon as possible to fully secure your account.
<br><br>

Best Regards,<br>
The <?php echo $wo['config']['siteName']?> Team.