Hello {organiser_name},
<br><br>

Congratulations! Your campaign target of {target_amount} has been reached!<br><br>

Campaign Name: {campaign_name}<br>
Campaign URL: {campaign_url}<br><br>


Best Regards,<br>
The <?php echo $wo['config']['siteName']?> Team.


