Hello {organiser_name},
<br><br>

Congratulations! Your campaign limit has been reached! A total of {amount_raised} has been raised. Your campaign is now disabled and no future donations will be accepted.<br><br>

Campaign Name: {campaign_name}<br>
Campaign URL: {campaign_url}<br><br>


Best Regards,<br>
The <?php echo $wo['config']['siteName']?> Team.


