Hello {organiser_name},
<br><br>

Your campaign status has been updated to {status} <br><br>

Campaign Name: {campaign_name}<br>
Campaign URL: {campaign_url}<br><br>


Best Regards,<br>
The <?php echo $wo['config']['siteName']?> Team.


