Hello {organiser_name},
<br><br>

<a href="{user_link}" alt="{user_fullname}">{user_fullname}</a> created a NEW CHALLENGE for your campaign <a href="{campaign_url}" alt="{campaign_name}">{campaign_name}</a><br><br>

Challenge Name: <b>{challenge_name}</b><br>
Challenge URL: {challenge_url}<br><br>

Please <a href="{challenge_url}" alt="{challenge_name}">view the challenge</a> ASAP. You can Reject it if you find it unsuitable for your campaign.<br><br>

Best Regards,<br>
The <?php echo $wo['config']['siteName']?> Team.



