Hi there,
<br><br>
You have received an invitation request from your friend <a style="color:<?php echo $wo['config']['btn_background_color'];?>" href="<?php echo $wo['user']['url']?>"><?php echo $wo['user']['name'];?></a> to join our social network community <a style="color:<?php echo $wo['config']['btn_background_color'];?>" href="<?php echo $wo['config']['site_url']. '/register?ref=' . $wo['user']['username'] ?>"><?php echo $wo['config']['siteName']?></a>.<br><br>
<a style="color:<?php echo $wo['config']['btn_background_color'];?>" href="<?php echo $wo['config']['site_url']. '/register?ref=' . $wo['user']['username'] ?>">Let's contact & find your friends !</a>
<br><br>
<?php echo $wo['config']['siteName']?> Team.
<br>
Best regards.
The <?=$wo['config']['siteName']?> Team.