Hello <?php echo $wo['user']['first_name'] ?>,
<br><br>

Thank you for joining <?php echo $wo['config']['siteName']?>!<br><br>

Your temporary login credentials are: <br><br>
Username: <?php echo $wo['user']['username'];?><br>
Password: <?php echo $wo['user']['email'];?><br><br>

Please change your password as soon as possible to fully secure your account.
<br><br>

Best Regards,<br>
The <?php echo $wo['config']['siteName']?> Team.