Hello <?php echo $wo['recover']['username'];?>,
<br>
<br>
To reset your password please <a href="<?php echo $wo['recover']['link']; ?>">Click Here</a>
<br><br>
Regards,<br>
The <?=$wo['config']['siteName']?> Team.