Hi <?php echo $wo['email']['username']; ?>,<br><br>

Please verify that it’s you<br><br>

Your sign in attempt seems a little different than usual. This could be because you are signing in from a different device or a different location.<br><br>

If you are attempting to sign-in, please use the following code to confirm your identity:<br><br>

<?php echo $wo['email']['code']; ?><br><br>

Here are the details of the sign-in attempt:<br>
Date: <?php echo $wo['email']['date']; ?><br>
Account: <?php echo $wo['email']['email']; ?><br>
Location: <?php echo $wo['email']['countryCode']; ?><br>
IP Address: <?php echo $wo['email']['ip_address']; ?><br>
City: <?php echo $wo['email']['city']; ?><br><br>

If this wasn’t you, please reset your password.<br><br>

Yours securely,<br>
Team <?php echo $wo['config']['siteName']?> Team.