<p>Hello {user_fullname},</p>

<p>Your verification request has been received!</p>

<p>The verification link expires in 24 hours. Please click the link below and complete the process ASAP. If you fail to complete the verification process within the timeframe, you will need to cancel your current verification request and re-submit a new one.</p>

<p>Please have one of the following documents ready before you start the ID verification process.</p>
<p>1. Your Passport</p>
<p>2. Your government-issued ID Card</p>
<br>
<p><a href="{verification_link}" alt="start verification"><strong>START VERIFICATION</strong></a></p>

<p>Best Regards,<br>
    The <?php echo $wo['config']['siteName']?> Team.</p>



