<div class="container">
	<div class="valign tag_startup">
		<div class="wow_content p20">
			<div class="row tag_startup_row">
				<div class="col-xl-4 col-lg-3">
					<?php if (Wo_IsMobile() == false) { ?>
					<div class="tag_startup_img step-4">
						<!--<p class="text-center startup_quote bold"><q><?php echo $wo['lang']['startup_step4_quote']; ?></q></p>-->
                                                <h2 class="text-center tag_page_title"><?php echo $wo['lang']['thank_you']; ?></h2>
						<img src="<?php echo $wo['config']['theme_url'];?>/img/start_up/thankyou.png" alt="<?php echo $wo['lang']['thank_you']; ?>">
					</div>
					<?php } ?>
				</div>
				<div class="col-xl-8 col-lg-9">
					<ul class="list-unstyled tag_steps">
						<li class="active"><div><?php echo $wo['lang']['ad_media']; ?></div></li>
						<li class="active"><div><?php echo $wo['lang']['info']; ?></div></li>
						<!-- <li class="active"><div><?php echo $wo['lang']['about']; ?></div></li> -->
						<li class="active"><div><?php echo $wo['lang']['follow']; ?></div></li>
						<li class="active"><div><?php echo $wo['lang']['thank_you']; ?></div></li>

					</ul>
					<hr>
					<div class="wow_usr_steps">
						<h4 class="text-center"><?=$wo['lang']['register_success_thank_you']?></h4>
						<br>
						<p class="text-center"><?=$wo['lang']['register_success_instruction']?></p>
						
						<div class="clear"></div>
					</div>
					<div class="wow_usr_steps_cont text-center">						
                                            <a href="<?php echo Wo_SeoLink('index.php?link1=setting&page=affiliates');?>" class="btn con-button btn-action btn-mat"><?php echo $wo['lang']['invite_friends'];?></a>    
                                            <a href="<?php echo Wo_SeoLink('index.php?link1=welcome');?>" class="btn con-button btn-main btn-mat"><?php echo $wo['lang']['home'];?></a>
                                        </div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(function() {
	$("#usr_birthday").datepicker({
		changeMonth: true,
		changeYear: true,
		maxDate: new Date('<?php echo date('Y')-14; ?>-12-31'),
		dateFormat: 'dd-mm-yy',
		yearRange: "<?php echo date('Y')-129; ?>:<?php echo date('Y')-14; ?>",
		prevText: '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" /></svg>',
		nextText: '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" /></svg>'
	});
});
function Wo_SubmitInfoForm() {
	$("form.setting-general-form").submit();
}
$(function () {
	$('form.setting-general-form').ajaxForm({
		url: Wo_Ajax_Requests_File() + '?f=update_user_information_startup',
		beforeSend: function () {
			$('button.disable_btn').attr('disabled', true);
			$('button.disable_btn').text("<?php echo $wo['lang']['please_wait'];?>");
		},
		success: function (data) {
			if(data.status == 200) {
				window.location.href = '<?php echo Wo_SeoLink('index.php?link1=start-up');?>';
			}
		}
	});
});
</script>