<div class="page-margin">
	<div class="container">
		<h2 class="tag_page_title m5"><a class="btn btn-mat btn_goback" data-ajax="?link1=pages" href="<?php echo Wo_SeoLink('index.php?link1=pages');?>?query=published"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path></svg></a><?php echo $wo['lang']['pages'];?></h2>   
                <div class="page-margin wow_content wow_sett_content">
			<div class="valign wo_page_hdng">
				<?php echo $wo['lang']['create_new_page'];?>
			</div>
			<form class="create-page-form form-horizontal" method="post">
				<label class="tag_field">
					<input id="page_title" name="page_title" type="text" placeholder=" ">
					<span><?php echo $wo['lang']['page_name'].'*'; ?></span>
				</label>
                                <div class="help-block"><?php echo $wo['lang']['page_name_help_text'];?></div>
				<label class="tag_field">
					<input id="page_name" name="page_name" type="text" placeholder=" ">
					<span><?php echo $wo['lang']['page_identifier'].'*';?></span>
				</label>
				<div class="help-block"><?php echo $wo['lang']['page_id_help_text'];?> <?php echo $wo['config']['site_url'];?>/[<?php echo $wo['lang']['page_identifier'];?>]</div>
				<label class="tag_field">
					<textarea name="page_description" id="page_description" rows="4" placeholder=" "></textarea>
					<span><?php echo $wo['lang']['page_description']; ?></span>
				</label>
				<div class="help-block"><?php echo $wo['lang']['page_description_info'];?></div>
				<label class="tag_field">
					<select name="page_category" id="page_category" onchange="GetPageSubCategory(this)">
                                                <option value=""><?php echo $wo['lang']['choose_category']; ?></option>
						<?php foreach ($wo['page_categories'] as $category_id => $category_name) {?>
							<option value="<?php echo $category_id?>"><?php echo $category_name; ?></option>
						<?php } ?>
					</select>
					<span><?php echo $wo['lang']['page_category']; ?></span>
				</label>
				<?php if (!empty($wo['page_sub_categories'])) { ?>
					<label class="tag_field">
						<select name="page_sub_category" id="page_sub_category">
							<?php
							if (!empty($wo['page_sub_categories'][array_keys($wo['page_categories'])[0]])) {
							foreach ($wo['page_sub_categories'][array_keys($wo['page_categories'])[0]] as $id => $sub_category) { ?>
								<option value="<?php echo $sub_category['id']?>"><?php echo $sub_category['lang']; ?></option>
							<?php } } ?>
						</select>
						<span><?php echo $wo['lang']['sub_category']; ?></span>
					</label>
				<?php } ?>
				<?php $fields = Wo_GetCustomFields('page'); 
					if (!empty($fields)) {
						foreach ($fields as $key => $wo['field']) {
							echo Wo_LoadPage('page/fields');
						}
					}
				?>
				<div class="app-general-alert setting-update-alert"></div>
				<div class="text-center">
					<button class="btn btn-main btn-mat btn-mat-raised disable_btn" type="submit"><?php echo $wo['lang']['create']; ?></button>
				</div>
				<input type="hidden" name="hash_id" value="<?php echo Wo_CreateSession();?>">
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
	<?php 
$js_array = json_encode($wo['page_sub_categories']);
echo "var sub_categories_array = ". $js_array . ";\n";
?>
	function GetPageSubCategory(self) {
		id = $(self).val();
		var text = "";
		if (typeof(sub_categories_array[id]) == 'undefined') {
		    $('#page_sub_category').html('');
		}
		else{
		   	sub_categories_array[id].forEach(function(entry) {
				text = text + "<option value='"+entry.id+"'>"+entry.lang+"</option>";
			});
		    $('#page_sub_category').html(text);
		}
	}
   $(function() {
     $('form.create-page-form').ajaxForm({
       url: Wo_Ajax_Requests_File() + '?f=pages&s=create_page',
       beforeSend: function() {
         $('.create-page-form').find('.disable_btn').attr('disabled','disabled');
       },
       success: function(data) {
         scrollToTop();
         if (data.status == 200) {
           window.location.href = data.location;
         } else {
             var errors = data.errors.join("<br>");
             $('.app-general-alert').html('<div class="alert alert-danger">' + errors + '</div>');
             $('.alert-danger').fadeIn(300);
         }
         $('.create-page-form').find('.disable_btn').removeAttr("disabled");
       }
     });
   });
</script>