<div class="col-lg-4 col-md-6" data-rm-blog="<?php echo $wo['fund']['id'];?>">
	<div class="view-blog wow_content fundings" id="<?php echo $wo['fund']['id']; ?>">
		<!-- /Sameer -->
		<?php 
		$imageView = 
		"
		  <img src='".$wo['fund']['image']."' alt='".$wo['fund']['title']."'>
		";
		?>
		<div class="avatar">
			<?php if(isset($wo['fund']['type'])){ ?>
				<a  href="<?php echo $wo['site_url'].'/show_fund/'.$wo['fund']['hashed_id']; ?>" data-ajax="?link1=show_fund&id=<?php echo($wo['fund']['hashed_id']) ?>&type=draft"  id="<?php echo $wo['fund']['id'];?>">

			<?php }else if($wo['fund']['status'] == 0){ ?>
				<a  href="<?php echo $wo['site_url'].'/show_fund/'.$wo['fund']['hashed_id']; ?>" data-ajax="?link1=show_fund&id=<?php echo($wo['fund']['hashed_id']) ?>"  id="<?php echo $wo['fund']['id'];?>">

			<?php }else{ ?>

				<a href="<?php echo $wo['config']['site_url'].'/show_fund/'. $wo['fund']['hashed_id']; ?>" data-ajax="?link1=show_fund&id=<?php echo($wo['fund']['hashed_id']) ?>">
			<?php } ?>
				
				<?= empty($wo['fund']['image']) != 1 ? $imageView : ""  ?>
				<?php if(!empty($wo['fund']['video'])): ?>
					<div class="post-file wo_shared_doc_file mg-10" id="fullsizeimg" style="padding:20px;" >
						<?php
						$media = array(
							'type' => 'post',
							'storyId' => $wo['fund']['fund_id'],
							'filename' => $wo['fund']['video'],
							'name' => $wo['fund']['video'],
							'postFileThumb' => $wo['fund']['video'],
						);
						echo Wo_DisplaySharedFile($media, '', $wo['fund']['cache']);
						?>
					</div>
				<?php endif;?>
			</a>
                        <?php 
                            switch($wo['fund']['status']){
                                case 0:
                                case 9:    
                                    // pending
                                    echo '<div class="status_label pending">' . strtoupper($wo['lang']['pending_approval']) . '</div>';
                                    break;
                                case 1:
                                    // active/published
                                    echo '<div class="status_label active">' . strtoupper($wo['lang']['published']) . '</div>';
                                    break;
                                case 2:
                                    // withdrawal requested
                                    echo '<div class="status_label withdraw">' . strtoupper($wo['lang']['withdrawal_requested']) . '</div>';
                                    break;
                                case 3:
                                    // withdrawal approved
                                    echo '<div class="status_label withdraw">' . strtoupper($wo['lang']['withdrawal_approved']) . '</div>';
                                    break;
                                case 4:
                                    // draft
                                    echo '<div class="status_label draft">' . strtoupper($wo['lang']['draft']) . '</div>';
                                    break;
                                case 5:
                                    // ended
                                    echo '<div class="status_label ended">' . strtoupper($wo['lang']['ended']) . '</div>';
                                    break;
                                case 6:
                                    // completed
                                    echo '<div class="status_label ended">' . strtoupper($wo['lang']['completed']) . '</div>';
                                    break;
                                case 7:
                                    // suspended
                                    echo '<div class="status_label suspended">' . strtoupper($wo['lang']['suspended']) . '</div>';
                                    break;
                                case 8:
                                    // blocked
                                    echo '<div class="status_label blocked">' . strtoupper($wo['lang']['blocked']) . '</div>';
                                    break;                                
                                default:
                                    echo '';
                            }
                        
                        ?>		
                </div>
		<div class="fundings_desc">
			<?=isset($wo['fund']['type']) == 1 ? $wo['fund']['type']: ""?>
			<h3 class="truncate">
			<?php if(isset($wo['fund']['type'])){ ?>
				<?php echo stripslashes($wo['fund']['title']); ?>
			<?php }else{ ?>
				<a href="<?php echo $wo['config']['site_url'].'/show_fund/'. $wo['fund']['hashed_id']; ?>" data-ajax="?link1=show_fund&id=<?php echo($wo['fund']['hashed_id']) ?>">
					<?php echo stripslashes($wo['fund']['title']); ?>
				</a>
			<?php } ?>
			</h3>
			<p class="desc">
				<?php 
				$businessDesc = strip_tags(html_entity_decode($wo['fund']['description']));
                                if(strlen($businessDesc) > 63){
                                    echo mb_substr($businessDesc, 0, 60, "UTF-8") . "...";
                                }else{
                                    echo $businessDesc;
                                }		

				?>
			</p>
		
                        <div class="user_profile_oneline">
                            <div class="user_profile_role"><?php echo $wo['lang']['organiser']; ?>:</div>
                            <div class="user_profile_meta valign">
                                <div class="image">
                                    <div class="postMeta--author-avatar">
                                        <a href="<?php echo $wo['fund']['user_data']['url']?>">
                                            <img src="<?php echo $wo['fund']['user_data']['avatar']?>" alt="User Image">
                                        </a>
                                    </div>
                                </div>
                                <div class="meta">
                                    <span class="user-popover" data-id="<?=$wo['fund']['user_data']['id']?>" data-type="user">
                                        <a href="<?php echo $wo['fund']['user_data']['url']; ?>" data-ajax="?link1=timeline&u=<?php echo $wo['fund']['user_data']['username']; ?>"><?php echo $wo['fund']['user_data']['name']; ?></a>
                                    </span>
                                </div>                                
                            </div>
                        </div>
                        <div class="user_profile_oneline">
                            <div class="user_profile_role"><?php echo $wo['lang']['beneficiary']; ?>:</div>
                            <div class="user_profile_meta valign">
                                <?php if($wo['fund']['fundraising_for']=='2')
                                {
                                    echo Wo_MarkupForCharity($wo['fund']['beneficiary'],false,false,true,0,0,0,true);
                                }
                                else
                                {
                                    echo Wo_Markup($wo['fund']['beneficiary'],false,false,true,0,0,0,true);
                                }
                               ?>
                            </div>
                        </div>
                        <?php if(!empty($wo['fund']['funding_admins'])){ 
				$administrators = Wo_GetTaggedUsers($wo['fund']['funding_admins']);
				$isAdministrator = false;
				if(!empty($administrators)){
					foreach($administrators as $admin){
						if($wo['user']['id']  == $admin['id']){
							$isAdministrator = true;
						}
					}
				}
				?>
				<div class="user_profile_oneline">
                                    <div class="user_profile_role"><?php echo $wo['lang']['administrator']; ?>:</div>
                                    <div class="user_profile_meta valign">
				
				<?=Wo_Markup($wo['fund']['funding_admins'],false,false,true,0,0,0,true) ?> 		
				<?php if($isAdministrator || $wo['fund']['user_data']['user_id'] = $wo['user']['user_id']){?>	
						<!-- commented code for + plus button -->
					<!-- <a href="<?=$wo['config']['site_url']."/edit_fund/".$wo['fund']['hashed_id']?>"><button class="wow_content_circle" >+</button></a> -->
				<?php } ?>
                                    </div>
                                </div>
			<?php } ?>
                        
                        <div class="campaign_progress">
			<div>
				<span class="pull-right"> 
					<?php if(!empty($wo['fund']['due_date']) && $wo['fund']['status'] !='5'){ ?>
						<time><?php echo Wo_Time_Elapsed_String(strtotime($wo['fund']['due_date']),"due_date"); ?></time>
					<?php }  
					if($wo['fund']['status'] =='5'){?>
                                                <time><?=$wo['lang']['ended']?></time>
                    <?php } ?>
				</span>
				<p><span class="big-text bold"><?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].number_format($wo['fund']['raised']); ?></span> of <?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].number_format($wo['fund']['amount']); ?> <?php echo $wo['lang']['raised_of']; ?></p>
                        </div>
                        <div class="fund_raise_bar">
				<div class="progress mb-3">
					<div class="progress-bar" role="progressbar" style="width: <?php echo $wo['fund']['bar']; ?>%" aria-valuenow="<?php echo $wo['fund']['bar']; ?>" aria-valuemin="0" aria-valuemax="<?php echo($wo['fund']['amount']) ?>"></div>
				</div>
                        </div>
		</div>
		</div>
		<div class="fundings_footer">
                    <?php  $fund_category = json_decode($wo['fund']['category']);                         
                            if(count($fund_category)>0){ ?>
                        
                        <div class="campaign-cat when-notedit profile_cover mb-15" >
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M5.5,7A1.5,1.5 0 0,1 4,5.5A1.5,1.5 0 0,1 5.5,4A1.5,1.5 0 0,1 7,5.5A1.5,1.5 0 0,1 5.5,7M21.41,11.58L12.41,2.58C12.05,2.22 11.55,2 11,2H4C2.89,2 2,2.89 2,4V11C2,11.55 2.22,12.05 2.59,12.41L11.58,21.41C11.95,21.77 12.45,22 13,22C13.55,22 14.05,21.77 14.41,21.41L21.41,14.41C21.78,14.05 22,13.55 22,13C22,12.44 21.77,11.94 21.41,11.58Z"></path></svg>
                         
                        <?php 
                            $i=0;$j=0;  
                            foreach ($wo['campaign_categories'] as $category_id => $category_name) 
                            { 
                               $i++; //echo $i .'----'. count($wo['campaign_categories']).'-----'.count($fund_category);
                               if (in_array($category_id, $fund_category))
                               {   
                                   $j++;
                                   if(count($wo['campaign_categories']) >$i &&  count($fund_category) >$j)
                                   {
                                       $comma=', ';

                                   }
                                   else
                                   {
                                       $comma='';

                                   }
                                   echo '<a href='.Wo_SeoLink('index.php?link1=category').'?query='.urlencode($category_name).'>'.$category_name.'</a>'.$comma;
                               }
                            }
                            
                        ?>
                            </span>
                        </div>
                    <?php } ?>
                        
                        
                    
			<!-- user buttons -->
                        <?php
				if(!empty($wo['fund']['funding_admins'])){
					$administrators = Wo_GetTaggedUsers($wo['fund']['funding_admins']);
					$isAdministrator = false;
					if(!empty($administrators)){
						foreach($administrators as $admin){
							if($wo['user']['id']  == $admin['id']){
								$isAdministrator = true;
							}
						}
					}
				}?>
			<?php if ($isAdministrator || $wo['fund']['user_id'] == $wo['user']['id']):?>
                        <div class="valign">
                                <?php switch($wo['fund']['status']){ 
                                        case 2: // withdrawal requested
                                        case 3: // withdrawal approved
                                        case 5: // ended
                                        case 6: // completed
                                            // do not show EDIT button
                                            break;
                                        default:
                                            echo '<a class="btn btn-mat btn-success btn-width" href="' . $wo['site_url'].'/edit_fund/'.$wo['fund']['hashed_id'] . '"  id="' . $wo['fund']['id'] . '">' . $wo['lang']['edit'] . '</a>';
                                      }
                                ?>                                    
                                
				<?php if($wo['fund']['status'] == 4){ ?>
                                        <a class="btn btn-mat btn-danger delete-fund btn-width" id="<?php echo $wo['fund']['id'];?>"><?php echo $wo['lang']['delete']; ?></a>
                                <?php } ?>        
                        </div>                
			<?php endif;?>
                    </div>
            </div>
</div>