<?php
$notification_alert     = Wo_CountNotifications(array(
    'unread' => true,
    'data' => 'all'
));
$messages_alert         = Wo_CountMessages(array(
    'new' => true
));
$followers_alert        = Wo_CountFollowRequests();
$hidden_class           = '';
$messages_hidden_class  = '';
$followers_hidden_class = '';
$unread_update_notification = 'unread-update';
$unread_update_messages = 'unread-update';
$unread_update_followers = 'unread-update';
if ($notification_alert == 0) {
    $hidden_class = ' hidden';
    $unread_update_notification = '';
}
if ($messages_alert == 0) {
    $messages_hidden_class = ' hidden';
    $unread_update_messages = '';
}
if ($followers_alert == 0) {
    $followers_hidden_class = ' hidden';
    $unread_update_followers = '';
}
?>
<div class="valign tag_hdr_right">
        <div class="dropdown search-container popup">
                <button class="tag_hdr_searchtog tag_hdr_droptoggle" data-toggle="dropdown" data-display="static" role="button" aria-expanded="false" <?php if ($wo['loggedin'] == true) { echo 'onclick="initSearch(true)"';}?>>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24" xml:space="preserve"><circle cx="11.6" cy="10.2" r="8.9" style="fill:none;stroke:currentColor;stroke-width:2.3782;stroke-miterlimit:10"/><path d="m16 16.8.3-.3c.8-.7 1.9-.6 2.6.2l3.5 4c.7.8.6 1.9-.2 2.6l-.3.3c-.8.7-1.9.6-2.6-.2l-3.5-4c-.7-.8-.6-2 .2-2.6z" style="fill:currentColor"/></svg>
		</button>
                <ul class="dropdown-menu dropdown-menu-right dropdown-static-menu" role="menu">
			<h2 class="tag_page_title m5 tag_mobi_hdr_not_title"><?php echo $wo['lang']['search'] ?></h2>
                        <button type="button" class="tag_toggle_search"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path fill="currentColor" d="M19 11H7.83l4.88-4.88c.39-.39.39-1.03 0-1.42-.39-.39-1.02-.39-1.41 0l-6.59 6.59c-.39.39-.39 1.02 0 1.41l6.59 6.59c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L7.83 13H19c.55 0 1-.45 1-1s-.45-1-1-1z"/></svg></button>
				<form role="button" id="navbar-searchbox-popup" role="search">                                
                                	<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path fill="currentColor" d="M15.5 14h-.79l-.28-.27c1.2-1.4 1.82-3.31 1.48-5.34-.47-2.78-2.79-5-5.59-5.34-4.23-.52-7.79 3.04-7.27 7.27.34 2.8 2.56 5.12 5.34 5.59 2.03.34 3.94-.28 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>
					<input type="search" class="search-input" onkeyup="Wo_DetectSearchType(this.value), document.getElementById('wo_repeat_search_mobile').innerHTML = escapeHtml(this.value)" placeholder="<?php echo $wo['lang']['search_header_label']; ?>">
				</form>
				<ul class="dropdown-menu search-dropdown-container" role="menu">
					<div class="wow_htag"><?php 
						$hashtags = Wa_GetTrendingHashs('popular');
						if (count($hashtags) > 0) {
							foreach ($hashtags as $wo['hashtag']) { 
					?>
						<a href="<?php echo $wo['hashtag']['url'];?>" data-ajax="?link1=hashtag&hash=<?php echo $wo['hashtag']['tag'];?>">#<?php echo $wo['hashtag']['tag'];?></a>
					<?php } } ?></div>
					<div class="search-dropdown-result tag_scroll">
						<?php
							if ($wo['loggedin'] == true) {
								foreach (Wo_GetRecentSerachs() as $wo['result']) {
									if (!empty($wo['result'])) {
										echo Wo_LoadPage('header/search');
									}
								}
							}
						?>
					</div>
					<div class="search-advanced-container" style="display: none;">
						<a href="<?php echo Wo_SeoLink('index.php?link1=search');?>" class="valign search-advanced-link" data-ajax="?link1=search">
							<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path fill="currentColor" d="M15.5 14h-.79l-.28-.27c1.2-1.4 1.82-3.31 1.48-5.34-.47-2.78-2.79-5-5.59-5.34-4.23-.52-7.79 3.04-7.27 7.27.34 2.8 2.56 5.12 5.34 5.59 2.03.34 3.94-.28 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>
							<span><?php echo $wo['lang']['advanced_search']; ?> <span id="wo_repeat_search_mobile"></span></span>
						</a>
					</div>
				</ul>

		</ul>
        </div>
        <div class="dropdown create-container">
		<button class="tag_hdr_createtog tag_hdr_droptoggle" data-toggle="dropdown" data-display="static" role="button" aria-expanded="false">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24" xml:space="preserve"><path d="M12 1C5.9 1 1 5.9 1 12s4.9 11 11 11 11-4.9 11-11S18.1 1 12 1zm5.1 11.5h-4.6v4.6c0 .3-.3.5-.6.5s-.5-.2-.5-.5v-4.6H6.9c-.3 0-.6-.2-.6-.5s.2-.6.5-.6H11.5V6.9c0-.3.2-.5.5-.5s.5.2.5.5v4.6h4.6c.3 0 .5.3.5.6 0 .2-.2.4-.5.4z" style="fill:none;stroke:currentColor;stroke-width:1.7439;stroke-miterlimit:10"/></svg>
		</button>
		<ul class="dropdown-menu dropdown-menu-right dropdown-static-menu tag_scroll" role="menu">
			<h2 class="tag_page_title m5 tag_mobi_hdr_not_title"><?php echo $wo['lang']['create']; ?></h2>
			<div>
				<ul class="tag_create_menu popup" role="menu">
                    <!-- <li class="rounded">
                    	<a href="#" data-toggle="modal" data-target="#tagPostBox" data-backdrop="static" data-keyboard="false"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.62356 2.35132C2.85479 2.21713 3.13998 2.21617 3.3721 2.34882L6.5 4.13619L9.6279 2.34882C9.85847 2.21706 10.1415 2.21706 10.3721 2.34882L13.5 4.13619L16.6279 2.34882C16.86 2.21617 17.1452 2.21713 17.3764 2.35132C17.6077 2.48551 17.75 2.73265 17.75 3V11.25H21C21.4142 11.25 21.75 11.5858 21.75 12V19C21.75 20.5188 20.5188 21.75 19 21.75H7.8H7.76788C6.95505 21.75 6.29944 21.75 5.76853 21.7066C5.2219 21.662 4.74175 21.5676 4.29754 21.3413C3.59193 20.9817 3.01825 20.4081 2.65873 19.7025C2.43239 19.2582 2.33803 18.7781 2.29336 18.2315C2.24999 17.7006 2.24999 17.045 2.25 16.2321V16.2321V16.2V3C2.25 2.73265 2.39232 2.48551 2.62356 2.35132ZM19 20.25C19.6904 20.25 20.25 19.6904 20.25 19V12.75H17.75V19C17.75 19.6904 18.3096 20.25 19 20.25ZM7 8.25C6.58579 8.25 6.25 8.58579 6.25 9C6.25 9.41421 6.58579 9.75 7 9.75H11C11.4142 9.75 11.75 9.41421 11.75 9C11.75 8.58579 11.4142 8.25 11 8.25H7ZM6.25 13C6.25 12.5858 6.58579 12.25 7 12.25H13C13.4142 12.25 13.75 12.5858 13.75 13C13.75 13.4142 13.4142 13.75 13 13.75H7C6.58579 13.75 6.25 13.4142 6.25 13ZM7 16.25C6.58579 16.25 6.25 16.5858 6.25 17C6.25 17.4142 6.58579 17.75 7 17.75H13C13.4142 17.75 13.75 17.4142 13.75 17C13.75 16.5858 13.4142 16.25 13 16.25H7Z" fill="currentColor"></path><path class="hover_path" d="M2.62356 2.35132C2.85479 2.21713 3.13998 2.21617 3.3721 2.34882L6.5 4.13619L9.6279 2.34882C9.85847 2.21706 10.1415 2.21706 10.3721 2.34882L13.5 4.13619L16.6279 2.34882C16.86 2.21617 17.1452 2.21713 17.3764 2.35132C17.6077 2.48551 17.75 2.73265 17.75 3V11.25H21C21.4142 11.25 21.75 11.5858 21.75 12V19C21.75 20.5188 20.5188 21.75 19 21.75H7.8H7.76788C6.95505 21.75 6.29944 21.75 5.76853 21.7066C5.2219 21.662 4.74175 21.5676 4.29754 21.3413C3.59193 20.9817 3.01825 20.4081 2.65873 19.7025C2.43239 19.2582 2.33803 18.7781 2.29336 18.2315C2.24999 17.7006 2.24999 17.045 2.25 16.2321V16.2321V16.2V3C2.25 2.73265 2.39232 2.48551 2.62356 2.35132ZM19 20.25C19.6904 20.25 20.25 19.6904 20.25 19V12.75H17.75V19C17.75 19.6904 18.3096 20.25 19 20.25ZM7 8.25C6.58579 8.25 6.25 8.58579 6.25 9C6.25 9.41421 6.58579 9.75 7 9.75H11C11.4142 9.75 11.75 9.41421 11.75 9C11.75 8.58579 11.4142 8.25 11 8.25H7ZM6.25 13C6.25 12.5858 6.58579 12.25 7 12.25H13C13.4142 12.25 13.75 12.5858 13.75 13C13.75 13.4142 13.4142 13.75 13 13.75H7C6.58579 13.75 6.25 13.4142 6.25 13ZM7 16.25C6.58579 16.25 6.25 16.5858 6.25 17C6.25 17.4142 6.58579 17.75 7 17.75H13C13.4142 17.75 13.75 17.4142 13.75 17C13.75 16.5858 13.4142 16.25 13 16.25H7Z" fill="currentColor"></path></svg> <?php echo $wo['lang']['create_post'] ?></a></li> -->
                    <li class="rounded"><a href="<?php echo Wo_SeoLink('index.php?link1=create-album');?>" data-ajax="?link1=create-album"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"> <rect x="4.41" y="0.82" fill="currentColor" width="1.61" height="22.51"/> <path fill="currentColor" d="M21.1,24.08H0.93v-24H21.1V24.08z M2.54,22.59h16.95V1.56H2.54V22.59z"/> <g> <path fill="currentColor" d="M17.62,17.67H7.89v-2.83c0-2.08,3.9-3.06,4.86-3.06s4.86,0.98,4.86,3.06V17.67z M9.5,15.99h6.51v-1.15 c-0.15-0.5-2.34-1.38-3.25-1.38c-0.91,0-3.11,0.88-3.26,1.4L9.5,15.99z"/> <path fill="currentColor" d="M12.76,13.4c-1.75,0-3.12-1.38-3.12-3.15V9.48c0-1.77,1.37-3.15,3.12-3.15c1.75,0,3.12,1.38,3.12,3.15v0.77 C15.88,12.02,14.51,13.4,12.76,13.4z M12.76,8.01c-0.86,0-1.51,0.63-1.51,1.47v0.77c0,0.84,0.65,1.47,1.51,1.47 c0.86,0,1.51-0.63,1.51-1.47V9.48C14.27,8.64,13.62,8.01,12.76,8.01z"/> </g> <g> <rect y="3.29" fill="currentColor" width="3.48" height="1.49"/> <rect y="6.51" fill="currentColor" width="3.48" height="1.49"/> <rect y="9.72" fill="currentColor" width="3.48" height="1.49"/> <rect y="12.94" fill="currentColor" width="3.48" height="1.49"/> <rect y="16.15" fill="currentColor" width="3.48" height="1.49"/> <rect y="19.37" fill="currentColor" width="3.48" height="1.49"/> </g> <path fill="currentColor" d="M21.46,20.86H20.3v-1.49h1.16c0.52,0,0.93-0.39,0.93-0.86v-1.94H20.3v-1.49H24v3.42 C24,19.8,22.86,20.86,21.46,20.86z"/> <path fill="currentColor" d="M21.46,14.43H20.3v-1.49h1.16c0.52,0,0.93-0.39,0.93-0.86v-1.94H20.3V8.65H24v3.42 C24,13.37,22.86,14.43,21.46,14.43z"/> <path fill="currentColor" d="M21.46,8H20.3V6.51h1.16c0.52,0,0.93-0.39,0.93-0.86V3.71H20.3V2.22H24v3.42C24,6.94,22.86,8,21.46,8z"/> <line fill="none" x1="-3.06" y1="-12.42" x2="-3.06" y2="-12.53"/> </svg> <?php echo $wo['lang']['create_album'] ?></a></li>                    
                    <li class="rounded"><a href="<?php echo Wo_SeoLink('index.php?link1=create_challenge');?>" data-ajax="?link1=create_challenge"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"> <path fill="currentColor" d="M18.37,24H5.49c-0.67,0-1.21-0.61-1.21-1.36c0-0.75,0.54-1.36,1.21-1.36h3.72c0.1,0,0.19-0.11,0.19-0.25v-1.84 c0-0.1-0.05-0.2-0.12-0.23c-2.17-0.98-3.91-2.94-4.81-5.38C1.71,11.91,0,8.56,0,4.77l0-0.95c0-1.15,0.82-2.09,1.83-2.09H3.8l0-0.38 C3.8,0.61,4.35,0,5.01,0h14.08c0.33,0,0.64,0.15,0.87,0.41c0.22,0.26,0.35,0.6,0.34,0.95v0.38h1.86c1.01,0,1.83,0.94,1.83,2.09 l0,0.94c0,3.71-1.66,7.04-4.34,8.73c-0.89,2.48-2.64,4.46-4.83,5.46h0c-0.07,0.03-0.12,0.13-0.12,0.23v1.84 c0,0.14,0.08,0.25,0.19,0.25h3.47c0.67,0,1.21,0.61,1.21,1.36C19.58,23.39,19.04,24,18.37,24z M5.49,22.39 c-0.1,0-0.19,0.11-0.19,0.25c0,0.13,0.09,0.25,0.19,0.25h12.88c0.1,0,0.19-0.11,0.19-0.25c0-0.14-0.08-0.25-0.19-0.25h-3.47 c-0.67,0-1.21-0.61-1.21-1.36v-1.84c0-0.56,0.3-1.05,0.75-1.26h0c1.98-0.9,3.56-2.73,4.33-5.01l0.07-0.2l0.17-0.1 c2.45-1.46,3.98-4.47,3.98-7.85l0-0.94c0-0.54-0.36-0.97-0.81-0.97h-2.89l0-1.49c0-0.1-0.04-0.16-0.06-0.19 c-0.02-0.03-0.07-0.06-0.12-0.06H5.01c-0.1,0-0.19,0.11-0.19,0.25l0,1.49H1.83c-0.44,0-0.81,0.44-0.81,0.97l0,0.94 c0,3.44,1.57,6.47,4.09,7.91l0.17,0.1l0.07,0.2c0.78,2.25,2.35,4.05,4.31,4.94c0.46,0.21,0.75,0.7,0.75,1.26v1.84 c0,0.75-0.54,1.36-1.21,1.36H5.49z M5.02,12.23l-0.99-0.95C2.4,9.73,1.47,7.35,1.47,4.77l0-1.43h3.35l0,6.4 c0,0.35,0.02,0.71,0.05,1.06L5.02,12.23z M2.49,4.78c0,1.71,0.47,3.32,1.31,4.58l0-4.89H2.49L2.49,4.78z M19.1,12.16l0.14-1.46 c0.03-0.32,0.05-0.65,0.05-0.96l0-6.4h3.24l0,1.42c0,2.51-0.89,4.84-2.44,6.4L19.1,12.16z M20.3,4.46l0,4.74 c0.78-1.24,1.2-2.79,1.2-4.43l0-0.31H20.3z"/> </svg> <?php echo $wo['lang']['create_challenge'] ?></a></li>
                    <li class="rounded"><a href="<?php echo Wo_SeoLink('index.php?link1=create_funding');?>" ><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"> <g> <path fill="currentColor" d="M6.83,24H6.41c-2.48,0-4.49-2.17-4.49-4.83v-3.55c0-0.13-0.06-0.25-0.16-0.31C0.67,14.66,0,13.45,0,12.13V9.2 c0-2.66,2.02-4.83,4.49-4.83h2.72c2.98,0,6.55-2.06,9.65-4.08c0.58-0.38,1.29-0.39,1.88-0.03c0.59,0.36,0.95,1.01,0.95,1.75v16.14 c0,0.73-0.35,1.38-0.95,1.74c-0.59,0.36-1.3,0.35-1.88-0.03c-2.05-1.33-5.08-3.16-7.75-3.8c-0.14-0.03-0.25,0.03-0.3,0.07 c-0.05,0.04-0.13,0.13-0.13,0.28V22C8.7,23.1,7.86,24,6.83,24z M4.49,6.01c-1.64,0-2.97,1.43-2.97,3.19v2.93 c0,0.72,0.37,1.39,0.96,1.74c0.59,0.35,0.95,1.02,0.95,1.74v3.55c0,1.76,1.33,3.19,2.97,3.19h0.42c0.19,0,0.34-0.16,0.34-0.37 v-5.59c0-0.61,0.25-1.18,0.7-1.56c0.45-0.38,1.02-0.53,1.58-0.39c2.23,0.54,4.76,1.77,8.2,4c0.15,0.1,0.28,0.04,0.35,0.01 c0.06-0.04,0.17-0.13,0.17-0.32V2.01c0-0.19-0.11-0.28-0.17-0.32c-0.06-0.04-0.19-0.09-0.34,0.01c-3.28,2.14-7.08,4.32-10.44,4.32 H4.49z"/> <path fill="currentColor" d="M20.61,13.72h-0.99l-0.01-0.83V6.44l0.93-0.01c0.97,0,1.91,0.43,2.56,1.19c0.64,0.74,0.96,1.71,0.89,2.72 C23.86,12.23,22.38,13.72,20.61,13.72z M21.13,8.16V12c0.73-0.23,1.29-0.93,1.34-1.78c0.04-0.55-0.14-1.08-0.49-1.49 C21.75,8.47,21.46,8.27,21.13,8.16z"/> </g> </svg> <?php echo $wo['lang']['create_campaign'] ?></a></li>
                    <li class="rounded"><a href="<?php echo Wo_SeoLink('index.php?link1=create-event');?>"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"> <g> <rect x="0.87" y="8.35" fill="currentColor" width="22.27" height="1.73"/> <rect x="7.55" y="2.78" fill="currentColor" width="8.91" height="1.73"/> <path fill="currentColor" d="M22.02,24H1.98C0.89,24,0,23.11,0,22.02V4.76c0-1.09,0.89-1.98,1.98-1.98h2.23v1.73H1.98 c-0.14,0-0.25,0.11-0.25,0.25v17.26c0,0.14,0.11,0.25,0.25,0.25h20.04c0.14,0,0.25-0.11,0.25-0.25V4.76c0-0.14-0.11-0.25-0.25-0.25 h-2.23V2.78h2.23c1.09,0,1.98,0.89,1.98,1.98v17.26C24,23.11,23.11,24,22.02,24z"/> <path fill="currentColor" d="M20.66,6.19h-5.07V1.42c0-0.78,0.64-1.42,1.42-1.42h2.23c0.78,0,1.42,0.64,1.42,1.42V6.19z M17.32,4.45h1.61 V1.73h-1.61V4.45z"/> <path fill="currentColor" d="M8.41,6.19H3.34V1.42C3.34,0.64,3.98,0,4.76,0h2.23c0.78,0,1.42,0.64,1.42,1.42V6.19z M5.07,4.45h1.61V1.73 H5.07V4.45z"/> <rect x="8.66" y="12.25" fill="currentColor" width="2.23" height="1.73"/> <rect x="13.11" y="12.25" fill="currentColor" width="2.23" height="1.73"/> <rect x="17.57" y="12.25" fill="currentColor" width="2.23" height="1.73"/> <rect x="4.21" y="15.03" fill="currentColor" width="2.23" height="1.73"/> <rect x="8.66" y="15.03" fill="currentColor" width="2.23" height="1.73"/> <rect x="13.11" y="15.03" fill="currentColor" width="2.23" height="1.73"/> <rect x="17.57" y="15.03" fill="currentColor" width="2.23" height="1.73"/> <rect x="4.21" y="17.81" fill="currentColor" width="2.23" height="1.73"/> <rect x="8.66" y="17.81" fill="currentColor" width="2.23" height="1.73"/> <rect x="13.11" y="17.81" fill="currentColor" width="2.23" height="1.73"/> </g> </svg> <?php echo $wo['lang']['create_event'] ?></a></li>
                    <li class="rounded"><a href="<?php echo Wo_SeoLink('index.php?link1=create-page'); ?>" data-ajax="?link1=create-page"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"> <g> <path fill="currentColor" d="M12.27,15.32h-0.54c-2.88,0-5.22-2.34-5.22-5.22V7.93c0-2.88,2.34-5.22,5.22-5.22h0.54 c2.88,0,5.22,2.34,5.22,5.22v2.17C17.49,12.98,15.15,15.32,12.27,15.32z M11.73,4.47c-1.91,0-3.46,1.55-3.46,3.46v2.17 c0,1.91,1.55,3.46,3.46,3.46h0.54c1.91,0,3.46-1.55,3.46-3.46V7.93c0-1.91-1.55-3.46-3.46-3.46H11.73z"/> <path fill="currentColor" d="M20.2,19.32h-1.76v-0.9c0-1.83-3.17-3.1-6.01-3.1h-0.86c-2.84,0-6.01,1.27-6.01,3.1v0.9H3.8v-0.9 c0-2.72,3.41-4.86,7.77-4.86h0.86c4.36,0,7.77,2.13,7.77,4.86V19.32z"/> <polygon fill="currentColor" points="1.76,5.22 0,5.22 0,0 5.22,0 5.22,1.76 1.76,1.76 "/> <polygon fill="currentColor" points="5.22,24 0,24 0,18.78 1.76,18.78 1.76,22.24 5.22,22.24 "/> <polygon fill="currentColor" points="24,5.22 22.24,5.22 22.24,1.76 18.78,1.76 18.78,0 24,0 "/> <polygon fill="currentColor" points="24,24 18.78,24 18.78,22.24 22.24,22.24 22.24,18.78 24,18.78 "/> </g> </svg> <?php echo $wo['lang']['create_page'] ?></a></li>                    
				</ul>
			</div>
		</ul>
	</div>
	<div class="dropdown requests-container" onclick="Wo_OpenRequestsMenu();">
		<span class="new-update-alert<?php echo $followers_hidden_class;?>"><?php echo $followers_alert?></span>
		<button class="tag_hdr_reqtog tag_hdr_droptoggle <?php echo $unread_update_followers;?>" data-toggle="dropdown" data-display="static" role="button" aria-expanded="false">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24" xml:space="preserve"><g fill="currentColor"><path d="M21.6 19.4c-.2-5.5-3.7-8.7-9.5-8.7s-9.3 3.2-9.6 8.7c0 1.2.7 2.2 1.8 2.7 2.5 1 5.1 1.5 7.8 1.5s5.3-.5 7.8-1.5c1-.4 1.7-1.5 1.7-2.7z"/><ellipse cx="12" cy="4.6" rx="5" ry="4.2"/></g></svg>
		</button>
		<ul class="dropdown-menu dropdown-menu-right dropdown-static-menu tag_scroll" role="menu">
			<h2 class="tag_page_title m5 tag_mobi_hdr_not_title"><?php echo $wo['lang']['requests'] ?></h2>
			<div id="requests-list">
				<div class="valign skel_noti"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div>
				<div class="valign skel_noti"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div>
				<div class="valign skel_noti"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div>
				<div class="valign skel_noti"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div>
				<div class="valign skel_noti"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div>
			</div>
		</ul>
	</div>
	<div class="dropdown messages-notification-container" onclick="Wo_OpenMessagesMenu();">
		<span class="new-update-alert<?php echo $messages_hidden_class;?>"><?php echo $messages_alert?></span>
		<button class="tag_hdr_msgtog tag_hdr_droptoggle <?php echo $unread_update_messages;?>" data-toggle="dropdown" data-display="static" role="button" aria-expanded="false">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.17 47.05"><path d="M34.68 3H16.49A13.49 13.49 0 0 0 3 16.49v11a9.11 9.11 0 0 0 5.17 8.22 4.42 4.42 0 0 1 2.52 4 4.37 4.37 0 0 0 7.45 3.09L23 37.92a4.37 4.37 0 0 1 3.09-1.28h8.61a13.49 13.49 0 0 0 13.47-13.49v-6.66A13.49 13.49 0 0 0 34.68 3z" style="fill:none;stroke:currentColor;stroke-miterlimit:10;stroke-width:6px"/></svg>
		</button>
		<ul class="dropdown-menu dropdown-menu-right tag_scroll" role="menu">
			<h2 class="tag_page_title m5 tag_mobi_hdr_not_title"><?php echo $wo['lang']['messages'] ?></h2>
			<div id="messages-list">
				<div class="valign skel_noti"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div>
				<div class="valign skel_noti"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div>
				<div class="valign skel_noti"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div>
				<div class="valign skel_noti"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div>
				<div class="valign skel_noti"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div>
			</div>
		</ul>
	</div>
	<div class="dropdown notification-container" onclick="Wo_loadAllnoticationMenu();">
		<span class="new-update-alert<?php echo $hidden_class;?>"><?php echo $notification_alert?></span>
		<button class="tag_hdr_notitog tag_hdr_droptoggle <?php echo $unread_update_notification;?>" data-toggle="dropdown" data-display="static" role="button" aria-expanded="false">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24" xml:space="preserve"><g><g><path fill="currentColor" d="M11.2 0C7.3.4 4.4 3.6 4.4 7.5c0 3.5-.5 4.5-1 5.6-1 2-.1 4.5 1.9 5.5.6.2 1.2.4 1.8.4h9.8c2.2 0 4.1-1.8 4.1-4.1 0-.6-.1-1.2-.4-1.8-.5-1.1-1-2-1-5.6 0-3.8-2.9-7.1-6.7-7.5M8.9 20.9c0 1.7 1.4 3.1 3.1 3.1h.4c1.6-.2 2.7-1.6 2.7-3.2v-.1H8.9v.2z"/></g></g></svg>

		</button>
		<ul class="dropdown-menu dropdown-menu-right dropdown-static-menu tag_scroll" role="menu">
			<h2 class="tag_page_title m5 tag_mobi_hdr_not_title"><?php echo $wo['lang']['notifications_single'] ?></h2>
			<div class="valign">
				<ul class="valign nav nav-tabs tag_switch_noti tag_scroll" role="tablist">
					<li role="presentation"><a href="#hdr_activity" aria-controls="hdr_activity" role="tab" data-toggle="tab"><?php echo $wo['lang']['activities'] ?></a></li>
					<li role="presentation"><a href="#hdr_notifi" class="active" aria-controls="hdr_notifi" role="tab" data-toggle="tab"><?php echo $wo['lang']['notifications_single'] ?></a></li>
					<!-- <li role="presentation"><a href="#hdr_notifi_funding"  aria-controls="hdr_notifi_funding" role="tab" data-toggle="tab"><?php echo $wo['lang']['funding'] ?></a></li>
					<li role="presentation"><a href="#hdr_notifi_challenge"  aria-controls="hdr_notifi_challenge" role="tab" data-toggle="tab"><?php echo $wo['lang']['challenges'] ?></a></li> -->
				
				</ul>
			</div>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane" id="hdr_activity">
					<?php $activities = Wo_GetActivities();?>
					<ul class="list-unstyled activity-container">
						<li class="activities-wrapper" id="activities-wrapper">
							<?php
								if (count($activities) == 0) {
									echo '<div class="empty_state"><svg height="512" viewBox="0 0 32 32" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m26 32h-20c-3.314 0-6-2.686-6-6v-20c0-3.314 2.686-6 6-6h20c3.314 0 6 2.686 6 6v20c0 3.314-2.686 6-6 6z" fill="#ffe6e2"/><path d="m14 19.333c-.735 0-1.333-.598-1.333-1.333s.598-1.333 1.333-1.333 1.333.598 1.333 1.333-.598 1.333-1.333 1.333z" fill="#fc573b"/><path d="m14 24c-.735 0-1.333-.598-1.333-1.333s.598-1.333 1.333-1.333 1.333.598 1.333 1.333-.598 1.333-1.333 1.333z" fill="#fc573b"/><g fill="#fd907e"><path d="m23.334 18.667h-5.334c-.369 0-.667-.299-.667-.667s.298-.667.667-.667h5.334c.368 0 .666.299.666.667s-.298.667-.666.667z"/><path d="m23.334 21.333h-5.334c-.369 0-.667-.299-.667-.667s.299-.666.667-.666h5.334c.368 0 .666.299.666.667s-.298.666-.666.666z"/><path d="m23.334 11.333h-5.334c-.369 0-.667-.299-.667-.667s.299-.666.667-.666h5.334c.368 0 .666.298.666.667s-.298.666-.666.666z"/><path d="m23.334 14h-5.334c-.369 0-.667-.299-.667-.667s.298-.667.667-.667h5.334c.369 0 .667.299.667.667s-.299.667-.667.667z"/><path d="m23.334 24h-5.334c-.369 0-.667-.299-.667-.667s.298-.667.667-.667h5.334c.369 0 .667.299.667.667s-.299.667-.667.667z"/></g><path d="m11.666 15.333c-2.021 0-3.666-1.644-3.666-3.666s1.645-3.667 3.666-3.667 3.667 1.644 3.667 3.667-1.645 3.666-3.667 3.666z" fill="#fc573b"/></svg>' . $wo['lang']['no_activities'] . '</div>';
								} else {
									foreach ($activities as $wo['activity']) {
										echo Wo_LoadPage('header/activities-list');
									}
								}
								?>
						</li>
						<div class="no-activities text-center"></div>
						<?php if (count($activities) > 0) { ?><a href="javascript:void(0);" class="show-message-link" onclick="Wo_GetMoreActivities();"><?php echo $wo['lang']['load_more_activities'];?></a><?php } ?>
					</ul>
				</div>
				<div role="tabpanel" class="tab-pane active" id="hdr_notifi">
					<li onclick="Wo_TurnOffSound();" class="pointer turn-off-sound">
						<?php if ($wo['user']['notifications_sound'] == 0): ?>
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-volume-2"><polygon points="11 5 6 9 2 9 2 15 6 15 11 19 11 5"></polygon><path d="M19.07 4.93a10 10 0 0 1 0 14.14M15.54 8.46a5 5 0 0 1 0 7.07"></path></svg> <?php echo $wo['lang']['turn_off_notification'] ?>
						<?php else: ?>
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-volume-x"><polygon points="11 5 6 9 2 9 2 15 6 15 11 19 11 5"></polygon><line x1="23" y1="9" x2="17" y2="15"></line><line x1="17" y1="9" x2="23" y2="15"></line></svg> <?php echo $wo['lang']['turn_on_notification'] ?>
						<?php endif; ?>
					</li>
					<li id="notification-list">
						<div class="valign skel_noti"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div>
						<div class="valign skel_noti"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div>
						<div class="valign skel_noti"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div>
						<div class="valign skel_noti"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div>
						<div class="valign skel_noti"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div>
					</li>
				</div>
				<div role="tabpanel" class="tab-pane" id="hdr_notifi_funding">
					<!-- <li onclick="Wo_TurnOffSound();" class="pointer turn-off-sound">
						<?php if ($wo['user']['notifications_sound'] == 0): ?>
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-volume-2"><polygon points="11 5 6 9 2 9 2 15 6 15 11 19 11 5"></polygon><path d="M19.07 4.93a10 10 0 0 1 0 14.14M15.54 8.46a5 5 0 0 1 0 7.07"></path></svg> <?php echo $wo['lang']['turn_off_notification'] ?>
						<?php else: ?>
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-volume-x"><polygon points="11 5 6 9 2 9 2 15 6 15 11 19 11 5"></polygon><line x1="23" y1="9" x2="17" y2="15"></line><line x1="17" y1="9" x2="23" y2="15"></line></svg> <?php echo $wo['lang']['turn_on_notification'] ?>
						<?php endif; ?>
					</li> -->
					<li id="notification-list-funding">
						<div class="valign skel_noti"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div>
						<div class="valign skel_noti"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div>
						<div class="valign skel_noti"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div>
						<div class="valign skel_noti"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div>
						<div class="valign skel_noti"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div>
					</li>
				</div>
				<div role="tabpanel" class="tab-pane" id="hdr_notifi_challenge">
					<li onclick="Wo_TurnOffSound();" class="pointer turn-off-sound">
						<?php if ($wo['user']['notifications_sound'] == 0): ?>
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-volume-2"><polygon points="11 5 6 9 2 9 2 15 6 15 11 19 11 5"></polygon><path d="M19.07 4.93a10 10 0 0 1 0 14.14M15.54 8.46a5 5 0 0 1 0 7.07"></path></svg> <?php echo $wo['lang']['turn_off_notification'] ?>
						<?php else: ?>
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-volume-x"><polygon points="11 5 6 9 2 9 2 15 6 15 11 19 11 5"></polygon><line x1="23" y1="9" x2="17" y2="15"></line><line x1="17" y1="9" x2="23" y2="15"></line></svg> <?php echo $wo['lang']['turn_on_notification'] ?>
						<?php endif; ?>
					</li>
					<li id="notification-list-challenge">
						<div class="valign skel_noti"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div>
						<div class="valign skel_noti"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div>
						<div class="valign skel_noti"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div>
						<div class="valign skel_noti"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div>
						<div class="valign skel_noti"><div class="skel skel_50 skel_avatar"></div><div><div class="skel skel_2 skel_noti_name"></div><div class="skel skel_2 skel_noti_time"></div></div></div>
					</li>
				</div>
				
			</div>
		</ul>
	</div>
    <div class="tag_main_usr_ddmenu dropdown">
		<a class="tag_hdr_droptoggle tag_hdr_user_droptoggle" href="<?php echo($wo['user']['url']) ?>" data-ajax="?link1=timeline&u=<?php echo($wo['user']['username']) ?>"><img id="updateImage-<?php echo $wo['user']['user_id']?>" src="<?php echo $wo['user']['avatar'];?>" alt="<?php echo $wo['user']['name'];?>"></a>
		<ul class="dropdown-menu dropdown-menu-right dropdown-static-menu tag_hdr_user_dropdown tag_scroll" role="menu">
			<h2 class="tag_page_title m5 tag_mobi_hdr_not_title"><?php echo $wo['user']['name'] ?></h2>
			<li>
				<a href="<?php echo $wo['user']['url']; ?>" data-ajax="?link1=timeline&u=<?php echo $wo['user']['username'];?>"><img src="<?php echo $wo['user']['avatar'];?>" alt="<?php echo $wo['user']['name'];?>"> <?php echo $wo['lang']['my_profile']; ?></a>
				<div class="valign tag_hdr_user_submenu">
					<a href="<?php echo Wo_SeoLink('index.php?link1=wallet'); ?>" data-ajax="?link1=wallet" title="<?php echo $wo['lang']['wallet']; ?>" data-toggle="tooltip"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M10 16V8c0-1.1.89-2 2-2h9V5c0-1.1-.9-2-2-2H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-1h-9c-1.11 0-2-.9-2-2zm3-8c-.55 0-1 .45-1 1v6c0 .55.45 1 1 1h9V8h-9zm3 5.5c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5z"/></svg> <?php echo Wo_GetCurrency($wo['config']['ads_currency']); ?><?php echo sprintf('%.2f',$wo['user']['wallet']);?></a>
					<?php if ($wo['config']['point_level_system'] == 1) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=setting&page=my_points'); ?>" data-ajax="?link1=setting&page=my_points" title="<?php echo $wo['lang']['points']; ?>" data-toggle="tooltip"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 5C7.031 5 2 6.546 2 9.5S7.031 14 12 14c4.97 0 10-1.546 10-4.5S16.97 5 12 5zM7 14.938v3c1.237.299 2.605.482 4 .541v-3C9.605 15.419 8.237 15.236 7 14.938zM13 15.478v3c1.395-.059 2.764-.242 4-.541v-3C15.764 15.236 14.395 15.419 13 15.478zM19 14.297v3c1.801-.755 3-1.857 3-3.297v-3C22 12.44 20.801 13.542 19 14.297zM5 17.297v-3C3.2 13.542 2 12.439 2 11v3C2 15.439 3.2 16.542 5 17.297z"/></svg> <?php echo $wo['user']['points'];?></a>
					<?php } ?>
					<?php if ($wo['config']['poke_system'] == 1) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=poke');?>" data-ajax="?link1=poke"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M21,9A1,1 0 0,1 22,10A1,1 0 0,1 21,11H16.53L16.4,12.21L14.2,17.15C14,17.65 13.47,18 12.86,18H8.5C7.7,18 7,17.27 7,16.5V10C7,9.61 7.16,9.26 7.43,9L11.63,4.1L12.4,4.84C12.6,5.03 12.72,5.29 12.72,5.58L12.69,5.8L11,9H21M2,18V10H5V18H2Z"/></svg> <?php echo $wo['lang']['pokes']; ?></a>
					<?php } ?>
				</div>
			</li>
			<hr class="style-two">
			<?php 
			if ($wo['config']['pro'] == 1) {
			if (Wo_IsUserPro() === false) { ?>
				<li>
					<a href="<?php echo Wo_SeoLink('index.php?link1=go-pro'); ?>" data-ajax="?link1=go-pro"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M5 16L3 5L8.5 10L12 4L15.5 10L21 5L19 16H5M19 19C19 19.6 18.6 20 18 20H6C5.4 20 5 19.6 5 19V18H19V19Z" /></svg> <?php echo $wo['lang']['upgrade_to_pro']; ?></a>
				</li>
			<?php } } ?>
			<?php if ($wo['config']['pro'] == 1) { ?>
				<?php if ($wo['user']['is_pro'] == 1 && in_array($wo['user']['pro_type'], array_keys($wo['pro_packages_types'])) && $wo['pro_packages'][$wo['pro_packages_types'][$wo['user']['pro_type']]]['pages_promotion'] > 0 && $wo['config']['pages'] == 1) { ?>
					<li>
						<a href="<?php echo Wo_SeoLink('index.php?link1=boosted-pages');?>" data-ajax="?link1=boosted-pages"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path fill="currentColor" d="M14.4 6l-.24-1.2c-.09-.46-.5-.8-.98-.8H6c-.55 0-1 .45-1 1v15c0 .55.45 1 1 1s1-.45 1-1v-6h5.6l.24 1.2c.09.47.5.8.98.8H19c.55 0 1-.45 1-1V7c0-.55-.45-1-1-1h-4.6z"/></svg> <?php echo $wo['lang']['boosted_pages']; ?></a>
					</li>
				<?php } ?>
				<?php if ($wo['user']['is_pro'] == 1 && in_array($wo['user']['pro_type'], array_keys($wo['pro_packages_types'])) && $wo['pro_packages'][$wo['pro_packages_types'][$wo['user']['pro_type']]]['posts_promotion'] > 0) { ?>
					<li>
						<a href="<?php echo Wo_SeoLink('index.php?link1=boosted-posts');?>" data-ajax="?link1=boosted-posts"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M14,17H7V15H14M17,13H7V11H17M17,9H7V7H17M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z" /></svg> <?php echo $wo['lang']['boosted_posts']; ?></a>
					</li>
				<?php } ?>
			<?php } ?>
			<?php if ($wo['config']['user_ads'] == 1) { ?>
				<li>
					<a href="<?php echo Wo_SeoLink('index.php?link1=advertise'); ?>" data-ajax="?link1=advertise"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12,8H4A2,2 0 0,0 2,10V14A2,2 0 0,0 4,16H5V20A1,1 0 0,0 6,21H8A1,1 0 0,0 9,20V16H12L17,20V4L12,8M21.5,12C21.5,13.71 20.54,15.26 19,16V8C20.53,8.75 21.5,10.3 21.5,12Z" /></svg> <?php echo $wo['lang']['ads']; ?></a>
				</li>
			<?php } ?>
			<hr class="style-two">
			<li>
				<a href="<?php echo Wo_SeoLink('index.php?link1=setting&page=privacy-setting'); ?>" data-ajax="?link1=setting&page=privacy-setting"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12,1L3,5V11C3,16.55 6.84,21.74 12,23C17.16,21.74 21,16.55 21,11V5L12,1M12,7C13.4,7 14.8,8.1 14.8,9.5V11C15.4,11 16,11.6 16,12.3V15.8C16,16.4 15.4,17 14.7,17H9.2C8.6,17 8,16.4 8,15.7V12.2C8,11.6 8.6,11 9.2,11V9.5C9.2,8.1 10.6,7 12,7M12,8.2C11.2,8.2 10.5,8.7 10.5,9.5V11H13.5V9.5C13.5,8.7 12.8,8.2 12,8.2Z" /></svg> <?php echo $wo['lang']['privacy_setting']; ?></a>
			</li>
			<li>
				<a href="<?php echo Wo_SeoLink('index.php?link1=setting&page=general-setting'); ?>" data-ajax="?link1=setting&page=general-setting"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z" /></svg> <?php echo $wo['lang']['general_setting']; ?></a>
			</li>
			<?php if ($wo['config']['user_registration'] == 1): ?>
				<li>
					<a class="not_hide" href="#collapseInvite" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseInvite"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path fill="currentColor" d="M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm-.4 4.25l-6.54 4.09c-.65.41-1.47.41-2.12 0L4.4 8.25c-.25-.16-.4-.43-.4-.72 0-.67.73-1.07 1.3-.72L12 11l6.7-4.19c.57-.35 1.3.05 1.3.72 0 .29-.15.56-.4.72z"/></svg> <?php echo $wo['lang']['invite_your_frineds_home']; ?></a>
					<div class="collapse" id="collapseInvite">
						<form action="#" method="post" class="invite-user-form">
							<div class="invite-user-form-alert"></div>
							<div class="valign invite-user-combine">
								<input type="text" name="email" placeholder="<?php echo $wo['lang']['email']; ?>" class="form-control">
								<button class="btn btn-mat btn-main" title="<?php echo $wo['lang']['send_invitation']; ?>"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M3.4 20.4l17.45-7.48c.81-.35.81-1.49 0-1.84L3.4 3.6c-.66-.29-1.39.2-1.39.91L2 9.12c0 .5.37.93.87.99L17 12 2.87 13.88c-.5.07-.87.5-.87 1l.01 4.61c0 .71.73 1.2 1.39.91z" /></svg></button>
							</div>
						</form>
					</div>
				</li>
			<?php endif ?>
			<hr class="style-two">
			<li>
				<a href="javascript:void(0);" id="night_mode_toggle" data-mode='<?php echo Wo_Secure($wo['mode_link']) ?>'>
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12,11.807C9.349,9.155,8.7,5.261,10.049,2c-1.875,0.37-3.666,1.281-5.12,2.735c-3.905,3.905-3.905,10.237,0,14.142	c3.906,3.906,10.237,3.905,14.143,0c1.454-1.454,2.364-3.244,2.735-5.119C18.545,15.106,14.651,14.458,12,11.807z" /></svg> <?php echo $wo['lang']['night_mode']?>
					<span class="tag_toggle_mode" id="night-mode-text"></span>
				</a>
			</li>
			<?php if(Wo_IsAdmin() || Wo_IsModerator()) { ?>
				<li>
					<a href="<?php echo $wo['config']['site_url'] . '/admin-cp'; ?>"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19 3H5C3.897 3 3 3.897 3 5v4h10 2 6V5C21 3.897 20.103 3 19 3zM3 19c0 1.103.897 2 2 2h8V11H3V19zM15 21h4c1.103 0 2-.897 2-2v-8h-6V21z" /></svg> <?php echo $wo['lang']['admin_area']; ?></a>
				</li>
			<?php } ?>
			<hr class="style-two">
			<li>
				<a href="<?php echo Wo_SeoLink('index.php?link1=logout'); ?>"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M2 12L7 16 7 13 16 13 16 11 7 11 7 8z"/><path fill="currentColor" d="M13.001,2.999c-2.405,0-4.665,0.937-6.364,2.637L8.051,7.05c1.322-1.322,3.08-2.051,4.95-2.051s3.628,0.729,4.95,2.051 s2.051,3.08,2.051,4.95s-0.729,3.628-2.051,4.95s-3.08,2.051-4.95,2.051s-3.628-0.729-4.95-2.051l-1.414,1.414 c1.699,1.7,3.959,2.637,6.364,2.637s4.665-0.937,6.364-2.637c1.7-1.699,2.637-3.959,2.637-6.364s-0.937-4.665-2.637-6.364 C17.666,3.936,15.406,2.999,13.001,2.999z" /></svg> <?php echo $wo['lang']['log_out']; ?></a>
			</li>
			<div class="tag_footer_mobi"><?php echo Wo_LoadPage('footer/content')?></div>
		</ul>
		<ul class="dropdown-menu dropdown-static-menu tag_scroll tag_mobi_langs_menu dropdown-menu-right">
			<button type="button" class="btn" onclick="$('.tag_main_usr_ddmenu').removeClass('open-lang');"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24"><path fill="currentColor" d="M20 11H6.83l2.88-2.88c.39-.39.39-1.02 0-1.41-.39-.39-1.02-.39-1.41 0L3.71 11.3c-.39.39-.39 1.02 0 1.41L8.3 17.3c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L6.83 13H20c.55 0 1-.45 1-1s-.45-1-1-1z" /></svg></button>
			<h3><?php echo $wo['lang']['select'];?> <?php echo $wo['lang']['language'];?></h3>
			<?php
				$langs = Wo_LangsNamesFromDB();
				if (count($langs) > 0) {
					foreach ($langs as $key => $wo['langs']) {
						if ($wo['config'][$wo['langs']] == 1) {
						$language = $wo['langs'];
						$languages_name = ucfirst($wo['langs']);
						$link = ($wo['config']['seoLink'] == 1) ? '?lang=' . $language: '?&lang=' . $language;
			?>
				<li><a href="<?php echo $link;?>" rel="nofollow"><?php echo $languages_name;?></a></li>
			<?php } } } ?>
		</ul>
	</div>
</div>
<?php  //echo Wo_LoadPage('story/publisher-box'); ?>
<script>
window.addEventListener('resize', () => {let vh = window.innerHeight * 0.01;document.documentElement.style.setProperty('--vh', `${vh}px`);});

$(function() {
	$('form.invite-user-form').ajaxForm({
		url: Wo_Ajax_Requests_File() + '?f=invite_user',
		beforeSend: function() {
			//Wo_progressIconLoader($('form.invite-user-form').find('button'));
		},
		success: function(data) {
			if (data.status == 200) {
				$('.invite-user-form-alert').html('<div class="alert alert-success">' + data.message + '</div>');
				$('.alert-success').fadeIn(300);
			} else {
				var errors = data.errors.join("<br>");
				$('.invite-user-form-alert').html('<div class="alert alert-danger">' + errors + '</div>');
				$('.alert-danger').fadeIn(300);
			}
		}
	});
});
function Wo_GetMoreActivities() {
	var activity_container = $('.activity-container');
	var after_activity_id = $('#activities-wrapper .activity:last').attr('data-activity-id');
	$.post(Wo_Ajax_Requests_File() + '?f=activities&s=get_more_activities', {
		after_activity_id: after_activity_id
	}, function (data) {
		if(data.status == 200) {
			if(data.html.length == 0) {
				$('.no-activities').html(data.message);
			} else {
				$('#activities-wrapper').append(data.html);
			}
        }
	});
}
</script>