<a href="<?php echo $wo['result']['url'] . $wo['marker'];?>ref=se"  class="valign">
	<div class="search-user-avatar">
		<?php /*
		$mime = mime_content_type($wo['result']['avatar']);
		if(strstr($mime, "video/")){ ?>
    	<video controls>
    		<source src="<?php echo $wo['result']['avatar']?>" type='video/mp4'>
    	</video>
	<?php	}else if(strstr($wo['result']['avatar'], "image/")){ */?>
		<img src="<?php echo $wo['result']['avatar']?>" alt="<?php echo $wo['result']['name']?>">
		<?php  /*}*/ if (!empty($wo['result']['page_id'])) { ?>
			<span class="search_result_badge" title="<?php echo $wo['lang']['page'];?>"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path fill="#FF9800" d="M14.4 6l-.24-1.2c-.09-.46-.5-.8-.98-.8H6c-.55 0-1 .45-1 1v15c0 .55.45 1 1 1s1-.45 1-1v-6h5.6l.24 1.2c.09.47.5.8.98.8H19c.55 0 1-.45 1-1V7c0-.55-.45-1-1-1h-4.6z"/></svg></span>
		<?php } else if (!empty($wo['result']['group_id'])) { ?>
			<span class="search_result_badge" title="<?php echo $wo['lang']['group'];?>"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path fill="#3F51B5" d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5s-3 1.34-3 3 1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V18c0 .55.45 1 1 1h12c.55 0 1-.45 1-1v-1.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05.02.01.03.03.04.04 1.14.83 1.93 1.94 1.93 3.41V18c0 .35-.07.69-.18 1H22c.55 0 1-.45 1-1v-1.5c0-2.33-4.67-3.5-7-3.5z"/></svg></span>

		<?php } ?>
	</div>
	<div>
		<div class="search-user-name">
			<?php echo $wo['result']['name']?>
			<?php if(empty($wo['result']['group_id'])) {?>
			<?php if($wo['result']['verified'] == 1) {?>
				<span class="verified-color" title="<?php echo $wo['lang']['verified_user'];?>"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0" fill="#2196f3"></path><path d="m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0" fill="#fff"></path></svg></span>
			<?php } ?>
			<?php } ?>
		</div>
		<?php if (!empty($wo['result']['page_id'])) { ?>
			<div class="search-user-lastseen"><?php echo $wo['result']['category']; ?></div>
		<?php } else if (!empty($wo['result']['group_id'])) { ?>
			<div class="search-user-lastseen"><?php echo Wo_CountGroupMembers($wo['result']['group_id']); ?> <?php echo $wo['lang']['members'];?></div>
		<?php } else { ?>
		<?php if($wo['config']['user_lastseen'] == 1 && $wo['result']['showlastseen'] != 0) { ?>
			<div class="search-user-lastseen"><?php echo Wo_UserStatus($wo['result']['user_id'],$wo['result']['lastseen']); ?></div>
		<?php } ?>
		<?php } ?>
	</div>
</a>
<div class="clear"></div>