<div class="col-lg-4 col-md-6" data-fund-id="<?php echo $wo['challenge_fund']['id']; ?>">
	<div class="wow_content fundings">
		<div class="avatar">
			<!-- /Sameer -->
			<a href="<?= $wo['config']['site_url']."/show_challenge/". $wo['challenge_fund']['hashed_id']?>" class="post-file wo_shared_doc_file mg-10" id="fullsizeimg" style="padding:20px;" >
				<?php
				$post_id = Wo_GetPostIdByChallengeFundId($wo['challenge_fund']['id']);
				$filename=$wo['challenge_fund']['fileName'];
				if(!empty($wo['challenge_fund']['fileThumb']) && $wo['challenge_fund']['fileThumb'] !=NULL)
				{
					$filename=$wo['challenge_fund']['fileThumb'];
				}

				$media = array(
					'type' => 'post',
					'storyId' => $post_id,
					'filename' => $filename,
					'name' =>  $wo['challenge_fund']['file'],
					'postFileThumb' => $wo['challenge_fund']['fileThumb'],
				);
				//echo "<pre>".'-----1254';print_r($wo['challenge_fund']['fund_data']['due_date']);
				/*if(isset($wo['challenge_fund']['fileThumb']) && $wo['challenge_fund']['fileThumb'] !=NULL)
						{
							echo '<img src="'.$wo['challenge_fund']['fileThumb'].'" alt="image" class="image-file pointer">';
							
						}
						else
						{*/
							echo Wo_DisplaySharedFile($media, 'show_fund', $wo['challenge_fund']['fund_data']['cache']);
						/*}*/
				?>
			 </a>	
		
		</div>
		<div class="fundings_desc">
			
			<a href="<?= $wo['config']['site_url']."/show_challenge/". $wo['challenge_fund']['hashed_id']?>"  >
			<h3>
				<?php echo stripslashes($wo['challenge_fund']['challenge']['title']); ?>
			</h3>
			<p class="desc one_line">
				<?php 
                                    //$desc = str_replace('<br>', '', $wo['challenge_fund']['description']);
                                    //echo $desc = mb_substr($desc, 0, 80, "UTF-8") . "...";
                                    echo $wo['lang']['raising_funds_for'];
                                ?>
			</p>
                        </a>
		</div>
		<div class="fundings_desc">
                    <div class="campaign_details rounded">  
                        <a href="<?= $wo['config']['site_url']."/show_fund/". $wo['challenge_fund']['fund_data']['hashed_id']?>">
                                <img src="<?= $wo['challenge_fund']['fund_data']['image']; ?>" alt="campaign thumbnail" class="rounded campaign_thumbnail"/>
				                <h4><?php 
                                    $title=$wo['challenge_fund']['fund_data']['title'];
                                    if(strlen($title) > 50){
                                        echo $title = mb_substr($title, 0, 47, "UTF-8") . "..."; 
                                    }else{
                                        echo $title;
                                    }                                    
                                    ?>
                                    
                                </h4>
                            </a>
                        <div class="clear"></div>
                        
                        <div class="campaign_progress">
                            <div>
                                    <span class="pull-right">
                                    <?php if(!empty($wo['challenge_fund']['fund_data']['due_date'])){ ?>
                                            <time><?php echo Wo_Time_Elapsed_String(strtotime($wo['challenge_fund']['fund_data']['due_date']),"due_date"); ?></time>                                            
                                    <?php }?>
                                    </span>
                                    <p><span class="bold"><?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].$wo['challenge_fund']['fund_data']['raised']; ?></span> of <?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].$wo['challenge_fund']['fund_data']['amount']; ?> <?php echo $wo['lang']['raised_of']; ?></p>
                            </div>
                            <div class="fund_raise_bar">
                                <div class="progress mb-2">
                                    <div class="progress-bar" role="progressbar" style="width: <?php echo $wo['challenge_fund']['fund_data']['bar']; ?>%" aria-valuenow="<?php echo $wo['challenge_fund']['fund_data']['bar']; ?>" aria-valuemin="0" aria-valuemax="<?php echo($wo['challenge_fund']['fund_data']['amount']) ?>"></div>
                                </div>
                            </div>     
                        </div>    
                    </div>
                </div>
                
		<div class="fundings_footer">
			<!-- user buttons -->
		</div>
	</div>
</div>