<div class="item fund_item" data-recent="<?php echo($challenge_fund['id']) ?>">
    <div class="wrapper text-center">
        <img style="width:80%;height:100%;" class="rounded"  src="<?php echo($wo['fund']['image']) ?>" alt="Picture" />
        <p><?php echo $challenge_fund['challenge']['title']; ?></p>
    </div>
</div>