<script>window.addEventListener('resize', () => {let vh = window.innerHeight * 0.01;document.documentElement.style.setProperty('--vh', `${vh}px`);});</script>
<div class="valign tag_welcome">
	<div class="tag_wel_upper">
		<?php echo Wo_LoadPage('welcome/welcome-header-register');?>
	</div>
	<div class="tag_wel_middle">
		<div class="container">
			<div class="valign row tag_wel_row">
				<div class="col-xl-6 col-lg-6 col-sm-5">
					<h2 class="tag_wel_title"><?php echo $wo['lang']['welcome_share_text']?></h2>
					
                                        <?php if(false){ //hide trending tags ?>
                                        <div class="tag_wel_widget">
						<p><?php echo $wo['lang']['trending']?></p>
						<ul class="list-unstyled tag_wel_trend"><?php 
								$hashtags = Wa_GetTrendingHashs('popular');
								if (count($hashtags) > 0) {
									foreach ($hashtags as $wo['hashtag']) { 
							?><button type="button" class="btn btn-mat">#<?php echo $wo['hashtag']['tag'];?></button><?php } } ?></ul>
					</div>
                                        <?php } ?>
					<?php if ($wo['config']['profile_privacy'] == 1) { ?>
						<div class="tag_wel_widget tag_pro_widget">
							<p><?php echo $wo['lang']['joined_users']?></p>
							<div class="tag_pro_users">
								<?php echo Wo_LoadPage('welcome/welcome-users-profiles');?>
							</div>
						</div>
					<?php } ?>
				</div>
				<div class="col-xl-6 col-lg-6 col-sm-7">
					<div class="wow_content tag_auth_box">
						<div class="valign tag_auth_animation d-none"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 367.805 367.805" xml:space="preserve"> <g> <path style="fill:#3BB54A;" d="M183.903,0.001c101.566,0,183.902,82.336,183.902,183.902s-82.336,183.902-183.902,183.902 S0.001,285.469,0.001,183.903l0,0C-0.288,82.625,81.579,0.29,182.856,0.001C183.205,0,183.554,0,183.903,0.001z"/> <polygon style="fill:#fff;" points="285.78,133.225 155.168,263.837 82.025,191.217 111.805,161.96 155.168,204.801 256.001,103.968"/> </g></svg><?php echo $wo['lang']['welcome_back'] ?></div>
						<form id="login" method="post">
							<p class="title"><?php echo $wo['lang']['welcome_']?></p>
							<div class="errors"></div>
							<label class="tag_field">
								<input name="username" type="text" autocomplete="off" placeholder=" " autofocus required>
								<span><?php echo $wo['lang']['username']?></span>
							</label>
							<label class="tag_field tag_wel_forgot">
								<input name="password" type="password" autocomplete="off" placeholder=" " required>
								<span><?php echo $wo['lang']['password']?></span>
								<a href="<?php echo Wo_SeoLink('index.php?link1=forgot-password');?>" title="<?php echo $wo['lang']['forget_password']?>" data-toggle="tooltip"><svg xmlns="http://www.w3.org/2000/svg" height="22" viewBox="0 0 24 24" width="22"><path fill="currentColor" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92c-.5.51-.86.97-1.04 1.69-.08.32-.13.68-.13 1.14h-2v-.5c0-.46.08-.9.22-1.31.2-.58.53-1.1.95-1.52l1.24-1.26c.46-.44.68-1.1.55-1.8-.13-.72-.69-1.33-1.39-1.53-1.11-.31-2.14.32-2.47 1.27-.12.37-.43.65-.82.65h-.3C8.4 9 8 8.44 8.16 7.88c.43-1.47 1.68-2.59 3.23-2.83 1.52-.24 2.97.55 3.87 1.8 1.18 1.63.83 3.38-.19 4.4z"/></svg></a>
							</label>
							<button type="submit" class="btn btn-main btn-mat disable_btn tag_wel_btn"><?php echo strtoupper($wo['lang']['login'])?></button>
							<?php if(!empty( $_GET['last_url'])){?>
								<div><input type="hidden" name="last_url" value="<?php echo urldecode(Wo_Secure($_GET['last_url']));?>"></div>
							<?php } ?>
						</form>
						<?php if ($wo['config']['facebookLogin'] != 0 || $wo['config']['googleLogin'] != 0 || $wo['config']['twitterLogin'] != 0 || $wo['config']['linkedinLogin'] != 0 || $wo['config']['VkontakteLogin'] != 0 || $wo['config']['instagramLogin'] != 0) { ?>
							<div class="valign u_divider"><?php echo $wo['lang']['or']?></div>
                                                        <?php if($wo['config']['googleLogin'] != 0): ?>
                                                            <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" data-longtitle="true"></div>
                                                            <br>
                                                        <?php endif; ?>
							<div class="valign social_btns">
								<?php if($wo['config']['facebookLogin'] != 0): ?>
									<a href="<?php echo $wo['facebookLoginUrl']?>" class="btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22" height="22"><path fill="#4267b2" d="M12 2C6.477 2 2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.879V14.89h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.989C18.343 21.129 22 16.99 22 12c0-5.523-4.477-10-10-10z"></path></svg></a>
								<?php endif; ?>
								<?php if($wo['config']['twitterLogin'] != 0): ?>
									<a href="<?php echo $wo['twitterLoginUrl']?>" class="btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22" height="22"><path fill="#1da1f2" d="M22.162 5.656a8.384 8.384 0 0 1-2.402.658A4.196 4.196 0 0 0 21.6 4c-.82.488-1.719.83-2.656 1.015a4.182 4.182 0 0 0-7.126 3.814 11.874 11.874 0 0 1-8.62-4.37 4.168 4.168 0 0 0-.566 2.103c0 1.45.738 2.731 1.86 3.481a4.168 4.168 0 0 1-1.894-.523v.052a4.185 4.185 0 0 0 3.355 4.101 4.21 4.21 0 0 1-1.89.072A4.185 4.185 0 0 0 7.97 16.65a8.394 8.394 0 0 1-6.191 1.732 11.83 11.83 0 0 0 6.41 1.88c7.693 0 11.9-6.373 11.9-11.9 0-.18-.005-.362-.013-.54a8.496 8.496 0 0 0 2.087-2.165z"></path></svg></a>
								<?php endif; ?>
								<?php if($wo['config']['linkedinLogin'] != 0): ?>
									<a href="<?php echo $wo['linkedInLoginUrl']?>" class="btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22" height="22"><path fill="#0076b6" d="M6.94 5a2 2 0 1 1-4-.002 2 2 0 0 1 4 .002zM7 8.48H3V21h4V8.48zm6.32 0H9.34V21h3.94v-6.57c0-3.66 4.77-4 4.77 0V21H22v-7.93c0-6.17-7.06-5.94-8.72-2.91l.04-1.68z"></path></svg></a>
								<?php endif; ?>
								<?php if($wo['config']['VkontakteLogin'] != 0): ?>
									<a href="<?php echo $wo['VkontakteLoginUrl']?>" class="btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22" height="22"><path fill="#4a76a8" d="M15.07 2H8.93C3.33 2 2 3.33 2 8.93V15.07C2 20.67 3.33 22 8.93 22H15.07C20.67 22 22 20.67 22 15.07V8.93C22 3.33 20.67 2 15.07 2M18.15 16.27H16.69C16.14 16.27 15.97 15.82 15 14.83C14.12 14 13.74 13.88 13.53 13.88C13.24 13.88 13.15 13.96 13.15 14.38V15.69C13.15 16.04 13.04 16.26 12.11 16.26C10.57 16.26 8.86 15.32 7.66 13.59C5.85 11.05 5.36 9.13 5.36 8.75C5.36 8.54 5.43 8.34 5.85 8.34H7.32C7.69 8.34 7.83 8.5 7.97 8.9C8.69 11 9.89 12.8 10.38 12.8C10.57 12.8 10.65 12.71 10.65 12.25V10.1C10.6 9.12 10.07 9.03 10.07 8.68C10.07 8.5 10.21 8.34 10.44 8.34H12.73C13.04 8.34 13.15 8.5 13.15 8.88V11.77C13.15 12.08 13.28 12.19 13.38 12.19C13.56 12.19 13.72 12.08 14.05 11.74C15.1 10.57 15.85 8.76 15.85 8.76C15.95 8.55 16.11 8.35 16.5 8.35H17.93C18.37 8.35 18.47 8.58 18.37 8.89C18.19 9.74 16.41 12.25 16.43 12.25C16.27 12.5 16.21 12.61 16.43 12.9C16.58 13.11 17.09 13.55 17.43 13.94C18.05 14.65 18.53 15.24 18.66 15.65C18.77 16.06 18.57 16.27 18.15 16.27Z"></path></svg></a>
								<?php endif; ?>
								<?php if($wo['config']['instagramLogin'] != 0): ?>
									<a href="<?php echo $wo['instagramLoginUrl']?>" class="btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22" height="22"><path fill="#d14668" d="M12 2c2.717 0 3.056.01 4.122.06 1.065.05 1.79.217 2.428.465.66.254 1.216.598 1.772 1.153a4.908 4.908 0 0 1 1.153 1.772c.247.637.415 1.363.465 2.428.047 1.066.06 1.405.06 4.122 0 2.717-.01 3.056-.06 4.122-.05 1.065-.218 1.79-.465 2.428a4.883 4.883 0 0 1-1.153 1.772 4.915 4.915 0 0 1-1.772 1.153c-.637.247-1.363.415-2.428.465-1.066.047-1.405.06-4.122.06-2.717 0-3.056-.01-4.122-.06-1.065-.05-1.79-.218-2.428-.465a4.89 4.89 0 0 1-1.772-1.153 4.904 4.904 0 0 1-1.153-1.772c-.248-.637-.415-1.363-.465-2.428C2.013 15.056 2 14.717 2 12c0-2.717.01-3.056.06-4.122.05-1.066.217-1.79.465-2.428a4.88 4.88 0 0 1 1.153-1.772A4.897 4.897 0 0 1 5.45 2.525c.638-.248 1.362-.415 2.428-.465C8.944 2.013 9.283 2 12 2zm0 5a5 5 0 1 0 0 10 5 5 0 0 0 0-10zm6.5-.25a1.25 1.25 0 0 0-2.5 0 1.25 1.25 0 0 0 2.5 0zM12 9a3 3 0 1 1 0 6 3 3 0 0 1 0-6z"></path></svg></a>
								<?php endif; ?>
							</div>
						<?php } ?>
					</div>
					<?php if ($wo['config']['user_registration'] == 1): ?>
						<div class="text-center tag_wel_register"><?php echo $wo['lang']['dont_have_account']?><br /><br /><a class="btn btn-action btn-mat tag_wel_btn" href="<?php echo Wo_SeoLink('index.php?link1=register');?>"><?php echo strtoupper($wo['lang']['register']) ?></a></div>
                                                
					<?php endif ?>
				</div>
			</div>
		</div>
	</div>
	<div class="tag_wel_bottom">
		<?php echo Wo_LoadPage('footer/welcome');?>
	</div>
</div>

<script>
var working = false;
var $this = $('#login');
var $state = $this.find('.errors');
var $login_anim = $('.tag_auth_animation');

<?php if($wo['config']['googleLogin'] != 0): ?>
function signOut() {
	var auth2 = gapi.auth2.getAuthInstance();
	auth2.signOut().then(function () {
	  console.log('User signed out.');
	});
}

function onSignIn(googleUser) {
    // The ID token you need to pass to your backend:
    var id_token = googleUser.getAuthResponse().id_token;
    $.post(Wo_Ajax_Requests_File() + '?f=google_login', {id_token: id_token}, function(data, textStatus, xhr) {
    	if (data.status == 200) {
    		signOut();
    		$login_anim.removeClass('d-none');
			$this.find('.disable_btn').attr("disabled", true);
	        setTimeout(function () {
	        	window.location.href = data.location;
	        }, 1000);
    	}
    	else{
			$this.find('.disable_btn').attr("disabled", false);
	        $state.html(data.message);
    	}
    });
}
<?php endif; ?>

$(function() {
  $('#login').ajaxForm({
    url: Wo_Ajax_Requests_File() + '?f=login',
    beforeSend: function() {
		working = true;
		$this.find('.disable_btn').attr("disabled", true);
    },
    success: function(data) {
    	console.log(data)
      if (data.status == 200 || data.status == 600) {
      	$login_anim.removeClass('d-none');
        setTimeout(function () {
        	window.location.href = data.location;
        }, 1000);
      } else {
        var errors = data.errors.join("<br>");
        $state.html(errors);
      } 
      working = false;
	  $this.find('.disable_btn').attr("disabled", false);
    },
    errors:function(errors){
    	console.log(errors)
    }
  });
});
</script>