<?php $fields = Wo_GetWelcomeFileds(); ?>
<div class="valign tag_welcome">
	<div class="tag_wel_upper">
		<?php echo Wo_LoadPage('welcome/welcome-header');?>
	</div>
	<div class="tag_wel_middle">
		<div class="container">
			<div class="wow_content tag_auth_box tag_auth_box_auto">
				<div class="valign tag_auth_animation d-none"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 367.805 367.805" xml:space="preserve"> <g> <path style="fill:#3BB54A;" d="M183.903,0.001c101.566,0,183.902,82.336,183.902,183.902s-82.336,183.902-183.902,183.902 S0.001,285.469,0.001,183.903l0,0C-0.288,82.625,81.579,0.29,182.856,0.001C183.205,0,183.554,0,183.903,0.001z"/> <polygon style="fill:#fff;" points="285.78,133.225 155.168,263.837 82.025,191.217 111.805,161.96 155.168,204.801 256.001,103.968"/> </g></svg><?php echo $wo['lang']['welcome_'] ?></div>
				<form id="register" method="post">
					<p class="title"><?php echo $wo['lang']['sign_up']?></p>
					<label class="tag_field">
						<input name="username" type="text" autocomplete="off" placeholder=" " autofocus required>
						<span><?php echo $wo['lang']['username']?></span>
					</label>
					<label class="tag_field">
						<input name="email" type="email" autocomplete="off" placeholder=" " required>
						<span><?php echo $wo['lang']['email_address']?></span>
					</label>
					<?php if($wo['config']['sms_or_email'] == 'sms') {?>
						<label class="tag_field">
							<input name="phone_num" type="tel" autocomplete="off" placeholder=" " required>
							<span><?php echo $wo['lang']['phone_num_ex']?></span>
						</label>
					<?php } ?>
					<label class="tag_field">
						<input name="password" type="password" id="password" autocomplete="off" placeholder=" " required>
						<span><?php echo $wo['lang']['password']?></span>
					</label>
					<?php if ($wo['config']['password_complexity_system'] == 1) { ?>
						<ul class="helper-text">
							<li class="length"><?php echo $wo['lang']['least_characters']; ?></li>
							<li class="lowercase"><?php echo $wo['lang']['contain_lowercase']; ?></li>
							<li class="uppercase"><?php echo $wo['lang']['contain_uppercase']; ?></li>
							<li class="special"><?php echo $wo['lang']['number_special']; ?></li>
						</ul>
					<?php } ?>
					<label class="tag_field">
						<input name="confirm_password" type="password" autocomplete="off" placeholder=" " required>
						<span><?php echo $wo['lang']['confirm_password']?></span>
					</label>
					<?php 
						if (!empty($fields) && count($fields) > 0) {
							foreach ($fields as $key => $wo['field']) {
								echo Wo_LoadPage('welcome/fields');
							}
						}
					?>
					<label class="tag_field">
						<select name="gender" id="gender">
                                                        <option value="" selected disabled hidden><?=$wo['lang']['select_an_option']?></option>
							<?php foreach ($wo['genders'] as $key => $gender) { ?>
								<option value="<?php echo($key) ?>"><?php echo $gender; ?></option>
							<?php } ?>
						</select>
						<span><?php echo $wo['lang']['gender']?></span>
					</label>
					<?php if($wo['config']['reCaptcha'] == 1) {?>
						<div class="form-group">
							<div class="g-recaptcha" data-sitekey="<?php echo $wo['config']['reCaptchaKey']?>"></div>
						</div>
					<?php } ?>
					<?php if(!empty( $_GET['last_url'])){?>
						<div><input type="hidden" name="last_url" value="<?php echo urldecode(Wo_Secure($_GET['last_url']));?>"></div>
					<?php } ?>
					<div class="round-check">
						<input type="checkbox" name="accept_terms" id="accept_terms" onchange="activateButton(this)">
						<label for="accept_terms"> 
							<?php echo $wo['lang']['terms_agreement'] ?> <a href="<?php echo Wo_SeoLink('index.php?link1=terms&type=terms-of-service');?>"><?php echo $wo['lang']['terms_of_use'] ?></a> & <a href="<?php echo Wo_SeoLink('index.php?link1=terms&type=privacy-policy');?>"><?php echo $wo['lang']['privacy_policy'] ?></a>
						</label>
					</div>
					<button type="submit" class="btn btn-main btn-mat tag_wel_btn" id="sign_submit" disabled><?php echo $wo['lang']['lets_go']?></button>
					<?php if (isset($_GET['invite']) && (Wo_IsAdminInvitationExists($_GET['invite']) || Wo_IsUserInvitationExists($_GET['invite']))): ?>
						<input type="text" class="hidden" value="<?php echo $_GET['invite']; ?>" name="invited">
					<?php endif; ?>
                                        <div class="errors display_bottom"></div>                    
				</form>
                                <div id="validate_message">
                                    <p class="title"><?php echo $wo['lang']['sign_up']?></p>
                                    <div class="success display_bottom"></div>
                                </div>    
			</div>
			<div class="text-center tag_wel_register"><?php echo $wo['lang']['already_have_account']?><br /><br /><a class="btn btn-action btn-mat tag_wel_btn" href="<?php echo $wo['config']['site_url'];?>"><?php echo strtoupper($wo['lang']['login'])?></a></div>                     
		</div>
	</div>
	<div class="tag_wel_bottom">
		<?php echo Wo_LoadPage('footer/welcome');?>
	</div>
</div>

<script>
var working = false;
var $this = $('#register');
var $state = $this.find('.errors');
var $login_anim = $('.tag_auth_animation');
var $message_box = $('#validate_message');
var $message = $message_box.find('.success');

$(function() {
	$this.ajaxForm({
		url: Wo_Ajax_Requests_File() + '?f=register',
		beforeSend: function() {
			<?php if ($wo['config']['password_complexity_system'] == 1) { ?>
				if ($('.helper-text .length').hasClass('valid') && $('.helper-text .lowercase').hasClass('valid') && $('.helper-text .uppercase').hasClass('valid') && $('.helper-text .special').hasClass('valid')) {
					working = true;
					$this.find('button').attr("disabled", true);
				}
				else{
					$state.html("<?php echo($wo['lang']['complexity_requirements']) ?>");
					return false;
				}
			<?php } else{ ?>
				working = true;
				$this.find('button').attr("disabled", true);
			<?php } ?>
		},
		success: function(data) {
			if (data.status == 200) {
				$login_anim.removeClass('d-none');
				setTimeout(function () {
					window.location.href = data.location;
				}, 1000);
			} else if (data.status == 300) {
				window.location.href = data.location;
			} else {
				$this.find('button').attr("disabled", false);
                                if(data.validation){
                                    $this.hide();
                                    $message.html(data.errors);
                                    $message_box.show();
                                }else{
                                    $state.html(data.errors);
                                }				
			} 
			working = false;
		}
	});
});

function activateButton(element) {
	if(element.checked) {
		document.getElementById("sign_submit").disabled = false;
	}
	else  {
		document.getElementById("sign_submit").disabled = true;
	}
};

<?php if ($wo['config']['password_complexity_system'] == 1) { ?>
(function(){
	var helperText = {
		charLength: document.querySelector('.helper-text .length'),
		lowercase: document.querySelector('.helper-text .lowercase'),
		uppercase: document.querySelector('.helper-text .uppercase'),
		special: document.querySelector('.helper-text .special')
	};
	var password = document.querySelector('#password');
	var pattern = {
		charLength: function() {
			if( password.value.length >= 6 ) {
				return true;
			}
		},
		lowercase: function() {
			var regex = /^(?=.*[a-z]).+$/;
			if( regex.test(password.value) ) {
				return true;
			}
		},
		uppercase: function() {
			var regex = /^(?=.*[A-Z]).+$/;
			if( regex.test(password.value) ) {
				return true;
			}
		},
		special: function() {
			var regex = /^(?=.*[0-9_\W]).+$/;
			if( regex.test(password.value) ) {
				return true;
			}
		}   
	};
	password.addEventListener('keyup', function (){
  	    $('.helper-text').slideDown('slow', function() {

  	    });
		patternTest( pattern.charLength(), helperText.charLength );
		patternTest( pattern.lowercase(), helperText.lowercase );
		patternTest( pattern.uppercase(), helperText.uppercase );
		patternTest( pattern.special(), helperText.special );
		if( hasClass(helperText.charLength, 'valid') &&
			  hasClass(helperText.lowercase, 'valid') && 
			 	hasClass(helperText.uppercase, 'valid') && 
			  hasClass(helperText.special, 'valid')
		) {
			addClass(password.parentElement, 'valid');
		}
		else {
			removeClass(password.parentElement, 'valid');
		}
	});
	function patternTest(pattern, response) {
		if(pattern) {
			addClass(response, 'valid');
		}
		else {
			removeClass(response, 'valid');
		}
	}
	function addClass(el, className) {
		if (el.classList) {
			el.classList.add(className);
		}
		else {
			el.className += ' ' + className;
		}
	}
	function removeClass(el, className) {
		if (el.classList)
				el.classList.remove(className);
			else
				el.className = el.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
	}
	function hasClass(el, className) {
		if (el.classList) {
			console.log(el.classList);
			return el.classList.contains(className);	
		}
		else {
			new RegExp('(^| )' + className + '( |$)', 'gi').test(el.className);	
		}
	}
})();
<?php } ?>
</script>