<div class="container">
	<div class="valign navbar-default">
		<a class="logo" href="<?php echo $wo['config']['site_url'];?>"><img src="<?php echo $wo['config']['theme_url'];?>/img/logo_horizontal.png" alt="Logo"> </a>		
	</div>
</div>