<?php 

$page           = (!empty($_GET['page-id']) && is_numeric($_GET['page-id'])) ? $_GET['page-id'] : 1;
$filter_keyword = (!empty($_GET['query'])) ? Wo_Secure($_GET['query']) : '';
$filter_type    = '';
$db->pageLimit  = 50;

//echo $filter_keyword;die;
if (!empty($filter_keyword)) 
{
   // $sql= "(`title` LIKE '%$filter_keyword%' OR `description` LIKE '%$filter_keyword%')";
    $sql="(c.`title` LIKE '%$filter_keyword%' OR fc.`description` LIKE '%$filter_keyword%')";
    //echo $sql;die;
    //$posts = $db->where($sql)->orderBy('id', 'DESC')->objectbuilder()->paginate(T_FUNDING, $page);
    $db->join("wo_challenge c", "fc.challenge_id=c.id");
    $db->where($sql);
    $db->where("fc.status", '0','<>');
    $challenges = $db->orderBy('id', 'DESC')->objectbuilder()->paginate ("wo_challenge_funding fc", $page, "c.title,fc.id, fc.user_id, fc.status,fc.hashed_id,fc.time,fc.endorsement_comment");
   

} 
else 
{
  $db->join("wo_challenge c", "fc.challenge_id=c.id");
  $db->where("fc.status", '0','<>');
  $challenges = $db->orderBy('id', 'DESC')->objectbuilder()->paginate ("wo_challenge_funding fc", $page, "c.title,fc.id, fc.user_id, fc.status,fc.hashed_id,fc.time,fc.endorsement_comment");
}
 //echo $db->getLastQuery();die;
if (($page > $db->totalPages) && !empty($_GET['page-id'])) {
  header("Location: " . Wo_LoadAdminLinkSettings('manage-challenges'));
  exit();
}

?>

<div class="container-fluid">
    <div class="block-header">
        <h2>Manage Features > Challenges</h2>
    </div>
    <!-- Vertical Layout -->
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Manage Challenges</h2>
                </div>
                <div class="body">
                    <div class="row">
                      <div class="col-md-6" style="margin-bottom:0;">
                        <form method="get" action="<?php echo Wo_LoadAdminLinkSettings('manage-challenges'); ?>">
                          <div class="row">
                            <div class="col-md-11">
                              <div class="form-group form-float">
                                  <div class="form-line">
                                      <input type="text" name="query" id="query" class="form-control" value="<?php echo($filter_keyword); ?>">
                                      <label class="form-label search-form">
                                        Search for Challenge title or description.
                                      </label>
                                  </div>
                              </div>
                            </div>
                            <div class="col-md-1">
                               <button class="btn btn-info">Search</button>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                        </form>
                      </div>
                    </div>
                    
                    <input type="hidden" id="hash_id" name="hash_id" value="<?php echo Wo_CreateSession();?>">
                    <div class="clearfix"></div>
                    <div class="table-responsive1">
                      <div id="show-alert"></div>
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                             <th>ID</th>
                             <th>Fundraiser</th>
                             <th width="25%">Title</th>
                             <th>Link</th>
                             <th>Status</th>
                             <th>Posted</th>
                             <th>Endorsement comment</th>
                             <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            <?php 
                              foreach ($challenges as $challenge) {
                                $wo['story'] = $challenge;
                                if (!empty($challenge->user_id)) {
                                  $wo['story']->publisher = Wo_UserData($challenge->user_id);
                                  if (!empty($wo['story']->publisher)) {
                                    echo Wo_LoadAdminPage('manage-challenges/list');
                                  }
                                }
                              }
                            ?>
                            </tbody>
                        </table>
                    </div>
                    <div class="wo-admincp-feturepager">
                        <div class="pull-left">
                            <span>
                              <?php echo "Showing $page out of " . $db->totalPages; ?>
                            </span>
                        </div>
                        <div class="pull-right">
                            <nav>
                                <ul class="pagination">
                                    <li>
                                      <a href="<?php echo Wo_LoadAdminLinkSettings('manage-challenges?page-id=1'); ?>" class="waves-effect" title='First Page'>
                                          <i class="material-icons">first_page</i>
                                      </a>
                                    </li>
                                    <?php if ($page > 1) {  ?>
                                      <li>
                                          <a href="<?php echo Wo_LoadAdminLinkSettings('manage-challenges?page-id=' . ($page - 1)); ?>" class="waves-effect" title='Previous Page'>
                                              <i class="material-icons">chevron_left</i>
                                          </a>
                                      </li>
                                    <?php  } ?>

                                    <?php 
                                      $nums       = 0;
                                      $nums_pages = ($page > 4) ? ($page - 4) : $page;

                                      for ($i=$nums_pages; $i <= $db->totalPages; $i++) { 
                                        if ($nums < 20) {
                                    ?>
                                      <li class="<?php echo ($page == $i) ? 'active' : ''; ?>">
                                        <a href="<?php echo Wo_LoadAdminLinkSettings('manage-challenges?page-id=' . ($i)); ?>" class="waves-effect">
                                          <?php echo $i ?>   
                                        </a>
                                      </li>

                                    <?php } $nums++; }?>

                                    <?php if ($db->totalPages > $page) { ?>
                                      <li>
                                          <a href="<?php echo Wo_LoadAdminLinkSettings('manage-challenges?page-id=' . ($page + 1)); ?>" class="waves-effect" title="Next Page">
                                              <i class="material-icons">chevron_right</i>
                                          </a>
                                      </li>
                                    <?php } ?>
                                    <li>
                                      <a href="<?php echo Wo_LoadAdminLinkSettings('manage-challenges?page-id=' . ($db->totalPages)); ?>" class="waves-effect" title='Last Page'>
                                          <i class="material-icons">last_page</i>
                                      </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
    </div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h4 class="modal-title" id="proModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="alert" id="proModalAlert"></div>
                <form class="editModalForm" method="POST">
                    <div id="edit_form_data"></div>
                    <input type="hidden" name="hash_id" value="<?php echo Wo_CreateSession();?>">
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" onclick="Wo_SubmitProForm(this);" class="btn-save btn btn-link waves-effect" id="save_pro_btn">SAVE CHANGES</button>
                <button type="button" class="btn btn-link" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>
<script>

function Wo_AdminDeletePost(chal_id) 
{

    if (confirm("Are you sure you want to delete this challenge?") == false) {
      return false;
    }
    hash_id = $('#hash_id').val();
    $('#PostID_' + chal_id).fadeOut(300, function() {
       $(this).remove();
    });
    $.post(Wo_Ajax_Requests_File() + '?f=admin_setting&s=delete_challenge', {challenge_fund_id:chal_id, hash_id:hash_id});
}
function wo_suspendChallengePost(chal_id,type)
{
  if (confirm("Are you sure you want to "+type+" this challenge?") == false) {
      return false;
    }
  hash_id = $('#hash_id').val();
  // $('#PostID_' + chal_id).fadeOut(300, function() {
  //      $(this).attr('disabled','true');
  //   });

  $.ajax({
      url: Wo_Ajax_Requests_File() + '?f=admin_setting&s=suspend_challenge',
      type: 'POST',
      dataType: 'json',
      data: {challenge_fund_id:chal_id,hash_id:hash_id},
    })
    .done(function(data) {
      console.log(data)
      if (data['status'] == 200) 
      {
        
        $("#show-alert").html('<div class="alert alert-success">'+ data['message'] +'</div>');
        setTimeout(function () {
          $(".show-message").html('');
          location.reload();
        },2000)
      } 
      else if (data['message']) 
      {
        $("#show-alert").html('<div class="alert alert-danger">' + data['message'] + '</div>');
      } 
      //$('#endorseBtn').removeAttr("disabled");
    });

}

</script>