<tr class="setting-postlist" id="PostID_<?php echo $wo['story']->id?>" data-post-id="<?php echo $wo['story']->id?>">
   <td><?php echo $wo['story']->id?></td>
   <td>
      <a href="<?php echo $wo['story']->publisher['url']; ?>">
      <img src="<?php echo $wo['story']->publisher['avatar']?>" class="setting-avatar" alt="<?php echo $wo['story']->publisher['avatar']?> Profile Picture">
      <?php echo $wo['story']->publisher['name']; ?>
      </a>
   </td>
   <td>
      <?php echo $wo['story']->title; ?>
   </td>
   
   <td><a href="<?php echo $wo['site_url'].'/show_challenge/'. $wo['story']->hashed_id;?>" target="_blank">Show Challenge</a></td>
    <!-- <td><?php echo ($wo['story']->status === '1') ? '<span class="label label-success">' . $wo['lang']['active'] . '</span>': '<span class="label label-danger">' . $wo['lang']['pending'] . '</span>';?></td> -->
   <td>
      <?php  if($wo['story']->status=='1'): ?>
         <span class="label label-success"><?=$wo['lang']['active']?></span>
      <?php  elseif($wo['story']->status=='3'): ?>
         <span class="label label-default">Unpublished</span>
      <?php  elseif($wo['story']->status=='4'): ?>
         <span class="label label-primary">Suspended</span>
      <?php  else: ?>  
         <span class="label label-danger"><?=$wo['lang']['pending']?></span>
      <?php  endif; ?>   
   </td>
   <td>
      <div class="ajax-time" title="<?php echo date('c',$wo['story']->time); ?>">
         <?php echo Wo_Time_Elapsed_String($wo['story']->time);?>
      </div>
   </td>
   <td>
      <?php echo $wo['story']->endorsement_comment; ?>
   </td>
   <td>
    
         <?php if($wo['story']->status ==4): ?>
           <button onclick="wo_suspendChallengePost(<?php echo $wo['story']->id?>,'unsuspend');" type="button" class="btn btn-primary waves-effect waves-light">UNSUSPEND</button>
         <?php else: ?>
           <button onclick="wo_suspendChallengePost(<?php echo $wo['story']->id?>,'suspend');" type="button" class="btn btn-primary waves-effect waves-light">SUSPEND</button>
         <?php endif; //echo $wo['story']->status; ?>
     <button onclick="Wo_AdminDeletePost(<?php echo $wo['story']->id?>);" type="button" class="btn btn-danger waves-effect waves-light">DELETE</button>

   </td>
</tr>