<div class="modal fade" id="create-password" role="dialog">
	<div class="modal-dialog wow_mat_mdl modal-md" id="modal-dialog-update-info">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><?php echo $wo['lang']['update_your_info']; ?></h4>
            </div>
			<form action="#" method="post" class="create-password" id="update-info">
				<div class="modal-body tag_field_full_margin">
					<label class="tag_field">
						<input id="username" name="username" type="text" placeholder=" " onkeyup="Wo_CheckUsername(this.value);" autocomplete="off">
						<span><?php echo $wo['lang']['choose_your_username'] ?></span>
					</label>
					<div class="help-block checking"></div>
					<hr class="mb-15">
					<label class="tag_field">
						<input id="new_password" name="new_password" type="password" placeholder=" " autocomplete="off">
						<span><?php echo $wo['lang']['create_your_new_password'] ?></span>
					</label>
                                        <?php if ($wo['config']['password_complexity_system'] == 1) { ?>
						<ul class="helper-text">
							<li class="length"><?php echo $wo['lang']['least_characters']; ?></li>
							<li class="lowercase"><?php echo $wo['lang']['contain_lowercase']; ?></li>
							<li class="uppercase"><?php echo $wo['lang']['contain_uppercase']; ?></li>
							<li class="special"><?php echo $wo['lang']['number_special']; ?></li>
						</ul>
					<?php } ?>
					<label class="tag_field">
						<input id="repeat_new_password" name="repeat_new_password" type="password" placeholder=" " autocomplete="off">
						<span><?php echo $wo['lang']['confirm_password'] ?></span>
					</label>
					<input type="hidden" name="user_id" value="<?php echo $wo['user']['user_id']?>">
					<input type="hidden" name="hash_id" value="<?php echo Wo_CreateSession();?>">
				</div>
                                <div class="error-container"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-mat disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel'] ?></button>
					<button id="create-password-button" type="submit" class="btn btn-mat btn-main"><?php echo $wo['lang']['update'];?></button>
				</div>
			</form>
		</div>
	</div>
</div>

<?php if ($wo['config']['password_complexity_system'] == 1) { ?>
<script>
(function(){
	var helperText = {
		charLength: document.querySelector('.helper-text .length'),
		lowercase: document.querySelector('.helper-text .lowercase'),
		uppercase: document.querySelector('.helper-text .uppercase'),
		special: document.querySelector('.helper-text .special')
	};
	var password = document.querySelector('#new_password');
	var pattern = {
		charLength: function() {
			if( password.value.length >= 6 ) {
				return true;
			}
		},
		lowercase: function() {
			var regex = /^(?=.*[a-z]).+$/;
			if( regex.test(password.value) ) {
				return true;
			}
		},
		uppercase: function() {
			var regex = /^(?=.*[A-Z]).+$/;
			if( regex.test(password.value) ) {
				return true;
			}
		},
		special: function() {
			var regex = /^(?=.*[0-9_\W]).+$/;
			if( regex.test(password.value) ) {
				return true;
			}
		}   
	};
	password.addEventListener('keyup', function (){
  	    $('.helper-text').slideDown('slow', function() {

  	    });
		patternTest( pattern.charLength(), helperText.charLength );
		patternTest( pattern.lowercase(), helperText.lowercase );
		patternTest( pattern.uppercase(), helperText.uppercase );
		patternTest( pattern.special(), helperText.special );
		if( hasClass(helperText.charLength, 'valid') &&
			  hasClass(helperText.lowercase, 'valid') && 
			 	hasClass(helperText.uppercase, 'valid') && 
			  hasClass(helperText.special, 'valid')
		) {
			addClass(password.parentElement, 'valid');
		}
		else {
			removeClass(password.parentElement, 'valid');
		}
	});
	function patternTest(pattern, response) {
		if(pattern) {
			addClass(response, 'valid');
		}
		else {
			removeClass(response, 'valid');
		}
	}
	function addClass(el, className) {
		if (el.classList) {
			el.classList.add(className);
		}
		else {
			el.className += ' ' + className;
		}
	}
	function removeClass(el, className) {
		if (el.classList)
				el.classList.remove(className);
			else
				el.className = el.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
	}
	function hasClass(el, className) {
		if (el.classList) {
			console.log(el.classList);
			return el.classList.contains(className);	
		}
		else {
			new RegExp('(^| )' + className + '( |$)', 'gi').test(el.className);	
		}
	}
})();
</script>
<?php } ?>    
