<style type="text/css">
	.tag_auth_box .errors {
    margin: 0 0 15px;
    color: #F44336;
    font-size: 15px;
}
</style>
<div class="modal fade" id="register_beneficiary" role="dialog">
	<div class="modal-dialog wow_mat_mdl modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><?php echo $wo['lang']['create_beneficiary']; ?></h4>
			</div>
                        <div class="alert alert-warning"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 50 50"><path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:currentColor;stroke-opacity:1;stroke-miterlimit:4" d="M22 12c0 5.524-4.476 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.476 10 10zM12 8v4m0 4h0" transform="scale(2.08333)"></path></svg>&nbsp;<?=$wo['lang']['create_beneficiary_warning_msg'];?></div>
			<form id="register" class="tag_auth_box" method="post">
					
					<div class="errors"></div>
					<label class="tag_field">
						<input name="first_name" type="text" autocomplete="off" placeholder=" " autofocus required>
						<span><?php echo $wo['lang']['first_name']?> *</span>
					</label>
					<label class="tag_field">
						<input name="last_name" type="text" autocomplete="off" placeholder=" " autofocus required>
						<span><?php echo $wo['lang']['last_name']?> *</span>
					</label>
					<label class="tag_field">
						<input name="email" type="email" autocomplete="off" placeholder=" " required>
						<span><?php echo $wo['lang']['email_address']?> *</span>
					</label>
					
					
					<?php 
						if (!empty($fields) && count($fields) > 0) {
							foreach ($fields as $key => $wo['field']) {
								echo Wo_LoadPage('welcome/fields');
							}
						}
					?>
					<label class="tag_field">
						<select name="gender" id="gender">
                            <option value="" selected disabled hidden><?=$wo['lang']['select_an_option']?></option>
							<?php foreach ($wo['genders'] as $key => $gender) { ?>
								<option value="<?php echo($key) ?>"><?php echo $gender; ?></option>
							<?php } ?>
						</select>
						<span><?php echo $wo['lang']['gender']?> *</span>
					</label>
					<?php if($wo['config']['reCaptcha'] == 1) {?>
						<div class="form-group">
							<div class="g-recaptcha" data-sitekey="<?php echo $wo['config']['reCaptchaKey']?>"></div>
						</div>
					<?php } ?>
					
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default btn-mat disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel']; ?></button>
                                            <button type="submit" class="btn btn-main btn-mat tag_wel_btn" id="sign_submit" >
						<?php echo $wo['lang']['create_beneficiary']?></button>
                                        </div>
					
				</form>
		</div>
	</div>
</div>

<script>
var working = false;
var $this = $('#register');
var $state = $this.find('.errors');
var $login_anim = $('.tag_auth_animation');

$(function() {
	$this.ajaxForm({
		url: Wo_Ajax_Requests_File() + '?f=funding&s=create_beneficiary',
		beforeSend: function() {
			
			//$this.find('button').attr("disabled", true);
			$state.html('');
		},
		success: function(data) {
			console.log(data)
			$this.find('button').attr("disabled", false);
			if (data.status == 200) 
			{
				$("#register_beneficiary").modal('hide');
				
				var username='@'+ data.user_detail;
				$("textarea.beneficiary").val(username);
				
			} 
			else 
			{
				$this.find('button').attr("disabled", false);
				$state.html(data.message);
			} 
			
		},
		error:function(data){
			console.log(data)
			console.log(data.responseText); 
		}
	});
});
</script>