<div id="scroll_filter_click"></div>
<div class="valign tag_home_filters">
	<ul class="list-unstyled tag_page_nav valign filterby tag_scroll" id="filterby-post">
		<li class="active filter-by-li" dir="auto">
            <a href="javascript:void(0);" class="btn-mat" onclick="Wo_FilterPostBy('all');"><?php echo $wo['lang']['all'];?></a>
        </li>
        <li class="filter-by-li" dir="auto">
            <a href="javascript:void(0);" class="btn-mat" onclick="Wo_FilterPostBy('post');"><?php echo $wo['lang']['posts'];?></a>
        </li>
        <li class="filter-by-li" dir="auto">
            <a href="javascript:void(0);" class="btn-mat" onclick="Wo_FilterPostBy('funding');"><?php echo $wo['lang']['funding'];?></a>
        </li>
        <li class="filter-by-li" dir="auto">
            <a href="javascript:void(0);" class="btn-mat" onclick="Wo_FilterPostBy('challenge');"><?php echo $wo['lang']['challenges'];?></a>
        </li>
	</ul>
</div>