<div class="col-lg-4 col-md-6" data-fund-id="<?php echo $wo['fund']['id']; ?>">
	<div class="wow_content fundings">
		<div class="avatar">
			<!-- /Sameer -->
			<?php 
				$imageView = 
				"
				<img src='".$wo['fund']['image']."' alt='".$wo['fund']['title']."'>
				";
			?>
			<a href="<?php echo $wo['config']['site_url'].'/show_fund/'. $wo['fund']['hashed_id']; ?>" data-ajax="?link1=show_fund&id=<?php echo $wo['fund']['hashed_id']; ?>">
			
				<?= empty($wo['fund']['image']) != 1 ? $imageView : ""  ?>
				<?php if(!empty($wo['fund']['video'])): ?>
					<div class="post-file wo_shared_doc_file mg-10" id="fullsizeimg" style="padding:20px;" >
						<?php
						$media = array(
							'type' => 'post',
							'storyId' => $wo['fund']['fund_id'],
							'filename' => $wo['fund']['video'],
							'name' => $wo['fund']['video'],
							'postFileThumb' => $wo['fund']['video'],
						);
						echo Wo_DisplaySharedFile($media, '', $wo['fund']['cache']);
						?>
					</div>
				<?php endif;?>		
			</a>
		</div>
		<div class="fundings_desc">
			<?php
			if(!empty($wo['fund']['due_date'])){ ?>
			 	<time><?php echo Wo_Time_Elapsed_String(strtotime($wo['fund']['due_date']),"due_date"); ?></time>
			<?php }else {
			?>
			   <time><?php echo date("d M Y",$wo['fund']['time']); ?></time> 
			<?php }
			?>
			<h3 class="truncate"><a title="<?php echo $wo['fund']['title']; ?>" href="<?php echo $wo['config']['site_url'].'/show_fund/'. $wo['fund']['hashed_id']; ?>" data-ajax="?link1=show_fund&id=<?php echo($wo['fund']['hashed_id']) ?>"><?php echo $wo['fund']['title']; ?></a></h3>
			<p class="desc">
				<?php 
				//$desc = str_replace('<br>', '', $wo['fund']['description']);
				//echo $desc = mb_substr($desc, 0, 80, "UTF-8") . "...";
				$businessDesc = strip_tags(html_entity_decode($wo['fund']['description']));
				echo $desc = mb_substr($businessDesc, 0, 60, "UTF-8") . "...";


				 ?>
			</p>
			<p class="desc">
				Organizer : 
					<div class="postMeta--author-avatar">
					<a href="<?php echo $wo['fund']['user_data']['url']?>">
						<img src="<?php echo $wo['fund']['user_data']['avatar']?>" alt="User Image">
					</a>
					</div>
					<div class="postMeta--author-text">
						<span class="user-popover" data-id="<?=$wo['fund']['user_data']['id']?>" data-type="user">
							<a href="<?php echo $wo['fund']['user_data']['url']; ?>" data-ajax="?link1=timeline&u=<?php echo $wo['fund']['user_data']['username']; ?>"><?php echo $wo['fund']['user_data']['name']; ?></a>
						</span>
					</div>
				</p>
		</div>
		<div class="fundings_footer">
			<div class="wow_content m-2">
				<span class="pull-right">
				<?php
					if(!empty($wo['fund']['due_date'])){ ?>
					 	<time><?php echo Wo_Time_Elapsed_String(strtotime($wo['fund']['due_date']),"due_date"); ?></time>
				<?php }?>
				</span>
				<p><span class="bold"><?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].$wo['fund']['raised']; ?></span> of <?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].$wo['fund']['amount']; ?> <?php echo $wo['lang']['raised_of']; ?></p>
				<div class="progress mb-2">
					<div class="progress-bar" role="progressbar" style="width: <?php echo $wo['fund']['bar']; ?>%" aria-valuenow="<?php echo $wo['fund']['bar']; ?>" aria-valuemin="0" aria-valuemax="<?php echo($wo['fund']['amount']) ?>"></div>
				</div>
			</div>
		</div>
	</div>
</div>