<?php 

$page           = (!empty($_GET['page-id']) && is_numeric($_GET['page-id'])) ? $_GET['page-id'] : 1;
$filter_keyword = (!empty($_GET['query'])) ? Wo_Secure($_GET['query']) : '';
$filter_type    = '';
$db->pageLimit  = 50;


if (!empty($filter_keyword)) {
  $sql   = "(`title` LIKE '%$filter_keyword%' OR `description` LIKE '%$filter_keyword%')";
  $posts = $db->where($sql)->orderBy('id', 'DESC')->objectbuilder()->paginate(T_FUNDING, $page);
} 

else {
  $posts = $db->objectbuilder()->orderBy('id', 'DESC')->paginate(T_FUNDING, $page);
}

if (($page > $db->totalPages) && !empty($_GET['page-id'])) {
  header("Location: " . Wo_LoadAdminLinkSettings('manage-fund'));
  exit();
}

?>
<style type="text/css">
  .admn-beneficiary{
    display: flex;
  }
 
  .admn-beneficiary img
  {
    width: 30px;
    margin-right: 10px;
  }
</style>
<div class="container-fluid">
    <div class="block-header">
        <h2>Manage Features > Campaigns</h2>
    </div>
    <!-- Vertical Layout -->
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Manage Campaigns</h2>
                </div>
                <div class="body">
                    <div class="row">
                      <div class="col-md-6" style="margin-bottom:0;">
                        <form method="get" action="<?php echo Wo_LoadAdminLinkSettings('manage-fund'); ?>">
                          <div class="row">
                            <div class="col-md-11">
                              <div class="form-group form-float">
                                  <div class="form-line">
                                      <input type="text" name="query" id="query" class="form-control" value="<?php echo($filter_keyword); ?>">
                                      <label class="form-label search-form">
                                        Search for campaign title or description.
                                      </label>
                                  </div>
                              </div>
                            </div>
                            <div class="col-md-1">
                               <button class="btn btn-info">Search</button>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                        </form>
                      </div>
                    </div>
                    <input type="hidden" id="hash_id" name="hash_id" value="<?php echo Wo_CreateSession();?>">
                    <div class="clearfix"></div>
                     <div id="show-alert"></div>
                    <div class="table-responsive1">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                             <th>ID</th>
                             <th>Organiser</th>
                             <th>Beneficiary</th>
                             <th width="25%">Title</th>
                             <th>Link</th>
                             
                             <th>Posted</th>
                            <th>Status</th>
                             <th>Bank&nbsp;Details</th>
                             <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            <?php 
                              foreach ($posts as $post) {
                                $wo['story'] = $post;
                                if (!empty($post->user_id)) {
                                  $wo['story']->publisher = Wo_UserData($post->user_id);
                                  if (!empty($wo['story']->publisher)) {
                                    echo Wo_LoadAdminPage('manage-fund/list');
                                  }
                                }
                              }
                            ?>
                            </tbody>
                        </table>
                    </div>
                    <div class="wo-admincp-feturepager">
                        <div class="pull-left">
                            <span>
                              <?php echo "Showing $page out of " . $db->totalPages; ?>
                            </span>
                        </div>
                        <div class="pull-right">
                            <nav>
                                <ul class="pagination">
                                    <li>
                                      <a href="<?php echo Wo_LoadAdminLinkSettings('manage-fund?page-id=1'); ?>" class="waves-effect" title='First Page'>
                                          <i class="material-icons">first_page</i>
                                      </a>
                                    </li>
                                    <?php if ($page > 1) {  ?>
                                      <li>
                                          <a href="<?php echo Wo_LoadAdminLinkSettings('manage-fund?page-id=' . ($page - 1)); ?>" class="waves-effect" title='Previous Page'>
                                              <i class="material-icons">chevron_left</i>
                                          </a>
                                      </li>
                                    <?php  } ?>

                                    <?php 
                                      $nums       = 0;
                                      $nums_pages = ($page > 4) ? ($page - 4) : $page;

                                      for ($i=$nums_pages; $i <= $db->totalPages; $i++) { 
                                        if ($nums < 20) {
                                    ?>
                                      <li class="<?php echo ($page == $i) ? 'active' : ''; ?>">
                                        <a href="<?php echo Wo_LoadAdminLinkSettings('manage-fund?page-id=' . ($i)); ?>" class="waves-effect">
                                          <?php echo $i ?>   
                                        </a>
                                      </li>

                                    <?php } $nums++; }?>

                                    <?php if ($db->totalPages > $page) { ?>
                                      <li>
                                          <a href="<?php echo Wo_LoadAdminLinkSettings('manage-fund?page-id=' . ($page + 1)); ?>" class="waves-effect" title="Next Page">
                                              <i class="material-icons">chevron_right</i>
                                          </a>
                                      </li>
                                    <?php } ?>
                                    <li>
                                      <a href="<?php echo Wo_LoadAdminLinkSettings('manage-fund?page-id=' . ($db->totalPages)); ?>" class="waves-effect" title='Last Page'>
                                          <i class="material-icons">last_page</i>
                                      </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
    </div>

<script>

function Wo_AdminDeletePost(fund_id) {
    if (confirm("Are you sure you want to delete this campaign?") == false) {
      return false;
    }
    hash_id = $('#hash_id').val();
    $('#PostID_' + fund_id).fadeOut(300, function() {
       $(this).remove();
    });
    $.post(Wo_Ajax_Requests_File() + '?f=admin_setting&s=delete_fund', {fund_id:fund_id, hash_id:hash_id});
}
function Wo_CampaignStatusChange(fund_id,status_id,msg) {
    
    if (confirm(msg) == false) {
      return false;
    }
    var hash_id = $('#hash_id').val();
    /*$('#PostID_' + fund_id).fadeOut(300, function() {
       $(this).remove();
    });*/
     $.ajax({
      url: Wo_Ajax_Requests_File() + '?f=admin_setting&s=campaign_status_change',
      type: 'POST',
      dataType: 'json',
      data: {campaign_id:fund_id,status:status_id,hash_id:hash_id},
    })
    .done(function(data) {
      console.log(data)
      if (data['status'] == 200) 
      {
        
        $("#show-alert").html('<div class="alert alert-success">Campaign status has been updated successfully</div>');
        setTimeout(function () {
          $(".show-message").html('');
          location.reload();
        },2000)
      } 
      else if (data['message']) 
      {
        $("#show-alert").html('<div class="alert alert-danger">' + data['message'] + '</div>');
      } 
      //$('#endorseBtn').removeAttr("disabled");
    });
}

</script>