<tr class="setting-postlist" id="PostID_<?php echo $wo['story']->id?>" data-post-id="<?php echo $wo['story']->id?>">
   <td><?php echo $wo['story']->id?></td>
   <td>
      <a href="<?php echo $wo['story']->publisher['url']; ?>">
      <img src="<?php echo $wo['story']->publisher['avatar']?>" class="setting-avatar" alt="<?php echo $wo['story']->publisher['avatar']?> Profile Picture">
      <?php echo $wo['story']->publisher['name']; ?>
      </a>
   </td> 
   <td>
      <div class="admn-beneficiary">
      <?php echo Wo_Markup($wo['story']->beneficiary,false,false,true,0,0,0,true); ?>
      </div>
   </td>
   <td>
      <?php echo $wo['story']->title; ?>
   </td>
   <td><a href="<?php echo $wo['site_url'].'/show_fund/'. $wo['story']->hashed_id;?>" target="_blank">Show Campaign</a></td>
   <td>
      <div class="ajax-time" title="<?php echo date('c',$wo['story']->time); ?>">
         <?php echo Wo_Time_Elapsed_String($wo['story']->time);?>
      </div>
   </td>
   <td>
      <?php  if($wo['story']->status=='1'): ?>
         <span class="label label-active"><?=$wo['lang']['active']?></span>
      <?php  elseif($wo['story']->status=='2'): ?>
         <span class="label label-withdraw"><?=$wo['lang']['withdrawal_requested']?></span>
      <?php  elseif($wo['story']->status=='3'): ?>
         <span class="label label-withdraw"><?=$wo['lang']['withdrawal_approved']?></span>
       <?php  elseif($wo['story']->status=='4'): ?>
         <span class="label label-draft"><?=$wo['lang']['draft']?></span>
       <?php  elseif($wo['story']->status=='5'): ?>
         <span class="label label-ended"><?=$wo['lang']['ended']?></span>
      <?php  elseif($wo['story']->status=='6'): ?>
         <span class="label label-ended"><?=$wo['lang']['completed']?></span>
         <?php  elseif($wo['story']->status=='7'): ?>
         <span class="label label-suspended"><?=$wo['lang']['suspended']?></span>
         <?php  elseif($wo['story']->status=='8'): ?>
         <span class="label label-blocked"><?=$wo['lang']['blocked']?></span>
         <?php  elseif($wo['story']->status=='9'): ?>
         <span class="label label-danger"><?=$wo['lang']['reapprove']?></span>
      <?php  else: ?>  
         <span class="label label-pending"><?=$wo['lang']['pending']?></span>
      <?php  endif; ?>   
   </td>
   <td>
      <button type="button" class="btn btn-info btn-mat" data-toggle="modal" data-target="#bank-detail-modal-<?=$wo['story']->id?>">
         <?php echo $wo['lang']['show']; ?>
      </button>
   </td>
   <td>
      <div class="dropdown" style="display: inline;">
         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sliders dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><line x1="4" y1="21" x2="4" y2="14"></line><line x1="4" y1="10" x2="4" y2="3"></line><line x1="12" y1="21" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="3"></line><line x1="20" y1="21" x2="20" y2="16"></line><line x1="20" y1="12" x2="20" y2="3"></line><line x1="1" y1="14" x2="7" y2="14"></line><line x1="9" y1="8" x2="15" y2="8"></line><line x1="17" y1="16" x2="23" y2="16"></line></svg>
         <ul class="dropdown-menu dropdown-menu-right" role="menu" style="min-width: 80px; font-size: 12px;">
           
            <li>
               <a href="javascript:void(0)" onclick="Wo_CampaignStatusChange(<?=$wo['story']->id.',1,'."'Are you sure you want to approve or re-activate this campaign?'" ?>)" >Approve/Re-activate</a>
            </li>
            <li>
               <a href="javascript:void(0)" onclick="Wo_CampaignStatusChange(<?=$wo['story']->id.',4,'."'Are you sure you want to mark this campaign as draft?'" ?>)">Mark as Draft</a>
            </li>
            <li>
               <a href="javascript:void(0)" onclick="Wo_CampaignStatusChange(<?=$wo['story']->id.',5,'."'Are you sure you want to end this campaign?'" ?>)">End Campaign</a>
            </li>
            <li>
               <a  href="javascript:void(0)" onclick="Wo_CampaignStatusChange(<?=$wo['story']->id.',3,'."'Are you sure you want to approve the fund withdrawal for this campaign?'" ?>)" >Approve Withdrawal</a>
            </li>
            <li>
               <a href="javascript:void(0)" onclick="Wo_CampaignStatusChange(<?=$wo['story']->id.',6,'."'Are you sure you want to mark this campaign as completed?'" ?>)">Mark as Completed</a>
            </li>
            <li>
               <a href="javascript:void(0)" onclick="Wo_CampaignStatusChange(<?=$wo['story']->id.',7,'."'Are you sure you want to suspend this campaign?'" ?>)">SUSPEND</a>
            </li>
            <li>
               <a href="javascript:void(0)" onclick="Wo_CampaignStatusChange(<?=$wo['story']->id.',8,'."'Are you sure you want to block this campaign?'" ?>)">BLOCK</a>
            </li>
            <li>
               <a href="javascript:void(0)" onclick="Wo_AdminDeletePost(<?=$wo['story']->id?>)">DELETE</a>
            </li>
         </ul>
      </div>
   </td>

</tr>
<!-- Bank details modal starts -->
<div class="modal fade sun_modal" id="bank-detail-modal-<?=$wo['story']->id?>" role="dialog">
   <div class="modal-dialog wow_mat_mdl">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title"><?php echo $wo['lang']['bank_account_details'] ?></h4>
         </div>
         <form class="edit-job-form form-horizontal" method="post">
            <div class="modal-body tag_field_full_margin">
               <div>
                  <div class="col-xl-6">
                     <label class="tag_field"><?php echo $wo['lang']['bank_name'] ?></label> 
                     <p><?=$wo['story']->bank_name?></p>                     
                  </div>
                  <div class="col-xl-6">
                     <label class="tag_field"><?php echo $wo['lang']['bank_account_name'] ?></label>
                     <p><?=$wo['story']->bank_account_name?></p>
                  </div>
                  <div class="col-xl-6">
                     <label class="tag_field"><?php echo $wo['lang']['bank_account_no'] ?></label>
                     <p><?=$wo['story']->bank_account_no?></p>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-success btn-mat disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['close'] ?></button>
            </div>
         </form>
      </div>
   </div>
</div>
<!-- Bank details modal ends -->