<?php $link =$wo['config']['site_url'].'/show_fund/'.$wo['fund']['hashed_id'];?>
<style type="text/css">
	.info-box {
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
    height: 80px;
    display: flex;
    cursor: default;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}
.bg-light-green {
    background-color: #8BC34A !important;
    color: #fff;
}
.info-box .icon {
    display: inline-block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.12);
    width: 80px;
}
.info-box .icon i {
    color: #fff;
    font-size: 50px;
    line-height: 80px;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.info-box .content {
    display: inline-block;
    padding: 7px 10px;
}
.info-box .content .text {
    font-size: 13px;
    margin-top: 11px;
    color: #555;
}
.bg-light-green .content .text, .bg-light-green .content .number {
    color: #fff !important;
}
.info-box .content .number {
    font-weight: normal;
    font-size: 26px;
    margin-top: -4px;
    color: #555;
}
.bg-orange {
    background-color: #FF9800 !important;
    color: #fff;
}
.bg-cyan {
    background-color: #00BCD4 !important;
    color: #fff;
}
</style>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
 <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
<?php // echo "<pre>";print_r($wo['fund']);die; ?>
<div class="page-margin">
    <div class="container">		
    	<h2 class="tag_page_title"><?php echo ucfirst($wo['lang']['campaign']) .' '.$wo['lang']['stats']; ?></h2>
		<div class="wow_content margin-b30">
                   
			<div class="row clearfix">
			    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			        <div class="info-box bg-light-green hover-expand-effect">
			            <div class="icon">
			               <i class="material-icons">paid</i>
			            </div>
			            <div class="content">
			                <div class="text">TOTAL DONATIONS</div>
			                <div class="number count-to" data-from="0" data-to="42" data-speed="1000" data-fresh-interval="20"><?=$wo['config']['currency_symbol_array'][$wo['config']['currency']].number_format($wo['fund']['raised'])?></div>
			            </div>
			        </div>
			    </div>
			    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			        <div class="info-box bg-cyan hover-expand-effect">
			            <div class="icon">
			                <i class="material-icons">flag</i>
			            </div>
			            <div class="content">
			                <div class="text">TARGET AMOUNT</div>
			                <div class="number count-to" data-from="0" data-to="197" data-speed="1000" data-fresh-interval="20"><?=$wo['config']['currency_symbol_array'][$wo['config']['currency']].number_format($wo['fund']['amount'])?></div>
			            </div>
			        </div>
			    </div>
			    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			        <div class="info-box bg-orange hover-expand-effect">
			            <div class="icon">
			                <i class="material-icons">timer</i>
			            </div>
			            <div class="content">
			                <div class="text">Time</div>
			                <div class="number count-to" data-from="0" data-to="0" data-speed="1000" data-fresh-interval="20"><?php
								if(!empty($wo['fund']['due_date'])){
									echo Wo_Time_Elapsed_String(strtotime($wo['fund']['due_date']),"due_date");
								}
							?></div>
			            </div>
			        </div>
			    </div>

			    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 mb-4">
			    	<?php if (Wo_IsMobile() == false) { ?>
						<div class="tag_sF_bar_pc">
							<div class="">
								<span class="pull-right">
									<time>
										<?php
											if(!empty($wo['fund']['due_date'])){
												echo Wo_Time_Elapsed_String(strtotime($wo['fund']['due_date']),"due_date");
											}
										?>
									</time>
								</span>
			                    <p class="show_fnd_stats"><span class="bold big-text"><?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']]. number_format($wo['fund']['raised']); ?></span> of <?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']]. number_format($wo['fund']['amount']) . ' ' . $wo['lang']['raised_of']; ?></p>
								<div class="progress">
									<div class="progress-bar" role="progressbar" style="width: <?php echo $wo['fund']['bar']; ?>%" aria-valuenow="<?php echo $wo['fund']['bar']; ?>" aria-valuemin="0" aria-valuemax="<?php echo($wo['fund']['amount']) ?>"></div>
								</div>
							</div>
						</div>
					<?php } ?>
			    </div>
			    <!-- Bar Chart -->
		        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		            <div class="card">
		                <div class="valign wo_page_hdng mb-0">
		                    STATISTICS
		                </div>
		                <div class="body">
		                    <div id="admin-chart-container" style="min-width: 100%; height: 400px; margin: 0 auto;"></div>
		                </div>
		            </div>
		        </div>
		        <!-- #END# Bar Chart -->

			</div>
		</div>

		<!-- Top Donors starts -->
		<div class="wow_content margin-b30 pb-15">
			<?php $wo['donors'] = GetTopDonors($wo['fund']['id'],20); ?>
			<div class="valign wo_page_hdng mb-0">
				<?php echo $wo['lang']['top_donors'];?>
			</div>
			<?php if (!empty($wo['donors'])) { ?>
				<div class="fund">
					<div class="fluid list tag_scroll" style="height: 340px; overflow: auto;">
						<?php if ($wo['donors']) { 
							foreach ($wo['donors'] as $key => $user) 
								
							{ 

								if($user['show']=='0')
								{
									$user['user_data']['avatar']=Wo_GetMedia('upload/photos/incognito.png');
									$user['user_data']['url']='javascript:void(0)';
									$user['user_data']['username']='anonymous';
									$user['user_data']['name']=$wo['lang']['anonymous'];
								}


									?>
							<div class="item fund_item donor_user" data-recent="<?php echo($user['id']) ?>">
								<div class="wrapper">
									<img class="rounded-circle donors" src="<?php echo($user['user_data']['avatar']) ?>" alt="Picture" />
								</div>
								<div class="caption">
									<a class="truncate bold" href="<?php echo($user['user_data']['url']) ?>" <?php if($user['show']!='0'): ?> data-ajax="?link1=timeline&u=<?php echo($user['user_data']['username']) ?>" <?php endif; ?>><?php echo $user['user_data']['name']; ?></a>
									<p class="truncate">
                                        <time class="time-ago"><?php echo(Wo_Time_Elapsed_String($user['time'])); ?></time>
                                        <span class="donation_amount"><?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].number_format($user['amount']); ?></span>
										
										
									</p>
								</div>
							</div>
						<?php } } ?>
					</div>
				</div>
			<?php } else { ?>
				<div class="empty_state">
					<?=$wo['lang']['no_donors_yet']?>
				</div>
			<?php } ?>
		</div>
		<!-- Top Donars End -->
		
		<!-- Top Fundraisers starts -->					
		<div class="wow_content margin-b30 pb-15">
			<?php  
			$wo['top_user']=getTopFundRaisedByUsersInChallenges($wo['fund']['id']);
			?>
			<div class="valign wo_page_hdng mb-0">
				<?php echo $wo['lang']['top_fundraiser'];?>
			</div>
			
			<?php if (!empty($wo['top_user'])) { ?>
				<div class="fund">
					<div class="fluid list tag_scroll" style="height: 340px; overflow: auto;">
			
						<?php if ($wo['top_user']) { 
							foreach ($wo['top_user'] as $key => $user) 
								
							{ 

								if($user['show']=='0')
								{
									$user['user_data']['avatar']=Wo_GetMedia('upload/photos/incognito.png');
									$user['user_data']['url']='javascript:void(0)';
									$user['user_data']['username']='anonymous';
									$user['user_data']['name']=$wo['lang']['anonymous'];
								}


									?>
							<div class="item fund_item donor_user" data-recent="<?php echo($user['id']) ?>">
								<div class="wrapper">
									<img class="rounded-circle donors" src="<?php echo($user['user_data']['avatar']) ?>" alt="Picture" />
								</div>
								<div class="caption">
									<a class="truncate bold" href="<?php echo($user['user_data']['url']) ?>" <?php if($user['show']!='0'): ?> data-ajax="?link1=timeline&u=<?php echo($user['user_data']['username']) ?>" <?php endif; ?>><?php echo $user['user_data']['name']; ?></a>
									<p class="truncate">
                                        <time class="time-ago"><?php echo(Wo_Time_Elapsed_String($user['time'])); ?></time>
                                        <span class="donation_amount"><?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].number_format($user['amount']); ?></span>
										
										
									</p>
								</div>
							</div>
						<?php } } ?>
					</div>
				</div>
			<?php } else { ?>
				<div class="empty_state">
					<?=$wo['lang']['no_fundraisers_yet']?>
				</div>
			<?php } ?>
		</div>
		<!-- Top Fundraisers End  -->
		
		<!--  Top Challenges Starts -->
		<div class="wow_content margin-b30 top_challenges">
            <div class="valign wo_page_hdng mb-0"><?=$wo['lang']['top_challenges']?></div>
			<div class="margin-b30">
                <?php $totalfunds= getfundRaisedByChallenges($wo['fund']['id']);
                                   // echo "<pre>";print_r($totalfunds);die;
                if (count($totalfunds) > 0) 
				{
					foreach ($totalfunds as $wo['riasedfund']) 
					{
						echo Wo_LoadPage('show_fund/fundraising-list');
					}
				} 
				else 
				{ ?>
					<div class="empty_state">
						<?php echo $wo['lang']['no_challenge_found']; ?>
					</div>
					<?php 
				} ?>
			</div>
		</div>
		<!-- Top Challenges Ends -->
	</div>
</div>
<?php 
$campaign_id=$wo['fund']['id'];
$target=$wo['fund']['amount'];
$percentage = (30 / 58) * 100;
//echo $percentage . "%";
$user_statics = array();
$page_statics = array();
$groups_statics = array();
$posts_statics = array();
$months = array('1','2','3','4','5','6','7','8','9','10','11','12');
// user_statics
foreach ($months as $value) {
   $donation_statics[] = Wo_GetCampaignDataStatics($value,$campaign_id, 'donations');
}
//echo "<pre>";print_r($donation_statics);
$donation_statics = implode(', ', $donation_statics);
// Donors
foreach ($months as $value) {
   $donor_statics[] = Wo_GetCampaignDataStatics($value,$campaign_id, 'donors');
}
//echo "<pre>";print_r($donor_statics);
$donor_statics = implode(', ', $donor_statics);
//echo $donor_statics;die;

// groups_statics
// foreach ($months as $value) {
//    $groups_statics[] = Wo_GetCampaignDataStatics($value, 'group');
// }
// $groups_statics = implode(', ', $groups_statics);

// foreach ($months as $value) {
//    $posts_statics[] = Wo_GetCampaignDataStatics($value, 'posts');
// }
// $posts_statics = implode(', ', $posts_statics);
?>
<script>
   $(function () {
    Highcharts.setOptions({
      colors: ['#6abd46', '#ce3d3d', '#f2b92b', '#4c75a3']
    });
    $('#admin-chart-container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Monthly Average'
        },
        xAxis: {
            categories: [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'May',
                'Jun',
                'Jul',
                'Aug',
                'Sep',
                'Oct',
                'Nov',
                'Dec'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: '<?php echo date("Y");?>'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: '<?php echo $wo["lang"]["donations"]?>',
            data: [<?php echo $donation_statics;?>]

        }, {
            name: '<?php echo $wo["lang"]["donors"]?>',
            data: [<?php echo $donor_statics;?>]

        }/*, {
            name: '<?php echo $wo["lang"]["groups"]?>',
            data: [<?php echo $groups_statics;?>]

        }, {
            name: '<?php echo $wo["lang"]["posts"]?>',
            data: [<?php echo $posts_statics;?>]

        }*/]
    });
});
</script>