<?php 		
    $post = $db->where('fund_id',$wo['fund']['id'])->getOne(T_POSTS);
	$postMusic = $db->where('is_music',1)->where('fund_id',$wo['fund']['id'])
	->getOne(T_POSTS);
	
	$post = json_decode(json_encode($post), true);
	$postMusic = json_decode(json_encode($postMusic), true);
	$story = $post;
	$story['photo_multi'] = array();
	if ($story['multi_image'] == 1) {
		$parent_id            = ($story['parent_id'] > 0) ? $story['parent_id'] : $story['id'];
		$story['photo_multi'] = Wo_GetAlbumPhotos($parent_id);
	}
	$wo['story'] = $story;
	$imageURL = $wo['fund']['image'];
    $imageView = "<div class='campaign_banner' style='background: #efefef url(\"" . $imageURL . "\") no-repeat center; background-size: cover;'></div>";
    $emptyBanner = "<div class='fund_main_img'><img src='' alt='campaign banner' height='50px'></div>";
	
?>
<?php if ($wo['config']['credit_card'] == 'yes') { ?>
	<!-- <script src="https://checkout.stripe.com/checkout.js"></script> -->
	<script src="https://js.stripe.com/v3/"></script>
<?php } ?>

<style>
    
.tag_create_dropup {bottom: 90px;}

.fund_raise_bar .progress {
    min-width: 100%;
}

.fund_description img{
	max-width: 100% !important;
}

.admin-toolbar .fund div.list .item{padding-left: 0; padding-right: 0;}
.admin-toolbar .fund div.list .item a{margin: 10px 5px; }

@media (max-width: 768px)
{
	.fund_raise_btns .dropdown{
		overflow: visible !important;	
	}
	.fund_raise_btns{
		display:block;
	}
	.fund_raise_btns .btn{
		min-width: 100%;
		margin: 5px 3px;
	}
	.col-md-button{
		width:100%;
	} 
        .admin-toolbar .fund div.list .item{flex-direction: column;}
        .admin-toolbar .fund div.list .item a{margin: 10px 0px; }

}



</style>
<?php

$isOrganiser = ($wo['user']['id'] == $wo['fund']['user_id']);

if(!empty($wo['fund']['funding_admins']))
{
	$administrators = Wo_GetTaggedUsers($wo['fund']['funding_admins']);
	$isAdministrator = false;
	//echo "<pre>";print_r($administrators);die;
	if(!empty($administrators))
    {
		foreach($administrators as $admin)
        {
			//echo "<pre>";print_r($admin);die;
			if($wo['user']['id']  == $admin['id']){
				$isAdministrator = true;
			}
		}
	}
}
$beneficiary = Wo_Markup($wo['fund']['beneficiary'],false,false,true,0);
$fund_category = json_decode($wo['fund']['category']);

$back_url = isset($_SERVER['HTTP_REFERER']) ? $_SERVER['HTTP_REFERER'] : ('https://' . $_SERVER['HTTP_HOST']); 
// prevent infinite looping between challenges
if(strpos($back_url, 'show_challenge') !== false){
    // set URL back to all campaigns
    $back_url = $wo['config']['site_url'].'/funding';
}else{
    if($back_url != ('https://' . $_SERVER['HTTP_HOST'])){
        $back_url = 'javascript:history.back();';
    }        
} 
?>


<div class="page-margin mt-0">
    <div class="tag_lbox_toolbar">
        <a class="btn btn-mat close-lightbox mt-15" href="<?=$back_url;?>">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M7.828 11H20v2H7.828l5.364 5.364-1.414 1.414L4 12l7.778-7.778 1.414 1.414z"/></svg>
        </a>
    </div>
    <?= empty($wo['fund']['image']) != 1 ? $imageView : $emptyBanner  ?>
    
	<div class="container">		
		<div class="wow_content margin-b30"> 
                    <div id="show-alert">
            	<?php if(($wo['fund']['status']=='9') || ($wo['fund']['status']=='0')): ?>
            		<div class="alert alert-warning text-center"><?=$wo['lang']['campaign_pending_message'];?></div>
            	<?php elseif($wo['fund']['status']=='7'): ?>
            		<div class="alert alert-danger text-center"><?=$wo['lang']['campaign_suspended_message'];?></div>
                <?php elseif($wo['fund']['status']=='8'): ?>
            		<div class="alert alert-danger text-center"><?=$wo['lang']['campaign_blocked_message'];?></div>        
            	<?php elseif($wo['fund']['status']=='6'): ?>
            		<div class="alert alert-success text-center"><?=$wo['lang']['campaign_ended_message'];?></div>
                <?php elseif($wo['fund']['status']=='5'): ?>
                        <div class="alert alert-success text-center"><?=$wo['lang']['campaign_ended_message'];?></div>
                <?php elseif($wo['fund']['status']=='4'): ?>
                        <div class="alert alert-info text-center"><?=$wo['lang']['campaign_draft_message'];?></div>        
            	<?php endif; ?>
                    </div>
            <h2 class="tag_page_title m5 tag_show_fnd_title"><?php echo stripslashes($wo['fund']['title']); ?></h2>
            
            <div class="campaign_users_container">
			<div class="show-fund-info-user">
				<div class="postMeta--author-avatar large">
					<a href="<?php echo $wo['fund']['user_data']['url']?>">
						<img src="<?php echo $wo['fund']['user_data']['avatar']?>" alt="Organiser Image">
					</a>
				</div>
				<div class="postMeta--author-text">
					<span class="user-popover" data-id="<?=$wo['fund']['user_data']['id']?>" data-type="user">
                        <a class="bold" href="<?php echo $wo['fund']['user_data']['url']; ?>" data-ajax="?link1=timeline&u=<?php echo $wo['fund']['user_data']['username']; ?>">
                            <?php echo $wo['fund']['user_data']['name']; ?>
                        </a>
					</span>
                    <br />
                    <span class="time"><?php echo $wo['lang']['organiser']; ?></span>
				</div>

			</div>
			<!-- // beneficiary -->
			<div class="show-fund-info-user">
				<div class="postMeta--author-avatar large">
					<a href="<?php echo $wo['fund']['beneficiary_data']['url']; ?>">
						<img src="<?php echo $wo['fund']['beneficiary_data']['avatar']?>" alt="Beneficiary Image">
					</a>
				</div>
				<div class="postMeta--author-text">
					<span class="user-popover" data-id="<?=$wo['fund']['beneficiary_data']['id']?>" data-type="<?= ($wo['fund']['fundraising_for']=='2')?'page':'user' ?>">
						<a class="bold" href="<?php echo $wo['fund']['beneficiary_data']['url']; ?>" data-ajax="?link1=timeline&u=<?php echo $wo['fund']['beneficiary_data']['username']; ?>">
                        <?php echo $wo['fund']['beneficiary_data']['name']; ?>
                                                       
                                                </a>
					</span>
                                        <br />
                                        <span class="time"><?php echo $wo['lang']['beneficiary']; ?></span>
				</div>
			</div>
			
			
                    </div>
                    <?php if($isAdministrator || $isOrganiser ){?>
                    <!-- // administrators -->
                    <div class="campaign_users_container">
			<?php if(!empty($wo['fund']['funding_admins'])):?>
				<div class="show-fund-info-user">
					<div class="postMeta--author-text">
                        <span class="bold"><?=$wo['lang']['administrator']?></span>
                       <span class="middot">:</span>
					</div>
					
					<!-- <div class="postMeta--author-text"> -->
					<?=Wo_Markup($wo['fund']['funding_admins'],false,false,true,0,0,0,true) ?>
					<!-- </div> -->
				</div>
			<?php endif;?>
                    </div>
                    <?php } ?>
			<!-- campaign progress -->
                        <div class="campaign_progress mb-15">
                            <div>
                                    <span class="pull-right">
                                    <?php if(!empty($wo['fund']['due_date']) && $wo['fund']['status'] !='5'){ ?>
                                            <time class="bold"><?php echo Wo_Time_Elapsed_String(strtotime($wo['fund']['due_date']),"due_date"); ?></time>
                                    <?php }
                                    if($wo['fund']['status'] =='5'){?>
                                        <time class="bold"><?=$wo['lang']['ended']?></time>
                                    <?php } ?>
                                    </span>
                                    <p><span class="bold big-text"><?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].number_format($wo['fund']['raised']); ?></span> of <?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].number_format($wo['fund']['amount']); ?> <?php echo $wo['lang']['raised_of']; ?></p>
                            </div>
                            <div class="fund_raise_bar">
                                <div class="progress mb-2">
                                    <div class="progress-bar" role="progressbar" style="width: <?php echo $wo['fund']['bar']; ?>%" aria-valuenow="<?php echo $wo['fund']['bar']; ?>" aria-valuemin="0" aria-valuemax="<?php echo($wo['fund']['amount']) ?>"></div>
                                </div>
                            </div>     
                        </div>
                        <?php if(count($fund_category)>0): ?>
                        <div class="campaign-cat when-notedit profile_cover mb-15" >
                            <span class="btn btn-file">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M5.5,7A1.5,1.5 0 0,1 4,5.5A1.5,1.5 0 0,1 5.5,4A1.5,1.5 0 0,1 7,5.5A1.5,1.5 0 0,1 5.5,7M21.41,11.58L12.41,2.58C12.05,2.22 11.55,2 11,2H4C2.89,2 2,2.89 2,4V11C2,11.55 2.22,12.05 2.59,12.41L11.58,21.41C11.95,21.77 12.45,22 13,22C13.55,22 14.05,21.77 14.41,21.41L21.41,14.41C21.78,14.05 22,13.55 22,13C22,12.44 21.77,11.94 21.41,11.58Z"></path></svg>

                                <?php  $i=0;$j=0;
                                foreach ($wo['campaign_categories'] as $category_id => $category_name) 
                                { 
                                        $i++; //echo $i .'----'. count($wo['campaign_categories']).'-----'.count($fund_category);
                                        if (in_array($category_id, $fund_category))
                                        {	
                                                $j++;
                                                if(count($wo['campaign_categories']) >$i &&  count($fund_category) >$j)
                                                {
                                                        $comma=', ';

                                                }
                                                else
                                                {
                                                        $comma='';

                                                }
                                                echo '<a href='.Wo_SeoLink('index.php?link1=category').'?query='.urlencode($category_name).'>'.$category_name.'</a>'.$comma;
                                        }

                                }
								?>									
                            </span>
                        </div>
                         <hr>
                    <?php endif;?>
                       
			<div class="mb-15 buttons_bar mt-15">
				<!--<div class="row">-->
                                    <?php if (empty($wo['story']['parent_id']) && $wo['story']['post_is_promoted'] != 1) { ?>
                                          <!-- share button -->
                                          <!--<div class="col-md-3 m-1">-->
                                            <button type="button" id="share" class="btn btn-main btn-mat" onclick="Wo_SharePostOn(<?php echo $wo['story']['id']; ?>,<?php echo $wo['user']['user_id']; ?>,'timeline')"><?php echo $wo['lang']['share']; ?></button>
                                          <!--</div>-->
                                    <?php } ?>
                                                   
                                    <?php if ((!$isAdministrator && $wo['user']['id'] != $wo['fund']['user_id'] && $wo['fund']['amount'] > $wo['fund']['raised'] && $wo['loggedin'] == true) || $_GET['preview']=='1') { ?>
                                            <!--<div class="col-md-3 m-1">-->
                                                    <button class="btn btn-main btn-mat disable_btn <?php if(Wo_IsEndorseExists($wo['fund']['id'],'campaign')): echo 'disabled'; endif; ?>" <?php if(!Wo_IsEndorseExists($wo['fund']['id'],'campaign')) : ?> onclick="endorseCampaign();"  <?php endif;?> id="endorseBtn" ><?php echo $wo['lang']['endorse']; ?></button>
                                            <!--</div>-->
                                            <!--<div class="col-md-3 m-1">-->
                                                    <?php if(!Wo_IsReportExists($wo['fund']['id'],'fund')){ ?>
                                                    <button type="button" id="#reportBtn" class="btn btn-default btn-mat disable_btn" onclick="reportRequest();"><?php echo $wo['lang']['report_campaign']; ?></button>
                                                    <?php }else{  ?>
                                                    <button type="button" id="#reportCancelBtn" class="btn btn-default btn-mat disable_btn" onclick="Wo_ReportCampaign(<?=$wo['fund']['id']?>,false)"><?php echo $wo['lang']['report_campaign_cancel']; ?></button>
                                                    <?php } ?>
                                            <!--</div>-->
                                    <?php } ?>	
                                            
                                            <div class="message-organiser-btn pull-right">
						<?php echo Wo_GetMessageButton($wo['fund']['user_data']['id'], 2);?>
                                            </div>      
				<!--</div>-->
			</div>
		</div> 

		<?php  
                    // administration toolbar
		if(($isAdministrator || $isOrganiser) && $wo['loggedin'] == true && $_GET['preview'] !='1')
		{ ?>
            
            <div class="wow_content margin-b30 admin-toolbar" style="position: relative;"> 
                <div class="valign wo_page_hdng mb-0">
                    <?php 
                        echo $wo['lang']['administration']; 
                        $disabled_invite = '';
                        $disabled_edit = '';
                        $disabled_withdrawal = '';
                        $disabled_post = '';
                        $disabled_analytics = '';
                        $disabled_export = '';
                        switch($wo['fund']['status']){
                                case 0:
                                case 9:    
                                    // pending
                                    echo '<div class="status_label pending">' . strtoupper($wo['lang']['pending_approval']) . '</div>';
                                    $disabled_invite = 'disabled';
                                    $disabled_withdrawal = 'disabled';
                                    $disabled_post = 'disabled';
                                    $disabled_analytics = 'disabled';
                                    $disabled_export = 'disabled';
                                    break;
                                case 1:
                                    // active/published
                                    echo '<div class="status_label active">' . strtoupper($wo['lang']['published']) . '</div>';
                                    break;
                                case 2:
                                    // withdrawal requested
                                    echo '<div class="status_label withdraw">' . strtoupper($wo['lang']['withdrawal_requested']) . '</div>';
                                    $disabled_invite = 'disabled';
                                    $disabled_edit = 'disabled';
                                    $disabled_withdrawal = 'disabled';
                                    break;
                                case 3:
                                    // withdrawal approved
                                    echo '<div class="status_label withdraw">' . strtoupper($wo['lang']['withdrawal_approved']) . '</div>';
                                    $disabled_invite = 'disabled';
                                    $disabled_edit = 'disabled';
                                    $disabled_withdrawal = 'disabled';
                                    break;
                                case 4:
                                    // draft
                                    echo '<div class="status_label draft">' . strtoupper($wo['lang']['draft']) . '</div>';
                                    $disabled_invite = 'disabled';
                                    $disabled_withdrawal = 'disabled';
                                    $disabled_post = 'disabled';
                                    $disabled_analytics = 'disabled';
                                    $disabled_export = 'disabled';
                                    break;
                                case 5:
                                    // ended
                                    echo '<div class="status_label ended">' . strtoupper($wo['lang']['ended']) . '</div>';
                                    $disabled_invite = 'disabled';
                                    $disabled_edit = 'disabled';
                                    break;
                                case 6:
                                    // completed
                                    echo '<div class="status_label ended">' . strtoupper($wo['lang']['completed']) . '</div>';
                                    $disabled_invite = 'disabled';
                                    $disabled_edit = 'disabled';
                                    $disabled_withdrawal = 'disabled';
                                    break;
                                case 7:
                                    // suspended
                                    echo '<div class="status_label suspended">' . strtoupper($wo['lang']['suspended']) . '</div>';
                                    $disabled_invite = 'disabled';
                                    $disabled_withdrawal = 'disabled';
                                    $disabled_post = 'disabled';
                                    $disabled_analytics = 'disabled';
                                    $disabled_export = 'disabled';
                                    break;
                                case 8:
                                    // blocked
                                    echo '<div class="status_label blocked">' . strtoupper($wo['lang']['blocked']) . '</div>';
                                    $disabled_invite = 'disabled';
                                    $disabled_withdrawal = 'disabled';
                                    $disabled_post = 'disabled';
                                    $disabled_analytics = 'disabled';
                                    $disabled_export = 'disabled';
                                    break;
                                default:
                                    echo '';
                            }
                    ?>		
                </div>
				<div class="fund">
					<div class="fluid list">
						<div class="item fund_item" style="padding-top: 20px; flex-wrap: wrap;">
							
								<a target="_blank" class="btn btn-main btn-mat" href="<?=$wo['config']['site_url'].'/show_fund/'.$wo['fund']['hashed_id'].'?preview=1' ?>">	
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,8.39C13.57,9.4 15.42,10 17.42,10C18.2,10 18.95,9.91 19.67,9.74C19.88,10.45 20,11.21 20,12C20,16.41 16.41,20 12,20C9,20 6.39,18.34 5,15.89L6.75,14V13A1.25,1.25 0 0,1 8,11.75A1.25,1.25 0 0,1 9.25,13V14H12M16,11.75A1.25,1.25 0 0,0 14.75,13A1.25,1.25 0 0,0 16,14.25A1.25,1.25 0 0,0 17.25,13A1.25,1.25 0 0,0 16,11.75Z"></path></svg>	
                                                                        <span><?php echo $wo['lang']['preview']; ?></span>									
								</a>
							
								<a class="btn btn-main btn-mat <?=$disabled_edit;?>" href="<?=$wo['config']['site_url'].'/edit_fund/'.$wo['fund']['hashed_id']?>">	
									<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path fill="currentColor" d="M3 17.46v3.04c0 .28.22.5.5.5h3.04c.13 0 .26-.05.35-.15L17.81 9.94l-3.75-3.75L3.15 17.1c-.1.1-.15.22-.15.36zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"></path></svg>	
									<span><?php echo $wo['lang']['edit']; ?></span>								
								</a>
							
	                        <?php if(!$isAdministrator){ ?>
							
								<a class="btn btn-main btn-mat <?=$disabled_invite;?>" href="<?=$wo['config']['site_url'].'/show_fund/'.$wo['fund']['hashed_id'].'?invite=1' ?>">	
									<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path fill="currentColor" d="M21,10.5h-1v-1c0-0.55229-0.44772-1-1-1s-1,0.44771-1,1v1h-1c-0.55228,0-1,0.44771-1,1s0.44772,1,1,1h1v1c0,0.55229,0.44772,1,1,1s1-0.44771,1-1v-1h1c0.55228,0,1-0.44771,1-1S21.55228,10.5,21,10.5z"></path><circle cx="10" cy="8.5" r="5" fill="currentColor" opacity=".5"></circle><path fill="currentColor" d="M13.30884,12.22253C12.42566,13.00806,11.27496,13.5,10,13.5s-2.42566-0.49194-3.30884-1.27747C3.92603,13.48206,2,16.26324,2,19.5c0,0.00037,0,0.00073,0,0.00116C2.00031,20.0531,2.44806,20.50031,3,20.5h14c0.00037,0,0.00073,0,0.00116,0c0.55194-0.00031,0.99915-0.44806,0.99884-1C18,16.26324,16.07397,13.48206,13.30884,12.22253z"></path></svg>	
									<span><?php echo $wo['lang']['invite_fundraisers']; ?></span>									
								</a>
							
	                        <?php } ?>
							
	                        <?php if(!$isAdministrator){ ?>
							
								<a type="button" id="Withdraw_Funds" class="btn btn-main btn-mat <?=$disabled_withdrawal;?>" onclick="withdrawFunds();"							 		
							 		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M11.5,1L2,6V8H21V6M16,10V17H19V10M2,22H21V19H2M10,10V17H13V10M4,10V17H7V10H4Z"></path></svg>
									<span><?php echo $wo['lang']['withdraw_funds']; ?></span>
								</a>
							
	                        <?php } ?>
							
								<a type="button" data-toggle="modal" data-target="#postUpdateBox" data-backdrop="static" data-keyboard="false" class="btn btn-main btn-mat <?=$disabled_post;?>">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36"><g fill="none" fill-rule="evenodd"><path d="M0 0H36V36H0z"></path><path d="M27,26 L25.4,24.8 C24.9581722,24.4686292 24.8686292,23.8418278 25.2,23.4 C25.5313708,22.9581722 26.1581722,22.8686292 26.6,23.2 L30.6,26.2 C31.1333333,26.6 31.1333333,27.4 30.6,27.8 L26.6,30.8 C26.1581722,31.1313708 25.5313708,31.0418278 25.2,30.6 C24.8686292,30.1581722 24.9581722,29.5313708 25.4,29.2 L27,28 L9,28 C6.790861,28 5,26.209139 5,24 L5,6.88758976 L5.00223942,6.88815442 C5.06027967,5.28579284 6.36572233,4.00833373 7.97450277,4.00003973 C7.97964051,4.00001766 12.3214729,4.00000441 21,4 C22.6568542,4 24,5.34314575 24,7 L24,8 L27,8 C29.209139,8 31,9.790861 31,12 L31,21 C31,21.5522847 30.5522847,22 30,22 C29.4477153,22 29,21.5522847 29,21 L29,12 C29,10.8954305 28.1045695,10 27,10 L24,9.99965823 L8.00022697,10 C7.8335169,10 7.66997018,9.98639821 7.51063929,9.96024169 C7.32712607,9.93961912 7.15695063,9.91350998 7,9.88018522 L7,24 C7,25.1045695 7.8954305,26 9,26 L27,26 Z M23,19 C22.4477153,19 22,18.5522847 22,18 C22,17.4477153 22.4477153,17 23,17 L25,17 C25.5522847,17 26,17.4477153 26,18 C26,18.5522847 25.5522847,19 25,19 L23,19 Z M22,7 C22,6.44771525 21.5522847,6 21,6 L7.98991605,6 C7.43820134,6.00283119 6.99736906,6.4482324 7.0001871,6.99484461 L7.00024026,7.00515539 C7.00307712,7.55542059 7.44995446,8 8.00022697,8 L22,8 L22,7 Z" fill="currentColor" fill-rule="nonzero"></path></g></svg>
                                                                        <span><?php echo $wo['lang']['post_update']; ?></span>
								</a>
							
								<a type="button" href="<?=$wo['config']['site_url'].'/show_fund/'.$wo['fund']['hashed_id'].'?analytics=1' ?>"  class="btn btn-main btn-mat <?=$disabled_analytics;?>">
									<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 512.022 512.022" height="512" viewBox="0 0 512.022 512.022" width="512"><g><path d="m374.686 190.48-27.697-43.868-51.839-2.053c-12.398-.491-18.879-15.03-10.941-24.576l33.161-39.898-14.067-49.937c-3.363-11.941 8.46-22.601 19.992-18l48.192 19.209 43.146-28.81c10.321-6.889 24.107 1.062 23.298 13.451l-3.377 51.77 40.732 32.132c9.742 7.686 6.438 23.255-5.593 26.314l-50.28 12.786-17.972 48.667c-4.286 11.61-20.107 13.34-26.755 2.813z" fill="currentColor"></path></g><path d="m91.011 422.022c8.284 0 15 6.716 15 15v60c0 8.284-6.716 15-15 15h-76c-8.28 0-15-6.72-15-15v-60c0-8.28 6.72-15 15-15z" fill="currentColor"></path><path d="m226.011 362.022c8.284 0 15 6.716 15 15v120c0 8.284-6.716 15-15 15h-75c-8.284 0-15-6.716-15-15v-120c0-8.28 6.72-15 15-15z" fill="currentColor"></path><path d="m361.011 302.022c8.284 0 15 6.716 15 15v180c0 8.284-6.716 15-15 15h-75c-8.284 0-15-6.716-15-15v-180c0-8.28 6.72-15 15-15z" fill="currentColor"></path><path d="m512.011 497.022c0 8.284-6.716 15-15 15h-76c-8.284 0-15-6.716-15-15v-240c0-8.284 6.716-15 15-15h76c8.284 0 15 6.716 15 15z" fill="currentColor"></path><g><path d="m76.011 332.022c-8.284 0-15-6.716-15-15 0-24.813 20.187-45 45-45h60c8.271 0 15-6.729 15-15 0-24.813 20.187-45 45-45h60c8.271 0 15-6.729 15-15 0-8.284 6.716-15 15-15s15 6.716 15 15c0 24.813-20.187 45-45 45h-60c-8.271 0-15 6.729-15 15 0 24.813-20.187 45-45 45h-60c-8.271 0-15 6.729-15 15 0 8.285-6.716 15-15 15z" fill="currentColor"></path></g></svg>
									<span><?php echo $wo['lang']['stats']; ?></span>
								</a>
							
								<a type="button"  class="btn btn-main btn-mat <?=$disabled_export;?>" href="<?=$wo['config']['site_url'].'/show_fund/'.$wo['fund']['hashed_id'].'?export_donors=1' ?>">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M12 11a5 5 0 0 1 5 5v6H7v-6a5 5 0 0 1 5-5zm-6.712 3.006a6.983 6.983 0 0 0-.28 1.65L5 16v6H2v-4.5a3.5 3.5 0 0 1 3.119-3.48l.17-.014zm13.424 0A3.501 3.501 0 0 1 22 17.5V22h-3v-6c0-.693-.1-1.362-.288-1.994zM5.5 8a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5zm13 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5zM12 2a4 4 0 1 1 0 8 4 4 0 0 1 0-8z" fill="currentColor"></path></svg>
									<span><?php echo $wo['lang']['export_donors']; ?></span>
								</a>
							
						</div><br/>
					</div>
				</div>
			</div>
            <?php 
        } ?>
                
		<div class="page-margin pb-30">
                        <div class="row">
				<div class="col-lg-8">
					<div class="wow_content margin-b30 pb-15">
                                                <div class="valign wo_page_hdng mb-0">
                                                    <?php echo $wo['lang']['about']; ?>			
                                                </div>
                                            
                                                <?php if (Wo_IsUrl($imageURL)): ?>
							<div class="post-file wo_shared_doc_file mg-10 mt-15 mb-15">
								<img src="<?php echo $imageURL; ?>" alt="campaign photo" class="full_width">
							</div>
						<?php endif; ?>
                                            
                                                <div class="fund_description mb-15"><?php echo htmlspecialchars_decode($wo['fund']['description']); ?></div>
					</div>
                                    
                                        <?php if(!empty($wo['fund']['video']) || !empty($post['postFile']) || (isset($postMusic) && !empty($postMusic['postFile'])) || !empty($post['postPhoto']) || !empty($post['postRecord']) || !empty($wo['story']['photo_album']) || ($wo['story']['multi_image'] == 1)){ ?>
                                    
                                        <!-- Additional Assets starts -->
                                        <div class="wow_content additional_assets margin-b30 pb-30">
                                                <div class="valign wo_page_hdng mb-15">
							<?php echo ($wo['lang']['additional_media']); ?>
						</div>
                                                
                                                <!-- // sameer -->
						<?php if(!empty($wo['fund']['video'])): ?>
						<div class="post-file wo_shared_doc_file mg-10">
							<?php
							$media = array(
								'type' => 'post',
								'storyId' => $wo['fund']['fund_id'],
								'filename' => $wo['fund']['video'],
								'name' => $wo['fund']['video'],
								'postFileThumb' => $wo['fund']['video'],
							);
							echo Wo_DisplaySharedFile($media, '', $wo['fund']['cache']);
							?>
		
						</div>
						<?php endif;?>
						
						<?php if(!empty($post['postFile'])) { ?>
							<div class="post-file wo_shared_doc_file mg-10">
								<?php
								$media = array(
									'type' => 'post',
									'storyId' => $post['id'],
									'filename' => $post['postFile'],
									'name' => $post['postFileName'],
									'postFileThumb' => $post['postFileThumb'],
								);
								echo Wo_DisplaySharedFile($media, '', $post['cache']);
								?>
							</div>
						<?php } ?>
						<?php if(isset($postMusic) && !empty($postMusic['postFile'])) { ?>
							<div class="post-file wo_shared_doc_file mg-10">
								<?php
								$media = array(
									'type' => 'post',
									'storyId' => $postMusic['id'],
									'filename' => $postMusic['postFile'],
									'name' => $postMusic['postFileName'],
									'postFileThumb' => $postMusic['postFileThumb'],
								);
								echo Wo_DisplaySharedFile($media, '', $post['cache']);
								?>
							</div>
						<?php } ?>

						<?php if (Wo_IsUrl($post['postPhoto'])): ?>
							<div class="post-file wo_shared_doc_file mg-10">
								<img src="<?php echo $post['postPhoto']; ?>" alt="Picture">
							</div>
						<?php endif; ?>

						<?php if(!empty($post['postRecord'])) { ?>
							<div class="post-file wo_shared_doc_file mg-10">
								<?php  
									$media = array(
										'type' => 'post',
										'storyId' => $post['id'],
										'filename' => $post['postRecord'],
										'name' => ''
									);
									echo  Wo_DisplaySharedFile($media,'record');
								?>
							</div>
						<?php } ?>
                                                <div class="valign tag_post_full_albm"><?php include 'photo_album.phtml'; ?><?php include 'photo_multi.phtml'; ?></div>
                                        </div>    
                                        <!-- Additional Assets ends -->

                                        <?php } ?>
                                        
                                        <!-- Updates starts -->
					<div class="wow_content campaign_updates margin-b30">
                                        <?php
						$array = array('filter_by' => 'all','publisher_id' => 0,'placement' => 'multi_image_post','fund_id'=>$wo['fund']['id']);
						$stories = Wo_GetPosts($array); 
                                        ?>
						<div class="valign wo_page_hdng mb-0">
							<?php echo ($wo['lang']['updates']); ?>
						</div>
						
                                                <div class="margin-b30">
							<div class="posts_load">
								<div id="posts" data-story-user="<?php echo $wo['user_profile']['user_id'];?>">
									<?php
										if (count($stories) == 0) {
											echo Wo_LoadPage('story/campaign-no-updates');
										} else {
											foreach ($stories as $wo['story']) {
												echo Wo_LoadPage('story/content');
											}
										}
									?>
								</div>
								<?php /*if (count($stories) > 0) {  ?>
									<div class="load-more pointer" id="load-more-posts" onclick="Wo_GetMorePosts();">
										<span class="btn btn-default text-center pointer"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path></svg></span> <?php echo $wo['lang']['load_more_posts']; ?><span>
									</div>
								<?php }*/ ?>
							</div>
						</div>
					</div>
                                        <!-- Updates ends -->
                                        
                    <!--  Top Challenges Starts -->
					<div class="wow_content margin-b30 top_challenges">
                        <div class="valign wo_page_hdng mb-0"><?=$wo['lang']['top_challenges']?></div>
						<div class="margin-b30">
                            <?php $totalfunds= getfundRaisedByChallenges($wo['fund']['id']);
                                               // echo "<pre>";print_r($totalfunds);die;
                            if (count($totalfunds) > 0) 
							{
								foreach ($totalfunds as $wo['riasedfund']) 
								{
									echo Wo_LoadPage('show_fund/fundraising-list');
								}
							} 
							else 
							{ ?>
								<div class="empty_state">
									<?php echo $wo['lang']['no_challenge_found']; ?>
								</div>
								<?php 
							} ?>
						</div>
					</div>
					<!-- Top Challenges Ends -->
                                        
					<!-- Endorsements Start -->
					<div class="wow_content margin-b30 campaign_endorsements" id="campaign_endorses">
						<?php $endorsers = GetRecentEndorsed($wo['fund']['id'],200); 
						//echo "<pre>";print_r(count($endorsers));die; ?>
						<div class="valign wo_page_hdng mb-0">
							<?php echo ($wo['lang']['endorsements']);?>
						</div>
						
							<div class="fund mb-15">
								<div class="fluid list tag_scroll" id="all_endorsers" >
									<?php 
									if (count($endorsers) == 0) 
									{
											echo Wo_LoadPage('show_fund/campaign-no-endorse');
									}
									else 
									{ 
										foreach ($endorsers as $key => $wo['endorse_list']) 
										{ 
											echo Wo_LoadPage('show_fund/endorse-list');
									 	}
									} ?>
								</div>
							</div>
						
					</div>
					<!-- Endorsements End  -->
                                        
					<!-- Challenges starts -->
					<div class="wow_content margin-b30">
						<div class="valign wo_page_hdng mb-0">
							<?php echo $wo['lang']['challenges']; ?>
						</div>
						<?php if (!empty($wo['fund']['challenges'])) {
							 ?>
							<div class="fund">
								<!--<div class="fluid list row" style="overflow: auto;"><br/>-->
                                                                <div class="mt-20">
									<?php  foreach ($wo['fund']['challenges'] as $key => $challenge_fund) {
										$post_id = Wo_GetPostIdByChallengeFundId($challenge_fund['id']);

										?>
										
                                                                                <h6><?php 
											if(isset($challenge_fund[0]['challenge']['title']))
											{											
												echo $challenge_fund[0]['challenge']['title'];
											}
											?></h6>
										<!--<div class="item fund_item"  style="display: block;">-->
                                                                                <div class="tag_scroll challenge-group">
											<!--<div class="wrapper" style="display: flex;">-->
                                                                                        
												<?php  foreach ($challenge_fund as $key => $challenge) 
												{
													$post_id = Wo_GetPostIdByChallengeFundId($challenge['id']);
													
												?>
                                            <div class="challenge-block">
                                                    <div class="challenge-thumbnail">
                                                        
                                                            <img class="rounded-circle user_profile_tiny" src="<?php echo($challenge['user_data']['avatar']) ?>" alt="<?php echo($challenge['user_data']['username']) ?>" />
                                                        
	 												<a href="<?= $wo['config']['site_url']."/show_challenge/". $challenge['hashed_id']?>" class="avatar">	
												<!--<span class="user-rounded">
												<img class=" pointer" data-recent="<?php echo $challenge['id'];?>" src="<?php echo($challenge['user_data']['avatar']) ?>" alt="<?php echo($challenge['user_data']['username']) ?>" />
												<p><?php echo($challenge['user_data']['name']) ?></p></span>-->
                                                                                                     
													<?php
												$filename=$challenge['fileName'];
												if(!empty($challenge['fileThumb']) && $challenge['fileThumb'] !=NULL)
												{
													$filename=$challenge['fileThumb'];
												}
												$media = array(
													'type' => 'post',
													'storyId' => $post_id,
													'filename' => $filename,
													'name' =>  $challenge['file'],
													'postFileThumb' => $challenge['fileThumb'],
												);
												//echo "<pre>".'-----1254';print_r($wo['challenge_fund']['fund_data']['due_date']);
												//echo Wo_DisplaySharedFile($media, 'show_fund', $wo['challenge_fund']['fund_data']['cache']);
												/*if(isset($challenge['fileThumb']) && $challenge['fileThumb'] !=NULL)
												{
													echo '<img src="../'.$challenge['fileThumb'].'" alt="image" class="image-file pointer">';
													
												}
												else
												{*/
													echo Wo_DisplaySharedFile($media, 'show_fund', $challenge['fund_data']['cache']);
												/*}*/
												?>
											</a>
                                            <a href="<?= $wo['config']['site_url']."/show_challenge/". $challenge['hashed_id']?>" class="truncate"><?=$challenge['user_data']['name'];?></a>
                                                   </div>
											</div>
												<?php }?>
                                                                                            
										</div>
									<?php }  ?>
								</div>
							</div>
						<?php } else { ?>
							<div class="empty_state">
								<?php echo $wo['lang']['no_challenge_found']; ?>
							</div>
						<?php } ?>
					</div>
					<!-- Challenges ends -->
				</div>
				<div class="col-lg-4 pl-lg-0">
                                        <!-- donations start -->
					<div class="wow_content margin-b30 pb-15">
						<?php $wo['recent'] = GetRecentRaise($wo['fund']['id'],200);
						//echo "<pre>";print_r($wo['recent']);die;

						 ?>
						<div class="valign wo_page_hdng mb-0">
							<?php echo ($wo['lang']['donations'] . ' (' . $wo['fund']['all_donation'] . ')');?>
						</div>
						<?php if (!empty($wo['recent'])) { ?>
							<div class="fund">
								<div class="fluid list tag_scroll" style="height: 340px; overflow: auto;">
									<?php if ($wo['recent']) { 
										foreach ($wo['recent'] as $key => $user) { 

											if( $user['show']=='0')
											{
												$user['user_data']['avatar']=Wo_GetMedia('upload/photos/incognito.png');
												$user['user_data']['url']='javascript:void(0)';
												$user['user_data']['username']='anonymous';
												$user['user_data']['name']=$wo['lang']['anonymous'];
											}


											?>
										<div class="item fund_item donor_user" data-recent="<?php echo($user['id']) ?>">
											<div class="wrapper">
												<img class="rounded-circle donors" src="<?php echo($user['user_data']['avatar']) ?>" alt="Picture" />
											</div>
											<div class="caption">
												<a class="truncate bold" href="<?php echo($user['user_data']['url']) ?>" <?php if($user['show']!='0'): ?> data-ajax="?link1=timeline&u=<?php echo($user['user_data']['username']) ?>" <?php endif; ?>><?php echo $user['user_data']['name']; ?></a>
												<p class="truncate">
													<time class="time-ago"><?php echo(Wo_Time_Elapsed_String($user['time'])); ?></time>
													<span class="donation_amount"><?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].number_format($user['amount']); ?></span>
												</p>
											</div>
										</div>
									<?php } } ?>
								</div>
							</div>
						<?php } else { ?>
							<div class="empty_state">
								<?php echo $wo['lang']['no_donations_yet']; ?>
							</div>
						<?php } ?>
					</div>
                                        <!-- Donations ends -->
					
					
					<!-- Top Fundraisers starts -->					
					<div class="wow_content margin-b30 pb-15">
						<?php  
						$wo['top_user']=getTopFundRaisedByUsersInChallenges($wo['fund']['id']);
						?>
						<div class="valign wo_page_hdng mb-0">
							<?php echo $wo['lang']['top_fundraiser'];?>
						</div>
						
						<?php if (!empty($wo['top_user'])) { ?>
							<div class="fund">
								<div class="fluid list tag_scroll" style="height: 340px; overflow: auto;">
						
									<?php if ($wo['top_user']) { 
										foreach ($wo['top_user'] as $key => $user) 
											
										{ 

											if($user['show']=='0')
											{
												$user['user_data']['avatar']=Wo_GetMedia('upload/photos/incognito.png');
												$user['user_data']['url']='javascript:void(0)';
												$user['user_data']['username']='anonymous';
												$user['user_data']['name']=$wo['lang']['anonymous'];
											}


												?>
										<div class="item fund_item donor_user" data-recent="<?php echo($user['id']) ?>">
											<div class="wrapper">
												<img class="rounded-circle donors" src="<?php echo($user['user_data']['avatar']) ?>" alt="Picture" />
											</div>
											<div class="caption">
												<a class="truncate bold" href="<?php echo($user['user_data']['url']) ?>" <?php if($user['show']!='0'): ?> data-ajax="?link1=timeline&u=<?php echo($user['user_data']['username']) ?>" <?php endif; ?>><?php echo $user['user_data']['name']; ?></a>
												<p class="truncate">
                                                    <time class="time-ago"><?php echo(Wo_Time_Elapsed_String($user['time'])); ?></time>
                                                    <span class="donation_amount"><?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].number_format($user['amount']); ?></span>
													
													
												</p>
											</div>
										</div>
									<?php } } ?>
								</div>
							</div>
						<?php } else { ?>
							<div class="empty_state">
								<?=$wo['lang']['no_fundraisers_yet']?>
							</div>
						<?php } ?>
					</div>
					<!-- Top Fundraisers End  -->

					<!-- Top Donors starts -->
					<div class="wow_content margin-b30 pb-15">
						<?php $wo['donors'] = GetTopDonors($wo['fund']['id'],20); ?>
						<div class="valign wo_page_hdng mb-0">
							<?php echo $wo['lang']['top_donors'];?>
						</div>
						<?php if (!empty($wo['donors'])) { ?>
							<div class="fund">
								<div class="fluid list tag_scroll" style="height: 340px; overflow: auto;">
									<?php if ($wo['donors']) { 
										foreach ($wo['donors'] as $key => $user) 
											
										{ 

											if($user['show']=='0')
											{
												$user['user_data']['avatar']=Wo_GetMedia('upload/photos/incognito.png');
												$user['user_data']['url']='javascript:void(0)';
												$user['user_data']['username']='anonymous';
												$user['user_data']['name']=$wo['lang']['anonymous'];
											}


												?>
										<div class="item fund_item donor_user" data-recent="<?php echo($user['id']) ?>">
											<div class="wrapper">
												<img class="rounded-circle donors" src="<?php echo($user['user_data']['avatar']) ?>" alt="Picture" />
											</div>
											<div class="caption">
												<a class="truncate bold" href="<?php echo($user['user_data']['url']) ?>" <?php if($user['show']!='0'): ?> data-ajax="?link1=timeline&u=<?php echo($user['user_data']['username']) ?>" <?php endif; ?>><?php echo $user['user_data']['name']; ?></a>
												<p class="truncate">
                                                    <time class="time-ago"><?php echo(Wo_Time_Elapsed_String($user['time'])); ?></time>
                                                    <span class="donation_amount"><?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].number_format($user['amount']); ?></span>
													
													
												</p>
											</div>
										</div>
									<?php } } ?>
								</div>
							</div>
						<?php } else { ?>
							<div class="empty_state">
								<?=$wo['lang']['no_donors_yet']?>
							</div>
						<?php } ?>
					</div>
					<!-- Top Donars End -->
					
				</div>
			</div>
		</div>
	</div>
</div>

<div class="tag_show_fnd_bottom">
	<div class="container">
		<div class="valign">
			<?php if (Wo_IsMobile() == false) { ?>
			<div class="tag_sF_bar_pc">
				<div class="fund_raise_bar">
					<span class="pull-right">
						<time>
							<?php
								if(!empty($wo['fund']['due_date'])){
									echo Wo_Time_Elapsed_String(strtotime($wo['fund']['due_date']),"due_date");
								}
							?>
						</time>
					</span>
                    <p class="show_fnd_stats"><span class="bold big-text"><?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']]. number_format($wo['fund']['raised']); ?></span> of <?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']]. number_format($wo['fund']['amount']) . ' ' . $wo['lang']['raised_of']; ?></p>
					<div class="progress">
						<div class="progress-bar" role="progressbar" style="width: <?php echo $wo['fund']['bar']; ?>%" aria-valuenow="<?php echo $wo['fund']['bar']; ?>" aria-valuemin="0" aria-valuemax="<?php echo($wo['fund']['amount']) ?>"></div>
					</div>
				</div>
			</div>
			<?php } ?>
			<div class="fund_raise_btns">

				<!-- if user is not logged in --->
				<?php  
				$haystack=array('0','5','6','9');
				$donation_amount=$wo['fund']['amount'];
					   $accepted_amount=$donation_amount+($donation_amount*20/100);
				if($wo['loggedin'] != true):

					$last_url=$wo['config']['site_url'].'/show_fund/'.$wo['fund']['hashed_id'];
				?>

					<a href="<?php echo Wo_SeoLink('index.php?link1=welcome&last_url=' . $last_url);?>"  class="btn btn-main btn-mat"><?php echo $wo['lang']['donate']; ?></a>
					<a href="<?php echo Wo_SeoLink('index.php?link1=welcome&last_url=' . $last_url);?>"  class="btn btn-action btn-mat"><?php echo $wo['lang']['become_fundraiser'];?></a>
				<?php 
				else: 
					if ($accepted_amount > $wo['fund']['raised'] && (empty($wo['fund']['due_date']) || $wo['fund']['due_date'] > date('Y-m-d')) && $wo['fund']['status'] =='1') { 
                                            // active campaign
                                        ?>
						<button type="button" id="donate" class="btn btn-main btn-mat" 
							 data-toggle="modal" data-target="#dont_modal">
							 <?php echo $wo['lang']['donate']; ?>
						</button>
						<a href="<?=$wo['config']['site_url']."/?link1=create_challenge&fund_id=".$wo['fund']['id']?>">
							<button type="button" class="btn btn-action btn-mat" >
							<?php echo $wo['lang']['become_fundraiser'];?> </button>
						</a>
						
					<?php } 
					elseif($accepted_amount <= $wo['fund']['raised'] && (empty($wo['fund']['due_date']) || $wo['fund']['due_date'] > date('Y-m-d'))   && $wo['fund']['status'] =='1'){  
                                            // ended campaign
                                        ?>
						<button type="button" class="btn btn-main btn-mat">
							<?=$wo['lang']['campaign_ended']; ?>
						</button>
						<?php 
					}
					else
					{ ?>
						<button type="button" id="donate" class="btn btn-main btn-mat disabled">
							<?php echo $wo['lang']['donate']; ?>
						</button>
						<button type="button" class="btn btn-action btn-mat disabled" >
							<?php echo $wo['lang']['become_fundraiser'];?> 
						</button>
					<?php 
					}
                                                                                
				endif; ?> 


			  <!-- Else -->
			</div>
		</div>
	</div>
</div>
<form method="POST" id="endorseForm" action="#"> 
	<input type= "hidden" name="fund_id" value="<?=$wo['fund']['id'];?>">
</form>
<form method="POST" id="withdrawForm" action="#"> 
	<input type= "hidden" name="fund_id" value="<?=$wo['fund']['id'];?>">
</form>
<!-- Invite friend modal -->
<div class="modal fade" id="invite_friends" role="dialog">
	<div class="modal-dialog wow_mat_mdl modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><?php echo $wo['lang']['invite_your_frineds_home']; ?></h4>
			</div>
			<div class="modal-body">
				<label class="tag_field">
					<!-- <textarea rows="4" id="report-campaign-text-<?php echo $wo['user']['id']; ?>" placeholder=" "></textarea> -->
					<textarea name="postText" class="auto-resize postText form-control" rows="3" spellcheck="false" placeholder="<?php echo $wo['lang']['invite_your_frineds_home']; ?>?" dir="auto" style="height:auto;"><?php echo $url; ?></textarea>
					<!-- <span><?php echo $wo['lang']['write_something_here'] ?></span> -->
				</label>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-mat disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel'] ?></button>
				<button type="button" class="btn btn-main btn-mat disable_btn" id="report-campaign-button" onclick="Wo_ReportCampaign(<?php echo $wo['fund']['id']; ?>,true)"><?php echo $wo['lang']['send']; ?></button>
			</div>
		</div>
	</div>
</div>
<!-- // report campaign modal -->
<div class="modal fade" id="report_campaign" role="dialog">
	<div class="modal-dialog wow_mat_mdl modal-md">

		<div class="modal-content">
			<span class="show-message"></span>
			<div class="modal-header">
				<h4 class="modal-title"><?php echo $wo['lang']['report_campaign']; ?></h4>
			</div>
			<div class="modal-body">
				<label class="tag_field">
					<textarea rows="4" id="report-campaign-text-<?php echo $wo['user']['id']; ?>" placeholder=" "></textarea>
					<span><?php echo $wo['lang']['write_something_here'] ?></span>
				</label>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-mat disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel'] ?></button>
				<button type="button" class="btn btn-main btn-mat disable_btn" id="report-campaign-button" onclick="Wo_ReportCampaign(<?php echo $wo['fund']['id']; ?>,true)"><?php echo $wo['lang']['send']; ?></button>
			</div>
		</div>
	</div>
</div>
<!-- // report campaign end -->

<!-- // endorse campaign modal -->
<div class="modal fade" id="endorse_campaign" role="dialog">
	<div class="modal-dialog wow_mat_mdl modal-md">
		
		<div class="modal-content">
			<span class="show-message"></span>
			<div class="modal-header">
				<h4 class="modal-title"><?php echo $wo['lang']['endorse']; ?></h4>
				
			</div>
			<div class="modal-body">
				<label class="tag_field">
					<textarea rows="4" id="endorse-campaign-text-<?php echo $wo['user']['id']; ?>" placeholder=" "></textarea>
					<span><?php echo $wo['lang']['write_something_here'] ?></span>
				</label>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-mat disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel'] ?></button>
				<button type="button" class="btn btn-main btn-mat disable_btn" id="report-campaign-button" onclick="Wo_endorseCampaign(<?php echo $wo['fund']['id']; ?>,true)"><?php echo $wo['lang']['send']; ?></button>
			</div>
		</div>
	</div>
</div>
<!-- // endorse campaign end -->

<!-- Donate modal starts -->
<div class="modal fade" id="dont_modal" tabindex="-1" role="dialog">
	<div class="modal-dialog wow_mat_mdl modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><?php echo $wo['lang']['donate']; ?> <?php echo $wo['lang']['amount']; ?></h4>
			</div>
			<div class="modal-body">
				<div id="amount_fund_alert"></div>
                                <div class="donate_buttons">
                                    <button class="btn btn-action btn-mat btn-donate m-2" onclick="setDonationValue(100)" >$100</button>
                                    <button class="btn btn-action btn-mat btn-donate m-2" onclick="setDonationValue(200)">$200</button>
                                    <button class="btn btn-action btn-mat btn-donate m-2" onclick="setDonationValue(500)">$500</button>
                                    <button class="btn btn-action btn-mat btn-donate m-2" onclick="setDonationValue(1000)">$1,000</button>
                                    <button class="btn btn-action btn-mat btn-donate m-2" onclick="setDonationValue(5000)">$5,000</button>
                                    <button class="btn btn-action btn-mat btn-donate m-2" onclick="setDonationValue(10000)">$10,000</button>
                                </div>    
				<div class="fund_input text-center">
					$<input type="text" name="amount" placeholder="0.00" id="fund_donate_amount" onkeyup="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                        <div id="place" class="mb-15"></div>
                                        <button type="button" class="btn btn-default btn-mat disable_btn" onclick="clearDonationValue()"><?php echo $wo['lang']['clear'] ?></button>
				</div>
				<div class="round-check m-2">
                                        <input type="checkbox" name="display_name" id="display_name">
                                        <label for="display_name"><?=$wo['lang']['dont_display_my_name'];?></label>
                                </div>
        		<?php if($wo['fund']['fundraising_for']=='2'): ?>
	        		<div class="round-check m-2">
	          			<input type="checkbox" name="receipt_required" id="receipt_required">
	          			<label for="receipt_required"><?=$wo['lang']['need_receipt'];?></label>
	        		</div>
        		<?php endif;?>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-mat disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel'] ?></button>
				<button class="bank_payment btn btn-main btn-mat" onclick="Wo_GetPaymentMethods(this);"><?php echo $wo['lang']['donate']; ?></button>
				<input type="hidden" class="form-control" id="fund_donate_id" value="<?php echo $wo['fund']['id']; ?>">
			</div>
		</div>
	</div>
</div>
<!-- Donate modal ends -->

<div id="donate_for_fund_modal"></div>

<?php if ($wo['config']['bank_payment'] == 'yes' && !empty($wo['config']['bank_transfer_note']) && !empty($wo['config']['bank_description'])) { ?>
<div class="modal fade" id="bank_transfer_donate_modal" role="dialog" data-keyboard="false">
	<div class="modal-dialog wow_mat_mdl">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><?php echo $wo['lang']['bank_transfer'] ?></h4>
			</div>
			<form class="form form-horizontal" method="post" id="bank_transfer_form_donate" action="#">
				<div class="modal-body dt_bank_trans_modal">
					<div id="blog-alert"></div>
					
					<?php echo $wo['config']['bank_description'];?>
					
					<?php if (!empty($wo['config']['bank_transfer_note'])) { ?>
						<div class="dt_user_profile hide_alert_info_bank_trans">
							<ul class="dt_prof_vrfy">
								<li><?php echo $wo['config']['bank_transfer_note'];?></li>
							</ul>
						</div>
					<?php } ?>
					<div class="upload_bank_receipts">
						<div onclick="document.getElementById('upload').click(); return false">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2M13.5,16V19H10.5V16H8L12,12L16,16H13.5M13,9V3.5L18.5,9H13Z"></path></svg>
							<p><?php echo $wo['lang']['browse_to_upload']; ?></p>
							<img id="receipt_img_preview" src="">
						</div>
					</div>
					<?php /*if(isset($_GET['challenge_id'])){?>
						<input value="<?=$_GET['challenge_id'];?>" name="challenge_id" type="hidden" id="challenge_id" class="hidden">
					<?php }*/?>
					<input name="challenge_id" type="hidden" id="challengeid" class="hidden">
            		<input name="show" type="hidden" id="show" class="hidden">
					<input name="price" type="hidden" id="bank_donate_price" class="hidden">
					<input name="fund_id" type="hidden" id="bank_donate_fund_id" class="hidden">
					<input type="hidden" name="hash_id" value="<?php echo Wo_CreateSession();?>">
					<input name="thumbnail" type="file" id="upload" class="hidden" accept="image/*">
					<input type="reset" id="configreset" value="Reset" class="hidden">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-mat btn-default disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel']; ?></button>
					<button type="submit" class="btn btn-main btn-mat disable_btn"><?php echo $wo['lang']['send']; ?></button>
				</div>
			</form>
		</div>
	</div>
</div>
<?php } ?>

<?php if ($wo['config']['checkout_payment'] == 'yes' && !empty($wo['config']['checkout_seller_id']) && !empty($wo['config']['checkout_publishable_key']) && !empty($wo['config']['checkout_private_key'])) { ?>
<div class="modal fade" id="2checkout_wallet_donate_modal" role="dialog" data-keyboard="false">
	<div class="modal-dialog wow_mat_mdl modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><?php echo $wo['lang']['2checkout'] ?></h4>
			</div>
			<form class="form form-horizontal" method="post" id="2checkout_form_donate_wallet" action="#">
				<div class="modal-body twocheckout_modal">
					<div id="2checkout_alert_donate_wallet"></div>
					<div class="clear"></div>
					<div class="row">
						<div class="col-lg-6">
							<label class="tag_field">
								<input id="card_name" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['name']) ?>">
								<span><?php echo $wo['lang']['name']; ?></span>
							</label>
							<label class="tag_field">
								<input id="card_email" type="email" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['email']) ?>">
								<span><?php echo $wo['lang']['email']; ?></span>
							</label>
							<label class="tag_field">
								<input id="card_phone" type="tel" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['phone_number']) ?>">
								<span><?php echo $wo['lang']['phone_number']; ?></span>
							</label>
							<label class="tag_field">
								<input id="card_address" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['address']) ?>">
								<span><?php echo $wo['lang']['address']; ?></span>
							</label>
							<div class="row">
								<div class="col-md-6">
									<label class="tag_field">
										<input id="card_city" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['city']) ?>">
										<span><?php echo $wo['lang']['city']; ?></span>
									</label>
								</div>
								<div class="col-md-6">
									<label class="tag_field">
										<input id="card_zip" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['zip']) ?>">
										<span><?php echo $wo['lang']['zip']; ?></span>
									</label>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<label class="tag_field">
										<input id="card_state" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['state']) ?>">
										<span><?php echo $wo['lang']['state']; ?></span>
									</label>
								</div>
								<div class="col-md-6">
									<label class="tag_field">
										<select id="card_country" name="card_country">
											<?php 
												foreach ($wo['countries_name'] as $country_ids => $country) { 
													$country_id = $wo['user']['country_id'];
													$selected_contry = ($country_ids == $country_id) ? ' selected' : '' ;
											?>
												<option value="<?php echo $country_ids;?>" <?php echo $selected_contry;?> ><?php echo $country;?></option>
											<?php } ?>
										</select>
										<span><?php echo $wo['lang']['country']; ?></span>
									</label>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="two_check_card">
								<label class="tag_field">
									<input id="_number_" type="text" autocomplete="off" placeholder=" ">
									<span><?php echo $wo['lang']['card_number']; ?></span>
									<input id="card_number" name="card_number" type="hidden" autocomplete="off">
								</label>
								<label class="tag_field">
									<select id="card_month" name="card_month">
										<option value="01">01</option>
										<option value="02">02</option>
										<option value="03">03</option>
										<option value="04">04</option>
										<option value="05">05</option>
										<option value="06">06</option>
										<option value="07">07</option>
										<option value="08">08</option>
										<option value="09">09</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
									</select>
									<span><?php echo $wo['lang']['month']; ?></span>
								</label>
								<label class="tag_field">
									<select id="card_year" name="card_year">
										<?php for ($i=date('Y'); $i <= date('Y')+15; $i++) {  ?>
											<option value="<?php echo($i) ?>"><?php echo($i) ?></option>
										<?php } ?>
									</select>
									<span><?php echo $wo['lang']['year']; ?></span>
								</label>
								<label class="tag_field">
									<input id="card_cvc" name="card_cvc" type="text" autocomplete="off" placeholder=" " maxlength="3" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
									<span>CVC</span>
								</label>
							</div>
						</div>
					</div>
					<div class="clear"></div>
					<input id="card_token" name="token" type="hidden" value="">
					<input id="donate_check_amount" name="amount" type="hidden" value="">
					<input id="donate_check_fund_id" name="fund_id" type="hidden" value="">
				</div>
				<div class="clear"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-mat btn-default disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel']; ?></button>
					<button type="button" class="btn btn-main btn-mat disable_btn" onclick="tokenRequest()" id="2checkout_btn_wallet"><?php echo $wo['lang']['pay']; ?></button>
				</div>
			</form>
		</div>
	</div>
</div>
<?php } ?>
<?php if ($wo['config']['paystack_payment'] == 'yes' && !empty($wo['config']['paystack_secret_key'])) { ?>
<div class="modal fade" id="paystack_fund_modal" role="dialog" data-keyboard="false">
	<div class="modal-dialog wow_mat_mdl modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><?php echo $wo['lang']['paystack'] ?></h4>
			</div>
			<form class="form form-horizontal" method="post" id="paystack_fund_form" action="#">
				<div class="modal-body">
					<div id="paystack_fund_alert"></div>
					<div class="clear"></div>
					<label class="tag_field">
						<input id="paystack_fund_email" type="email" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['email']) ?>">
						<span><?php echo $wo['lang']['email']; ?></span>
					</label>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<input type="hidden" name="paystack_fund_id" id="paystack_fund_id">
				<input type="hidden" name="paystack_fund_amount" id="paystack_fund_amount">
				<div class="modal-footer">
					<button type="button" class="btn btn-mat btn-default disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel']; ?></button>
					<button type="button" class="btn btn-main btn-mat disable_btn" id="paystack_btn" onclick="InitializeFundPaystack()"><?php echo $wo['lang']['pay']; ?></button>
				</div>
			</form>
		</div>
	</div>
</div>
<?php } ?>
<?php if ($wo['config']['cashfree_payment'] == 'yes' && !empty($wo['config']['cashfree_client_key']) && !empty($wo['config']['cashfree_secret_key'])) { ?>
<div class="modal fade" id="cashfree_wallet_modal" role="dialog" data-keyboard="false">
	<div class="modal-dialog wow_mat_mdl modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><?php echo $wo['lang']['cashfree'] ?></h4>
			</div>
			<form class="form form-horizontal" method="post" id="cashfree_form" action="#">
				<div class="modal-body">
					<div id="cashfree_wallet_alert"></div>
					<div class="clear"></div>
					<label class="tag_field">
						<input id="cashfree_name" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['name']) ?>">
						<span><?php echo $wo['lang']['name']; ?></span>
					</label>
					<label class="tag_field">
						<input id="cashfree_email" type="email" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['email']) ?>">
						<span><?php echo $wo['lang']['email']; ?></span>
					</label>
					<label class="tag_field">
						<input id="cashfree_phone" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['phone_number']) ?>">
						<span><?php echo $wo['lang']['phone_number']; ?></span>
					</label>
					<input type="hidden" name="cashfree_type" id="cashfree_type">
					<input type="hidden" name="cashfree_fund_id" id="cashfree_fund_id">
				    <input type="hidden" name="cashfree_fund_amount" id="cashfree_fund_amount">
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-mat btn-default disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel']; ?></button>
					<button type="button" class="btn btn-main btn-mat disable_btn" id="cashfree_btn" onclick="SignatureWalletCashfree()"><?php echo $wo['lang']['pay']; ?></button>
				</div>
			</form>
		</div>
	</div>
</div>
<?php } ?>
<?php  
    if(($isAdministrator || $isOrganiser && $wo['loggedin'] == true) && $_GET['preview'] !='1'){
        echo Wo_LoadPage('story/postupdate-box'); 
    }
?>
<?php if ($wo['config']['razorpay_payment'] == 'yes' && !empty($wo['config']['razorpay_key_id']) && !empty($wo['config']['razorpay_key_secret'])) { ?>
<div class="modal fade" id="razorpay_modal" role="dialog" data-keyboard="false">
	<div class="modal-dialog wow_mat_mdl modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><?php echo $wo['lang']['razorpay'] ?></h4>
			</div>
			<form class="form form-horizontal" method="post" id="razorpay_form" action="#">
				<div class="modal-body">
					<div id="razorpay_alert"></div>
					<div class="clear"></div>
					<label class="tag_field">
						<input id="razorpay_name" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['name']) ?>">
						<span><?php echo $wo['lang']['name']; ?></span>
					</label>
					<label class="tag_field">
						<input id="razorpay_email" type="email" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['email']) ?>">
						<span><?php echo $wo['lang']['email']; ?></span>
					</label>
					<label class="tag_field">
						<input id="razorpay_phone" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['phone_number']) ?>">
						<span><?php echo $wo['lang']['phone_number']; ?></span>
					</label>
					<input type="hidden" name="razorpay_fund_id" id="razorpay_fund_id">
					<input type="hidden" name="razorpay_fund_amount" id="razorpay_fund_amount">
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-mat btn-default disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel']; ?></button>
					<button type="button" class="btn btn-main btn-mat disable_btn" id="razorpay_btn" onclick="SignatureRazorpay()"><?php echo $wo['lang']['pay']; ?></button>
				</div>
			</form>
		</div>
	</div>
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<?php } ?>
<script type="text/javascript">
$(function () {

	var allowed = "<?php echo $wo['config']['allowedExtenstion']?>";
	<?php if (!empty($url)) { ?>
		$('textarea').trigger('click');
		setTimeout(function () {
			$('textarea').trigger('keyup')
		}, 1000);
	<?php } ?>
	$('.postText').triggeredAutocomplete({
		hidden: '#hidden_inputbox',
		source: Wo_Ajax_Requests_File() + "?f=mention",
		trigger: "@" 
	});
	<?php if ($wo['config']['maxCharacters'] != 10000) { ?>
		$('.postText').limit("<?php echo $wo['config']['maxCharacters']?>", '#charsLeft');
	<?php } ?>
	$('.postText').triggeredAutocomplete({
		hidden: '#hidden_inputbox',
		source: Wo_Ajax_Requests_File() + "?f=mention",
		trigger: "@" 
	});
	<?php if ($wo['config']['maxCharacters'] != 10000) { ?>
		$('.postText').limit("<?php echo $wo['config']['maxCharacters']?>", '#charsLeft');
	<?php } ?>


})
<?php if ($wo['config']['razorpay_payment'] == 'yes' && !empty($wo['config']['razorpay_key_id']) && !empty($wo['config']['razorpay_key_secret'])) { ?>
function pay_using_razorpay_fund(fund_id,amount) {
	$("#razorpay_fund_id").val(fund_id);
	$("#razorpay_fund_amount").val(amount);
	$("#razorpay_alert").html('');
	$('#fund_payment_donate_modal').modal('hide');
	$('#razorpay_modal').modal({
        show: true
    });
}

function SignatureRazorpay() {
	$('#razorpay_btn').html("<?php echo($wo['lang']['please_wait']) ?>");
	$('#razorpay_btn').attr('disabled','true');
    var merchant_order_id = "<?php echo(round(111111,9999999)) ?>";
    var card_holder_name_id = $('#razorpay_name').val();
    var type = $('#razorpay_type').val();
    var email = $('#razorpay_email').val();
    var phone = $('#razorpay_phone').val();
    //var currency_code_id = "<?php echo($wo['config']['currency']) ?>";
    var currency_code_id = "INR";

    if (!email || !phone || !card_holder_name_id) {
    	$('#razorpay_alert').html("<div class='alert alert-danger'><?php echo($wo['lang']['please_check_details']) ?></div>");
		setTimeout(function () {
			$('#razorpay_alert').html("");
		},3000);
		$('#razorpay_btn').html("<?php echo($wo['lang']['pay']) ?>");
		$('#razorpay_btn').removeAttr('disabled');
		return false;
    }


    var merchant_total = Number($('#razorpay_fund_amount').val()) * 100;
    var fund_id = $('#razorpay_fund_id').val();
    
    var razorpay_options = {
        key: "<?php echo $wo['config']['razorpay_key_id']; ?>",
        amount: merchant_total,
        name: "<?php echo $wo['config']['siteName']; ?>",
        description: "Donate",
        image: '<?php echo $wo['config']['theme_url'];?>/img/logo.<?php echo $wo['config']['logo_extension'];?>',
        netbanking: true,
        currency: currency_code_id,
        prefill: {
            name: card_holder_name_id,
            email: email,
            contact: phone
        },
        notes: {
            soolegal_order_id: merchant_order_id,
        },
        handler: function (transaction) {
            jQuery.ajax({
                url:Wo_Ajax_Requests_File() + '?f=razorpay&s=fund',
                type: 'post',
                data: {payment_id: transaction.razorpay_payment_id, order_id: merchant_order_id, card_holder_name_id: card_holder_name_id,  merchant_amount: merchant_total, currency: currency_code_id, type: 'fund', fund_id: fund_id}, 
                dataType: 'json',
                success: function (data) {
                	if (data.status == 200) {
                		window.location = data.url;
                	}
                	else{
                		if (data.url != '') {
                			window.location = data.url;
                		}
                		else{
                			$('#razorpay_alert').html("<div class='alert alert-danger'>"+data.message+"</div>");
							setTimeout(function () {
								$('#razorpay_alert').html("");
							},3000);
							$('#razorpay_btn').html("<?php echo($wo['lang']['pay']) ?>");
							$('#razorpay_btn').removeAttr('disabled');

                		}
                	}
                }
            });
        },
        "modal": {
            "ondismiss": function () {
                // code here
            }
        }
    };
    // obj        
    var objrzpv1 = new Razorpay(razorpay_options);
    objrzpv1.open();
    e.preventDefault();
}
<?php } ?>
<?php if ($wo['config']['paysera_payment'] == 'yes' && !empty($wo['config']['paysera_project_id']) && !empty($wo['config']['paysera_sign_password'])) { ?>
	function pay_using_paysera_funding(fund_id,amount) {
		$('.btn-paysera').attr('disabled', true).text("<?php echo $wo["lang"]["please_wait"]?>");
	    $.post(Wo_Ajax_Requests_File() + '?f=paysera&s=get_url', {type:'fund',amount:amount,fund_id:fund_id}, function(data) {
	        if (data.status == 200) {
	            window.location.href = data.url;
	        } else {
	         	$('.btn-paysera').attr('disabled', false).html("Paysera App not set yet.");
	        }
	    });
	}
<?php } ?>


	function pay_using_cashfree_funding(fund_id,amount) {
		$("#cashfree_fund_id").val(fund_id);
		$("#cashfree_fund_amount").val(amount);
		$("#cashfree_wallet_alert").html('');
		$('#fund_payment_donate_modal').modal('hide');
		$('#cashfree_wallet_modal').modal({
	        show: true
	    });
	}

	function SignatureWalletCashfree() {
		$('#cashfree_btn').html("<?php echo($wo['lang']['please_wait']) ?>");
		$('#cashfree_btn').attr('disabled','true');
		type = $('#cashfree_type').val();
		email = $('#cashfree_email').val();
		name = $('#cashfree_name').val();
		phone = $('#cashfree_phone').val();
		amount = $('#cashfree_fund_amount').val();
		fund_id = $('#cashfree_fund_id').val();
		$.post(Wo_Ajax_Requests_File() + '?f=cashfree&s=initialize', {type:'fund',email:email,name:name,phone:phone,amount:amount,fund_id:fund_id}, function(data) {
			if (data.status == 200) {
				$('body').append(data.html);
				document.getElementById("redirectForm").submit();
			} else {
				$('#cashfree_wallet_alert').html("<div class='alert alert-danger'>"+data.message+"</div>");
				setTimeout(function () {
					$('#cashfree_wallet_alert').html("");
				},3000);
			}
			$('#cashfree_btn').html("<?php echo($wo['lang']['pay']) ?>");
			$('#cashfree_btn').removeAttr('disabled');
		});
	}

	function pay_using_funding_paystack(fund_id,amount) {
		$("#paystack_fund_id").val(fund_id);
		$("#paystack_fund_amount").val(amount);
		$("#paystack_fund_alert").html('');
		$('#fund_payment_donate_modal').modal('hide');
		$('#paystack_fund_modal').modal({
	        show: true
	    });
	}

	function InitializeFundPaystack() {
		$('#paystack_btn').html("<?php echo($wo['lang']['please_wait']) ?>");
	    $('#paystack_btn').attr('disabled','true');
		email = $('#paystack_fund_email').val();
		amount = $('#paystack_fund_amount').val();
		fund_id = $('#paystack_fund_id').val();
		$.post(Wo_Ajax_Requests_File() + '?f=paystack&s=initialize', {type:'fund',email:email,amount:amount,fund_id:fund_id}, function(data) {
			if (data.status == 200) {
				window.location.href = data.url;
			} else {
				$('#paystack_fund_alert').html("<div class='alert alert-danger'>"+data.message+"</div>");
				setTimeout(function () {
					$('#paystack_fund_alert').html("");
				},3000);
			}
			$('#paystack_btn').html("<?php echo($wo['lang']['pay']) ?>");
		    $('#paystack_btn').removeAttr('disabled');
		});
	}

	$(document).on('change', '#upload', function(event) {
		let imgPath = $(this)[0].files[0].name;
	    if (typeof(FileReader) != "undefined") {
	        let reader = new FileReader();
	        reader.onload = function(e) {
				$('#receipt_img_preview').attr('src', e.target.result);
	        }
	        reader.readAsDataURL(this.files[0]);
	    }
		$('#bank_transfer_donate_modal').addClass('up_rec_img_ready');
	});
	jQuery(document).ready(function($) {
	  $('#bank_transfer_donate_modal').ajaxForm({
	    url: Wo_Ajax_Requests_File() + '?f=funding&s=bank',
	    beforeSend: function() {
	    $('#bank_transfer_donate_modal').find('.disable_btn').attr('disabled','disabled');
	  },
	  success: function(data) {
	  	console.log(data);
	    if (data['status'] == 200) {
	      $("#blog-alert").html('<div class="alert alert-success">'+ data['message'] +'</div>');
	      setTimeout(function () {
	        // window.location = "<?php echo $wo['config']['site_url'];?>";
	        $(".prv-img").html('<div class="thumbnail-rendderer"><div><h4 class="bold"><?php echo $wo['lang']['drop_img_here']; ?></h4><div class="error-text-renderer"></div><div><span><?php echo $wo['lang']['or']; ?></span><p><?php echo $wo['lang']['browse_to_upload']; ?></p></div></div> </div>');
	        $("#blog-alert").html('');
	        $('#configreset').click();
	        //location.reload();
	        window.location.href = data.location;

	      },3000)
	    } else if (data['message']) {
	      $("#blog-alert").html('<div class="alert alert-danger">' + data['message'] + '</div>');
	    } 
	    $('#bank_transfer_donate_modal').find('.disable_btn').removeAttr("disabled");
	  },
		error: function(data) { 
                    console.log(data.responseText); 
                }  



	});
	});

// Called when token created successfully.
var successCallback = function(data) {
	console.log(data);
    var myForm = document.getElementById('2checkout_form_donate_wallet');
    $.post(Wo_Ajax_Requests_File() + '?f=funding&s=2checkout', {card_number: $("#card_number").val(),card_cvc: $("#card_cvc").val(),card_month: $("#card_month").val(),card_year: $("#card_year").val(),card_name: $("#card_name").val(),card_address: $("#card_address").val(),card_city: $("#card_city").val(),card_state: $("#card_state").val(),card_zip: $("#card_zip").val(),card_country: $("#card_country").val(),card_email: $("#card_email").val(),card_phone: $("#card_phone").val(),amount: $('#donate_check_amount').val(),fund_id: $('#donate_check_fund_id').val(),token: data.response.token.token}, function(data, textStatus, xhr) {
    	$('#2checkout_btn_wallet').html("<?php echo($wo['lang']['pay']) ?>");
    	$('#2checkout_btn_wallet').attr('disabled');
    	$('#2checkout_btn_wallet').removeAttr('disabled');
    	$('#2checkout_form_donate_wallet').find('.disable_btn').removeAttr("disabled");
    	if (data.status == 200) {
      	 	window.location.href = data.location;
      	} else {
      	 	$('#2checkout_alert_donate_wallet').html("<div class='alert alert-danger'>"+data.error+"</div>");
			setTimeout(function () {
				$('#2checkout_alert_donate_wallet').html("");
			},3000);
      	}
    	/*optional stuff to do after success */
    });
};

// Called when token creation fails.
var errorCallback = function(data) {
	$('#2checkout_btn_wallet').html("<?php echo($wo['lang']['pay']) ?>");
	$('#2checkout_btn_wallet').removeAttr('disabled');
	$('#2checkout_form_donate_wallet').find('.disable_btn').removeAttr("disabled");
    if (data.errorCode === 200) {
        tokenRequest();
    } else {
    	$('#2checkout_alert_donate_wallet').html("<div class='alert alert-danger'>"+data.errorMsg+"</div>");
		setTimeout(function () {
			$('#2checkout_alert_donate_wallet').html("");
		},3000);
    }
};

var tokenRequest = function() {
	$('#card_number').val($('#_number_').val());
	$('#2checkout_btn_wallet').html("<?php echo($wo['lang']['please_wait']) ?>");
	$('#2checkout_btn_wallet').attr('disabled','true');
	if ($("#card_number").val() != '' && $("#card_cvc").val() != '' && $("#card_month").val() != '' && $("#card_year").val() != '' && $("#card_name").val() != '' && $("#card_address").val() != '' && $("#card_city").val() != '' && $("#card_state").val() != '' && $("#card_zip").val() != '' && $("#card_country").val() != 0 && $("#card_email").val() != '' && $("#card_phone").val() != '') {
		$('#2checkout_form_donate_wallet').find('.disable_btn').attr('disabled','disabled');
		// Setup token request arguments
	    var args = {
	        sellerId: "<?php echo($wo['config']['checkout_seller_id']) ?>",
	        publishableKey: "<?php echo($wo['config']['checkout_publishable_key']) ?>",
	        ccNo: $("#card_number").val(),
	        cvv: $("#card_cvc").val(),
	        expMonth: $("#card_month").val(),
	        expYear: $("#card_year").val()
	    };
	    // Make the token request
	    TCO.requestToken(successCallback, errorCallback, args);
	}
	else{
		$('#2checkout_btn_wallet').html("<?php echo($wo['lang']['pay']) ?>");
		$('#2checkout_btn_wallet').removeAttr('disabled');
		$('#2checkout_alert_donate_wallet').html("<div class='alert alert-danger'><?php echo($wo['lang']['please_check_details']) ?></div>");
		setTimeout(function () {
			$('#2checkout_alert_donate_wallet').html("");
		},3000);
	}
};

/*$(function() {
    // Pull in the public encryption key for our environment
    TCO.loadPubKey("<?php echo($wo['config']['checkout_mode']) ?>");
});*/
</script>
<script>
// endorse campaign
	function endorseCampaign(){
		$(function(){
			$('#endorse_campaign').modal('show');
		});
	}
	function Wo_endorseCampaign(id = false,report = true){
		var endorse_text = $("#endorse-campaign-text-<?php echo $wo['user']['id']; ?>").val();
		if (!id) {return false;}
		else if(report == true){
		if (!endorse_text) {
			return false;}  
		}
		$('#pull-right').find('.disable_btn').attr('disabled','disabled');
		$('#endorseBtn').attr('disabled','disabled');
		$.ajax({
			url: Wo_Ajax_Requests_File() + '?f=funding&s=funding_endorse',
			type: 'POST',
			dataType: 'json',
			data: {text:endorse_text,fund_id:id},
		})
		.done(function(data) {
			console.log(data)
			console.log(data['html'])
			
			if (data['status'] == 200) 
			{
				if(data['html'] !='') {
					//$('#posts, #posts_hashtag').find('.posts-container').remove();
					$('#campaign_endorses').find('.empty_state').remove();
					$('#all_endorsers').prepend(data['html']);
				}
				//$("#show-alert").html('<div class="alert alert-success">'+ data['message'] +'</div>');
				$(".show-message").html('<div class="alert alert-success">'+ data['message'] +'</div>');
				setTimeout(function () {
					$(".show-message").html('');
					$("#endorse_campaign").modal('hide');
				},10000)
			} 
			else if (data['message']) 
			{
				$("#blog-alert").html('<div class="alert alert-danger">' + data['message'] + '</div>');
			} 
			//$('#endorseBtn').removeAttr("disabled");
		});
		/*$(function(){
			$('#endorseForm').ajaxSubmit({
				url: Wo_Ajax_Requests_File() + '?f=funding&s=funding_endorse',
				beforeSend: function() {
					$('#endorseBtn').attr('disabled','disabled');
				},
				success: function(data) {
					if (data['status'] == 200) {
					$("#show-alert").html('<div class="alert alert-success">'+ data['message'] +'</div>');
						setTimeout(function () {
				// window.location = "<?php echo $wo['config']['site_url'];?>";
						$("#show-alert").html('');
					},10000)
					} else if (data['message']) {
						$("#blog-alert").html('<div class="alert alert-danger">' + data['message'] + '</div>');
					} 
					$('#endorseBtn').removeAttr("disabled");
				}
			});
		});*/
	}
	//  report campiagn
	function reportRequest(){
		$(function(){
			$('#report_campaign').modal('show');
		});
	}

	function Wo_ReportCampaign(id = false,report = true){
		var report_text = $("#report-campaign-text-<?php echo $wo['user']['id']; ?>").val();
		if (!id) {return false;}
		else if(report == true){
		if (!report_text) {
			return false;}  
		}
		$('#pull-right').find('.disable_btn').attr('disabled','disabled');
		$.ajax({
			url: Wo_Ajax_Requests_File() + '?f=reports&s=report_campaign',
			type: 'POST',
			dataType: 'json',
			data: {text:report_text,fund_id:id},
		})
		.done(function(data) {
			console.log("data",data);
			if(data.status == 200 && data.code == 0){
				//$("#show-alert").html('<div class="alert alert-success">Report cancelled</div>');
				$(".show-message").html('<div class="alert alert-success">Report cancelled</div>');
				setTimeout(function () {
					$(".show-message").html('');
					$("#report_campaign").modal('hide');
				},10000)

			}
			else if (data.status == 200 && data.code == 1) {
				$("#report-campaign-text-<?php echo $wo['user']['id']; ?>").val('');
				//$("#report_campaign").modal('hide');
				//$("#show-alert").html('<div class="alert alert-success"><?=$wo['lang']['campaign_reported'] ?></div>');
				$(".show-message").html('<div class="alert alert-success"><?= $wo['lang']['campaign_reported'] ?></div>');
				setTimeout(function () {
					$(".show-message").html('');
					$("#report_campaign").modal('hide');
				},10000)

			}
			$('#pull-right').find('.disable_btn').removeAttr("disabled");
		})
		.fail(function() {
			console.log("error");
		})
	}

	function setDonationValue(value){
		var oldValue = 0;
		if(parseInt($('#fund_donate_amount').val())){
			var oldValue = parseInt($('#fund_donate_amount').val());
		}
		var value = parseInt(value);
		var newValue = oldValue+value;
		$('#fund_donate_amount').val(newValue);
		$('#bank_donate_price').val(newValue);

		$('#fund_donate_amount').focus();

	}

        function clearDonationValue(){
            $('#fund_donate_amount').val("");
            $('#bank_donate_price').val("");
        }

	function withdrawFunds(){
            <?php if($wo['fund']['raised'] > 0){ ?>
		if (confirm("<?=$wo['lang']['withdraw_funds_confirmation']?>")) {   
			$(function(){
				$('#withdrawForm').ajaxSubmit({
					url: Wo_Ajax_Requests_File() + '?f=funding&s=funding_withdraw_request',
					beforeSend: function() {
						$('#Withdraw_Funds').attr('disabled','disabled');
					},
					success: function(data) {
						if (data['status'] == 200) {
						$("#show-alert").html('<div class="alert alert-success">'+ data['message'] +'</div>');
							setTimeout(function () {
					// window.location = "<?php echo $wo['config']['site_url'];?>";
							$("#show-alert").html('');
						},10000)
						} else if (data['message']) {
							$("#blog-alert").html('<div class="alert alert-danger">' + data['message'] + '</div>');
						} 
						$('#donate').attr('disabled','disabled');
					},
					error:function(data)
					{
						console.log(data.responseText); 
					}
				});
			});
		}
            <?php }else{ ?>
                alert("<?=$wo['lang']['no_funds_to_withdraw']?>");
            <?php } ?>
	}

</script>