<?php 		
	$post = $db->where('fund_draft_id',$wo['fund']['id'])->getOne(T_POSTS);
	// $wo['fund']['all_endorsed'] = sizeof($db->where('funding_id',$wo['fund']['id'])->get(T_FUNDING_ENDORSE));
	// print("<pre>".print_r($post,true)."</pre>");
	$postMusic = $db->where('is_music',1)->where('fund_draft_id',$wo['fund']['id'])->getOne(T_POSTS);

	$post = json_decode(json_encode($post), true);
	$postMusic = json_decode(json_encode($postMusic), true);

	$story = $post;
	$story['photo_multi'] = array();
	if ($story['multi_image'] == 1) {
		$parent_id            = ($story['parent_id'] > 0) ? $story['parent_id'] : $story['id'];
		$story['photo_multi'] = Wo_GetAlbumPhotos($parent_id);
	}
	$wo['story'] = $story;
	// print("<pre>".print_r($wo['story'],true)."</pre>");
	// die();
?>
<?php if ($wo['config']['credit_card'] == 'yes') { ?>
<script src="https://checkout.stripe.com/checkout.js"></script>
<?php } ?>

<style>.tag_create_dropup {bottom: 90px;}

.fund_raise_bar .progress {
    min-width: 100%;
}
.fund_raise_btns .dropdown > .btn{
	width: 100% !important;
	min-width: 150px !important;
}
.fund_raise_btns .btn{
	min-width:100px;
}
.col-md-button{
		width:20%;
	}
@media (max-width: 768px)
{
	.fund_raise_btns .dropdown{
		overflow: visible !important;	
	}
	.fund_raise_btns{
		display:block;
	}
	.fund_raise_btns .btn{
		min-width: 100%;
		margin: 2px 3px;
	}
	.col-md-button{
		width:100%;
	}

}
</style>
<?php $beneficiary = Wo_Markup($wo['fund']['beneficiary'],false,false,true,0);
 
?>

<div class="page-margin">
	<div class="container">
		<h2 class="tag_page_title m5 tag_show_fnd_title"><?php echo stripslashes($wo['fund']['title']); ?></h2>
		<!-- organizer -->
		<div class="wow_content"> 
			<div id="show-alert"></div>
			<div class="pull-right">
				<?php if ($wo['user']['id'] != $wo['fund']['user_id'] && $wo['fund']['amount'] > $wo['fund']['raised']) { ?>
					<div class="row">
						<button disabled="true" type="button" id="#endorseBtn" class="btn btn-main btn-mat disable_btn" onclick="endorseRequest();"><?php echo $wo['lang']['endorse']; ?></button>
					</div>
					<br>
					<div class="row">
						<?php if(!Wo_IsReportExists($wo['fund']['id'],'fund')){ ?>
						<button disabled="true" type="button" id="#reportBtn" class="btn btn-main btn-mat disable_btn" onclick="reportRequest();"><?php echo $wo['lang']['report_campaign']; ?></button>
						<?php }else{  ?>
						<button disabled="true" type="button" id="#reportCancelBtn" class="btn btn-main btn-mat disable_btn" onclick="Wo_ReportCampaign(<?=$wo['fund']['id']?>,false)"><?php echo $wo['lang']['report_campaign_cancel']; ?></button>
						<?php } ?>
					</div>
				<?php } ?>
			</div>
			<div class="show-fund-info-user">

				<div class="postMeta--author-text">
					<a>Organizer</a>
					<span class="middot">:</span>
				</div>
				<div class="postMeta--author-avatar">
					<a href="<?php echo $wo['fund']['user_data']['url']?>">
						<img src="<?php echo $wo['fund']['user_data']['avatar']?>" alt="User Image">
					</a>
				</div>
				<div class="postMeta--author-text">
					<span class="user-popover" data-id="<?=$wo['fund']['user_data']['id']?>" data-type="user">
						<a href="<?php echo $wo['fund']['user_data']['url']; ?>" data-ajax="?link1=timeline&u=<?php echo $wo['fund']['user_data']['username']; ?>"><?php echo $wo['fund']['user_data']['name']; ?></a>
					</span>
				</div>

			</div>
			<!-- // beneficiary -->
			<div class="show-fund-info-user">
				<div class="postMeta--author-text">
						<a><?=$wo['lang']['beneficiary']?></a>
						<span class="middot">:</span>

				</div>
				<div class="postMeta--author-avatar">
					<a href="">
						<img src="<?php echo $wo['fund']['beneficiary_data']['avatar']?>" alt="User Image">
					</a>
				</div>
				<!-- <div class="postMeta--author-text"> -->
				<?=Wo_Markup($wo['fund']['beneficiary'],false,false,true,0) ?>
				<!-- </div> -->
			</div>
			<!-- // administrators -->
			<?php if(!empty($wo['fund']['funding_admins'])):?>
				<div class="show-fund-info-user">
					 <div class="postMeta--author-text">
							<a><?=$wo['lang']['administrator']?></a>
							<span class="middot">:</span>
					</div>
					<div class="postMeta--author-text">
					<?=Wo_Markup($wo['fund']['funding_admins'],false,false,true,0,0,0,true) ?>
					</div>
				</div>
			<?php endif;?>
			<!-- <time><?php echo date("d M Y",$wo['fund']['time']); ?></time> -->
			<time>
			<?php
			if(!empty($wo['fund']['due_date'])){
				echo Wo_Time_Elapsed_String(strtotime($wo['fund']['due_date']),"due_date");
			}
			?>
			</time>
			
			
			<div class="tag_sF_bar_mobi">
				<div class="fund_raise_bar">
					<p class="show_fnd_stats"><?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].$wo['fund']['raised']; ?> <?php echo $wo['lang']['raised_of']; ?> <?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].$wo['fund']['amount']; ?></p>
					<div class="progress">
						<div class="progress-bar" role="progressbar" style="width: <?php echo $wo['fund']['bar']; ?>%" aria-valuenow="<?php echo $wo['fund']['bar']; ?>" aria-valuemin="0" aria-valuemax="<?php echo($wo['fund']['amount']) ?>"></div>
					</div>
				</div>
			</div>
		</div> 
		<!-- // wow_content -->

		<div class="page-margin pb-15">
			<div class="row">
				<div class="col-lg-8">
					<div class="wow_content margin-b30">
						<!-- // sameer -->
						<?php $imageView = 
						"
						<div class='fund_main_img'>
						 <img src='".$wo['fund']['image']."' alt='".stripslashes($wo['fund']['title'])."'>
						</div>
						";
						?>
						<?= empty($wo['fund']['image']) != 1 ? $imageView : ""  ?>
						<?php if(!empty($wo['fund']['video'])): ?>
						<div class="post-file wo_shared_doc_file mg-10" id="fullsizeimg" style="padding:20px;" >
							<?php
							$media = array(
								'type' => 'post',
								'storyId' => $wo['fund']['fund_id'],
								'filename' => $wo['fund']['video'],
								'name' => $wo['fund']['video'],
								'postFileThumb' => $wo['fund']['video'],
							);
							echo Wo_DisplaySharedFile($media, '', $wo['fund']['cache']);
							?>
		
						</div>
						<?php endif;?>
						<br>
						<?php if(!empty($post['postFile'])) { ?>
							<div class="post-file wo_shared_doc_file mg-10" id="fullsizeimg" style="padding:20px;">
								<?php
								$media = array(
									'type' => 'post',
									'storyId' => $post['id'],
									'filename' => $post['postFile'],
									'name' => $post['postFileName'],
									'postFileThumb' => $post['postFileThumb'],
								);
								echo Wo_DisplaySharedFile($media, '', $post['cache']);
								?>
							</div>
						<?php } ?>
						<?php if(isset($postMusic) && !empty($postMusic['postFile'])) { ?>
							<div class="post-file wo_shared_doc_file mg-10" id="fullsizeimg" style="padding:20px;">
								<?php
								$media = array(
									'type' => 'post',
									'storyId' => $postMusic['id'],
									'filename' => $postMusic['postFile'],
									'name' => $postMusic['postFileName'],
									'postFileThumb' => $postMusic['postFileThumb'],
								);
								echo Wo_DisplaySharedFile($media, '', $post['cache']);
								?>
							</div>
						<?php } ?>
						<?php if (Wo_IsUrl($post['postPhoto'])): ?>
							<div class="post-file wo_shared_doc_file mg-10" id="fullsizeimg" style="padding:20px;">
								<img src="<?php echo $post['postPhoto']; ?>" alt="Picture">
							</div>
						<?php endif; ?>

						<?php if(!empty($post['postRecord'])) { ?>
							<div class="post-file wo_shared_doc_file mg-10" id="fullsizeimg" style="padding:20px;">
								<?php  
									$media = array(
										'type' => 'post',
										'storyId' => $post['id'],
										'filename' => $post['postRecord'],
										'name' => ''
									);
									echo  Wo_DisplaySharedFile($media,'record');
								?>
							</div>
						<?php } ?>
						<div class="valign tag_post_full_albm"><?php include 'photo_album.phtml'; ?><?php include 'photo_multi.phtml';  	?></div>

						<p><?php echo stripslashes($wo['fund']['description']); ?></p>
					</div>
				</div>
				<div class="col-lg-4 pl-lg-0">
					<div class="wow_content wow_sett_content">
						<?php $wo['recent'] = GetRecentRaise($wo['fund']['id'],20); ?>
						<div class="valign wo_page_hdng mb-0">
							<span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M9.33 11.5h2.17A4.5 4.5 0 0 1 16 16H8.999L9 17h8v-1a5.578 5.578 0 0 0-.886-3H19a5 5 0 0 1 4.516 2.851C21.151 18.972 17.322 21 13 21c-2.761 0-5.1-.59-7-1.625L6 10.071A6.967 6.967 0 0 1 9.33 11.5zM4 9a1 1 0 0 1 .993.883L5 10V19a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-9a1 1 0 0 1 1-1h2zm9.646-5.425L14 3.93l.354-.354a2.5 2.5 0 1 1 3.535 3.536L14 11l-3.89-3.89a2.5 2.5 0 1 1 3.536-3.535z"></path></svg></span> <?php echo $wo['fund']['all_donation']; ?> <?php echo $wo['lang']['total_donations'];?>
						</div>
						<?php if (!empty($wo['recent'])) { ?>
							<div class="fund">
								<div class="fluid list">
									<?php if ($wo['recent']) { foreach ($wo['recent'] as $key => $user) { ?>
										<div class="item fund_item" data-recent="<?php echo($user['id']) ?>">
											<div class="wrapper">
												<img class="rounded-circle" src="<?php echo($user['user_data']['avatar']) ?>" alt="Picture" />
											</div>
											<div class="caption">
												<a class="truncate bold" href="<?php echo($user['user_data']['url']) ?>" data-ajax="?link1=timeline&u=<?php echo($user['user_data']['username']) ?>"><?php echo $user['user_data']['name']; ?></a>
												<p class="truncate">
													<?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].$user['amount']; ?>
													<span class="middot">·</span>
													<time class="time-ago"><?php echo(Wo_Time_Elapsed_String($user['time'])); ?></time>
												</p>
											</div>
										</div>
									<?php } } ?>
								</div>
							</div>
						<?php } else { ?>
							<div class="empty_state">
								<svg height="512" viewBox="0 0 32 32" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m26 32h-20c-3.314 0-6-2.686-6-6v-20c0-3.314 2.686-6 6-6h20c3.314 0 6 2.686 6 6v20c0 3.314-2.686 6-6 6z" fill="#f5e6fe"/><path d="m8.328 16.001c-.182.004-.328.152-.328.334v5.999c0 .184.149.333.333.333h1.415c.149 0 .28-.099.321-.242l1.475-5.199c.095-.336-.085-.689-.413-.808-.604-.221-1.531-.438-2.803-.417z" fill="#be63f9"/><path d="m22.667 19.667c-1.333 0-4 1.688-5.333 1.688s-2.834-1.022-2.834-1.022 1.796.333 2.833.333 1.333-.354 1.333-.833c0-1.167-1.982-1.348-2.984-1.5-.984-.548-1.495-.981-3.125-1.119-.01.095-.025.189-.051.284l-1.339 4.72c1.517.689 4.129 1.782 5.5 1.782 2 0 7.333-2.667 7.333-3.333 0-.667-.667-1-1.333-1z" fill="#be63f9"/><path d="m23.205 8.878c-.523-.566-1.221-.878-1.967-.878-.745 0-1.443.312-1.966.878l-.272.294-.272-.295c-.523-.565-1.221-.877-1.966-.877s-1.444.312-1.967.878c-1.054 1.141-1.054 2.999 0 4.141l3.838 4.154c.094.103.228.161.367.161s.273-.058.367-.161l3.838-4.154c1.054-1.142 1.054-3 0-4.141z" fill="#d9a4fc"/></svg> No recent donations found
							</div>
						<?php } ?>
					</div>
					<br>
					<!-- Endorsed Start Sameer -->
					<div class="wow_content wow_sett_content">
						<?php $wo['endorsers'] = GetRecentEndorsed($wo['fund']['id'],20); ?>
						<div class="valign wo_page_hdng mb-0">
							<span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M9.33 11.5h2.17A4.5 4.5 0 0 1 16 16H8.999L9 17h8v-1a5.578 5.578 0 0 0-.886-3H19a5 5 0 0 1 4.516 2.851C21.151 18.972 17.322 21 13 21c-2.761 0-5.1-.59-7-1.625L6 10.071A6.967 6.967 0 0 1 9.33 11.5zM4 9a1 1 0 0 1 .993.883L5 10V19a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-9a1 1 0 0 1 1-1h2zm9.646-5.425L14 3.93l.354-.354a2.5 2.5 0 1 1 3.535 3.536L14 11l-3.89-3.89a2.5 2.5 0 1 1 3.536-3.535z"></path></svg></span> <?php echo $wo['fund']['all_endorsed']; ?> <?php echo $wo['lang']['total_endorsed'];?>
						</div>
						<?php if (!empty($wo['endorsers'])) { ?>
							<div class="fund">
								<div class="fluid list">
									<?php if ($wo['endorsers']) { foreach ($wo['endorsers'] as $key => $user) { ?>
										<div class="item fund_item" data-recent="<?php echo($user['id']) ?>">
											<div class="wrapper">
												<img class="rounded-circle" src="<?php echo($user['user_data']['avatar']) ?>" alt="Picture" />
											</div>
											<div class="caption">
												<a class="truncate bold" href="<?php echo($user['user_data']['url']) ?>" data-ajax="?link1=timeline&u=<?php echo($user['user_data']['username']) ?>"><?php echo $user['user_data']['name']; ?></a>
												<p class="truncate">
													<time class="time-ago"><?php echo(Wo_Time_Elapsed_String($user['time'])); ?></time>
												</p>
											</div>
										</div>
									<?php } } ?>
								</div>
							</div>
						<?php } else { ?>
							<div class="empty_state">
								<svg height="512" viewBox="0 0 32 32" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m26 32h-20c-3.314 0-6-2.686-6-6v-20c0-3.314 2.686-6 6-6h20c3.314 0 6 2.686 6 6v20c0 3.314-2.686 6-6 6z" fill="#f5e6fe"/><path d="m8.328 16.001c-.182.004-.328.152-.328.334v5.999c0 .184.149.333.333.333h1.415c.149 0 .28-.099.321-.242l1.475-5.199c.095-.336-.085-.689-.413-.808-.604-.221-1.531-.438-2.803-.417z" fill="#be63f9"/><path d="m22.667 19.667c-1.333 0-4 1.688-5.333 1.688s-2.834-1.022-2.834-1.022 1.796.333 2.833.333 1.333-.354 1.333-.833c0-1.167-1.982-1.348-2.984-1.5-.984-.548-1.495-.981-3.125-1.119-.01.095-.025.189-.051.284l-1.339 4.72c1.517.689 4.129 1.782 5.5 1.782 2 0 7.333-2.667 7.333-3.333 0-.667-.667-1-1.333-1z" fill="#be63f9"/><path d="m23.205 8.878c-.523-.566-1.221-.878-1.967-.878-.745 0-1.443.312-1.966.878l-.272.294-.272-.295c-.523-.565-1.221-.877-1.966-.877s-1.444.312-1.967.878c-1.054 1.141-1.054 2.999 0 4.141l3.838 4.154c.094.103.228.161.367.161s.273-.058.367-.161l3.838-4.154c1.054-1.142 1.054-3 0-4.141z" fill="#d9a4fc"/></svg> No endorsers found
							</div>
						<?php } ?>
					</div>
					<!-- Endorsed End Sameer -->
							<br>
					<!-- Top Donars Sameer -->
					<div class="wow_content wow_sett_content">
						<?php $wo['donors'] = GetTopDonors($wo['fund']['id'],20); ?>
						<div class="valign wo_page_hdng mb-0">
							<span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M9.33 11.5h2.17A4.5 4.5 0 0 1 16 16H8.999L9 17h8v-1a5.578 5.578 0 0 0-.886-3H19a5 5 0 0 1 4.516 2.851C21.151 18.972 17.322 21 13 21c-2.761 0-5.1-.59-7-1.625L6 10.071A6.967 6.967 0 0 1 9.33 11.5zM4 9a1 1 0 0 1 .993.883L5 10V19a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-9a1 1 0 0 1 1-1h2zm9.646-5.425L14 3.93l.354-.354a2.5 2.5 0 1 1 3.535 3.536L14 11l-3.89-3.89a2.5 2.5 0 1 1 3.536-3.535z"></path></svg></span> <?php echo $wo['lang']['top_donors'];?>
						</div>
						<?php if (!empty($wo['donors'])) { ?>
							<div class="fund">
								<div class="fluid list">
									<?php if ($wo['donors']) { foreach ($wo['donors'] as $key => $user) { ?>
										<div class="item fund_item" data-recent="<?php echo($user['id']) ?>">
											<div class="wrapper">
												<img class="rounded-circle" src="<?php echo($user['user_data']['avatar']) ?>" alt="Picture" />
											</div>
											<div class="caption">
												<a class="truncate bold" href="<?php echo($user['user_data']['url']) ?>" data-ajax="?link1=timeline&u=<?php echo($user['user_data']['username']) ?>"><?php echo $user['user_data']['name']; ?></a>
												<p class="truncate">
													<?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].$user['amount']; ?>
													<span class="middot">·</span>
													<time class="time-ago"><?php echo(Wo_Time_Elapsed_String($user['time'])); ?></time>
												</p>
											</div>
										</div>
									<?php } } ?>
								</div>
							</div>
						<?php } else { ?>
							<div class="empty_state">
								<svg height="512" viewBox="0 0 32 32" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m26 32h-20c-3.314 0-6-2.686-6-6v-20c0-3.314 2.686-6 6-6h20c3.314 0 6 2.686 6 6v20c0 3.314-2.686 6-6 6z" fill="#f5e6fe"/><path d="m8.328 16.001c-.182.004-.328.152-.328.334v5.999c0 .184.149.333.333.333h1.415c.149 0 .28-.099.321-.242l1.475-5.199c.095-.336-.085-.689-.413-.808-.604-.221-1.531-.438-2.803-.417z" fill="#be63f9"/><path d="m22.667 19.667c-1.333 0-4 1.688-5.333 1.688s-2.834-1.022-2.834-1.022 1.796.333 2.833.333 1.333-.354 1.333-.833c0-1.167-1.982-1.348-2.984-1.5-.984-.548-1.495-.981-3.125-1.119-.01.095-.025.189-.051.284l-1.339 4.72c1.517.689 4.129 1.782 5.5 1.782 2 0 7.333-2.667 7.333-3.333 0-.667-.667-1-1.333-1z" fill="#be63f9"/><path d="m23.205 8.878c-.523-.566-1.221-.878-1.967-.878-.745 0-1.443.312-1.966.878l-.272.294-.272-.295c-.523-.565-1.221-.877-1.966-.877s-1.444.312-1.967.878c-1.054 1.141-1.054 2.999 0 4.141l3.838 4.154c.094.103.228.161.367.161s.273-.058.367-.161l3.838-4.154c1.054-1.142 1.054-3 0-4.141z" fill="#d9a4fc"/></svg> No top donars found
							</div>
						<?php } ?>
					</div>
					<!-- Top Donars End Sameer -->

				</div>
			</div>
		</div>
	</div>
</div>

<div class="tag_show_fnd_bottom">
	<div class="container">
		<div class="valign">
			<?php if (Wo_IsMobile() == false) { ?>
			<div class="tag_sF_bar_pc">
				<div class="fund_raise_bar">
					<p class="show_fnd_stats"><?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].$wo['fund']['raised']; ?> <?php echo $wo['lang']['raised_of']; ?> <?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].$wo['fund']['amount']; ?></p>
					<div class="progress">
						<div class="progress-bar" role="progressbar" style="width: <?php echo $wo['fund']['bar']; ?>%" aria-valuenow="<?php echo $wo['fund']['bar']; ?>" aria-valuemin="0" aria-valuemax="<?php echo($wo['fund']['amount']) ?>"></div>
					</div>
				</div>
			</div>
			<?php } ?>
			<div class="fund_raise_btns" >
				<!-- edit fund button -->
				<?Php
				if(!empty($wo['fund']['funding_admins'])){
					$administrators = Wo_GetTaggedUsers($wo['fund']['funding_admins']);
					$isAdministrator = false;
					if(!empty($administrators)){
						foreach($administrators as $admin){
							if($wo['user']['id']  == $admin['id']){
								$isAdministrator = true;
							}
						}
					}
				}?>

				<?php if($isAdministrator || $wo['user']['id'] == $wo['fund']['user_id'] ){?>
					<a class="btn btn-mat btn-success" href="<?php echo $wo['site_url'].'/edit_fund/'.$wo['fund']['hashed_id']; ?>" data-ajax="?link1=edit_fund&id=<?php echo($wo['fund']['hashed_id']) ?>&type=draft"  id="<?php echo $wo['fund']['id'];?>"><?php echo $wo['lang']['edit']; ?></a>
					<!-- <a href="<?=$wo['config']['site_url'].'/edit_fund/'.$wo['fund']['hashed_id']?>"><button type="button" class="btn btn-main btn-mat" >Edit</button></a> -->
					<!-- <a href="<?=$wo['config']['site_url']."/?link1=create_challenge&fund_id=".$wo['fund']['id']?>"><button type="button" class="btn btn-main btn-mat" >Become a Fundraiser </button></a> -->
				<?php } ?>
				
			</div>
		</div>
	</div>
</div>
<form method="POST" id="endorseForm" action="#"> 
	<input type= "hidden" name="fund_id" value="<?=$wo['fund']['id'];?>">
</form>
<!-- // report campaign modal -->
<div class="modal fade" id="report_campaign" role="dialog">
	<div class="modal-dialog wow_mat_mdl modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><?php echo $wo['lang']['report_campaign']; ?></h4>
			</div>
			<div class="modal-body">
				<label class="tag_field">
					<textarea rows="4" id="report-campaign-text-<?php echo $wo['user']['id']; ?>" placeholder=" "></textarea>
					<span><?php echo $wo['lang']['write_something_here'] ?></span>
				</label>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-mat disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel'] ?></button>
				<button type="button" class="btn btn-main btn-mat disable_btn" id="report-campaign-button" onclick="Wo_ReportCampaign(<?php echo $wo['fund']['id']; ?>,true)"><?php echo $wo['lang']['send']; ?></button>
			</div>
		</div>
	</div>
</div>
<!-- // report campaign end -->
<div class="modal fade" id="dont_modal" tabindex="-1" role="dialog">
	<div class="modal-dialog wow_mat_mdl modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><?php echo $wo['lang']['donate']; ?> <?php echo $wo['lang']['amount']; ?></h4>
			</div>
			<div class="modal-body">
				<div id="amount_fund_alert"></div>
				<div class="row">
					<button class="btn btn-success fa-lg m-2" onclick="setDonationValue(100)" >100$</button>
					<button class="btn btn-success fa-lg m-2" onclick="setDonationValue(200)">200$</button>
					<button class="btn btn-success fa-lg m-2" onclick="setDonationValue(500)">500$</button>
					<button class="btn btn-success fa-lg m-2" onclick="setDonationValue(1000)">1000$</button>
					<button class="btn btn-success fa-lg m-2" onclick="setDonationValue(5000)">5000$</button>
					<button class="btn btn-success fa-lg m-2" onclick="setDonationValue(10000)">10000$</button>
					
				</div>
				<div class="fund_input text-center">
					<input type="text" name="amount" placeholder="0.00" id="fund_donate_amount" onkeyup="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
					<div id="place"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-mat disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel'] ?></button>
				<button class="bank_payment btn btn-main btn-mat" onclick="Wo_GetPaymentMethods(this);"><?php echo $wo['lang']['donate']; ?></button>
				<input type="hidden" class="form-control" id="fund_donate_id" value="<?php echo $wo['fund']['id']; ?>">
			</div>
		</div>
	</div>
</div>

<div id="donate_for_fund_modal"></div>

<div class="modal fade" id="bank_transfer_donate_modal" role="dialog" data-keyboard="false">
	<div class="modal-dialog wow_mat_mdl">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><?php echo $wo['lang']['bank_transfer'] ?></h4>
			</div>
			<form class="form form-horizontal" method="post" id="bank_transfer_form_donate" action="#">
				<div class="modal-body dt_bank_trans_modal">
					<div id="blog-alert"></div>
					
					<?php echo $wo['config']['bank_description'];?>
					
					<?php if (!empty($wo['config']['bank_transfer_note'])) { ?>
						<div class="dt_user_profile hide_alert_info_bank_trans">
							<ul class="dt_prof_vrfy">
								<li><?php echo $wo['config']['bank_transfer_note'];?></li>
							</ul>
						</div>
					<?php } ?>
					<div class="upload_bank_receipts">
						<div onclick="document.getElementById('upload').click(); return false">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2M13.5,16V19H10.5V16H8L12,12L16,16H13.5M13,9V3.5L18.5,9H13Z"></path></svg>
							<p><?php echo $wo['lang']['browse_to_upload']; ?></p>
							<img id="receipt_img_preview" src="">
						</div>
					</div>
					<?php if(isset($_GET['challenge_id'])){?>
						<input value="<?=$_GET['challenge_id'];?>" name="challenge_id" type="hidden" id="challenge_id" class="hidden">
					<?php }?>
					<input name="price" type="hidden" id="bank_donate_price" class="hidden">
					<input name="fund_id" type="hidden" id="bank_donate_fund_id" class="hidden">
					<input type="hidden" name="hash_id" value="<?php echo Wo_CreateSession();?>">
					<input name="thumbnail" type="file" id="upload" class="hidden" accept="image/*">
					<input type="reset" id="configreset" value="Reset" class="hidden">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-mat btn-default disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel']; ?></button>
					<button type="submit" class="btn btn-main btn-mat disable_btn"><?php echo $wo['lang']['send']; ?></button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="2checkout_wallet_donate_modal" role="dialog" data-keyboard="false">
	<div class="modal-dialog wow_mat_mdl modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><?php echo $wo['lang']['2checkout'] ?></h4>
			</div>
			<form class="form form-horizontal" method="post" id="2checkout_form_donate_wallet" action="#">
				<div class="modal-body twocheckout_modal">
					<div id="2checkout_alert_donate_wallet"></div>
					<div class="clear"></div>
					<div class="row">
						<div class="col-lg-6">
							<label class="tag_field">
								<input id="card_name" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['name']) ?>">
								<span><?php echo $wo['lang']['name']; ?></span>
							</label>
							<label class="tag_field">
								<input id="card_email" type="email" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['email']) ?>">
								<span><?php echo $wo['lang']['email']; ?></span>
							</label>
							<label class="tag_field">
								<input id="card_phone" type="tel" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['phone_number']) ?>">
								<span><?php echo $wo['lang']['phone_number']; ?></span>
							</label>
							<label class="tag_field">
								<input id="card_address" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['address']) ?>">
								<span><?php echo $wo['lang']['address']; ?></span>
							</label>
							<div class="row">
								<div class="col-md-6">
									<label class="tag_field">
										<input id="card_city" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['city']) ?>">
										<span><?php echo $wo['lang']['city']; ?></span>
									</label>
								</div>
								<div class="col-md-6">
									<label class="tag_field">
										<input id="card_zip" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['zip']) ?>">
										<span><?php echo $wo['lang']['zip']; ?></span>
									</label>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<label class="tag_field">
										<input id="card_state" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['state']) ?>">
										<span><?php echo $wo['lang']['state']; ?></span>
									</label>
								</div>
								<div class="col-md-6">
									<label class="tag_field">
										<select id="card_country" name="card_country">
											<?php 
												foreach ($wo['countries_name'] as $country_ids => $country) { 
													$country_id = $wo['user']['country_id'];
													$selected_contry = ($country_ids == $country_id) ? ' selected' : '' ;
											?>
												<option value="<?php echo $country_ids;?>" <?php echo $selected_contry;?> ><?php echo $country;?></option>
											<?php } ?>
										</select>
										<span><?php echo $wo['lang']['country']; ?></span>
									</label>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="two_check_card">
								<label class="tag_field">
									<input id="_number_" type="text" autocomplete="off" placeholder=" ">
									<span><?php echo $wo['lang']['card_number']; ?></span>
									<input id="card_number" name="card_number" type="hidden" autocomplete="off">
								</label>
								<label class="tag_field">
									<select id="card_month" name="card_month">
										<option value="01">01</option>
										<option value="02">02</option>
										<option value="03">03</option>
										<option value="04">04</option>
										<option value="05">05</option>
										<option value="06">06</option>
										<option value="07">07</option>
										<option value="08">08</option>
										<option value="09">09</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
									</select>
									<span><?php echo $wo['lang']['month']; ?></span>
								</label>
								<label class="tag_field">
									<select id="card_year" name="card_year">
										<?php for ($i=date('Y'); $i <= date('Y')+15; $i++) {  ?>
											<option value="<?php echo($i) ?>"><?php echo($i) ?></option>
										<?php } ?>
									</select>
									<span><?php echo $wo['lang']['year']; ?></span>
								</label>
								<label class="tag_field">
									<input id="card_cvc" name="card_cvc" type="text" autocomplete="off" placeholder=" " maxlength="3" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
									<span>CVC</span>
								</label>
							</div>
						</div>
					</div>
					<div class="clear"></div>
					<input id="card_token" name="token" type="hidden" value="">
					<input id="donate_check_amount" name="amount" type="hidden" value="">
					<input id="donate_check_fund_id" name="fund_id" type="hidden" value="">
				</div>
				<div class="clear"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-mat btn-default disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel']; ?></button>
					<button type="button" class="btn btn-main btn-mat disable_btn" onclick="tokenRequest()" id="2checkout_btn_wallet"><?php echo $wo['lang']['pay']; ?></button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="paystack_fund_modal" role="dialog" data-keyboard="false">
	<div class="modal-dialog wow_mat_mdl modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><?php echo $wo['lang']['paystack'] ?></h4>
			</div>
			<form class="form form-horizontal" method="post" id="paystack_fund_form" action="#">
				<div class="modal-body">
					<div id="paystack_fund_alert"></div>
					<div class="clear"></div>
					<label class="tag_field">
						<input id="paystack_fund_email" type="email" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['email']) ?>">
						<span><?php echo $wo['lang']['email']; ?></span>
					</label>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<input type="hidden" name="paystack_fund_id" id="paystack_fund_id">
				<input type="hidden" name="paystack_fund_amount" id="paystack_fund_amount">
				<div class="modal-footer">
					<button type="button" class="btn btn-mat btn-default disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel']; ?></button>
					<button type="button" class="btn btn-main btn-mat disable_btn" id="paystack_btn" onclick="InitializeFundPaystack()"><?php echo $wo['lang']['pay']; ?></button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="cashfree_wallet_modal" role="dialog" data-keyboard="false">
	<div class="modal-dialog wow_mat_mdl modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><?php echo $wo['lang']['cashfree'] ?></h4>
			</div>
			<form class="form form-horizontal" method="post" id="cashfree_form" action="#">
				<div class="modal-body">
					<div id="cashfree_wallet_alert"></div>
					<div class="clear"></div>
					<label class="tag_field">
						<input id="cashfree_name" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['name']) ?>">
						<span><?php echo $wo['lang']['name']; ?></span>
					</label>
					<label class="tag_field">
						<input id="cashfree_email" type="email" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['email']) ?>">
						<span><?php echo $wo['lang']['email']; ?></span>
					</label>
					<label class="tag_field">
						<input id="cashfree_phone" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['phone_number']) ?>">
						<span><?php echo $wo['lang']['phone_number']; ?></span>
					</label>
					<input type="hidden" name="cashfree_type" id="cashfree_type">
					<input type="hidden" name="cashfree_fund_id" id="cashfree_fund_id">
				    <input type="hidden" name="cashfree_fund_amount" id="cashfree_fund_amount">
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-mat btn-default disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel']; ?></button>
					<button type="button" class="btn btn-main btn-mat disable_btn" id="cashfree_btn" onclick="SignatureWalletCashfree()"><?php echo $wo['lang']['pay']; ?></button>
				</div>
			</form>
		</div>
	</div>
</div>

<?php if ($wo['config']['razorpay_payment'] == 'yes' && !empty($wo['config']['razorpay_key_id']) && !empty($wo['config']['razorpay_key_secret'])) { ?>
<div class="modal fade" id="razorpay_modal" role="dialog" data-keyboard="false">
	<div class="modal-dialog wow_mat_mdl modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><?php echo $wo['lang']['razorpay'] ?></h4>
			</div>
			<form class="form form-horizontal" method="post" id="razorpay_form" action="#">
				<div class="modal-body">
					<div id="razorpay_alert"></div>
					<div class="clear"></div>
					<label class="tag_field">
						<input id="razorpay_name" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['name']) ?>">
						<span><?php echo $wo['lang']['name']; ?></span>
					</label>
					<label class="tag_field">
						<input id="razorpay_email" type="email" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['email']) ?>">
						<span><?php echo $wo['lang']['email']; ?></span>
					</label>
					<label class="tag_field">
						<input id="razorpay_phone" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['phone_number']) ?>">
						<span><?php echo $wo['lang']['phone_number']; ?></span>
					</label>
					<input type="hidden" name="razorpay_fund_id" id="razorpay_fund_id">
					<input type="hidden" name="razorpay_fund_amount" id="razorpay_fund_amount">
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-mat btn-default disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel']; ?></button>
					<button type="button" class="btn btn-main btn-mat disable_btn" id="razorpay_btn" onclick="SignatureRazorpay()"><?php echo $wo['lang']['pay']; ?></button>
				</div>
			</form>
		</div>
	</div>
</div>



<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<?php } ?>
<script type="text/javascript">
<?php if ($wo['config']['razorpay_payment'] == 'yes' && !empty($wo['config']['razorpay_key_id']) && !empty($wo['config']['razorpay_key_secret'])) { ?>
function pay_using_razorpay_fund(fund_id,amount) {
	$("#razorpay_fund_id").val(fund_id);
	$("#razorpay_fund_amount").val(amount);
	$("#razorpay_alert").html('');
	$('#fund_payment_donate_modal').modal('hide');
	$('#razorpay_modal').modal({
        show: true
    });
}

function SignatureRazorpay() {
	$('#razorpay_btn').html("<?php echo($wo['lang']['please_wait']) ?>");
	$('#razorpay_btn').attr('disabled','true');
    var merchant_order_id = "<?php echo(round(111111,9999999)) ?>";
    var card_holder_name_id = $('#razorpay_name').val();
    var type = $('#razorpay_type').val();
    var email = $('#razorpay_email').val();
    var phone = $('#razorpay_phone').val();
    //var currency_code_id = "<?php echo($wo['config']['currency']) ?>";
    var currency_code_id = "INR";

    if (!email || !phone || !card_holder_name_id) {
    	$('#razorpay_alert').html("<div class='alert alert-danger'><?php echo($wo['lang']['please_check_details']) ?></div>");
		setTimeout(function () {
			$('#razorpay_alert').html("");
		},3000);
		$('#razorpay_btn').html("<?php echo($wo['lang']['pay']) ?>");
		$('#razorpay_btn').removeAttr('disabled');
		return false;
    }


    var merchant_total = Number($('#razorpay_fund_amount').val()) * 100;
    var fund_id = $('#razorpay_fund_id').val();
    
    var razorpay_options = {
        key: "<?php echo $wo['config']['razorpay_key_id']; ?>",
        amount: merchant_total,
        name: "<?php echo $wo['config']['siteName']; ?>",
        description: "Donate",
        image: '<?php echo $wo['config']['theme_url'];?>/img/logo.<?php echo $wo['config']['logo_extension'];?>',
        netbanking: true,
        currency: currency_code_id,
        prefill: {
            name: card_holder_name_id,
            email: email,
            contact: phone
        },
        notes: {
            soolegal_order_id: merchant_order_id,
        },
        handler: function (transaction) {
            jQuery.ajax({
                url:Wo_Ajax_Requests_File() + '?f=razorpay&s=fund',
                type: 'post',
                data: {payment_id: transaction.razorpay_payment_id, order_id: merchant_order_id, card_holder_name_id: card_holder_name_id,  merchant_amount: merchant_total, currency: currency_code_id, type: 'fund', fund_id: fund_id}, 
                dataType: 'json',
                success: function (data) {
                	if (data.status == 200) {
                		window.location = data.url;
                	}
                	else{
                		if (data.url != '') {
                			window.location = data.url;
                		}
                		else{
                			$('#razorpay_alert').html("<div class='alert alert-danger'>"+data.message+"</div>");
							setTimeout(function () {
								$('#razorpay_alert').html("");
							},3000);
							$('#razorpay_btn').html("<?php echo($wo['lang']['pay']) ?>");
							$('#razorpay_btn').removeAttr('disabled');

                		}
                	}
                }
            });
        },
        "modal": {
            "ondismiss": function () {
                // code here
            }
        }
    };
    // obj        
    var objrzpv1 = new Razorpay(razorpay_options);
    objrzpv1.open();
    e.preventDefault();
}
<?php } ?>
<?php if ($wo['config']['paysera_payment'] == 'yes' && !empty($wo['config']['paysera_project_id']) && !empty($wo['config']['paysera_sign_password'])) { ?>
	function pay_using_paysera_funding(fund_id,amount) {
		$('.btn-paysera').attr('disabled', true).text("<?php echo $wo["lang"]["please_wait"]?>");
	    $.post(Wo_Ajax_Requests_File() + '?f=paysera&s=get_url', {type:'fund',amount:amount,fund_id:fund_id}, function(data) {
	        if (data.status == 200) {
	            window.location.href = data.url;
	        } else {
	         	$('.btn-paysera').attr('disabled', false).html("Paysera App not set yet.");
	        }
	    });
	}
<?php } ?>


	function pay_using_cashfree_funding(fund_id,amount) {
		$("#cashfree_fund_id").val(fund_id);
		$("#cashfree_fund_amount").val(amount);
		$("#cashfree_wallet_alert").html('');
		$('#fund_payment_donate_modal').modal('hide');
		$('#cashfree_wallet_modal').modal({
	        show: true
	    });
	}

	function SignatureWalletCashfree() {
		$('#cashfree_btn').html("<?php echo($wo['lang']['please_wait']) ?>");
		$('#cashfree_btn').attr('disabled','true');
		type = $('#cashfree_type').val();
		email = $('#cashfree_email').val();
		name = $('#cashfree_name').val();
		phone = $('#cashfree_phone').val();
		amount = $('#cashfree_fund_amount').val();
		fund_id = $('#cashfree_fund_id').val();
		$.post(Wo_Ajax_Requests_File() + '?f=cashfree&s=initialize', {type:'fund',email:email,name:name,phone:phone,amount:amount,fund_id:fund_id}, function(data) {
			if (data.status == 200) {
				$('body').append(data.html);
				document.getElementById("redirectForm").submit();
			} else {
				$('#cashfree_wallet_alert').html("<div class='alert alert-danger'>"+data.message+"</div>");
				setTimeout(function () {
					$('#cashfree_wallet_alert').html("");
				},3000);
			}
			$('#cashfree_btn').html("<?php echo($wo['lang']['pay']) ?>");
			$('#cashfree_btn').removeAttr('disabled');
		});
	}

	function pay_using_funding_paystack(fund_id,amount) {
		$("#paystack_fund_id").val(fund_id);
		$("#paystack_fund_amount").val(amount);
		$("#paystack_fund_alert").html('');
		$('#fund_payment_donate_modal').modal('hide');
		$('#paystack_fund_modal').modal({
	        show: true
	    });
	}

	function InitializeFundPaystack() {
		$('#paystack_btn').html("<?php echo($wo['lang']['please_wait']) ?>");
	    $('#paystack_btn').attr('disabled','true');
		email = $('#paystack_fund_email').val();
		amount = $('#paystack_fund_amount').val();
		fund_id = $('#paystack_fund_id').val();
		$.post(Wo_Ajax_Requests_File() + '?f=paystack&s=initialize', {type:'fund',email:email,amount:amount,fund_id:fund_id}, function(data) {
			if (data.status == 200) {
				window.location.href = data.url;
			} else {
				$('#paystack_fund_alert').html("<div class='alert alert-danger'>"+data.message+"</div>");
				setTimeout(function () {
					$('#paystack_fund_alert').html("");
				},3000);
			}
			$('#paystack_btn').html("<?php echo($wo['lang']['pay']) ?>");
		    $('#paystack_btn').removeAttr('disabled');
		});
	}

	$(document).on('change', '#upload', function(event) {
		let imgPath = $(this)[0].files[0].name;
	    if (typeof(FileReader) != "undefined") {
	        let reader = new FileReader();
	        reader.onload = function(e) {
				$('#receipt_img_preview').attr('src', e.target.result);
	        }
	        reader.readAsDataURL(this.files[0]);
	    }
		$('#bank_transfer_donate_modal').addClass('up_rec_img_ready');
	});
	jQuery(document).ready(function($) {
	  $('#bank_transfer_donate_modal').ajaxForm({
	    url: Wo_Ajax_Requests_File() + '?f=funding&s=bank',
	    beforeSend: function() {
	    $('#bank_transfer_donate_modal').find('.disable_btn').attr('disabled','disabled');
	  },
	  success: function(data) {
	    if (data['status'] == 200) {
	      $("#blog-alert").html('<div class="alert alert-success">'+ data['message'] +'</div>');
	      setTimeout(function () {
	        // window.location = "<?php echo $wo['config']['site_url'];?>";
	        $(".prv-img").html('<div class="thumbnail-rendderer"><div><h4 class="bold"><?php echo $wo['lang']['drop_img_here']; ?></h4><div class="error-text-renderer"></div><div><span><?php echo $wo['lang']['or']; ?></span><p><?php echo $wo['lang']['browse_to_upload']; ?></p></div></div> </div>');
	        $("#blog-alert").html('');
	        $('#configreset').click();

	      },3000)
	    } else if (data['message']) {
	      $("#blog-alert").html('<div class="alert alert-danger">' + data['message'] + '</div>');
	    } 
	    $('#bank_transfer_donate_modal').find('.disable_btn').removeAttr("disabled");
	  }});
	});

// Called when token created successfully.
var successCallback = function(data) {
	console.log(data);
    var myForm = document.getElementById('2checkout_form_donate_wallet');
    $.post(Wo_Ajax_Requests_File() + '?f=funding&s=2checkout', {card_number: $("#card_number").val(),card_cvc: $("#card_cvc").val(),card_month: $("#card_month").val(),card_year: $("#card_year").val(),card_name: $("#card_name").val(),card_address: $("#card_address").val(),card_city: $("#card_city").val(),card_state: $("#card_state").val(),card_zip: $("#card_zip").val(),card_country: $("#card_country").val(),card_email: $("#card_email").val(),card_phone: $("#card_phone").val(),amount: $('#donate_check_amount').val(),fund_id: $('#donate_check_fund_id').val(),token: data.response.token.token}, function(data, textStatus, xhr) {
    	$('#2checkout_btn_wallet').html("<?php echo($wo['lang']['pay']) ?>");
    	$('#2checkout_btn_wallet').attr('disabled');
    	$('#2checkout_btn_wallet').removeAttr('disabled');
    	$('#2checkout_form_donate_wallet').find('.disable_btn').removeAttr("disabled");
    	if (data.status == 200) {
      	 	window.location.href = data.location;
      	} else {
      	 	$('#2checkout_alert_donate_wallet').html("<div class='alert alert-danger'>"+data.error+"</div>");
			setTimeout(function () {
				$('#2checkout_alert_donate_wallet').html("");
			},3000);
      	}
    	/*optional stuff to do after success */
    });
};

// Called when token creation fails.
var errorCallback = function(data) {
	$('#2checkout_btn_wallet').html("<?php echo($wo['lang']['pay']) ?>");
	$('#2checkout_btn_wallet').removeAttr('disabled');
	$('#2checkout_form_donate_wallet').find('.disable_btn').removeAttr("disabled");
    if (data.errorCode === 200) {
        tokenRequest();
    } else {
    	$('#2checkout_alert_donate_wallet').html("<div class='alert alert-danger'>"+data.errorMsg+"</div>");
		setTimeout(function () {
			$('#2checkout_alert_donate_wallet').html("");
		},3000);
    }
};

var tokenRequest = function() {
	$('#card_number').val($('#_number_').val());
	$('#2checkout_btn_wallet').html("<?php echo($wo['lang']['please_wait']) ?>");
	$('#2checkout_btn_wallet').attr('disabled','true');
	if ($("#card_number").val() != '' && $("#card_cvc").val() != '' && $("#card_month").val() != '' && $("#card_year").val() != '' && $("#card_name").val() != '' && $("#card_address").val() != '' && $("#card_city").val() != '' && $("#card_state").val() != '' && $("#card_zip").val() != '' && $("#card_country").val() != 0 && $("#card_email").val() != '' && $("#card_phone").val() != '') {
		$('#2checkout_form_donate_wallet').find('.disable_btn').attr('disabled','disabled');
		// Setup token request arguments
	    var args = {
	        sellerId: "<?php echo($wo['config']['checkout_seller_id']) ?>",
	        publishableKey: "<?php echo($wo['config']['checkout_publishable_key']) ?>",
	        ccNo: $("#card_number").val(),
	        cvv: $("#card_cvc").val(),
	        expMonth: $("#card_month").val(),
	        expYear: $("#card_year").val()
	    };

	    // Make the token request
	    TCO.requestToken(successCallback, errorCallback, args);
	}
	else{
		$('#2checkout_btn_wallet').html("<?php echo($wo['lang']['pay']) ?>");
		$('#2checkout_btn_wallet').removeAttr('disabled');
		$('#2checkout_alert_donate_wallet').html("<div class='alert alert-danger'><?php echo($wo['lang']['please_check_details']) ?></div>");
		setTimeout(function () {
			$('#2checkout_alert_donate_wallet').html("");
		},3000);
	}
};

$(function() {
    // Pull in the public encryption key for our environment
    TCO.loadPubKey("<?php echo($wo['config']['checkout_mode']) ?>");
});
</script>
<script>
// endorse campaign
	function endorseRequest(){
		$(function(){
			$('#endorseForm').ajaxSubmit({
				url: Wo_Ajax_Requests_File() + '?f=funding&s=funding_endorse',
				beforeSend: function() {
					$('#endorseBtn').attr('disabled','disabled');
				},
				success: function(data) {
					if (data['status'] == 200) {
					$("#show-alert").html('<div class="alert alert-success">'+ data['message'] +'</div>');
						setTimeout(function () {
				// window.location = "<?php echo $wo['config']['site_url'];?>";
						$("#show-alert").html('');
					},10000)
					} else if (data['message']) {
						$("#blog-alert").html('<div class="alert alert-danger">' + data['message'] + '</div>');
					} 
					$('#endorseBtn').removeAttr("disabled");
				}
			});
		});
	}
	//  report campiagn
	function reportRequest(){
		$(function(){
			$('#report_campaign').modal('show');
		});
	}

	function Wo_ReportCampaign(id = false,report = true){
		var report_text = $("#report-campaign-text-<?php echo $wo['user']['id']; ?>").val();
		if (!id) {return false;}
		else if(report == true){
		if (!report_text) {
			return false;}  
		}
		$('#pull-right').find('.disable_btn').attr('disabled','disabled');
		$.ajax({
			url: Wo_Ajax_Requests_File() + '?f=reports&s=report_campaign',
			type: 'POST',
			dataType: 'json',
			data: {text:report_text,fund_id:id},
		})
		.done(function(data) {
			console.log("data",data);
			if(data.status == 200 && data.code == 0){
				// $("#report_campaign").modal('hide');
				alert('report canceled');
				// $('#report_status').replaceWith('\
				// 	<li id="report_status">\
				// 		<a class="pointer" onclick="$(\'#report_profile\').modal(\'show\');"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" class="hover_path" d="M16.218 2.5l5.683 5.682v8.036l-5.683 5.683H8.182l-5.683-5.683V8.182l5.683-5.683h8.036zM11 15v2h2v-2h-2zm0-8v6h2V7h-2z"></path><path fill="currentColor" d="M15.936 2.5L21.5 8.067v7.87L15.936 21.5h-7.87L2.5 15.936v-7.87L8.066 2.5h7.87zm-.829 2H8.894L4.501 8.895v6.213l4.393 4.394h6.213l4.394-4.394V8.894l-4.394-4.393zM11 15h2v2h-2v-2zm0-8h2v6h-2V7z"></path></svg>\
				// 		<?php echo $wo['lang']['report_user']; ?></a>\
				// 	</li>');
				location.reload();

			}
			else if (data.status == 200 && data.code == 1) {
				alert('Campaign is Reported');
				$("#report-campaign-text-<?php echo $wo['user']['id']; ?>").val('');
				$("#report_campaign").modal('hide');
				// $('#report_status').replaceWith('\
				// 	<li id="report_status">\
				// 		<a class="pointer" onclick="Wo_ReportProfile(<?php echo $wo['user_profile']['id']; ?>,false);"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" class="hover_path" d="M16.218 2.5l5.683 5.682v8.036l-5.683 5.683H8.182l-5.683-5.683V8.182l5.683-5.683h8.036zM11 15v2h2v-2h-2zm0-8v6h2V7h-2z"></path><path fill="currentColor" d="M15.936 2.5L21.5 8.067v7.87L15.936 21.5h-7.87L2.5 15.936v-7.87L8.066 2.5h7.87zm-.829 2H8.894L4.501 8.895v6.213l4.393 4.394h6.213l4.394-4.394V8.894l-4.394-4.393zM11 15h2v2h-2v-2zm0-8h2v6h-2V7z"></path></svg>\
				// 		<?php echo $wo['lang']['unreport']; ?></a>\
				// 	</li>');
				location.reload();

			}
			$('#pull-right').find('.disable_btn').removeAttr("disabled");
		})
		.fail(function() {
			console.log("error");
		})
	}

	function setDonationValue(value){
			$('#fund_donate_amount').val(value);
			$('#bank_donate_price').val(value);
	}

</script>