<div class="endorsement">
    <div class="item fund_item donor_user" data-recent="<?php echo($wo['endorse_list']['id']) ?>">
	<div class="wrapper">
		<img class="rounded-circle donors" src="<?php echo($wo['endorse_list']['user_data']['avatar']) ?>" alt="Picture" />
	</div>
	<div class="caption">
		<a class="truncate bold" href="<?php echo($wo['endorse_list']['user_data']['url']) ?>" data-ajax="?link1=timeline&u=<?php echo($wo['endorse_list']['user_data']['username']) ?>"><?php echo $wo['endorse_list']['user_data']['name']; ?></a>
		<p class="truncate">
			<time class="time-ago"><?php echo(Wo_Time_Elapsed_String($wo['endorse_list']['time'])); ?></time>
		</p>
	</div>       
    </div>
    <div class="pl15">
        <p><?php echo($wo['endorse_list']['text'])  ?></p>
    </div>
</div>