<?php 
				if($wo['riasedfund']['type']=='campaign')
				{
					$link=$wo['config']['site_url'].'/show_fund/'. $wo['riasedfund']['hashed_id'];
				}
				else if($wo['riasedfund']['type']=='challenge')
				{
					$link=$wo['config']['site_url'].'/show_challenge/'. $wo['riasedfund']['hashed_id'];
				}

				?>

<div class="author-block tag_boost_page">
	<div class="valign author">
		<div class="img-wrap">
			<a href="<?=$link?>" >
				<img src="<?php echo $wo['riasedfund']['image'];?>" alt="<?php echo $wo['riasedfund']['title'];?>"></a>
		</div>
		<div class="text">
                    <span class="bold"><a href="<?=$link?>"><?php echo  $wo['riasedfund']['title'];?></a></span> <?=strtolower($wo['lang']['raised'])?> <span class="big-text bold"><?=$wo['config']['currency_symbol_array'][$wo['config']['currency']].number_format($wo['riasedfund']['amount'])?></span><br />
                    <div class="show-fund-info-user mt-15">
				<div class="postMeta--author-avatar">
					<a href="<?php echo $wo['riasedfund']['user_data']['url']?>">
						<img src="<?php echo $wo['riasedfund']['user_data']['avatar']?>" alt="Organiser Image">
					</a>
				</div>
				<div class="postMeta--author-text">
					<span class="user-popover" data-id="<?=$wo['riasedfund']['user_data']['id']?>" data-type="user">
                        <a class="bold" href="<?php echo $wo['riasedfund']['user_data']['url']; ?>" data-ajax="?link1=timeline&u=<?php echo $wo['riasedfund']['user_data']['username']; ?>">
                                   <?php echo $wo['riasedfund']['user_data']['name']; ?>
                            </a>
					</span>
                </div>
</div>
		</div>            
	</div>        
</div>