<div class="page-margin" >
   <div class="container">
        <div class="row">            
            <div class="col-lg-1"></div>
            <div class="col-lg-10 tag_sett_page tag_mobi_sett_page">
            
            <h2 class="tag_page_title"><?=ucwords($wo['lang']['campaign_invitation']);?></h2>
   		<div class="page-margin wow_content pb-30">
                        <div class="alert alert-message">
                            <div>
                                <div class="postMeta--author-avatar large">
                                    <img src="<?=$wo['fund']['user_data']['avatar']?>" alt="<?=$wo['fund']['user_data']['name']?>">                                                    
                                </div>
                                <div class="postMeta--author-text">
                                        <span class="user-popover" data-id="<?=$wo['fund']['user_data']['id']?>" data-type="user">
                                            <a class="bold" href="javascript:void(0);"><?=$wo['fund']['user_data']['name']?></a>
                                        </span>
                                        <br>
                                        <span class="time"><?=Wo_Time_Elapsed_String($wo['notify']->time);?></span>
                                </div>
                            </div>
                            <p class="mt-15"><?=$wo['notify']->text?></p>
			</div>
                        <div class="col-md-8 mx-auto">
                            <div class="wow_content fundings">
                                                <div class="avatar">
                                                    <img src="<?=$wo['fund']['image']?>" alt="<?=$wo['fund']['title']?>">                                                    
                                                </div>
                                                <div class="fundings_desc">
                                                    <h3><?=$wo['fund']['title']?></h3>
                                                        
                                                    <div class="campaign_users_container">
                                                        <div class="show-fund-info-user">
                                                                <div class="postMeta--author-avatar large">
                                                                        <img src="<?=$wo['fund']['user_data']['avatar']?>" alt="Organiser Image">
                                                                </div>
                                                                <div class="postMeta--author-text">
                                                                        <span class="user-popover" data-id="<?=$wo['fund']['user_data']['id']?>" data-type="user">
                                                                            <a class="bold" href="javascript:void(0);"><?=$wo['fund']['user_data']['name']?></a>
                                                                        </span>
                                                                        <br>
                                                                        <span class="time"><?=$wo['lang']['organiser']?></span>
                                                                </div>

                                                        </div>
                                                        <!-- // beneficiary -->
                                                        <div class="show-fund-info-user">
                                                                <div class="postMeta--author-avatar large">
                                                                        <img src="<?=$wo['fund']['beneficiary_data']['avatar']?>" alt="Beneficiary Image">
                                                                </div>
                                                                <div class="postMeta--author-text">
                                                                        <span class="user-popover" data-id="<?=$wo['fund']['beneficiary_data']['id']?>" data-type="user">
                                                                                <a class="bold" href="javascript:void(0);"><?=$wo['fund']['beneficiary_data']['name']?></a>
                                                                        </span>
                                                                        <br>
                                                                        <span class="time"><?=$wo['lang']['beneficiary']?></span>
                                                                </div>
                                                        </div>
                                                    </div>
                                                    <div class="campaign_progress">
                                                        <?php
                                                                    //print_r(array_keys($wo['fund']));
                                                        ?>
                                                        <div>
                                                                <span class="pull-right"><?php echo (empty($wo['fund']['due_date']) ? '' : ('<time>' . Wo_Time_Elapsed_String(strtotime($wo['fund']['due_date']),"due_date") . '</time>')); ?></span>
                                                                <p><span class="big-text bold"><?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']]. number_format($wo['fund']['raised']); ?></span> of <?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']] . number_format($wo['fund']['amount']) . ' ' . $wo['lang']['raised_of']; ?></p>
                                                        </div>
                                                        <div class="fund_raise_bar">
                                                            <div class="progress mb-2">
                                                                <div class="progress-bar" role="progressbar" style="width:<?php echo $wo['fund']['bar'];?>%" aria-valuenow="<?php echo $wo['fund']['bar'];?>" aria-valuemin="0" aria-valuemax="<?php echo $wo['fund']['amount'];?>"></div>
                                                            </div>
                                                        </div>     
                                                    </div>
                                                </div>  
                                                <div class="fundings_footer">
                                <?php $post_id = Wo_GetPostIdByFundId($wo['donation']->campaign_data['id']); ?>
						<div class="valign">
                                                     
                                                    
					    <a class="btn btn-main btn-mat btn-width" href="<?=$wo['config']['site_url'].'/show_fund/'.$wo['fund']['hashed_id']; ?>"  title="<?=$wo['lang']['view'] .' '.$wo['lang']['campaign'];?>" >
					          <?php echo $wo['lang']['view'] .' '.$wo['lang']['campaign'];?>
					        </a>
					      
						<a href="<?=$wo['config']['site_url']."/?link1=create_challenge&fund_id=".$wo['fund']['id']?>" class="btn-width"><button type="button" class="btn btn-action btn-mat btn-width" ><?php echo $wo['lang']['become_fundraiser'];?> </button></a>
                                                
                                                </div>
                            </div>

                                
                                                    
                                            </div>
                            </div>
                        
                        
		</div>
        
        
            </div>
            <div class="col-lg-1"></div>
        </div>
        
    </div>
        
	
</div>