<div class="page-margin" >
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 tag_sett_page tag_mobi_sett_page">
                    <h2 class="tag_page_title"><?php echo $wo['lang']['funding'];?></h2>
                    <div class="wow_sett_content wow_content p20 donation_thankyou">
                            <div class="col-md-12 text-center">
                                    <div>
                                            <div>
                                                    <h4><?=$wo['lang']['thank_you_for_donation']?></h4><br/>
                                                    <span><?=$wo['lang']['total']?></span><br/><br/>
                                                    <b class="text-center donation_amount"><?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].number_format($wo['donation']->amount)?></b><hr/><br/>
                                                    <?php if($wo['donation']->status=='0'): ?>

                                                            <div class="alert alert-success"><?= $wo['lang']['bank_transfer_request'] ?></div>

                                                    <?php endif; ?>
                                <p class="bold big-text"><?=$wo['lang']['You_have_collected_the_following_flag']?></p><br/>
                                <p><img src="<?=$wo['donation']->campaign_data['flag']?>" class="flag_image" /></p><br />


                                                            <p><?=$wo['lang']['thank_you_for_donation_message']?></p>
                                <p class="bold big-text"><?=$wo['donation']->campaign_data['title']?></p><br/>
                                <hr class="mb-15">

                                                    <?php $post_id = Wo_GetPostIdByFundId($wo['donation']->campaign_data['id']); ?>

                                                <div class="btn btn-main btn-mat m-2" onclick="Wo_SharePostOn(<?=$post_id?>,<?=$wo['user']['user_id']; ?>,'timeline')" title="<?php echo $wo['lang']['share'];?>" data-toggle="tooltip">
                                                      <span class="icoo">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M3,12c0,1.654,1.346,3,3,3c0.794,0,1.512-0.315,2.049-0.82l5.991,3.424C14.022,17.734,14,17.864,14,18c0,1.654,1.346,3,3,3 s3-1.346,3-3s-1.346-3-3-3c-0.794,0-1.512,0.315-2.049,0.82L8.96,12.397C8.978,12.266,9,12.136,9,12s-0.022-0.266-0.04-0.397 l5.991-3.423C15.488,8.685,16.206,9,17,9c1.654,0,3-1.346,3-3s-1.346-3-3-3s-3,1.346-3,3c0,0.136,0.022,0.266,0.04,0.397 L8.049,9.82C7.512,9.315,6.794,9,6,9C4.346,9,3,10.346,3,12z"/></svg>
                                                      </span><?php echo $wo['lang']['share'];?>
                                                    </div>

                                                    <a href="<?=$wo['config']['site_url']."/?link1=create_challenge&fund_id=".$wo['donation']->campaign_data['id']?>"><button type="button" class="btn btn-main btn-mat m-2" ><?php echo $wo['lang']['become_fundraiser'];?> </button></a>


                                            </div>


                                    </div>
                            </div>
                    </div>
            </div>    
            <div class="col-lg-1"></div>
        </div>
    </div>
</div>