<div class="fund">
	<div class="fluid list tag_scroll" style="height: 340px; overflow: auto;">
		
			<div class="item fund_item donor_user" data-recent="<?php echo $wo['top_user']['user_data']['user_id']?>">
				<div class="wrapper">
					<img class="rounded-circle donors" src="<?php echo($wo['top_user']['user_data']['avatar']) ?>" alt="Picture" />
				</div>
				<div class="caption">
					<a class="truncate bold" href="<?php echo $wo['top_user']['user_data']['url']?>"  data-ajax="?link1=timeline&u=<?php echo $wo['top_user']['user_data']['username']?>"><?php echo $wo['top_user']['user_data']['name']?></a>
					<p class="truncate">
                        <time class="time-ago"><?php echo(Wo_Time_Elapsed_String($wo['top_user']['time'])); ?></time>
                        <span class="donation_amount"><?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].number_format($wo['top_user']['amount']); ?></span>
						
						
					</p>
				</div>
			</div>
		<?php //} } ?>
	</div>
</div>