<div class="page-margin">
	<div class="container">
            <span class="pull-right campaign-cat"><a class="btn-mat" href="<?=Wo_SeoLink('index.php?link1=category'); ?>?query="><?=$wo['lang']['see_all_categories'] ?></a></span>
            <h2 class="tag_page_title m5"><?php $query=$_GET['query']; echo $wo['lang']['funding']; ?></h2>
            <a href="<?php echo Wo_SeoLink('index.php?link1=create_funding');?>"  class="title_create">
                <svg width="24" height="24" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm112 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0"/></svg>
            </a>
            <ul class="list-unstyled tag_page_nav">
            <li class="active"><a class="btn-mat" href="<?= Wo_SeoLink('index.php?link1=funding'); ?>" ><?=$wo['lang']['browse_funding'] ?></a></li>
			<li class="<?= ($query=='published')? 'active':'' ?>"><a class="btn-mat" href="<?=Wo_SeoLink('index.php?link1=my_funding'); ?>?query=published" ><?=$wo['lang']['my_funding'] ?></a></li>
			<li class="<?= ($query=='assigned')? 'active':'' ?>"><a class="btn-mat" href="<?=Wo_SeoLink('index.php?link1=my_funding'); ?>?query=assigned" ><?=$wo['lang']['assigned_campaigns'] ?></a>
			</li>
			<li class="<?= ($query=='drafts')? 'active':'' ?>"><a class="btn-mat" href="<?=Wo_SeoLink('index.php?link1=my_funding'); ?>?query=drafts" ><?=$wo['lang']['draft_campaigns'] ?></a>
			</li>
			<li class="<?= ($query=='past')? 'active':'' ?>"><a class="btn-mat" href="<?=Wo_SeoLink('index.php?link1=my_funding'); ?>?query=past" ><?=$wo['lang']['past_campaigns'] ?></a>
			</li>                        
		</ul>
		<div class="page-margin">
			<div id="recent-funding" class="row fundings_prnt">
				<?php
					$funding = GetFunding(9);
					if (count($funding) > 0) {
						foreach ($funding as $key => $wo['fund']){
							//if($wo['fund']['status'] != '0' && $wo['fund']['status'] != '4'){
								echo Wo_LoadPage('funding/list'); 
							//}	
						}					
					} 
					else {
						echo '<div class="empty_state"><svg xmlns="http://www.w3.org/2000/svg" width="50pt" height="50pt" viewBox="0 0 50 50"><path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:currentColor;stroke-opacity:1;stroke-miterlimit:4" d="M22 12c0 5.524-4.476 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.476 10 10zM12 8v4m0 4h0" transform="scale(2.08333)"/></svg>' . $wo['lang']['no_funding_found'] . '</div>';
					}
				?>
			</div>
			<div class="posts_load">
				<?php if (count($funding) >= 8): ?>
					<div class="load-more">
						<button class="btn btn-default text-center pointer load-more-fund" id="hren"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path></svg></span> <?php echo $wo['lang']['load_more'] ?></button>
					</div>
				<?php endif ?>
			</div>
		</div>
	</div>
</div>

<script>
jQuery(document).ready(function($) {
    $(".load-more-fund").click(function () {
  		var last_id = (($("div[data-fund-id]").length > 0) ? $("div[data-fund-id]:last").attr('data-fund-id') : 0);
		$.ajax({	  
		     url: Wo_Ajax_Requests_File(),
		     type: 'GET',
		     dataType: 'json',
		     data: {f:"funding",s:"load_fund",offset:last_id},
		     success:function(data){
		        if (data['status'] == 200 && data['html'] != '') {
		            $("#recent-funding").append(data['html']);
		        }
		        else{
		           $(".posts_load").remove()
		        }
		     },
		     error:function(data){
		     	console.log(data);
		     }
		});
	});
});
</script>