<div class="col-lg-4 col-md-6" data-fund-id="<?php echo $wo['fund']['id']; ?>">
	<div class="wow_content fundings">
		<div class="avatar">
			<!-- /Sameer -->
			<?php 
				$imageView = 
				"
				<img src='".$wo['fund']['image']."' alt='".$wo['fund']['title']."'>
				";
			?>
			<a href="<?php echo $wo['config']['site_url'].'/show_fund/'. $wo['fund']['hashed_id']; ?>" data-ajax="?link1=show_fund&id=<?php echo $wo['fund']['hashed_id']; ?>">
			
				<?= empty($wo['fund']['image']) != 1 ? $imageView : ""  ?>
				<?php if(!empty($wo['fund']['video'])): ?>
					<div class="post-file wo_shared_doc_file mg-10" id="fullsizeimg" style="padding:20px;" >
						<?php
						$media = array(
							'type' => 'post',
							'storyId' => $wo['fund']['fund_id'],
							'filename' => $wo['fund']['video'],
							'name' => $wo['fund']['video'],
							'postFileThumb' => $wo['fund']['video'],
						);
						echo Wo_DisplaySharedFile($media, '', $wo['fund']['cache']);
						?>
					</div>
				<?php endif;?>		
			</a>
            	</div>
		<div class="fundings_desc">

			<h3><a title="<?php echo $wo['fund']['title']; ?>" href="<?php echo $wo['config']['site_url'].'/show_fund/'. $wo['fund']['hashed_id']; ?>" data-ajax="?link1=show_fund&id=<?php echo($wo['fund']['hashed_id']) ?>"><?php echo $wo['fund']['title']; ?></a></h3>
			<p class="desc">
				<?php 
				$businessDesc = strip_tags(html_entity_decode($wo['fund']['description']));
                                if(strlen($businessDesc) > 78){
                                    echo mb_substr($businessDesc, 0, 75, "UTF-8") . "...";
                                }else{
                                    echo $businessDesc;
                                }
				 ?>
			</p>
			<div class="user_profile_oneline">
                            <div class="user_profile_role"><?php echo $wo['lang']['organiser']; ?>:</div>
                            <div class="user_profile_meta valign">
                                <div class="image">
                                    <div class="postMeta--author-avatar">
                                        <a href="<?php echo $wo['fund']['user_data']['url']?>">
                                            <img src="<?php echo $wo['fund']['user_data']['avatar']?>" alt="User Image">
                                        </a>
                                    </div>
                                </div>
                                <div class="meta">
                                    <span class="user-popover" data-id="<?=$wo['fund']['user_data']['id']?>" data-type="user">
                                        <a href="<?php echo $wo['fund']['user_data']['url']; ?>" data-ajax="?link1=timeline&u=<?php echo $wo['fund']['user_data']['username']; ?>"><?php echo $wo['fund']['user_data']['name']; ?></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="user_profile_oneline">
                            <div class="user_profile_role"><?php echo $wo['lang']['beneficiary']; ?>:</div>
                            <div class="user_profile_meta valign">
                                <?php if($wo['fund']['fundraising_for']=='2')
                                {
                                    echo Wo_MarkupForCharity($wo['fund']['beneficiary'],false,false,true,0,0,0,true);
                                }
                                else
                                {
                                    echo Wo_Markup($wo['fund']['beneficiary'],false,false,true,0,0,0,true);
                                }
                               ?>
                            </div>
                        </div>
                        <div class="campaign_progress">
                            <div>
                                    <span class="pull-right">
                                    <?php 
                                        if(!empty($wo['fund']['due_date']) && $wo['fund']['status'] !='5')
                                        { 
                                            if(strtotime($wo['fund']['due_date']) < time())
                                            {
                                                echo '<time>'.$wo['lang']['ended'].'</time>';
                                            }
                                            else
                                            {
                                                echo '<time>' . Wo_Time_Elapsed_String(strtotime($wo['fund']['due_date']),"due_date") . '</time>';
                                            }
                                        }
                                        if($wo['fund']['status'] =='5')
                                        {
                                            echo '<time>'.$wo['lang']['ended'].'</time>';
                                        } 

                                    ?>
                                    </span>
                                    <p><span class="big-text bold"><?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].number_format($wo['fund']['raised']); ?></span> of <?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].number_format($wo['fund']['amount']); ?> <?php echo $wo['lang']['raised_of']; ?></p>
                            </div>
                            <div class="fund_raise_bar">
                                <div class="progress mb-2">
                                    <div class="progress-bar" role="progressbar" style="width: <?php echo $wo['fund']['bar']; ?>%" aria-valuenow="<?php echo $wo['fund']['bar']; ?>" aria-valuemin="0" aria-valuemax="<?php echo($wo['fund']['amount']) ?>"></div>
                                </div>
                            </div>     
                        </div>
                        
		</div>
		<div class="fundings_footer">
			<!-- user buttons -->
             <?php $fund_category = json_decode($wo['fund']['category']);
             if(count($fund_category)>0): ?>
                <div class="campaign-cat when-notedit profile_cover" >
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M5.5,7A1.5,1.5 0 0,1 4,5.5A1.5,1.5 0 0,1 5.5,4A1.5,1.5 0 0,1 7,5.5A1.5,1.5 0 0,1 5.5,7M21.41,11.58L12.41,2.58C12.05,2.22 11.55,2 11,2H4C2.89,2 2,2.89 2,4V11C2,11.55 2.22,12.05 2.59,12.41L11.58,21.41C11.95,21.77 12.45,22 13,22C13.55,22 14.05,21.77 14.41,21.41L21.41,14.41C21.78,14.05 22,13.55 22,13C22,12.44 21.77,11.94 21.41,11.58Z"></path></svg>

                         <?php  $i=0;$j=0;
                         foreach ($wo['campaign_categories'] as $category_id => $category_name) 
                         { 
                            $i++; //echo $i .'----'. count($wo['campaign_categories']).'-----'.count($fund_category);
                            if (in_array($category_id, $fund_category))
                            {   
                                $j++;
                                if(count($wo['campaign_categories']) >$i &&  count($fund_category) >$j)
                                {
                                    $comma=', ';
                                    
                                }
                                else
                                {
                                    $comma='';
                                    
                                }
                                echo '<a href='.Wo_SeoLink('index.php?link1=category').'?query='.urlencode($category_name).'>'.$category_name.'</a>'.$comma;
                            }
                            
                         } 
                         

                            ?>                                  
                    </span>
                    
                </div>
            <?php endif;?>
		</div>
	</div>
</div>