<?php echo Wo_LoadPage('events/includes/header'); ?>
<?php if (count($wo['events']) > 0): ?>
	<div class="row" id="events-going">
		<div class="col-lg-6 col-md-6">
			<div class="tag_create_album tag_create_events">
				<a href="<?php echo Wo_SeoLink('index.php?link1=create-event');?>" class="valign tag_create_box">
					<svg height="40" viewBox="0 0 512 512" width="40" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm112 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0"></path></svg> <?php echo $wo['lang']['create_events']; ?>
				</a>
			</div>
		</div>
		<?php foreach ($wo['events'] as $wo['event']): ?>
			<?php echo Wo_LoadPage('events/includes/events-list'); ?>
		<?php endforeach; ?>
		<div class="clear"></div>
	</div>
	<div class="posts_load">
		<?php if (count($wo['events']) > 9): ?>
		<div class="load-more">
			<button class="btn btn-default text-center pointer load-more-events" data-events-type="going"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path></svg></span> <?php echo $wo['lang']['load_more'] ?></button>
		</div>
		<?php endif ?>
	</div>
<?php else: ?>
	<?php echo '<div class="empty_state"><svg xmlns="http://www.w3.org/2000/svg" width="50pt" height="50pt" viewBox="0 0 50 50"><path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:currentColor;stroke-opacity:1;stroke-miterlimit:4" d="M22 12c0 5.524-4.476 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.476 10 10zM12 8v4m0 4h0" transform="scale(2.08333)"></path></svg>'. $wo['lang']['no_events_found'] .' <div><a class="btn btn-mat btn-main" href="'. Wo_SeoLink('index.php?link1=create-event') .'">'. $wo['lang']['create'] .'</a></div></div>';?>
<?php endif; ?>
<?php echo Wo_LoadPage('events/includes/footer'); ?>