<div class="embed-responsive embed-responsive-16by9 rounded">
	<div class="artplayer-app"  id="video--<?php echo $wo['media']['storyId'];?>-preview"></div>
</div>

<script>
var art<?=$wo['media']['storyId'];?> = new Artplayer({
    container: '#video--<?php echo $wo['media']['storyId'];?>-preview',
    url: '<?php echo $wo['media']['filename'];?>',
    poster: '<?php  echo $wo['media']['video_thumb'];?>',
    volume: 1,
    pip: false,
    fullscreen: true,
    autoplay: false,
    muted: true,
    mutex: true,
    miniProgressBar: true,
    setting: false,
    theme: '<?php echo $wo['config']['btn_background_color'];?>',
    icons: {
        state: '<svg class="playback-icons" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path fill="currentColor" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 13.5v-7c0-.41.47-.65.8-.4l4.67 3.5c.27.2.27.6 0 .8l-4.67 3.5c-.33.25-.8.01-.8-.4z"/></svg>',
    },
    whitelist: ['*'],
    moreVideoAttr: {
        'webkit-playsinline': true,
        playsInline: true,
        preload: 'auto',
    },
});

art<?=$wo['media']['storyId'];?>.on('ready', () => {
    $('#video--<?php echo $wo['media']['storyId'];?>-preview').addClass('hide_control');
    $('#video--<?php echo $wo['media']['storyId'];?>-preview video').click(function(){
        $(this)[0].pause();  
        /*TODO:launch video in lightbox*/
    });
    
    $('.art-notice, .art-contextmenus').remove();
    
    art<?=$wo['media']['storyId'];?>.events.proxy(window, 'scroll', function (e) {
            if (!document.pictureInPictureElement) {
                    $('#video--<?php echo $wo['media']['storyId']?>-preview video').each(function(){
                            var j = $(this);
                            var v = j[0];
                            var isPlaying = ((v.currentTime > 0) && !(v.paused) && !(v.ended) && (v.readyState > 2));
                            if (j.is(":in-viewport")) {
                                if(!isPlaying){
                                   v.play(); 
                                }
                            }else{
                                if(isPlaying){
                                   v.pause(); 
                                }
                            }
                    });
            }
    });
});
    
art<?=$wo['media']['storyId'];?>.on('play', () => {
    Wo_AddVideoViews(<?php echo $wo['media']['storyId'];?>);    
});

</script>