<?php 
$not_found = '<div class="empty_state"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50"><path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:currentColor;stroke-opacity:1;stroke-miterlimit:4" d="M22 12c0 5.524-4.476 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.476 10 10zM12 8v4m0 4h0" transform="scale(2.08333)"/></svg> ' . $wo["lang"]["no_result"] . '</div>';
$type_to_find = '<div class="empty_state"><svg enable-background="new 0 0 32 32" height="512" viewBox="0 0 32 32" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m26 32h-20c-3.314 0-6-2.686-6-6v-20c0-3.314 2.686-6 6-6h20c3.314 0 6 2.686 6 6v20c0 3.314-2.686 6-6 6z" fill="#ffe6e2"/><g fill="#fc573b"><path d="m23.333 24c-.171 0-.341-.065-.471-.195l-4.924-4.924c-.26-.26-.26-.682 0-.943s.682-.26.943 0l4.924 4.924c.26.26.26.682 0 .943-.13.13-.301.195-.472.195z"/><path d="m14.333 8c-3.492 0-6.333 2.841-6.333 6.333s2.841 6.333 6.333 6.333 6.333-2.841 6.333-6.333-2.84-6.333-6.333-6.333zm1.361 9.26c0 .407-.333.74-.747.74h-1.227c-.36 0-.747-.267-.747-.86v-.36h2.72v.48zm.54-1.973c-.28.227-.46.52-.52.827h-2.754c-.047-.3-.213-.58-.487-.793-.74-.58-1.16-1.453-1.14-2.4.033-1.587 1.36-2.9 2.953-2.92.807-.02 1.58.293 2.16.867.573.56.887 1.313.887 2.113.001.899-.399 1.739-1.099 2.306z"/></g></svg> ' . $wo["lang"]["what_are_looking_for"] . '</div>';

 $query=$_GET['query'];

?>
<div class="page-margin">
	<div class="container">
                <span class="pull-right campaign-cat"><a class="btn-mat" href="<?=Wo_SeoLink('index.php?link1=funding'); ?>" data-ajax="?link1=funding"><?=$wo['lang']['browse_funding'] ?></a></span>
		<h2 class="tag_page_title m5"><?php echo $wo['lang']['campaign_category']; ?></h2>
		<ul class="list-unstyled tag_page_nav tag_scroll">
			<?php $selected_cat_id=0;
			foreach ($wo['campaign_categories'] as $category_id => $category_name) 
			{  
			 	if($category_name==$query)
			 	{
			 		$selected_cat_id=$category_id;
			 	}
			 	 ?>
			 	<li class="<?=($category_name==$query)?'active':''?>" >
			 	   	<a href="<?= Wo_SeoLink('index.php?link1=category').'?query='.$category_name; ?>" class="btn-mat"><?php echo ucfirst($category_name);?></a></li>

				<?php 
			}	?>
            
		</ul>
		<div class="page-margin">
			<div id="recent-funding" class="row fundings_prnt">
				<?php
					$funding = getCampaignsBycategory($selected_cat_id,9);
					if (count($funding) > 0) {
						foreach ($funding as $key => $wo['fund']){
							//if($wo['fund']['status'] != '0' && $wo['fund']['status'] != '4'){
								echo Wo_LoadPage('funding/list'); 
							//}	
						}					
					} 
					else {
						echo '<div class="empty_state"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50"><path style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:currentColor;stroke-opacity:1;stroke-miterlimit:4" d="M22 12c0 5.524-4.476 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.476 10 10zM12 8v4m0 4h0" transform="scale(2.08333)"/></svg>' . $wo['lang']['no_funding_found'] . '</div>';
					}
				?>
			</div>
			<div class="posts_load">
				<?php if (count($funding) >= 5): ?>
					<div class="load-more">
						<button class="btn btn-default text-center pointer load-more-fund" id="hren"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path></svg></span> <?php echo $wo['lang']['load_more'] ?></button>
					</div>
				<?php endif ?>
			</div>
		</div>
		
	</div>
</div>

<script>
	jQuery(document).ready(function($) {
    $(".load-more-fund").click(function () {

  		var last_id = (($("div[data-fund-id]").length > 0) ? $("div[data-fund-id]:last").attr('data-fund-id') : 0);
  		var category='<?=$selected_cat_id?>';
		$.ajax({	  
		     url: Wo_Ajax_Requests_File(),
		     type: 'GET',
		     dataType: 'json',
		     data: {f:"funding",s:"load_category_fund",offset:last_id,cat:category},
		     success:function(data){
		     	console.log(data);
		        if (data['status'] == 200 && data['html'] != '') {
		            $("#recent-funding").append(data['html']);
		        }
		        else{
		           $(".posts_load").remove()
		        }
		     },
		     error:function(data){
		     	console.log(data.responseText);
		     }
		});
	});
});


</script>