<?php $wo['fund'] = $wo['result']['fund_data']; 
	  $wo['fund']['user_data'] = $wo['result']['publisher'];
?>

<div class="col-lg-4 col-md-6" data-fund-id="<?php echo $wo['fund']['id']; ?>">
	<div class="wow_content fundings">
		<div class="avatar">
			<!-- /Sameer -->
			<?php 
				$imageView = 
				"
				<img src='".$wo['fund']['image']."' alt='".$wo['fund']['title']."'>
				";
			?>
			<a href="<?php echo $wo['config']['site_url'].'/show_fund/'. $wo['fund']['hashed_id']; ?>" data-ajax="?link1=show_fund&id=<?php echo $wo['fund']['hashed_id']; ?>">
			
				<?= empty($wo['fund']['image']) != 1 ? $imageView : ""  ?>
				<?php if(!empty($wo['fund']['video'])): ?>
					<div class="post-file wo_shared_doc_file mg-10" id="fullsizeimg" style="padding:20px;" >
						<?php
						$media = array(
							'type' => 'post',
							'storyId' => $wo['fund']['fund_id'],
							'filename' => $wo['fund']['video'],
							'name' => $wo['fund']['video'],
							'postFileThumb' => $wo['fund']['video'],
						);
						echo Wo_DisplaySharedFile($media, '', $wo['fund']['cache']);
						?>
					</div>
				<?php endif;?>		
			</a>
		</div>
		<div class="fundings_desc">
			<h3><a title="<?php echo $wo['fund']['title']; ?>" href="<?php echo $wo['config']['site_url'].'/show_fund/'. $wo['fund']['hashed_id']; ?>" data-ajax="?link1=show_fund&id=<?php echo($wo['fund']['hashed_id']) ?>"><?php echo $wo['fund']['title']; ?></a></h3>
			<p class="desc">
				<?php 
				$businessDesc = strip_tags(html_entity_decode($wo['fund']['description']));
                                if(strlen($businessDesc) > 68){
                                    echo $desc = mb_substr($businessDesc, 0, 65, "UTF-8") . '...';
                                }else{
                                    echo $businessDesc;                                   
                                }


				 ?>
			</p>
			<div class="user_profile_oneline">
                            <div class="user_profile_role"><?php echo $wo['lang']['organiser']; ?>:</div>
                            <div class="user_profile_meta valign">
                                <div class="image">
                                    <div class="postMeta--author-avatar">
                                        <a href="<?php echo $wo['fund']['user_data']['url']?>">
                                            <img src="<?php echo $wo['fund']['user_data']['avatar']?>" alt="User Image">
                                        </a>
                                    </div>
                                </div>
                                <div class="meta">
                                    <span class="user-popover" data-id="<?=$wo['fund']['user_data']['id']?>" data-type="user">
                                        <a href="<?php echo $wo['fund']['user_data']['url']; ?>" data-ajax="?link1=timeline&u=<?php echo $wo['fund']['user_data']['username']; ?>"><?php echo $wo['fund']['user_data']['name']; ?></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="user_profile_oneline">
                            <div class="user_profile_role"><?php echo $wo['lang']['beneficiary']; ?>:</div>
                            <div class="user_profile_meta valign">
                                <?=Wo_Markup($wo['fund']['beneficiary'],false,false,true,0,0,0,true) ?>
                            </div>
                        </div>
                        <div class="campaign_progress">
                            <div>
                                    <span class="pull-right">
                                    <?php if(!empty($wo['fund']['due_date'])){ ?>
                                            <time><?php echo Wo_Time_Elapsed_String(strtotime($wo['fund']['due_date']),"due_date"); ?></time>
                                    <?php }?>
                                    </span>
                                    <p><span class="bold"><?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].$wo['fund']['raised']; ?></span> of <?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].$wo['fund']['amount']; ?> <?php echo $wo['lang']['raised_of']; ?></p>
                            </div>
                            <div class="fund_raise_bar">
                                <div class="progress mb-2">
                                    <div class="progress-bar" role="progressbar" style="width: <?php echo $wo['fund']['bar']; ?>%" aria-valuenow="<?php echo $wo['fund']['bar']; ?>" aria-valuemin="0" aria-valuemax="<?php echo($wo['fund']['amount']) ?>"></div>
                                </div>
                            </div>     
                        </div>
                        
		</div>
		<div class="fundings_footer">
			<!-- user buttons -->
		</div>
	</div>
</div>