<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> 
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script> -->
<!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>  -->
<!------ Include the above in your HEAD tag ---------->
<style>
.inner-circle{
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: rgba(0, 0, 0, 0);
}
.inner-circle .fa-2x{
    margin-left:5px;
}
#create-box{ 
    margin-top:40px; 
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
</style>

<div id="create-box">
<?php
	if (isset($_GET['id']) && is_numeric($_GET['id']) && $_GET['id'] > 0) {
			// $wo['challenge_fund'] = Wo_GetChallengeFundingById(2);
			// echo $wo['challenge_fund'];
			$challenge_fund = (Array) Wo_GetChallengeFundingById($_GET['challenge_fund_id']);
			// echo $challenge_fund['id'];
	}else if(isset($_GET['fund_id']) && !empty($_GET['fund_id'])){
			$fund_id = $_GET['fund_id'];
	}
   // echo $fund_id;die;
?>

    <div class="col-md-12">
	<div id="funding-alert"></div>
    <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                <p>Choose or create campaign</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                <p>Create your challenge</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                <p>Challenge your friends</p>
            </div>
        </div>
    </div>
	<form method="POST" id="insert_challenge" >
        <div class="row setup-content" id="step-1">
            <div class="col-xs-12">
                <div class="col-md-12" >
                    <h3>Choose or Create Campaign</h3>
                    <div id="campaign_info">
                        <div class="form-group">
                            <div class="row">
                                <label class="control-label"> Search Campaign </label>
                                <div class="col-md-8 col-sm-8" style="display:flex;">
                                    <input type="Search" id="search" required="required" class="form-control ">
                                   <button id="searchBtn" onclick="searchCampaign();" style="background-color:transparent" class="btn btn-default-outline"> <i class="fa fa-search col-md-1 col-sm-1"  style="font-size: 30px;"></i></button>
                                </div>
                            </div>
                        </div>
						<?php 
							if (isset($_GET['id']) && is_numeric($_GET['id']) && $_GET['id'] > 0) {

							}
							else{
								echo Wo_LoadPage("create_challenge/show-campaigns");
								// echo "sameer";
							}
						?> 
                        

                    </div> 
                    <!-- // campaign detils -->
					<div id="create_fund_button">
						<a class="fa-3x" href="<?=$wo['site_url']?>/create_funding">
							<button type="button" class="btn btn-primary  btn-lg pull-left">Create Campaign 
								<!-- <i class="fa fa-plus fa-lg"></i> -->
							</button>
						</a>
					</div>
					

                    
                    <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" id="load_campaign_button">Next</button>
                </div>
            </div>
        </div>
        <div class="row setup-content" id="step-2">
            <div class="col-xs-12">
                <div class="col-md-12">
                    <h3>Create challenge</h3>
                    <!-- <div class="form-group">
                        <label class="control-label">Company Name</label>
                        <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Name" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Company Address</label>
                        <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Address"  />
                    </div> -->
							<input type="hidden" id="funding_id" name="funding_id">
							<input type="hidden" id="challenge_fund_id" name="challenge_fund_id">
							<?php if(isset($challenge_fund) && !empty($challenge_fund)) {?>
							<div class="form-group row">
								<label class="col-form-label col-md-3 col-sm-3 label-align" for="title">Title <span class="required">*</span>
								</label>
								<div class="col-md-12 col-sm-12 ">
									<input disabled="disabled" value="<?=$challenge_fund['challenge']['title']?>" type="text" id="title" name="title" required="required" class="form-control">
									<input type="hidden" id="challenge_id" name="challenge_id" value="<?=$challenge_fund['challenge']['id']?>">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Details <span class="required">*</span>
								</label>
								<div class="col-md-12 col-sm-12 ">
								<textarea disabled="disabled" id="description" name="description"  required="required" class="form-control "><?=$challenge_fund['description']?></textarea>
								</div>
							</div>
							<?php }else{?>
								<div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="title">Title <span class="required">*</span>
									</label>
									<div class="col-md-12 col-sm-12 ">
										<input type="text" id="title" name="title" required="required" class="form-control">
										<input type="hidden" id="challenge_id" name="challenge_id" >
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Details <span class="required">*</span>
									</label>
									<div class="col-md-12 col-sm-12 ">
									<textarea id="description" name="description"  required="required" class="form-control "></textarea>
									</div>
								</div>
							<?php } ?>

                          <div class="form-group">
                              <!-- <div class="row">
                                <i class="fa fa-video-camera fa-3x col-md-3 col-sm-3"></i>
                                <i class="fa fa-camera fa-3x col-md-3 col-sm-3"></i>
                                <i class="fa fa-volume-up fa-3x col-md-3 col-sm-3"></i>
                                <i class="fa fa-upload fa-3x col-md-3 col-sm-3"></i>
                              </div> -->

                            <!-- <div class="col-md-3 col-sm-3" style="font-size:30px;">
                            </div>
                            <div class="col-md-3 col-sm-3" style="font-size:30px;">
                            </div>
                            <div class="col-md-3 col-sm-3" style="font-size:30px;">
                                 <i class="fa fa-volume-up"></i>
                            </div>
                            <div class="col-md-3 col-sm-3" style="font-size:30px;">
                            </div> -->
                            <!-- Sameer multiple option multiple_option_sameer -->
                            <div class="row publisher-box-footer">
                                <div id="results"></div>
                                <div id="status"></div>	
                                <div class="col-md-3">
                                    <div class="valign pub-footer-upper">
                                        <span class="btn btn-file tag_pub_box_btns">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M19,10a1,1,0,0,0-1,1v3.38L16.52,12.9a2.79,2.79,0,0,0-3.93,0l-.7.71L9.41,11.12a2.79,2.79,0,0,0-3.93,0L4,12.61V7A1,1,0,0,1,5,6h8a1,1,0,0,0,0-2H5A3,3,0,0,0,2,7V19.22A2.79,2.79,0,0,0,4.78,22H17.22a2.88,2.88,0,0,0,.8-.12h0a2.74,2.74,0,0,0,2-2.65V11A1,1,0,0,0,19,10ZM5,20a1,1,0,0,1-1-1V15.43l2.89-2.89a.78.78,0,0,1,1.1,0L15.46,20Zm13-1a1,1,0,0,1-.18.54L13.3,15l.71-.7a.77.77,0,0,1,1.1,0L18,17.21ZM21,4H20V3a1,1,0,0,0-2,0V4H17a1,1,0,0,0,0,2h1V7a1,1,0,0,0,2,0V6h1a1,1,0,0,0,0-2Z"/></svg> <span><?php echo $wo['lang']['upload_images']; ?></span>
                                            <input type="file" id="publisher-photos" accept="image/x-png, image/gif, image/jpeg" name="postPhotos[]" multiple="multiple">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="valign pub-footer-upper">
                                        <?php if ($wo['config']['video_upload'] == 1) { ?>
                                            <span class="btn btn-file tag_pub_box_btns">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M21.53,7.15a1,1,0,0,0-1,0L17,8.89A3,3,0,0,0,14,6H5A3,3,0,0,0,2,9v6a3,3,0,0,0,3,3h9a3,3,0,0,0,3-2.89l3.56,1.78A1,1,0,0,0,21,17a1,1,0,0,0,.53-.15A1,1,0,0,0,22,16V8A1,1,0,0,0,21.53,7.15ZM15,15a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V9A1,1,0,0,1,5,8h9a1,1,0,0,1,1,1Zm5-.62-3-1.5V11.12l3-1.5Z"/></svg> <span><?php echo $wo['lang']['upload_video']; ?></span>
                                                <input type="file" id="publisher-video" name="postVideo" accept="video/*" capture="environment">
                                            </span>
                                        <?php } ?>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="valign pub-footer-upper">
                                        <?php if ($wo['config']['audio_upload'] == 1) { ?>
                                            <span class="tag_pubbox_record">
                                                <span class="btn btn-file tag_pub_box_btns" id="recordPostAudio" data-record="0">
                                                    <b><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M12,15a4,4,0,0,0,4-4V5A4,4,0,0,0,8,5v6A4,4,0,0,0,12,15ZM10,5a2,2,0,0,1,4,0v6a2,2,0,0,1-4,0Zm10,6a1,1,0,0,0-2,0A6,6,0,0,1,6,11a1,1,0,0,0-2,0,8,8,0,0,0,7,7.93V21H9a1,1,0,0,0,0,2h6a1,1,0,0,0,0-2H13V18.93A8,8,0,0,0,20,11Z"/></svg></b> <span><?php echo $wo['lang']['record_voice']; ?></span>
                                                </span>
                                                <span id="postRecordingTime" class="tag_pub_rectime hidden">00:00</span>
                                            </span>
                                        <?php } ?>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="valign pub-footer-upper">
                                        <?php if ($wo['config']['audio_upload'] == 1) { ?>
                                            <span class="btn btn-file tag_pub_box_btns">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M21.65,2.24a1,1,0,0,0-.8-.23l-13,2A1,1,0,0,0,7,5V15.35A3.45,3.45,0,0,0,5.5,15,3.5,3.5,0,1,0,9,18.5V10.86L20,9.17v4.18A3.45,3.45,0,0,0,18.5,13,3.5,3.5,0,1,0,22,16.5V3A1,1,0,0,0,21.65,2.24ZM5.5,20A1.5,1.5,0,1,1,7,18.5,1.5,1.5,0,0,1,5.5,20Zm13-2A1.5,1.5,0,1,1,20,16.5,1.5,1.5,0,0,1,18.5,18ZM20,7.14,9,8.83v-3L20,4.17Z"/></svg> <span><?php echo $wo['lang']['audio_upload']; ?></span>
                                                <input type="file" id="publisher-music" name="postMusic" accept="audio/*">
                                            </span>
                                        <?php } ?>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                	<div class="tag_pub_hide photo-form">
                                        <div class="tag_pub_hide album-form">
                                            <input name="album_name" type="text" placeholder="<?php echo $wo['lang']['album_name'];?>">
                                        </div>
                                        <div class="valign tag_pub_imgs tag_scroll" id="image-holder"></div>
                                    </div>
                                    <?php if ($wo['config']['video_upload'] == 1) { ?>

                                        <div class="tag_pub_hide video-form">
                                            <div class="tag_pub_vids">
                                                <video id="post_video" controls></video>
                                                <span class="btn btn-mat video-custom-thumb"><?php echo $wo['lang']['custom_thumbnail']; ?></span>
                                                <div class="video-poster-image pointer" onclick="$('#custom-video-thumb').trigger('click');">
                                                    <div class="preview">
                                                        <div class="valign empty_state">
                                                            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path fill="currentColor" d="M21.02 5H19V2.98c0-.54-.44-.98-.98-.98h-.03c-.55 0-.99.44-.99.98V5h-2.01c-.54 0-.98.44-.99.98v.03c0 .55.44.99.99.99H17v2.01c0 .54.44.99.99.98h.03c.54 0 .98-.44.98-.98V7h2.02c.54 0 .98-.44.98-.98v-.04c0-.54-.44-.98-.98-.98zM16 9.01V8h-1.01c-.53 0-1.03-.21-1.41-.58-.37-.38-.58-.88-.58-1.44 0-.36.1-.69.27-.98H5c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-8.28c-.3.17-.64.28-1.02.28-1.09-.01-1.98-.9-1.98-1.99zM15.96 19H6c-.41 0-.65-.47-.4-.8l1.98-2.63c.21-.28.62-.26.82.02L10 18l2.61-3.48c.2-.26.59-.27.79-.01l2.95 3.68c.26.33.03.81-.39.81z"/></svg>
                                                            <?php echo $wo['lang']['drop_img_here']; ?> <?php echo $wo['lang']['or']; ?> <?php echo $wo['lang']['browse_to_upload']; ?>
                                                        </div>
                                                    </div>
                                                    <div class="image"></div>
                                                </div>
												<span onclick="DeleteVideo()" class="btn btn-mat thumb-image-delete-btn"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span>
                                            </div>
                                            <input type="file" class="hidden" name="video_thumb" id="custom-video-thumb" accept="image/*">
                                        </div>
                                    <?php } ?>
                                    <?php if ($wo['config']['audio_upload'] == 1) { ?>
                                        <div class="tag_pub_hide music-form">
											<div class="tag_pub_vids">
												<div class="valign">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M20 3v14a4 4 0 1 1-2-3.465V6H9v11a4 4 0 1 1-2-3.465V3h13z"/></svg>
													<div class="full_width">
														<input name="musiccount" type="text" readonly>

													</div>
												</div>
											</div>
                                        </div>
                                    <?php } ?>
                                </div>				
                            </div>
                          </div>
					<button class="btn btn-primary backBtn btn-lg pull-left"  type="button" >Back</button>
                    <button class="btn btn-primary nextBtn btn-lg pull-right"  type="button" >Next</button>
                </div>
            </div>
        </div>
        <div class="row setup-content" id="step-3">
            <div class="col-xs-12">
                <div class="col-md-12">
                    <h3>Challenge Your Friends</h3>
					<div class="form-group row ">
						<div class="col-md-12 text-center">
							<h5>Tag 3 or more of your friends to challenge<br>them and help promote the campaign </h5>
						</div>
					</div>
					<div class="form-group row ">
						<div class="col-md-12 ">
						<textarea name="postText" class="auto-resize postText form-control" rows="3" spellcheck="false" placeholder="<?php echo $wo['lang']['funding_tagging_placeholder']; ?>?" dir="auto" style="height:auto;"><?php echo $url; ?></textarea>
						</div>
					</div>
					<button class="btn btn-primary backBtn btn-lg pull-left"  type="button" >Back</button>
					<?php if(isset($_GET['post_id'])){ ?>
						<button class="btn btn-success btn-lg pull-right" onclick="insertChallengeData();" type="button">Finish!</button>
					<?php }elseif(isset($_GET['id'])){?>
						<button class="btn btn-success btn-lg pull-right" onclick="insertAcceptedChallengeData();" type="button">Finish!</button>
					<?php }else{ ?>
						<button class="btn btn-success btn-lg pull-right" onclick="insertChallengeData();" type="button">Finish!</button>
					<?php }?>
			    </div>
            </div>
        </div>
		</form>
    <form method="POST" id="campaign_detail_form" action="#">
        <input type="hidden" required="required" name="campaign_id" id="campaign_id">
    </form>
    </div>
</div>


<script>
	function DeleteVideo(){
		$("#publisher-video").val('');
		$("#post_video").empty();
		$(".video-form").slideUp(200);
		// console.log('working delete');
	}

	function DeleteMusic(){
		$("#publisher-music").val('');
		$(".music-form input").val('');
		$(".music-form").slideUp(200);
	}

    $(document).ready(function () {
		var navListItems = $('div.setup-panel div a'),
			allWells = $('.setup-content'),
       		allNextBtn = $('.nextBtn');
       		allBackBtn = $('.backBtn');

		allWells.hide();
	
		navListItems.click(function (e) {
			e.preventDefault();
			var $target = $($(this).attr('href')),
					$item = $(this);

			if (!$item.hasClass('disabled')) {
				navListItems.removeClass('btn-primary').addClass('btn-default');
				$item.addClass('btn-primary');
				allWells.hide();
				$target.show();
				$target.find('input:eq(0)').focus();
			}
		});

		allNextBtn.click(function(){
			// alert($(this).attr("id"));
			if($(this).attr("id") == "load_campaign_button" ){
				if($("#campaign_id").val().length != 0){
						// Ajax here for showing Campaign Details
                        console.log($("#campaign_id").val());
						getCampaignDetailById($("#campaign_id").val());
						return;
				}else{
					alert("Please Select Campaign First");
					return;
				}
			}

			var curStep = $(this).closest(".setup-content"),
					curStepBtn = curStep.attr("id"),
					nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
					curInputs = curStep.find("input[type='text'],input[type='url']"),
					isValid = true;

				$(".form-group").removeClass("has-error");
				for(var i=0; i<curInputs.length; i++){
					if (!curInputs[i].validity.valid){
						isValid = false;
						$(curInputs[i]).closest(".form-group").addClass("has-error");
					}
				}

				if (isValid)
					nextStepWizard.removeAttr('disabled').trigger('click');
		});
		allBackBtn.click(function(){
			// alert('back clicked');
			var curStep = $(this).closest(".setup-content"),
					curStepBtn = curStep.attr("id"),
					prevStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a"),
					curInputs = curStep.find("input[type='text'],input[type='url']"),
					isValid = true;
					// console.log("stepwizard",prevStepWizard);

				$(".form-group").removeClass("has-error");
				for(var i=0; i<curInputs.length; i++){
					if (!curInputs[i].validity.valid){
						isValid = false;
						$(curInputs[i]).closest(".form-group").addClass("has-error");
					}
				}
				prevStepWizard.attr("disabled",true);
				prevStepWizard.removeAttr('disabled').trigger('click');

				// if (isValid)
				
		
		});

		$('div.setup-panel div a.btn-primary').trigger('click');
	});
</script>

<script>
    function setFundId(id){
        $("#campaign_id").val(id);
        $("#funding_id").val(id);
		$(".selectBtn").html('Select');
		$("a[data$="+id+"]").text('Selected');
    }
	function setChallengeId(id){
        $("#challenge_fund_id").val(id);
    }
	
 // get Campagin detail by id sameer 
	function getCampaignDetailById(id){
		$(function(){
			$('#campaign_detail_form').ajaxSubmit({
				url: Wo_Ajax_Requests_File() + '?f=funding&s=get_funding_by_id',
				beforeSend: function() {
					// $('#endorseBtn').attr('disabled','disabled');
						$('#campaign_info').html('');

				},
				success: function(data) {
						if (data['status'] == 200) {
							// console.log(data['html']);
							$('#campaign_info').html(data['html']);
							$('#load_campaign_button').removeAttr("id");
							$refreshBtn = '<a class="fa-3x" href="<?=$wo["site_url"]?>/create_challenge"><button type="button" class="btn btn-primary  btn-lg pull-left">Reset</button></a>';
							$('#create_fund_button').html($refreshBtn);
							
						} else if (data['message']) {
							$("#campaign_info").html('<div class="alert alert-danger">' + data['message'] + '</div>');
						}
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) { 
						alert("Status: " + textStatus); alert("Error: " + errorThrown); 
				}
			});
		});
	}
	function insertChallengeData(){
		$('input#title').removeAttr('disabled');
		$('#description').removeAttr('disabled');
		$(function(){
			$('#insert_challenge').ajaxSubmit({
			url: Wo_Ajax_Requests_File() + '?f=funding&s=insert_challenge',
			beforeSend: function() {
				$('#insert-funding').find('.disable_btn').attr('disabled','disabled');
				$('.btn-success').attr('disabled','disabled');

			},
			success: function(data) {
				if (data['status'] == 200) {
					$('input#title').attr('disabled',true);
					$('#description').attr('disabled',true);
					$("#funding-alert").html('<div class="alert alert-success">'+ data['message'] +'</div>');
					window.location = data['url'];
					
				} else if (data['message']) {
					$('input#title').attr('disabled',true);
					$('#description').attr('disabled',true);
					$('.btn-success').removeAttr("disabled");
					Wo_Delay(function(){
					},3000);
					$("#funding-alert").html('<div class="alert alert-danger">' + data['message'] + '</div>');
				}
				$('#insert-funding').find('.disable_btn').removeAttr("disabled");
			}});
		});

	}

	function insertAcceptedChallengeData(){
		$(function(){
			$('#insert_challenge').ajaxSubmit({
			url: Wo_Ajax_Requests_File() + '?f=funding&s=insert_accepted_challenge',
			beforeSend: function() {
				$('#insert-funding').find('.disable_btn').attr('disabled','disabled');
				$('.btn-success').attr('disabled','disabled');
			},
			success: function(data) {
				if (data['status'] == 200) {
					$('.btn-success').removeAttr("disabled");
					Wo_Delay(function(){
					window.location = data['url'];
					},3000);
					$("#funding-alert").html('<div class="alert alert-success">'+ data['message'] +'</div>');
				} else if (data['message']) {
					$('.btn-success').removeAttr("disabled");
					$("#funding-alert").html('<div class="alert alert-danger">' + data['message'] + '</div>');
				}
				$('#insert-funding').find('.disable_btn').removeAttr("disabled");
			}});
		});

	}
</script>

<script>
	jQuery(document).ready(function($) {
		var thumb_drop_block = $("[data-block='thumdrop-zone']");
		if (typeof(window.FileReader) == 'undefined') {
		thumb_drop_block.find('.thumbnail-rendderer div').text('Drag drop is not supported in your browser!');
		}
		else{
		thumb_drop_block[0].ondragover = function() {
			thumb_drop_block.addClass('hover');
			return false;
		};
		thumb_drop_block[0].ondragleave = function() {
			thumb_drop_block.removeClass('hover');
			return false;
		};
		thumb_drop_block[0].ondrop = function(event) {
			event.preventDefault();
			thumb_drop_block.removeClass('hover');
			var file = event.dataTransfer.files;
			$("#thumbnail").prop('files', file);
			$("#wow_fcov_img_holder").html("<img src='" + window.URL.createObjectURL(event.dataTransfer.files[0]) + "' alt='Picture'>")
		};
		}

		$("#thumbnail").change(function(event) {
		$("#wow_fcov_img_holder").html("<img src='" + window.URL.createObjectURL(this.files[0]) + "' alt='Picture'>")
		});

	
	});

	// function saveAsDraft(){
	// 	$(function(){
	// 		$('#insert-funding').ajaxSubmit({
	// 			url: Wo_Ajax_Requests_File() + '?f=funding&s=save_fund_as_draft',
	// 			beforeSend: function() {
	// 			$('#insert-funding').find('.disable_btn').attr('disabled','disabled');
	// 			},
	// 			success: function(data) {
	// 			if (data['status'] == 200) {
	// 					$("#funding-alert").html('<div class="alert alert-success">'+ data['message'] +'</div>');
	// 					window.location = data.url;
	// 				} else if (data['message']) {
	// 					$("#funding-alert").html('<div class="alert alert-danger">' + data['message'] + '</div>');
	// 				}
	// 				$('#insert-funding').find('.disable_btn').removeAttr("disabled");
	// 	}});
	// 	});
	// }
</script> 


<!-- //  Multiple images and videos end -->

<script type="text/javascript">
	function Tag_addSpecial(code, input) {
		tareaTag = $(input);
		tareaVal = tareaTag.val();
		if(typeof (tareaTag.attr('placeholder')) != "undefined") {
			inputPlaceholder = tareaTag.attr('placeholder');
			if(inputPlaceholder == tareaVal) {
				tareaTag.val('');
				tareaVal = tareaTag.val();
			}
		}
		if(tareaVal.length == 0) {
			tareaTag.val(code);
		} else {
			tareaTag.val(tareaVal + ' ' + code);
		}
		tareaTag.keyup().focus();
	}

	jQuery(document).click(function(event){
		if (!(jQuery(event.target).closest(".wow_pub_privacy").length)) {
			jQuery('.wow_pub_privacy').removeClass('showMenu');
		}
	});

	var deleted_images = [];
	function DeleteImageById(name,id) {
		deleted_images.push(name);
		$('#image_to_'+id).remove();
	}
		
	$(document).ready(function() {
		
		$("#publisher-photos").on('change', function() {
			var numFiles = this.files.length;
			deleted_images = [];
			var countFiles = $(this)[0].files.length;
			// console.log("file_size",countFiles);
			var imgPath = $(this)[0].value;
			var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
			var image_holder = $("#image-holder");
			image_holder.empty();
			if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
				if (typeof(FileReader) != "undefined") {
					$(".photo-form").show(100);
					for (var i = 0; i < countFiles; i++) {
						var reader = new FileReader();
						var ii = 0;
						reader.onload = function(e) {
							name = "'"+$("#publisher-photos")[0].files[ii].name+"'";
							image_holder.append('<div  id="image_to_'+ii+'"><span class="thumb-image-delete"><span onclick="DeleteImageById('+name+','+ii+')" class="btn btn-mat thumb-image-delete-btn"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" /></svg></span><img src="'+e.target.result+'" class="thumb-image"></span></div>')
							ii = ii +1;
						}
						image_holder.show();
						reader.readAsDataURL($(this)[0].files[i]);
					}
				} else {
					$("body").snackbar({
						message: "This browser does not support FileReader"
					});
				}
			}
		});
	});
	
</script>

<script>
var fetch_url = 1;
$(function () {

	var allowed = "<?php echo $wo['config']['allowedExtenstion']?>";
	<?php if (!empty($url)) { ?>
		$('textarea').trigger('click');
		setTimeout(function () {
			$('textarea').trigger('keyup')
		}, 1000);
	<?php } ?>
	$('.postText').triggeredAutocomplete({
		hidden: '#hidden_inputbox',
		source: Wo_Ajax_Requests_File() + "?f=mention",
		trigger: "@" 
	});
	<?php if ($wo['config']['maxCharacters'] != 10000) { ?>
		$('.postText').limit("<?php echo $wo['config']['maxCharacters']?>", '#charsLeft');
	<?php } ?>
	$('.postText').triggeredAutocomplete({
		hidden: '#hidden_inputbox',
		source: Wo_Ajax_Requests_File() + "?f=mention",
		trigger: "@" 
	});
	<?php if ($wo['config']['maxCharacters'] != 10000) { ?>
		$('.postText').limit("<?php echo $wo['config']['maxCharacters']?>", '#charsLeft');
	<?php } ?>


	
	$("#publisher-video").on('change',function () {
		// console.log("video","called");
		var filename = $(this).val().replace(/C:\\fakepath\\/i, '');
		var video_file = $(this).prop('files')[0];
		var video_blob = window.URL.createObjectURL(video_file);

		$("#post_video").html('<source src="' + video_blob + '" type="video/mp4">');
		$("#post_video")[0].load();
		$(".video-form").slideDown(200);
		if (Wo_IsFileAllowedToUpload(filename, allowed) == false) {
			$("body").snackbar({
				message: "<?php echo $wo['lang']['file_not_supported']; ?>"
			});
			$("#publisher-video").val('');
			$("#post_video").html('');
			$(".video-form").slideUp(200);
			return false;
		}
	});

	$("#publisher-music").on('change',function () {
		// console.log("music","music changed");
		var filename = $(this).val().replace(/C:\\fakepath\\/i, '');
		$(".music-form input").val(filename);
		$(".music-form").slideDown(200);
		if (Wo_IsFileAllowedToUpload(filename, allowed) == false) {
			$("body").snackbar({
				message: "<?php echo $wo['lang']['file_not_supported']; ?>"
			});
			$("#publisher-music").val('');
			$(".music-form input").val('');
			$(".music-form").slideUp(200);
			return false;
		}
	});

	$(document).on("click",".read-ads-description",function(event) {
		var self = $(this);
		self.toggleClass('unsetheight');
	});

	<?php if ($wo['config']['video_upload'] == 1) { ?>  
		var thumb_drop_block = $(".video-poster-image");

		if (typeof(window.FileReader) == 'undefined') {
			thumb_drop_block.find('.preview').text('Drag drop is not supported in your browser!');
		} else {
			thumb_drop_block[0].ondragover = function() {
				thumb_drop_block.addClass('hover');
				return false;
			};
			thumb_drop_block[0].ondragleave = function() {
				thumb_drop_block.removeClass('hover');
				return false;
			};
			thumb_drop_block[0].ondrop = function(event) {
				// console.log("video ondrop");
				event.preventDefault();
				thumb_drop_block.removeClass('hover');
				var file = event.dataTransfer.files;
				$(".video-poster-image").find('.preview').hide(5, function() {
					$(".video-poster-image").find('.image').html($("<img>",{
						src:window.URL.createObjectURL(file[0])
					})).show(5);
				});
				$("#custom-video-thumb").prop('files', file);
			};
		}
	
		$("#custom-video-thumb").change(function(event) {
			// console.log("videochange");
			$(".video-poster-image").find('.preview').hide(5, function() {
				$(".video-poster-image").find('.image').html($("<img>",{
					src:window.URL.createObjectURL(event.target.files[0])
				})).show(5);
			});
		});

		$(".video-custom-thumb").click(function(event) {
			// console.log("video");

			$('.video-poster-image').slideToggle(200,function () {
				// console.log("video slide");

				var display_stat = $(this).css('display');
				if (display_stat == 'none') {
					$(".video-poster-image").find('.preview').show(10);
					$(".video-poster-image").find('.image').empty().hide(10);
					$("#custom-video-thumb").val('');
				}
			});
		});
	<?php } ?>

	$(document).on('click', '.rads-views', function(event) {
		var self  = $(this);
		var ad_id = self.attr('id');
		var url   = self.find('a').attr('href');
		window.open(url, '_blank');
		if (ad_id) {
			$.ajax({
				url: Wo_Ajax_Requests_File() ,
				type: 'GET',
				dataType: 'json',
				data: {f: 'ads',s:'rads-v',ad_id:ad_id},
			})
			.done(/* pass */)
			.fail(/* pass */)
		}
		event.preventDefault();
	});

	var bar = $('#bar');
	var status = $('#status');
	var publisher_button = $('#publisher-button');

	$('form.publisher-box').ajaxForm({
		url: Wo_Ajax_Requests_File() + '?f=posts&s=insert_new_post',
		beforeSend: function () {
			$('.msg_progress').fadeIn(100);
			var percentVal = '0%';
			bar.width(percentVal);
			publisher_button.attr('disabled', true);
		},
		uploadProgress: function (event, position, total, percentComplete) {
			var percentVal = percentComplete + '%';
			bar.width(percentVal);
			$('.tag_pub_box_progress').fadeIn(100);
		},beforeSubmit: function (a,b,c) {
			for (var i = 0 ;i < a.length ; i++) {
				if (a[i].name == 'postPhotos[]') {
					for (var b = 0 ;b < deleted_images.length ; b++) {
						if (a[i].value.name == deleted_images[b]) {
							a[i] = {name:'',value:''};
						}
					}
				}
			}
			deleted_images = [];
		},
		success: function (data) {
			$('#tagPostBox').modal('hide');
			$('#post_color_input').val("");
			$('.all_colors').hide();
			$('.wo_pub_txtara_combo').css("cssText", "");
			$('.postText').css("cssText", "");
			$('.publisher-box').removeClass('wo_pub_change_color');
			$('.msg_progress').fadeOut(100);
			$('.tag_pub_box_progress').fadeOut(100);
			publisher_button.attr('disabled', false);
			$("#postRecord").val('');
			$("#postSticker").val('');
			if(data.status == 200) {
				if(data.html.length > 0) {
					$('#posts, #posts_hashtag').find('.posts-container').remove();
				}
				$('#posts, #posts_hashtag').prepend(data.html);
				if (data.send_notify && data.send_notify == 'yes' && data.post_id) {
					$.post(Wo_Ajax_Requests_File() + '?f=posts&s=send_notify', {post_id: data.post_id}, function(data, textStatus, xhr) {});
				}
				$('.video-form, .emo-form, .music-form, .map-form, .file-form, .photo-form, .album-form, .feeling-type, .poll-form, .gif-form').slideUp(200);
				$(".video-poster-image").hide(10, function() {
					$(this).find('.preview').show(10);
					$(this).find('.image').empty().hide(10);
				});
				Wo_RemoveFetchedUrl();
				Wo_HidePosInfo();
				$('.pub-footer-upper').removeClass('tag_pub_btns_col_smal');
				$('form.publisher-box').clearForm();
				$('.feelings-value').html('');
				$('#postSticker').html('');
				$('select').prop('selectedIndex', 1);
				<?php if ($wo['config']['maxCharacters'] != 10000) { ?>
					$('#charsLeft').text("<?php echo $wo['config']['maxCharacters']?>");
				<?php } ?>
				<?php if (!empty($url)) { ?>
					window.close();
				<?php } ?>
				if (data.invalid_file == 1) {
					$("body").snackbar({
						message: "<?php echo str_replace('{file_size}', Wo_SizeUnits($wo['config']['maxUpload']), $wo['lang']['file_too_big']); ?>"
					});
				} else if(data.invalid_file == 2){
					$("body").snackbar({
						message: "<?php echo $wo['lang']['file_not_supported']; ?>"
					});
				} else if(data.invalid_file == 3){
					$("body").snackbar({
						message: "<?php echo $wo['lang']['adult_image_file']; ?>"
					});
				} else if(data.invalid_file == 4){
					$("body").snackbar({
						message: "<?php echo $wo['lang']['approve_post_text']; ?>"
					});
				} else{
					if (data.errors && data.errors != '') {
						$("#error_post").modal('show');
						$('#error_post_text').text(data.errors);
						Wo_Delay(function(){
							$("#error_post").modal('hide');
						},3000);
					}
				}
			} else if (data.status == 400) {
				if (data.invalid_file == 1) {
					$("body").snackbar({
						message: "<?php echo str_replace('{file_size}', Wo_SizeUnits($wo['config']['maxUpload']), $wo['lang']['file_too_big']); ?>"
					});
				} else if(data.invalid_file == 2){
					$("body").snackbar({
						message: "<?php echo $wo['lang']['file_not_supported']; ?>"
					});
				} else if(data.invalid_file == 3){
					$("body").snackbar({
						message: "<?php echo $wo['lang']['adult_image_file']; ?>"
					});
				} else if(data.invalid_file == 4){
					$("body").snackbar({
						message: "<?php echo $wo['lang']['free_plan_upload']; ?>",
						option: true,
						optionText: "<?php echo $wo['lang']['upgrade']; ?>",
						callback: function() {
							window.location.href = "<?php echo Wo_SeoLink('index.php?link1=go-pro'); ?>";
						}
					});
				} else{
					if (data.errors && data.errors != '') {
						$("#error_post").modal('show');
						$('#error_post_text').text(data.errors);
						Wo_Delay(function(){
							$("#error_post").modal('hide');
						},3000);
					}
				}
			} 
			fetch_url = 1;
			publisher_button.attr('disabled', false);
		}
	});

	var getUrl  = $('.postText');
	var sent = 0;
	$('.postText').bind("paste keyup input propertychange", function(e) {    
		if (($(".extracted_url").length > 0)){
			return false;
		} else if (/(https?:\/\/(?:.*)\.(?:png|jpg|gif|jpeg))/ig.test(getUrl.val())) {
			/* pass */
		} else {
			var match_url = /(https?:\/\/[^\s]+)/g;
			if (match_url.test(getUrl.val()) && sent == 0 && fetch_url == 1) {
				sent = 1;

				$("#results").hide();
				$('.msg_progress').fadeIn(100);
				var extracted_url = getUrl.val().match(match_url)[0];

				$.post(Wo_Ajax_Requests_File() + '?f=posts&s=fetch_url',{'url': extracted_url}, function(data){         
					extracted_images = data.images;
					total_images     = parseInt(data.images.length-1);
					img_arr_pos      = total_images;
					if(extracted_images != ''){
						inc_image   = '<div class="extracted_thumb" id="extracted_thumb"><img src="'+data.images[img_arr_pos]+'"></div>';
						input_image = data.images[img_arr_pos];
					} else {
						inc_image   = '';
						input_image = '';
					}
            
					var img_content = '';
					if (total_images > 1) {
						img_content = '<div class="thumb_select"><span class="small_text" id="total_imgs">'+img_arr_pos+' of '+total_images+'</span><span class="next_thumb" id="thumb_prev"><svg xmlns="http://www.w3.org/2000/svg" height="22" viewBox="0 0 24 24" width="22"><path fill="currentColor" d="M14.71 6.71c-.39-.39-1.02-.39-1.41 0L8.71 11.3c-.39.39-.39 1.02 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L10.83 12l3.88-3.88c.39-.39.38-1.03 0-1.41z"/></svg></span><span class="prev_thumb" id="thumb_next"><svg xmlns="http://www.w3.org/2000/svg" height="22" viewBox="0 0 24 24" width="22"><path fill="currentColor" d="M9.29 6.71c-.39.39-.39 1.02 0 1.41L13.17 12l-3.88 3.88c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41L10.7 6.7c-.38-.38-1.02-.38-1.41.01z"/></svg></span></div>';
					}
					var content = '<div class="extracted_url"><span class="btn btn-mat thumb-image-delete-btn" onclick="Wo_RemoveFetchedUrl();"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span>'+ inc_image +'<div class="extracted_content"><input class="url-input" type="text" name="url_title" value="'+data.title+'" dir="auto"><textarea onkeyup="textAreaAdjust(this, 70)" class="url-input-textarea url-input" name="url_content" placeholder="<?php echo $wo['lang']['description']?>" dir="auto">' + data.content + '</textarea><input type="hidden" id="url_image" name="url_image" value="'+ input_image +'"><input type="hidden" id="url_link" name="url_link" value="'+data.url+'"><div class="clear"></div>' + img_content;
					if (data.tweet && data.tweet == 'yes') {
						var content = '<div class="extracted_url"><span class="btn btn-mat thumb-image-delete-btn" onclick="Wo_RemoveFetchedUrl();"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span>'+ inc_image +'<div class="extracted_content"><input class="url-input hidden" type="text" name="url_title" value="'+data.title+'" dir="auto"><textarea onkeyup="textAreaAdjust(this, 70)" class="url-input-textarea url-input hidden" name="url_content" placeholder="<?php echo $wo['lang']['description']?>" dir="auto">' + data.content + '</textarea><input type="hidden" id="url_image" name="url_image" value="'+ input_image +'"><input type="hidden" id="url_link" name="url_link" value="'+data.url+'"><div class="clear"></div>' + img_content+data.content;
					}
					if (data.mp4 && data.mp4 == 'yes') {
						var content = '<div class="extracted_url"><span class="btn btn-mat thumb-image-delete-btn" onclick="Wo_RemoveFetchedUrl();"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span>'+data.content+'<div class="clear"><input type="hidden" id="url_link" name="url_link" value="'+data.url+'"><input class="url-input hidden" type="text" name="url_title" value="mp4" dir="auto"></div>';
					}
					$("#results").html(content); 
					$("#results").fadeIn(); 
					$('.msg_progress').fadeOut(100);
					sent = 0;
				},'json');
			}
		}
	});

	$("body").on("click","#thumb_prev", function(e){    
		if(img_arr_pos>0) {
			img_arr_pos--; 
			$("#extracted_thumb").html('<img src="'+extracted_images[img_arr_pos]+'">');
			$("#url_image").attr('value', extracted_images[img_arr_pos]);
			$("#total_imgs").html((img_arr_pos) +' of '+ total_images);
		}
	});
  
	$("body").on("click","#thumb_next", function(e){    
		if(img_arr_pos<total_images) {
			img_arr_pos++;
			$("#extracted_thumb").html('<img src="'+extracted_images[img_arr_pos]+'">');
			$("#url_image").attr('value', extracted_images[img_arr_pos]);
			$("#total_imgs").html((img_arr_pos) +' of '+ total_images);
		}
	});


});

function Wo_RemoveFetchedUrl() {
	fetch_url = 0;
	var content = $('form.publisher-box').find('.extracted_url');
	content.slideUp(function () {
		$(this).remove();
		if ($('.postText').val() != '') {
			$('.postText').focus();
		}
	});
}


var pac_input2 = document.getElementById('feelings-text');
function Wo_ShowFeelingType(type, text, placeholder, icon) {
	$('.feeling-types').slideUp(200, function () {
		$('.feelings-type-to').html(text);
		$('#feelings-text').attr('placeholder', decodeHtml(placeholder)).focus();
		$('#feeling-type').val(type);
		if (type != 'feelings') {
			$('#feelings-text').attr('readonly', false);
		}
		<?php if ($wo['config']['google_map']) { ?>
			if (type == 'traveling') {
				var autocomplete = new google.maps.places.Autocomplete(pac_input2);
			} else {
				google.maps.event.clearInstanceListeners(pac_input2);
			}
		<?php } ?>
		$('.' + type).slideToggle(200);
	});
}

function Wo_RestFeelings() {
	$('.feelings-type-to, .feelings-value').empty();
	$('#feelings-text').val('');
	$('#feelings-text').attr('readonly', true);
	$('#feelings-text').attr('placeholder', decodeHtml("<?php echo $wo["lang"]["feel_d"]?>"));
	$('.feeling-type, .feelings-type').slideUp(200);
	<?php if ($wo['config']['google_map']) { ?>
		google.maps.event.clearInstanceListeners(pac_input2);
	<?php } ?>
	Wo_ShowFeelings();
}

function Wo_AddFeeling(type, text, icon) {
	$('#feelings-text').val(type);
	$('.feelings-value').html('<i class="twa-lg twa twa-' + icon + '"></i> ' + text + '')
	Wo_ShowFeelingType('feelings', 'Feeling', 'What are you feeling ?', 'smile-o');
}
function smokeTheAt(str) {
	var n = str.search("@");
	if(n != "-1"){
		alert('sd');
	}
}

function Wo_AddAnswer() {
	answer_id = 0;
	$('.answers').find('input').each(function (index_id) {
		answer_id = Number(index_id) + 1;
	});
	var last_answer_id = (Number(answer_id) + 1);
	if (last_answer_id < 9) {
		$('.answers').append('<input name="answer[]" type="text" placeholder="<?php echo $wo['lang']['answer'] ?> ' + last_answer_id + '">');
		if (last_answer_id == 8) {
			$('#add_answer').hide();
		}
		$('.answers').find('input:last').focus();
	} else {
		$('#add_answer').hide();
	}
}

function Wo_HidePosInfo() {
	$(".postText").attr('opened', '0');
	fetch_url = 1;
}

$(document).on('focus', '#publisher-box-focus',function(){
	if(navigator.userAgent.toLowerCase().indexOf('firefox') > -1){
  		$(".postText").attr('opened', '1');
	}
});

function tag_closePubBox() {
	Wo_HidePosInfo();
	$('.tag_pub_box_progress').fadeOut(100);
	$('.msg_progress').fadeOut(100);
	$('.pub-footer-upper').removeClass('tag_pub_btns_col_smal');
	$('.video-form, .emo-form, .music-form, .map-form, .file-form, .photo-form, .album-form, .feeling-type, .poll-form, .gif-form').slideUp(200);
	$('.all_colors').hide();
	$('.wo_pub_txtara_combo').css("cssText", "");
	$('.postText').css("cssText", "");
	$('#post_color_input').val("");
	$('.publisher-box').removeClass('wo_pub_change_color');
	$(".all_colors_display").removeClass('selected');
}

function Wo_ResetAnswers() {
	$('.answers').find('input').each(function (index_id) {
		$(this).val('');
	});
	$('.poll-form').slideUp(200);
}
function Wo_PostSticker(self){
	if (!self) {
		return false;
	}
	$('#postSticker').val($(self).attr('data-gif'));
	Wo_Delay(function(){
		Wo_GetPRecordLink();
	},500)
}

function Wo_GetPostStickers(keyword){
	if (!keyword) {
		//return false;
	}
	$('.msg_progress').fadeIn(100);
	Wo_Delay(function(){
		$.ajax({
			url: 'https://api.giphy.com/v1/gifs/search?',
			type: 'GET',
			dataType: 'json',
			data: {q:keyword,api_key:'<?php echo $wo['config']['giphy_api'];?>', limit: 20},
		})
		.done(function(data) {
			if (data.meta.status == 200 && data.data.length > 0) {
				$('#publisher-box-stickers-cont').empty();
				var appended = false;
				for (var i = 0; i < data.data.length; i++) {
					appended = true;
					if (appended == true) {
						appended = false;
						$('#publisher-box-stickers-cont').append($('<div><span><img alt="gif" src="'+data.data[i].images.fixed_height_small.url+'" data-gif="' + data.data[i].images.downsized_large.url + '" onclick="Wo_PostSticker(this)" autoplay loop></span></div>'));
						appended = true;
					}
				}
				var images = 0;
				Wo_ElementLoad($('img[alt=gif]'), function(){
					images++;
				});
				$('.msg_progress').fadeOut(100);
			}
			else{
				$('.msg_progress').fadeOut(100);
				$('#publisher-box-stickers-cont').html('<div class="empty_state"><svg height="512pt" viewBox="0 0 512 512" width="512pt" xmlns="http://www.w3.org/2000/svg"><path d="m416 512h-320c-53.023438 0-96-42.976562-96-96v-320c0-53.023438 42.976562-96 96-96h320c53.023438 0 96 42.976562 96 96v320c0 53.023438-42.976562 96-96 96zm0 0" fill="#f5e6fe"/><path d="m229.425781 303.902344c0-39.359375 30.652344-71.644532 69.328125-74.398438v-69.601562c0-17.644532-14.355468-32-32-32h-106.675781c-17.644531 0-32 14.355468-32 32v149.328125c0 17.648437 14.355469 32 32 32h79.441406c-6.382812-10.992188-10.09375-23.710938-10.09375-37.328125zm-50.769531-46.078125c-7.039062-7.039063-19.425781-7.039063-26.464844 0l-2.765625 2.769531v-100.691406c0-5.886719 4.78125-10.671875 10.671875-10.671875h106.671875c5.886719 0 10.671875 4.785156 10.671875 10.671875v68.691406l-8.113281-8.113281c-7.296875-7.296875-19.167969-7.296875-26.464844 0l-50.765625 50.765625zm0 0" fill="#be63f9"/><path d="m381.328125 365.34375-28.625-28.625c6.351563-9.375 10.050781-20.65625 10.050781-32.796875 0-32.335937-26.320312-58.675781-58.675781-58.675781-32.351563 0-58.671875 26.320312-58.671875 58.675781 0 32.351563 26.320312 58.671875 58.671875 58.671875 12.515625 0 24.097656-3.96875 33.632813-10.671875l28.511718 28.511719c2.082032 2.078125 4.816406 3.117187 7.539063 3.117187 2.71875 0 5.453125-1.039062 7.535156-3.117187 4.191406-4.175782 4.191406-10.929688.03125-15.089844zm-77.230469-24.097656c-20.578125 0-37.328125-16.75-37.328125-37.324219 0-20.578125 16.75-37.328125 37.328125-37.328125 20.574219 0 37.328125 16.75 37.328125 37.328125 0 20.574219-16.753906 37.324219-37.328125 37.324219zm0 0" fill="#d9a4fc"/><path d="m202.753906 202.574219c0 11.78125-9.550781 21.328125-21.328125 21.328125-11.78125 0-21.328125-9.546875-21.328125-21.328125 0-11.777344 9.546875-21.328125 21.328125-21.328125 11.777344 0 21.328125 9.550781 21.328125 21.328125zm0 0" fill="#be63f9"/></svg><?php echo $wo['lang']['no_result']; ?></div>');
			}
		})
		.fail(function() {
			console.log("error");
		})
	},100);
}


</script>
<?php 
	if (isset($_GET['id']) && is_numeric($_GET['id']) && $_GET['id'] > 0) { ?>
			<script>
				setFundId(<?=$_GET['id']?>);
				setChallengeId(<?=$_GET['challenge_fund_id']?>);
				getCampaignDetailById(<?=$_GET['id']?>);
			</script>
<?php } ?>
<?php 
if(isset($_GET['fund_id']) && !empty($_GET['fund_id'])){ ?>
		<script>
			setFundId(<?=$_GET['fund_id']?>);
			getCampaignDetailById(<?=$_GET['fund_id']?>);
		</script>
<?php } ?>
<script>
$(function(){
	$('#campaign_detail_form').ajaxSubmit({
	url: Wo_Ajax_Requests_File() + '?f=funding&s=get_all_challenges',
	beforeSend: function() {
		var challeneTitle = [];
	},
	success: function(data) {
		if (data['status'] == 200) {
		// window.location = data.url;
			window.challenge = data['challenges'];
			// console.log("titles",data['title']);
			var challeneTitle = data['title'];
			$('input#title').autocomplete({
				source: challeneTitle,
				minLength: 0,
				change: function (event, ui) { selectedchallenge(ui.item.id); },

			});
			// $('input#title').autocomplete("search");


		} else if (data['message']) {
		}
	}});


});

function selectedchallenge(value){
	$('#challenge_id').val(value);
}

function searchCampaign(){

	disableSearch(true);

	var search = $('#search').val();
	
	if(search == ''){
		if ($('#campaigns').find('#search-campaigns').length) {
    		// found!
			location.reload();
		}
		disableSearch(false);

	}else{
		$('#campaigns').empty();
		$.ajax({
		url: Wo_Ajax_Requests_File() + '?f=funding&s=search_funding',
			type: 'GET',
			dataType: 'json',
			data: {search:search},
		})
		.done(function(data) {
			if(data['status'] == 200){
				$('#campaigns').append(data['html']);
				disableSearch(false);
			}else{
				disableSearch(false);

			}
		})
		.fail(function() {
			console.log("error");
		});
	}

}

// event listsner
$('input#search').keyup(function(e){
    if(e.keyCode == 13)
    {
		searchCampaign();
	}
});

function disableSearch($boo){
	$('#search').prop( "disabled", $boo );
	$('#searchBtn').prop( "disabled", $boo );
}
</script>