<?php 
$query = $wo['story']['id'];
$challenge_id = $wo['story']['challenge_fund_data']['challenge']['id'];
$image = Wo_GetMedia($wo['story']['challenge_fund_data']['file']);
if (strpos($wo['story']['challenge_fund_data']['file'],',') !== false) {
    $explode = @explode(',', $wo['story']['challenge_fund_data']['file'] );
    $image = Wo_GetMedia($explode[0]);
}
if ($wo['config']['shout_box_system'] == 1 && $wo['story']['postPrivacy'] == 4) {
      $anonymous = true;
      $wo['story']['publisher']['username'] = 'anonymous';
      $wo['story']['publisher']['name'] = $wo['lang']['anonymous'];
      $wo['story']['publisher']['avatar'] = Wo_GetMedia('upload/photos/incognito.png');
      $wo['story']['publisher']['verified'] = 0;
      $wo['story']['publisher']['type'] = '';
	  $wo['story']['publisher']['url'] = 'javascript:void(0)';
   }
?>
<div class="lightbox-backgrond" onclick="Wo_CloseLightbox();"></div>
<div class="lightbox-content post wo_imagecombo_lbox lightpost-<?php echo $wo['story']['id'];?>" id="post-<?php echo $wo['story']['id'];?>" data-post-id="<?php echo $wo['story']['id'];?>">
	<div class="story-img">
		<div class="valign tag_lbox_toolbar">
			<div class="valign">
				<div class="btn btn-mat close-lightbox" onclick="Wo_CloseLightbox();">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M7.828 11H20v2H7.828l5.364 5.364-1.414 1.414L4 12l7.778-7.778 1.414 1.414z"/></svg>
				</div>
					
			</div>
			<div class="center text-center ml-5">
   					<h4 style="color:white;"><?=$wo['story']['challenge_fund_data']['challenge']['title']?></h4>
			</div>		
			<div class="valign">
				<?php if ($wo['story']['blur'] == 0) { ?>
					<a class="btn btn-mat" href="<?php echo $image;?>" title="<?php echo $wo['lang']['download'];?>" download><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M12 2c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2zm0 18c4.42 0 8-3.58 8-8s-3.58-8-8-8-8 3.58-8 8 3.58 8 8 8zm1-8h3l-4 4-4-4h3V8h2v4z"/></svg></a>
					<a class="btn btn-mat" href="<?php echo $image;?>" title="<?php echo $wo['lang']['open_original'];?>" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M10 6v2H5v11h11v-5h2v6a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h6zm11-3v8h-2V6.413l-7.793 7.794-1.414-1.414L17.585 5H13V3h8z"/></svg></a>
					<?php
						$fileType = strtolower(substr($image, strrpos($image, '.') + 1));
						if ($wo['loggedin'] && $wo['user']['user_id'] == $wo['story']['publisher']['user_id'] && ( $fileType == 'jpg' || $fileType == 'jpeg' || $fileType == 'png') ){
					?>
						<button type="button" class="btn btn-mat" onclick="rotate(<?php echo $wo['story']['id'];?>)"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M13.414 6l1.829 1.828-1.415 1.415L9.586 5 13.828.757l1.415 1.415L13.414 4H16a5 5 0 0 1 5 5v4h-2V9a3 3 0 0 0-3-3h-2.586zM15 11v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V11a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1zm-2 1H5v8h8v-8z"/></svg></button>
					<?php } ?>
					<button type="button" class="btn btn-mat" onclick="zoomin(<?php echo $wo['story']['id'];?>)"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M18.031 16.617l4.283 4.282-1.415 1.415-4.282-4.283A8.96 8.96 0 0 1 11 20c-4.968 0-9-4.032-9-9s4.032-9 9-9 9 4.032 9 9a8.96 8.96 0 0 1-1.969 5.617zm-2.006-.742A6.977 6.977 0 0 0 18 11c0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7a6.977 6.977 0 0 0 4.875-1.975l.15-.15zM10 10V7h2v3h3v2h-3v3h-2v-3H7v-2h3z"/></svg></button>
					<button type="button" class="btn btn-mat" onclick="zoomout(<?php echo $wo['story']['id'];?>)"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M18.031 16.617l4.283 4.282-1.415 1.415-4.282-4.283A8.96 8.96 0 0 1 11 20c-4.968 0-9-4.032-9-9s4.032-9 9-9 9 4.032 9 9a8.96 8.96 0 0 1-1.969 5.617zm-2.006-.742A6.977 6.977 0 0 0 18 11c0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7a6.977 6.977 0 0 0 4.875-1.975l.15-.15zM7 10h8v2H7v-2z"/></svg></button>
				<?php } ?>
				<?php
					$fileType = strtolower(substr($image, strrpos($image, '.') + 1));
					if ($wo['loggedin'] && $wo['user']['user_id'] == $wo['story']['publisher']['user_id'] && ( $fileType == 'jpg' || $fileType == 'jpeg' || $fileType == 'png') && $wo['story']['multi_image_post']) {
				?>
					<button type="button" class="btn btn-mat" onclick="Wo_DeletePost(<?php echo $wo['story']['id'];?>);"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M17 6h5v2h-2v13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V8H2V6h5V3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v3zm1 2H6v12h12V8zm-9 3h2v6H9v-6zm4 0h2v6h-2v-6zM9 4v2h6V4H9z"/></svg></button>
				<?php } ?>
				<button type="button" class="btn btn-mat btn-toggle-lbox-info" onclick="$('.lightpost-<?php echo $wo['story']['id'];?>').toggleClass('hide_lbox_info');"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM11 7h2v2h-2V7zm0 4h2v6h-2v-6z"/></svg></button>
			</div>
		</div>
		<div class="tag_lbox_blur_img"><div class="tag_lbox_blur_img_innr"><img src="<?php echo $image. "?cache=" . time();?>"></div></div>
		<div class="tag_lbox_img_innr">
			<span class="btn btn-mat changer previous-btn" onclick="Wo_PreviousChallenge(<?php echo $query;?>,<?=$challenge_id?>);"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z"/></svg></span>
			<span class="btn btn-mat changer next-btn" onclick="Wo_NextChallenge(<?php echo $query;?>,<?=$challenge_id?>);"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z"/></svg></span>
			<div id="draggableHelper" class="dragable" onclick="$('.lightpost-<?php echo $wo['story']['id'];?>').toggleClass('active');">
			<div class="post-file wo_shared_doc_file mg-10" id="fullsizeimg" style="padding:20px;" >
						<?php
						$media = array(
							'type' => 'post',
							'storyId' => $wo['story']['challenge_fund_data']['id'],
							'filename' => $wo['story']['challenge_fund_data']['fileName'],
							'name' =>  $wo['story']['challenge_fund_data']['file'],
							'postFileThumb' => $wo['story']['challenge_fund_data']['fileThumb'],
						);
						echo Wo_DisplaySharedFile($media, '', $wo['story']['challenge_fund_data']['fund_data']['cache']);
						?>
					</div>
			</div>
		</div>
		<div class="tag_mobi_lbox_foot">
			<div class="valign tag_lbox_hdr">
				<div class="avatar">
					<a href="<?php echo $wo['story']['publisher']['url'];?>"><img src="<?php echo $wo['story']['publisher']['avatar'];?>"></a>
				</div>
				<div>
					<h4>
						<?php if (!isset($anonymous)) { ?>
							<a href="<?php echo $wo['story']['publisher']['url'];?>"><?php echo $wo['story']['publisher']['name'];?></a>
						<?php } else { ?>
							<?php echo $wo['story']['publisher']['name'];?>
						<?php } ?>
					</h4>
					<span class="ajax-time" title="<?php echo date('c',$wo['story']['time']); ?>"><?php echo Wo_Time_Elapsed_String($wo['story']['time']); ?></span>
				</div>
			</div>
			<p class="bold pointer tag_mobi_lbox_foot_com_count" onclick="$('.lightpost-<?php echo $wo['story']['id'];?>').addClass('com_active');"><?php echo count($wo['story']['get_post_comments']); ?> <?php echo $wo['lang']['comments'];?></p>
		</div>
	</div>
	<div class="comment-section ">
		<div class="wow_lightbox_right">
			<?php if (Wo_IsMobile() == false) { ?>
			<div class="comment-section-inner tag_mobi_lbox_comment-section overflow-auto">
				<div class="comment-inner-middle" <?php if ($wo['loggedin'] != true) { ?>onclick="location.href= '<?php echo $wo['config']['site_url'];?>'"<?php } ?>>
					<div class="valign tag_lbox_hdr">
						<div class="avatar">
							<a href="<?php echo $wo['story']['publisher']['url'];?>"><img src="<?php echo $wo['story']['publisher']['avatar'];?>"></a>
						</div>
						<div>
							<h4>
								<?php if (!isset($anonymous)) { ?>
									<a href="<?php echo $wo['story']['publisher']['url'];?>"><?php echo $wo['story']['publisher']['name'];?></a>
								<?php } else { ?>
									<?php echo $wo['story']['publisher']['name'];?>
								<?php } ?>
							</h4>
							<span class="ajax-time" title="<?php echo date('c',$wo['story']['time']); ?>"><?php echo Wo_Time_Elapsed_String($wo['story']['time']); ?></span>
						</div>
					</div>
					<div class="wow_dontd_posts_innr">
							<div class="wow_dontd_posts_left">
								<b><?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].$wo['story']['challenge_fund_data']['fund_data']['raised']; ?> <?php echo $wo['lang']['raised_of']; ?> <?php echo $wo['config']['currency_symbol_array'][$wo['config']['currency']].$wo['story']['challenge_fund_data']['fund_data']['amount']; ?></b>
								<div class="fund_raise_bar">
									<div class="progress">
										<div class="progress-bar" role="progressbar" style="width: <?php echo $wo['story']['challenge_fund_data']['fund_data']['bar']; ?>%" aria-valuenow="<?php echo $wo['story']['challenge_fund_data']['fund_data']['bar']; ?>" aria-valuemin="0" aria-valuemax="<?php echo($wo['story']['challenge_fund_data']['fund_data']['amount']) ?>"></div>
									</div>
								</div>
							</div>
							<div class="text-center">
								<time>
									<?php
										if(!empty($wo['story']['challenge_fund_data']['fund_data']['due_date'])){
											echo Wo_Time_Elapsed_String(strtotime(
												$wo['story']['challenge_fund_data']['fund_data']['due_date']),
												"due_date");
										}
									?>
								</time>
			
							</div>
						</div>
					<div class="post-info tag_scroll">
						<div class="post-text">
							<p> <?=Wo_GetTotalFundRaisedByChallengeFund($wo['story']['challenge_fund_data']['challenge']['id'],$wo['story']['challenge_fund_data']['fund_data']['id'])?> Raised By this challenge </p>
						</div>				
					</div>
					<div id="post-info campaign_info">
						<h6>Campaign</h6>
						<a href="<?php echo $wo['config']['site_url'].'/show_fund/'. $wo['story']['challenge_fund_data']['fund_data']['hashed_id']; ?>">
							<div class="row ml-2">
								<img width="50px" height="50px" src="<?=$wo['story']['challenge_fund_data']['fund_data']['image']?>">
								<p class="ml-3 mt-3"><?=$wo['story']['challenge_fund_data']['fund_data']['title']?></p>
							</div>
						</a>
					</div>
					<div id="post-info campaign_detail_info">
						<div class="row ml-1">
							<div class="col-md-6">
								<h6>Organizer</h6>
								<div class="postMeta--author-avatar">
									<a href="<?=$wo['story']['challenge_fund_data']['fund_data']['user_data']['url']?>">
										<img src="<?=$wo['story']['challenge_fund_data']['fund_data']['user_data']['avatar']?>" alt="User Image">
									</a>
								</div>
								<div class="postMeta--author-text">
									<span class="user-popover" data-id="<?=$wo['story']['challenge_fund_data']['fund_data']['user_data']['id']?>" data-type="user">
										<a href="<?=$wo['story']['challenge_fund_data']['fund_data']['user_data']['url']?>" data-ajax="?link1=timeline&u=<?=$wo['story']['challenge_fund_data']['fund_data']['user_data']['username']?>">
										<?=$wo['story']['challenge_fund_data']['fund_data']['user_data']['name']?>
									</a>
									</span>
								</div>

							</div>
							<div class="col-md-6">
								<h6>Beneficiary</h6>
								<div class="postMeta--author-avatar">
									<a href="">
										<img src="<?=$wo['story']['challenge_fund_data']['fund_data']['beneficiary_data']['avatar']?>" alt="User Image">
									</a>
								</div>
								<div class="postMeta--author-text">
									<?=Wo_Markup($wo['story']['challenge_fund_data']['fund_data']['beneficiary'],false,false,true,0) ?>
								</div>
							</div>
    					</div>
						<div clas="row ml-1 text-center">
							<div class="col-md-12 text-center m-1">
								<a href="<?=$wo['config']['site_url']."/?link1=create_challenge&challenge_fund_id=".$wo['story']['challenge_fund_data']['id']."&id=".$wo['story']['challenge_fund_data']['fund_data']['id']."&post_id=".$wo['story']['id']?>">
									<button class="btn btn-success">Accept Challenge</button>
								</a>
							</div>
							<div class="col-md-12 text-center m-1">
							<div id="donate_for_fund_modal"></div>
							<!-- <a href="<?= $wo['config']['site_url']."/show_fund/". $wo['story']['challenge_fund_data']['fund_data']['hashed_id']."&challenge_id=".$wo['story']['challenge_fund_data']['challenge']['id']?>"> -->
								<button data-toggle="modal" data-target="#dont_modal"  class="btn btn-success">Donate Challenge</button>
								<!-- </a> -->
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<?php if (Wo_IsMobile() == false) { ?>
					<div class="valign stats tag_post_actions">
						<div class="valign">
							<?php if ($wo['loggedin'] == true) { $wo['story']['viewmode'] = "lightbox";  echo Wo_LoadPage('buttons/like-wonder');}?>
						</div>
						<?php if ($wo['config']['second_post_button'] == 'reaction') { ?>
							<div class="valign tag_post_foot_stats">
								<div class="valign post-actions">
									<div class="valign like-stat stat-item">
										<span class="valign like-emo post-reactions-icons-<?php echo $wo['story']['id']; ?>" onclick="Wo_OpenPostReactedUsers(<?php echo $wo['story']['id']; ?>);"><?php echo Wo_GetPostReactions($wo['story']['id']);?></span>
									</div>
								</div>
							</div>
						<?php }?>
					</div>
					<?php }?>
			<hr class="style-two">
			<?php } ?>
			<p class="bold tag_lbox_cooms_count"><button type="button" class="btn lbox_coms_navigation" onclick="$('.lightpost-<?php echo $wo['story']['id'];?>').removeClass('com_active');"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" fill="currentColor"></path></svg></button><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path fill="currentColor" d="M14 22.5L11.2 19H6a1 1 0 0 1-1-1V7.103a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1V18a1 1 0 0 1-1 1h-5.2L14 22.5zm1.839-5.5H21V8.103H7V17H12.161L14 19.298 15.839 17zM2 2h17v2H3v11H1V3a1 1 0 0 1 1-1z"/></svg> <?php echo count($wo['story']['get_post_comments']); ?> <?php echo $wo['lang']['comments'];?></p>
			<div class="comment-inner-footer lightbox-post-footer tag_scroll <?php echo ($wo['story']['comments_status'] == 0) ? 'hidden' : '';?>">
				<div id="hidden_inputbox_comment_lighbox"></div>
				<div class="comments-list comments-list-lightbox">
					<div class="comment comment-container"></div>
					<div class="comment comment-container"></div>
					<?php 
						foreach($wo['story']['get_post_comments'] as $wo['comment']) {
							echo Wo_LoadPage('comment/lightbox-content');
						}
					?>
					<?php if (empty($wo['story']['get_post_comments'])) { ?>
						<div class="lightbox-no-comments">
							<div class="empty_state">
								<svg height="512" viewBox="0 0 32 32" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m26 32h-20c-3.314 0-6-2.686-6-6v-20c0-3.314 2.686-6 6-6h20c3.314 0 6 2.686 6 6v20c0 3.314-2.686 6-6 6z" fill="#ffe6e2"/><path d="m13.667 9.833c0-.7.26-1.34.687-1.833h-4.52c-1.014 0-1.834.82-1.834 1.833v3.667c0 1.013.82 1.833 1.833 1.833h.833v1.5c0 .2.12.38.3.46.067.027.133.04.2.04.127 0 .247-.047.34-.133l2.02-1.867h.827c-.427-.493-.687-1.133-.687-1.833v-3.667z" fill="#fd907e"/><g fill="#fc573b"><circle cx="10.667" cy="19.333" r="1.333"/><path d="m11.5 21.333h-1.667c-1.011 0-1.833.823-1.833 1.834v.333c0 .276.224.5.5.5h4.333c.276 0 .5-.224.5-.5v-.333c0-1.011-.822-1.834-1.833-1.834z"/><circle cx="21.333" cy="19.333" r="1.333"/><path d="m22.167 21.333h-1.667c-1.011 0-1.833.822-1.833 1.833v.334c0 .276.224.5.5.5h4.333c.276 0 .5-.224.5-.5v-.333c0-1.011-.822-1.834-1.833-1.834z"/></g><path d="m20.833 17.333c-.123 0-.245-.046-.339-.132l-2.023-1.868h-1.971c-1.011 0-1.833-.822-1.833-1.833v-3.667c0-1.011.822-1.833 1.833-1.833h5.667c1.011 0 1.833.822 1.833 1.833v3.667c0 1.011-.822 1.833-1.833 1.833h-.833v1.5c0 .199-.118.378-.299.458-.066.029-.134.042-.202.042z" fill="#fd907e"/></svg> <?php echo $wo['lang']['no_comments_found'];?>
							</div>
						</div>
					<?php } ?>
				</div>
			</div>
			<div class="lightbox-post-footer post-comments <?php echo ($wo['story']['comments_status'] == 0) ? 'hidden' : '';?>" id="post-comments-<?php echo $wo['story']['id'];?>"  <?php if ($wo['loggedin'] != true) { ?>onclick="location.href= '<?php echo $wo['config']['site_url'];?>'"<?php } ?>>
				<div class="valign tag_lbox_comcombo">
					<img class="avatar" src="<?php echo $wo['user']['avatar'];?>"/>
					<div class="valign">
						<textarea rows="1" class="form-control lighbox comment-textarea textarea" onkeyup="Wo_RegisterComment(this.value,<?php echo $wo['story']['id']; ?>,<?php echo $wo['story']['publisher']['user_id']; ?>, event, <?php echo (!empty($wo['story']['publisher']['page_id'])) ? $wo['story']['publisher']['page_id'] : '0'; ?>)" onkeydown="textAreaAdjust(this, 30,'lightbox')" placeholder="<?php echo $wo['lang']['write_comment'];?>" dir="auto"></textarea>
						<div class="valign image-comment">
							<div class="dropup">
								<span data-toggle="dropdown" role="button" aria-expanded="false" class="btn emo-comment dropdown-toggle" >
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"><circle cx="12" cy="12" r="10" fill="currentColor" opacity="0.4"></circle><path fill="currentColor" d="M12,17.0918a5.67258,5.67258,0,0,1-3.64258-1.32618.99954.99954,0,1,1,1.28516-1.53124,3.76605,3.76605,0,0,0,4.71484,0,.99954.99954,0,1,1,1.28516,1.53124A5.67258,5.67258,0,0,1,12,17.0918Z"></path><circle cx="15" cy="10" r="1" fill="currentColor"></circle><circle cx="9" cy="10" r="1" fill="currentColor"></circle></svg>
								</span>
								<ul class="dropdown-menu dropdown-menu-right tag_scroll emo-post-container">
									<?php  
										foreach ($wo['emo'] as $code => $name) {
											$code   = $code;
											echo  '<span onclick="Wo_AddEmoToCommentInput(' . $wo["story"]["id"] . ', \'' . $code . '\', \'lightbox-post-footer\');"><i class="pointer twa-lg twa twa-' . $name . '"></i></span>'; 
										} 
									?>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>

<div class="modal fade" id="dont_modal" tabindex="-1" role="dialog">
	<div class="modal-dialog wow_mat_mdl modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><?php echo $wo['lang']['donate']; ?> <?php echo $wo['lang']['amount']; ?></h4>
			</div>
			<div class="modal-body">
				<div id="amount_fund_alert"></div>
				<div class="row">
					<button class="btn btn-success fa-lg m-2" onclick="setDonationValue(100)" >100$</button>
					<button class="btn btn-success fa-lg m-2" onclick="setDonationValue(200)">200$</button>
					<button class="btn btn-success fa-lg m-2" onclick="setDonationValue(500)">500$</button>
					<button class="btn btn-success fa-lg m-2" onclick="setDonationValue(1000)">1000$</button>
					<button class="btn btn-success fa-lg m-2" onclick="setDonationValue(5000)">5000$</button>
					<button class="btn btn-success fa-lg m-2" onclick="setDonationValue(10000)">10000$</button>
					
				</div>
				<div class="fund_input text-center">
					<input type="text" name="amount" placeholder="0.00" id="fund_donate_amount" onkeyup="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
					<div id="place"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-mat disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel'] ?></button>
				<button class="bank_payment btn btn-main btn-mat" onclick="Wo_GetPaymentMethods(this);"><?php echo $wo['lang']['donate']; ?></button>
				<input type="hidden" class="form-control" id="fund_donate_id" value="<?php echo $wo['story']['challenge_fund_data']['fund_data']['id']; ?>">
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="bank_transfer_donate_modal" role="dialog" data-keyboard="false">
	<div class="modal-dialog wow_mat_mdl">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><?php echo $wo['lang']['bank_transfer'] ?></h4>
			</div>
			<form class="form form-horizontal" method="post" id="bank_transfer_form_donate" action="#">
				<div class="modal-body dt_bank_trans_modal">
					<div id="blog-alert"></div>
					
					<?php echo $wo['config']['bank_description'];?>
					
					<?php if (!empty($wo['config']['bank_transfer_note'])) { ?>
						<div class="dt_user_profile hide_alert_info_bank_trans">
							<ul class="dt_prof_vrfy">
								<li><?php echo $wo['config']['bank_transfer_note'];?></li>
							</ul>
						</div>
					<?php } ?>
					<div class="upload_bank_receipts">
						<div onclick="document.getElementById('upload').click(); return false">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2M13.5,16V19H10.5V16H8L12,12L16,16H13.5M13,9V3.5L18.5,9H13Z"></path></svg>
							<p><?php echo $wo['lang']['browse_to_upload']; ?></p>
							<img id="receipt_img_preview" src="">
						</div>
					</div>
					<?php if(isset($_GET['challenge_id'])){?>
						<input value="<?=$_GET['challenge_id'];?>" name="challenge_id" type="hidden" id="challenge_id" class="hidden">
					<?php }?>
					<input name="price" type="hidden" id="bank_donate_price" class="hidden">
					<input name="fund_id" type="hidden" id="bank_donate_fund_id" class="hidden">
					<input type="hidden" name="hash_id" value="<?php echo Wo_CreateSession();?>">
					<input name="thumbnail" type="file" id="upload" class="hidden" accept="image/*">
					<input type="reset" id="configreset" value="Reset" class="hidden">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-mat btn-default disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel']; ?></button>
					<button type="submit" class="btn btn-main btn-mat disable_btn"><?php echo $wo['lang']['send']; ?></button>
				</div>
			</form>
		</div>
	</div>
</div>


<div class="modal fade" id="2checkout_wallet_donate_modal" role="dialog" data-keyboard="false">
	<div class="modal-dialog wow_mat_mdl modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><?php echo $wo['lang']['2checkout'] ?></h4>
			</div>
			<form class="form form-horizontal" method="post" id="2checkout_form_donate_wallet" action="#">
				<div class="modal-body twocheckout_modal">
					<div id="2checkout_alert_donate_wallet"></div>
					<div class="clear"></div>
					<div class="row">
						<div class="col-lg-6">
							<label class="tag_field">
								<input id="card_name" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['name']) ?>">
								<span><?php echo $wo['lang']['name']; ?></span>
							</label>
							<label class="tag_field">
								<input id="card_email" type="email" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['email']) ?>">
								<span><?php echo $wo['lang']['email']; ?></span>
							</label>
							<label class="tag_field">
								<input id="card_phone" type="tel" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['phone_number']) ?>">
								<span><?php echo $wo['lang']['phone_number']; ?></span>
							</label>
							<label class="tag_field">
								<input id="card_address" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['address']) ?>">
								<span><?php echo $wo['lang']['address']; ?></span>
							</label>
							<div class="row">
								<div class="col-md-6">
									<label class="tag_field">
										<input id="card_city" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['city']) ?>">
										<span><?php echo $wo['lang']['city']; ?></span>
									</label>
								</div>
								<div class="col-md-6">
									<label class="tag_field">
										<input id="card_zip" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['zip']) ?>">
										<span><?php echo $wo['lang']['zip']; ?></span>
									</label>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<label class="tag_field">
										<input id="card_state" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['state']) ?>">
										<span><?php echo $wo['lang']['state']; ?></span>
									</label>
								</div>
								<div class="col-md-6">
									<label class="tag_field">
										<select id="card_country" name="card_country">
											<?php 
												foreach ($wo['countries_name'] as $country_ids => $country) { 
													$country_id = $wo['user']['country_id'];
													$selected_contry = ($country_ids == $country_id) ? ' selected' : '' ;
											?>
												<option value="<?php echo $country_ids;?>" <?php echo $selected_contry;?> ><?php echo $country;?></option>
											<?php } ?>
										</select>
										<span><?php echo $wo['lang']['country']; ?></span>
									</label>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="two_check_card">
								<label class="tag_field">
									<input id="_number_" type="text" autocomplete="off" placeholder=" ">
									<span><?php echo $wo['lang']['card_number']; ?></span>
									<input id="card_number" name="card_number" type="hidden" autocomplete="off">
								</label>
								<label class="tag_field">
									<select id="card_month" name="card_month">
										<option value="01">01</option>
										<option value="02">02</option>
										<option value="03">03</option>
										<option value="04">04</option>
										<option value="05">05</option>
										<option value="06">06</option>
										<option value="07">07</option>
										<option value="08">08</option>
										<option value="09">09</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
									</select>
									<span><?php echo $wo['lang']['month']; ?></span>
								</label>
								<label class="tag_field">
									<select id="card_year" name="card_year">
										<?php for ($i=date('Y'); $i <= date('Y')+15; $i++) {  ?>
											<option value="<?php echo($i) ?>"><?php echo($i) ?></option>
										<?php } ?>
									</select>
									<span><?php echo $wo['lang']['year']; ?></span>
								</label>
								<label class="tag_field">
									<input id="card_cvc" name="card_cvc" type="text" autocomplete="off" placeholder=" " maxlength="3" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
									<span>CVC</span>
								</label>
							</div>
						</div>
					</div>
					<div class="clear"></div>
					<input id="card_token" name="token" type="hidden" value="">
					<input id="donate_check_amount" name="amount" type="hidden" value="">
					<input id="donate_check_fund_id" name="fund_id" type="hidden" value="">
				</div>
				<div class="clear"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-mat btn-default disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel']; ?></button>
					<button type="button" class="btn btn-main btn-mat disable_btn" onclick="tokenRequest()" id="2checkout_btn_wallet"><?php echo $wo['lang']['pay']; ?></button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="paystack_fund_modal" role="dialog" data-keyboard="false">
	<div class="modal-dialog wow_mat_mdl modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><?php echo $wo['lang']['paystack'] ?></h4>
			</div>
			<form class="form form-horizontal" method="post" id="paystack_fund_form" action="#">
				<div class="modal-body">
					<div id="paystack_fund_alert"></div>
					<div class="clear"></div>
					<label class="tag_field">
						<input id="paystack_fund_email" type="email" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['email']) ?>">
						<span><?php echo $wo['lang']['email']; ?></span>
					</label>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<input type="hidden" name="paystack_fund_id" id="paystack_fund_id">
				<input type="hidden" name="paystack_fund_amount" id="paystack_fund_amount">
				<div class="modal-footer">
					<button type="button" class="btn btn-mat btn-default disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel']; ?></button>
					<button type="button" class="btn btn-main btn-mat disable_btn" id="paystack_btn" onclick="InitializeFundPaystack()"><?php echo $wo['lang']['pay']; ?></button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="cashfree_wallet_modal" role="dialog" data-keyboard="false">
	<div class="modal-dialog wow_mat_mdl modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><?php echo $wo['lang']['cashfree'] ?></h4>
			</div>
			<form class="form form-horizontal" method="post" id="cashfree_form" action="#">
				<div class="modal-body">
					<div id="cashfree_wallet_alert"></div>
					<div class="clear"></div>
					<label class="tag_field">
						<input id="cashfree_name" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['name']) ?>">
						<span><?php echo $wo['lang']['name']; ?></span>
					</label>
					<label class="tag_field">
						<input id="cashfree_email" type="email" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['email']) ?>">
						<span><?php echo $wo['lang']['email']; ?></span>
					</label>
					<label class="tag_field">
						<input id="cashfree_phone" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['phone_number']) ?>">
						<span><?php echo $wo['lang']['phone_number']; ?></span>
					</label>
					<input type="hidden" name="cashfree_type" id="cashfree_type">
					<input type="hidden" name="cashfree_fund_id" id="cashfree_fund_id">
				    <input type="hidden" name="cashfree_fund_amount" id="cashfree_fund_amount">
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-mat btn-default disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel']; ?></button>
					<button type="button" class="btn btn-main btn-mat disable_btn" id="cashfree_btn" onclick="SignatureWalletCashfree()"><?php echo $wo['lang']['pay']; ?></button>
				</div>
			</form>
		</div>
	</div>
</div>

<?php if ($wo['config']['razorpay_payment'] == 'yes' && !empty($wo['config']['razorpay_key_id']) && !empty($wo['config']['razorpay_key_secret'])) { ?>
<div class="modal fade" id="razorpay_modal" role="dialog" data-keyboard="false">
	<div class="modal-dialog wow_mat_mdl modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><?php echo $wo['lang']['razorpay'] ?></h4>
			</div>
			<form class="form form-horizontal" method="post" id="razorpay_form" action="#">
				<div class="modal-body">
					<div id="razorpay_alert"></div>
					<div class="clear"></div>
					<label class="tag_field">
						<input id="razorpay_name" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['name']) ?>">
						<span><?php echo $wo['lang']['name']; ?></span>
					</label>
					<label class="tag_field">
						<input id="razorpay_email" type="email" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['email']) ?>">
						<span><?php echo $wo['lang']['email']; ?></span>
					</label>
					<label class="tag_field">
						<input id="razorpay_phone" type="text" autocomplete="off" placeholder=" " value="<?php echo($wo['user']['phone_number']) ?>">
						<span><?php echo $wo['lang']['phone_number']; ?></span>
					</label>
					<input type="hidden" name="razorpay_fund_id" id="razorpay_fund_id">
					<input type="hidden" name="razorpay_fund_amount" id="razorpay_fund_amount">
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-mat btn-default disable_btn" data-dismiss="modal" aria-label="Close"><?php echo $wo['lang']['cancel']; ?></button>
					<button type="button" class="btn btn-main btn-mat disable_btn" id="razorpay_btn" onclick="SignatureRazorpay()"><?php echo $wo['lang']['pay']; ?></button>
				</div>
			</form>
		</div>
	</div>
</div>



<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<?php } ?>
<script type="text/javascript">
<?php if ($wo['config']['razorpay_payment'] == 'yes' && !empty($wo['config']['razorpay_key_id']) && !empty($wo['config']['razorpay_key_secret'])) { ?>
function pay_using_razorpay_fund(fund_id,amount) {
	$("#razorpay_fund_id").val(fund_id);
	$("#razorpay_fund_amount").val(amount);
	$("#razorpay_alert").html('');
	$('#fund_payment_donate_modal').modal('hide');
	$('#razorpay_modal').modal({
        show: true
    });
}

function SignatureRazorpay() {
	$('#razorpay_btn').html("<?php echo($wo['lang']['please_wait']) ?>");
	$('#razorpay_btn').attr('disabled','true');
    var merchant_order_id = "<?php echo(round(111111,9999999)) ?>";
    var card_holder_name_id = $('#razorpay_name').val();
    var type = $('#razorpay_type').val();
    var email = $('#razorpay_email').val();
    var phone = $('#razorpay_phone').val();
    //var currency_code_id = "<?php echo($wo['config']['currency']) ?>";
    var currency_code_id = "INR";

    if (!email || !phone || !card_holder_name_id) {
    	$('#razorpay_alert').html("<div class='alert alert-danger'><?php echo($wo['lang']['please_check_details']) ?></div>");
		setTimeout(function () {
			$('#razorpay_alert').html("");
		},3000);
		$('#razorpay_btn').html("<?php echo($wo['lang']['pay']) ?>");
		$('#razorpay_btn').removeAttr('disabled');
		return false;
    }


    var merchant_total = Number($('#razorpay_fund_amount').val()) * 100;
    var fund_id = $('#razorpay_fund_id').val();
    
    var razorpay_options = {
        key: "<?php echo $wo['config']['razorpay_key_id']; ?>",
        amount: merchant_total,
        name: "<?php echo $wo['config']['siteName']; ?>",
        description: "Donate",
        image: '<?php echo $wo['config']['theme_url'];?>/img/logo.<?php echo $wo['config']['logo_extension'];?>',
        netbanking: true,
        currency: currency_code_id,
        prefill: {
            name: card_holder_name_id,
            email: email,
            contact: phone
        },
        notes: {
            soolegal_order_id: merchant_order_id,
        },
        handler: function (transaction) {
            jQuery.ajax({
                url:Wo_Ajax_Requests_File() + '?f=razorpay&s=fund',
                type: 'post',
                data: {payment_id: transaction.razorpay_payment_id, order_id: merchant_order_id, card_holder_name_id: card_holder_name_id,  merchant_amount: merchant_total, currency: currency_code_id, type: 'fund', fund_id: fund_id}, 
                dataType: 'json',
                success: function (data) {
                	if (data.status == 200) {
                		window.location = data.url;
                	}
                	else{
                		if (data.url != '') {
                			window.location = data.url;
                		}
                		else{
                			$('#razorpay_alert').html("<div class='alert alert-danger'>"+data.message+"</div>");
							setTimeout(function () {
								$('#razorpay_alert').html("");
							},3000);
							$('#razorpay_btn').html("<?php echo($wo['lang']['pay']) ?>");
							$('#razorpay_btn').removeAttr('disabled');

                		}
                	}
                }
            });
        },
        "modal": {
            "ondismiss": function () {
                // code here
            }
        }
    };
    // obj        
    var objrzpv1 = new Razorpay(razorpay_options);
    objrzpv1.open();
    e.preventDefault();
}
<?php } ?>
<?php if ($wo['config']['paysera_payment'] == 'yes' && !empty($wo['config']['paysera_project_id']) && !empty($wo['config']['paysera_sign_password'])) { ?>
	function pay_using_paysera_funding(fund_id,amount) {
		$('.btn-paysera').attr('disabled', true).text("<?php echo $wo["lang"]["please_wait"]?>");
	    $.post(Wo_Ajax_Requests_File() + '?f=paysera&s=get_url', {type:'fund',amount:amount,fund_id:fund_id}, function(data) {
	        if (data.status == 200) {
	            window.location.href = data.url;
	        } else {
	         	$('.btn-paysera').attr('disabled', false).html("Paysera App not set yet.");
	        }
	    });
	}
<?php } ?>


	function pay_using_cashfree_funding(fund_id,amount) {
		$("#cashfree_fund_id").val(fund_id);
		$("#cashfree_fund_amount").val(amount);
		$("#cashfree_wallet_alert").html('');
		$('#fund_payment_donate_modal').modal('hide');
		$('#cashfree_wallet_modal').modal({
	        show: true
	    });
	}

	function SignatureWalletCashfree() {
		$('#cashfree_btn').html("<?php echo($wo['lang']['please_wait']) ?>");
		$('#cashfree_btn').attr('disabled','true');
		type = $('#cashfree_type').val();
		email = $('#cashfree_email').val();
		name = $('#cashfree_name').val();
		phone = $('#cashfree_phone').val();
		amount = $('#cashfree_fund_amount').val();
		fund_id = $('#cashfree_fund_id').val();
		$.post(Wo_Ajax_Requests_File() + '?f=cashfree&s=initialize', {type:'fund',email:email,name:name,phone:phone,amount:amount,fund_id:fund_id}, function(data) {
			if (data.status == 200) {
				$('body').append(data.html);
				document.getElementById("redirectForm").submit();
			} else {
				$('#cashfree_wallet_alert').html("<div class='alert alert-danger'>"+data.message+"</div>");
				setTimeout(function () {
					$('#cashfree_wallet_alert').html("");
				},3000);
			}
			$('#cashfree_btn').html("<?php echo($wo['lang']['pay']) ?>");
			$('#cashfree_btn').removeAttr('disabled');
		});
	}

	function pay_using_funding_paystack(fund_id,amount) {
		$("#paystack_fund_id").val(fund_id);
		$("#paystack_fund_amount").val(amount);
		$("#paystack_fund_alert").html('');
		$('#fund_payment_donate_modal').modal('hide');
		$('#paystack_fund_modal').modal({
	        show: true
	    });
	}

	function InitializeFundPaystack() {
		$('#paystack_btn').html("<?php echo($wo['lang']['please_wait']) ?>");
	    $('#paystack_btn').attr('disabled','true');
		email = $('#paystack_fund_email').val();
		amount = $('#paystack_fund_amount').val();
		fund_id = $('#paystack_fund_id').val();
		$.post(Wo_Ajax_Requests_File() + '?f=paystack&s=initialize', {type:'fund',email:email,amount:amount,fund_id:fund_id}, function(data) {
			if (data.status == 200) {
				window.location.href = data.url;
			} else {
				$('#paystack_fund_alert').html("<div class='alert alert-danger'>"+data.message+"</div>");
				setTimeout(function () {
					$('#paystack_fund_alert').html("");
				},3000);
			}
			$('#paystack_btn').html("<?php echo($wo['lang']['pay']) ?>");
		    $('#paystack_btn').removeAttr('disabled');
		});
	}

	$(document).on('change', '#upload', function(event) {
		let imgPath = $(this)[0].files[0].name;
	    if (typeof(FileReader) != "undefined") {
	        let reader = new FileReader();
	        reader.onload = function(e) {
				$('#receipt_img_preview').attr('src', e.target.result);
	        }
	        reader.readAsDataURL(this.files[0]);
	    }
		$('#bank_transfer_donate_modal').addClass('up_rec_img_ready');
	});
	jQuery(document).ready(function($) {
	  $('#bank_transfer_donate_modal').ajaxForm({
	    url: Wo_Ajax_Requests_File() + '?f=funding&s=bank',
	    beforeSend: function() {
	    $('#bank_transfer_donate_modal').find('.disable_btn').attr('disabled','disabled');
	  },
	  success: function(data) {
	    if (data['status'] == 200) {
	      $("#blog-alert").html('<div class="alert alert-success">'+ data['message'] +'</div>');
	      setTimeout(function () {
	        // window.location = "<?php echo $wo['config']['site_url'];?>";
	        $(".prv-img").html('<div class="thumbnail-rendderer"><div><h4 class="bold"><?php echo $wo['lang']['drop_img_here']; ?></h4><div class="error-text-renderer"></div><div><span><?php echo $wo['lang']['or']; ?></span><p><?php echo $wo['lang']['browse_to_upload']; ?></p></div></div> </div>');
	        $("#blog-alert").html('');
	        $('#configreset').click();

	      },3000)
	    } else if (data['message']) {
	      $("#blog-alert").html('<div class="alert alert-danger">' + data['message'] + '</div>');
	    } 
	    $('#bank_transfer_donate_modal').find('.disable_btn').removeAttr("disabled");
	  }});
	});

// Called when token created successfully.
var successCallback = function(data) {
	console.log(data);
    var myForm = document.getElementById('2checkout_form_donate_wallet');
    $.post(Wo_Ajax_Requests_File() + '?f=funding&s=2checkout', {card_number: $("#card_number").val(),card_cvc: $("#card_cvc").val(),card_month: $("#card_month").val(),card_year: $("#card_year").val(),card_name: $("#card_name").val(),card_address: $("#card_address").val(),card_city: $("#card_city").val(),card_state: $("#card_state").val(),card_zip: $("#card_zip").val(),card_country: $("#card_country").val(),card_email: $("#card_email").val(),card_phone: $("#card_phone").val(),amount: $('#donate_check_amount').val(),fund_id: $('#donate_check_fund_id').val(),token: data.response.token.token}, function(data, textStatus, xhr) {
    	$('#2checkout_btn_wallet').html("<?php echo($wo['lang']['pay']) ?>");
    	$('#2checkout_btn_wallet').attr('disabled');
    	$('#2checkout_btn_wallet').removeAttr('disabled');
    	$('#2checkout_form_donate_wallet').find('.disable_btn').removeAttr("disabled");
    	if (data.status == 200) {
      	 	window.location.href = data.location;
      	} else {
      	 	$('#2checkout_alert_donate_wallet').html("<div class='alert alert-danger'>"+data.error+"</div>");
			setTimeout(function () {
				$('#2checkout_alert_donate_wallet').html("");
			},3000);
      	}
    	/*optional stuff to do after success */
    });
};

// Called when token creation fails.
var errorCallback = function(data) {
	$('#2checkout_btn_wallet').html("<?php echo($wo['lang']['pay']) ?>");
	$('#2checkout_btn_wallet').removeAttr('disabled');
	$('#2checkout_form_donate_wallet').find('.disable_btn').removeAttr("disabled");
    if (data.errorCode === 200) {
        tokenRequest();
    } else {
    	$('#2checkout_alert_donate_wallet').html("<div class='alert alert-danger'>"+data.errorMsg+"</div>");
		setTimeout(function () {
			$('#2checkout_alert_donate_wallet').html("");
		},3000);
    }
};

var tokenRequest = function() {
	$('#card_number').val($('#_number_').val());
	$('#2checkout_btn_wallet').html("<?php echo($wo['lang']['please_wait']) ?>");
	$('#2checkout_btn_wallet').attr('disabled','true');
	if ($("#card_number").val() != '' && $("#card_cvc").val() != '' && $("#card_month").val() != '' && $("#card_year").val() != '' && $("#card_name").val() != '' && $("#card_address").val() != '' && $("#card_city").val() != '' && $("#card_state").val() != '' && $("#card_zip").val() != '' && $("#card_country").val() != 0 && $("#card_email").val() != '' && $("#card_phone").val() != '') {
		$('#2checkout_form_donate_wallet').find('.disable_btn').attr('disabled','disabled');
		// Setup token request arguments
	    var args = {
	        sellerId: "<?php echo($wo['config']['checkout_seller_id']) ?>",
	        publishableKey: "<?php echo($wo['config']['checkout_publishable_key']) ?>",
	        ccNo: $("#card_number").val(),
	        cvv: $("#card_cvc").val(),
	        expMonth: $("#card_month").val(),
	        expYear: $("#card_year").val()
	    };
	    // Make the token request
	    TCO.requestToken(successCallback, errorCallback, args);
	}
	else{
		$('#2checkout_btn_wallet').html("<?php echo($wo['lang']['pay']) ?>");
		$('#2checkout_btn_wallet').removeAttr('disabled');
		$('#2checkout_alert_donate_wallet').html("<div class='alert alert-danger'><?php echo($wo['lang']['please_check_details']) ?></div>");
		setTimeout(function () {
			$('#2checkout_alert_donate_wallet').html("");
		},3000);
	}
};

$(function() {
    // Pull in the public encryption key for our environment
    TCO.loadPubKey("<?php echo($wo['config']['checkout_mode']) ?>");
});
</script>
<script>
// endorse campaign
	function endorseRequest(){
		$(function(){
			$('#endorseForm').ajaxSubmit({
				url: Wo_Ajax_Requests_File() + '?f=funding&s=funding_endorse',
				beforeSend: function() {
					$('#endorseBtn').attr('disabled','disabled');
				},
				success: function(data) {
					if (data['status'] == 200) {
					$("#show-alert").html('<div class="alert alert-success">'+ data['message'] +'</div>');
						setTimeout(function () {
				// window.location = "<?php echo $wo['config']['site_url'];?>";
						$("#show-alert").html('');
					},10000)
					} else if (data['message']) {
						$("#blog-alert").html('<div class="alert alert-danger">' + data['message'] + '</div>');
					} 
					$('#endorseBtn').removeAttr("disabled");
				}
			});
		});
	}
	//  report campiagn
	function reportRequest(){
		$(function(){
			$('#report_campaign').modal('show');
		});
	}

	function Wo_ReportCampaign(id = false,report = true){
		var report_text = $("#report-campaign-text-<?php echo $wo['user']['id']; ?>").val();
		if (!id) {return false;}
		else if(report == true){
		if (!report_text) {
			return false;}  
		}
		$('#pull-right').find('.disable_btn').attr('disabled','disabled');
		$.ajax({
			url: Wo_Ajax_Requests_File() + '?f=reports&s=report_campaign',
			type: 'POST',
			dataType: 'json',
			data: {text:report_text,fund_id:id},
		})
		.done(function(data) {
			console.log("data",data);
			if(data.status == 200 && data.code == 0){
				// $("#report_campaign").modal('hide');
				alert('report canceled');
				// $('#report_status').replaceWith('\
				// 	<li id="report_status">\
				// 		<a class="pointer" onclick="$(\'#report_profile\').modal(\'show\');"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" class="hover_path" d="M16.218 2.5l5.683 5.682v8.036l-5.683 5.683H8.182l-5.683-5.683V8.182l5.683-5.683h8.036zM11 15v2h2v-2h-2zm0-8v6h2V7h-2z"></path><path fill="currentColor" d="M15.936 2.5L21.5 8.067v7.87L15.936 21.5h-7.87L2.5 15.936v-7.87L8.066 2.5h7.87zm-.829 2H8.894L4.501 8.895v6.213l4.393 4.394h6.213l4.394-4.394V8.894l-4.394-4.393zM11 15h2v2h-2v-2zm0-8h2v6h-2V7z"></path></svg>\
				// 		<?php echo $wo['lang']['report_user']; ?></a>\
				// 	</li>');
				location.reload();

			}
			else if (data.status == 200 && data.code == 1) {
				alert('Campaign is Reported');
				$("#report-campaign-text-<?php echo $wo['user']['id']; ?>").val('');
				$("#report_campaign").modal('hide');
				// $('#report_status').replaceWith('\
				// 	<li id="report_status">\
				// 		<a class="pointer" onclick="Wo_ReportProfile(<?php echo $wo['user_profile']['id']; ?>,false);"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" class="hover_path" d="M16.218 2.5l5.683 5.682v8.036l-5.683 5.683H8.182l-5.683-5.683V8.182l5.683-5.683h8.036zM11 15v2h2v-2h-2zm0-8v6h2V7h-2z"></path><path fill="currentColor" d="M15.936 2.5L21.5 8.067v7.87L15.936 21.5h-7.87L2.5 15.936v-7.87L8.066 2.5h7.87zm-.829 2H8.894L4.501 8.895v6.213l4.393 4.394h6.213l4.394-4.394V8.894l-4.394-4.393zM11 15h2v2h-2v-2zm0-8h2v6h-2V7z"></path></svg>\
				// 		<?php echo $wo['lang']['unreport']; ?></a>\
				// 	</li>');
				location.reload();

			}
			$('#pull-right').find('.disable_btn').removeAttr("disabled");
		})
		.fail(function() {
			console.log("error");
		})
	}


</script>
<script>
$(document).keydown(function(e) {
    if (e.keyCode == 27) {
        Wo_CloseLightbox();
    }
    $(".lighbox.textarea").triggeredAutocomplete({
       hidden: '#hidden_inputbox_comment_lighbox',
       source: Wo_Ajax_Requests_File() + "?f=mention",
       trigger: "@" 
    });
});

function setDonationValue(value){
		var oldValue = 0;
		if(parseInt($('#fund_donate_amount').val())){
			var oldValue = parseInt($('#fund_donate_amount').val());
		}
		var value = parseInt(value);
		var newValue = oldValue+value;
		$('#fund_donate_amount').val(newValue);
		$('#bank_donate_price').val(newValue);

		$('#fund_donate_amount').focus();

	}


function zoomin(id){
	var myImg = document.getElementById("wo_zoom_<?php echo $wo['story']['id'];?>");
	$(myImg).addClass("double_zoom");
	$('#draggableHelper').draggable({ cursor: "move", revert: true, disabled: false });
}
function zoomout(id){
	var myImg = document.getElementById("wo_zoom_<?php echo $wo['story']['id'];?>");
	$(myImg).removeClass("double_zoom");
	$('#draggableHelper').draggable({ disabled: true, revert: true });
}

var angle = 0;
function rotate(id){
	angle += 90;
	$('#wo_zoom_<?php echo $wo['story']['id'];?>').css({'transform': 'rotate(-' + angle + 'deg)'});
	$.get(Wo_Ajax_Requests_File(), {
		f: 'rotate_image',
		angle: angle,
		image: '<?php echo $wo['story']['id'];?>'
	}, function (data) {
		
	});
}
</script>